<div class="admin-main-con">
  <div class='col-xs-12'>
    <h2>Dashboard</h2>
    <div class="admin_content_body">
      <%= link_to "/admin/purchased_seat/#{Date.today.to_s}" do %>
          <div class='col-xs-4 text-center cd'>
            <div class="panel panel-default">
              <div class="panel-body"> <%= Date.today.strftime('%d %b %Y') %> </div>
            </div>
          </div>
          <div class="clearfix"></div>
      <%end%>
    </div>
  </div>
  <div class="clearfix"></div>
</div>