<div class='col-xs-12'>
	<%= link_to "/admin/paid_seat/#{@current_date.to_date.to_s}" do %>
		<div class='col-xs-4 text-center cd'>
			<div class="panel panel-default">
		    <div class="panel-body"><%="#{@current_date.strftime('%b')} #{@current_date.strftime('%d')} #{@current_date.strftime('%Y')}" %></div>
		  </div>
		</div>
	<%end%>
</div>