<%= simple_form_for [:admin, @airport_category] do |f| %>
    <div class='col-xs-6'>
      <%= f.error_notification %>
      <%= f.input :name %>
    </div>
    <div class="col-sm-6">

    </div>
    <div class='col-xs-12'>
      <%= f.submit 'Save', class: 'btn btn-success' %>
    </div>
<%- end %>