<table class="row">
  <tr>
    <td class="wrapper last">
      <table class="twelve columns">
        <tr>
          <td class="text-pad">
            <h2>Hi <%= @contact.first_name %></h2>
          </td>
          <td class="expander"></td>
        </tr>
      </table>
    </td>
  </tr>
</table>
<table class="row">
  <tr>
    <td class="wrapper last">
      <table class="twelve columns">
        <tr>
          <td class="text-pad panel">
            <p>Thanks for buying seats on our Jetsteal service (provided by JetSetGo).</p>
          </td>
          <td class="expander"></td>
        </tr>
      </table>
    </td>
  </tr>
</table>