<table class="row">
  <tr>
    <td class="wrapper last">
      <table class="twelve columns">
        <tr>
          <td class="text-pad">
            <h6>Dear <%= @contact.first_name.capitalize %></h6>
            <p>Thank you for buying <%= @jetsteal_seats.count %> seat(s) on JetSetGo.</p>
            <p>For any assistance, please feel free to contact us on +91-11-39585858 or info@jetsetgo.in</p>
            <p>
              Happy landings,
              <br>
              Monika from JetSetGo
            </p>
          </td>
          <td class="expander"></td>
        </tr>
      </table>
    </td>
  </tr>
</table>