<div class="row" ng-controller="AircraftUnavailabilitiesController as ctrl">
  <div class="col-sm-12 unavailabilities-content-main">
    <h3 class="main-heading a_u_ logo_list">
      <!-- <i class="organisation-main-icon unavailibility-icon"></i> -->
      Aircraft Unavailabilities
    </h3>
    <div class="row">
      <div class="col-sm-8">
        <div ui-calendar="ctrl.calendarConfig.calendar" ng-model="ctrl.eventsSources"></div>
      </div>
      <div class="col-sm-4 animated" id="unavailability_card">
        <!--<i ng-click="ctrl.hideCard()" style="position: absolute;font-size: 25px;margin-left: -18px;margin-top: -19px;cursor: pointer" class="fa fa-times-circle-o hvr-grow-rotate"></i>-->
        <fieldset ng-show="ctrl.selectedEvent">
          <div class="right-unavailability-con">
            <h3>{{ctrl.selectedEvent.title}}</h3>
            <!---->
            <form class="col-xs-12" ng-submit="ctrl.update()">
              <!--<div class="field margin-top">-->
              <!--<label for="aircraft_id">Aircraft</label>-->
              <!--<select id="aircraft_id" ng-model="ctrl.a_u.aircraft_id" ng-options="aircraft.id as aircraft.tail_number for aircraft in ctrl.aircrafts" class="form-control"></select>-->
              <!--</div>-->
              <div class="field margin-top">
                <label for="start_at">Start At</label>
                <div class="dropdown">
                  <span>{{ctrl.formattedStartTime}}</span>
                </div>
                <!--<input type="datetime" class="form-control" id="start_at" ng-model="ctrl.a_u.start_at">-->
              </div>
              <div class="field margin-top">
                <label for="end_at">End At</label>
                <div class="dropdown">
                  <span>{{ctrl.formattedEndTime}}</span>
                </div>
                <!--<input type="datetime" class="form-control" id="end_at" ng-model="ctrl.a_u.end_at">-->
              </div>
              <div class="field margin-top">
                <label for="reason">Reason</label>
                <textarea id="reason" class="form-control" rows="2" ng-model="ctrl.a_u.reason"></textarea>
              </div>
              <% if current_user.can_delete_unavailability? %>
                  <div class="field margin-top">
                    <div class="col-sm-6 col-xs-12 button-con no-padding">
                      <a href="" ng-click="ctrl.delete()" class="btn btn-danger delete-btn" >Delete Unavailability</a>
                    </div>
                  </div>
              <% end %>
            </form>
            <div class="clearfix"></div>
          </div>
        </fieldset>
      </div>
    </div>
  </div>
</div>