<div class="row" ng-controller="AircraftUnavailabilitiesController as ctrl">
  <div class="col-sm-2">
    <%= render partial: 'organisations/shared/sidebar' %>
  </div>
  <div class="col-sm-10">
    <ul class="list-inline">
      <li><%= link_to 'Add Unavailability', new_organisations_aircraft_unavailability_path, class: 'btn btn-primary' %></li>
    </ul>
    <div class="row">
      <div class="col-sm-8">
        <div id="unavailabilities_calendar"></div>
      </div>
      <div class="col-sm-4"></div>
    </div>
  </div>
</div>