<div class="row" ng-controller="AircraftUnavailabilitiesController as ctrl">
  <div class="col-sm-2">
    <%= render partial: 'organisations/shared/sidebar' %>
  </div>
  <div class="col-sm-10">
    <ul class="list-inline">
      <li><%= link_to 'Add Unavailability', new_organisations_aircraft_unavailability_path, class: 'btn btn-primary' %></li>
    </ul>
    <div class="row">
      <div class="col-sm-8">
        <div ui-calendar="ctrl.calendarConfig.calendar" ng-model="ctrl.eventsSources"></div>
      </div>
      <div class="col-sm-4 animated" id="unavailability_card">
        <i ng-click="ctrl.hideCard()" style="position: absolute;
            font-size: 25px;
            margin-left: -18px;
            margin-top: -19px;cursor: pointer" class="fa fa-times-circle-o"></i>
        <fieldset ng-show="ctrl.selectedEvent">
          <legend>{{ctrl.selectedEvent.title}}</legend>
          <!---->
          <form ng-submit="ctrl.update()">
            <!--<div class="field margin-top">-->
              <!--<label for="aircraft_id">Aircraft</label>-->
              <!--<select id="aircraft_id" ng-model="ctrl.a_u.aircraft_id" ng-options="aircraft.id as aircraft.tail_number for aircraft in ctrl.aircrafts" class="form-control"></select>-->
            <!--</div>-->
            <div class="field margin-top">
              <label for="start_at">Start At</label>
              <div class="dropdown">
                <a role="button" data-toggle="dropdown" data-target="#" id="start_at" href="Javascript:void(0)"><i class="fa fa-calendar"></i></a> <span>{{ctrl.formattedStartTime}}</span>
                <ul class="dropdown-menu" role="menu">
                  <datetimepicker datetimepicker-config="{ dropdownSelector: '#start_at' }" ng-model="ctrl.a_u.start_at"></datetimepicker>
                </ul>
              </div>
              <!--<input type="datetime" class="form-control" id="start_at" ng-model="ctrl.a_u.start_at">-->
            </div>
            <div class="field margin-top">
              <label for="end_at">End At</label>
              <div class="dropdown">
                <a role="button" data-toggle="dropdown" data-target="#" id="end_at" href="Javascript:void(0)"><i class="fa fa-calendar"></i></a> <span>{{ctrl.formattedEndTime}}</span>
                <ul class="dropdown-menu" role="menu">
                  <datetimepicker datetimepicker-config="{ dropdownSelector: '#end_at' }" ng-model="ctrl.a_u.end_at"></datetimepicker>
                </ul>
              </div>
              <!--<input type="datetime" class="form-control" id="end_at" ng-model="ctrl.a_u.end_at">-->
            </div>
            <div class="field margin-top">
              <label for="reason">Reason</label>
              <textarea id="reason" class="form-control" rows="2" ng-model="ctrl.a_u.reason"></textarea>
            </div>
            <div class="field margin-top">
              <input type="submit" value="Save changes" class="btn btn-primary">
              <a href="" ng-click="ctrl.delete()" class="btn btn-danger" >Delete Unavailability</a>
            </div>
          </form>
          <!---->
        </fieldset>
      </div>
    </div>
  </div>
</div>