<div class="add-form-main">
  <i class="fa fa-times cross" ng-click="$close()"></i>
  <h2>New unavailability</h2>
  <div class="col-sm-12 col-xs-12">
    <form ng-submit="ctrl.create()">
      <div class="field margin-top">
        <label for="aircraft_id">Aircraft</label>
        <select id="aircraft_id" ng-model="ctrl.a_u.aircraft_id" ng-options="aircraft.id as aircraft.tail_number for aircraft in ctrl.aircrafts" class="form-control"></select>
      </div>
      <div class="row">
        <div class="col-sm-6 col-xs-12 field margin-top">
          <label for="start_at">Start At</label>
          <div class="dropdown">
            <a role="button" data-toggle="dropdown" data-target="#" id="start_at" href="Javascript:void(0)"><i class="fa fa-calendar"></i> <b>{{ctrl.formatTime(ctrl.a_u.start_at)}}</b></a>
            <ul class="dropdown-menu" role="menu">
              <datetimepicker datetimepicker-config="{ dropdownSelector: '#start_at' }" ng-model="ctrl.a_u.start_at"></datetimepicker>
            </ul>
          </div>
        </div>
        <div class="col-sm-6 col-xs-12 field margin-top">
          <label for="end_at">End At</label>
          <div class="dropdown">
            <a role="button" data-toggle="dropdown" data-target="#" id="end_at" href="Javascript:void(0)"><i class="fa fa-calendar"></i> <b>{{ctrl.formatTime(ctrl.a_u.end_at)}}</b></a>  <!-- formatTime -->
            <ul class="dropdown-menu" role="menu">
              <datetimepicker datetimepicker-config="{ dropdownSelector: '#end_at' }" ng-model="ctrl.a_u.end_at"></datetimepicker>
            </ul>
          </div>
        </div>
      </div>
      <div class="field margin-top">
        <label for="reason">Reason</label>
        <textarea id="reason" class="form-control" rows="2" ng-model="ctrl.a_u.reason"></textarea>
      </div>
      <div class="field margin-top">
        <input type="submit" class="btn btn-primary savebutton">
      </div>
    </form>
  </div>
  <div class="clearfix"></div>
</div>