<!--Detail Start-->
<div ng-init="ctrl.cost_with_commission_in_percentage(result, result.aircraft)" class="empty-leg-toogle-main" ng-show="result.custom">
  <div class="" ng-class="!result.enquired ? 'arrow-up' : 'arrow-up2'"></div>
  <div class="" ng-class="!result.enquired ? 'white-arrow-up' : 'white-arrow-up2'"></div>
  <div class="top-destination-con">
    <!--<div class="col-xs-12 text-right">-->
      <!--<i class="fa fa-times-circle-o cross-icon" ng-click="result.custom = !result.custom"></i>-->
    <!--</div>-->
    <!--ng-hide="flight_plan.flight_type == 'empty_leg' && !custom3"-->
    <uib-tabset class="search-detail-tabs" active="active">
      <uib-tab index="0" heading="Flight Detail">
        <div ng-repeat="flight_plan in result.flight_plan" class="destination-main-con" ng-class="flight_plan.flight_type == 'empty_leg' ? 'empty_leg_bg' : ''">
          <div class="destination-con col-sm-2 text-center">
            <p class="time-con">{{ctrl.formatTime2(flight_plan.start_at).split(',')[1]}}</p>
            <p class="date-con">{{ctrl.formatTime(flight_plan.start_at).split(',')[0]}}</p>
          </div>
          <div class="destination-con col-sm-2 text-center">
            <p>
              <img width="30" class="img-responsive" src="" ng-src="{{flight_plan.flight_type == 'empty_leg' ? 'http://d3tfanr7troppj.cloudfront.net/static_files/images/000/000/403/original/emptyleg-departure.png?1468581680' : 'http://d3tfanr7troppj.cloudfront.net/static_files/images/000/000/464/original/arrival.png?1470057654'}}" alt="">
            </p>
            <p class="city-name">{{ctrl.airportForId(flight_plan.departure_airport_id).city.name}}</p>
          </div>
          <div class="destination-con col-sm-4 hidden-xs text-center">
            <p>
              <img width="35" class="img-responsive" src="http://d3tfanr7troppj.cloudfront.net/static_files/images/000/000/406/original/time.png?1468581764" alt="">
            </p>
            <p class="time-duration">{{(flight_plan.flight_time).split(':')[0]}} Hrs {{(flight_plan.flight_time).split(':')[1]}} Mins</p>
            <p class="empty-leg-option">{{flight_plan.flight_type == 'empty_leg' ? (flight_plan.departure_airport_id == result.aircraft.base_airport.id ? 'Positioning' : (flight_plan.arrival_airport_id == result.aircraft.base_airport.id ? 'Re - Positioning' :'Empty Leg') ) : ''}}</p>
          </div>
          <div class="destination-con col-sm-2 text-center">
            <p>
              <img width="30" class="img-responsive" src="" ng-src="{{flight_plan.flight_type == 'empty_leg' ? 'http://d3tfanr7troppj.cloudfront.net/static_files/images/000/000/400/original/arrival.png?1468581622' : 'http://d3tfanr7troppj.cloudfront.net/static_files/images/000/000/465/original/destination.png?1470057672'}}" alt="">
            </p>
            <p class="city-name">{{ctrl.airportForId(flight_plan.arrival_airport_id).city.name}}</p>
          </div>
          <div class="destination-con col-sm-2 text-center">
            <p class="time-con">{{ctrl.formatTime2(flight_plan.end_at).split(',')[1]}}</p>
            <p class="date-con">{{ctrl.formatTime(flight_plan.end_at).split(',')[0]}}</p>
          </div>
          <div class="clearfix"></div>
        </div>
        <div class="detail-link-con">
          <div class="col-xs-12">
            <a class="click-btn" href="javascript:void(0)" ng-click="ctrl.previewProForma(result, $index+1)">Download Pro forma Invoice</a>
          </div>
          <div class="clearfix"></div>
        </div>
      </uib-tab>
      <uib-tab index="1" heading="Cost Detail">
        <div class="img-total-cost-con">
          <div class="col-md-4 col-sm-6">
            <div class="aircraft-img">
              <!--<img src="http://d3tfanr7troppj.cloudfront.net/static_files/images/000/000/412/original/steal_bg-1.png?1468906261" alt="">-->
              <img class="" ng-src="{{result.aircraft.interior_image_size_400}}" alt="">
            </div>
          </div>
          <div class="col-md-8 col-sm-6">
            <div class="flight-cost-con">
              <div class="cost-con">
                <div class="row">
                  <div class="col-xs-7">
                    <p>Flight Cost @ (₹ {{ctrl.include_commission(result.aircraft.per_hour_cost) | currency:"":0 | indianCurrency}} per hour) for {{ctrl.total_customer_flight_plan_time(result)}}</p>
                  </div>
                  <div class="col-xs-5 text-right">
                    <p>₹ {{ result.total_flight_cost | currency:"":2 | indianCurrency }}</p>
                  </div>
                </div>
              </div>
              <div class="cost-con">
                <div class="row">
                  <div class="col-xs-7">
                    <p>Handling Charges</p>
                  </div>
                  <div class="col-xs-5">
                    <p class="text-right">₹ {{result.total_handling_cost | currency:"":2 | indianCurrency}}</p>
                  </div>
                </div>
              </div>
              <div class="cost-con" ng-if="result.set_accomodation">
                <div class="row">
                  <div class="col-xs-7">
                    <p>Crew Accommodation Cost</p>
                  </div>
                  <div class="col-xs-5 text-right" >
                    <p>₹ {{ result.total_accommodation_cost | currency:"":2 | indianCurrency }}</p>
                  </div>
                </div>
              </div>
              <div class="cost-con" ng-show="result.set_watch_hour">
                <div class="row">
                  <div class="col-xs-7">
                    <p>Watch Hours</p>
                  </div>
                  <div class="col-xs-5">
                    <p class="text-right">As per actual</p>
                  </div>
                </div>
              </div>
              <div class="cost-con" ng-show="result.is_miscellaneous_expenses">
                <div class="row">
                  <div class="col-xs-7">
                    <p>Miscellaneous Expenses</p>
                  </div>
                  <div class="col-xs-5">
                    <p class="text-right">₹ {{result.miscellaneous_expenses_amount | currency:"":2 | indianCurrency}}</p>
                  </div>
                </div>
              </div>

              <!--</div>-->
              <div class="cost-con">
                <div class="row">
                  <div class="col-sm-7 ">
                    <p><b>Sub Total</b></p>
                  </div>
                  <div class="col-sm-5 text-right">
                    <p><b>₹ {{result.subTotal | currency:"":2 | indianCurrency}}</b></p>
                  </div>
                </div>
              </div>
              <div class="cost-con" ng-repeat="tax in result.taxBreakup">
                <div class="row">
                  <div class="col-xs-7">
                    <p>{{tax.name}} ({{tax.value}}%)</p>
                  </div>
                  <div class="col-xs-5">
                    <p class="text-right">₹ {{tax.amount | currency:"":2 | indianCurrency}}</p>
                  </div>
                </div>
              </div>

              <div class="cost-con">
                <div class="row">
                  <div class="col-xs-7">
                    <h5>
                      Grand Total
                      <!--(Including empty legs)-->
                    </h5>
                  </div>
                  <div class="col-xs-5">
                    <h5 class="text-right">
                      ₹ {{result.totalCost | currency:"":0 | indianCurrency}}
                      <!--<span style="font-size: 14px; font-weight: 100">(All inclusive)</span>-->
                    </h5>
                  </div>
                  <div class="col-xs-12">
                    <p class="text-right watch-hour" ng-if="ctrl.airport_break_ups.watch_hour_details.length > 0">
                      *Applicable airport watch hour extension charges, TBC by operator.
                    </p>
                  </div>
                </div>
              </div>
              <div class="detail-link-con">
                <a class="click-btn" href="javascript:void(0)" ng-click="ctrl.previewProForma(result, $index+1)">Download Pro forma Invoice</a>
                <a class="click-btn" href="javascript:void(0)" ng-hide="result.enquired" ng-click="ctrl.enquire(result)">Book Now</a>
              </div>
            </div>
          </div>
          <div class="clearfix"></div>
        </div>
      </uib-tab>
    </uib-tabset>
  </div>
</div>
<!--Detail End-->