<!-- about us section start -->
<div class="inner-banner aboutus-banner">
	<div class="heading">
		<h1>About Us</h1>
	</div>
</div>
<!-- about us section finish -->

<!-- about section start -->
<div class="about-content">
	<div class="col-sm-3 col-xs-12 about-img">
		<img class="zoomIn animated" src="http://d3tfanr7troppj.cloudfront.net/static_files/images/000/000/078/original/craft_interior.png?1457156811" class="img-responsive " />
	</div>
	<div class="col-sm-9 col-xs-12">
		<p>
			At JetSetGo we do not recommend aircraft best suited to our needs (read financials and ease) but aircraft best suited to your needs. We do not present to you scarce availability or artificial demand but market availability as is where is at the same time decreasing the empty flying time you incur on an average charter. 
		</p>
		<p>
			Take the case of Mr. Chowdhary who has been a regular customer of JetSetGo since inception – he belongs to a tier 2 city which has no private jet based out of his home city. Mr. Chowdhary would always contact his broker who would in turn contact another broker who would in turn contact a limited pool of operators who would then charge him to ferry flights to and from his city with layers of intermediary and opportunistic margins. Mr. Chowdhary was recommended JetSetGo and decided to give us a shot. He now gets everything he needs at the click of few buttons, the price transparency he always deserved, choice that never existed before, the ability to sell unutilized sectors providing better value for his travel spends and finally enjoys the true JetSetGo Edge- Superior unraveled flying experience with every aspect of the trip meticulously covered by the JetSetGo team to help Mr. Chowdhary "achieve".
		</p>
	</div>
	<div class="clearfix"></div>
</div>
<!-- about section finish -->

<!-- ceo section start -->
<div class="ceo-section">
<!-- part 1 start -->
	<div class="col-sm-6 col-xs-12 ceo">
		<div class="col-sm-5 col-xs-6">
			<img src="http://d3tfanr7troppj.cloudfront.net/static_files/images/000/000/076/original/ceo_1.png?1457156780" class="img-responsive" />
		</div>
		<div class="col-sm-7 col-xs-6 ceo-name">
			<h3>Kanika Tekriwal</h3>
			<p>Co-Founder & Chief Executive Officer</p>
		</div>
		<div class="col-xs-12 ceo-content">
			<p>
				A fighter all the way, she claims to have jet fuel running through her veins while breathing and eating planes. A relentless pursuer of hope filled with ever optimism, her focus is on bringing the luxury back into business aviation and the experience back into life. Having started her career with India Bulls Aviation and working for close to a decade in the industry in both India and UK she is determined to revolutionize the private aviation business in India by systematically leveraging technology and partnerships to address deep-rooted bottlenecks that exist in the industry. Her determination to never give in will help JetSetGo charter new territory.
			</p>
		</div>
		<div class="clearfix"></div>
	</div>
<!-- part 1 finish -->

<!-- part 2 start -->
	<div class="col-sm-6 col-xs-12 ceo">
		<div class="col-sm-5 col-xs-6">
			<img src="http://d3tfanr7troppj.cloudfront.net/static_files/images/000/000/077/original/ceo_2.png?1457156799" class="img-responsive" />
		</div>
		<div class="col-sm-7 col-xs-6 ceo-name">
			<h3>Sudheer Perla</h3>
			<p>Co-Founder & Strategic Advisor</p>
		</div>
		<div class="col-xs-12 ceo-content">
			<p>
				A PwC trained chartered accountant and an Infosys groomed business finance professional, Sudheer also has an MBA from the University of Oxford. Sudheer did a stint at Bangalore International Airport in the early days of the airport being set up under PPP which piqued his interest in aviation. Having spent the last 8 years in investment and restructuring roles for a Dubai listed utility that is majority owned by Mubadala he has completed capital raising and investment transactions in excess of $2.2 billion.
			</p>
		</div>
		<div class="clearfix"></div>
	</div>
<!-- part 2 finish -->
	<div class="clearfix"></div>
</div>
<!-- ceo section finish -->

<!-- invester section start -->
<div class="invester-main-con">
	<div class="col-sm-6 col-xs-12">
		<div class="hvr-rectangle-out invester-col green">
			<div class="col-sm-4 col-xs-5">
				<img src="http://d3tfanr7troppj.cloudfront.net/static_files/images/000/000/079/original/invester1.png?1457156826" class="img-responsive" />
			</div>
			<div class="col-sm-8 col-xs-7 investor-heading">
				<h3>Yuvraj Singh's</h3>
				<h3>Youwecan Ventures</h3>
				<p>Investor</p>
			</div>
			<div class="clearfix"></div>
		</div>
	</div>
	<div class="col-sm-6 col-xs-12">
		<div class="hvr-rectangle-out invester-col dark-blue">
			<div class="col-sm-4 col-xs-5">
				<img src="http://d3tfanr7troppj.cloudfront.net/static_files/images/000/000/080/original/invester2.png?1457156851" class="img-responsive" />
			</div>
			<div class="col-sm-8 col-xs-7 investor-heading">
				<h3>Puneet Dalmia</h3>
				<p>Investor</p>
			</div>
			<div class="clearfix"></div>
		</div>
	</div>
	<div class="col-sm-6 col-xs-12">
		<div class="hvr-rectangle-out invester-col light-blue">
			<div class="col-sm-4 col-xs-5">
				<img src="http://d3tfanr7troppj.cloudfront.net/static_files/images/000/000/074/original/advisor1.png?1457156743" class="img-responsive" />
			</div>
			<div class="col-sm-8 col-xs-7 investor-heading">
				<h3>Karan Singh</h3>
				<h3>Thakral</h3>
				<p>Advisor</p>
			</div>
			<div class="clearfix"></div>
		</div>
	</div>
	<div class="col-sm-6 col-xs-12 ">
		<div class="hvr-rectangle-out invester-col red">
			<div class="col-sm-4 col-xs-5">
				<img src="http://d3tfanr7troppj.cloudfront.net/static_files/images/000/000/075/original/advisor2.png?1457156761" class="img-responsive" />
			</div>
			<div class="col-sm-8 col-xs-7 investor-heading">
				<h3>Jonathan Samner</h3>
				<p>Advisor</p>
			</div>
			<div class="clearfix"></div>
		</div>
	</div>
	<div class="clearfix"></div>
</div>
<!-- invester section finish -->

<!-- our team section start -->
<div class="our-team-section">
	<img src="http://jplapressinistre.ca/wp-content/uploads/2015/04/A_propos_subpage_01_bg_03.png" class="img-responsive" />
</div>
<!-- our team section finish -->