<!-- about us section start -->
<div class="section-heading search_heading">
    <div class="container">
      <img class="img-responsive" src="http://d3tfanr7troppj.cloudfront.net/static_files/images/000/000/633/original/aboutus.png?1471507408" alt="">
    </div>
</div>
<div class="about-banner-con">
	<div class="container">
		<div class="row">
			<div class="col-md-offset-2 col-md-8 col-sm-12 col-xs-12">
				<div class="redefine-con">
					<h4>PRIVATE FLYING RE-DEFINED</h4>
					<p><b>JetSetGo</b>  is an exciting venture that will revolutionize the private aviation business in the region by re-defining the experience for private charter customers through end to end control of the value chain with collaborative partnerships and technology at its core.</p>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="about-content-con">
	<div class="container">
		<div class="about-text">
			<p>
				At <b>JetSetGo</b>, our team is committed to provide unmatched and unparalleled services to our customers. Our priority is to recommend the best suited aircrafts and tailor-made experiences, to cater to your every requirement. We aim to redefine passenger satisfaction, by revolutionising the private aviation business. We stand a class apart and out-rival our competitors through:
			</p>
            <ul>
              <li>End-to-end value chain control</li>
              <li>Unparalleled, personalised inflight services</li>
              <li>The highest aircraft dispatch rate</li>
              <li>Exclusive ground services</li>
              <li>State-of-the-art technology</li>
              <li>A 100% safety track record</li>
            </ul>
			<p>
              With India’s largest private jet fleet at our disposal, JetSetGo guarantees the shortest aircraft wait time for our customers. In the off chance that there is any unscheduled maintenance, we ensure a substitute aircraft at the earliest, while still maintaining the highest levels of safety. In order to provide the smoothest inflight experience, for you, we conduct 29 additional aircraft checks than any other private jet company. When flying with JetSetGo, there is a limited probability of empty flying time over any other average charter - we present real-time market availability (with respect to your location and schedule), without creating any artificial demand.
            </p>
          <p>
            Our commitment and dedication ensures that we always go the extra mile to deliver absolute price transparency, the opportunity to choose the best-suited aircraft like never before, and the possibility to sell un-utilised sectors, to our customers. JetSetGo is the platform that facilitates the ultimate flying experience, right from the booking process up until you land at your destination.
          </p>
		</div>
		<div class="ceo-main-con">
			<h2>Jet Setters</h2>
			<div class="row">
				<div class="col-md-5 col-sm-6 col-xs-12">
					<div class="ceo-detail">
						<img src="http://d3tfanr7troppj.cloudfront.net/static_files/images/000/000/684/original/kanika.png?1471942879" alt="" class="img-responsive" />
						<h5>Kanika Tekriwal</h5>
						<h6>Founder</h6>
						<p>
							A fighter all the way, she claims to have jet fuel running through her veins while breathing and eating planes. A relentless pursuer of hope filled with ever optimism, her focus is on bringing the luxury back into business aviation and the experience back into life. Having started her career with India Bulls Aviation and working for close to a decade in the industry in both India and UK she is determined to revolutionize the private aviation business in India by systematically leveraging technology and partnerships to address deep-rooted bottlenecks that exist in the industry. Her determination to never give in will help JetSetGo charter new territory.
						</p>
					</div>
				</div>
				<div class="col-md-offset-2 col-md-5 col-sm-6 col-xs-12">
					<div class="ceo-detail">
						<img src="http://d3tfanr7troppj.cloudfront.net/static_files/images/000/000/579/original/sudheer.png?1470740528" alt="" class="img-responsive" />
						<h5>Sudheer Perla</h5>
						<h6>Co-Founder</h6>
						<p>
							A PwC trained chartered accountant and an Infosys groomed business finance professional, Sudheer also has an MBA from the University of Oxford. Sudheer did a stint at Bangalore International Airport in the early days of the airport being set up under PPP which piqued his interest in aviation. Having spent the last 8 years in investment and restructuring roles for a Dubai listed utility that is majority owned by Mubadala he has completed capital raising and investment transactions in excess of $2.2 billion.
						</p>
					</div>
				</div>
			</div>
		</div>

		<div class="invester-main-con text-center">
			<h2 class="text-left">Advisors & Investors</h2>
			<div class="investor-con">
				<div class="col-md-3 col-sm-6 col-xs-12">
					<div class="invester">
						<img src="http://d3tfanr7troppj.cloudfront.net/static_files/images/000/000/580/original/yuvraj.png?1470740544" class="img-responsive" alt="" />
						<h5>Yuvraj Singh</h5>
						<h6>Investor</h6>
					</div>
				</div>
				<div class="col-md-3 col-sm-6 col-xs-12">
					<div class="invester">
						<img src="http://d3tfanr7troppj.cloudfront.net/static_files/images/000/000/578/original/puneet.png?1470740512" class="img-responsive" alt="" />
						<h5>Puneet Dalmia</h5>
						<h6>Investor</h6>
					</div>
				</div>
				<div class="col-md-3 col-sm-6 col-xs-12">
					<div class="invester">
						<img src="http://d3tfanr7troppj.cloudfront.net/static_files/images/000/000/686/original/karan.png?1472022783" class="img-responsive" alt="" />
						<h5>Karan Singh Thakral</h5>
						<h6>Advisor</h6>
					</div>
				</div>
				<div class="col-md-3 col-sm-6 col-xs-12">
					<div class="invester">
						<img src="http://d3tfanr7troppj.cloudfront.net/static_files/images/000/000/575/original/john.png?1470740474" class="img-responsive" alt="" />
						<h5>Jonathan Samner</h5>
						<h6>Advisor</h6>
					</div>
				</div>
				<div class="clearfix"></div>
			</div>
		</div>
	</div>
</div>
<!-- about us section finish -->