<br><br><br><br><br><br>

<div ng-controller="BookedJetsController as ctrl">
  <div class="container">
    <div class="col-sm-4">
      <ul>
        <li><a ng-href="profile">My Profile</a></li>
        <li><a href="booked_jets">Booked jets</a></li>
        <li><a href="upcoming_journeys">Upcoming journeys</a></li>
        <li><a href="past_journeys">Past journeys</a></li>
        <li><a href="enquired_jets">Enquired jets</a></li>
        <li><a href="empty_legs_offered">Empty legs Offered</a></li>
        <li><a href="#">Alerts</a></li>
      </ul>
    </div>
    <div class="col-sm-8">
      <div class="heading text-center">
        <h4><span class="heading">Booked jets</span></h4>
      </div>
    </div>
  </div>
</div>