<div class="section-heading search_heading">
  <div class="container">
    <img class="img-responsive" src="http://d3tfanr7troppj.cloudfront.net/static_files/images/000/000/456/original/customerprofile.png?1470053679" alt="">
  </div>
</div>
<div class="profile-detail-main">
  <div class="container">
    <div class="profile-main">
      <div class="row">
        <div class="col-md-3">
          <div class="profile-image">
            <img src="http://d3tfanr7troppj.cloudfront.net/static_files/images/000/000/443/original/puneet.png?1470035280" class="p_img" ng-src="{{ctrl.currentUser.image}}" alt="" />
          </div>
        </div>
        <div class="col-md-9">
          <div class="user-info">
            <h2 class="name-text">{{ctrl.currentUser.full_name}}</h2>
            <ul class="user-detail">
              <!-- <li>
                <i class="fa fa-bell
                notication-icon" aria-hidden="true"></i>
                <h4>2</h4>
                <p>Notication</p>
              </li> -->
              <li>
                <a ng-href="/enquired_jets">
                  <h4>{{ctrl.enquired_jets.length}}</h4>
                  <p>Enquired Bookings</p>
                </a>
              </li>
              <li>
                <a ng-href="/booked_jets">
                  <h4>{{ctrl.booked_jets.length}}</h4>
                  <p>Confirmed Bookings</p>
                </a>
              </li>
              <li>
                <a ng-href="/quotes">
                  <h4>{{ctrl.quotes.length}}</h4>
                  <p>Quoted Bookings</p>
                </a>
              </li>
              <li>
                <a ng-href="javascript:void(0)">
                  <h4>{{ctrl.count_empty_legs(ctrl.trips)}}</h4>
                  <p>EmptyLegs</p>
                </a>
              </li>
              <div class="clearfix"></div>
            </ul>
            <!--<a class="edit-icon" href="javascript:void(0)">-->
            <!--<img height="15" src="http://d3tfanr7troppj.cloudfront.net/static_files/images/000/000/444/original/edit_icon.png?1470035299"> EDIT-->
            <!--</a>-->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="enquired-booking-main">
  <div class="container">
    <h2 class="heading">Confirmed Booking</h2>

    <table border="0" width="100%">
      <tr ng-repeat="trip in ctrl.booked_jets">
        <td>
          <table class="table" width="100%">
            <tr class="info">
              <th>Booking No</th>
              <th>Aircraft Name</th>
              <th>Departure Date</th>
            </tr>
            <tr>
              <td class="info-detail">Trip#{{trip.id}}</td>
              <td class="info-detail">{{trip.activities[0].aircraft.name}}</td>
              <td class="info-detail">{{ctrl.get_departure_date(trip)}}</td>
            </tr>
            <tr>
              <td colspan="3" style="padding: 0">
                <table class="booking-detail">
                  <tr>
                    <td>
                      <div class="row">
                        <div class="col-sm-8 no-padding-right">
                          <div class="booking-img">
                            <img src="" class="img-responsive" ng-src="{{trip.activities[0].aircraft.exterior_image}}">
                          </div>
                        </div>
                        <div class="col-sm-4 no-padding-left">
                          <div class="img-bg">
                            <div class="gap"></div>
                            <h4>₹ {{trip.grandTotal | currency:"":0 | indianCurrency}} <span>Estimated Price</span></h4>
                            <div class="detail-link-con">
                              <a href="/detail/{{trip.id}}">Details</a>
                            </div>
                          </div>
                        </div>
                      </div>
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
          </table>
        </td>
      </tr>
    </table>
  </div>
</div>




<!--<br><br><br><br><br><br>-->

<!--<div>-->
  <!--<div class="container">-->
    <!--<div class="col-sm-4">-->
      <!--<ul>-->
        <!--<li><a ng-href="profile">My Profile</a></li>-->
        <!--<li><a href="booked_jets">Booked jets</a></li>-->
        <!--<li><a href="upcoming_journeys">Upcoming journeys</a></li>-->
        <!--<li><a href="past_journeys">Past journeys</a></li>-->
        <!--<li><a href="enquired_jets">Enquired jets</a></li>-->
        <!--<li><a href="offers">Offers</a></li>-->
        <!--<li><a href="quotes">Trip Quotes</a></li>-->
      <!--</ul>-->
    <!--</div>-->
    <!--<div class="col-sm-8">-->
      <!--<div class="heading text-center">-->
        <!--<h4><span class="heading">Booked jets</span></h4>-->
      <!--</div>-->
      <!--<table class="table table-striped">-->
        <!--<thead>-->
        <!--<tr class="info">-->
          <!--<th>Id</th>-->
          <!--<th>Aircraft name</th>-->
          <!--<th></th>-->
          <!--&lt;!&ndash;<th>Total Cost</th>&ndash;&gt;-->
        <!--</tr>-->
        <!--</thead>-->
        <!--<tbody>-->
        <!--<tr ng-repeat="booked_jet in ctrl.booked_jets">-->
          <!--<td>{{ booked_jet.id }}</td>-->
          <!--<td>{{ booked_jet.activities[0].aircraft.name }}</td>-->
          <!--&lt;!&ndash;<td><%#= trip.activities.first.grand_total %></td>&ndash;&gt;-->
          <!--&lt;!&ndash;<td><%#= link_to 'Delete','#' %></td>&ndash;&gt;-->
          <!--<td>-->
            <!--<a ng-href="/detail/{{booked_jet.id}}">View Details</a>-->
            <!--<a ng-href="/passenger_details/{{booked_jet.id}}">Passenger details</a>-->
          <!--</td>-->
        <!--</tr>-->
        <!--<hr>-->
        <!--</tbody>-->
      <!--</table>-->
    <!--</div>-->
  <!--</div>-->
<!--</div>-->