<!-- contactus banner section start -->
<div class="inner-banner contactus-banner">
  <div class="heading">
    <h1><span class="heading">Contact Us</span></h1>
  </div>
  <div class="banner-content">
    <p>Our Professional Team will be glad to assist you. Please feel free to contact us. To get more info call +91-11-39585858 or send e-mail to info@jetsetgo.in</p>
  </div>
</div>
<!-- contactus banner section finish -->

<!-- contact us content start -->
<div class="contact-us-content">

  <div class="contact-info-main">
    <div class="container">
      <div class="col-md-5 col-sm-6 col-xs-12 contact-main-form">
        <div class="contact-form zoomIn animated">
          <form ng-submit="ctrl.create()">
            <h2 class="text-center">Enquire Now</h2>
            <label for="name">Name</label>
            <input id="name" type="text" class="contact-text gray-color" ng-model="ctrl.name">
            <label for="email">Email Id</label>
            <input id="email" type="email" class="contact-text gray-color" ng-model="ctrl.email">
            <label for="phone">Phone</label>
            <input id="phone" ng-model="ctrl.phone" type="text" class="contact-text gray-color">
            <label for="message">Message</label>
            <textarea id="message" class="contact-area gray-color" ng-model="ctrl.message"></textarea>
            <input type="submit" value="Send" class="btn submit-btn hvr-rectangle-in text-18">
          </form>
        </div>
      </div>
      <div class="col-md-offset-2 col-md-5 col-sm-6 col-xs-12 address-detail">
        <div class="col-xs-12 address-detail-con address-col">
          <h2 class="">Address</h2>
          <div class="col-sm-2 col-xs-3"><i class="fa fa-building-o contact-icon"></i></div>
          <div class="col-sm-10 col-xs-9">
            <b>JetSetGo Aviation Services Private Limited</b><br/>
              A411, Somdutt Chambers I, <br/>
              Bhikaji Cama Place, New Delhi, 110066 <br/>
              Delhi | Mumbai | Bengaluru | Dubai | New York
          </div>
        </div>
        <div class="col-xs-12 address-detail-con phone-col">
          <h2 class="">Phone</h2>
          <div class="col-sm-2 col-xs-3"><i class="fa fa-mobile contact-icon"></i></div>
          <div class="col-sm-10 col-xs-9">
            <span style="display: inline-block;" class="margin-top">+91-11-39585858</span>
          </div>
        </div>
        <div class="col-xs-12 address-detail-con email-col">
          <h2 class="">Email</h2>
          <div class="col-sm-2 col-xs-3"><i class="fa fa-envelope-o contact-icon"></i></div>
          <div class="col-sm-10 col-xs-9">
            <span style="display: inline-block;" class="margin-top"><a href="mailto:info@jetsetgo.in">info@jetsetgo.in</a></span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- contact us content finish -->