<!-- contactus banner section start -->
<div class="contactus-banner">
	<div class="heading">
		<h1>Contact Us</h1>
	</div>
</div>
<!-- contactus banner section finish -->

<!-- contact us content start -->
<div class="contact-us-content">
	
	<div class="contact-info-main">
		<div class="col-md-7 col-sm-6 col-xs-12 address-detail">
			<h2>Address</h2>
			<p>Lorem Ipsum is simply dummy text of the <br/> 
			printing and typesetting industry. <br/>
			Lorem Ipsum has been the industry's <br/>
			Delhi | Mumbai | Bengaluru | Dubai | New York</p>
		</div>
		<div class="col-md-5 col-sm-6 col-xs-12 contact-main-form">
		<div class="contact-form"></div>
		</div>
	</div>
</div>
<!-- contact us content finish -->