<div class="section-heading search_heading">
  <div class="container">
    <img class="img-responsive" src="http://d3tfanr7troppj.cloudfront.net/static_files/images/000/000/475/original/customerprofile.png?1470121515" alt="">
  </div>
</div>

<div class="profile-detail-main">
  <div class="container">
    <div class="profile-main">
      <div class="row">
        <div class="col-md-3">
          <div class="profile-image">
            <img src="" class="p_img" ng-src="{{ctrl.currentUser.image}}" alt="" />
          </div>
        </div>
        <div class="col-md-9">
          <div class="user-info">
            <h2 class="name-text">{{ctrl.currentUser.full_name}}</h2>
            <ul class="user-detail">
              <!-- <li>
                <i class="fa fa-bell
                notication-icon" aria-hidden="true"></i>
                <h4>2</h4>
                <p>Notication</p>
              </li> -->
              <li>
                <a href="enquired_jets">
                  <h4>{{ctrl.enquired_jets.length}}</h4>
                  <p>Enquired Bookings</p>
                </a>
              </li>
              <li>
                <a href="booked_jets">
                  <h4>{{ctrl.booked_jets.length}}</h4>
                  <p>Confirmed Bookings</p>
                </a>
              </li>
              <li>
                <a href="quotes">
                  <h4>{{ctrl.quotes.length}}</h4>
                  <p>Quoted Bookings</p>
                </a>
              </li>
              <li>
                <a href="javascript:void(0)">
                  <h4>{{ctrl.count_empty_legs(ctrl.trips)}}</h4>
                  <p>EmptyLegs</p>
                </a>
              </li>
              <div class="clearfix"></div>
            </ul>
            <!--<a class="edit-icon" href="javascript:void(0)">-->
            <!--<img height="15" src="http://d3tfanr7troppj.cloudfront.net/static_files/images/000/000/444/original/edit_icon.png?1470035299"> EDIT-->
            <!--</a>-->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="profile-info-main detail-profile">
  <div class="container">
    <h2 class="heading">
      Enquired Booking
    </h2>
    <div class="booking-detail">
      <div class="row">
        <div class="col-md-3 col-sm-4">
          <p>
            <b>Booking ID:</b>
            {{ctrl.trip.status == 'enquiry' ? 'Enquiry#'+ctrl.trip.id:''}}
            {{ctrl.trip.status == 'quoted' ? 'Quote#'+ctrl.trip.id:''}}
            {{ctrl.trip.status == 'confirmed' ? 'Trip#'+ctrl.trip.id:''}}
          </p>

        </div>
        <div class="col-md-3 col-sm-4">
          <p><b>Status:</b> <span>
            {{ctrl.trip.status == 'enquiry' ? 'Pending':''}}
            {{ctrl.trip.status == 'quoted' ? 'Quoted':''}}
            {{ctrl.trip.status == 'confirmed' ? 'Confirmed':''}}
          </span></p>
        </div>
        <div class="clearfix"></div>
      </div>
    </div>
    <div class="customer-detail journey-detail">
      <h3 ng-click="ctrl.journey = !ctrl.journey">
        Journey Details
        <a href="javascript:void(0)" class="pull-right toogle-btn"><i class="fa" ng-class="ctrl.journey ? 'fa-arrow-circle-up' : 'fa-arrow-circle-down'"></i></a>
        <div class="clearfix"></div>
      </h3>
      <!-- && (ctrl.trip.status == 'confirmed' || journey.open) -->
      <div ng-show="ctrl.journey">
        <div class="location-main row" ng-repeat="activity in ctrl.trip.activities" ng-hide="activity.empty_leg">
          <div class="col-md-offset-1 col-md-3">
            <img width="28" src="http://d3tfanr7troppj.cloudfront.net/static_files/images/000/000/464/original/arrival.png?1470057654">
            <p>{{activity.departure_airport.code}} {{activity.start_at.split(',')[1]}}</p>
            <p>{{activity.start_at.split(',')[0]}}</p>
            <p>{{activity.departure_airport.name}}</p>
            <p>{{activity.departure_airport.city.state}}</p>
          </div>
          <div class="col-md-3 text-center">
            <img src="http://d3tfanr7troppj.cloudfront.net/static_files/images/000/000/406/original/time.png?1468581764" alt="">
            <p>{{activity.flight_time}}</p>
            <p>Pax: {{activity.pax}}</p>
          </div>
          <div class="col-md-offset-1 col-md-3">
            <img width="28" src="http://d3tfanr7troppj.cloudfront.net/static_files/images/000/000/465/original/destination.png?1470057672">
            <p>{{activity.arrival_airport.code}} {{activity.end_at.split(',')[1]}}</p>
            <p>{{activity.end_at.split(',')[0]}}</p>
            <p>{{activity.arrival_airport.name}}</p>
            <p>{{activity.arrival_airport.city.state}}</p>
          </div>
          <div class="clearfix"></div>
        </div>
        <!--<div class="lb-detail">-->
          <!--<div class="col-md-offset-1 col-md-5">-->
            <!--<h5>Trip Type</h5>-->
            <!--&lt;!&ndash;<h6>One Way</h6>&ndash;&gt;-->
            <!--<h6>-->
              <!--{{ctrl.trip.activities.length == 1 ? 'One Way' : ''}}-->
              <!--{{ctrl.trip.activities.length == 2 && ctrl.trip.activities[0].departure_airport_id == ctrl.trip.activities[1].arrival_airport_id ? 'Round Trip' : ''}}-->
              <!--{{ctrl.trip.activities.length == 2 && ctrl.trip.activities[0].departure_airport_id != ctrl.trip.activities[1].arrival_airport_id ? 'Two Way' : ''}}-->
              <!--{{ctrl.trip.activities.length > 2 ? 'Multicity' : ''}}-->
            <!--</h6>-->
          <!--</div>-->
          <!--&lt;!&ndash;<div class="col-md-3">&ndash;&gt;-->
          <!--&lt;!&ndash;<h5>Passengers</h5>&ndash;&gt;-->
          <!--&lt;!&ndash;<h6>3</h6>&ndash;&gt;-->
          <!--&lt;!&ndash;</div>&ndash;&gt;-->
          <!--<div class="col-md-offset-2 col-md-3">-->
            <!--<h5>Flight Time</h5>-->
            <!--<h6>{{ctrl.trip.total_flight_time}}</h6>-->
          <!--</div>-->
          <!--<div class="clearfix"></div>-->
        <!--</div>-->
      </div>
    </div>
    <div class="customer-detail flight-detail">
      <h3 ng-click="ctrl.flight = !ctrl.flight">
        Flight Details
        <a href="javascript:void(0)" class="pull-right toogle-btn"><i class="fa" ng-class="ctrl.flight ? 'fa-arrow-circle-up' : 'fa-arrow-circle-down'"></i></a>
        <div class="clearfix"></div>
      </h3>
      <div class="jetdetail-col" ng-show="ctrl.flight">
        <div class="row">
          <div class="col-md-8 no-right-padding">
            <div class="img-con">
              <img src="" ng-src="{{ctrl.trip.activities[0].aircraft.exterior_image}}">
            </div>
          </div>
          <div class="col-md-4 no-left-padding">
            <div class="jet-detail">
              <h2>{{ctrl.trip.activities[0].aircraft.aircraft_type.name}}</h2>
              <h4>{{ctrl.trip.activities[0].aircraft.aircraft_type.aircraft_category_name}}</h4>
              <ul class="jet-list">
                <li><img width="25" src="http://d3tfanr7troppj.cloudfront.net/static_files/images/000/000/467/original/crew.jpg?1470058204" /> {{ctrl.trip.activities[0].aircraft.crew}}</li>
                <li><img width="25" src="http://d3tfanr7troppj.cloudfront.net/static_files/images/000/000/498/original/wifi.JPG?1470137359" /> {{ctrl.trip.activities[0].aircraft.wifi ? 'Available' : 'Not-Available'}}</li>
                <li><img width="25" src="http://d3tfanr7troppj.cloudfront.net/static_files/images/000/000/466/original/baggage.jpg?1470058187" /> {{ctrl.trip.activities[0].aircraft.baggage_capacity_in_kg}} kg</li>
                <li><img width="25" src="http://d3tfanr7troppj.cloudfront.net/static_files/images/000/000/496/original/pax.jpg?1470137326" /> {{ctrl.trip.activities[0].aircraft.seating_capacity}}</li>
                <li><img width="25" src="http://d3tfanr7troppj.cloudfront.net/static_files/images/000/000/497/original/speed.jpg?1470137344" /> {{ctrl.trip.activities[0].aircraft.cruise_speed_in_nm_per_hour}} nm</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="customer-detail cost-detail">
      <h3 ng-click="ctrl.cost =! ctrl.cost">
        Cost Details
        <a href="javascript:void(0)" class="pull-right toogle-btn"><i class="fa" ng-class="ctrl.cost ? 'fa-arrow-circle-up' : 'fa-arrow-circle-down'"></i></a>
        <div class="clearfix"></div>
      </h3>
      <div class="row" ng-show="ctrl.cost">
        <div class="col-sm-6">
          <div class="row">
            <div class="col-sm-6">
              <p>Flight Time</p>
            </div>
            <div class="col-sm-6 text-right">
              <p>{{ctrl.trip.total_flight_time}}</p>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6">
              <p>Flight Cost( <i class="fa fa-rupee"></i> {{ ctrl.include_commission(ctrl.trip.activities[0].aircraft.per_hour_cost) | currency:"":0 | indianCurrency }} per hour)</p>
            </div>
            <div class="col-sm-6 text-right">
              <p><i class="fa fa-rupee"></i> {{ctrl.include_commission(ctrl.trip.total_flight_cost) | currency:"":2 | indianCurrency}}</p>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6">
              <p>Landing Charges</p>
            </div>
            <div class="col-sm-6 text-right">
              <p><i class="fa fa-rupee"></i> {{ctrl.include_commission((ctrl.trip.total_landing_cost)) | currency:"":2 | indianCurrency}}</p>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6">
              <p>Ground Handling Charges</p>
            </div>
            <div class="col-sm-6 text-right">
              <p><i class="fa fa-rupee"></i> {{ctrl.include_commission((ctrl.trip.total_ground_handling_cost)) | currency:"":2 | indianCurrency}}</p>
            </div>
          </div>
          <!--<div class="row">-->
          <!--<div class="col-sm-6">-->
          <!--<p>Crew Accommodation Charges</p>-->
          <!--</div>-->
          <!--<div class="col-sm-6 text-right">-->
          <!--<p>NA</p>-->
          <!--</div>-->
          <!--</div>-->
          <div class="row">
            <div class="col-sm-6">
              <p>Watch Hours</p>
            </div>
            <div class="col-sm-6 text-right">
              <p> {{ ctrl.trip.set_watch_hour ? 'As per actuals' : 'NA' }}</p>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12">
              <h4>Sub Total</h4>
            </div>
          </div>
          <div class="row" ng-repeat="tax in ctrl.trip.taxBreakup">
            <div class="col-sm-6">
              <p>{{tax.name}}({{tax.value}}%)</p>
            </div>
            <div class="col-sm-6 text-right">
              <p><i class="fa fa-rupee"></i> {{tax.amount | currency:"":2 | indianCurrency}}</p>
            </div>
          </div>
          <!--<div class="row">-->
          <!--<div class="col-sm-6">-->
          <!--<p>Swachh Bharat Cess(0.5%)</p>-->
          <!--</div>-->
          <!--<div class="col-sm-6 text-right">-->
          <!--<p><i class="fa fa-rupee"></i> 6,531</p>-->
          <!--</div>-->
          <!--</div>-->
          <!--<div class="row">-->
          <!--<div class="col-sm-6">-->
          <!--<p>Krishi Kalyan Cess(0.5%)</p>-->
          <!--</div>-->
          <!--<div class="col-sm-6 text-right">-->
          <!--<p><i class="fa fa-rupee"></i> 6,531</p>-->
          <!--</div>-->
          <!--</div>-->
          <div class="row">
            <div class="col-xs-6">
              <h5>Total</h5>
            </div>
            <div class="col-xs-6 text-right">
              <h5><i class="fa fa-rupee"></i> {{ctrl.trip.totalCost | currency:"":0 | indianCurrency }}</h5>
              <p>(All Inclusive)</p>
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="top-gap"></div>
          <div class="row">
            <div class="col-xs-6">
              <h5>Booking Deposit</h5>
            </div>
            <div class="col-xs-6 text-right">
              <h5><i class="fa fa-rupee"></i> {{ctrl.trip.totalCost * 0.10 | currency:"":0 | indianCurrency }}</h5>
              <p>(Pay 10% for book flight)</p>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12 text-right">
              <a href="javascript:void(0)" ng-if="ctrl.trip.status == 'quoted'" ng-href="/payment_transactions/create/{{ctrl.trip.id}}/for_quote" target="_self" class="pay-cancel-btn">Pay Now</a>
              <!--<a ng-href="/payment_transactions/create/{{quote.id}}/for_quote" target="_self" href="" class="btn btn-primary"><i class="fa fa-credit-card"></i> Pay & Confirm</a></td>-->
              <!--<a class="pay-cancel-btn" href="javascript:void(0)">Cancel Booking</a>-->
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="customer-detail bank-detail" ng-if="ctrl.trip.status == 'confirmed'">
      <h3 ng-click="ctrl.bank = !ctrl.bank">
        Bank Details
        <a href="javascript:void(0)" class="pull-right toogle-btn"><i class="fa" ng-class="ctrl.bank ? 'fa-arrow-circle-up' : 'fa-arrow-circle-down'"></i></a>
        <div class="clearfix"></div>
        </h3>
      <div ng-show="!ctrl.bank && ctrl.trip.status == 'confirmed'">
        <h4>Bank Transfer Information</h4>
      <div class="row">
        <div class="col-sm-7">
          <div class="row">
            <div class="col-sm-6">
              <p><b>Bank Name:</b> ICICI</p>
            </div>
            <div class="col-sm-6">
              <p><b>MICR CODE:</b> 110229009</p>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6">
              <p><b>Account Payee:</b> Jetsetgo Aviation Services Pvt Ltd</p>
            </div>
            <div class="col-sm-6">
              <p><b>IFCS CODE:</b> ICICI0000071</p>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6">
              <p><b>Branch:</b> H2, Green Park Extention, New Delhi-110016</p>
            </div>
            <div class="col-sm-6">
              <p><b>Account Number:</b> 007105006854</p>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12">
              <p><b>Thank you for choosing to pay via bank transfer.</b> Once your payment is received we will send you another email with the confirmation, along with all the details of your flight.</p>
            </div>
          </div>
        </div>
        <div class="col-sm-5">
          <table class="amount-table">
            <tr>
              <td colspan="2">
                <h5>Payment Summary</h5>
              </td>
            </tr>
            <tr class="border">
              <td>
                <p>Total Amount</p>
              </td>
              <td>
                <p class="text-right"><i class="fa fa-rupee"></i> {{ctrl.trip.totalCost | currency:"":0 | indianCurrency }}</p>
              </td>
            </tr>
            <tr class="border">
              <td>
                <p>Tax</p>
              </td>
              <td>
                <p class="text-right"><i class="fa fa-rupee"></i> {{ctrl.trip.total_tax | currency:"":2 | indianCurrency}}</p>
              </td>
            </tr>
            <tr class="border">
              <td>
                <p>You have paid</p>
              </td>
              <td>
                <p class="text-right"><i class="fa fa-rupee"></i> {{ctrl.trip.totalCost * 0.10 | currency:"":0 | indianCurrency }}</p>
              </td>
            </tr>
            <tr>
              <td>
                <p><b>Balance Payable</b></p>
              </td>
              <td>
                <p class="text-right"><b><i class="fa fa-rupee"></i> {{ctrl.balance_payable(ctrl.trip.totalCost, ctrl.trip.totalCost * 0.10) | currency:"":0 | indianCurrency}}</b></p>
              </td>
            </tr>
          </table>
          <table class="amount-table" style="margin: 20px 0;">
            <tr>
              <td colspan="2">
                <h5>Any Queries?</h5>
              </td>
            </tr>
            <tr>
              <td>
                <img width="18" src="http://d3tfanr7troppj.cloudfront.net/static_files/images/000/000/453/original/call.png?1470047219" /> Call on
              </td>
              <td>
                <p class="text-right">+91-11-39585858</p>
              </td>
            </tr>
            <tr>
              <td>
                <img width="18" src="http://d3tfanr7troppj.cloudfront.net/static_files/images/000/000/455/original/email.png?1470047251" /> Email
              </td>
              <td>
                <p class="text-right">info@jetsetgo.in</p>
              </td>
            </tr>
          </table>
          <div class="clearfix"></div>
        </div>
      </div>
      </div>
    </div>

    
    <div ng-if="ctrl.trip.status == 'confirmed'">
      <div class="row psng-cate-btns">
        <div class="col-sm-6 text-right">
          <a href="javascript:void(0)" ng-click="bar_visible = true">Add passenger details</a>
        </div>
        <div class="col-sm-6">
          <a href="javascript:void(0)" ng-click="catering_visible = true">Add/Edit caterings</a>
        </div>
      </div>
      <div ng-show="catering_visible" class="customer-detail add-passenger">
        <h3 ng-click="ctrl.category = !ctrl.category">
        Add Category
        <a href="javascript:void(0)" class="pull-right toogle-btn"><i class="fa" ng-class="ctrl.category ? 'fa-arrow-circle-up' : 'fa-arrow-circle-down'"></i>
        </a>
        </h3>
        <div class="row" ng-show="!ctrl.category">
          <div class="col-sm-12">
            <h4>Catering:</h4>
            <input type="text" class="txt-forward-email" ng-model="ctrl.catering">
            <a class="btn-send" href="javascript:void(0)" ng-click="ctrl.create_catering()">save</a>
          </div>
        </div>
      </div>
      <div ng-show="bar_visible" class="customer-detail add-passenger">
        <h3 ng-click="ctrl.pax_active = !ctrl.pax_active">
        Add Passenger
        <a href="javascript:void(0)" class="pull-right toogle-btn"><i class="fa" ng-class="ctrl.pax_active ? 'fa-arrow-circle-up' : 'fa-arrow-circle-down'"></i></a>
        </h3>
        <div ng-show="!ctrl.pax_active">
          <div class="row">
            <div class="col-xs-12">
              <h4>Forwarding Email Id <span>(will provide passenger details on my behalf)</span></h4>
              <input type="text" class="txt-forward-email" />
              <input type="submit" class="btn-send" />
            </div>
          </div>
          <div class="seprator-con">
            <div class="col-sm-offset-2 col-sm-8">
              <h4><span>OR</span></h4>
            </div>
            <div class="clearfix"></div>
          </div>
          <div class="row"  ng-repeat="passenger_detail in ctrl.passenger_details_">
            <div class="passenger-repeat">
              <div class="col-md-3">
                <h4>Email Id</h4>
                <input type="text" ng-model="passenger_detail.email" class="txt-email" />
              </div>
              <div class="col-md-3">
                <h4>Phone</h4>
                <input type="text" ng-model="passenger_detail.contact" class="txt-phn" />
              </div>
              <div class="col-xs-12">
                <p class="passenger-text">(your itinerary details will provide passenger details on my behalf)</p>
              </div>
              <div class="col-md-2">
                <h4>Title</h4>
                <input type="text" ng-model="passenger_detail.title" class="txt-textfield" />
              </div>
              <div class="col-md-2">
                <h4>Name</h4>
                <input type="text" ng-model="passenger_detail.name" class="txt-textfield" />
              </div>
              <!--<div class="col-md-2">-->
              <!--<h4>Last Name</h4>-->
              <!--<input type="text" class="txt-textfield" />-->
              <!--</div>-->
              <div class="col-md-2">
                <h4>Gender</h4>
                <input type="text" ng-model="passenger_detail.gender" class="txt-textfield" />
              </div>
              <div class="col-md-2">
                <h4>Nationality</h4>
                <input type="text" ng-model="passenger_detail.nationality" class="txt-textfield" />
              </div>
              <div class="col-md-1">
                <h4>Age</h4>
                <input type="text" ng-model="passenger_detail.age" class="txt-textfield" />
              </div>
              <div class="col-md-3">
                <h4>Upload Passport</h4>
                <input type="file" name="pic" class="txt-upload" accept="image/*">
              </div>
              <a class="cross-btn" href="javascript:void(0)" ng-show="$index > 0" ng-click="ctrl.remove_passenger_detail($index)"><i class="fa fa-times-circle-o" aria-hidden="true"></i></a>
              <div class="clearfix"></div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6 text-right">
              <a href="javascript:void(0)" ng-click="ctrl.add_passenger_detail()" class="btn-detail">Add Traveller Details + </a>
            </div>
            <div class="col-sm-6">
              <!--<div class="btn btn-primary" ng-click="ctrl.create_passenger_detail()">save</div>-->
              <!--<div class="btn btn-primary" ng-click="ctrl.add_passenger_detail()"><i class="fa fa-plus" aria-hidden="true"></i> Add</div>-->
              <a href="javascipt:void(0)" ng-click="ctrl.create_passenger_detail()" class="btn-detail">Save & Continue Booking</a>
            </div>
          </div>
        </div>
      </div>
      <div class="add-passenger-record" ng-show="ctrl.catering.length > 0">
        <table class="table table-striped">
          <thead>
          <tr class="info">
            <th>Catering</th>
          </tr>
          </thead>
          <tbody>
          <tr class="body-row">
            <td>{{ ctrl.catering }}</td>
          </tr>
          </tbody>
        </table>
      </div>
      <div class="add-passenger-record" ng-show="ctrl.passenger_details.length > 0">
        <table class="table table-striped">
          <thead>
          <tr class="info">
            <th>Title</th>
            <th>Name</th>
            <th>Age</th>
            <th>Gender</th>
            <th>Email</th>
            <th>Contact</th>
          </tr>
          </thead>
          <tbody>
          <tr class="body-row" ng-repeat="passenger_detail in ctrl.passenger_details">
            <td>{{ passenger_detail.title }}</td>
            <td>{{ passenger_detail.name }}</td>
            <td>{{ passenger_detail.age }}</td>
            <td>{{ passenger_detail.gender }}</td>
            <td>{{ passenger_detail.email }}</td>
            <td>{{ passenger_detail.contact }}</td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<!--<br><br><br><br><br><br>-->

<!--<div>-->
<!--<div class="container">-->
<!--<div class="col-sm-4">-->
<!--<ul>-->
<!--<li><a ng-href="profile">My Profile</a></li>-->
<!--<li><a href="booked_jets">Booked jets</a></li>-->
<!--<li><a href="upcoming_journeys">Upcoming journeys</a></li>-->
<!--<li><a href="past_journeys">Past journeys</a></li>-->
<!--<li><a href="enquired_jets">Enquired jets</a></li>-->
<!--<li><a href="offers">Offers</a></li>-->
<!--<li><a href="quotes">Trip Quotes</a></li>-->
<!--</ul>-->
<!--</div>-->
<!--<div class="col-sm-8">-->
<!--<div class="heading text-center">-->
<!--<h4><span class="heading">Trip #{{ctrl.trip.id}}</span></h4>-->
<!--</div>-->
<!--<p>Activities</p>-->
<!--<div class="col-sm-12" ng-hide="ctrl.trip.sell_empty_leg">-->
<!--<span>Sell Empty leg?: <input type="checkbox" ng-click="ctrl.set_sell_empty_leg(); ctrl.trip.sell_empty_leg = true" ng-model="ctrl.trip.sell_empty_leg"></span>-->
<!--</div>-->
<!--<table class="table table-striped">-->
<!--<thead>-->
<!--<tr class="info">-->
<!--<th>Departure Airport</th>-->
<!--<th>Arrival Airport</th>-->
<!--<th>Start Date</th>-->
<!--<th>End Date</th>-->
<!--<th></th>-->
<!--</tr>-->
<!--</thead>-->
<!--<tbody>-->
<!--<tr ng-repeat="activity in ctrl.trip.activities">-->
<!--<td>{{ activity.departure_airport.name }}</td>-->
<!--<td>{{ activity.arrival_airport.name }}</td>-->
<!--<td>{{ activity.start_at }}</td>-->
<!--<td>{{ activity.end_at }}</td>-->
<!--<td></td>-->
<!--</tr>-->
<!--<hr>-->
<!--</tbody>-->
<!--</table>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->