<div class="row">
  <div class="col-sm-4"></div>
  <div class="col-xs-12">
    <div class="login-black-bg">
      <a href="#" class="closs-btn" ng-click="$close()"><i class="fa fa-times-circle-o"></i></a>
      <div class="section-heading">
        <div class="middle-heading">
          <img height="100" src="http://d3tfanr7troppj.cloudfront.net/static_files/images/000/000/527/original/enquiry.png?1470381927" alt="" class="img-responsive">
        </div>
      </div>
      <fieldset class="login-register-main">
        <div class="col-xs-12">
          <form ng-submit="ctrl.create()">
            <div class="height"></div>
            <div class="field margin-top">
              <input type="text" id="name" placeholder="Name" class="form-control text-field" style="text-align: left" ng-model="ctrl.enquiry.name" />
              <!-- <i class="fa fa-user form-icon"></i> -->
              <img src="http://d3tfanr7troppj.cloudfront.net/static_files/images/000/000/721/original/loginsm.png?1472549141" class="form-icon">
            </div>
            <div class="field margin-top">
              <input type="email" id="email" placeholder="Email Id" class="form-control text-field" style="text-align: left" n ng-model="ctrl.enquiry.email" />
              <!-- <i class="fa fa-envelope form-icon"></i> -->
              <img src="http://d3tfanr7troppj.cloudfront.net/static_files/images/000/000/726/original/email.png?1472550063" class="form-icon">
            </div>
            <div class="field margin-top">
              <input type="text" id="mobile_no" placeholder="Mobile No." class="form-control text-field" style="text-align: left" n ng-model="ctrl.enquiry.mobile_number" />
              <img src="http://d3tfanr7troppj.cloudfront.net/static_files/images/000/000/723/original/phone_sm.png?1472549169" class="form-icon phn-icon">
              <!-- <i class="fa fa-phone form-icon"></i> -->
            </div>
            <div class="field margin-top">
              <!--<input type="datetime" id="date" placeholder="Date of Travel" class="form-control text-field" n ng-model="ctrl.enquiry.date_of_travel" />-->
              <!--<i class="fa fa-unlock-alt form-icon"></i>-->
              <span class="search-form">
                <div style="width:100%;" class="dropdown datetimepicker-holder search-textfield date-textfield celender-main">
                  <a class="celender-text" role="button" data-toggle="dropdown" ng-class="ctrl.formatTime(ctrl.enquiry.date_of_travel) != 'Click to choose time' ? 'select-celender-text' : ''" data-target="#" href="Javascript:void(0)"> {{ctrl.formatTime(ctrl.enquiry.date_of_travel)}}</a>
                  <!-- <i class="fa fa-calendar form-icon"></i> -->
                  <img src="http://d3tfanr7troppj.cloudfront.net/static_files/images/000/000/724/original/calendar.png?1472549273" class="form-icon phn-icon">
                  <ul class="dropdown-menu" role="menu">
                    <datetimepicker
                    data-on-set-time="ctrl.onSetTime(newDate, oldDate, 0)"
                    data-before-render="ctrl.beforeRenderDate($view, $dates, $leftDate, $upDate, $rightDate, 0)"
                    datetimepicker-config="{ dropdownSelector: '.fa', minView:'minute', minuteStep: 15 }"
                    ng-model="ctrl.enquiry.date_of_travel"></datetimepicker>
                  </ul>
                </div>
              </span>
            </div>
            <div class="field margin-top">
              <!--<input type="text" id="select_package" placeholder="Select Package" class="form-control text-field" n ng-model="ctrl.package" />-->
              <!--<i class="fa fa-unlock-alt form-icon"></i>-->
              <select ng-options="n for n in ctrl.package" id="package" style="padding: 6px 12px 6px 25px !important" class="form-control text-field text-select text-boxes" ng-model="ctrl.enquiry.package">
                <option class="" value="">Select Package</option>
              </select>
            </div>
            <div class="field">
              <!--<input type="submit" value="Send Instructions" class="btn btn-primary proceed-btn margin-top">-->
              <input type="submit" class="btn btn-primary proceed-btn margin-top" value="Enquire">
            </div>
          </form>
        </div>
      </fieldset>
    </div>
  </div>
  <div class="clearfix"></div>
</div>