<div class="login-black-bg forget-bg">
  <a href="#" class="closs-btn" ng-click="$close()"><i class="fa fa-times-circle-o"></i></a>
  <div class="section-heading">
    <div class="middle-heading">
      <img height="100" src="http://d3tfanr7troppj.cloudfront.net/static_files/images/000/000/526/original/forgot-password.png?1470309022" class="img-responsive" alt="">
    </div>
  </div>
  <fieldset class="login-register-main">
    <div class="height"></div>
    <div class="col-xs-12">
      <form ng-submit="ctrl.create()">
        <div class="field margin-top">
          <p class="further-text">
            Enter your e-mail address below and we'll send you password reset instructions.
          </p>
        </div>
        <div class="field margin-top">
          <!-- <label for="email">Email</label> -->
          <input type="email" class="form-control text-field" id="email" ng-model="ctrl.email" placeholder="Email">
          <!-- <i class="fa fa-envelope form-icon"></i> -->
          <img src="http://d3tfanr7troppj.cloudfront.net/static_files/images/000/000/726/original/email.png?1472550063" class="form-icon">
        </div>
        <div class="field">
          <input type="submit" value="Send Instructions" class="btn btn-primary proceed-btn margin-top">
        </div>
      </form>
    </div>
  </fieldset>
</div>
<!-- <div class="forget_pass_main">
  <div class="col-md-3 col-sm-2"></div>
  <div class="col-md-6 col-sm-8 col-xs-12">

  </div>
  <div class="col-sm-4"></div>
  <div class="clearfix"></div>
</div>
 -->