<div class="section-heading search_heading">
  <div class="container">
    <img class="img-responsive" src="http://d3tfanr7troppj.cloudfront.net/static_files/images/000/000/801/original/fleet_header.png?1474449999" alt="">
  </div>
</div>
<div class="fleet_main_con">
  <div class="top_head">
    <div class="container">
      <img class="img-responsive" src="http://d3tfanr7troppj.cloudfront.net/static_files/images/000/000/818/original/subheader_fleet.png?1474619568" alt="">
    </div>
  </div>
  <div class="container">
    <div class="fleet_result_main">
      <h2 class="heading">
        HeliCopter
      </h2>
      <!-- 1 fleet start-->
      <div class="">
        <div class="fleet_result">
          <div class="col-md-8 col-sm-8 col-xs-12 search_img">
            <div class="img-hide">
              <img src="http://d3tfanr7troppj.cloudfront.net/static_files/images/000/000/872/original/bell-412.png?1475483533" alt="">
            </div>
          </div>
          <div class="col-md-4 col-sm-4 col-xs-12 search-ryt-con">
            <div class="img-bg">
              <h3 class="aircraft-type">Bell 412EP</h3>
              <p class="aircraft-content">
                The Bell 412EP is the daily workhorse that reliably performs in some of the most extreme climates around the world every day.
              </p>
              <div class="detail-link-con text-center">
                <a ng-init="aircraft.detail_active1 = false" href="javascript:void(0)" ng-click="aircraft.detail_active1 =! aircraft.detail_active1">Details</a>
              </div>
            </div>
          </div>
          <div class="clearfix"></div>
        </div>
        <!-- detail start-->
        <div ng-show="aircraft.detail_active1" class="fleet-toogle-main">
          <div class="arrow-up"></div>
          <div class="white-arrow-up"></div>
          <i class="fa fa-times-circle-o cross-icon" ng-click="aircraft.detail_active1 =! aircraft.detail_active1"></i>
          <div class="img-content-con">
            <div class="col-md-3 col-sm-5 col-xs-12">
              <div class="aircraft-img text-center">
                <img src="http://d3tfanr7troppj.cloudfront.net/static_files/images/000/000/871/original/bell-412._int.png?1475483511" alt="" class="img-responsive">
              </div>
            </div>
            <div class="col-md-9 col-sm-7 col-xs-12">
              <div class="aircraft-text">
                <p>The Bell 412EP is the daily workhorse that reliably performs in some of the most extreme climates around the world every day. Its expansive cabin provides multi-mission flexibility while its wide opening doors easily accommodate forklift loadings into a spacious cabin.</p>
              </div>
            </div>
            <div class="clearfix"></div>
          </div>
          <div class="interior_map_con">
            <div class="col-md-5 col-sm-6 col-xs-12">
              <div class="interior_aircraft_con">
                <h2>Specifications</h2>
                <div class="row">
                  <div class="col-xs-5 interior_aircraft text-center">
                    <img src="http://d3tfanr7troppj.cloudfront.net/static_files/images/000/000/804/original/bell-412_int.png?1474453824" alt="" class="img-responsive">
                    <!--<img src="http://d3tfanr7troppj.cloudfront.net/static_files/images/000/000/816/original/Cessna-Citation-CJ2_int.png?1474545741" alt="" class="img-responsive">-->
                  </div>
                  <div class="col-xs-7 interior_specification">
                    <div class="spec">
                      <h3>Overall Cabin Length</h3>
                      <p>17 meters</p>
                    </div>
                    <div class="spec">
                      <h3>Cabin Height</h3>
                      <p>3.5 meters</p>
                    </div>
                    <div class="spec">
                      <h3>Cabin Width</h3>
                      <p>2.7 meters</p>
                    </div>
                    <div class="spec">
                      <h3>Baggage Volume</h3>
                      <p>20 ft<sup>3</sup></p>
                    </div>
                    <div class="spec">
                      <h3>Passenger Capacity</h3>
                      <p>8</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-7 col-sm-6 col-xs-12">
              <div class="range_map_con">
                <h2>Range Map</h2>
                <img src="http://d3tfanr7troppj.cloudfront.net/static_files/images/000/000/820/original/Bell-412.png?1474890890" alt="" class="img-responsive">
                <div class="row">
                  <div class="col-md-5 col-sm-6 col-xs-4">
                    <h3>Range in Distance</h3>
                    <p>661 kms</p>
                  </div>
                  <div class="col-md-5 col-sm-6 col-xs-4">
                    <h3>Crew</h3>
                    <p>2</p>
                  </div>
                  <div class="col-md-2 col-sm-6 col-xs-4">
                    <h3>Speed</h3>
                    <p>122 nm/hr</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="clearfix"></div>
          </div>
        </div>
        <!-- detail finish-->
      </div>
      <!-- 1 fleet finish-->
      <!-- 2 fleet start-->
      <div class="">
        <div class="fleet_result">
          <div class="col-md-8 col-sm-8 col-xs-12 search_img">
            <div class="img-hide">
              <img src="http://d3tfanr7troppj.cloudfront.net/static_files/images/000/000/875/original/augustablack.png?1475484536" alt="">
            </div>
          </div>
          <div class="col-md-4 col-sm-4 col-xs-12 search-ryt-con">
            <div class="img-bg">
              <h3 class="aircraft-type">Agusta A109</h3>
              <p class="aircraft-content">
                The Agusta A109 Power is an intermediate executive twin-engine helicopter available for charter, which offers a spacious, unobstructed, long passenger cabin and provides comfortable seating for up to six passengers.
              </p>
              <div class="detail-link-con text-center">
                <a ng-init="aircraft.detail_active2 = false" href="javascript:void(0)" ng-click="aircraft.detail_active2 =! aircraft.detail_active2">Details</a>
              </div>
            </div>
          </div>
          <div class="clearfix"></div>
        </div>
        <!-- detail start-->
        <div ng-show="aircraft.detail_active2" class="fleet-toogle-main">
          <div class="arrow-up"></div>
          <div class="white-arrow-up"></div>
          <i class="fa fa-times-circle-o cross-icon" ng-click="aircraft.detail_active2 =! aircraft.detail_active2"></i>
          <div class="img-content-con">
            <div class="col-md-3 col-sm-5 col-xs-12">
              <div class="aircraft-img text-center">
                <img  src="http://d3tfanr7troppj.cloudfront.net/static_files/images/000/000/876/original/augustablack_int.png?1475484600" alt="" class="img-responsive">
              </div>
            </div>
            <div class="col-md-9 col-sm-7 col-xs-12">
              <div class="aircraft-text">
                <p>The Agusta A109 Power is an intermediate executive twin-engine helicopter available for charter, which offers a spacious, unobstructed, long passenger cabin and provides comfortable seating for up to six passengers. The A109 Power offers an ideal business environment for the transfer of passengers and is considered the ultimate in corporate and executive transport. Equipped with twin engines, the A109 Power provides enhanced safety while being capable of flying in a variety of conditions.</p>
              </div>
            </div>
            <div class="clearfix"></div>
          </div>
          <div class="interior_map_con">
            <div class="col-md-5 col-sm-6 col-xs-12">
              <div class="interior_aircraft_con">
                <h2>Specifications</h2>
                <div class="row">
                  <div class="col-xs-5 interior_aircraft text-center">
                    <img src="http://d3tfanr7troppj.cloudfront.net/static_files/images/000/000/803/original/augusta_int.png?1474453804" alt="" class="img-responsive">
                  </div>
                  <div class="col-xs-7 interior_specification">
                    <div class="spec">
                      <h3>Overall Cabin Length</h3>
                      <p>11.4 meters</p>
                    </div>
                    <div class="spec">
                      <h3>Cabin Height</h3>
                      <p>3.5 meters</p>
                    </div>
                    <div class="spec">
                      <h3>Cabin Width</h3>
                      <p>2.4 meters</p>
                    </div>
                    <div class="spec">
                      <h3>Baggage Volume</h3>
                      <p>2 ft<sup>3</sup></p>
                    </div>
                    <div class="spec">
                      <h3>Passenger Capacity</h3>
                      <p>5</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-7 col-sm-6 col-xs-12">
              <div class="range_map_con">
                <h2>Range Map</h2>
                <img src="http://d3tfanr7troppj.cloudfront.net/static_files/images/000/000/819/original/Agusta-109.png?1474890826" alt="" class="img-responsive">
                <div class="row">
                  <div class="col-md-5 col-sm-6 col-xs-4">
                    <h3>Range in Distance</h3>
                    <p>948 kms</p>
                  </div>
                  <div class="col-md-5 col-sm-6 col-xs-4">
                    <h3>Crew</h3>
                    <p>2</p>
                  </div>
                  <div class="col-md-2 col-sm-6 col-xs-4">
                    <h3>Speed</h3>
                    <p>150 nm/hr</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="clearfix"></div>
          </div>
        </div>
        <!-- detail finish-->
      </div>
      <!-- 2 fleet finish-->
      <!-- 3 fleet start-->
      <div class="">
        <div class="fleet_result">
          <div class="col-md-8 col-sm-8 col-xs-12 search_img">
            <div class="img-hide">
              <img src="http://d3tfanr7troppj.cloudfront.net/static_files/images/000/000/878/original/augusta109.png?1475485463" alt="">
            </div>
          </div>
          <div class="col-md-4 col-sm-4 col-xs-12 search-ryt-con">
            <div class="img-bg">
              <h3 class="aircraft-type">Agusta A109</h3>
              <p class="aircraft-content">
                The Agusta A109 Power is an intermediate executive twin-engine helicopter available for charter, which offers a spacious, unobstructed, long passenger cabin and provides comfortable seating for up to six passengers.
              </p>
              <div class="detail-link-con text-center">
                <a ng-init="aircraft.detail_active3 = false" href="javascript:void(0)" ng-click="aircraft.detail_active3 =! aircraft.detail_active3">Details</a>
              </div>
            </div>
          </div>
          <div class="clearfix"></div>
        </div>
        <!-- detail start-->
        <div ng-show="aircraft.detail_active3" class="fleet-toogle-main">
          <div class="arrow-up"></div>
          <div class="white-arrow-up"></div>
          <i class="fa fa-times-circle-o cross-icon" ng-click="aircraft.detail_active3 =! aircraft.detail_active3"></i>
          <div class="img-content-con">
            <div class="col-md-3 col-sm-5 col-xs-12">
              <div class="aircraft-img text-center">
                <img src="http://d3tfanr7troppj.cloudfront.net/static_files/images/000/000/879/original/augusta109_int.png?1475485544" alt="" class="img-responsive">
              </div>
            </div>
            <div class="col-md-9 col-sm-7 col-xs-12">
              <div class="aircraft-text">
                <p>The Agusta A109 Power is an intermediate executive twin-engine helicopter available for charter, which offers a spacious, unobstructed, long passenger cabin and provides comfortable seating for up to six passengers. The A109 Power offers an ideal business environment for the transfer of passengers and is considered the ultimate in corporate and executive transport. Equipped with twin engines, the A109 Power provides enhanced safety while being capable of flying in a variety of conditions.</p>
              </div>
            </div>
            <div class="clearfix"></div>
          </div>
          <div class="interior_map_con">
            <div class="col-md-5 col-sm-6 col-xs-12">
              <div class="interior_aircraft_con">
                <h2>Specifications</h2>
                <div class="row">
                  <div class="col-xs-5 interior_aircraft text-center">
                    <img src="http://d3tfanr7troppj.cloudfront.net/static_files/images/000/000/803/original/augusta_int.png?1474453804" alt="" class="img-responsive">
                  </div>
                  <div class="col-xs-7 interior_specification">
                    <div class="spec">
                      <h3>Overall Cabin Length</h3>
                      <p>11.4 meters</p>
                    </div>
                    <div class="spec">
                      <h3>Cabin Height</h3>
                      <p>3.5 meters</p>
                    </div>
                    <div class="spec">
                      <h3>Cabin Width</h3>
                      <p>2.4 meters</p>
                    </div>
                    <div class="spec">
                      <h3>Baggage Volume</h3>
                      <p>2 ft<sup>3</sup></p>
                    </div>
                    <div class="spec">
                      <h3>Passenger Capacity</h3>
                      <p>5</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-7 col-sm-6 col-xs-12">
              <div class="range_map_con">
                <h2>Range Map</h2>
                <img src="http://d3tfanr7troppj.cloudfront.net/static_files/images/000/000/819/original/Agusta-109.png?1474890826" alt="" class="img-responsive">
                <div class="row">
                  <div class="col-md-5 col-sm-6 col-xs-4">
                    <h3>Range in Distance</h3>
                    <p>948 kms</p>
                  </div>
                  <div class="col-md-5 col-sm-6 col-xs-4">
                    <h3>Crew</h3>
                    <p>2</p>
                  </div>
                  <div class="col-md-2 col-sm-6 col-xs-4">
                    <h3>Speed</h3>
                    <p>150 nm/hr</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="clearfix"></div>
          </div>
        </div>
        <!-- detail finish-->
      </div>
      <!-- 3 fleet finish-->
      <!-- 4 fleet start-->
      <div class="">
        <div class="fleet_result">
          <div class="col-md-8 col-sm-8 col-xs-12 search_img">
            <div class="img-hide">
              <img src="http://d3tfanr7troppj.cloudfront.net/static_files/images/000/000/873/original/equirel.png?1475484113" alt="">
            </div>
          </div>
          <div class="col-md-4 col-sm-4 col-xs-12 search-ryt-con">
            <div class="img-bg">
              <h3 class="aircraft-type">Eurocopter AS350 Ecureuil</h3>
              <p class="aircraft-content">
                The Eurocopter AS350 Écureuil (Squirrel) is a single-engine light helicopter originally designed and manufactured in France.
              </p>
              <div class="detail-link-con text-center">
                <a ng-init="aircraft.detail_active4 = false" href="javascript:void(0)" ng-click="aircraft.detail_active4 =! aircraft.detail_active4">Details</a>
              </div>
            </div>
          </div>
          <div class="clearfix"></div>
        </div>
        <!-- detail start-->
        <div ng-show="aircraft.detail_active4" class="fleet-toogle-main">
          <div class="arrow-up"></div>
          <div class="white-arrow-up"></div>
          <i class="fa fa-times-circle-o cross-icon" ng-click="aircraft.detail_active4 =! aircraft.detail_active4"></i>
          <div class="img-content-con">
            <div class="col-md-3 col-sm-5 col-xs-12">
              <div class="aircraft-img text-center">
                <img  src="http://d3tfanr7troppj.cloudfront.net/static_files/images/000/000/877/original/equriel_int.png?1475484874" alt="" class="img-responsive">
              </div>
            </div>
            <div class="col-md-9 col-sm-7 col-xs-12">
              <div class="aircraft-text">
                <p>The Eurocopter AS350 Ecureuil (Squirrel) is a single-engine light helicopter originally designed and manufactured in France. In North America The AS355 Ecureuil 2 is a twin-engine variant, marketed as the TwinStar.</p>
              </div>
            </div>
            <div class="clearfix"></div>
          </div>
          <div class="interior_map_con">
            <div class="col-md-5 col-sm-6 col-xs-12">
              <div class="interior_aircraft_con">
                <h2>Specifications</h2>
                <div class="row">
                  <div class="col-xs-5 interior_aircraft text-center">
                    <img src="http://d3tfanr7troppj.cloudfront.net/static_files/images/000/000/870/original/Ecureuil.png?1475481072" alt="" class="img-responsive">
                  </div>
                  <div class="col-xs-7 interior_specification">
                    <div class="spec">
                      <h3>Overall Cabin Length</h3>
                      <p>11.4 meters</p>
                    </div>
                    <div class="spec">
                      <h3>Cabin Height</h3>
                      <p>1.3 meters</p>
                    </div>
                    <div class="spec">
                      <h3>Cabin Width</h3>
                      <p>1.6 meters</p>
                    </div>
                    <div class="spec">
                      <h3>Baggage Volume</h3>
                      <p>2 ft<sup>3</sup></p>
                    </div>
                    <div class="spec">
                      <h3>Passenger Capacity</h3>
                      <p>5</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-7 col-sm-6 col-xs-12">
              <div class="range_map_con">
                <h2>Range Map</h2>
                <img src="http://d3tfanr7troppj.cloudfront.net/static_files/images/000/000/825/original/Ecureuil.png?1474891180" alt="" class="img-responsive">
                <div class="row">
                  <div class="col-md-5 col-sm-6 col-xs-4">
                    <h3>Range in Distance</h3>
                    <p>640 kms</p>
                  </div>
                  <div class="col-md-5 col-sm-6 col-xs-4">
                    <h3>Crew</h3>
                    <p>2</p>
                  </div>
                  <div class="col-md-2 col-sm-6 col-xs-4">
                    <h3>Speed</h3>
                    <p>139 nm/hr</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="clearfix"></div>
          </div>
        </div>
        <!-- detail finish-->
      </div>
      <!-- 4 fleet finish-->
    </div>
  </div>
</div>