<!-- about us section start -->
<div class="inner-banner heli-banner">
	<div class="heading">
		<h1>HeliSetGo™</h1>
		<h5>Time. Convenience. Comfort. Luxury.</h5>
	</div>
</div>
<!-- about us section finish -->

<div class="col-lg-12 helicontent">
	<p>
		We offer both single and twin engine helicopters for VIP, Corporate and other charters. Simply call +91-11-39585858 or <a href="#">click here</a> to book a helicopter with us.
	</p>
	<p>
		We can provide customized offerings for:
	</p>
</div>