<!-- heli banner section start -->
<div class="inner-banner heli-banner">
	<div class="heading">
		<h1>HeliSetGo™</h1>
		<h5>Time. Convenience. Comfort. Luxury.</h5>
	</div>
</div>
<!-- heli banner section finish -->

<!-- heli content start -->
<div class="inner-option-con helicontent">
	<div class="col-sm-8 col-xs-12">
		<p>
			We offer both single and twin engine helicopters for VIP, Corporate and other charters. Simply call +91-11-39585858 or <a href="#">click here</a> to book a helicopter with us.
		</p>
		<p>
			We can provide customized offerings for:
		</p>
		<div class="option-con">
			<div class="option first-option">
				<p>
					Business Travel and Corporate Events
				</p>
			</div>
			<div class="option scnd-option">
				<p>
					City Tours and Joy Rides
				</p>
			</div>
			<div class="option third-option">
				<p>
					Emergency medical flights and Evacuations
				</p>
			</div>
			<div class="option forth-option">
				<p>
					Special Occasions and Weddings 
				</p>
			</div>
			<div class="option fifth-option">
				<p>
					Airport Transfers
				</p>
			</div>
			<div class="option sixth-option">
				<p>
					Surveys, Aerial Filming and Photography 
				</p>
			</div>
		</div>
		
	</div>
	<div class="col-sm-4 col-xs-12 desk-heli-img">
		<img src="http://d3tfanr7troppj.cloudfront.net/static_files/images/000/000/092/original/helisetgo.jpg?1457423389" class="img-responsive" />
	</div>
	<div class="clearfix"></div>
</div>
<!-- heli content finish -->