<!-- heli banner section start -->
<div class="inner-banner heli-banner">
	<div class="heading">
		<h1><span class="heading">HeliSetGo&trade;</span></h1>
		<h5>Time. Convenience. Comfort. Luxury.</h5>
	</div>
  <div class="banner-content">
    <p>
      We offer both single and twin engine helicopters for VIP, Corporate and other charters. Simply call +91-11-39585858.
      <!--or <a href="#">click here</a> to book a helicopter with us-->
    </p>
  </div>
</div>
<!-- heli banner section finish -->

<!-- heli content start -->
<div class="inner-option-con helicontent">
  <h3><span class="heading">We Provide Customized Offers</span></h3>
  <div class="container">
    <div class="row">
      <div class="col-sm-4 col-xs-12">
        <div class="img-section">
          <img src="http://d3tfanr7troppj.cloudfront.net/static_files/images/000/000/182/original/img1.jpg?1462426012" class="img-responsive" alt="">
          <div class="img-bottom-heading">Surveys Aerial Filming and Photography</div>
          <div class="hover-enquire-con">
            <!--<a href="#"><img src="http://d3tfanr7troppj.cloudfront.net/static_files/images/000/000/190/original/enquire_button.png?1462427068" border="0" alt=""></a>-->
          </div>
        </div>
      </div>
      <div class="col-sm-4 col-xs-12">
        <div class="img-section">
          <img src="http://d3tfanr7troppj.cloudfront.net/static_files/images/000/000/184/original/2.jpg?1462426127" class="img-responsive" alt="">
          <div class="img-bottom-heading">City Tours and Joy Rides</div>
          <div class="hover-enquire-con">
            <!--<a href="#"><img src="http://d3tfanr7troppj.cloudfront.net/static_files/images/000/000/190/original/enquire_button.png?1462427068" border="0" alt=""></a>-->
          </div>
        </div>
      </div>
      <div class="col-sm-4 col-xs-12">
        <div class="img-section">
          <img src="http://d3tfanr7troppj.cloudfront.net/static_files/images/000/000/185/original/3.jpg?1462426267" class="img-responsive" alt="">
          <div class="img-bottom-heading">Business Travel and Corporate Events</div>
          <div class="hover-enquire-con">
            <!--<a href="#"><img src="http://d3tfanr7troppj.cloudfront.net/static_files/images/000/000/190/original/enquire_button.png?1462427068" border="0" alt=""></a>-->
          </div>
        </div>
      </div>
      <div class="clearfix"></div>
    </div>
  </div>
	<div class="bg-img-section">
    <p>
      Be it to get an aerial view of the city you love or of localesnever explored, HeliSetGo<br/>
      enables this in a jiffy. Going out on a long drive is now so-Yesterday!
    </p>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-sm-4 col-xs-12">
        <div class="img-section">
          <img src="http://d3tfanr7troppj.cloudfront.net/static_files/images/000/000/186/original/4.jpg?1462426349" class="img-responsive" alt="">
          <div class="img-bottom-heading">Airport Transfers</div>
          <div class="hover-enquire-con">
            <!--<a href="#"><img src="http://d3tfanr7troppj.cloudfront.net/static_files/images/000/000/190/original/enquire_button.png?1462427068" border="0" alt=""></a>-->
          </div>
        </div>
      </div>
      <div class="col-sm-4 col-xs-12">
        <div class="img-section">
          <img src="http://d3tfanr7troppj.cloudfront.net/static_files/images/000/000/187/original/5.jpg?1462426467" class="img-responsive" alt="">
          <div class="img-bottom-heading">Emergency medical flights and Evacuations</div>
          <div class="hover-enquire-con">
            <!--<a href="#"><img src="http://d3tfanr7troppj.cloudfront.net/static_files/images/000/000/190/original/enquire_button.png?1462427068" border="0" alt=""></a>-->
          </div>
        </div>
      </div>
      <div class="col-sm-4 col-xs-12">
        <div class="img-section">
          <img src="http://d3tfanr7troppj.cloudfront.net/static_files/images/000/000/188/original/6.jpg?1462426708" class="img-responsive" alt="">
          <div class="img-bottom-heading">Special Occasions</div>
          <div class="hover-enquire-con">
            <!--<a href="#"><img src="http://d3tfanr7troppj.cloudfront.net/static_files/images/000/000/190/original/enquire_button.png?1462427068" border="0" alt=""></a>-->
          </div>
        </div>
      </div>
      <div class="clearfix"></div>
    </div>
  </div>
</div>
<!-- heli content finish -->