<script type="text/ng-template" id="airportsTypeAhead.html">
  <a>
    <span ng-bind-html="match.model.label | uibTypeaheadHighlight:query"></span>
  </a>
</script>

<script type="text/javascript" charset="utf-8">
    $('#myCarousel2').carousel({
        interval: false
    });

    $(document).ready(function(){
        setTimeout(function(){
            $( '#carousel_slider span.glyphicon-chevron-left' ).addClass( 'fa fa-chevron-left fa-4' );
            $( '#carousel_slider span.glyphicon-chevron-right' ).addClass( 'fa fa-chevron-right fa-4');
            $('span.fa').css('display', 'inline-block')
        },3000);
        //    $('span.glyphicon span.glyphicon-chevron-left').replaceWith('.fa .fa-chevron-left .fa-4');
    });

    //    $(window).load(function(){
    //        $('#spinner').fadeOut('slow');
    //    });
</script>

<!--script type="text/javascript">
  function cycleImages(){
      var $active = $('#background_cycler .active');
      var $next = ($('#background_cycler .active').next().length > 0) ? $('#background_cycler .active').next() : $('#background_cycler .img:first');
      $next.css('z-index',2);//move the next image up the pile
      $active.fadeOut(1000,function(){//fade out the top image
        $active.css('z-index',1).show().removeClass('active');//reset the z-index and unhide the image
        $next.css('z-index',3).addClass('active');//make the next image the top one
      });
    }

    $(window).load(function(){
      $('#background_cycler').fadeIn(1000);//fade the background back in once all the images are loaded
      // run every 5s
      setInterval('cycleImages()', 3000);
    })
</script-->
<!--<div id="spinner" ng-show="ctrl.loading" ></div>-->
<!-- top header search con start -->
<div class="top-header-search-con">
  <!--div id="background_cycler" >
    <!--script type="text/javascript">
      $('#background_cycler').hide(); //hide the background while the images load, ready to fade in later
    </script-->

    <!-- <div class="img active" style="background:url('http://d3tfanr7troppj.cloudfront.net/static_files/images/000/000/656/original/slider1.jpg?1471607474') top center no-repeat; background-size:cover; height: 100vh; "></div>
    <div class="img" style="background:url('http://d3tfanr7troppj.cloudfront.net/static_files/images/000/000/657/original/slider2.jpg?1471607491') top center no-repeat; background-size:cover; height: 100vh;"></div>
    <div class="img" style="background:url('http://d3tfanr7troppj.cloudfront.net/static_files/images/000/000/658/original/slider3.jpg?1471607511') top center no-repeat; background-size:cover; height: 100vh;"></div>
    <div class="img" style="background:url('http://d3tfanr7troppj.cloudfront.net/static_files/images/000/000/659/original/slider4.jpg?1471607529') top center no-repeat; background-size:cover; height: 100vh;"></div>
    <div class="img" style="background:url('http://d3tfanr7troppj.cloudfront.net/static_files/images/000/000/661/original/slider5.jpg?1471607556') top center no-repeat; background-size:cover; height: 100vh;"></div>
    <div class="img" style="background:url('http://d3tfanr7troppj.cloudfront.net/static_files/images/000/000/662/original/slider6.jpg?1471607577') top center no-repeat; background-size:cover; height: 100vh;"></div>
    <div class="img" style="background:url('http://d3tfanr7troppj.cloudfront.net/static_files/images/000/000/663/original/slider7.jpg?1471607602') top center no-repeat; background-size:cover; height: 100vh;"></div> -->
  <!-- </div> -->
  <div class="homepage">

    <div class="homepage-header">
    </div>
    <div class="container header-container">
        <!-- header start -->
        <!--<div>-->
        <!--<nav ng-hide="ctrl.isFromMobile" id="header" class="navbar navbar-default home-header header">-->
        <!--<div class="container-fluid">-->
        <!--<div class="navbar-header navbar-responsive">-->
        <!--<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-2" aria-expanded="false">-->
        <!--<span class="sr-only">Toggle navigation</span>-->
        <!--<span class="icon-bar"></span>-->
        <!--<span class="icon-bar"></span>-->
        <!--<span class="icon-bar"></span>-->
        <!--</button>-->
        <!--<div class="row header_row">-->
        <!--<div class="col-lg-2 col-md-2 col-sm-2 logo-main-con">-->
        <!--<a class="logo-img" href="/tmp_url"><img class="img-responsive" src="http://d3tfanr7troppj.cloudfront.net/static_files/images/000/000/023/original/JSG-main-logo-db779e87994672c825f333c07a75d7d2_%281%29.png?1453111090" /></a>-->
        <!--</div>-->
        <!--<div id="bs-example-navbar-collapse-2" class="collapse navbar-collapse res-header navbar-hidden">-->
        <!--<div class="col-sm-10 col-xs-12 right-nav pull-right">-->
        <!--<ul class="nav navbar-nav navbar-right main-nav">-->
        <!--<li>-->
        <!--<a ng-click="ctrl.signIn()" ng-hide="ctrl.currentUser" class="no-right-padding" href=""><i class="fa fa-user" aria-hidden="true"></i> Guest</a>-->
        <!--<a ng-show="ctrl.currentUser" class="no-right-padding" href="/profile"> <img src="" style="max-height: 20px;max-width: 20px" ng-src="{{ctrl.currentUser.image}}" alt=""> {{ctrl.currentUser.full_name}} <i class="fa fa-caret-down"></i></a>-->
        <!--<ul class="sub-nav">-->
        <!--<li ng-show="ctrl.currentUser" ><a class="no-right-padding" href="/profile">Profile</a></li>-->
        <!--<li ng-show="ctrl.currentUser" ><a ng-click="ctrl.signOut()" class="no-right-padding" href="">Sign Out</a></li>-->
        <!--</ul>-->
        <!--</li>-->
        <!--<li><a href="/contact_us">Contact</a></li>-->
        <!--<li><a href="/media">Media</a></li>-->
        <!--<li><a target="_self" href="/jetsteals/list">JetSteals™</a></li>-->
        <!--<li><a href="/about_us">About</a></li>-->
        <!--</ul>-->
        <!--</div>-->
        <!--</div>-->
        <!--</div>-->
        <!--</div>-->

        <!--</div>-->
        <!--</nav>-->
        <!--</div>-->
        <!-- header finish -->

        <!-- search con start -->
        <div class="search-main-con">
          <div class="col-xs-12 no-padding-left">
            <span class="search-main-form autocomplete-height" ng-repeat="activity in ctrl.activities">
              <span class="search-form">
                <span class="search-icon departure-icon">
                  <img class="img-responsive" src="http://d3tfanr7troppj.cloudfront.net/static_files/images/000/000/354/original/departure.png?1468494153" alt="">
                </span>
                <input class="search-textfield text-white" title="Departure Airport"
                       ng-disabled="$index+1 < ctrl.activities.length"
                       placeholder="Departure"
                       autocomplete="off"
                       typeahead-editable="false"
                       typeahead-select-on-exact="true"
                       typeahead-template-url="airportsTypeAhead.html"
                       ng-model="activity.departure_airport"
                       uib-typeahead="airport as airport.label for airport in ctrl.airports | filter:{label:$viewValue}"
                       type="text"
                       typeahead-min-length="0">
              </span>
              <span class="search-form">
                <span class="search-icon">
                  <img class="img-responsive" src="http://d3tfanr7troppj.cloudfront.net/static_files/images/000/000/352/original/arrival.png?1468494122" alt="">
                </span>
                <input class="search-textfield text-white" title="Arrival Airport"
                       ng-disabled="$index+1 < ctrl.activities.length"
                       placeholder="Arrival"
                       autocomplete="off"
                       typeahead-editable="false"
                       typeahead-select-on-exact="true"
                       typeahead-template-url="airportsTypeAhead.html"
                       ng-model="activity.arrival_airport"
                       uib-typeahead="airport as airport.label for airport in ctrl.airports | filter:{label:$viewValue}"
                       type="text"
                       typeahead-min-length="0">
              </span>
              <span class="search-form">
                <span class="search-icon">
                  <img class="img-responsive" src="http://d3tfanr7troppj.cloudfront.net/static_files/images/000/000/356/original/pax.png?1468494207" alt="">
                </span>
                <input class="search-textfield text-white"
                       autocomplete="off"
                       typeahead-editable="false"
                       typeahead-select-on-exact="true"
                       ng-model="activity.pax"
                       uib-typeahead="pax for pax in ['1','2','3', '4', '5', '6', '7', '8', '9', '10', '11', '12', '13', '14', '15', '16', '17', '18', '19', '20', '21', '22', '23', '24', '25', '26', '27', '28', '29', '30', '31', '32', '33', '34', '35', '36', '37']"
                       type="text"
                       typeahead-min-length="0"
                       placeholder="Pax">
              </span>
              <span class="search-form">
                <span class="search-icon">
                  <img class="img-responsive" src="http://d3tfanr7troppj.cloudfront.net/static_files/images/000/000/353/original/clock.png?1468494135" alt="">
                </span>
                <div class="dropdown datetimepicker-holder search-textfield">
                  <a role="button" data-toggle="dropdown" ng-class="ctrl.formatTime(activity.start_at) != 'Click to choose time' ? 'white-color' : ''" data-target="#" href="Javascript:void(0)"><i class="fa"></i> {{ctrl.formatTime(activity.start_at)}}</a>
                  <ul class="dropdown-menu dropdown-celender" role="menu">
                    <datetimepicker
                    data-on-set-time="ctrl.onSetTime(newDate, oldDate, $index)"
                    data-before-render="ctrl.beforeRenderDate($view, $dates, $leftDate, $upDate, $rightDate, $index)"
                    datetimepicker-config="{ dropdownSelector: '.fa', minView:'hour' }"
                    ng-model="activity.start_at"></datetimepicker>
                  </ul>
                </div>
              </span>
              <!--{{$index}}-{{ctrl.activities.length}} ,{{$index > 0}}-{{ $index == ctrl.activities.length - 1}}-->
              <a href="javascript:void(0)" class="cross-icon" ng-show="(($index > 0) && ($index == ctrl.activities.length - 1))" ng-click="ctrl.removeActivity($index)">
                <i class="fa fa-times-circle-o" aria-hidden="true"></i>
              </a>
            </span>
            <a class="search-btn" ng-click="ctrl.create()" href="">Search</a>
            <a class="add-trip-btn" href=""  ng-click="ctrl.addActivity()">Add Trip <img src="http://d3tfanr7troppj.cloudfront.net/static_files/images/000/000/351/original/addtrip.png?1468494102" height="25"></a>
            <a class="add-trip-btn" href="" ng-show="ctrl.activities.length <= 1" ng-click="ctrl.addRoundTrip()">Round Trip
              <img src="http://d3tfanr7troppj.cloudfront.net/static_files/images/000/000/437/original/roundtrip.png?1469620071" style="margin-left: 5px;" height="25" alt=""></a>
          </div>
        </div>
        <!-- search con finish -->
      </div>
  </div>
</div>
<!-- top header search con finish -->

<!-- jetsteal con start -->
<div class="jetsteel-main-con" ng-init="ctrl.load_jetsteals()" ng-show="ctrl.jetsteals.length > 0">
  <div class="section-heading">
    <div class="container">
      <img class="img-responsive" src="http://d3tfanr7troppj.cloudfront.net/static_files/images/000/000/636/original/jetsteals.png?1471507541" alt="">
    </div>
  </div>
  <div class="jetsteal-slider-con">
    <div class="container">
      <div class="row">
        <div class="col-md-1">
        </div>
        <div class="col-md-10 col-xs-12">
          <div uib-carousel active="active" no-wrap="false" id="carousel_slider">
            <div uib-slide ng-repeat="jetsteal in ctrl.jetsteals track by jetsteal.id" style="text-align: left;">

                <div class="border-con" style="position:relative;">
                  <div class="bg sold_out" ng-show="jetsteal.sold_out">
                    <div class="col-md-8 col-sm-12 col-xs-12" style="padding: 0;">
                      <p>SOLD OUT</p>
                    </div>
                  </div>
                  <div class="col-md-8 col-sm-12 col-xs-12 emptyleg_image">
                    <img ng-src="{{jetsteal.aircraft.interior_image_original}}" style="margin:auto;">
                  </div>
                  <div class="col-md-4 col-sm-12 col-xs-12 emptyleg_detail">
                    <div class="">
                      <h2 class="aircraft_name">{{jetsteal.aircraft.aircraft_type.name}}</h2>
                      <h5 class="engine_type">{{jetsteal.aircraft.aircraft_type.aircraft_category.name}}</h5>

                      <div class="jetsteal-location">
                        <div class="col-sm-6 col-xs-6 data">
                          <h4>{{jetsteal.departure_airport.city.name}}</h4>
                          <p>{{jetsteal.flight_start_time.split(',')[1]}}</p>
                          <p>{{jetsteal.flight_start_time.split(',')[0]}}</p>
                        </div>
                        <!-- <div class="col-sm-2 hidden-xs data text-center">
                          <img class="img-responsive" src="http://d3tfanr7troppj.cloudfront.net/static_files/images/000/000/516/original/jet.png?1470204638" class="jet-img">
                        </div> -->
                        <div class="col-sm-6 col-xs-6 data text-right">
                          <h4>{{jetsteal.arrival_airport.city.name}}</h4>
                          <p>{{jetsteal.flight_end_time.split(',')[1]}}</p>
                          <p class="pax-txt"><b>Pax:</b> {{jetsteal.aircraft.seating_capacity}}</p>
                        </div>
                        <div class="clearfix"></div>
                      </div>
                      <h4 class="estimated-price text-center"><i class="fa fa-inr"></i> {{jetsteal.sell_by_seats ? jetsteal.min_seat_cost : jetsteal.cost | currency:'':0 | indianCurrency}} <span class="text">
                      {{ jetsteal.sell_by_seats ? 'Starting Price' : 'Estimated Price' }}
                      </span></h4>

                      <div class="detail-link-con">
                        <a href="javascript:void(0)" target="_self" ng-if="jetsteal.sold_out"> <i class="fa fa-hourglass-o"></i> Sold out </a>
                        <a href="/jetsteals/list" target="_self" ng-if="!jetsteal.sold_out">{{jetsteal.sell_by_seats ? 'Book a Seat' : 'Book a Jet'}}</a>
                      </div>
                    </div>
                  </div>
                  <div class="clearfix"></div>
                </div>
              <div class="clearfix"></div>
            </div>
          </div>
          <div class="col-md-offset-1 col-md-10 col-sm-12 col-xs-12 emptyleg_content">
            <p class="content">Through our JetSteals&trade; platform you can experience the joy of flying private and networking with like minded people like never before at 30,000 feet! Simply pick an aircraft or sector of your choice, choose between having the whole aircraft to yourself or just a seat and pay in 3 simple steps.</p>
            <a class="view-more-btn" href="/jetsteals/list" target="_blank">View More</a>
              <!-- <p class="member-content">Fly free, choose your own seat <b>Become a Member</b></p> -->
          </div>
          <div class="clearfix"></div>
        </div>
        <div class="col-md-1"></div>
      </div>
    </div>

  </div>
</div>

<!--<div class="jetsteel-main-con" ng-show="ctrl.jetsteals.length > 0">-->
<!--<div class="container search-container">-->
<!--<div class="col-xs-12">-->
<!--<span class="heading">JetSteals&trade;</span>-->
<!--<p class="sub-heading">Future is now ready for boarding.</p>-->
<!--</div>-->
<!--<div class="col-xs-12">-->
<!--<div ng-repeat="jetsteal in ctrl.jetsteals">-->
<!--<div class="jetsteal-con" ng-hide="jetsteal.sold_out">-->
<!--<a href="/jetsteals/list" target="_self" >-->
<!--<div class="row">-->
<!--<div class="col-md-8 col-sm-8 col-xs-12">-->
<!--<div class="row">-->
<!--<div class="col-md-5 col-sm-6 col-xs-12">-->
<!--<p class="jetsteal-text">{{ jetsteal.departure_airport.city.name }} <i class="fa fa-plane rotate-plain-icon" aria-hidden="true"></i> {{ jetsteal.arrival_airport.city.name }}</p>-->
<!--</div>-->
<!--<div class="col-md-7 col-sm-6 col-xs-12">-->
<!--<p class="jetsteal-text" ng-hide="jetsteal.sell_by_seats"><i class="fa fa-calendar"></i> {{ctrl.formatDate(jetsteal.flight_start_time)}}, Any Time</p>-->
<!--<p class="jetsteal-text"ng-show="jetsteal.sell_by_seats"><i class="fa fa-calendar"></i> {{ctrl.formatTime(jetsteal.flight_start_time)}}</p>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--<div class="col-md-4 col-sm-4 col-xs-12">-->
<!--<span class="jetsteal-price pull-right" ng-hide="jetsteal.sell_by_seats"><i class="fa fa-inr" aria-hidden="true"></i> {{jetsteal.cost | currency:'':0 | indianCurrency}}</span>-->
<!--<span class="jetsteal-price pull-right" ng-show="jetsteal.sell_by_seats">Starting @ &nbsp; <i class="fa fa-inr" aria-hidden="true"></i> {{jetsteal.min_seat_cost | currency:'':0 | indianCurrency}}</span>-->
<!--</div>-->
<!--</div>-->
<!--</a>-->
<!--</div>-->
<!--<div ng-show="ctrl.jetsteals.length > 1 && $index == 0 " class="line"></div>-->
<!--</div>-->
<!--<div class="bottom-more-con">-->
<!--<div class="row">-->
<!--<div class="col-xs-12">-->
<!--<a href="/jetsteals/list" target="_self" class="more-btn">More</a>-->
<!--</div>-->
<!--<div class="clearfix"></div>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--<div class="clearfix"></div>-->
<!--</div>-->
<!--</div>-->
<!-- jetsteal con finish -->

<!-- jetsetgo services con start -->
<div class="searvices_main_con">
  <div class="section-heading">
    <div class="container">
      <img class="img-responsive" src="http://d3tfanr7troppj.cloudfront.net/static_files/images/000/000/644/original/jetsetservices.png?1471512511" alt="">
    </div>
  </div>
  <div class="services-widget">
    <div class="container">
      <div class="row">
        <div class="col-md-offset-1 col-md-5 col-sm-6 col-xs-12">
          <div class="widget">
            <img src="http://d3tfanr7troppj.cloudfront.net/static_files/images/000/000/374/original/jersetwed.png?1468575375" alt="" class="img-responsive">
            <h2>JetSetWed&trade;</h2>
            <p>With families leaving no stone unturned for the Big Fat Indian Wedding Experience, JetSetWed™ makes this a tad bit easier by providing superior travel planning and guest logistics services.</p>
            <a href="javascript:void(0)" ng-click="ctrl.wed_enquiry()" class="enquire-btn">Enquire</a>
            <a href="javascript:void(0)" class="" ng-class="jetsetwed.open ? 'active-btn' : 'enquire-btn'" ng-click="jetsetwed.open = !jetsetwed.open; jetsetyatra.open = false; jetsetrescue.open = false; helisego.open = false;">Details</a>
            <div class="clearfix"></div>
          </div>
        </div>
        <div class="col-md-offset-1 col-md-10 col-xs-12 hidden-lg hidden-md hidden-sm" ng-show="jetsetwed.open">
          <div class="widget-detail jetsetwed_detail">
            <div class="bg-overlay">
                <i class="fa fa-times-circle-o cross-icon" ng-click="jetsetwed.open = !jetsetwed.open;"></i>
                <h2>JetSetWed&trade;</h2>
                <p>With families leaving no stone unturned for the Big Fat Indian Wedding Experience, JetSetWed™ makes this a tad bit easier by providing superior travel planning and guest logistics services.</p>
                <p>Your wish to deliver the never before seen experience is our command. Think of anything with
                  jets or helicopters and we will deliver whether it is to shower flowers from the sky or arranging joy rides.</p>
                <ul>
                  <li>Engagement</li>
                  <li>Wedding</li>
                  <li>Conference</li>
                  <li>Group Gateways</li>
                  <li>Celebrity</li>
                  <li>Sports</li>
                  <div class="clearfix"></div>
                </ul>
            </div>
            <div class="clearfix"></div>
          </div>
        </div>
        <div class="col-md-5 col-sm-6 col-xs-12">
          <div class="widget">
            <img src="http://d3tfanr7troppj.cloudfront.net/static_files/images/000/000/373/original/jetyatra.png?1468575349" alt="" class="img-responsive">
            <h2>JetSetYatra&trade;</h2>
            <p>At JetSetGo we believe in making your darshan and yatra as comfortable as possible. We understand that you only undertake the experience once in your lifetime hence we endeavor to deliver beyond what we promise.</p>
            <a href="javascript:void(0)" ng-click="ctrl.yatra_enquiry()" class="enquire-btn">Enquire</a>
            <a href="javascript:void(0)" class="" ng-class="jetsetyatra.open ? 'active-btn' : 'enquire-btn'" ng-click="jetsetyatra.open = !jetsetyatra.open; jetsetwed.open = false; jetsetrescue.open = false; helisego.open = false;">Details</a>
            <div class="clearfix"></div>
          </div>
        </div>
        <div class="col-md-offset-1 col-md-10 col-xs-12 hidden-xs" ng-show="jetsetwed.open">
          <div class="widget-detail jetsetwed_detail">
              <div class="bg-overlay">
                  <i class="fa fa-times-circle-o cross-icon" ng-click="jetsetwed.open = !jetsetwed.open;"></i>
                  <h2>JetSetWed&trade;</h2>
                  <p>With families leaving no stone unturned for the Big Fat Indian Wedding Experience, JetSetWed™ makes this a tad bit easier by providing superior travel planning and guest logistics services.</p>
                  <p>Your wish to deliver the never before seen experience is our command. Think of anything with
                    jets or helicopters and we will deliver whether it is to shower flowers from the sky or arranging joy rides.</p>
                  <ul>
                    <li>Engagement</li>
                    <li>Wedding</li>
                    <li>Conference</li>
                    <li>Group Gateways</li>
                    <li>Celebrity</li>
                    <li>Sports</li>
                  </ul>
              </div>
            </div>
        </div>
        <div class="col-md-offset-1 col-md-10 col-xs-12" ng-show="jetsetyatra.open">
          <div class="widget-detail jetsetyatra_detail">
            <div class="bg-overlay">
              <i class="fa fa-times-circle-o cross-icon" ng-click="jetsetyatra.open = !jetsetyatra.open;"></i>
              <h2>JetSetYatra&trade;</h2>
              <p>At JetSetGo we believe in making your darshan and yatra as comfortable as possible. We understand that you only undertake the experience once in your lifetime hence we endeavor to deliver beyond what we promise. We offer both customized packages and specially designed pilgrimages as per your requirements.</p>
              <p>We Offer both customized packages and specially designed JetSetYatra™ as per your requirements.</p>
              <ul>
              <li>1 Night Chardham Yatra</li>
              <li>Dodham Yatra (2 Nights)</li>
              <li>Hemkundsahib yatra</li>
              <li>Kedarnath Yatra</li>
              <li>Muktiath Darshan - Nepal</li>
              <li>Kailash and Mansarovar Yatra - Nepal</li>
              <div class="clearfix"></div>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-md-offset-1 col-md-5 col-sm-6 col-xs-12">
          <div class="widget">
            <img src="http://d3tfanr7troppj.cloudfront.net/static_files/images/000/000/372/original/medrescue.png?1468575326" alt="" class="img-responsive">
            <h2>JetSetRescue&trade;</h2>
            <p>With access to the widest range of specialized aircraft or helicopters with Advanced Life Support (ALS) systems JetSetGo fills in this gap to provide quality air ambulance services doing its part in saving lives.</p>
            <a href="javascript:void(0)" ng-click="ctrl.rescue_enquiry()" class="enquire-btn">Enquire</a>
            <a href="javascript:void(0)" class="" ng-class="jetsetrescue.open ? 'active-btn' : 'enquire-btn'" ng-click="jetsetrescue.open = !jetsetrescue.open; helisego.open = false; jetsetwed.open = false; jetsetyatra.open = false;">Details</a>
            <div class="clearfix"></div>
          </div>
        </div>
        <div class="col-md-offset-1 col-md-10 col-xs-12 hidden-lg hidden-md hidden-sm" ng-show="jetsetrescue.open">
          <div class="widget-detail jetsetrescue_detail">
            <div class="bg-overlay">
                <i class="fa fa-times-circle-o cross-icon" ng-click="jetsetrescue.open = !jetsetrescue.open;"></i>
                <h2>JetSetRescue&trade;</h2>
                <p>With access to the widest range of specialized aircraft or helicopters with Advanced Life Support (ALS) systems JetSetGo fills in this gap to provide quality air ambulance services doing its part in saving lives.</p>
                <ul>
                  <li>Bed to Bed Services</li>
                  <li>Emergency Medical Retrieval Service</li>
                  <li>Quick Reliable Transfers</li>
                  <div class="clearfix"></div>
                </ul>
            </div>
          </div>
        </div>
        <div class="col-md-5 col-sm-6 col-xs-12">
          <div class="widget">
            <img src="http://d3tfanr7troppj.cloudfront.net/static_files/images/000/000/371/original/helijet.png?1468575306" alt="" class="img-responsive">
            <h2>HeliSetGo&trade;</h2>
            <p>We offer both single and twin engine helicopters for VIP, Corporate and other charters. Simply call +91-11-39585858. or enquire below to book a helicopter with us</p>
            <a href="javascript:void(0)" ng-click="ctrl.heli_set_go_enquiry()" class="enquire-btn">Enquire</a>
            <a href="javascript:void(0)" class="" ng-class="helisego.open ? 'active-btn' : 'enquire-btn'" ng-click="helisego.open = !helisego.open; jetsetrescue.open = false; jetsetwed.open = false; jetsetyatra.open = false;">Details</a>
            <div class="clearfix"></div>
          </div>
        </div>
        <div class="col-md-offset-1 col-md-10 col-xs-12 hidden-xs" ng-show="jetsetrescue.open">
          <div class="widget-detail jetsetrescue_detail">
            <div class="bg-overlay">
            <i class="fa fa-times-circle-o cross-icon" ng-click="jetsetrescue.open = !jetsetrescue.open;"></i>
                <h2>JetSetRescue&trade;</h2>
                <p>With access to the widest range of specialized aircraft or helicopters with Advanced Life Support (ALS) systems JetSetGo fills in this gap to provide quality air ambulance services doing its part in saving lives.</p>
                <ul>
                  <li>Bed to Bed Services</li>
                  <li>Emergency Medical Retrieval Service</li>
                  <li>Quick Reliable Transfers</li>
                  <div class="clearfix"></div>
                </ul>
            </div>
          </div>
        </div>
        <div class="col-md-offset-1 col-md-10 col-xs-12" ng-show="helisego.open">
          <div class="widget-detail helisetgo_detail">
            <div class="bg-overlay">
            <i class="fa fa-times-circle-o cross-icon" ng-click="helisego.open = !helisego.open;"></i>
                <h2>HeliSetGo&trade;</h2>
                <p>We offer both single and twin engine helicopters for VIP, Corporate and other charters. Simply call +91-11-39585858. or enquire below to book a helicopter with us</p>
                <p>Be it to get an aerial view of the city you love or of localesnever explored, HeliSetGo
                  enables this in a jiffy. Going out on a long drive is now so-Yesterday!</p>
                <ul>
                  <li>Surveys Aerial Filming and Photography</li>
                  <li>City Tours and Joy Rides</li>
                  <li>Business Travel and Corporate Events</li>
                  <li>Airport Transfers</li>
                  <li>Emergency medical flights and Evacuations</li>
                  <li>Special Occasions</li>
                  <div class="clearfix"></div>
                </ul>
            </div>
          </div>
        </div>
        <div class="clearfix"></div>
      </div>
    </div>
  </div>
</div>
<!-- jetsetgo services con finish -->

<!-- jetsetgo media con start -->
<div class="news-media-main-con">
  <div class="section-heading">
    <div class="container">
      <img class="img-responsive" src="http://d3tfanr7troppj.cloudfront.net/static_files/images/000/000/643/original/newsandmedia.png?1471512486" alt="">
    </div>
  </div>
  <div class="media-slider-con">
    <div class="container">
      <div class="media-con">
        <div class="well-none">
          <div id="myCarousel2" class="carousel slide">
            <div class="row">
              <div class="col-sm-1 col-xs-2">
                <a class="right carousel-control controller-arrow" href="javascript:void(0)" data-target="#myCarousel2" data-slide="prev"><i class="fa fa-chevron-left fa-4"></i></a>
              </div>
              <div class="col-sm-10 col-xs-8">
                <!-- Carousel items -->
                <div class="carousel-inner">
                  <div class="item active">
                    <div class="row">
                      <div class="col-md-3 col-sm-6 col-xs-12 media-widget">
                        <img class="img-responsive" src="http://d3tfanr7troppj.cloudfront.net/static_files/images/000/000/626/original/30_under_30.jpg?1471424192" alt="">
                        <div class="media-content">
                          <h3 class="media-heading">Tekriwal founded JetSetGo</h3>
                          <p class="media-content">Tekriwal founded JetSetGo, an India-based private jet concierge service that links passengers to planes through an online marketplace.</p>
                        </div>
                        <a class="media-readmore" target="_blank" href="http://www.forbes.com/30-under-30-asia-2016/retail-ecommerce/#540ade2e1016">Read More</a>
                      </div>
                      <div class="col-md-3 col-sm-6 col-xs-12 media-widget">
                        <img class="img-responsive" src="http://d3tfanr7troppj.cloudfront.net/static_files/images/000/000/627/original/forbes_india.JPG?1471424215" alt="">
                        <div class="media-content">
                          <h3 class="media-heading">With JetSetGo all operators are put on the same platform</h3>
                          <p class="media-content">About three months ago, a Gulfstream G650, a leading luxury business jet,</p>
                        </div>
                        <a class="media-readmore" target="_blank" href="http://forbesindia.com/article/best-things-money-can-buy/jetsetgo-the-uber-of-indian-skies/41417/1">Read More</a>
                      </div>
                      <div class="col-md-3 col-sm-6 col-xs-12">
                        <img class="img-responsive" src="http://d3tfanr7troppj.cloudfront.net/static_files/images/000/000/586/original/bbc.jpg?1470824402" alt="">
                        <div class="media-content">
                          <h3 class="media-heading">Ms. Kanika Tekriwal CEO JetSetGo on BBC World&#39;s</h3>
                          <p class="media-content">Ms. Kanika Tekriwal Chief Executive Oficer, JetSetGo one of the 30 under 30 global entrepreneurs chosen by BBC. </p>
                        </div>
                        <a class="media-readmore" target="_blank" href="https://www.youtube.com/watch?v=MCgCcAGt_h0&amp;feature=youtu.be">Read More</a>
                      </div>
                      <div class="col-md-3 col-sm-6 col-xs-12 media-widget">
                        <img class="img-responsive" src="http://d3tfanr7troppj.cloudfront.net/static_files/images/000/000/583/original/CNBC_TV.JPG?1470816157" alt="">
                        <div class="media-content">
                          <h3 class="media-heading">JetSetGo Coverage in CNBC TV</h3>
                          <p class="media-content">It’s often said that it’s lonely at the top, but the reality is that it’s lonely at the start too! In this segment we dive into a no-holds barred conversation with three startup founders.</p>
                        </div>
                        <a class="media-readmore" target="_blank" href="https://www.youtube.com/watch?v=hB-8hA_RBUA&amp;feature=youtu.be">Read More</a>
                      </div>
                    </div>
                    <!--/row-->
                  </div>
                  <!--/item-->
                  <div class="item">
                    <div class="row">
                      <div class="col-md-3 col-sm-6 col-xs-12 media-widget">
                        <img class="img-responsive" src="http://d3tfanr7troppj.cloudfront.net/static_files/images/000/000/588/original/forbes.jpg?1470824639" alt="">
                        <div class="media-content">
                          <h3 class="media-heading">As Sharing Economy Starts To Trump Superstition,</h3>
                          <p class="media-content">When Kanika Tekriwal started her private jet sharing service two years ago in India,</p>
                        </div>
                        <a class="media-readmore" target="_blank" href="http://thelabel.in/lifestyle/leisure/inside-jetsetgo-indias-first-budget-chartered-plane-service">Read More</a>
                      </div>
                      <div class="col-md-3 col-sm-6 col-xs-12 media-widget">
                        <img class="img-responsive" src="http://d3tfanr7troppj.cloudfront.net/static_files/images/000/000/538/original/Entrepreneur_India.JPG?1470733505" alt="">
                        <div class="media-content">
                          <h3 class="media-heading">How JetSetGo's Co-founder Is Combating Gender Inequality</h3>
                          <p class="media-content">"This had made me rather worried about how delusional my views on gender bias at the workplace were.</p>
                        </div>
                        <a class="media-readmore" target="_blank" href="https://www.entrepreneur.com/article/279206">Read More</a>
                      </div>
                      <div class="col-md-3 col-sm-6 col-xs-12 media-widget">
                        <img class="img-responsive" src="http://d3tfanr7troppj.cloudfront.net/static_files/images/000/000/548/original/Your_story.jpg?1470733707" alt="">
                        <div class="media-content">
                          <h3 class="media-heading">Is your company’s female talent MIA?</h3>
                          <p class="media-content">It was 2015, and there were seven men and just one woman in the business class of a 9 pm flight from Mumbai to Delhi.</p>
                        </div>
                        <a class="media-readmore" target="_blank" href="https://her.yourstory.com/female-talent-problem-0803">Read More</a>
                      </div>
                      <div class="col-md-3 col-sm-6 col-xs-12 media-widget">
                        <img class="img-responsive" src="http://d3tfanr7troppj.cloudfront.net/static_files/images/000/000/584/original/femina.jpg?1470816172" alt="">
                        <div class="media-content">
                          <h3 class="media-heading">JetSetGo with Kanika Tekriwal</h3>
                          <p class="media-content">The general  aviation (GA) industry in India is still underdeveloped compared to its global peers with GA</p>
                        </div>
                        <a class="media-readmore" target="_blank" href="http://bwdisrupt.businessworld.in/article/Kanika-Tekriwal-Her-Fight-Against-Cancer-And-Building-a-Private-Jet-Aviation-Company/13-07-2016-100377/">Read More</a>
                      </div>
                    </div>
                    <!--/row-->
                  </div>
                  <!--/item-->
                  <div class="item">
                    <div class="row">
                      <div class="col-md-3 col-sm-6 col-xs-12 media-widget">
                        <img class="img-responsive" src="http://d3tfanr7troppj.cloudfront.net/static_files/images/000/000/540/original/hindustan_times.jpg?1470733549" alt="">
                        <div class="media-content">
                          <h3 class="media-heading">Bhopal’s Kanika makes it to Forbes ‘30 under 30’ achievers list</h3>
                          <p class="media-content">Meet Bhopal’s Kanika Tekriwal. At 27 her JetSetGo has contracts running into $20 million and manages</p>
                        </div>
                        <a class="media-readmore" target="_blank" href="http://www.thetalentedindian.com/in-conversation-with-one-the-of-bbcs-100-most-inspiring-women-kanika-tekriwal/">Read More</a>
                      </div>
                      <div class="col-md-3 col-sm-6 col-xs-12">
                        <img class="img-responsive" src="http://d3tfanr7troppj.cloudfront.net/static_files/images/000/000/591/original/Financial_Express.jpg?1470825013" alt="">
                        <div class="media-content">
                          <h3 class="media-heading">Flying high</h3>
                          <p class="media-content">If you’re a wealthy jetsetter, chances are that you have often been repelled by the outdated nature</p>
                        </div>
                        <a class="media-readmore" target="_blank" href="http://www.femina.in/achievers/fly-with-me-4987.html">Read More</a>
                      </div>
                      <div class="col-md-3 col-sm-6 col-xs-12">
                        <img class="img-responsive" src="http://d3tfanr7troppj.cloudfront.net/static_files/images/000/000/595/original/Entrepreneur_India.JPG?1470825154" alt="">
                        <div class="media-content">
                          <h3 class="media-heading">Flying High: These 4 entrepreneurs promise you the best of life</h3>
                          <p class="media-content">JetSetGo’s Kanika Tekriwal aims at bringing total transparency1 to her customers with zero </p>
                        </div>
                        <a class="media-readmore" target="_blank" href="http://www.hindustantimes.com/health-and-fitness/air-ambulance-services-take-off-in-india-but-not-fast-enough/story-XeSrCic5Zyrkt9CgOZVRQL.html">Read More</a>
                      </div>
                      <div class="col-md-3 col-sm-6 col-xs-12">
                        <img class="img-responsive" src="http://d3tfanr7troppj.cloudfront.net/static_files/images/000/000/628/original/livemint.jpg?1471424235" alt="">
                        <div class="media-content">
                          <h3 class="media-heading">JetSetGo raises funds from Puneet Dalmia</h3>
                          <p class="media-content">Private jet and helicopter operator Jetsetgo Aviation Services Pvt.</p>
                        </div>
                        <a class="media-readmore" target="_blank" href="http://www.hindustantimes.com/health-and-fitness/air-ambulance-services-take-off-in-india-but-not-fast-enough/story-XeSrCic5Zyrkt9CgOZVRQL.html">Read More</a>
                      </div>
                    </div>
                    <!--/row-->
                  </div>
                  <!--/item-->
                </div>
                <!--/carousel-inner-->
              </div>
              <div class="col-sm-1 col-xs-2">
                <a class="left carousel-control controller-arrow" href="javascript:void(0)" data-target="#myCarousel2" data-slide="next"><i class="fa fa-chevron-right fa-4"></i></a>
              </div>
            </div>
          </div>
          <!--/myCarousel-->
        </div>
        <!--/well-->
      </div>
    </div>
  </div>
  <div class="text-center">
    <a class="view_more_btn" href="media">View More</a>
  </div>
</div>
<!-- jetsetgo media con finish -->

<!-- jetsetgo app con start -->
<div class="jetsteel-app">
  <div class="section-heading">
    <div class="container">
      <img class="img-responsive" src="http://d3tfanr7troppj.cloudfront.net/static_files/images/000/000/645/original/jetstealsapp.png?1471512555" alt="">
    </div>
  </div>
  <div class="app-main">
    <div class="container">
      <div class="row">
        <div class="col-sm-7">
          <div class="app-content">
            <p>Through our JetSteals™ platform you can experience the joy of flying private and networking with like minded people like never before- at 30,000 feet! Simply pick an aircraft or sector of your choice, choose between having the whole aircraft to yourself or just a seat and pay in 3 simple steps. The new ordinary in flying!</p>
            <a target="_blank" href="https://itunes.apple.com/us/app/jetsteals/id1078158963?ls=1&mt=8"><img src="http://d3tfanr7troppj.cloudfront.net/static_files/images/000/000/600/original/app_store_icon.png?1470986703" alt=""></a>
          </div>
        </div>
        <div class="col-sm-5">
          <div class="app-img-con">
            <img src="http://d3tfanr7troppj.cloudfront.net/static_files/images/000/000/602/original/JetStelas-1.png?1471008463" class="img-responsive" alt="" border="0">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- jetsetgo app con finish -->

<%#= javascript_include_tag 'vendors/bg-slider/bar' %>
<%#= javascript_include_tag 'vendors/bg-slider/vegas.min.js' %>
<%#= javascript_include_tag 'vendors/bg-slider/slider_vegas_app.min.js' %>