<script type="text/ng-template" id="airportsTypeAhead.html">
  <a>
    <span ng-bind-html="match.model.label | uibTypeaheadHighlight:query"></span>
  </a>
</script>

<script type="text/javascript" charset="utf-8">
    $('#myCarousel2').carousel({
        interval: false
    });
    $(document).ready(function(){
        setTimeout(function(){
            $( '#carousel_slider span.glyphicon-chevron-left' ).addClass( 'fa fa-chevron-left fa-4' );
            $( '#carousel_slider span.glyphicon-chevron-right' ).addClass( 'fa fa-chevron-right fa-4');
            $('span.fa').css('display', 'inline-block')
        },3000);
        //    $('span.glyphicon span.glyphicon-chevron-left').replaceWith('.fa .fa-chevron-left .fa-4');
        $(".owl-carousel").owlCarousel({
            loop:true,
            margin:10,
            responsiveClass:true,
            responsive:{
                0:{
                    items:1,
                    nav:true
                },
                600:{
                    items:2,
                    nav:true
                },
                990:{
                    items:3,
                    nav:true
                },
                1100:{
                    items:5,
                    nav:true,
                }
            }
        });
    });

    //    $(window).load(function(){
    //        $('#spinner').fadeOut('slow');
    //    });
</script>

<!--script type="text/javascript">
  function cycleImages(){
      var $active = $('#background_cycler .active');
      var $next = ($('#background_cycler .active').next().length > 0) ? $('#background_cycler .active').next() : $('#background_cycler .img:first');
      $next.css('z-index',2);//move the next image up the pile
      $active.fadeOut(1000,function(){//fade out the top image
        $active.css('z-index',1).show().removeClass('active');//reset the z-index and unhide the image
        $next.css('z-index',3).addClass('active');//make the next image the top one
      });
    }

    $(window).load(function(){
      $('#background_cycler').fadeIn(1000);//fade the background back in once all the images are loaded
      // run every 5s
      setInterval('cycleImages()', 3000);
    })
</script-->
<div id="spinner" ng-show="ctrl.loading" ></div>
<div class="minimum_height" ng-show="ctrl.active_min_height"></div>
<!-- top header search con start -->
<div class="top-header-search-con" id="paginate-slide-1">
  <div class="homepage">

    <div class="homepage-header">
    </div>
    <div class="container header-container">
      <!-- search con start -->
      <div class="search-main-con">
        <div class="col-xs-12 no-padding-left">
          <div class="search_alpha">
            <span class="search-main-form autocomplete-height" ng-repeat="activity in ctrl.activities">
              <span class="search-form">
                <span class="search-icon departure-icon">
                  <img class="img-responsive" src="http://d3tfanr7troppj.cloudfront.net/static_files/images/000/000/354/original/departure.png?1468494153" alt="">
                </span>
                <input class="search-textfield text-white" title="Departure Airport"
                       ng-disabled="$index+1 < ctrl.activities.length"
                       ng-keydown ="ctrl.clear_text($event)"
                       placeholder="Departure"
                       autocomplete="off"
                       typeahead-editable="false"
                       typeahead-select-on-exact="true"
                       typeahead-template-url="airportsTypeAhead.html"
                       ng-model="activity.departure_airport"
                       uib-typeahead="airport as airport.label for airport in ctrl.airports | filter:{label:$viewValue}"
                       type="text"
                       typeahead-min-length="0">
              </span>
              <span class="search-form">
                <span class="search-icon">
                  <img class="img-responsive" src="http://d3tfanr7troppj.cloudfront.net/static_files/images/000/000/352/original/arrival.png?1468494122" alt="">
                </span>
                <input class="search-textfield text-white" title="Arrival Airport"
                       ng-disabled="$index+1 < ctrl.activities.length"
                       placeholder="Arrival"
                       autocomplete="off"
                       typeahead-editable="false"
                       typeahead-select-on-exact="true"
                       typeahead-template-url="airportsTypeAhead.html"
                       ng-model="activity.arrival_airport"
                       uib-typeahead="airport as airport.label for airport in ctrl.airports | filter:{label:$viewValue}"
                       type="text"
                       typeahead-min-length="0">
              </span>
              <span class="search-form">
                <span class="search-icon">
                  <img class="img-responsive" src="http://d3tfanr7troppj.cloudfront.net/static_files/images/000/000/356/original/pax.png?1468494207" alt="">
                </span>
                <input class="search-textfield text-white"
                       autocomplete="off"
                       typeahead-editable="false"
                       typeahead-select-on-exact="true"
                       ng-model="activity.pax"
                       uib-typeahead="pax for pax in ['1','2','3', '4', '5', '6', '7', '8', '9', '10', '11', '12', '13', '14', '15', '16', '17', '18', '19', '20', '21', '22', '23', '24', '25', '26', '27', '28', '29', '30', '31', '32', '33', '34', '35', '36', '37'] | filter:$viewValue"
                       type="text"
                       typeahead-min-length="0"
                       placeholder="Pax">
              </span>
              <span class="search-form">
                <span class="search-icon">
                  <img class="img-responsive" src="http://d3tfanr7troppj.cloudfront.net/static_files/images/000/000/353/original/clock.png?1468494135" alt="">
                </span>
                <div class="dropdown datetimepicker-holder search-textfield">
                  <a role="button" data-toggle="dropdown" ng-class="ctrl.formatTime(activity.start_at) != 'Click to choose time' ? 'white-color' : ''" data-target="#" href="Javascript:void(0)"><i class="fa"></i> {{ctrl.formatTime(activity.start_at)}}</a>
                  <ul class="dropdown-menu dropdown-celender" role="menu">
                    <datetimepicker
                    data-on-set-time="ctrl.onSetTime(newDate, oldDate, $index)"
                    data-before-render="ctrl.beforeRenderDate($view, $dates, $leftDate, $upDate, $rightDate, $index)"
                    datetimepicker-config="{ dropdownSelector: '.fa', minView:'minute', minuteStep: 15 }"
                    ng-model="activity.start_at"></datetimepicker>
                  </ul>
                </div>
              </span>
              <!--{{$index}}-{{ctrl.activities.length}} ,{{$index > 0}}-{{ $index == ctrl.activities.length - 1}}-->
              <a href="javascript:void(0)" class="cross-icon" ng-show="(($index > 0) && ($index == ctrl.activities.length - 1))">
                <!--<i class="fa fa-times-circle-o hidden-lg hidden-md" aria-hidden="true" ng-click="ctrl.removeActivity($index)"></i>-->
                <span class="" ng-click="ctrl.removeActivity($index)">Remove</span>
              </a>
            </span>
            <a class="click-btn" ng-click="ctrl.create()" href="">Search</a>
            <div class="clearfix hidden-md hidden-sm hidden-xs"></div>
            <a class="click-btn" href="" ng-show="ctrl.activities.length <= 1" ng-click="ctrl.addRoundTrip()">Round Trip
              <img src="http://d3tfanr7troppj.cloudfront.net/static_files/images/000/000/437/original/roundtrip.png?1469620071" style="margin-left: 5px;" height="25" alt="">
            </a>
            <a ng-if="ctrl.activities.length < 5" class="click-btn" href=""  ng-click="ctrl.addActivity()">Add Trip <img src="http://d3tfanr7troppj.cloudfront.net/static_files/images/000/000/351/original/addtrip.png?1468494102" height="25"></a>
          </div>
        </div>
      </div>
      <!-- search con finish -->
    </div>
  </div>
</div>
<!-- top header search con finish -->

<!-- jetsteal con start -->
<div class="jetsteel-main-con" id="paginate-slide-2" ng-init="ctrl.load_jetsteals()" ng-show="ctrl.jetsteals.length > 0">
  <!--<div class="section-heading">-->
    <!--<div class="container">-->
      <!--<img class="img-responsive" src="http://d3tfanr7troppj.cloudfront.net/static_files/images/000/001/118/original/jetsteals.png?1482819516" alt="">-->
    <!--</div>-->
  <!--</div>-->
  <div class="jetsteal-slider-con">
    <div class="container">
      <div class="row">
        <div class="col-md-5 col-sm-6 col-xs-12">
          <h2 class="section-main-heading">Jet<span class="scnd-text">Steals</span></h2>
          <h4 class="section-sub-heading">THE NEW GENERATION OF PRIVATE AVIATION</h4>
          <div class="gap"></div>
          <p class="section-content">
            JetSteals™, grants you the opportunity to enjoy the luxury and convenience of flying private, at commercial prices. A platform, initiated to provide the unique privilege to choose between a single seat or an entire aircraft, we aim to redefine the perception of private aviation. Entirely customisable experiences, with an efficient, hassle-free 3-step payment process.
          </p>
          <a class="click-btn" href="/jetsteals/list" target="_blank">View More</a>
        </div>

        <div class="col-md-7 col-sm-6 col-xs-12">
          <div uib-carousel active="active" no-wrap="false" id="carousel_slider">
            <!--<div uib-slide ng-repeat="jetsteal in ctrl.jetsteals track by jetsteal.id" style="text-align: left;">-->
            <div uib-slide ng-repeat="jetsteal in ctrl.jetsteals | orderBy:['sold_out']" style="text-align: left;">

              <div class="border-con" style="position:relative;">
                <div class="bg sold_out" ng-show="jetsteal.sold_out">
                  <div class="col-md-8 col-sm-12 col-xs-12" style="padding: 0;">
                    <p>SOLD OUT</p>
                  </div>
                </div>
                <div class="col-xs-12 emptyleg_image">
                  <img class="img-responsive" ng-src="{{jetsteal.aircraft.interior_image_original}}" style="margin:auto;">
                </div>
                <div class="col-xs-12 emptyleg_detail">
                  <div class="">
                    <div class="col-sm-4">
                      <h2 class="aircraft_name">{{jetsteal.aircraft.aircraft_type.name}}</h2>
                      <h5 class="engine_type">{{jetsteal.aircraft.aircraft_type.aircraft_category.name}}</h5>
                      <a class="click-btn" href="/jetsteals/list" target="_self" ng-if="!jetsteal.sold_out">{{jetsteal.sell_by_seats ? 'Book a Seat' : 'Book a Jet'}}</a>
                    </div>
                    <div class="col-sm-8">
                      <div class="jetsteal-location">
                        <div class="row">
                          <div class="col-sm-4 col-xs-4 data">
                            <h4>{{jetsteal.departure_airport.city.name}}</h4>
                            <p>{{jetsteal.sell_by_seats ? jetsteal.flight_start_time.split(',')[1] : ''}}</p>
                            <p>{{jetsteal.flight_start_time.split(',')[0]}}</p>
                          </div>
                          <div class="col-sm-4 col-xs-4 data text-center">
                            <p>{{jetsteal.sell_by_seats ? 'Members fly free' : 'Any Time' }}</p>
                          </div>
                          <div class="col-sm-4 col-xs-4 data text-right">
                            <h4>{{jetsteal.arrival_airport.city.name}}</h4>
                            <p>{{jetsteal.sell_by_seats ? jetsteal.flight_end_time.split(',')[1] : ''}}</p>
                            <p class="pax-txt"><b>Pax:</b> {{jetsteal.aircraft.seating_capacity}}</p>
                          </div>
                        </div>
                      </div>
                      <h4 class="estimated-price text-center" ng-hide="jetsteal.sold_out"><i class="fa fa-inr"></i> {{jetsteal.sell_by_seats ? jetsteal.min_seat_cost : jetsteal.cost | currency:'':0 | indianCurrency}} <span class="text">
                          {{ jetsteal.sell_by_seats ? 'Starting Price' : '' }}
                          </span>
                      </h4>
                      <div class="detail-link-con">
                        <a href="javascript:void(0)" target="_self" ng-if="jetsteal.sold_out"> <i class="fa fa-hourglass-o"></i> Sold out </a>
                      </div>
                    </div>
                    <div class="clearfix"></div>
                  </div>
                </div>
                <div class="clearfix"></div>
              </div>
              <div class="clearfix"></div>
            </div>
          </div>
          <div class="col-md-offset-1 col-md-10 col-sm-12 col-xs-12 emptyleg_content">
            <!-- <p class="member-content">Fly free, choose your own seat <b>Become a Member</b></p> -->
          </div>
          <div class="clearfix"></div>
        </div>
        <div class="col-md-1"></div>
      </div>
    </div>

  </div>
</div>

<!-- jetsetgo services con start -->
<div class="services_main_con" id="paginate-slide-3">
  <div class="container responsive-bg">
    <div class="service-heading">
      <h2 class="section-main-heading">JetSetGo<span class="scnd-text">Extras</span></h2>
      <h4 class="section-sub-heading">Your Right Flight Guide</h4>
    </div>
  </div>
  <div class="services-widget">
    <div class="col-md-3 col-sm-6 col-xs-12 overflow-hidden no-padding-both">
      <div class="widget yatra-bg">
        <div class="gap"></div>
        <div class="gap"></div>
        <h3>JetSetYatra&trade;</h3>
        <p class="section-content">A platform focused on ensuring utmost comfort and convenience when you embark upon any pilgrimage. JetSetYatra™ endeavours to fly you to even the remotest locations. We aim to facilitate a journey that is  not only peaceful, but also time efficient and seamless</p>
      </div>
    </div>
    <div class="col-md-3 col-sm-6 col-xs-12 overflow-hidden no-padding-both">
      <div class="widget wedding-bg">
        <div class="gap"></div>
        <div class="gap"></div>
        <h3>JetSetWed&trade;</h3>
        <p class="section-content">A must-have on your checklist, JetSetWed™ is the ticket to your special wedding destination. Adorn your big day with that extra sparkle and fly private, with us. Whether it is an intimate affair or a grand celebration, JetSetWed™ offers unparalleled services.</p>
      </div>
    </div>
    <div class="col-md-3 col-sm-6 col-xs-12 overflow-hidden no-padding-both">
      <div class="widget heli-bg">
        <div class="gap"></div>
        <div class="gap"></div>
        <h3>HeliSetGo&trade;</h3>
        <p class="section-content">JetSetGo’s fleet of helicopters undergo 29 more safety checks than any other helicopter operators. With single and twin engine helicopters at your disposal, HeliSetGo™ ensures unprecedented services. We are trusted by individuals and corporates from a varied number of fields. Board one of our helicopters to travel to a destination or to enjoy a ride over your city. </p>
      </div>
    </div>
    <div class="col-md-3 col-sm-6 col-xs-12 overflow-hidden no-padding-both">
      <div class="widget rescue-bg">
        <div class="gap"></div>
        <div class="gap"></div>
        <h3>JetSetRescue&trade;</h3>
        <p class="section-content">JetsSetGo boasts the widest range of modified aircrafts and helicopters installed with Advanced Life Support Systems. We are here to assist you through the gravest of situations. From evacuations to emergency medical assistance, JetSetRescue aims to cover and assist all spheres, in times of emergency and crisis.</p>
      </div>
    </div>
    <div class="clearfix"></div>
  </div>
</div>
<!-- jetsetgo services con finish -->

<!-- jetsetgo fleet con start -->
<div class="fleet_main_con" id="paginate-slide-4">
  <div class="fleet-widget">
    <div class="container">
      <div class="gap"></div>
      <h2 class="section-main-heading">JetSetGo<span class="scnd-text">Fleet</span></h2>
      <h4 class="section-sub-heading">YOUR RIGHT-FLIGHT GUIDE</h4>
      <div class="row">
        <div class="col-xs-12">
          <div id="wrapper">
            <div id="carousel">
              <div>
                <img src="http://d3tfanr7troppj.cloudfront.net/static_files/images/000/001/175/original/Turbo_Prop.png?1485251014" alt="fruit1" />
                <h3 class="text-right">Turboprop</h3>
                <p class="text-right"><a href="#">Read More</a></p>
              </div>
              <div>
                <img src="http://d3tfanr7troppj.cloudfront.net/static_files/images/000/001/173/original/Light_Jet.png?1485250950" alt="fruit2" />
                <h3 class="text-right">Light Jet</h3>
                <p class="text-right"><a href="#">Read More</a></p>
              </div>
              <div>
                <img src="http://d3tfanr7troppj.cloudfront.net/static_files/images/000/001/174/original/Midsize_Jet.png?1485250973" alt="fruit3" />
                <h3 class="text-right">Midsize Jet</h3>
                <p class="text-right"><a href="#">Read More</a></p>
              </div>
              <div>
                <img src="http://d3tfanr7troppj.cloudfront.net/static_files/images/000/001/172/original/Large_Jet.png?1485250934" alt="fruit4" />
                <h3 class="text-right">Large Jet</h3>
                <p class="text-right"><a href="#">Read More</a></p>
              </div>
              <div>
                <img src="http://d3tfanr7troppj.cloudfront.net/static_files/images/000/001/171/original/airliner-2.png?1485250899" alt="fruit5" />
                <h3 class="text-right">Airliner</h3>
                <p class="text-right"><a href="#">Read More</a></p>
              </div>
              <div>
                <img src="http://d3tfanr7troppj.cloudfront.net/static_files/images/000/001/166/original/Helicopter-PNG.png?1484991394" alt="fruit6" />
                <h3 class="text-right">Helicopter</h3>
                <p class="text-right"><a href="#">Read More</a></p>
              </div>
            </div>
          </div>
          <!--<div class="row">-->
            <!--<div class="col-xs-12">-->
              <!-- -->
            <!--</div>-->
            <!--<div class="col-md-4 col-sm-6 col-xs-12">-->
              <!--<div class="widget">-->
                <!--<div class="text-center">-->
                  <!--<img src="http://d3tfanr7troppj.cloudfront.net/static_files/images/000/001/088/original/trouboprop.png?1480312185" alt="" class="img-responsive">-->
                <!--</div>-->
                <!--<div class="widget_heading_con text-center">-->
                  <!--<h3>Turboprop</h3>-->
                  <!--<a href="/turboprop">View Details</a>-->
                <!--</div>-->
              <!--</div>-->
            <!--</div>-->
            <!--<div ng-if="aircraft_category.name != 'Twin Engine Turboprop' && aircraft_category.name != 'Single Engine Turbo'" class="col-md-4 col-sm-6 col-xs-12" ng-repeat="aircraft_category in ctrl.aircraft_categories">-->
              <!--<div class="widget">-->
                <!--<div class="text-center">-->
                  <!--<img ng-src="{{aircraft_category.image}}" alt="" class="img-responsive">-->
                <!--</div>-->
                <!--<div class="widget_heading_con text-center">-->
                  <!--<h3>{{aircraft_category.name}}</h3>-->
                  <!--<a ng-href="/our_fleet/{{aircraft_category.id}}">View Details</a>-->
                <!--</div>-->
              <!--</div>-->
            <!--</div>-->
            <!--<div class="col-md-4 col-sm-6 col-xs-12">-->
              <!--<div class="widget">-->
                <!--<div class="text-center">-->
                  <!--<img src="http://d3tfanr7troppj.cloudfront.net/static_files/images/000/001/084/original/helicopter.png?1480312076" alt="" class="img-responsive">-->
                <!--</div>-->
                <!--<div class="widget_heading_con text-center">-->
                  <!--<h3>Helicopter</h3>-->
                  <!--<a href="/helicopter_fleet">View Details</a>-->
                <!--</div>-->
              <!--</div>-->
            <!--</div>-->
          <!--</div>-->
        </div>
      </div>
    </div>
  </div>
</div>
<!-- jetsetgo fleet con finish -->

<!-- jetsetgo media con start -->
<div class="news-media-main-con" id="paginate-slide-5">
  <div class="media-slider-con">
    <div class="container">
      <div class="gap"></div>
      <div class="gap inherit-gap"></div>
      <h2 class="section-main-heading">Jet<span class="scnd-text">Steals</span></h2>
      <h4 class="section-sub-heading">THE NEW GENERATION OF PRIVATE AVIATION</h4>
      <div class="gap inherit-gap"></div>
      <a class="click-btn" href="media">View More</a>
      <div class="gap"></div>
      <div class="media-con">
        <div class="col-xs-12">
          <div class="owl-carousel">
            <div class="media-text">
              <img class="img-responsive" src="http://d3tfanr7troppj.cloudfront.net/static_files/images/000/001/005/original/dtNext.png?1479465998" alt="">
              <div class="media-content">
                <h3 class="media-heading">Clear skies ahead for India’s booming civil aviation sector</h3>
                <p class="media-content">Civil Aviation in India refers to aviation industry of India which traces its origin back to 1911.</p>
                <div class="text-right share-media">
                  <a href=""><i class="fa fa-facebook" aria-hidden="true"></i></a>
                  <i class="fa fa-twitter" aria-hidden="true"></i>
                  <i class="fa fa-linkedin" aria-hidden="true"></i>
                </div>
              </div>
              <a class="media-readmore" target="_blank" href="http://www.dtnext.in/News/National/2016/09/30213013/Clear-skies-ahead-for-Indias-booming-civil-aviation.vpf">Read More</a>
            </div>
            <div class="media-text">
              <img class="img-responsive" src="http://d3tfanr7troppj.cloudfront.net/static_files/images/000/001/111/original/cnnmoney.png?1482752881" alt="">
              <div class="media-content">
                <h3 class="media-heading">Business class or private jet? This young Indian entrepreneur can help</h3>
                <p class="media-content">More rich Indians are flying than ever before, and many of them are choosing the ultimate in luxury</p>
                <div class="text-right share-media">
                  <a href=""><i class="fa fa-facebook" aria-hidden="true"></i></a>
                  <i class="fa fa-twitter" aria-hidden="true"></i>
                  <i class="fa fa-linkedin" aria-hidden="true"></i>
                </div>
              </div>
              <a class="media-readmore" target="_blank" href="http://money.cnn.com/2016/11/28/news/india/india-jetsetgo-kanika-tekriwal/index.html?sr=fbcnni112916india-jetsetgo-kanika-tekriwal0340AMVODtopVideo&linkId=31679977">Read More</a>
            </div>
            <div class="media-text">
              <img class="img-responsive" src="http://d3tfanr7troppj.cloudfront.net/static_files/images/000/001/112/original/littleblackbook.png?1482752906" alt="">
              <div class="media-content">
                <h3 class="media-heading">This Awesome Startup Will Have You Living the #GoodLife, High in the Sky</h3>
                <p class="media-content">If you haven’t heard of JetSetGo, chances are, like us, you’re snoozing through an Economy seat.</p>
                <div class="text-right share-media">
                  <a href=""><i class="fa fa-facebook" aria-hidden="true"></i></a>
                  <i class="fa fa-twitter" aria-hidden="true"></i>
                  <i class="fa fa-linkedin" aria-hidden="true"></i>
                </div>
              </div>
              <a class="media-readmore" target="_blank" href="https://lbb.in/bangalore/awesome-startup-will-living-goodlife-high-sky/">Read More</a>
            </div>
            <div class="media-text">
              <img class="img-responsive" src="http://d3tfanr7troppj.cloudfront.net/static_files/images/000/001/113/original/smallbiz.png?1482752934" alt="">
              <div class="media-content">
                <h3 class="media-heading">Delhi to Mumbai for Rs 10k on private jet? JetSetGo is making it possible</h3>
                <p class="media-content">Ever soared like a bird in your dreams? Or longed to fly through the air in your own private jet?</p>
                <div class="text-right share-media">
                  <a href=""><i class="fa fa-facebook" aria-hidden="true"></i></a>
                  <i class="fa fa-twitter" aria-hidden="true"></i>
                  <i class="fa fa-linkedin" aria-hidden="true"></i>
                </div>
              </div>
              <a class="media-readmore" target="_blank" href="http://economictimes.indiatimes.com/small-biz/startups/delhi-to-mumbai-for-rs-10k-on-private-jet-jetsetgo-is-making-it-possible/articleshow/55889979.cms">Read More</a>
            </div>
            <div class="media-text">
              <img class="img-responsive" src="http://d3tfanr7troppj.cloudfront.net/static_files/images/000/001/013/original/entrepreneurindia.png?1479468829" alt="">
              <div class="media-content">
                <h3 class="media-heading">It's Diwali In India But For Entrepreneurs 'The Show Must Go On'</h3>
                <p class="media-content">Unlike the western countries, India has 'festive seasons' coming up every two-three months.</p>
                <div class="text-right share-media">
                  <a href=""><i class="fa fa-facebook" aria-hidden="true"></i></a>
                  <i class="fa fa-twitter" aria-hidden="true"></i>
                  <i class="fa fa-linkedin" aria-hidden="true"></i>
                </div>
              </div>
              <a class="media-readmore" target="_blank" href="http://www.forbes.com/sites/ralphjennings/2016/09/08/sidelining-china-taiwan-turns-to-investment-in-tough-but-eager-india-2/#52588a225599">Read More</a>
            </div>
            <div class="media-text">
              <img class="img-responsive" src="http://d3tfanr7troppj.cloudfront.net/static_files/images/000/001/014/original/forbesindia.png?1479468856" alt="">
              <div class="media-content">
                <h3 class="media-heading">Taiwan Is Sidestepping China To Bid For India's Tough</h3>
                <p class="media-content">Defense contracts, infrastructure and consumer goods are tipped to bring returns to investors.</p>
                <div class="text-right share-media">
                  <a href=""><i class="fa fa-facebook" aria-hidden="true"></i></a>
                  <i class="fa fa-twitter" aria-hidden="true"></i>
                  <i class="fa fa-linkedin" aria-hidden="true"></i>
                </div>
              </div>
              <a class="media-readmore" target="_blank" href="http://www.forbes.com/sites/ralphjennings/2016/09/08/sidelining-china-taiwan-turns-to-investment-in-tough-but-eager-india-2/#52588a225599">Read More</a>
            </div>
            <div class="media-text">
              <img class="img-responsive" src="http://d3tfanr7troppj.cloudfront.net/static_files/images/000/001/015/original/forbesunder30.png?1479468891" alt="">
              <div class="media-content">
                <h3 class="media-heading">Tekriwal founded JetSetGo</h3>
                <p class="media-content">Tekriwal founded JetSetGo, an India-based private jet concierge service that links passengers to planes through an online marketplace.</p>
                <div class="text-right share-media">
                  <a href=""><i class="fa fa-facebook" aria-hidden="true"></i></a>
                  <i class="fa fa-twitter" aria-hidden="true"></i>
                  <i class="fa fa-linkedin" aria-hidden="true"></i>
                </div>
              </div>
              <a class="media-readmore" target="_blank" href="http://www.forbes.com/30-under-30-asia-2016/retail-ecommerce/#540ade2e1016">Read More</a>
            </div>
            <div class="media-text">
              <img class="img-responsive" src="http://d3tfanr7troppj.cloudfront.net/static_files/images/000/001/014/original/forbesindia.png?1479468856" alt="">
              <div class="media-content">
                <h3 class="media-heading">With JetSetGo all operators are put on the same platform</h3>
                <p class="media-content">About three months ago, a Gulfstream G650, a leading luxury business jet,</p>
                <div class="text-right share-media">
                  <a href=""><i class="fa fa-facebook" aria-hidden="true"></i></a>
                  <i class="fa fa-twitter" aria-hidden="true"></i>
                  <i class="fa fa-linkedin" aria-hidden="true"></i>
                </div>
              </div>
              <a class="media-readmore" target="_blank" href="http://forbesindia.com/article/best-things-money-can-buy/jetsetgo-the-uber-of-indian-skies/41417/1">Read More</a>
            </div>
            <div class="media-text">
              <img class="img-responsive" src="http://d3tfanr7troppj.cloudfront.net/static_files/images/000/001/052/original/bbcnews.png?1479543963" alt="">
              <div class="media-content">
                <h3 class="media-heading">Ms. Kanika Tekriwal CEO JetSetGo on BBC World&#39;s</h3>
                <p class="media-content">Ms. Kanika Tekriwal Chief Executive Oficer, JetSetGo one of the 30 under 30 global entrepreneurs chosen by BBC. </p>
                <div class="text-right share-media">
                  <a href=""><i class="fa fa-facebook" aria-hidden="true"></i></a>
                  <i class="fa fa-twitter" aria-hidden="true"></i>
                  <i class="fa fa-linkedin" aria-hidden="true"></i>
                </div>
              </div>
              <a class="media-readmore" target="_blank" href="https://www.youtube.com/watch?v=MCgCcAGt_h0&amp;feature=youtu.be">Read More</a>
            </div>
            <div class="media-text">
              <img class="img-responsive" src="http://d3tfanr7troppj.cloudfront.net/static_files/images/000/001/053/original/CNBC18.png?1479544229" alt="">
              <div class="media-content">
                <h3 class="media-heading">JetSetGo Coverage in CNBC TV</h3>
                <p class="media-content">It’s often said that it’s lonely at the top, but the reality is that it’s lonely at the start too! In this segment we dive into a no-holds barred conversation with three startup founders.</p>
                <div class="text-right share-media">
                  <a href=""><i class="fa fa-facebook" aria-hidden="true"></i></a>
                  <i class="fa fa-twitter" aria-hidden="true"></i>
                  <i class="fa fa-linkedin" aria-hidden="true"></i>
                </div>
              </div>
              <a class="media-readmore" target="_blank" href="https://www.youtube.com/watch?v=hB-8hA_RBUA&feature=youtu.be">Read More</a>
            </div>
            <div class="media-text">
              <img class="img-responsive" src="http://d3tfanr7troppj.cloudfront.net/static_files/images/000/001/011/original/forbes.png?1479468786" alt="">
              <div class="media-content">
                <h3 class="media-heading">As Sharing Economy Starts To Trump Superstition,</h3>
                <p class="media-content">When Kanika Tekriwal started her private jet sharing service two years ago in India,</p>
                <div class="text-right share-media">
                  <a href=""><i class="fa fa-facebook" aria-hidden="true"></i></a>
                  <i class="fa fa-twitter" aria-hidden="true"></i>
                  <i class="fa fa-linkedin" aria-hidden="true"></i>
                </div>
              </div>
              <a class="media-readmore" target="_blank" href="http://www.forbes.com/forbes/welcome/">Read More</a>
            </div>
            <div class="media-text">
              <img class="img-responsive" src="http://d3tfanr7troppj.cloudfront.net/static_files/images/000/001/013/original/entrepreneurindia.png?1479468829" alt="">
              <div class="media-content">
                <h3 class="media-heading">How JetSetGo's Co-founder Is Combating Gender Inequality</h3>
                <p class="media-content">"This had made me rather worried about how delusional my views on gender bias at the workplace were.</p>
                <div class="text-right share-media">
                  <a href=""><i class="fa fa-facebook" aria-hidden="true"></i></a>
                  <i class="fa fa-twitter" aria-hidden="true"></i>
                  <i class="fa fa-linkedin" aria-hidden="true"></i>
                </div>
              </div>
              <a class="media-readmore" target="_blank" href="https://www.entrepreneur.com/article/279206">Read More</a>
            </div>
            <div class="media-text">
              <img class="img-responsive" src="http://d3tfanr7troppj.cloudfront.net/static_files/images/000/001/051/original/yourstory.png?1479469433" alt="">
              <div class="media-content">
                <h3 class="media-heading">Is your company’s female talent MIA?</h3>
                <p class="media-content">It was 2015, and there were seven men and just one woman in the business class of a 9 pm flight from Mumbai to Delhi.</p>
                <div class="text-right share-media">
                  <a href=""><i class="fa fa-facebook" aria-hidden="true"></i></a>
                  <i class="fa fa-twitter" aria-hidden="true"></i>
                  <i class="fa fa-linkedin" aria-hidden="true"></i>
                </div>
              </div>
              <a class="media-readmore" target="_blank" href="https://her.yourstory.com/female-talent-problem-0803">Read More</a>
            </div>
            <div class="media-text">
              <img class="img-responsive" src="http://d3tfanr7troppj.cloudfront.net/static_files/images/000/001/070/original/FEMINA.png?1479552338" alt="">
              <div class="media-content">
                <h3 class="media-heading">JetSetGo with Kanika Tekriwal</h3>
                <p class="media-content">The general  aviation (GA) industry in India is still underdeveloped compared to its global peers with GA</p>
                <div class="text-right share-media">
                  <a href=""><i class="fa fa-facebook" aria-hidden="true"></i></a>
                  <i class="fa fa-twitter" aria-hidden="true"></i>
                  <i class="fa fa-linkedin" aria-hidden="true"></i>
                </div>
              </div>
              <a class="media-readmore" target="_blank" href="http://www.femina.in/achievers/fly-with-me-4987.html">Read More</a>
            </div>
            <div class="media-text">
              <img class="img-responsive" src="http://d3tfanr7troppj.cloudfront.net/static_files/images/000/001/016/original/hindustantimes.png?1479468915" alt="">
              <div class="media-content">
                <h3 class="media-heading">Bhopal’s Kanika makes it to Forbes ‘30 under 30’ achievers list</h3>
                <p class="media-content">Meet Bhopal’s Kanika Tekriwal. At 27 her JetSetGo has contracts running into $20 million and manages</p>
                <div class="text-right share-media">
                  <a href=""><i class="fa fa-facebook" aria-hidden="true"></i></a>
                  <i class="fa fa-twitter" aria-hidden="true"></i>
                  <i class="fa fa-linkedin" aria-hidden="true"></i>
                </div>
              </div>
              <a class="media-readmore" target="_blank" href="http://www.hindustantimes.com/bhopal/bhopal-s-kanika-makes-it-to-forbes-30-under-30-achievers-list/story-nrVbgevJgU559RQGb1ZhSN.html">Read More</a>
            </div>
            <div class="media-text">
              <img class="img-responsive" src="http://d3tfanr7troppj.cloudfront.net/static_files/images/000/001/055/original/financial-express.png?1479544416" alt="">
              <div class="media-content">
                <h3 class="media-heading">Flying high</h3>
                <p class="media-content">If you’re a wealthy jetsetter, chances are that you have often been repelled by the outdated nature</p>
                <div class="text-right share-media">
                  <a href=""><i class="fa fa-facebook" aria-hidden="true"></i></a>
                  <i class="fa fa-twitter" aria-hidden="true"></i>
                  <i class="fa fa-linkedin" aria-hidden="true"></i>
                </div>
              </div>
              <a class="media-readmore" target="_blank" href="http://www.financialexpress.com/india-news/flying-high-2/220026/">Read More</a>
            </div>
            <div class="media-text">
              <img class="img-responsive" src="http://d3tfanr7troppj.cloudfront.net/static_files/images/000/001/013/original/entrepreneurindia.png?1479468829" alt="">
              <div class="media-content">
                <h3 class="media-heading">Flying High: These 4 entrepreneurs promise</h3>
                <p class="media-content">JetSetGo’s Kanika Tekriwal aims at bringing total transparency1 to her customers with zero harassment from intermediaries.</p>
                <div class="text-right share-media">
                  <a href=""><i class="fa fa-facebook" aria-hidden="true"></i></a>
                  <i class="fa fa-twitter" aria-hidden="true"></i>
                  <i class="fa fa-linkedin" aria-hidden="true"></i>
                </div>
              </div>
              <a class="media-readmore" target="_blank" href="https://www.entrepreneur.com/article/269925">Read More</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- jetsetgo media con finish -->

<!-- jetsetgo app con start -->
<div class="jetsteel-app" id="paginate-slide-6">
  <div class="app-main">
    <div class="container">
      <div class="gap"></div>
      <div class="gap"></div>
      <h2 class="section-main-heading">JetSetGo<span class="scnd-text">Mobile</span></h2>
      <h4 class="section-sub-heading">THE Ultimate Flight Experience at your Fingertips</h4>
      <div class="gap"></div>
      <div class="row">
        <div class="col-sm-6">
          <div class="app-content">
            <h4 class="section-sub-heading">Download the JetSteals&trade; App</h4>
            <p class="section-content">Download the JetSteals™App to be connected with all JetSteals™ related offers and services.Through the JetSteal App, we aim to provide worldwide, round-the-clock services, presenting to you the opportunity to book an exclusive, luxurious flight with just one tap.</p>
            <div class="gap inherit-gap"></div>
            <div class="col-md-4 col-sm-4 col-xs-6 text-center">
              <p class="section-content">JetSteals App</p>
              <a target="_blank" class="img-responsive" href="https://itunes.apple.com/us/app/jetsteals/id1078158963?ls=1&mt=8"><img src="http://d3tfanr7troppj.cloudfront.net/static_files/images/000/001/161/original/appdn_button.png?1484727531" alt=""></a>  
            </div>
            <div class="col-md-4 col-sm-4 col-xs-6 text-center">
              <p class="section-content">Customer App</p>
              <a target="_blank" class="img-responsive" href="https://itunes.apple.com/us/app/jetsteals/id1078158963?ls=1&mt=8"><img src="http://d3tfanr7troppj.cloudfront.net/static_files/images/000/001/161/original/appdn_button.png?1484727531" alt=""></a>  
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- jetsetgo app con finish -->

<div id="slide-numbers">
  <ul style="transform: translateY(-50%); top: 50%; position: fixed;">
    <% for i in 1..6 %>
        <li class="nav-circle paginate" data-paginate="paginate-slide-<%= i %>">
        </li>
    <% end %>
  </ul>
</div>
<script type="text/javascript">
  $(document).ready(function(){
    $('.paginate').first().addClass('active');
    $('.paginate').click(function(){
      var attribute = $(this).attr("data-paginate");
      $('html, body').animate({
        scrollTop: $('#'+attribute).offset().top
      }, 1000);
      $('.paginate').removeClass('active');
      $(this).addClass('active');
    });
    $(window).scroll(function(){
      var scroll = $(window).scrollTop();
      if (scroll < 600){
        $('.paginate').removeClass('active');
        $(".paginate[data-paginate='paginate-slide-1']").addClass('active');
      }
      else if(scroll >= 600 && scroll < 1200){
        $('.paginate').removeClass('active');
        $(".paginate[data-paginate='paginate-slide-2']").addClass('active');
      }
      else if(scroll >= 1200 && scroll < 1800){
        $('.paginate').removeClass('active');
        $(".paginate[data-paginate='paginate-slide-3']").addClass('active');
      }
      else if(scroll >= 1800 && scroll < 2400){
        $('.paginate').removeClass('active');
        $(".paginate[data-paginate='paginate-slide-4']").addClass('active');
      }
      else if(scroll >= 2400 && scroll < 3000){
        $('.paginate').removeClass('active');
          $(".paginate[data-paginate='paginate-slide-5']").addClass('active');
      }
      else if(scroll > 3000){
        $('.paginate').removeClass('active');
          $(".paginate[data-paginate='paginate-slide-6']").addClass('active');
      }
    });

    $(function() {
      var cssSmall = {
        width: 250,
        height: 150,
        marginTop: 75,
      };
      var cssMedium = {
        width: 420,
        height: 400,
        marginTop: 35
      };
      var cssLarge = {
        width: 470,
        height: 450,
        marginTop: 0
      };
      var aniConf = {
        queue: false,
        duration: 1000
      };
      $('#carousel')
        .children().css(cssSmall)
        .eq(1).css(cssMedium)
        .next().css(cssLarge)
        .next().css(cssMedium);

      $('#carousel').carouFredSel({
        width: '100%',
        height: 400,
        items: 3,
        scroll: {
          items: 1,
          duration: aniConf.duration,
          onBefore: function( data ) {
            //	0 [ 1 ] 2  3  4
            data.items.old.eq(1).animate(cssSmall, aniConf);
            //	0  1 [ 2 ] 3  4
            data.items.old.eq(2).animate(cssMedium, aniConf);
            // 0  1  2  [ 3 ] 4
            data.items.old.eq(3).animate(cssLarge, aniConf);

            //	0  1  2  3 [ 4 ]
            data.items.old.eq(4).animate(cssMedium, aniConf);
          }
        }
      });
    });
  });
</script>

<%= javascript_include_tag 'vendors/bg-slider/bar' %>
<%= javascript_include_tag 'vendors/bg-slider/vegas.min.js' %>
<%= javascript_include_tag 'vendors/bg-slider/slider_vegas_app.min.js' %>
