<!-- <a href="/about_us">About Us</a>
<a href="/jet_set_wed">JetSetWed™</a>
<a href="/heli_set_go">HeliSetGo™</a>
<a href="/jet_set_yatra">JetSetYatra™</a>
<a href="/media">Media™</a>
<a href="/jet_setters">JetSetters™</a>
<a href="/contact_us">Contact Us</a>
<a href="/our_edge">Our Edge</a>
<a href="/join_us">Join Us</a>
<a href="/organisations" target="_self">JetYouOwn™</a>
<a href="/terms_of_use">Terms of Use</a>
<a href="/privacy_policy">Privacy Policy</a> -->

<script type="text/ng-template" id="airportsTypeAhead.html">
  <a>
    <img src="" style="height: 50px;" ng-src="{{match.model.city.image}}">
    <span ng-bind-html="match.model.label | uibTypeaheadHighlight:query"></span>
  </a>
</script>

<!-- top header search con start -->
<div class="top-header-search-con">
  <!-- header start -->
  <header>
    <div class="col-md-2 logo-con">
      <img src="http://d3tfanr7troppj.cloudfront.net/static_files/images/000/000/136/original/jsg_logo.png?1460534509" class="img-responsive logo-img" />
    </div>
    <div class="right-header-con col-sm-10">
      <ul>
        <li><a href="#"><i class="fa fa-user" aria-hidden="true"></i> Guest</a></li>
        <li><a href="#">Contact</a></li>
        <li><a href="#">Services</a></li>
        <li><a href="#">Testimonial</a></li>
        <li><a href="#">About</a></li>
      </ul>
    </div>
  </header>
  <!-- header finish -->

  <!-- search con start -->
  <div class="search-main-con">
    <h2 class="col-xs-12">
      <span>Your</span>
      Private Jet
    </h2>
    <div class="col-xs-12">
      <div ng-repeat="activity in ctrl.activities">
      <input title="Departure Airport"
             ng-disabled="$index+1 < ctrl.activities.length"
             placeholder="Departure"
             autocomplete="off"
             typeahead-editable="false"
             typeahead-select-on-exact="true"
             typeahead-template-url="airportsTypeAhead.html"
             ng-model="activity.departure_airport"
             uib-typeahead="airport as airport.label for airport in ctrl.airports | filter:{label:$viewValue}"
             type="text">
      <input title="Arrival Airport"
             ng-disabled="$index+1 < ctrl.activities.length"
             placeholder="Arrival"
             autocomplete="off"
             typeahead-editable="false"
             typeahead-select-on-exact="true"
             typeahead-template-url="airportsTypeAhead.html"
             ng-model="activity.arrival_airport"
             uib-typeahead="airport as airport.label for airport in ctrl.airports | filter:{label:$viewValue}"
             type="text">
      <div class="dropdown datetimepicker-holder">
        <a role="button" data-toggle="dropdown" data-target="#" href="Javascript:void(0)"><i class="fa fa-calendar"></i> {{ctrl.formatTime(activity.start_at)}}</a>
        <ul class="dropdown-menu" role="menu">
          <datetimepicker
              data-on-set-time="ctrl.onSetTime(newDate, oldDate, $index)"
          data-before-render="ctrl.beforeRenderDate($view, $dates, $leftDate, $upDate, $rightDate, $index)"
          datetimepicker-config="{ dropdownSelector: '.fa-calendar' }"
          ng-model="activity.start_at"></datetimepicker>
        </ul>
      </div>
      <input type="number"
             ng-disabled="$index+1 < ctrl.activities.length"
             ng-model="activity.pax"
             placeholder="Pax">
      <a href="" ng-show="$index > 0" ng-click="ctrl.removeActivity($index)">remove</a>
    </div>
    </div>
  </div>
  <!-- search con finish -->

</div>
<!-- top header search con finish -->

  <div class="col-sm-12">
    
    <a ng-click="ctrl.create()" href="">Search</a>
    <a href="" ng-click="ctrl.addActivity()">Add Trip</a>
  </div>
