<script type="text/ng-template" id="airportsTypeAhead.html">
  <a>
    <img src="" style="height: 50px;" ng-src="{{match.model.city.image}}">
    <span ng-bind-html="match.model.label | uibTypeaheadHighlight:query"></span>
  </a>
</script>

<!-- top header search con start -->
<div class="top-header-search-con">
  <div class="container header-container">
    <!-- header start -->
    <div>
      <nav ng-hide="ctrl.isFromMobile" id="header" class="navbar navbar-default home-header header">
        <div class="container-fluid">
          <div class="navbar-header navbar-responsive">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <div class="row responsive-no-margin">
              <div class="col-lg-2 col-md-2 col-sm-2 logo-main-con">
                <a class="logo-img" href="/"><img class="img-responsive" src="http://d3tfanr7troppj.cloudfront.net/static_files/images/000/000/023/original/JSG-main-logo-db779e87994672c825f333c07a75d7d2_%281%29.png?1453111090" /></a>
              </div>
              <div id="bs-example-navbar-collapse-1" class="collapse navbar-collapse res-header navbar-hidden">
                <div class="col-sm-10 col-xs-12 right-nav pull-right">
                  <ul class="nav navbar-nav navbar-right">
                    <li>
                      <a ng-click="ctrl.signIn()" ng-hide="ctrl.currentUser" class="no-right-padding" href=""><i class="fa fa-user" aria-hidden="true"></i> Guest</a>
                      <a ng-show="ctrl.currentUser" class="no-right-padding" href="">{{ctrl.currentUser.full_name}}</a>
                    </li>
                    <li><a href="/contact_us">Contact</a></li>
                    <li><a href="#">Services</a></li>
                    <li><a href="#">Testimonial</a></li>
                    <li><a href="/about_us">About</a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>

        </div>
      </nav>
    </div>
    <!-- header finish -->

    <!-- search con start -->
    <div class="search-main-con">
      <h2 class="col-xs-12">
        <span>Your</span>Private Jet
      </h2>
      <div class="col-xs-12">
        <span class="search-main-form" ng-repeat="activity in ctrl.activities">
          <span class="search-form">
            <span class="search-icon departure-icon"></span>
            <input class="search-textfield text-white" title="Departure Airport"
                   ng-disabled="$index+1 < ctrl.activities.length"
                   placeholder="Departure"
                   autocomplete="off"
                   typeahead-editable="false"
                   typeahead-select-on-exact="true"
                   typeahead-template-url="airportsTypeAhead.html"
                   ng-model="activity.departure_airport"
                   uib-typeahead="airport as airport.label for airport in ctrl.airports | filter:{label:$viewValue}"
                   type="text">
          </span>
          <span class="search-form">
            <span class="search-icon arrival-icon"></span>
            <input class="search-textfield text-white" title="Arrival Airport"
                   ng-disabled="$index+1 < ctrl.activities.length"
                   placeholder="Arrival"
                   autocomplete="off"
                   typeahead-editable="false"
                   typeahead-select-on-exact="true"
                   typeahead-template-url="airportsTypeAhead.html"
                   ng-model="activity.arrival_airport"
                   uib-typeahead="airport as airport.label for airport in ctrl.airports | filter:{label:$viewValue}"
                   type="text">
          </span>
          <span class="search-form">
            <div class="dropdown datetimepicker-holder search-textfield date-textfield">
              <a role="button" data-toggle="dropdown" data-target="#" href="Javascript:void(0)"><i class="fa fa-calendar"></i> {{ctrl.formatTime(activity.start_at)}}</a>
              <ul class="dropdown-menu" role="menu">
                <datetimepicker
                data-on-set-time="ctrl.onSetTime(newDate, oldDate, $index)"
                data-before-render="ctrl.beforeRenderDate($view, $dates, $leftDate, $upDate, $rightDate, $index)"
                datetimepicker-config="{ dropdownSelector: '.fa-calendar' }"
                ng-model="activity.start_at"></datetimepicker>
              </ul>
            </div>
          </span>
          <span class="search-form">
            <span class="search-icon pax-icon"></span>
            <input class="search-textfield text-white pax-textfield" type="number"
                   ng-disabled="$index+1 < ctrl.activities.length"
                   ng-model="activity.pax"
                   placeholder="Pax">
          </span>
          <a href="javascript:void(0)" class="cross-icon" ng-show="$index > 0" ng-click="ctrl.removeActivity($index)">
            <i class="fa fa-times" aria-hidden="true"></i>
          </a>
        </span>
        <a class="search-btn" ng-click="ctrl.create()" href="">Search</a>
        <a class="add-trip-btn" href="" ng-click="ctrl.addActivity()"><i class="fa fa-plus" aria-hidden="true"></i> Add Trip</a>
      </div>
    </div>
    <!-- search con finish -->
  </div>
</div>
<!-- top header search con finish -->

<!-- jetsetgo experience con start -->
<div class="experience-main-con">
  <span class="heading">JetSetGo Experience</span>
  <div class="clearfix"></div>
  <div class="container search-container">
    <div class="col-md-4 col-sm-4 col-xs-12 experience-widget">
      <div class="experience-img">
        <img src="http://d3tfanr7troppj.cloudfront.net/static_files/images/000/000/142/original/experience_img1.jpg?1460624904" alt="" />
        <div class="experience-hover">
          <p>You simply tell us the occasion and leave the rest to us. Call our specialists on +91-11-39585858 today and let the experts take the stress off you in organizing the trip and all travel logistics according to your needs.</p>
          <h5><a href="/jet_set_wed">Take a Look</a></h5>
        </div>
      </div>
      <h3>JetSetWed&trade;</h3>
    </div>
    <div class="col-md-4 col-sm-4 col-xs-12 experience-widget">
      <div class="experience-img">
        <img src="http://d3tfanr7troppj.cloudfront.net/static_files/images/000/000/143/original/experience_img2.jpg?1460624954" alt="" />
        <div class="experience-hover">
          <p>We offer both single and twin engine helicopters for VIP, Corporate and other charters. Simply call +91-11-39585858 or
            click here to book a helicopter with us.</p>
          <h5><a href="/heli_set_go">Take a Look</a></h5>
        </div>
      </div>
      <h3>HeliSetGo&trade;</h3>
    </div>
    <div class="col-md-4 col-sm-4 col-xs-12 experience-widget">
      <div class="experience-img">
        <img src="http://d3tfanr7troppj.cloudfront.net/static_files/images/000/000/144/original/experience_img3.jpg?1460625002" alt="" />
        <div class="experience-hover">
          <p>We offer both customized packages and specially designed JetSetYatra™ as per your requirements.</p>
          <h5><a href="/jet_set_yatra">Take a Look</a></h5>
        </div>
      </div>
      <h3>JetSetYatra&trade;</h3>
    </div>
    <div class="clearfix"></div>
  </div>
</div>
<!-- jetsetgo experience con finish -->

<!-- jetsteal con start -->
<div class="jetsteel-main-con">
  <div class="container search-container">
    <div class="col-xs-12">
      <span class="heading">JetSteals&trade;</span>
      <p class="sub-heading">Future is now ready for boarding.</p>
    </div>
    <div class="col-xs-12">
      <div ng-repeat="jetsteal in ctrl.jetsteals">
        <div class="jetsteal-con">

          <a href="/jetsteals/list" target="_self" ng-hide="jetsteal.sold_out">
            <div class="row">
              <div class="col-md-8 col-sm-8 col-xs-12">

                <div class="row">
                  <div class="col-md-7 col-sm-7 col-xs-12">
                    <p class="jetsteal-text">{{jetsteal.departure_airport.name}} <i class="fa fa-plane rotate-plain-icon" aria-hidden="true"></i> {{jetsteal.arrival_airport.name}}</p>
                  </div>
                  <div class="col-md-5 col-sm-5 col-xs-12">
                    <p class="jetsteal-text" ng-hide="jetsteal.sell_by_seats">{{ctrl.formatDate(jetsteal.flight_start_time)}}, Any Time</p>
                    <p class="jetsteal-text"ng-show="jetsteal.sell_by_seats">{{ctrl.formatTime(jetsteal.flight_start_time)}}</p>
                  </div>
                </div>
              </div>
              <div class="col-md-4 col-sm-4 col-xs-12">
                <span class="jetsteal-price pull-right" ng-hide="jetsteal.sell_by_seats"><i class="fa fa-inr" aria-hidden="true"></i> {{jetsteal.cost | currency:'':0 | indianCurrency}}</span>
                <span class="jetsteal-price pull-right" ng-show="jetsteal.sell_by_seats">@starting &nbsp; <i class="fa fa-inr" aria-hidden="true"></i> {{jetsteal.min_seat_cost | currency:'':0 | indianCurrency}}</span>
              </div>
            </div>
          </a>
        </div>
        <div ng-show="$index < 1" class="line"></div>
      </div>
      <div class="bottom-more-con">
        <div class="row">
          <div class="col-xs-12">
            <a href="/jetsteals/list" target="_self" class="more-btn">More</a>
          </div>
          <div class="clearfix"></div>
        </div>
      </div>
    </div>
    <div class="clearfix"></div>
  </div>
</div>
<!-- jetsteal con finish -->

<!--jetsetgo pulse start-->
<div class="pulse-main-con">
  <div class="container search-container">
    <div class="col-xs-12 text-center">
      <span class="heading">JetSetGo Pulse</span>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 canvas-main">
      <div easypiechart percent="55" options="ctrl.options">
        <span class="percent">0%</span>
      </div>
      <h5>Corporate</h5>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 canvas-main">
      <div easypiechart percent="23" options="ctrl.options">
        <span class="percent">0%</span>
      </div>
      <h5>Leisure</h5>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 canvas-main">
      <div easypiechart percent="10" options="ctrl.options">
        <span class="percent">0%</span>
      </div>
      <h5>Experiences</h5>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 canvas-main">
      <div easypiechart percent="12" options="ctrl.options">
        <span class="percent">0%</span>
      </div>
      <h5>Med-Evacs</h5>
    </div>
    <div class="cleafix"></div>
  </div>
</div>
<!--jetsetgo pulse finish-->

<!--jetsteal app con start-->
<div class="jetsteal-app-con">
  <div class="container search-container">
    <div class="col-md-7 col-sm-12 col-xs-12">
      <h2>The JetSteal App</h2>
      <p>Through our JetSteals™ platform you can experience the joy of flying private and networking with like minded people like never before- at 30,000 feet! Simply pick an aircraft or sector of your choice, chose between having the whole aircraft to yourself or just a seat and pay in 3 simple steps. The new ordinary in flying!</p>
      <p><a href="https://itunes.apple.com/us/app/jetsteals/id1078158963?ls=1&mt=8"><img class="app-btn" src="http://d3tfanr7troppj.cloudfront.net/static_files/images/000/000/156/original/app_icon.png?1460961679" alt="" /></a></p>
    </div>
    <div class="clearfix"></div>
  </div>
</div>
<!--jetsteal app con finish-->

<!--media con start-->
<div class="media-main-con">
  <div class="container search-container">
    <div class="col-xs-12 heading-con">
      <span class="heading">Media</span>
    </div>
    <div class="col-xs-12">
      <div class="row">
        <div class="col-sm-4 col-xs-12 media-widget">
          <span class="media-img-con">
            <img class="img-responsive" src="http://d3tfanr7troppj.cloudfront.net/static_files/images/000/000/177/original/verve_logo.png?1461569545" alt="" />
          </span>
          <div class="media-widget-content">
            <h4>WINGED GUARDIAN</h4>
            <p>When it comes to bridal shindigs, she takes the phrase 'sky's the limit' to new heights.</p>
          </div>
          <img src="http://d3tfanr7troppj.cloudfront.net/static_files/images/000/000/149/original/dotted_line.png?1460959384" class="media-border" alt="" />
        </div>
        <div class="col-sm-4 col-xs-12 media-widget">
          <span class="media-img-con">
            <img class="img-responsive" src="http://d3tfanr7troppj.cloudfront.net/static_files/images/000/000/151/original/media_icon-2.png?1460959420" alt="" />
          </span>
          <div class="media-widget-content">
            <h4>Luxury in their stride</h4>
            <p>A decade ago, Kanika Tekriwal worked for the private aviation vertical of investment giant IndiaBulls.</p>
            <img src="http://d3tfanr7troppj.cloudfront.net/static_files/images/000/000/149/original/dotted_line.png?1460959384" class="media-border" alt="" />
          </div>
        </div>
        <div class="col-sm-4 col-xs-12 media-widget">
          <span class="media-img-con">
            <img class="img-responsive" src="http://d3tfanr7troppj.cloudfront.net/static_files/images/000/000/152/original/media_icon-3.png?1460959434" alt="" />
          </span>
          <div class="media-widget-content">
            <h4>Jet Set Go: India's Ascent Into The Private Jet Industry</h4>
            <p>In a journey that spans smashing cultural molds and understanding regulatory environments, Kanika Tekriwal, the young CEO</p>
          </div>
        </div>
        <div class="clearfix"></div>
      </div>
      <div class="row">
        <div class="col-sm-4 col-xs-12 media-widget">
          <span class="media-img-con">
            <img class="img-responsive" src="http://d3tfanr7troppj.cloudfront.net/static_files/images/000/000/153/original/media_icon-4.png?1460959448" alt="" />
          </span>
          <div class="media-widget-content">
            <h4>Mile-High Service</h4>
            <p>Kanika Tekriwal, co-founder, JetSetGo, onboard the Cessna Citation XL, which costs approximately ₹190,000 per hour to charter</p>
          </div>
        </div>
        <div class="col-sm-4 col-xs-12 media-widget">
          <span class="media-img-con">
            <img class="img-responsive" src="http://d3tfanr7troppj.cloudfront.net/static_files/images/000/000/154/original/media_icon-5.png?1460959462" alt="" />
          </span>
          <div class="media-widget-content">
            <h4>After Beauty, Education, Yuvraj Singh Looks Towards The Sky</h4>
            <p>Yuvraj Singh's YouWeCan Ventures latest investment is an undisclosed sum in online marketplace for private jets and helicopters -  JetSetGo.</p>
          </div>
        </div>
        <div class="col-sm-4 col-xs-12 media-widget">
          <span class="media-img-con">
            <img class="img-responsive" src="http://d3tfanr7troppj.cloudfront.net/static_files/images/000/000/176/original/mail_today_logo.png?1461569503" alt="" />
          </span>
          <div class="media-widget-content">
            <h4>Kanika Tekriwal beat back cancer before setting up online portal JetSetGo</h4>
            <p>Kanika Tekriwal has been through a lot in her life. Diagnosed with cancer in 2011 when she was just 22</p>
          </div>
        </div>
        <div class="clearfix"></div>
      </div>
    </div>
    <div class="clearfix"></div>
  </div>
</div>
<!--media con finish-->

<!--subscrib con start-->
<!--<div class="subscrib-main-con">-->
<!--<div class="col-sm-10 col-sm-offset-1">-->
<!--<input type="text" placeholder="Enter your email" class="subscrib-textfield" />-->
<!--<button class="subscrib-btn">Subscribe</button>-->
<!--</div>-->
<!--<div class="clearfix"></div>-->
<!--</div>-->
<!--subscrib con finish-->