<script type="text/ng-template" id="airportsTypeAhead.html">
  <a>
    <span ng-bind-html="match.model.label | uibTypeaheadHighlight:query"></span>
  </a>
</script>
<script type="text/javascript">
    $('#myCarousel2').carousel({
        interval: 3000
    });
</script>
<!-- top header search con start -->
<div class="top-header-search-con">
  <div class="container header-container">
    <!-- header start -->
    <!--<div>-->
    <!--<nav ng-hide="ctrl.isFromMobile" id="header" class="navbar navbar-default home-header header">-->
    <!--<div class="container-fluid">-->
    <!--<div class="navbar-header navbar-responsive">-->
    <!--<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-2" aria-expanded="false">-->
    <!--<span class="sr-only">Toggle navigation</span>-->
    <!--<span class="icon-bar"></span>-->
    <!--<span class="icon-bar"></span>-->
    <!--<span class="icon-bar"></span>-->
    <!--</button>-->
    <!--<div class="row header_row">-->
    <!--<div class="col-lg-2 col-md-2 col-sm-2 logo-main-con">-->
    <!--<a class="logo-img" href="/tmp_url"><img class="img-responsive" src="http://d3tfanr7troppj.cloudfront.net/static_files/images/000/000/023/original/JSG-main-logo-db779e87994672c825f333c07a75d7d2_%281%29.png?1453111090" /></a>-->
    <!--</div>-->
    <!--<div id="bs-example-navbar-collapse-2" class="collapse navbar-collapse res-header navbar-hidden">-->
    <!--<div class="col-sm-10 col-xs-12 right-nav pull-right">-->
    <!--<ul class="nav navbar-nav navbar-right main-nav">-->
    <!--<li>-->
    <!--<a ng-click="ctrl.signIn()" ng-hide="ctrl.currentUser" class="no-right-padding" href=""><i class="fa fa-user" aria-hidden="true"></i> Guest</a>-->
    <!--<a ng-show="ctrl.currentUser" class="no-right-padding" href="/profile"> <img src="" style="max-height: 20px;max-width: 20px" ng-src="{{ctrl.currentUser.image}}" alt=""> {{ctrl.currentUser.full_name}} <i class="fa fa-caret-down"></i></a>-->
    <!--<ul class="sub-nav">-->
    <!--<li ng-show="ctrl.currentUser" ><a class="no-right-padding" href="/profile">Profile</a></li>-->
    <!--<li ng-show="ctrl.currentUser" ><a ng-click="ctrl.signOut()" class="no-right-padding" href="">Sign Out</a></li>-->
    <!--</ul>-->
    <!--</li>-->
    <!--<li><a href="/contact_us">Contact</a></li>-->
    <!--<li><a href="/media">Media</a></li>-->
    <!--<li><a target="_self" href="/jetsteals/list">JetSteals™</a></li>-->
    <!--<li><a href="/about_us">About</a></li>-->
    <!--</ul>-->
    <!--</div>-->
    <!--</div>-->
    <!--</div>-->
    <!--</div>-->

    <!--</div>-->
    <!--</nav>-->
    <!--</div>-->
    <!-- header finish -->

    <!-- search con start -->
    <div class="search-main-con">
      <div class="col-xs-12">
        <span class="search-main-form autocomplete-height" ng-repeat="activity in ctrl.activities">
          <span class="search-form">
            <span class="search-icon departure-icon">
              <img class="img-responsive" src="http://d3tfanr7troppj.cloudfront.net/static_files/images/000/000/354/original/departure.png?1468494153" alt="">
            </span>
            <input class="search-textfield text-white" title="Departure Airport"
                   ng-disabled="$index+1 < ctrl.activities.length"
                   placeholder="Departure"
                   autocomplete="off"
                   typeahead-editable="false"
                   typeahead-select-on-exact="true"
                   typeahead-template-url="airportsTypeAhead.html"
                   ng-model="activity.departure_airport"
                   uib-typeahead="airport as airport.label for airport in ctrl.airports | filter:{label:$viewValue}"
                   type="text"
                   typeahead-min-length="0">
          </span>
          <span class="search-form">
            <span class="search-icon">
              <img class="img-responsive" src="http://d3tfanr7troppj.cloudfront.net/static_files/images/000/000/352/original/arrival.png?1468494122" alt="">
            </span>
            <input class="search-textfield text-white" title="Arrival Airport"
                   ng-disabled="$index+1 < ctrl.activities.length"
                   placeholder="Arrival"
                   autocomplete="off"
                   typeahead-editable="false"
                   typeahead-select-on-exact="true"
                   typeahead-template-url="airportsTypeAhead.html"
                   ng-model="activity.arrival_airport"
                   uib-typeahead="airport as airport.label for airport in ctrl.airports | filter:{label:$viewValue}"
                   type="text"
                   typeahead-min-length="0">
          </span>
          <span class="search-form">
            <span class="search-icon">
              <img class="img-responsive" src="http://d3tfanr7troppj.cloudfront.net/static_files/images/000/000/356/original/pax.png?1468494207" alt="">
            </span>
            <input class="search-textfield text-white" type="text"
                   ng-model="activity.pax"
                   autocomplete="off"
                   typeahead-editable="false"
                   typeahead-select-on-exact="true"
                   uib-typeahead="pax for pax in ['1','2','3', '4', '5', '6', '7', '8', '9', '10', '11', '12', '13', '14', '15', '16', '17', '18', '19', '20']"
                   typeahead-min-length="0"
                   placeholder="Pax">
          </span>
          <span class="search-form">
            <span class="search-icon">
              <img class="img-responsive" src="http://d3tfanr7troppj.cloudfront.net/static_files/images/000/000/353/original/clock.png?1468494135" alt="">
            </span>
            <div class="dropdown datetimepicker-holder search-textfield">
              <a role="button" data-toggle="dropdown" ng-class="ctrl.formatTime(activity.start_at) != 'Click to choose time' ? 'white-color' : ''" data-target="#" href="Javascript:void(0)"><i class="fa"></i> {{ctrl.formatTime(activity.start_at)}}</a>
              <ul class="dropdown-menu" role="menu">
                <datetimepicker
                data-on-set-time="ctrl.onSetTime(newDate, oldDate, $index)"
                data-before-render="ctrl.beforeRenderDate($view, $dates, $leftDate, $upDate, $rightDate, $index)"
                datetimepicker-config="{ dropdownSelector: '.fa' }"
                ng-model="activity.start_at"></datetimepicker>
              </ul>
            </div>
          </span>
          <a href="javascript:void(0)" class="cross-icon" ng-show="$index > 0" ng-click="ctrl.removeActivity($index)">
            <i class="fa fa-times" aria-hidden="true"></i>
          </a>
        </span>
        <a class="search-btn" ng-click="ctrl.create()" href="">Search</a>
        <a class="add-trip-btn" href=""  ng-click="ctrl.addActivity()">Add Trip <img src="http://d3tfanr7troppj.cloudfront.net/static_files/images/000/000/351/original/addtrip.png?1468494102" height="22"></a>
        <a class="add-trip-btn" href="" ng-show="ctrl.activities.length <= 1" ng-click="ctrl.addRoundTrip()">Round Trip
          <img src="http://d3tfanr7troppj.cloudfront.net/static_files/images/000/000/348/original/round_trip.png?1468482949" alt=""></a>
      </div>
    </div>
    <!-- search con finish -->
  </div>
</div>
<!-- top header search con finish -->

<!-- jetsteal con start -->
<div class="jetsteel-main-con" >
  <div class="section-heading">
    <div class="container">
      <img class="img-responsive" src="http://d3tfanr7troppj.cloudfront.net/static_files/images/000/000/350/original/jet_steals_text.png?1468482973" alt="">
    </div>
  </div>
  <div class="jetsteal-slider-con">
    <div class="container">
      <div class="row">
        <div class="col-md-1">
        </div>
        <div class="col-md-10 col-xs-12">
          <div uib-carousel active="active" interval="3000" no-wrap="false" id="courcel_slider">
            <div uib-slide ng-repeat="jetsteal in ctrl.jetsteals track by jetsteal.id" style="text-align: left;">
              <div class="col-md-8 col-sm-12 col-xs-12 emptyleg_image">
                <img ng-src="{{jetsteal.aircraft.image}}" style="margin:auto;">
              </div>
              <div class="col-md-4 col-sm-12 col-xs-12 emptyleg_detail">
                <div class="">
                  <h2 class="aircraft_name">{{jetsteal.aircraft.aircraft_type.name}}</h2>
                  <h5 class="engine_type">{{jetsteal.aircraft.aircraft_type.aircraft_category.name}}</h5>
                  <h4 class="estimated-price" ng-hide="jetsteal.sell_by_seats"><i class="fa fa-inr"></i> {{jetsteal.cost | currency:'':0 | indianCurrency}} <span class="text pull-right">Estimated Price</span></h4>
                  <h4 class="estimated-price" ng-show="jetsteal.sell_by_seats"><span class="text">Starting @ </span> <i class="fa fa-inr"></i> {{jetsteal.min_seat_cost | currency:'':0 | indianCurrency}}</h4>
                  <div class="detail-link-con">
                  <a href="/jetsteals/list" target="_self">{{jetsteal.sell_by_seats ? 'Book a Seat' : 'Book a Jet'}}</a>
                  </div>
                </div>
              </div>
              <div class="col-xs-12 emptyleg_content">
              <p class="content">Through our JetSteal&trade; platform you can experience the joy of flying private and networking with like minded people like never before at 30,000 feet! Simply pick an aircraft or sector of your choice, choose between having the whole aircraft to yourself or just a seat and pay in 3 simple steps.</p>
              <p class="member-content">Fly free, choose your own seat <b>Become a Member</b></p>
              </div>
              <div class="clearfix"></div>
            </div>
          </div>


          <!--===================================================================================================================-->
          <!--===================================================================================================================-->

          <!--===================================================================================================================-->
          <!--===================================================================================================================-->


          <!--<div id="myCarousel" class="carousel slide" data-ride="carousel">-->
            <!--&lt;!&ndash; Indicators &ndash;&gt;-->
            <!--<ol class="carousel-indicators custom-indicator">-->
              <!--<li data-target="#myCarousel" data-slide-to="0" class="active"></li>-->
              <!--<li data-target="#myCarousel" data-slide-to="1"></li>-->
              <!--<li data-target="#myCarousel" data-slide-to="2"></li>-->
              <!--<li data-target="#myCarousel" data-slide-to="3"></li>-->
            <!--</ol>-->

            <!--&lt;!&ndash; Wrapper for slides &ndash;&gt;-->

            <!--<div class="carousel-inner" role="listbox">-->
              <!--<span ng-repeat="jetsteal in ctrl.jetsteals">-->
                <!--<div class="item">-->
                  <!--<div class="col-md-8 col-sm-12 col-xs-12 emptyleg_image">-->
                    <!--<img height="320" width="100%" ng-src="{{jetsteal.aircraft.image}}" alt="">-->
                  <!--</div>-->
                  <!--<div class="col-md-4 col-sm-12 col-xs-12 emptyleg_detail">-->
                    <!--<h2 class="aircraft_name">{{jetsteal.aircraft.aircraft_type.name}}</h2>-->
                    <!--<h5 class="engine_type">{{jetsteal.aircraft.aircraft_type.aircraft_category.name}}</h5>-->
                    <!--<h4 class="estimated-price"><i class="fa fa-inr"></i> {{jetsteal.cost | currency:'':0 | indianCurrency}} <span class="text">estimated price</span></h4>-->
                    <!--<div class="detail-link-con">-->
                      <!--<a href="/jetsteals/list" target="_self">Enquire</a>-->
                    <!--</div>-->
                  <!--</div>-->
                  <!--<div class="col-xs-12 emptyleg_content">-->
                    <!--<p class="content">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>-->
                    <!--<p class="member-content">Fly free, choose your own seat <b>Become a Member</b></p>-->
                  <!--</div>-->
                  <!--<div class="clearfix"></div>-->
                <!--</div>-->
              <!--</span>-->



            <!--</div>-->

            <!--&lt;!&ndash; Left and right controls &ndash;&gt;-->
            <!--&lt;!&ndash; <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">-->
              <!--<span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>-->
              <!--<span class="sr-only">Previous</span>-->
            <!--</a>-->
            <!--<a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">-->
              <!--<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>-->
              <!--<span class="sr-only">Next</span>-->
            <!--</a> &ndash;&gt;-->
          <!--</div>-->
        </div>
        <div class="col-md-1"></div>
      </div>
    </div>

  </div>
</div>

<!--<div class="jetsteel-main-con" ng-show="ctrl.jetsteals.length > 0">-->
<!--<div class="container search-container">-->
<!--<div class="col-xs-12">-->
<!--<span class="heading">JetSteals&trade;</span>-->
<!--<p class="sub-heading">Future is now ready for boarding.</p>-->
<!--</div>-->
<!--<div class="col-xs-12">-->
<!--<div ng-repeat="jetsteal in ctrl.jetsteals">-->
<!--<div class="jetsteal-con" ng-hide="jetsteal.sold_out">-->
<!--<a href="/jetsteals/list" target="_self" >-->
<!--<div class="row">-->
<!--<div class="col-md-8 col-sm-8 col-xs-12">-->
<!--<div class="row">-->
<!--<div class="col-md-5 col-sm-6 col-xs-12">-->
<!--<p class="jetsteal-text">{{ jetsteal.departure_airport.city.name }} <i class="fa fa-plane rotate-plain-icon" aria-hidden="true"></i> {{ jetsteal.arrival_airport.city.name }}</p>-->
<!--</div>-->
<!--<div class="col-md-7 col-sm-6 col-xs-12">-->
<!--<p class="jetsteal-text" ng-hide="jetsteal.sell_by_seats"><i class="fa fa-calendar"></i> {{ctrl.formatDate(jetsteal.flight_start_time)}}, Any Time</p>-->
<!--<p class="jetsteal-text"ng-show="jetsteal.sell_by_seats"><i class="fa fa-calendar"></i> {{ctrl.formatTime(jetsteal.flight_start_time)}}</p>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--<div class="col-md-4 col-sm-4 col-xs-12">-->
<!--<span class="jetsteal-price pull-right" ng-hide="jetsteal.sell_by_seats"><i class="fa fa-inr" aria-hidden="true"></i> {{jetsteal.cost | currency:'':0 | indianCurrency}}</span>-->
<!--<span class="jetsteal-price pull-right" ng-show="jetsteal.sell_by_seats">Starting @ &nbsp; <i class="fa fa-inr" aria-hidden="true"></i> {{jetsteal.min_seat_cost | currency:'':0 | indianCurrency}}</span>-->
<!--</div>-->
<!--</div>-->
<!--</a>-->
<!--</div>-->
<!--<div ng-show="ctrl.jetsteals.length > 1 && $index == 0 " class="line"></div>-->
<!--</div>-->
<!--<div class="bottom-more-con">-->
<!--<div class="row">-->
<!--<div class="col-xs-12">-->
<!--<a href="/jetsteals/list" target="_self" class="more-btn">More</a>-->
<!--</div>-->
<!--<div class="clearfix"></div>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--<div class="clearfix"></div>-->
<!--</div>-->
<!--</div>-->
<!-- jetsteal con finish -->

<!-- jetsetgo services con start -->
<div class="searvices_main_con">
  <div class="section-heading">
    <div class="container">
      <img class="img-responsive" src="http://d3tfanr7troppj.cloudfront.net/static_files/images/000/000/367/original/jetsetservices.png?1468573426" alt="">
    </div>
  </div>
  <div class="services-widget">
    <div class="container">
      <div class="row">
        <div class="col-md-offset-1 col-md-5 col-sm-6 col-xs-12">
          <div class="widget">
            <img src="http://d3tfanr7troppj.cloudfront.net/static_files/images/000/000/374/original/jersetwed.png?1468575375" alt="" class="img-responsive">
            <h2>JetSetWed&trade;</h2>
            <p>With families leaving no stone unturned for the Big Fat Indian Wedding Experience, JetSetWed™ makes this a tad bit easier by providing superior travel planning and guest logistics services.</p>
            <a href="javascript:void(0)" ng-click="ctrl.wed_enquiry()" class="enquire-btn">Enquire</a>
            <a href="javascript:void(0)" class="enquire-btn" ng-click="jetsetwed.open = !jetsetwed.open; jetsetyatra.open = false">Detail</a>
            <div class="clearfix"></div>
          </div>
        </div>
        <div class="col-md-offset-1 col-md-10 col-xs-12 hidden-lg hidden-md hidden-sm" ng-show="jetsetwed.open">
          <div class="widget-detail jetsetwed_detail">
            <div class="bg-overlay">
                <h2>JetSetWed&trade;</h2>
                <p>With families leaving no stone unturned for the Big Fat Indian Wedding Experience, JetSetWed™ makes this a tad bit easier by providing superior travel planning and guest logistics services.</p>
                <p>Your wish to deliver the never before seen experience is our command. Think of anything with
                  jets or helicopters and we will deliver whether it is to shower flowers from the sky or arranging joy rides.</p>
                <ol>
                  <li>Engagement</li>
                  <li>Wedding</li>
                  <li>Conference</li>
                  <li>Group Gateways</li>
                  <li>Celebrity</li>
                  <li>Sports</li>
                </ol>
            </div>
          </div>
        </div>
        <div class="col-md-5 col-sm-6 col-xs-12">
          <div class="widget">
            <img src="http://d3tfanr7troppj.cloudfront.net/static_files/images/000/000/373/original/jetyatra.png?1468575349" alt="" class="img-responsive">
            <h2>JetSetYatra&trade;</h2>
            <p>At JetSetGo we believe in making your darshan and yatra as comfortable as possible. We understand that you only undertake the experience once in your lifetime hence we endeavor to deliver beyond what we promise.</p>
            <a href="javascript:void(0)" ng-click="ctrl.yatra_enquiry()" class="enquire-btn">Enquire</a>
            <a href="javascript:void(0)" class="enquire-btn" ng-click="jetsetyatra.open = !jetsetyatra.open; jetsetwed.open = false">Detail</a>
            <div class="clearfix"></div>
          </div>
        </div>
        <div class="col-md-offset-1 col-md-10 col-xs-12 hidden-xs" ng-show="jetsetwed.open">
          <div class="widget-detail jetsetwed_detail">
              <div class="bg-overlay">
                  <h2>JetSetWed&trade;</h2>
                  <p>With families leaving no stone unturned for the Big Fat Indian Wedding Experience, JetSetWed™ makes this a tad bit easier by providing superior travel planning and guest logistics services.</p>
                  <p>Your wish to deliver the never before seen experience is our command. Think of anything with
                    jets or helicopters and we will deliver whether it is to shower flowers from the sky or arranging joy rides.</p>
                  <ol>
                    <li>Engagement</li>
                    <li>Wedding</li>
                    <li>Conference</li>
                    <li>Group Gateways</li>
                    <li>Celebrity</li>
                    <li>Sports</li>
                  </ol>
              </div>
            </div>
        </div>
        <div class="col-md-offset-1 col-md-10 col-xs-12" ng-show="jetsetyatra.open">
          <div class="widget-detail jetsetyatra_detail">
              <h2>JetSetYatra&trade;</h2>
              <p>At JetSetGo we believe in making your darshan and yatra as comfortable as possible. We understand that you only undertake the experience once in your lifetime hence we endeavor to deliver beyond what we promise. We offer both customized packages and specially designed pilgrimages as per your requirements.</p>
              <p>We Offer both customized packages and specially designed JetSetYatra™ as per your requirements.</p>
              <ol>
              <li>1 Night Chardham Yatra</li>
              <li>Dodham Yatra (2 Nights)</li>
              <li>Hemkundsahib yatra</li>
              <li>Kedarnath Yatra</li>
              <li>Muktiath Darshan - Nepal</li>
              <li>Kailash and Mansarovar Yatra - Nepal</li>
              </ol>
            </div>
        </div>
        <div class="col-md-offset-1 col-md-5 col-sm-6 col-xs-12">
          <div class="widget">
            <img src="http://d3tfanr7troppj.cloudfront.net/static_files/images/000/000/372/original/medrescue.png?1468575326" alt="" class="img-responsive">
            <h2>JetSetRescue&trade;</h2>
            <p>With access to the widest range of specialized aircraft or helicopters with Advanced Life Support (ALS) systems JetSetGo fills in this gap to provide quality air ambulance services doing its part in saving lives.</p>
            <a href="javascript:void(0)" ng-click="ctrl.rescue_enquiry()" class="enquire-btn">Enquire</a>
            <a href="javascript:void(0)" class="enquire-btn" ng-click="jetsetrescue.open = !jetsetrescue.open; helisego.open = false;">Detail</a>
            <div class="clearfix"></div>
          </div>
        </div>
        <div class="col-md-offset-1 col-md-10 col-xs-12 hidden-lg hidden-md hidden-sm" ng-show="jetsetrescue.open">
          <div class="widget-detail jetsetrescue_detail">
            <div class="bg-overlay">
                <h2>JetSetRescue&trade;</h2>
                <p>With access to the widest range of specialized aircraft or helicopters with Advanced Life Support (ALS) systems JetSetGo fills in this gap to provide quality air ambulance services doing its part in saving lives.</p>
                <ol>
                  <li>Bed to Bed Services</li>
                  <li>Emergency Medical Retrieval Service</li>
                  <li>Quick Reliable Transfers</li>
                </ol>
            </div>
          </div>
        </div>
        <div class="col-md-5 col-sm-6 col-xs-12">
          <div class="widget">
            <img src="http://d3tfanr7troppj.cloudfront.net/static_files/images/000/000/371/original/helijet.png?1468575306" alt="" class="img-responsive">
            <h2>HeliSetGo&trade;</h2>
            <p>We offer both single and twin engine helicopters for VIP, Corporate and other charters. Simply call +91-11-39585858. or enquire below to book a helicopter with us</p>
            <a href="javascript:void(0)" ng-click="ctrl.heli_set_go_enquiry()" class="enquire-btn">Enquire</a>
            <a href="javascript:void(0)" class="enquire-btn" ng-click="helisego.open = !helisego.open; jetsetrescue.open = false">Detail</a>
            <div class="clearfix"></div>
          </div>
        </div>
        <div class="col-md-offset-1 col-md-10 col-xs-12 hidden-xs" ng-show="jetsetrescue.open">
          <div class="widget-detail jetsetrescue_detail">
            <div class="bg-overlay">
                <h2>JetSetRescue&trade;</h2>
                <p>With access to the widest range of specialized aircraft or helicopters with Advanced Life Support (ALS) systems JetSetGo fills in this gap to provide quality air ambulance services doing its part in saving lives.</p>
                <ol>
                  <li>Bed to Bed Services</li>
                  <li>Emergency Medical Retrieval Service</li>
                  <li>Quick Reliable Transfers</li>
                </ol>
            </div>
          </div>
        </div>
        <div class="col-md-offset-1 col-md-10 col-xs-12" ng-show="helisego.open">
          <div class="widget-detail helisetgo_detail">
            <div class="bg-overlay">
                <h2>HeliSetGo&trade;</h2>
                <p>We offer both single and twin engine helicopters for VIP, Corporate and other charters. Simply call +91-11-39585858. or enquire below to book a helicopter with us</p>
                <p>Be it to get an aerial view of the city you love or of localesnever explored, HeliSetGo
                  enables this in a jiffy. Going out on a long drive is now so-Yesterday!</p>
                <ol>
                  <li>Surveys Aerial Filming and Photography</li>
                  <li>City Tours and Joy Rides</li>
                  <li>Business Travel and Corporate Events</li>
                  <li>Airport Transfers</li>
                  <li>Emergency medical flights and Evacuations</li>
                  <li>Special Occasions</li>
                </ol>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- jetsetgo services con finish -->

<!-- jetsetgo media con start -->
<div class="news-media-main-con">
  <div class="section-heading">
    <div class="container">
      <img class="img-responsive" src="http://d3tfanr7troppj.cloudfront.net/static_files/images/000/000/370/original/newsandmedia.png?1468573497" alt="">
    </div>
  </div>
  <div class="media-slider-con">
    <div class="container">
      <div class="media-con">
        <div class="well-none">
          <div id="myCarousel2" class="carousel slide">
            <div class="row">
              <div class="col-sm-1 col-xs-2">
                <a class="right carousel-control controller-arrow" href="#myCarousel2" data-slide="prev"><i class="fa fa-chevron-left fa-4"></i></a>
              </div>
              <div class="col-sm-10 col-xs-8">
                <!-- Carousel items -->
                <div class="carousel-inner">
                  <div class="item active">
                    <div class="row">
                      <div class="col-md-3 col-sm-6 col-xs-12 media-widget">
                        <img class="img-responsive" src="http://d3tfanr7troppj.cloudfront.net/static_files/images/000/000/385/original/forbes.png?1468579303" alt="">
                        <h3 class="media-heading">JetSetGo: The Uber of Indian skies</h3>
                        <p class="media-content">About three months ago, a Gulfstream G650, a leading luxury business jet, flew into New Delhi from the US. </p>
                        <a class="media-readmore" href="/media">Read More</a>
                      </div>
                      <div class="col-md-3 col-sm-6 col-xs-12 media-widget">
                        <img class="img-responsive" src="http://d3tfanr7troppj.cloudfront.net/static_files/images/000/000/381/original/em.png?1468579250" alt="">
                        <h3 class="media-heading">4 min read Dark confessions straight from an entrepreneur's heart</h3>
                        <p class="media-content">The three of us had just about settled in cross legged position for late-night dinner</p>
                        <a class="media-readmore" href="/media">Read More</a>
                      </div>
                      <div class="col-md-3 col-sm-6 col-xs-12 media-widget">
                        <img class="img-responsive" src="http://d3tfanr7troppj.cloudfront.net/static_files/images/000/000/384/original/fe.png?1468579288" alt="">
                        <h3 class="media-heading">JetSetGo can now mobilise an air ambulance in any part of the country</h3>
                        <p class="media-content">JetSetGo recently introduced air ambulance services to offer better emergency services and help improve healthcare access,</p>
                        <a class="media-readmore" href="/media">Read More</a>
                      </div>
                      <div class="col-md-3 col-sm-6 col-xs-12 media-widget">
                        <img class="img-responsive" src="http://d3tfanr7troppj.cloudfront.net/static_files/images/000/000/390/original/toi.png?1468579378" alt="">
                        <h3 class="media-heading">Startups with a flavour of bollywood and cricket</h3>
                        <p class="media-content">As soon as we got Yuvaj onboard we saw a paradigm shift in customer outlook towards us. The number of queries we serviced per day increased</p>
                        <a class="media-readmore" href="/media">Read More</a>
                      </div>
                    </div>
                    <!--/row-->
                  </div>
                  <!--/item-->
                  <div class="item">
                    <div class="row">
                      <div class="col-md-3 col-sm-6 col-xs-12 media-widget">
                        <img class="img-responsive" src="http://d3tfanr7troppj.cloudfront.net/static_files/images/000/000/379/original/bt.png?1468579221" alt="">
                        <h3 class="media-heading">Luxury in their stride</h3>
                        <p class="media-content">A decade ago, Kanika Tekriwal worked for the private aviation vertical of investment giant IndiaBulls. The experience emboldened her to set up in April 2014</p>
                        <a class="media-readmore" href="/media">Read More</a>
                      </div>
                      <div class="col-md-3 col-sm-6 col-xs-12 media-widget">
                        <img class="img-responsive" src="http://d3tfanr7troppj.cloudfront.net/static_files/images/000/000/382/original/et.png?1468579260" alt="">
                        <h3 class="media-heading">Taking to the skies: YouWeCan Ventures invests in JetSetGo</h3>
                        <p class="media-content">NEW DELHI: YouWeCan Ventures, the investment firm founded by cricketer Yuvraj Singh</p>
                        <a class="media-readmore" href="/media">Read More</a>
                      </div>
                      <div class="col-md-3 col-sm-6 col-xs-12 media-widget">
                        <img class="img-responsive" src="http://d3tfanr7troppj.cloudfront.net/static_files/images/000/000/389/original/ndtv.png?1468579367" alt="">
                        <h3 class="media-heading">After Beauty, Education, Yuvraj Singh Looks Towards The Sky</h3>
                        <p class="media-content">Yuvraj Singh's YouWeCan Ventures latest investment is an undisclosed sum in online marketplace for private jets and helicopters - JetSetGo.</p>
                        <a class="media-readmore" href="/media">Read More</a>
                      </div>
                      <div class="col-md-3 col-sm-6 col-xs-12 media-widget">
                        <img class="img-responsive" src="http://d3tfanr7troppj.cloudfront.net/static_files/images/000/000/380/original/business.png?1468579235" alt="">
                        <h3 class="media-heading">Mile-High Service</h3>
                        <p class="media-content">Kanika Tekriwal, co-founder, JetSetGo, onboard the Cessna Citation XL, which costs approximately ₹190,000 per hour to charter</p>
                        <a class="media-readmore" href="/media">Read More</a>
                      </div>
                    </div>
                    <!--/row-->
                  </div>
                  <!--/item-->
                  <div class="item">
                    <div class="row">
                      <div class="col-md-3 col-sm-6 col-xs-12 media-widget">
                        <img class="img-responsive" src="http://d3tfanr7troppj.cloudfront.net/static_files/images/000/000/386/original/ht.png?1468579322" alt="">
                        <h3 class="media-heading">Private jets at the click of a mouse, touch of a button</h3>
                        <p class="media-content">Mumbai : If you have to reach an important meeting in a different part of the country and flights are unavailable</p>
                        <a class="media-readmore" href="/media">Read More</a>
                      </div>
                      <div class="col-md-3 col-sm-6 col-xs-12">
                        <img class="img-responsive" src="http://d3tfanr7troppj.cloudfront.net/static_files/images/000/000/387/original/iifl.png?1468579336" alt="">
                        <h3 class="media-heading">Yuvraj Singh's YouWeCan Ventures invests in JetSetGo</h3>
                        <p class="media-content">Yuvraj Singh funded YouWeCan Ventures has made an undisclosed investment in JetSetGo</p>
                        <a class="media-readmore" href="/media">Read More</a>
                      </div>
                    </div>
                    <!--/row-->
                  </div>
                  <!--/item-->
                </div>
                <!--/carousel-inner-->
              </div>
              <div class="col-sm-1 col-xs-2">
                <a class="left carousel-control controller-arrow" href="#myCarousel2" data-slide="next"><i class="fa fa-chevron-right fa-4"></i></a>
              </div>
            </div>
          </div>
          <!--/myCarousel-->
        </div>
        <!--/well-->
      </div>
    </div>
  </div>
</div>
<!-- jetsetgo media con finish -->

<!-- jetsetgo app con start -->
<div class="jetsteel-app">
  <div class="section-heading">
    <div class="container">
      <img class="img-responsive" src="http://d3tfanr7troppj.cloudfront.net/static_files/images/000/000/369/original/jetstealsapp.png?1468573469" alt="">
    </div>
  </div>
  <div class="app-main">
    <div class="container">
      <div class="row">
        <div class="col-sm-7">
          <div class="app-content">
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
            <a href="https://itunes.apple.com/us/app/jetsteals/id1078158963?ls=1&mt=8"><img src="http://d3tfanr7troppj.cloudfront.net/static_files/images/000/000/393/original/appstorebutton.png?1468579444" alt=""></a>
          </div>
        </div>
        <div class="col-sm-5">
          <div class="app-img-con">
            <img src="http://d3tfanr7troppj.cloudfront.net/static_files/images/000/000/407/original/jetapp.png?1468831578" class="img-responsive" alt="" border="0">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- jetsetgo app con finish -->