<!-- wedding banner section start -->
<div class="inner-banner wed-banner">
	<div class="heading">
		<h1>Special Events</h1>
		<h5>The JetSetGo Touch.</h5>
	</div>
</div>
<!-- wedding banner section finish -->

<!-- wedding content start -->
<div class="inner-option-con wedcontent">
	<div class="col-sm-8 col-xs-12">
		<h2>
			Events and Occasions:
		</h2>
		<p>
			You simply tell us the occasion and leave the rest to us. Call our specialists on <strong>+91-11-39585858</strong> today and let the experts take the stress off you in organizing the trip and all travel logistics according to your needs. 
		</p>
		<div class="option-con rotateIn animated">
			<div class="option first-option">
				<p class="hvr-wobble-vertical">
					<a href="javascript:void(0)">Engagements</a>
				</p>
			</div>
			<div class="option scnd-option">
				<p class="hvr-wobble-vertical">
					<a href="javascript:void(0)">Weddings</a>
				</p>
			</div>
			<div class="option third-option">
				<p class="hvr-wobble-vertical">
					<a href="javascript:void(0)">Conferences</a>
				</p>
			</div>
			<div class="option forth-option">
				<p class="hvr-wobble-vertical">
					<a href="javascript:void(0)">Group getaways</a> 
				</p>
			</div>
			<div class="option fifth-option">
				<p class="hvr-wobble-vertical">
					<a href="javascript:void(0)">Celebrity</a>
				</p>
			</div>
			<div class="option sixth-option">
				<p class="hvr-wobble-vertical">
					<a href="javascript:void(0)">Sports</a> 
				</p>
			</div>
		</div>
		
	</div>
	<div class="col-sm-4 col-xs-12 desk-heli-img zoomIn animated">
		<img src="http://d3tfanr7troppj.cloudfront.net/static_files/images/000/000/093/original/wedding.JPG?1457432673" class="img-responsive" />
	</div>
	<div class="clearfix"></div>
</div>
<!-- wedding content finish -->