<!-- rescue banner section start -->
<div class="inner-banner rescue-banner">
  <div class="heading">
    <h1><span class="heading">JetSetRescue&trade;</span></h1>
  </div>
  <div class="banner-content">
    <p>With access to the widest range of specialized aircraft or helicopters with Advanced Life Support (ALS) systems JetSetGo fills in this gap to provide quality air ambulance services doing its part in saving lives.</p>
  </div>
</div>
<!-- rescue banner section finish -->

<!-- rescue content start -->
<div class="inner-option-con rescuecontent">
  <h3><span class="heading">We Achieve, we Rescue because we Dare</span></h3>
  <div class="container">
    <div class="row">
      <div class="col-sm-4 col-xs-12">
        <div class="img-section">
          <img src="http://d3tfanr7troppj.cloudfront.net/static_files/images/000/000/202/original/1.jpg?1462443715" class="img-responsive" alt="">
          <div class="img-bottom-heading">Bed to Bed Services</div>
          <div class="hover-enquire-con">
            <a href="#"><img src="http://d3tfanr7troppj.cloudfront.net/static_files/images/000/000/190/original/enquire_button.png?1462427068" border="0" alt=""></a>
          </div>
        </div>
      </div>
      <div class="col-sm-4 col-xs-12">
        <div class="img-section">
          <img src="http://d3tfanr7troppj.cloudfront.net/static_files/images/000/000/203/original/2.jpg?1462443943" class="img-responsive" alt="">
          <div class="img-bottom-heading">Emergency Medical Retrieval Service</div>
          <div class="hover-enquire-con">
            <a href="#"><img src="http://d3tfanr7troppj.cloudfront.net/static_files/images/000/000/190/original/enquire_button.png?1462427068" border="0" alt=""></a>
          </div>
        </div>
      </div>
      <div class="col-sm-4 col-xs-12">
        <div class="img-section">
          <img src="http://d3tfanr7troppj.cloudfront.net/static_files/images/000/000/204/original/3.jpg?1462445943" class="img-responsive" alt="">
          <div class="img-bottom-heading">Quick Reliable Transfers</div>
          <div class="hover-enquire-con">
            <a href="#"><img src="http://d3tfanr7troppj.cloudfront.net/static_files/images/000/000/190/original/enquire_button.png?1462427068" border="0" alt=""></a>
          </div>
        </div>
      </div>
      <div class="clearfix"></div>
    </div>
  </div>
</div>
<!-- rescue content finish -->