<!-- yatra banner section start -->
<div class="inner-banner yatra-banner">
	<div class="heading">
		<h1> JetSetYatra™</h1>
	</div>
</div>
<!-- yatra banner section finish -->

<!-- yatra content start -->
<div class="inner-option-con yatracontent">
	<div class="col-sm-8 col-xs-12">
		<p>
			We offer both customized packages and specially designed JetSetYatra™ as per your requirements. 
		</p>
		<p>
			<a class="book-btn" href="javascript:void(0)">
				Book Your Yatra Today
			</a>
		</p>
		<p>
			Our customized packages include
		</p>

		<div class="option-con">
			<div class="option first-option">
				<p>
					<a href="javascript:void(0)">Chardham Yatra (4 Nights)</a>
				</p>
			</div>
			<div class="option scnd-option">
				<p>
					<a href="javascript:void(0)">Dodham Yatra (2 Nights)</a>
				</p>
			</div>
			<div class="option third-option">
				<p>
					<a href="javascript:void(0)">1 Night Chardham Yatra</a>
				</p>
			</div>
			<div class="option forth-option">
				<p>
					<a href="javascript:void(0)">Hemkundsahib Yatra</a> 
				</p>
			</div>
			<div class="option fifth-option">
				<p>
					<a href="javascript:void(0)">Muktinath Darshan - Nepal</a>
				</p>
			</div>
			<div class="option sixth-option">
				<p>
					<a href="javascript:void(0)">Kedarnath Yatra</a> 
				</p>
			</div>
			<div class="option seventh-option">
				<p>
					<a href="javascript:void(0)">Kailash And Mansarovar Yatra - Nepal</a> 
				</p>
			</div>
		</div>
		
	</div>
	<div class="col-sm-4 col-xs-12 desk-yatra-img">
		<img src="http://d3tfanr7troppj.cloudfront.net/static_files/images/000/000/097/original/yatra_image.jpg?1457521601" class="img-responsive" />
	</div>
	<div class="clearfix"></div>
</div>
<!-- yatra content finish -->