<!-- wedding banner section start -->
<div class="inner-banner wed-banner">
  <div class="heading">
    <h1><span class="heading">JetSetWed&trade;</span></h1>
  </div>
  <div class="banner-content">
    <p>With families leaving no stone unturned for the Big Fat Indian Wedding Experience, JetSetWed&trade; makes this a tad bit easier by providing superior travel planning and guest logistics services.</p>
  </div>
</div>
<!-- wedding banner section finish -->

<!-- wedding content start -->
<div class="inner-option-con helicontent">
  <h3><span class="heading">We Provide Customized Packages</span></h3>
  <div class="container">
    <div class="row">
      <div class="col-sm-4 col-xs-12">
        <div class="img-section">
          <img src="http://d3tfanr7troppj.cloudfront.net/static_files/images/000/000/192/original/1.jpg?1462430866" class="img-responsive" alt="">
          <div class="img-bottom-heading">Engagement</div>
          <div class="hover-enquire-con">
            <a href="#"  ng-click="ctrl.wed_enquiry()"><img src="http://d3tfanr7troppj.cloudfront.net/static_files/images/000/000/190/original/enquire_button.png?1462427068" border="0" alt=""></a>
          </div>
        </div>
      </div>
      <div class="col-sm-4 col-xs-12">
        <div class="img-section">
          <img src="http://d3tfanr7troppj.cloudfront.net/static_files/images/000/000/193/original/2.jpg?1462431081" class="img-responsive" alt="">
          <div class="img-bottom-heading">Wedding</div>
          <div class="hover-enquire-con">
            <a href="#" ng-click="ctrl.wed_enquiry()"><img src="http://d3tfanr7troppj.cloudfront.net/static_files/images/000/000/190/original/enquire_button.png?1462427068" border="0" alt=""></a>
          </div>
        </div>
      </div>
      <div class="col-sm-4 col-xs-12">
        <div class="img-section">
          <img src="http://d3tfanr7troppj.cloudfront.net/static_files/images/000/000/194/original/3.jpg?1462431190" class="img-responsive" alt="">
          <div class="img-bottom-heading">Conference</div>
          <div class="hover-enquire-con">
            <a href="#" ng-click="ctrl.wed_enquiry()"><img src="http://d3tfanr7troppj.cloudfront.net/static_files/images/000/000/190/original/enquire_button.png?1462427068" border="0" alt=""></a>
          </div>
        </div>
      </div>
      <div class="clearfix"></div>
    </div>
  </div>
  <div class="bg-img-section">
    <p>
      Your wish to deliver the never before seen experience is our command. Think of anything with<br/>
      jets or helicopters and we will deliver whether it is to shower flowers from the sky or arranging joy rides.
    </p>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-sm-4 col-xs-12">
        <div class="img-section">
          <img src="http://d3tfanr7troppj.cloudfront.net/static_files/images/000/000/195/original/4.jpg?1462431454" class="img-responsive" alt="">
          <div class="img-bottom-heading">Group Gateways</div>
          <div class="hover-enquire-con">
            <a href="#" ng-click="ctrl.wed_enquiry()"><img src="http://d3tfanr7troppj.cloudfront.net/static_files/images/000/000/190/original/enquire_button.png?1462427068" border="0" alt=""></a>
          </div>
        </div>
      </div>
      <div class="col-sm-4 col-xs-12">
        <div class="img-section">
          <img src="http://d3tfanr7troppj.cloudfront.net/static_files/images/000/000/197/original/6.jpg?1462431867" class="img-responsive" alt="">
          <div class="img-bottom-heading">Celebrity</div>
          <div class="hover-enquire-con">
            <a href="#" ng-click="ctrl.wed_enquiry()"><img src="http://d3tfanr7troppj.cloudfront.net/static_files/images/000/000/190/original/enquire_button.png?1462427068" border="0" alt=""></a>
          </div>
        </div>
      </div>
      <div class="col-sm-4 col-xs-12">
        <div class="img-section">
          <img src="http://d3tfanr7troppj.cloudfront.net/static_files/images/000/000/196/original/5.jpg?1462431538" class="img-responsive" alt="">
          <div class="img-bottom-heading">Sports</div>
          <div class="hover-enquire-con">
            <a href="#" ng-click="ctrl.wed_enquiry()"><img src="http://d3tfanr7troppj.cloudfront.net/static_files/images/000/000/190/original/enquire_button.png?1462427068" border="0" alt=""></a>
          </div>
        </div>
      </div>
      <div class="clearfix"></div>
    </div>
  </div>
</div>
<!-- wedding content finish -->