<!-- yatra banner section start -->
<div class="inner-banner yatra-banner">
  <div class="heading">
    <h1><span class="heading">JetSetYatra&trade;</span></h1>
  </div>
  <div class="banner-content">
    <p>At JetSetGo we believe in making your darshan and yatra as comfortable as possible. We understand that you only undertake the experience once in your lifetime hence we endeavor to deliver beyond what we promise. We offer both customized packages and specially designed pilgrimages as per your requirements.</p>
  </div>
</div>
<!-- yatra banner section finish -->

<!-- yatra content start -->
<div class="inner-option-con yatracontent">
  <h3><span class="heading">We Provide Customized Packages</span></h3>
  <div class="container">
    <div class="row">
      <div class="col-sm-4 col-xs-12">
        <div class="img-section">
          <img src="http://d3tfanr7troppj.cloudfront.net/static_files/images/000/000/207/original/3.jpg?1462446627" class="img-responsive" alt="">
          <div class="img-bottom-heading">1 Night Chardham Yatra</div>
          <div class="hover-enquire-con">
            <a href="#" ng-click="ctrl.yatra_enquiry()"><img src="http://d3tfanr7troppj.cloudfront.net/static_files/images/000/000/190/original/enquire_button.png?1462427068" border="0" alt=""></a>
          </div>
        </div>
      </div>
      <div class="col-sm-4 col-xs-12">
        <div class="img-section">
          <img src="http://d3tfanr7troppj.cloudfront.net/static_files/images/000/000/208/original/4.jpg?1462446864" class="img-responsive" alt="">
          <div class="img-bottom-heading">Dodham Yatra (2 Nights)</div>
          <div class="hover-enquire-con">
            <a href="#" ng-click="ctrl.yatra_enquiry()"><img src="http://d3tfanr7troppj.cloudfront.net/static_files/images/000/000/190/original/enquire_button.png?1462427068" border="0" alt=""></a>
          </div>
        </div>
      </div>
      <div class="col-sm-4 col-xs-12">
        <div class="img-section">
          <img src="http://d3tfanr7troppj.cloudfront.net/static_files/images/000/000/209/original/5.jpg?1462446967" class="img-responsive" alt="">
          <div class="img-bottom-heading">Hemkundsahib yatra</div>
          <div class="hover-enquire-con">
            <a href="#" ng-click="ctrl.yatra_enquiry()"><img src="http://d3tfanr7troppj.cloudfront.net/static_files/images/000/000/190/original/enquire_button.png?1462427068" border="0" alt=""></a>
          </div>
        </div>
      </div>
      <div class="clearfix"></div>
    </div>
  </div>
  <div class="bg-img-section">
    <p>
      We Offer both customized packages and specially designed JetSetYatra&trade; as per your requirements.
    </p>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-sm-4 col-xs-12">
        <div class="img-section">
          <img src="http://d3tfanr7troppj.cloudfront.net/static_files/images/000/000/210/original/6.jpg?1462447434" class="img-responsive" alt="">
          <div class="img-bottom-heading">Kedarnath Yatra</div>
          <div class="hover-enquire-con">
            <a href="#" ng-click="ctrl.yatra_enquiry()"><img src="http://d3tfanr7troppj.cloudfront.net/static_files/images/000/000/190/original/enquire_button.png?1462427068" border="0" alt=""></a>
          </div>
        </div>
      </div>
      <div class="col-sm-4 col-xs-12">
        <div class="img-section">
          <img src="http://d3tfanr7troppj.cloudfront.net/static_files/images/000/000/212/original/8.jpg?1462449112" class="img-responsive" alt="">
          <div class="img-bottom-heading">Kailash and Mansarovar Yatra - Nepal</div>
          <div class="hover-enquire-con">
            <a href="#" ng-click="ctrl.yatra_enquiry()"><img src="http://d3tfanr7troppj.cloudfront.net/static_files/images/000/000/190/original/enquire_button.png?1462427068" border="0" alt=""></a>
          </div>
        </div>
      </div>
      <div class="col-sm-4 col-xs-12">
        <div class="img-section">
          <img src="http://d3tfanr7troppj.cloudfront.net/static_files/images/000/000/211/original/7.jpg?1462447615" class="img-responsive" alt="">
          <div class="img-bottom-heading">Muktiath Darshan - Nepal</div>
          <div class="hover-enquire-con">
            <a href="#" ng-click="ctrl.yatra_enquiry()"><img src="http://d3tfanr7troppj.cloudfront.net/static_files/images/000/000/190/original/enquire_button.png?1462427068" border="0" alt=""></a>
          </div>
        </div>
      </div>
      <div class="clearfix"></div>
    </div>
  </div>
</div>
<!-- yatra content finish -->