<!-- join us section start -->
<div class="inner-banner joinus-banner">
	<div class="heading">
		<h1>Join Us</h1>
	</div>
</div>
<!-- join us section finish -->

<!-- join us content start -->
<div class="joinus-content">
	<div class="col-md-4 col-sm-5 col-xs-12 responsive-join-img join-us-image">
		<img src="http://d3tfanr7troppj.cloudfront.net/static_files/images/000/000/086/original/join_us_img.jpg?1457336557" class="img-responsive" />
	</div>
	<div class="col-md-8 col-sm-7 col-xs-12">
		<h2>
			Passionate People:
		</h2>
		<p>
			"Our heart is in our work and we work tirelessly to make a difference to flying private."
		</p>
		<h2>
			Breaking New Grounds:
		</h2>
		<p>
			"We challenge the status quo and find creative solutions to difficult problems."
		</p>
		<h2>
			Making an Impact:
		</h2>
		<p>
			"Every role in our organization matters. Everything we do is to be the true travel enabler we wish to be."
		</p>
		<h2>
			We have positions open in:
		</h2>
		<ul>
			<li>Technology and Product Development</li>
			<li>Charter Operations</li>
			<li>Branding & Marketing</li>
			<li>Sales and Customer Service</li>
			<li>Finance & Planning</li>
		</ul>
		<p>
			If you see yourself as a part of a team actively working on changing the aviation landscape in India and have prior experience to support us write to <a href="mailto:joinus@jetsetgo.in">joinus@jetsetgo.in</a>
		</p>
		<p>
			We also have an 8 week management trainee program which helps you gain industry knowledge and maybe secure a full time position with us. If you would like to apply to the same please write in to <a href="mailto:joinus@jetsetgo.in">joinus@jetsetgo.in</a> with your current credentials.
		</p>
	</div>
	<div class="col-md-4 col-sm-5 col-xs-12 desk-join-img join-us-image">
		<img src="http://d3tfanr7troppj.cloudfront.net/static_files/images/000/000/086/original/join_us_img.jpg?1457336557" class="img-responsive" />
	</div>
	<div class="clearfix"></div>
</div>
<!-- join us content finish -->