media section start -->
<div class="inner-banner media-banner">
	<div class="heading">
		<h1>Media</h1>
	</div>
</div>
<!-- media section finish -->

<!-- media content section start -->
<div class="media-content-main">
<!-- first media start -->
	<div class="col-sm-6">
		<div class="media-content media-bg1">
			<div class="row">
				<div class="col-sm-6 media-img">
					<a href="#">
						<img src="http://images.financialexpress.com/2015/11/201511ehm31.jpg" alt="" class="img-responsive" />
					</a>
				</div>
				<div class="col-sm-6 media-text">
					<a href="">
						<h4>
							JetSetGo can now mobilise an air ambulance in any part of the country in as little as two hours’ 
						</h4>
					</a>
					<a href="#" class="web-link">financialexpress.com</a>
					<div class="date date-color1">- 9 -<br/><span>nov</span></br>- 15 -</div>
				</div>
				<div class="clearfix"></div>
			</div>
		</div>
	</div>
<!-- first media finish -->
<!-- second media start -->
	<div class="col-sm-6">
		<div class="media-content media-bg2">
			<div class="row">
				<div class="col-sm-6 media-img">
					<a href="#">
						<img src="http://d3tfanr7troppj.cloudfront.net/static_files/images/000/000/095/original/topimg_28729_kanika_tekriwal_600x400.jpg?1457506815" class="img-responsive" />
					</a>
				</div>
				<div class="col-sm-6 media-text">
					<a href="">
						<h4>
							JetSetGo: The Uber of Indian skies 
						</h4>
					</a>
					<a href="#" class="web-link">Forbes India</a>
					<div class="date date-color2">- 3 -<br/><span>nov</span></br>- 15 -</div>
				</div>
				<div class="clearfix"></div>
			</div>
		</div>
	</div>
<!-- second media finish -->
<!-- third media start -->
	<div class="col-sm-6">
		<div class="media-content media-bg3">
			<div class="row">
				<div class="col-sm-6 media-img">
					<a href="#">
						<img src="http://d3tfanr7troppj.cloudfront.net/static_files/images/000/000/095/original/topimg_28729_kanika_tekriwal_600x400.jpg?1457506815" class="img-responsive" />
					</a>
				</div>
				<div class="col-sm-6 media-text">
					<a href="">
						<h4>
							JetSetGo introduces bed to bed affordable air ambulance services  
						</h4>
					</a>
					<a href="#" class="web-link">pharmabiz.com</a>
					<div class="date date-color3">- 12 -<br/><span>oct</span></br>- 15 -</div>
				</div>
				<div class="clearfix"></div>
			</div>
		</div>
	</div>
<!-- third media finish -->
<!-- forth media start -->
	<div class="col-sm-6">
		<div class="media-content media-bg4">
			<div class="row">
				<div class="col-sm-6 media-img">
					<a href="#">
						<img src="http://iwilindia.com/wp-content/uploads/2015/10/kanika-tekriwal.jpg" class="img-responsive" />
					</a>
				</div>
				<div class="col-sm-6 media-text">
					<a href="">
						<h4>
							Kanika Tekriwal, CEO, JetSetGo Aviation Services Private Limited   
						</h4>
					</a>
					<a href="#" class="web-link">Indian Women Institutional League (IWIL)</a>
					<div class="date date-color4">- 1 -<br/><span>oct</span></br>- 15 -</div>
				</div>
				<div class="clearfix"></div>
			</div>
		</div>
	</div>
<!-- forth media finish -->
	<div class="clearfix"></div>
</div>
<!-- media content section finish