<!-- media section start -->
<div class="inner-banner media-banner">
  <div class="heading">
    <h1><span class="heading">Media</span></h1>
  </div>
  <div class="banner-content">
    <p>
      Any business - be it JetSetGo or any other, doesn't really require investment to start. If you have the drive and motivation, the business will build up. I started my company with an initial investment of some 5,000 Rs
    </p>
  </div>
</div>
<!-- media section finish -->

<!-- media content section start -->
<div class="media-content-main">
  <div class="container">
    <div class="row">
      <div class="col-md-4 col-sm-6 res-center-con">
        <div class="media-first-con">
          <img src="http://d3tfanr7troppj.cloudfront.net/static_files/images/000/000/216/original/3.jpg?1462522439" class="img-responsive" alt="">
          <div class="media-content">
            <div class="col-xs-9">
              <h3>JetSetGo can now mobilise an air ambulance</h3>
            </div>
            <div class="col-xs-3">
              <img src="http://d3tfanr7troppj.cloudfront.net/static_files/images/000/000/217/original/media_logo-1.png?1462532384" class="img-responsive media-logo" alt="">
            </div>
            <div class="col-xs-12">
              <p>JetSetGo recently introduced air ambulance services to offer better emergency services and help improve healthcare access, even in remote areas of the country.</p>
            </div>
            <div class="col-xs-12 text-right">
              <a href="#" class="read-btn">Read More</a>
            </div>
            <div class="clearfix"></div>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-6 res-center-con">
        <div class="media-content">
          <div class="row">
            <div class="col-xs-9">
              <h3>JetSetGo: The Uber of Indian skies</h3>
            </div>
            <div class="col-xs-3">
              <img src="http://d3tfanr7troppj.cloudfront.net/static_files/images/000/000/218/original/media_logo-2.png?1462532587" class="img-responsive media-logo" alt="">
            </div>
            <div class="col-xs-12">
              <p>About three months ago, a Gulfstream G650, a leading luxury business jet, flew into New Delhi from the US. The aircraft, which was chartered for a one-way trip, would have normally returned empty legged to its home airport. But this is the Information Age.</p>
            </div>
            <div class="col-xs-8">
              <div class="view-date-con">
                <span class="view-text gray-text">View</span> - <span class="blue-color">1234</span> | <span class="date-text blue-color">13 Nov, 2015</span>
              </div>
            </div>
            <div class="col-xs-4 text-right">
              <a href="#" class="read-btn">Read More</a>
            </div>
            <div class="clearfix"></div>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-6 res-center-con">
        <div class="media-content">
          <div class="row">
            <div class="col-xs-9">
              <h3>JetSetGo introduces bed to bed affordable air ambulance services</h3>
            </div>
            <div class="col-xs-3">
              <img src="http://d3tfanr7troppj.cloudfront.net/static_files/images/000/000/219/original/media_logo-3.png?1462532894" class="img-responsive media-logo" alt="">
            </div>
            <div class="col-xs-12">
              <p>In a bid to provide a speedy state-of-the-art air lifting service to patients seeking medical facilities in larger cities, JetSetGo, India’s marketplace for private jets and helicopters,</p>
            </div>
            <div class="col-xs-8">
              <div class="view-date-con">
                <span class="view-text gray-text">View</span> - <span class="blue-color">1234</span> | <span class="date-text blue-color">13 Nov, 2015</span>
              </div>
            </div>
            <div class="col-xs-4 text-right">
              <a href="#" class="read-btn">Read More</a>
            </div>
            <div class="clearfix"></div>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-6 res-center-con">
        <div class="media-content">
          <div class="row">
            <div class="col-xs-9">
              <h3>Kanika Tekriwal, CEO, JetSetGo Aviation Services Private Limited</h3>
            </div>
            <div class="col-xs-3">
              <img src="http://d3tfanr7troppj.cloudfront.net/static_files/images/000/000/220/original/media_logo-4.png?1462533156" class="img-responsive media-logo" alt="">
            </div>
            <div class="col-xs-12">
              <p>Kanika Tekriwal, young dynamic business women, who by her sheer grit & determination carved a niche for her in the aviation industry. </p>
            </div>
            <div class="col-xs-8">
              <div class="view-date-con">
                <span class="view-text gray-text">View</span> - <span class="blue-color">1234</span> | <span class="date-text blue-color">13 Nov, 2015</span>
              </div>
            </div>
            <div class="col-xs-4 text-right">
              <a href="#" class="read-btn">Read More</a>
            </div>
            <div class="clearfix"></div>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-6 res-center-con">
        <div class="media-content">
          <div class="row">
            <div class="col-xs-9">
              <h3>Kanika Tekriwal beat back cancer before setting up</h3>
            </div>
            <div class="col-xs-3">
              <img src="http://d3tfanr7troppj.cloudfront.net/static_files/images/000/000/221/original/media_logo-5.png?1462533340" class="img-responsive media-logo" alt="">
            </div>
            <div class="col-xs-12">
              <p>Kanika Tekriwal has been through a lot in her life. Diagnosed with cancer in 2011 when she was just 22 - she fought back not only to beat it, but to create her company JetSetGo</p>
            </div>
            <div class="col-xs-8">
              <div class="view-date-con">
                <span class="view-text gray-text">View</span> - <span class="blue-color">1234</span> | <span class="date-text blue-color">13 Nov, 2015</span>
              </div>
            </div>
            <div class="col-xs-4 text-right">
              <a href="#" class="read-btn">Read More</a>
            </div>
            <div class="clearfix"></div>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-6 res-center-con">
        <div class="media-content">
          <div class="row">
            <div class="col-xs-9">
              <h3>Startups with a flavour of bollywood and cricket</h3>
            </div>
            <div class="col-xs-3">
              <img src="http://d3tfanr7troppj.cloudfront.net/static_files/images/000/000/225/original/media_logo-6.png?1462534664" class="img-responsive media-logo" alt="">
            </div>
            <div class="col-xs-12">
              <p>Kanika Tekriwal has been through a lot in her life. Diagnosed with cancer in 2011 when she was just 22 - she fought back not only to beat it, but to create her company JetSetGo </p>
            </div>
            <div class="col-xs-8">
              <div class="view-date-con">
                <span class="view-text gray-text">View</span> - <span class="blue-color">1234</span> | <span class="date-text blue-color">13 Nov, 2015</span>
              </div>
            </div>
            <div class="col-xs-4 text-right">
              <a href="#" class="read-btn">Read More</a>
            </div>
            <div class="clearfix"></div>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-6 res-center-con">
        <div class="media-content">
          <div class="row">
            <div class="col-xs-9">
              <h3>Luxury in their stride</h3>
            </div>
            <div class="col-xs-3">
              <img src="http://d3tfanr7troppj.cloudfront.net/static_files/images/000/000/223/original/media_logo-7.png?1462534155" class="img-responsive media-logo" alt="">
            </div>
            <div class="col-xs-12">
              <p>A decade ago, Kanika Tekriwal worked for the private aviation vertical of investment giant IndiaBulls. The experience emboldened her to set up in April 2014 JetSetGo.com,</p>
            </div>
            <div class="col-xs-8">
              <div class="view-date-con">
                <span class="view-text gray-text">View</span> - <span class="blue-color">1234</span> | <span class="date-text blue-color">13 Nov, 2015</span>
              </div>
            </div>
            <div class="col-xs-4 text-right">
              <a href="#" class="read-btn">Read More</a>
            </div>
            <div class="clearfix"></div>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-6 res-center-con">
        <div class="media-content">
          <div class="row">
            <div class="col-xs-9">
              <h3>WINGED GUARDIAN</h3>
            </div>
            <div class="col-xs-3">
              <img src="http://d3tfanr7troppj.cloudfront.net/static_files/images/000/000/224/original/media_logo-8.png?1462534265" class="img-responsive media-logo" alt="">
            </div>
            <div class="col-xs-12">
              <p>When it comes to bridal shindigs, she takes the phrase 'sky's the limit' to new heights. Having worked in the aviation industry since the age of 17</p>
            </div>
            <div class="col-xs-8">
              <div class="view-date-con">
                <span class="view-text gray-text">View</span> - <span class="blue-color">1234</span> | <span class="date-text blue-color">13 Nov, 2015</span>
              </div>
            </div>
            <div class="col-xs-4 text-right">
              <a href="#" class="read-btn">Read More</a>
            </div>
            <div class="clearfix"></div>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-6 res-center-con">
        <div class="media-content">
          <div class="row">
            <div class="col-xs-9">
              <h3>Jet Set Go: India's Ascent Into The Private Jet Industry</h3>
            </div>
            <div class="col-xs-3">
              <img src="http://d3tfanr7troppj.cloudfront.net/static_files/images/000/000/218/original/media_logo-2.png?1462532587" class="img-responsive media-logo" alt="">
            </div>
            <div class="col-xs-12">
              <p>In a journey that spans smashing cultural molds and understanding regulatory environments, Kanika Tekriwal, the young CEO and founder of Jet Set Go has a lot to say about being a funded private jet </p>
            </div>
            <div class="col-xs-8">
              <div class="view-date-con">
                <span class="view-text gray-text">View</span> - <span class="blue-color">1234</span> | <span class="date-text blue-color">13 Nov, 2015</span>
              </div>
            </div>
            <div class="col-xs-4 text-right">
              <a href="#" class="read-btn">Read More</a>
            </div>
            <div class="clearfix"></div>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-6 res-center-con">
        <div class="media-content">
          <div class="row">
            <div class="col-xs-9">
              <h3>Mile-High Service </h3>
            </div>
            <div class="col-xs-3">
              <img src="http://d3tfanr7troppj.cloudfront.net/static_files/images/000/000/226/original/media_logo-9.png?1462534836" class="img-responsive media-logo" alt="">
            </div>
            <div class="col-xs-12">
              <p>Kanika Tekriwal, co-founder, JetSetGo, onboard the Cessna Citation XL, which costs approximately ₹190,000 per hour to charter</p>
            </div>
            <div class="col-xs-8">
              <div class="view-date-con">
                <span class="view-text gray-text">View</span> - <span class="blue-color">1234</span> | <span class="date-text blue-color">13 Nov, 2015</span>
              </div>
            </div>
            <div class="col-xs-4 text-right">
              <a href="#" class="read-btn">Read More</a>
            </div>
            <div class="clearfix"></div>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-6 res-center-con">
        <div class="media-content">
          <div class="row">
            <div class="col-xs-9">
              <h3>4 min read Dark confessions straight from an entrepreneur's heart </h3>
            </div>
            <div class="col-xs-3">
              <img src="http://d3tfanr7troppj.cloudfront.net/static_files/images/000/000/227/original/media_logo-10.png?1462535148" class="img-responsive media-logo" alt="">
            </div>
            <div class="col-xs-12">
              <p>The three of us had just about settled in cross legged position for late-night dinner into the newest Korean restaurant when the first phone rang.</p>
            </div>
            <div class="col-xs-8">
              <div class="view-date-con">
                <span class="view-text gray-text">View</span> - <span class="blue-color">1234</span> | <span class="date-text blue-color">13 Nov, 2015</span>
              </div>
            </div>
            <div class="col-xs-4 text-right">
              <a href="#" class="read-btn">Read More</a>
            </div>
            <div class="clearfix"></div>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-6 res-center-con">
        <div class="media-content">
          <div class="row">
            <div class="col-xs-9">
              <h3>An interview with Kanika, founder of “Jetsetgo”</h3>
            </div>
            <div class="col-xs-3">
              <img src="http://d3tfanr7troppj.cloudfront.net/static_files/images/000/000/228/original/media_logo-11.png?1462535368" class="img-responsive media-logo" alt="">
            </div>
            <div class="col-xs-12">
              <p><b>Kanika :</b> JetSetGo provides Indian air charter customers for the first time choice, transparency and flexibility to book a private jet online on both web and mobile platforms.</p>
            </div>
            <div class="col-xs-8">
              <div class="view-date-con">
                <span class="view-text gray-text">View</span> - <span class="blue-color">1234</span> | <span class="date-text blue-color">13 Nov, 2015</span>
              </div>
            </div>
            <div class="col-xs-4 text-right">
              <a href="#" class="read-btn">Read More</a>
            </div>
            <div class="clearfix"></div>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-6 res-center-con">
        <div class="media-content">
          <div class="row">
            <div class="col-xs-9">
              <h3>Use every No as a stepping-stone to success.</h3>
            </div>
            <div class="col-xs-3">
              <img src="http://d3tfanr7troppj.cloudfront.net/static_files/images/000/000/229/original/media_logo-12.png?1462535533" class="img-responsive media-logo" alt="">
            </div>
            <div class="col-xs-12">
              <p>Right from the start, Kanika has been known to be a risk taker and a go getter. Her mission is to be on the list of 100 most powerful women in the world.</p>
            </div>
            <div class="col-xs-8">
              <div class="view-date-con">
                <span class="view-text gray-text">View</span> - <span class="blue-color">1234</span> | <span class="date-text blue-color">13 Nov, 2015</span>
              </div>
            </div>
            <div class="col-xs-4 text-right">
              <a href="#" class="read-btn">Read More</a>
            </div>
            <div class="clearfix"></div>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-6 res-center-con">
        <div class="media-content">
          <div class="row">
            <div class="col-xs-9">
              <h3>Now, book private jets online</h3>
            </div>
            <div class="col-xs-3">
              <img src="http://d3tfanr7troppj.cloudfront.net/static_files/images/000/000/230/original/media_logo-13.png?1462538147" class="img-responsive media-logo" alt="">
            </div>
            <div class="col-xs-12">
              <p>JetSetGo - India’s first online marketplace for private jets and helicopters is set to give private aviation market a fillip. Kanika Tekriwal, CEO, JetSetGo Aviation Services</p>
            </div>
            <div class="col-xs-8">
              <div class="view-date-con">
                <span class="view-text gray-text">View</span> - <span class="blue-color">1234</span> | <span class="date-text blue-color">13 Nov, 2015</span>
              </div>
            </div>
            <div class="col-xs-4 text-right">
              <a href="#" class="read-btn">Read More</a>
            </div>
            <div class="clearfix"></div>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-6 res-center-con">
        <div class="media-content">
          <div class="row">
            <div class="col-xs-9">
              <h3>DIGITAL TRAILBLAZERS- Meet the next stars of the startup web</h3>
            </div>
            <div class="col-xs-3">
              <img src="http://d3tfanr7troppj.cloudfront.net/static_files/images/000/000/229/original/media_logo-12.png?1462535533" class="img-responsive media-logo" alt="">
            </div>
            <div class="col-xs-12">
              <p>A place in India's bureauicratic aviation industry, a thank you note from Fulvia Visconti Ferragamo (of the fashion house), and a plan to raise $6 million by next month-not bad for a 26 year old.</p>
            </div>
            <div class="col-xs-8">
              <div class="view-date-con">
                <span class="view-text gray-text">View</span> - <span class="blue-color">1234</span> | <span class="date-text blue-color">13 Nov, 2015</span>
              </div>
            </div>
            <div class="col-xs-4 text-right">
              <a href="#" class="read-btn">Read More</a>
            </div>
            <div class="clearfix"></div>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-6 res-center-con">
        <div class="media-content">
          <div class="row">
            <div class="col-xs-9">
              <h3>Eureka Moments</h3>
            </div>
            <div class="col-xs-3">
              <img src="http://d3tfanr7troppj.cloudfront.net/static_files/images/000/000/225/original/media_logo-6.png?1462534664" class="img-responsive media-logo" alt="">
            </div>
            <div class="col-xs-12">
              <p>Even as a child, Kanika Tekriwal was fascinated by aviation. In 2009, she got to work for Aerospace Researchers in the UK. Two years later, at age 21, she was diagnosed with cancer.</p>
            </div>
            <div class="col-xs-8">
              <div class="view-date-con">
                <span class="view-text gray-text">View</span> - <span class="blue-color">1234</span> | <span class="date-text blue-color">13 Nov, 2015</span>
              </div>
            </div>
            <div class="col-xs-4 text-right">
              <a href="#" class="read-btn">Read More</a>
            </div>
            <div class="clearfix"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="clearfix"></div>
</div>
<!-- media content section finish