<!-- media section start -->
<div class="inner-banner media-banner">
  <div class="heading">
    <h1>Media</h1>
  </div>
</div>
<!-- media section finish -->

<!-- media content section start -->
<div class="media-content-main">

  <div class="col-sm-6">
    <a href="http://www.financialexpress.com/article/healthcare/hospiinfra/jetsetgo-can-now-mobilise-an-air-ambulance-in-any-part-of-the-country-in-as-little-as-two-hours/163360/">
      <div class="media-content media-bg1">
        <div class="row">
          <div class="col-sm-6 media-img">
            <img src="http://images.financialexpress.com/2015/11/201511ehm31.jpg" alt="" class="img-responsive" />
          </div>
          <div class="col-sm-6 media-text">
            <h4>
              JetSetGo can now mobilise an air ambulance in any part of the country in as little as two hours’
            </h4>
            <a href="#" class="web-link">financialexpress.com</a>
            <div class="date date-color1">- 9 -<br/><span>nov</span></br>- 2015 -</div>
          </div>
          <div class="clearfix"></div>
        </div>
      </div>
    </a>
  </div>

  <div class="col-sm-6">
    <a href="http://forbesindia.com/article/best-things-money-can-buy/jetsetgo-the-uber-of-indian-skies/41417/1">
      <div class="media-content media-bg2">
        <div class="row">
          <div class="col-sm-6 media-img">

            <img src="http://d3tfanr7troppj.cloudfront.net/static_files/images/000/000/095/original/topimg_28729_kanika_tekriwal_600x400.jpg?1457506815" class="img-responsive" />

          </div>
          <div class="col-sm-6 media-text">
            <h4>
              JetSetGo: The Uber of Indian skies
            </h4>
            <a href="#" class="web-link">Forbes India</a>
            <div class="date date-color2">- 3 -<br/><span>nov</span></br>- 2015 -</div>
          </div>
          <div class="clearfix"></div>
        </div>
      </div>
    </a>

  </div>

  <div class="col-sm-6">
    <a href="http://www.pharmabiz.com/NewsDetails.aspx?aid=91065&sid=2">
      <div class="media-content media-bg3">
        <div class="row">
          <div class="col-sm-6 media-img">
            <img src="http://d3tfanr7troppj.cloudfront.net/static_files/images/000/000/095/original/topimg_28729_kanika_tekriwal_600x400.jpg?1457506815" class="img-responsive" />
          </div>
          <div class="col-sm-6 media-text">
            <h4>
              JetSetGo introduces bed to bed affordable air ambulance services
            </h4>
            <a href="#" class="web-link">pharmabiz.com</a>
            <div class="date date-color3">- 12 -<br/><span>oct</span></br>- 2015 -</div>
          </div>
          <div class="clearfix"></div>
        </div>
      </div>
    </a>
  </div>

  <div class="col-sm-6">
    <a href="http://iwilindia.com/success-story/kanika-tekriwal-ceo-jetsetgo-aviation-services-private-limited/">
      <div class="media-content media-bg4">
        <div class="row">
          <div class="col-sm-6 media-img">
            <img src="http://iwilindia.com/wp-content/uploads/2015/10/kanika-tekriwal.jpg" class="img-responsive" />
          </div>
          <div class="col-sm-6 media-text">
            <h4>
              Kanika Tekriwal, CEO, JetSetGo Aviation Services Private Limited
            </h4>
            <a href="#" class="web-link">Indian Women Institutional League (IWIL)</a>
            <div class="date date-color4">- 1 -<br/><span>oct</span></br>- 2015 -</div>
          </div>
          <div class="clearfix"></div>
        </div>
      </div>
    </a>
  </div>

  <div class="col-sm-6">
    <a href="http://veetrack.com/showarticles.aspx?UName=42414F41&id=39353230353636">
      <div class="media-content media-bg1">
        <div class="row">
          <div class="col-sm-6 media-img">
            <img src="http://veetrack.com/tracking/articles/2015/09/21/del20150921mt9520566.jpg" alt="" class="img-responsive" />
          </div>
          <div class="col-sm-6 media-text">
            <h4>
              Kanika Tekriwal beat back cancer before setting up online portal JetSetGo
            </h4>
            <a href="#" class="web-link">Mail Today</a>
            <div class="date date-color1">- 21 -<br/><span>sep</span></br>- 2015 -</div>
          </div>
          <div class="clearfix"></div>
        </div>
      </div>
    </a>
  </div>

  <div class="col-sm-6">
    <a href="http://veetrack.com/tracking/articles/2015/09/20/del20150920tto9518480.jpg">
      <div class="media-content media-bg2">
        <div class="row">
          <div class="col-sm-6 media-img">

            <img src="http://d3tfanr7troppj.cloudfront.net/static_files/images/000/000/095/original/topimg_28729_kanika_tekriwal_600x400.jpg?1457506815" class="img-responsive" />

          </div>
          <div class="col-sm-6 media-text">
            <h4>
              Startups with a flavour of bollywood and cricket
            </h4>
            <a href="#" class="web-link">The Times of India</a>
            <div class="date date-color2">- 20 -<br/><span>sep</span></br>- 2015 -</div>
          </div>
          <div class="clearfix"></div>
        </div>
      </div>
    </a>

  </div>

  <div class="col-sm-6">
    <a href="http://media2.intoday.in/btmt/images/stories/kanika-660_082515080046.jpg">
      <div class="media-content media-bg3">
        <div class="row">
          <div class="col-sm-6 media-img">
            <img src="http://d3tfanr7troppj.cloudfront.net/static_files/images/000/000/095/original/topimg_28729_kanika_tekriwal_600x400.jpg?1457506815" class="img-responsive" />
          </div>
          <div class="col-sm-6 media-text">
            <h4>
              Luxury in their stride
            </h4>
            <a href="#" class="web-link">businesstoday.in</a>
            <div class="date date-color3">- 1 -<br/><span>sep</span></br>- 2015 -</div>
          </div>
          <div class="clearfix"></div>
        </div>
      </div>
    </a>
  </div>

  <div class="col-sm-6">
    <a href="http://d2dk6h4tn0pwbb.cloudfront.net/media/image2/78/original/verve.pdf?1442380335">
      <div class="media-content media-bg4">
        <div class="row">
          <div class="col-sm-6 media-img">
            <img src="http://iwilindia.com/wp-content/uploads/2015/10/kanika-tekriwal.jpg" class="img-responsive" />
          </div>
          <div class="col-sm-6 media-text">
            <h4>
              WINGED GUARDIAN
            </h4>
            <a href="#" class="web-link">Verve magazine</a>
            <div class="date date-color4">- 1 -<br/><span>sep</span></br>- 2015 -</div>
          </div>
          <div class="clearfix"></div>
        </div>
      </div>
    </a>
  </div>

  <div class="col-sm-6">
    <a href="http://www.forbes.com/sites/abehal/2015/08/31/jet-set-go-indias-ascent-into-the-private-jet-industry/">
      <div class="media-content media-bg1">
        <div class="row">
          <div class="col-sm-6 media-img">

            <img src="http://www.outlookbusiness.com/cest-la-vie/the-good-life/mile-high-service-1898" class="img-responsive" />

          </div>
          <div class="col-sm-6 media-text">
            <h4>
              Jet Set Go: India's Ascent Into The Private Jet Industry
            </h4>
            <a href="#" class="web-link">Forbes</a>
            <div class="date date-color2">- 31 -<br/><span>aug</span></br>- 2015 -</div>
          </div>
          <div class="clearfix"></div>
        </div>
      </div>
    </a>

  </div>

  <div class="col-sm-6">
    <a href="http://www.outlookbusiness.com/cest-la-vie/the-good-life/mile-high-service-1898">
      <div class="media-content media-bg2">
        <div class="row">
          <div class="col-sm-6 media-img">

            <img src="http://www.outlookbusiness.com/cest-la-vie/the-good-life/mile-high-service-1898" class="img-responsive" />

          </div>
          <div class="col-sm-6 media-text">
            <h4>
              Mile-High Service
            </h4>
            <a href="#" class="web-link">Outlook Business</a>
            <div class="date date-color2">- 30 -<br/><span>aug</span></br>- 2015 -</div>
          </div>
          <div class="clearfix"></div>
        </div>
      </div>
    </a>

  </div>

  <div class="col-sm-6">
    <a href="http://www.entrepreneur.com/article/249682">
      <div class="media-content media-bg3">
        <div class="row">
          <div class="col-sm-6 media-img">
            <img src="http://d3tfanr7troppj.cloudfront.net/static_files/images/000/000/095/original/topimg_28729_kanika_tekriwal_600x400.jpg?1457506815" class="img-responsive" />
          </div>
          <div class="col-sm-6 media-text">
            <h4>
              4 min read Dark confessions straight from an entrepreneur's heart
            </h4>
            <a href="#" class="web-link">entrepreneur.com</a>
            <div class="date date-color3">- 12 -<br/><span>aug</span></br>- 2015 -</div>
          </div>
          <div class="clearfix"></div>
        </div>
      </div>
    </a>
  </div>

  <div class="col-sm-6">
    <a href="http://www.smartindianwomen.com/an-interview-with-kanika-founder-of-jetsetgo/">
      <div class="media-content media-bg4">
        <div class="row">
          <div class="col-sm-6 media-img">
            <img src="http://iwilindia.com/wp-content/uploads/2015/10/kanika-tekriwal.jpg" class="img-responsive" />
          </div>
          <div class="col-sm-6 media-text">
            <h4>
              An interview with Kanika, founder of “Jetsetgo”
            </h4>
            <a href="#" class="web-link">smartindianwomen.com</a>
            <div class="date date-color4">- 14 -<br/><span>aug</span></br>- 2015 -</div>
          </div>
          <div class="clearfix"></div>
        </div>
      </div>
    </a>
  </div>

  <div class="col-sm-6">
    <a href="http://www.yosuccess.com/interviews/kanika-tekriwal-jetsetgo/">
      <div class="media-content media-bg1">
        <div class="row">
          <div class="col-sm-6 media-img">
            <img src="http://veetrack.com/tracking/articles/2015/09/21/del20150921mt9520566.jpg" alt="" class="img-responsive" />
          </div>
          <div class="col-sm-6 media-text">
            <h4>
              "Use every No as a stepping-stone to success. Turn every 'NO' into a 'YES' through your journey"
            </h4>
            <a href="#" class="web-link">yosuccess.com</a>
            <div class="date date-color1">- 7 -<br/><span>aug</span></br>- 2015 -</div>
          </div>
          <div class="clearfix"></div>
        </div>
      </div>
    </a>
  </div>

  <div class="col-sm-6">
    <a href="http://d2dk6h4tn0pwbb.cloudfront.net/media/image2/71/original/TTI_Aug1st15.pdf?1439799227">
      <div class="media-content media-bg2">
        <div class="row">
          <div class="col-sm-6 media-img">
            <img src="http://iwilindia.com/wp-content/uploads/2015/10/kanika-tekriwal.jpg" class="img-responsive" />
          </div>
          <div class="col-sm-6 media-text">
            <h4>
              Now, book private jets online
            </h4>
            <a href="#" class="web-link">TravTalk</a>
            <div class="date date-color4">- 1 -<br/><span>aug</span></br>- 2015 -</div>
          </div>
          <div class="clearfix"></div>
        </div>
      </div>
    </a>
  </div>

  <div class="col-sm-6">
    <a href="http://d2dk6h4tn0pwbb.cloudfront.net/media/image2/72/original/Doc1.pdf?1439543367">
      <div class="media-content media-bg3">
        <div class="row">
          <div class="col-sm-6 media-img">
            <img src="http://d3tfanr7troppj.cloudfront.net/static_files/images/000/000/095/original/topimg_28729_kanika_tekriwal_600x400.jpg?1457506815" class="img-responsive" />
          </div>
          <div class="col-sm-6 media-text">
            <h4>
              DIGITAL TRAILBLAZERS- Meet the next stars of the startup web
            </h4>
            <a href="#" class="web-link">Harper's BAZAAR INDIA</a>
            <div class="date date-color2">- 1 -<br/><span>aug</span></br>- 2015 -</div>
          </div>
          <div class="clearfix"></div>
        </div>
      </div>
    </a>
  </div>

  <div class="col-sm-6">
    <a href="http://d2dk6h4tn0pwbb.cloudfront.net/media/image2/70/original/Aj40xqhp4n1qqab8BdwrmCsv5GxYMbup9SmyJh2K00B0.pdf?1439009130">
      <div class="media-content media-bg4">
        <div class="row">
          <div class="col-sm-6 media-img">
            <img src="http://d3tfanr7troppj.cloudfront.net/static_files/images/000/000/095/original/topimg_28729_kanika_tekriwal_600x400.jpg?1457506815" class="img-responsive" />
          </div>
          <div class="col-sm-6 media-text">
            <h4>
              Eureka Moments
            </h4>
            <a href="#" class="web-link">The Times of India</a>
            <div class="date date-color3">- 13 -<br/><span>jul</span></br>- 2015 -</div>
          </div>
          <div class="clearfix"></div>
        </div>
      </div>
    </a>
  </div>

  <div class="col-sm-6">
    <a href="http://profit.ndtv.com/news/corporates/article-after-beauty-education-yuvraj-singh-looks-towards-the-sky-1201749">
      <div class="media-content media-bg1">
        <div class="row">
          <div class="col-sm-6 media-img">
            <img src="http://images.financialexpress.com/2015/11/201511ehm31.jpg" alt="" class="img-responsive" />
          </div>
          <div class="col-sm-6 media-text">
            <h4>
              After Beauty, Education, Yuvraj Singh Looks Towards The Sky
            </h4>
            <a href="#" class="web-link">NDTV PROFIT</a>
            <div class="date date-color1">- 29 -<br/><span>jul</span></br>- 2015 -</div>
          </div>
          <div class="clearfix"></div>
        </div>
      </div>
    </a>
  </div>

  <div class="col-sm-6">
    <a href="http://www.entrepreneur.com/article/248914">
      <div class="media-content media-bg2">
        <div class="row">
          <div class="col-sm-6 media-img">

            <img src="http://d3tfanr7troppj.cloudfront.net/static_files/images/000/000/095/original/topimg_28729_kanika_tekriwal_600x400.jpg?1457506815" class="img-responsive" />

          </div>
          <div class="col-sm-6 media-text">
            <h4>
              Yuvi backed YouWeCan Ventures helping create a new era of luxury travel in India
            </h4>
            <a href="#" class="web-link">Fentrepreneur.coma</a>
            <div class="date date-color2">- 28 -<br/><span>jul</span></br>- 2015 -</div>
          </div>
          <div class="clearfix"></div>
        </div>
      </div>
    </a>

  </div>

  <div class="col-sm-6">
    <a href="http://www.entrepreneur.com/article/248857">
      <div class="media-content media-bg3">
        <div class="row">
          <div class="col-sm-6 media-img">
            <img src="http://d3tfanr7troppj.cloudfront.net/static_files/images/000/000/095/original/topimg_28729_kanika_tekriwal_600x400.jpg?1457506815" class="img-responsive" />
          </div>
          <div class="col-sm-6 media-text">
            <h4>
              How JetSetGo is redefining the private aviation business in India
            </h4>
            <a href="#" class="web-link">entrepreneur.com</a>
            <div class="date date-color3">- 27 -<br/><span>jul</span></br>- 2015 -</div>
          </div>
          <div class="clearfix"></div>
        </div>
      </div>
    </a>
  </div>

  <div class="col-sm-6">
    <a href="https://www.techinasia.com/asian-startup-list-26-july-2015/">
      <div class="media-content media-bg4">
        <div class="row">
          <div class="col-sm-6 media-img">
            <img src="http://iwilindia.com/wp-content/uploads/2015/10/kanika-tekriwal.jpg" class="img-responsive" />
          </div>
          <div class="col-sm-6 media-text">
            <h4>
              27 startups in Asia that caught our eye
            </h4>
            <a href="#" class="web-link">techinasia.com</a>
            <div class="date date-color4">- 26 -<br/><span>jul</span></br>- 2015 -</div>
          </div>
          <div class="clearfix"></div>
        </div>
      </div>
    </a>
  </div>

  <div class="col-sm-6">
    <a href="http://www.iamwire.com/2015/07/yuvraj-singhs-youwecan-investment-jetsetgo/120024">
      <div class="media-content media-bg1">
        <div class="row">
          <div class="col-sm-6 media-img">
            <img src="http://veetrack.com/tracking/articles/2015/09/21/del20150921mt9520566.jpg" alt="" class="img-responsive" />
          </div>
          <div class="col-sm-6 media-text">
            <h4>
              Yuvraj Singh’s YouWeCan Makes Fifth Investment in JetSetGo
            </h4>
            <a href="#" class="web-link">iamwire.com</a>
            <div class="date date-color1">- 24 -<br/><span>jul</span></br>- 2015 -</div>
          </div>
          <div class="clearfix"></div>
        </div>
      </div>
    </a>
  </div>

  <div class="col-sm-6">
    <a href="http://www.televisionpost.com/news/yuvraj-singh-invests-in-jetsetgo/">
      <div class="media-content media-bg2">
        <div class="row">
          <div class="col-sm-6 media-img">
            <img src="http://d3tfanr7troppj.cloudfront.net/static_files/images/000/000/095/original/topimg_28729_kanika_tekriwal_600x400.jpg?1457506815" class="img-responsive" />
          </div>
          <div class="col-sm-6 media-text">
            <h4>
              Yuvraj Singh invests in JetSetGo
            </h4>
            <a href="#" class="web-link">televisionpost.com</a>
            <div class="date date-color2">- 24 -<br/><span>jul</span></br>- 2015 -</div>
          </div>
          <div class="clearfix"></div>
        </div>
      </div>
    </a>

  </div>

  <div class="col-sm-6">
    <a href="http://www.moneycontrol.com/news/business/youwecan-ventures-investsjetsetgo_2123421.html">
      <div class="media-content media-bg3">
        <div class="row">
          <div class="col-sm-6 media-img">
            <img src="http://d3tfanr7troppj.cloudfront.net/static_files/images/000/000/095/original/topimg_28729_kanika_tekriwal_600x400.jpg?1457506815" class="img-responsive" />
          </div>
          <div class="col-sm-6 media-text">
            <h4>
              YouWeCan Ventures invests in JetSetGo
            </h4>
            <a href="#" class="web-link">moneycontrol.com</a>
            <div class="date date-color3">- 24 -<br/><span>jul</span></br>- 2015 -</div>
          </div>
          <div class="clearfix"></div>
        </div>
      </div>
    </a>
  </div>

  <div class="col-sm-6">
    <a href="http://economictimes.indiatimes.com/small-biz/startups/taking-to-the-skies-youwecan-ventures-invests-in-jetsetgo/articleshow/48180215.cms">
      <div class="media-content media-bg4">
        <div class="row">
          <div class="col-sm-6 media-img">
            <img src="http://iwilindia.com/wp-content/uploads/2015/10/kanika-tekriwal.jpg" class="img-responsive" />
          </div>
          <div class="col-sm-6 media-text">
            <h4>
              Taking to the skies: YouWeCan Ventures invests in JetSetGo
            </h4>
            <a href="#" class="web-link">The Economic times </a>
            <div class="date date-color4">- 23 -<br/><span>jul</span></br>- 2015 -</div>
          </div>
          <div class="clearfix"></div>
        </div>
      </div>
    </a>
  </div>

  <div class="col-sm-6">
    <a href="http://www.nextbigwhat.com/jetsetgo-youwecan-ventures-funding-297/">
      <div class="media-content media-bg1">
        <div class="row">
          <div class="col-sm-6 media-img">

            <img src="http://www.outlookbusiness.com/cest-la-vie/the-good-life/mile-high-service-1898" class="img-responsive" />

          </div>
          <div class="col-sm-6 media-text">
            <h4>
              YouWeCan Ventures invests in JetSetGo, Marketplace for Private Jets and Helicopters
            </h4>
            <a href="#" class="web-link">NextBigWhaT.com </a>
            <div class="date date-color2">- 23 -<br/><span>jul</span></br>- 2015 -</div>
          </div>
          <div class="clearfix"></div>
        </div>
      </div>
    </a>

  </div>

  <div class="col-sm-6">
    <a href="http://thetechportal.in/2015/07/23/an-online-marketplace-for-private-jets-jetsetgo-secures-funds-from-youwecan-ventures/">
      <div class="media-content media-bg2">
        <div class="row">
          <div class="col-sm-6 media-img">

            <img src="http://www.outlookbusiness.com/cest-la-vie/the-good-life/mile-high-service-1898" class="img-responsive" />

          </div>
          <div class="col-sm-6 media-text">
            <h4>
              An Online Marketplace For Private Jets, JetSetGo Secures Funds From YouWeCan Ventures
            </h4>
            <a href="#" class="web-link">Outlook Business</a>
            <div class="date date-color2">- 23 -<br/><span>jul</span></br>- 2015 -</div>
          </div>
          <div class="clearfix"></div>
        </div>
      </div>
    </a>

  </div>

  <div class="col-sm-6">
    <a href="http://inc42.com/buzz/jetsetgo-funding/">
      <div class="media-content media-bg3">
        <div class="row">
          <div class="col-sm-6 media-img">
            <img src="http://d3tfanr7troppj.cloudfront.net/static_files/images/000/000/095/original/topimg_28729_kanika_tekriwal_600x400.jpg?1457506815" class="img-responsive" />
          </div>
          <div class="col-sm-6 media-text">
            <h4>
              Flying High!! Marketplace For Jets & Private Helicopters, JetSetGo, Bags Funds From Yuvraj Singh’s YouWeCan ventures
            </h4>
            <a href="#" class="web-link">Inc42.com</a>
            <div class="date date-color3">- 23 -<br/><span>jul</span></br>- 2015 -</div>
          </div>
          <div class="clearfix"></div>
        </div>
      </div>
    </a>
  </div>

  <div class="col-sm-6">
    <a href="http://www.smartindianwomen.com/an-interview-with-kanika-founder-of-jetsetgo/">
      <div class="media-content media-bg4">
        <div class="row">
          <div class="col-sm-6 media-img">
            <img src="http://iwilindia.com/wp-content/uploads/2015/10/kanika-tekriwal.jpg" class="img-responsive" />
          </div>
          <div class="col-sm-6 media-text">
            <h4>
              YouWeCan Ventures invests in JetSetGo, Marketplace for Private Jets and Helicopters
            </h4>
            <a href="#" class="web-link">brunchnews.com</a>
            <div class="date date-color4">- 23 -<br/><span>jul</span></br>- 2015 -</div>
          </div>
          <div class="clearfix"></div>
        </div>
      </div>
    </a>
  </div>

  <div class="col-sm-6">
    <a href="http://yourstory.com/2015/07/jetsetgo-funding/">
      <div class="media-content media-bg1">
        <div class="row">
          <div class="col-sm-6 media-img">
            <img src="http://veetrack.com/tracking/articles/2015/09/21/del20150921mt9520566.jpg" alt="" class="img-responsive" />
          </div>
          <div class="col-sm-6 media-text">
            <h4>
              Marketplace for private jet, copter and air ambulance, JetSetGo secures funding from Yuvraj Singh
            </h4>
            <a href="#" class="web-link">yourstory.com</a>
            <div class="date date-color1">- 23 -<br/><span>jul</span></br>- 2015 -</div>
          </div>
          <div class="clearfix"></div>
        </div>
      </div>
    </a>
  </div>

  <div class="col-sm-6">
    <a href="http://www.livemint.com/Companies/5DifBkmfv79K5zXBXZyfJL/Yuvraj-Singh-backed-YouWeCan-Ventures-invests-in-JetSetGo.html">
      <div class="media-content media-bg2">
        <div class="row">
          <div class="col-sm-6 media-img">
            <img src="http://iwilindia.com/wp-content/uploads/2015/10/kanika-tekriwal.jpg" class="img-responsive" />
          </div>
          <div class="col-sm-6 media-text">
            <h4>
              Yuvraj Singh backed YouWeCan Ventures invests in JetSetGo
            </h4>
            <a href="#" class="web-link">livemint.com</a>
            <div class="date date-color4">- 23 -<br/><span>jul</span></br>- 2015 -</div>
          </div>
          <div class="clearfix"></div>
        </div>
      </div>
    </a>
  </div>

  <div class="col-sm-6">
    <a href="http://www.indiainfoline.com/article/news-top-story/yuvraj-singh-s-youwecan-ventures-invests-in-jetsetgo-115072300390_1.html">
      <div class="media-content media-bg3">
        <div class="row">
          <div class="col-sm-6 media-img">
            <img src="http://d3tfanr7troppj.cloudfront.net/static_files/images/000/000/095/original/topimg_28729_kanika_tekriwal_600x400.jpg?1457506815" class="img-responsive" />
          </div>
          <div class="col-sm-6 media-text">
            <h4>
              Yuvraj Singh's YouWeCan Ventures invests in JetSetGo
            </h4>
            <a href="#" class="web-link">indiainfoline.com</a>
            <div class="date date-color2">- 23 -<br/><span>jul</span></br>- 2015 -</div>
          </div>
          <div class="clearfix"></div>
        </div>
      </div>
    </a>
  </div>

  <div class="col-sm-6">
    <a href="http://www.business-standard.com/article/companies/yuvraj-singh-funded-youwecan-ventures-invests-in-jetsetgo-115072300615_1.html">
      <div class="media-content media-bg4">
        <div class="row">
          <div class="col-sm-6 media-img">
            <img src="http://d3tfanr7troppj.cloudfront.net/static_files/images/000/000/095/original/topimg_28729_kanika_tekriwal_600x400.jpg?1457506815" class="img-responsive" />
          </div>
          <div class="col-sm-6 media-text">
            <h4>
              Yuvraj Singh-funded YouWeCan Ventures invests in JetSetGo
            </h4>
            <a href="#" class="web-link">business-standard.com</a>
            <div class="date date-color3">- 23 -<br/><span>jul</span></br>- 2015 -</div>
          </div>
          <div class="clearfix"></div>
        </div>
      </div>
    </a>
  </div>

  <div class="col-sm-6">
    <a href="http://www.dealcurry.com/20150723-Private-Jet-Booking-Platform-JetSetGo-Secures-Funding.htm">
      <div class="media-content media-bg1">
        <div class="row">
          <div class="col-sm-6 media-img">
            <img src="http://veetrack.com/tracking/articles/2015/09/21/del20150921mt9520566.jpg" alt="" class="img-responsive" />
          </div>
          <div class="col-sm-6 media-text">
            <h4>
              Private Jet Booking Platform JetSetGo Secures Funding
            </h4>
            <a href="#" class="web-link">dealcurry.com</a>
            <div class="date date-color1">- 23 -<br/><span>jul</span></br>- 2015 -</div>
          </div>
          <div class="clearfix"></div>
        </div>
      </div>
    </a>
  </div>

  <div class="col-sm-6">
    <a href="http://pixr8.com/yuvraj-singh-co-funded-jetsetgo-indias-first-marketplace-for-private-jets-and-helicopters/">
      <div class="media-content media-bg2">
        <div class="row">
          <div class="col-sm-6 media-img">
            <img src="http://iwilindia.com/wp-content/uploads/2015/10/kanika-tekriwal.jpg" class="img-responsive" />
          </div>
          <div class="col-sm-6 media-text">
            <h4>
              Yuvraj singh & Co funded JetSetGo India’s first marketplace for private jets and helicopters
            </h4>
            <a href="#" class="web-link">pixr8.com</a>
            <div class="date date-color4">- 23 -<br/><span>jul</span></br>- 2015 -</div>
          </div>
          <div class="clearfix"></div>
        </div>
      </div>
    </a>
  </div>

  <div class="col-sm-6">
    <a href="http://stocksmarket.in/214129/2015/07/23/youwecan-ventures-invests-in-jetsetgo/">
      <div class="media-content media-bg3">
        <div class="row">
          <div class="col-sm-6 media-img">
            <img src="http://d3tfanr7troppj.cloudfront.net/static_files/images/000/000/095/original/topimg_28729_kanika_tekriwal_600x400.jpg?1457506815" class="img-responsive" />
          </div>
          <div class="col-sm-6 media-text">
            <h4>
              Yuvraj Singh's YouWeCan Ventures invests in JetSetGo
            </h4>
            <a href="#" class="web-link">stocksmarket.in</a>
            <div class="date date-color2">- 23 -<br/><span>jul</span></br>- 2015 -</div>
          </div>
          <div class="clearfix"></div>
        </div>
      </div>
    </a>
  </div>

  <div class="col-sm-6">
    <a href="http://vondroid.com/threads/india-funding-round-up-medgenome-labs-jetsetgo-fitternity.37138/#.VbI1Q_nSm4g">
      <div class="media-content media-bg4">
        <div class="row">
          <div class="col-sm-6 media-img">
            <img src="http://d3tfanr7troppj.cloudfront.net/static_files/images/000/000/095/original/topimg_28729_kanika_tekriwal_600x400.jpg?1457506815" class="img-responsive" />
          </div>
          <div class="col-sm-6 media-text">
            <h4>
              India funding round-up: JetSetGo
            </h4>
            <a href="#" class="web-link">vondroid.com</a>
            <div class="date date-color3">- 23 -<br/><span>jul</span></br>- 2015 -</div>
          </div>
          <div class="clearfix"></div>
        </div>
      </div>
    </a>
  </div>

  <div class="col-sm-6">
    <a href="http://finthoughts.com/feedpost/youwecan-ventures-invests-in-jetsetgo/">
      <div class="media-content media-bg1">
        <div class="row">
          <div class="col-sm-6 media-img">
            <img src="http://veetrack.com/tracking/articles/2015/09/21/del20150921mt9520566.jpg" alt="" class="img-responsive" />
          </div>
          <div class="col-sm-6 media-text">
            <h4>
              YouWeCan Ventures invests in JetSetGo
            </h4>
            <a href="#" class="web-link">finthoughts.com</a>
            <div class="date date-color1">- 23 -<br/><span>jul</span></br>- 2015 -</div>
          </div>
          <div class="clearfix"></div>
        </div>
      </div>
    </a>
  </div>

  <div class="col-sm-6">
    <a href="http://nternet.in/yuvraj-singh-backed-youwecan-invests-in-marketplace-for-private-jets-jetsetgo/">
      <div class="media-content media-bg2">
        <div class="row">
          <div class="col-sm-6 media-img">
            <img src="http://iwilindia.com/wp-content/uploads/2015/10/kanika-tekriwal.jpg" class="img-responsive" />
          </div>
          <div class="col-sm-6 media-text">
            <h4>
              Yuvraj Singh-backed YouWeCan invests in marketplace for private jets JetSetGo
            </h4>
            <a href="#" class="web-link">nternet.in</a>
            <div class="date date-color4">- 23 -<br/><span>jul</span></br>- 2015 -</div>
          </div>
          <div class="clearfix"></div>
        </div>
      </div>
    </a>
  </div>

  <div class="col-sm-6">
    <a href="http://www.starterincubator.com/venture-capital/startups/marketplace-for-private-jet-copter-and-air-ambulance-jetsetgo-secures-funding-from-yuvraj-singh/">
      <div class="media-content media-bg3">
        <div class="row">
          <div class="col-sm-6 media-img">
            <img src="http://d3tfanr7troppj.cloudfront.net/static_files/images/000/000/095/original/topimg_28729_kanika_tekriwal_600x400.jpg?1457506815" class="img-responsive" />
          </div>
          <div class="col-sm-6 media-text">
            <h4>
              Marketplace for private jet, copter and air ambulance, JetSetGo secures funding from Yuvraj Singh
            </h4>
            <a href="#" class="web-link">starterincubator.com</a>
            <div class="date date-color2">- 23 -<br/><span>jul</span></br>- 2015 -</div>
          </div>
          <div class="clearfix"></div>
        </div>
      </div>
    </a>
  </div>

  <div class="col-sm-6">
    <a href="http://www.polkacafe.com/indian-women-entrepreneurs-1691.html">
      <div class="media-content media-bg4">
        <div class="row">
          <div class="col-sm-6 media-img">
            <img src="http://d3tfanr7troppj.cloudfront.net/static_files/images/000/000/095/original/topimg_28729_kanika_tekriwal_600x400.jpg?1457506815" class="img-responsive" />
          </div>
          <div class="col-sm-6 media-text">
            <h4>
              These Indian Start-Up Queens Will Inspire You To Take The Entrepreneurial Plunge
            </h4>
            <a href="#" class="web-link">polkacafe.com</a>
            <div class="date date-color3">- 22 -<br/><span>jul</span></br>- 2015 -</div>
          </div>
          <div class="clearfix"></div>
        </div>
      </div>
    </a>
  </div>

  <div class="clearfix"></div>
</div>
<!-- media content section finish