<!-- media section start -->
<div class="section-heading search_heading">
  <div class="container">
    <img class="img-responsive" src="http://d3tfanr7troppj.cloudfront.net/static_files/images/000/000/643/original/newsandmedia.png?1471512486" alt="">
  </div>
</div>
<div class="media-big-logo text-center">
  <div class="container">
    <img class="img-responsive" src="http://d3tfanr7troppj.cloudfront.net/static_files/images/000/000/560/original/JSG-Typography.png?1470735982" alt="" />
  </div>
</div>
<!-- media content start -->
  <div class="media-content-main">
    <div class="container">
      <h2>
        Press Releases
        <!-- <span class="pull-right year-browse">
          Browse By Year 
          <select class="year-select">
            <option>2016</option>
            <option>2015</option>
          </select>
        </span> -->
      </h2>
      <div class="media-content">
        <div class="section" ng-repeat="media_content in ctrl.media">
          <div class="row">
            <div class="col-sm-3 col-xs-12">
              <img class="img-responsive" src="" ng-src="{{media_content.image_url}}" alt="" />
            </div>
            <div class="col-sm-9 col-xs-12">
              <p>{{media_content.description}}</p>
              <p class="read-more">
                <a href="" ng-href="{{media_content.redirect_url}}" target="_blank">Read More </a>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<!-- media content finish -->


<!-- media section finish -->

<!-- media section start -->
<!-- <div class="inner-banner media-banner">
  <div class="heading">
    <h1><span class="heading">Media</span></h1>
  </div>
  <div class="banner-content">
    <p>
      Any business - be it JetSetGo or any other, doesn't really require investment to start. If you have the drive and motivation, the business will build up. I started my company with an initial investment of some 5,000 Rs
    </p>
  </div>

</div> -->
<!-- media section finish -->

<!-- media content section start -->
<!-- <div class="media-content-main">
  <div class="container">
    <div class="row">
      <div class="col-md-4 col-sm-6 res-center-con">
        <div class="media-first-con">
          <img src="http://d3tfanr7troppj.cloudfront.net/static_files/images/000/000/251/original/media-img.jpg?1463477296" class="img-responsive" alt="">
          <div class="media-content">
            <div class="col-xs-9">
              <h3>JetSetGo: The Uber of Indian skies</h3>
            </div>
            <div class="col-xs-3">
              <img src="http://d3tfanr7troppj.cloudfront.net/static_files/images/000/000/218/original/media_logo-2.png?1462532587" class="img-responsive media-logo" alt="">
            </div>
            <div class="col-xs-12">
              <p>About three months ago, a Gulfstream G650, a leading luxury business jet, flew into New Delhi from the US. The aircraft, which was chartered for a one-way trip, would have normally returned empty legged to its home airport. But this is the Information Age.</p>
            </div>
            <div class="col-xs-12 text-right">
              <a href="http://forbesindia.com/article/best-things-money-can-buy/jetsetgo-the-uber-of-indian-skies/41417/1" target="_blank" class="read-btn">Read More</a>
            </div>
            <div class="clearfix"></div>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-6 res-center-con">
        <div class="media-content">
          <div class="row">
            <div class="col-xs-9">
              <h3>JetSetGo introduces bed to bed affordable air ambulance services</h3>
            </div>
            <div class="col-xs-3">
              <img src="http://d3tfanr7troppj.cloudfront.net/static_files/images/000/000/219/original/media_logo-3.png?1462532894" class="img-responsive media-logo" alt="">
            </div>
            <div class="col-xs-12">
              <p>In a bid to provide a speedy state-of-the-art air lifting service to patients seeking medical facilities in larger cities, JetSetGo, India’s marketplace for private jets and helicopters,</p>
            </div>
            <div class="col-xs-8">
              <div class="view-date-con">
                <span class="date-text blue-color">12 Oct, 2015</span>
              </div>
            </div>
            <div class="col-xs-4 text-right">
              <a href="http://www.pharmabiz.com/NewsDetails.aspx?aid=91065&sid=2" target="_blank" class="read-btn">Read More</a>
            </div>
            <div class="clearfix"></div>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-6 res-center-con">
        <div class="media-content">
          <div class="row">
            <div class="col-xs-9">
              <h3>Kanika Tekriwal, CEO, JetSetGo Aviation Services Private Limited</h3>
            </div>
            <div class="col-xs-3">
              <img src="http://d3tfanr7troppj.cloudfront.net/static_files/images/000/000/220/original/media_logo-4.png?1462533156" class="img-responsive media-logo" alt="">
            </div>
            <div class="col-xs-12">
              <p>Kanika Tekriwal, young dynamic business women, who by her sheer grit & determination carved a niche for her in the aviation industry. </p>
            </div>
            <div class="col-xs-8">
              <div class="view-date-con">
                <span class="date-text blue-color">1 Oct, 2015</span>
              </div>
            </div>
            <div class="col-xs-4 text-right">
              <a href="http://iwilindia.com/success-story/kanika-tekriwal-ceo-jetsetgo-aviation-services-private-limited/" target="_blank" class="read-btn">Read More</a>
            </div>
            <div class="clearfix"></div>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-6 res-center-con">
        <div class="media-content">
          <div class="row">
            <div class="col-xs-9">
              <h3>Luxury in their stride</h3>
            </div>
            <div class="col-xs-3">
              <img src="http://d3tfanr7troppj.cloudfront.net/static_files/images/000/000/223/original/media_logo-7.png?1462534155" class="img-responsive media-logo" alt="">
            </div>
            <div class="col-xs-12">
              <p>A decade ago, Kanika Tekriwal worked for the private aviation vertical of investment giant IndiaBulls. The experience emboldened her to set up in April 2014 JetSetGo.com,</p>
            </div>
            <div class="col-xs-8">
              <div class="view-date-con">
                <span class="date-text blue-color">1 Sep, 2015</span>
              </div>
            </div>
            <div class="col-xs-4 text-right">
              <a href="http://www.businesstoday.in/magazine/cover-story/recent-clutch-of-start-ups-caters-exclusively-to-luxury-market/story/223000.html" target="_blank" class="read-btn">Read More</a>
            </div>
            <div class="clearfix"></div>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-6 res-center-con">
        <div class="media-content">
          <div class="row">
            <div class="col-xs-9">
              <h3>Jet Set Go: India's Ascent Into The Private Jet Industry</h3>
            </div>
            <div class="col-xs-3">
              <img src="http://d3tfanr7troppj.cloudfront.net/static_files/images/000/000/218/original/media_logo-2.png?1462532587" class="img-responsive media-logo" alt="">
            </div>
            <div class="col-xs-12">
              <p>In a journey that spans smashing cultural molds and understanding regulatory environments, Kanika Tekriwal, the young CEO and founder of Jet Set Go has a lot to say about being a funded private jet </p>
            </div>
            <div class="col-xs-8">
              <div class="view-date-con">
                <span class="date-text blue-color">31 Aug, 2015</span>
              </div>
            </div>
            <div class="col-xs-4 text-right">
              <a href="http://www.forbes.com/forbes/welcome/" target="_blank" class="read-btn">Read More</a>
            </div>
            <div class="clearfix"></div>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-6 res-center-con">
        <div class="media-content">
          <div class="row">
            <div class="col-xs-9">
              <h3>Mile-High Service </h3>
            </div>
            <div class="col-xs-3">
              <img src="http://d3tfanr7troppj.cloudfront.net/static_files/images/000/000/226/original/media_logo-9.png?1462534836" class="img-responsive media-logo" alt="">
            </div>
            <div class="col-xs-12">
              <p>Kanika Tekriwal, co-founder, JetSetGo, onboard the Cessna Citation XL, which costs approximately ₹190,000 per hour to charter</p>
            </div>
            <div class="col-xs-8">
              <div class="view-date-con">
                <span class="date-text blue-color">30 Aug, 2015</span>
              </div>
            </div>
            <div class="col-xs-4 text-right">
              <a href="http://www.outlookbusiness.com/cest-la-vie/the-good-life/mile-high-service-1898" target="_blank" class="read-btn">Read More</a>
            </div>
            <div class="clearfix"></div>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-6 res-center-con">
        <div class="media-content">
          <div class="row">
            <div class="col-xs-9">
              <h3>4 min read Dark confessions straight from an entrepreneur's heart </h3>
            </div>
            <div class="col-xs-3">
              <img src="http://d3tfanr7troppj.cloudfront.net/static_files/images/000/000/227/original/media_logo-10.png?1462535148" class="img-responsive media-logo" alt="">
            </div>
            <div class="col-xs-12">
              <p>The three of us had just about settled in cross legged position for late-night dinner into the newest Korean restaurant when the first phone rang.</p>
            </div>
            <div class="col-xs-8">
              <div class="view-date-con">
                <span class="date-text blue-color">18 Aug, 2015</span>
              </div>
            </div>
            <div class="col-xs-4 text-right">
              <a href="https://www.entrepreneur.com/article/249682" target="_blank" class="read-btn">Read More</a>
            </div>
            <div class="clearfix"></div>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-6 res-center-con">
        <div class="media-content">
          <div class="row">
            <div class="col-xs-9">
              <h3>An interview with Kanika, founder of “Jetsetgo”</h3>
            </div>
            <div class="col-xs-3">
              <img src="http://d3tfanr7troppj.cloudfront.net/static_files/images/000/000/228/original/media_logo-11.png?1462535368" class="img-responsive media-logo" alt="">
            </div>
            <div class="col-xs-12">
              <p><b>Kanika :</b> JetSetGo provides Indian air charter customers for the first time choice, transparency and flexibility to book a private jet online on both web and mobile platforms.</p>
            </div>
            <div class="col-xs-8">
              <div class="view-date-con">
                <span class="date-text blue-color">14 Aug, 2015</span>
              </div>
            </div>
            <div class="col-xs-4 text-right">
              <a href="http://www.smartindianwomen.com/an-interview-with-kanika-founder-of-jetsetgo/" target="_blank" class="read-btn">Read More</a>
            </div>
            <div class="clearfix"></div>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-6 res-center-con">
        <div class="media-content">
          <div class="row">
            <div class="col-xs-9">
              <h3>Use every No as a stepping-stone to success.</h3>
            </div>
            <div class="col-xs-3">
              <img src="http://d3tfanr7troppj.cloudfront.net/static_files/images/000/000/229/original/media_logo-12.png?1462535533" class="img-responsive media-logo" alt="">
            </div>
            <div class="col-xs-12">
              <p>Right from the start, Kanika has been known to be a risk taker and a go getter. Her mission is to be on the list of 100 most powerful women in the world.</p>
            </div>
            <div class="col-xs-8">
              <div class="view-date-con">
                <span class="date-text blue-color">7 Aug, 2015</span>
              </div>
            </div>
            <div class="col-xs-4 text-right">
              <a href="http://www.yosuccess.com/interviews/kanika-tekriwal-jetsetgo/" target="_blank" class="read-btn">Read More</a>
            </div>
            <div class="clearfix"></div>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-6 res-center-con">
        <div class="media-content">
          <div class="row">
            <div class="col-xs-9">
              <h3>After Beauty, Education, Yuvraj Singh Looks Towards The Sky</h3>
            </div>
            <div class="col-xs-3">
              <img src="http://d3tfanr7troppj.cloudfront.net/static_files/images/000/000/232/original/media_logo-15.png?1462538607" class="img-responsive media-logo" alt="">
            </div>
            <div class="col-xs-12">
              <p>Yuvraj Singh's YouWeCan Ventures latest investment is an undisclosed sum in online marketplace for private jets and helicopters -  JetSetGo.</p>
            </div>
            <div class="col-xs-8">
              <div class="view-date-con">
                <span class="date-text blue-color">29 July, 2015</span>
              </div>
            </div>
            <div class="col-xs-4 text-right">
              <a href="http://profit.ndtv.com/news/corporates/article-after-beauty-education-yuvraj-singh-looks-towards-the-sky-1201749" target="_blank" class="read-btn">Read More</a>
            </div>
            <div class="clearfix"></div>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-6 res-center-con">
        <div class="media-content">
          <div class="row">
            <div class="col-xs-9">
              <h3>Yuvi backed YouWeCan Ventures helping create a new era of luxury travel in India</h3>
            </div>
            <div class="col-xs-3">
              <img src="http://d3tfanr7troppj.cloudfront.net/static_files/images/000/000/227/original/media_logo-10.png?1462535148" class="img-responsive media-logo" alt="">
            </div>
            <div class="col-xs-12">
              <p>Despite established business models globally from fractional ownership to jet loyalty programs, India still lags severely behind in private aviation space, comprising less than 15 per cent of air traffic in Indian skies.</p>
            </div>
            <div class="col-xs-8">
              <div class="view-date-con">
                <span class="date-text blue-color">28 July, 2015</span>
              </div>
            </div>
            <div class="col-xs-4 text-right">
              <a href="https://www.entrepreneur.com/article/248914" target="_blank" class="read-btn">Read More</a>
            </div>
            <div class="clearfix"></div>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-6 res-center-con">
        <div class="media-content">
          <div class="row">
            <div class="col-xs-9">
              <h3>How JetSetGo is redefining the private aviation business in India </h3>
            </div>
            <div class="col-xs-3">
              <img src="http://d3tfanr7troppj.cloudfront.net/static_files/images/000/000/227/original/media_logo-10.png?1462535148" class="img-responsive media-logo" alt="">
            </div>
            <div class="col-xs-12">
              <p>Hailing from a typical Marwari family, running a successful business and taking risks was always there in the DNA of Kanika Tekriwal.</p>
            </div>
            <div class="col-xs-8">
              <div class="view-date-con">
                <span class="date-text blue-color">27 July, 2015</span>
              </div>
            </div>
            <div class="col-xs-4 text-right">
              <a href="https://www.entrepreneur.com/article/248857" target="_blank" class="read-btn">Read More</a>
            </div>
            <div class="clearfix"></div>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-6 res-center-con">
        <div class="media-content">
          <div class="row">
            <div class="col-xs-9">
              <h3>27 startups in Asia that caught our eye</h3>
            </div>
            <div class="col-xs-3">
              <img src="http://d3tfanr7troppj.cloudfront.net/static_files/images/000/000/234/original/media_logo-17.png?1462539329" class="img-responsive media-logo" alt="">
            </div>
            <div class="col-xs-12">
              <p>JetSetGo is an aggregator of private jets and helicopters. It allows charter customers to book a private jet online by entering travel details of cities they would like to fly to along with date and time.</p>
            </div>
            <div class="col-xs-8">
              <div class="view-date-con">
                <span class="date-text blue-color">26 July, 2015</span>
              </div>
            </div>
            <div class="col-xs-4 text-right">
              <a href="https://www.techinasia.com/asian-startup-list-26-july-2015" target="_blank" class="read-btn">Read More</a>
            </div>
            <div class="clearfix"></div>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-6 res-center-con">
        <div class="media-content">
          <div class="row">
            <div class="col-xs-9">
              <h3>Yuvraj Singh’s YouWeCan Makes Fifth Investment in JetSetGo</h3>
            </div>
            <div class="col-xs-3">
              <img src="http://d3tfanr7troppj.cloudfront.net/static_files/images/000/000/235/original/media_logo-18.png?1462601808" class="img-responsive media-logo" alt="">
            </div>
            <div class="col-xs-12">
              <p>Indian marketplace for private jets and helicopters, JetSetGo has raised its first round of funding from cricketer Yuvraj Singh’s YouWeCan Ventures</p>
            </div>
            <div class="col-xs-8">
              <div class="view-date-con">
                <span class="date-text blue-color">24 July, 2015</span>
              </div>
            </div>
            <div class="col-xs-4 text-right">
              <a href="http://www.iamwire.com/2015/07/yuvraj-singhs-youwecan-investment-jetsetgo/120024" target="_blank" class="read-btn">Read More</a>
            </div>
            <div class="clearfix"></div>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-6 res-center-con">
        <div class="media-content">
          <div class="row">
            <div class="col-xs-9">
              <h3>Yuvraj Singh invests in JetSetGo</h3>
            </div>
            <div class="col-xs-3">
              <img src="http://d3tfanr7troppj.cloudfront.net/static_files/images/000/000/236/original/media_logo-19.png?1462603604" class="img-responsive media-logo" alt="">
            </div>
            <div class="col-xs-12">
              <p>MUMBAI: Cricketer Yuvraj Singh’s investment firm YouWeCan Ventures has invested in JetSetGo, a marketplace for private jets and helicopters. Founded by Kanika Tekriwal and Sudheer Perla in 2014</p>
            </div>
            <div class="col-xs-8">
              <div class="view-date-con">
                <span class="date-text blue-color">23 july, 2015</span>
              </div>
            </div>
            <div class="col-xs-4 text-right">
              <a href="http://articles.economictimes.indiatimes.com/2015-07-23/news/64772703_1_investment-firm-platform-online-marketplace" target="_blank" class="read-btn">Read More</a>
            </div>
            <div class="clearfix"></div>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-6 res-center-con">
        <div class="media-content">
          <div class="row">
            <div class="col-xs-9">
              <h3>YouWeCan Ventures invests in JetSetGo</h3>
            </div>
            <div class="col-xs-3">
              <img src="http://d3tfanr7troppj.cloudfront.net/static_files/images/000/000/237/original/media_logo-20.png?1462603862" class="img-responsive media-logo" alt="">
            </div>
            <div class="col-xs-12">
              <p>Yuvraj Singh-funded YouWeCan Ventures has made an undisclosed investment in JetSetGo, a marketplace for private jets and helicopters. Co-founded by Kanika Tekriwal and Sudheer Perla in 2014</p>
            </div>
            <div class="col-xs-8">
              <div class="view-date-con">
                <span class="date-text blue-color">23 july, 2015</span>
              </div>
            </div>
            <div class="col-xs-4 text-right">
              <a href="http://www.nextbigwhat.com/jetsetgo-youwecan-ventures-funding-297/" target="_blank" class="read-btn">Read More</a>
            </div>
            <div class="clearfix"></div>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-6 res-center-con">
        <div class="media-content">
          <div class="row">
            <div class="col-xs-9">
              <h3>Taking to the skies: YouWeCan Ventures invests in JetSetGo</h3>
            </div>
            <div class="col-xs-3">
              <img src="http://d3tfanr7troppj.cloudfront.net/static_files/images/000/000/238/original/media_logo-21.png?1462604258" class="img-responsive media-logo" alt="">
            </div>
            <div class="col-xs-12">
              <p>NEW DELHI: YouWeCan Ventures, the investment firm founded by cricketer Yuvraj Singh, has invested in JetSetGo, an online marketplace for private jets and helicopters</p>
            </div>
            <div class="col-xs-8">
              <div class="view-date-con">
                <span class="date-text blue-color">23 july, 2015</span>
              </div>
            </div>
            <div class="col-xs-4 text-right">
              <a href="http://thetechportal.in/2015/07/23/an-online-marketplace-for-private-jets-jetsetgo-secures-funds-from-youwecan-ventures/" target="_blank" class="read-btn">Read More</a>
            </div>
            <div class="clearfix"></div>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-6 res-center-con">
        <div class="media-content">
          <div class="row">
            <div class="col-xs-9">
              <h3>YouWeCan Ventures invests in JetSetGo</h3>
            </div>
            <div class="col-xs-3">
              <img src="http://d3tfanr7troppj.cloudfront.net/static_files/images/000/000/239/original/media_logo-22.png?1462608180" class="img-responsive media-logo" alt="">
            </div>
            <div class="col-xs-12">
              <p>Yuvraj Singh’s YouWeCan Ventures has made an undisclosed investment in JetSetGo – a marketplace for private jets and helicopters co-founded by Kanika Tekriwal and Sudheer Perla.</p>
            </div>
            <div class="col-xs-8">
              <div class="view-date-con">
                <span class="date-text blue-color">23 July, 2015</span>
              </div>
            </div>
            <div class="col-xs-4 text-right">
              <a href="http://www.nextbigwhat.com/jetsetgo-youwecan-ventures-funding-297/" target="_blank" class="read-btn">Read More</a>
            </div>
            <div class="clearfix"></div>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-6 res-center-con">
        <div class="media-content">
          <div class="row">
            <div class="col-xs-9">
              <h3>An Online Marketplace For Private Jets</h3>
            </div>
            <div class="col-xs-3">
              <img src="http://d3tfanr7troppj.cloudfront.net/static_files/images/000/000/240/original/media_logo-23.png?1462608319" class="img-responsive media-logo" alt="">
            </div>
            <div class="col-xs-12">
              <p>So yeah, you can book/maintain private jets online too, and right here in India. JetSetGo, an online marketplace for private jet and helicopters has raised an undisclosed.</p>
            </div>
            <div class="col-xs-8">
              <div class="view-date-con">
                <span class="date-text blue-color">23 July, 2015</span>
              </div>
            </div>
            <div class="col-xs-4 text-right">
              <a href="http://thetechportal.in/2015/07/23/an-online-marketplace-for-private-jets-jetsetgo-secures-funds-from-youwecan-ventures/" target="_blank" class="read-btn">Read More</a>
            </div>
            <div class="clearfix"></div>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-6 res-center-con">
        <div class="media-content">
          <div class="row">
            <div class="col-xs-9">
              <h3>Flying High!! Marketplace For Jets & Private Helicopters</h3>
            </div>
            <div class="col-xs-3">
              <img src="http://d3tfanr7troppj.cloudfront.net/static_files/images/000/000/241/original/media_logo-24.png?1462608434" class="img-responsive media-logo" alt="">
            </div>
            <div class="col-xs-12">
              <p>Yuvraj Singh’s debut startup fund, YouWeCan Ventures has announced its investment in an online marketplace for private jets and helicopters i.e. JetSetGo.</p>
            </div>
            <div class="col-xs-8">
              <div class="view-date-con">
                <span class="date-text blue-color">23 July, 2015</span>
              </div>
            </div>
            <div class="col-xs-4 text-right">
              <a href="https://inc42.com/buzz/jetsetgo-funding/" target="_blank" class="read-btn">Read More</a>
            </div>
            <div class="clearfix"></div>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-6 res-center-con">
        <div class="media-content">
          <div class="row">
            <div class="col-xs-9">
              <h3>YouWeCan Ventures invests in JetSetGo</h3>
            </div>
            <div class="col-xs-3">
              <img src="http://d3tfanr7troppj.cloudfront.net/static_files/images/000/000/242/original/media_logo-25.png?1462608706" class="img-responsive media-logo" alt="">
            </div>
            <div class="col-xs-12">
              <p>JetSetGo provides charter customers for the first time choice, transparency and flexibility to book a private jet online. Extending the experience from the ease of the online booking process</p>
            </div>
            <div class="col-xs-8">
              <div class="view-date-con">
                <span class="date-text blue-color">23 July, 2015</span>
              </div>
            </div>
            <div class="col-xs-4 text-right">
              <a href="http://www.brunchnews.com/next-big-what/technology/youwecan-ventures-invests-in-jetsetgo-marketplace-for-private-jets-and-helicopters-3222780" target="_blank" class="read-btn">Read More</a>
            </div>
            <div class="clearfix"></div>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-6 res-center-con">
        <div class="media-content">
          <div class="row">
            <div class="col-xs-9">
              <h3>Marketplace for private jet, copter and air ambulance</h3>
            </div>
            <div class="col-xs-3">
              <img src="http://d3tfanr7troppj.cloudfront.net/static_files/images/000/000/243/original/media_logo-26.png?1462608937" class="img-responsive media-logo" alt="">
            </div>
            <div class="col-xs-12">
              <p>The marketplace for private jets, helicopters and air ambulance, JetSetGo, has raised an undisclosed amount of funding from Yuvraj Singh’s startup fund YouWeCan Ventures.</p>
            </div>
            <div class="col-xs-8">
              <div class="view-date-con">
                <span class="date-text blue-color">23 July, 2015</span>
              </div>
            </div>
            <div class="col-xs-4 text-right">
              <a href="http://yourstory.com/2015/07/jetsetgo-funding/" target="_blank" class="read-btn">Read More</a>
            </div>
            <div class="clearfix"></div>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-6 res-center-con">
        <div class="media-content">
          <div class="row">
            <div class="col-xs-9">
              <h3>Yuvraj Singh backed YouWeCan Ventures invests in JetSetGo</h3>
            </div>
            <div class="col-xs-3">
              <img src="http://d3tfanr7troppj.cloudfront.net/static_files/images/000/000/244/original/media_logo-27.png?1462609071" class="img-responsive media-logo" alt="">
            </div>
            <div class="col-xs-12">
              <p><b>Mumbai:</b> JetSetGo Aviation Pvt. Ltd, a Bengaluru-based marketplace for private jets and helicopters, has raised an undisclosed amount in funding from YouWeCan Ventures</p>
            </div>
            <div class="col-xs-8">
              <div class="view-date-con">
                <span class="date-text blue-color">23 July, 2015</span>
              </div>
            </div>
            <div class="col-xs-4 text-right">
              <a href="http://www.livemint.com/Companies/5DifBkmfv79K5zXBXZyfJL/Yuvraj-Singh-backed-YouWeCan-Ventures-invests-in-JetSetGo.html" target="_blank" class="read-btn">Read More</a>
            </div>
            <div class="clearfix"></div>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-6 res-center-con">
        <div class="media-content">
          <div class="row">
            <div class="col-xs-9">
              <h3>Yuvraj Singh's YouWeCan Ventures invests in JetSetGo</h3>
            </div>
            <div class="col-xs-3">
              <img src="http://d3tfanr7troppj.cloudfront.net/static_files/images/000/000/245/original/media_logo-28.png?1462613321" class="img-responsive media-logo" alt="">
            </div>
            <div class="col-xs-12">
              <p>Yuvraj Singh funded YouWeCan Ventures has made an undisclosed investment in JetSetGo - India’s first marketplace for private jets and helicopters co-founded by Kanika Tekriwal and Sudheer Perla.</p>
            </div>
            <div class="col-xs-8">
              <div class="view-date-con">
                <span class="date-text blue-color">23 July, 2015</span>
              </div>
            </div>
            <div class="col-xs-4 text-right">
              <a href="http://www.indiainfoline.com/article/news-top-story/yuvraj-singh-s-youwecan-ventures-invests-in-jetsetgo-115072300390_1.html" target="_blank" class="read-btn">Read More</a>
            </div>
            <div class="clearfix"></div>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-6 res-center-con">
        <div class="media-content">
          <div class="row">
            <div class="col-xs-9">
              <h3>Yuvraj Singh-funded YouWeCan Ventures invests in JetSetGo</h3>
            </div>
            <div class="col-xs-3">
              <img src="http://d3tfanr7troppj.cloudfront.net/static_files/images/000/000/246/original/media_logo-29.png?1462617178" class="img-responsive media-logo" alt="">
            </div>
            <div class="col-xs-12">
              <p>Yuvraj Singh-funded YouWeCan Ventures today made an undisclosed investment in JetSetGo— India's first marketplace for private jets and helicopters co-founded by Kanika Tekriwal and Sudheer Perla.</p>
            </div>
            <div class="col-xs-8">
              <div class="view-date-con">
                <span class="date-text blue-color">23 July, 2015</span>
              </div>
            </div>
            <div class="col-xs-4 text-right">
              <a href="http://www.business-standard.com/article/companies/yuvraj-singh-funded-youwecan-ventures-invests-in-jetsetgo-115072300615_1.html" target="_blank" class="read-btn">Read More</a>
            </div>
            <div class="clearfix"></div>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-6 res-center-con">
        <div class="media-content">
          <div class="row">
            <div class="col-xs-9">
              <h3>Private Jet Booking Platform JetSetGo Secures Funding</h3>
            </div>
            <div class="col-xs-3">
              <img src="http://d3tfanr7troppj.cloudfront.net/static_files/images/000/000/247/original/media_logo-30.png?1462617587" class="img-responsive media-logo" alt="">
            </div>
            <div class="col-xs-12">
              <p>Bengaluru based online marketplace for private jets and helicopters, JetSetGo, has raised an undisclosed amount of funding from Indian cricketer Yuvraj Singh’s VC Fund YouWeCan Ventures.</p>
            </div>
            <div class="col-xs-8">
              <div class="view-date-con">
                <span class="date-text blue-color">23 July, 2015</span>
              </div>
            </div>
            <div class="col-xs-4 text-right">
              <a href="http://www.dealcurry.com/20150723-Private-Jet-Booking-Platform-JetSetGo-Secures-Funding.htm" target="_blank" class="read-btn">Read More</a>
            </div>
            <div class="clearfix"></div>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-6 res-center-con">
        <div class="media-content">
          <div class="row">
            <div class="col-xs-9">
              <h3>Yuvraj singh & Co funded JetSetGo India’s first marketplace</h3>
            </div>
            <div class="col-xs-3">
              <img src="http://d3tfanr7troppj.cloudfront.net/static_files/images/000/000/248/original/media_logo-31.png?1462617799" class="img-responsive media-logo" alt="">
            </div>
            <div class="col-xs-12">
              <p>YouWeCan Ventures led by Yuvraj singh & co funded JetSetGo India’s first marketplace for private jets and helicopters co-founded by Kanika Tekriwal and Sudheer Perla.</p>
            </div>
            <div class="col-xs-8">
              <div class="view-date-con">
                <span class="date-text blue-color">23 July, 2015</span>
              </div>
            </div>
            <div class="col-xs-4 text-right">
              <a href="http://pixr8.com/yuvraj-singh-co-funded-jetsetgo-indias-first-marketplace-for-private-jets-and-helicopters/" target="_blank" class="read-btn">Read More</a>
            </div>
            <div class="clearfix"></div>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-6 res-center-con">
        <div class="media-content">
          <div class="row">
            <div class="col-xs-9">
              <h3>YouWeCan Ventures invests in JetSetGo</h3>
            </div>
            <div class="col-xs-3">
              <img src="http://d3tfanr7troppj.cloudfront.net/static_files/images/000/000/249/original/media_logo-32.png?1462618061" class="img-responsive media-logo" alt="">
            </div>
            <div class="col-xs-12">
              <p>Yuvraj Singh-funded YouWeCan Ventures has made an undisclosed investment in JetSetGo, a marketplace for private jets and helicopters.</p>
            </div>
            <div class="col-xs-8">
              <div class="view-date-con">
                <span class="date-text blue-color">23 July, 2015</span>
              </div>
            </div>
            <div class="col-xs-4 text-right">
              <a href="http://stocksmarket.in/214129/2015/07/23/youwecan-ventures-invests-in-jetsetgo/" target="_blank" class="read-btn">Read More</a>
            </div>
            <div class="clearfix"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="clearfix"></div>
</div> -->
<!-- media content section finish -->
