<!-- media section start -->
<div class="inner-banner media-banner">
	<div class="heading">
		<h1>Media</h1>
	</div>
</div>
<!-- media section finish -->

<!-- media content section start -->
<div class="media-content-main">
<div class="col-sm-12">
	<div class="col-sm-6">
		<div class="media-content media-bg1">
			<div class="row">
				<div class="col-sm-6 media-img">
					<a href="#">
						<img src="http://images.financialexpress.com/2015/11/201511ehm31.jpg" alt="" class="img-responsive" />
					</a>
				</div>
				<div class="col-sm-6 media-text">
					<a href="">
						<h4>
							JetSetGo can now mobilise an air ambulance in any part of the country in as little as two hours’ 
						</h4>
					</a>
					<div class="posted-date">
						<a href="#">financialexpress.com</a>
						<span class="date">9/nov/15</span>
					</div>
					<p>
						JetSetGo recently introduced air ambulance services to offer better emergency services and help improve healthcare access, even in remote areas of the country. Kanika Tekriwal, its CEO and Co-founder...
					</p>
				</div>
				<div class="clearfix"></div>
			</div>
		</div>
	</div>
	<div class="col-sm-6">
		<div class="media-content media-bg2">
			<div class="row">
				<div class="col-sm-6 media-img">
					<a href="#">
						<img src="http://d3tfanr7troppj.cloudfront.net/static_files/images/000/000/095/original/topimg_28729_kanika_tekriwal_600x400.jpg?1457506815" class="img-responsive" />
					</a>
				</div>
				<div class="col-sm-6 media-text">
					<a href="">
						<h4>
							JetSetGo: The Uber of Indian skies 
						</h4>
					</a>
					<div class="posted-date">
						<a href="#">Forbes India</a>
						<span class="date">3/nov/15</span>
					</div>
					<p>
						About three months ago, a Gulfstream G650, a leading luxury business jet, flew into New Delhi from the US. The aircraft, which was chartered for a one-way trip, would have normally returned empty legged to its home airport...
					</p>
				</div>
				<div class="clearfix"></div>
			</div>
		</div>
	</div>
	</div>
	<div class="col-sm-6">
		<div class="media-content media-bg3">
			<div class="row">
				<div class="col-sm-6 media-img">
					<a href="#">
						<img src="http://d3tfanr7troppj.cloudfront.net/static_files/images/000/000/095/original/topimg_28729_kanika_tekriwal_600x400.jpg?1457506815" class="img-responsive" />
					</a>
				</div>
				<div class="col-sm-6 media-text">
					<a href="">
						<h4>
							JetSetGo introduces bed to bed affordable air ambulance services  
						</h4>
					</a>
					<div class="posted-date">
						<a href="#">pharmabiz.com</a>
						<span class="date">12/oct/15</span>
					</div>
					<p>
						In a bid to provide a speedy state-of-the-art air lifting service to patients seeking medical facilities in larger cities, JetSetGo, India’s marketplace for private jets and helicopters, has launched affordable air ambulance services.The large rural-urban divide and inadequate access...
					</p>
				</div>
				<div class="clearfix"></div>
			</div>
		</div>
	</div>
	<div class="col-sm-6">
		<div class="media-content media-bg4">
			<div class="row">
				<div class="col-sm-6 media-img">
					<a href="#">
						<img src="http://iwilindia.com/wp-content/uploads/2015/10/kanika-tekriwal.jpg" class="img-responsive" />
					</a>
				</div>
				<div class="col-sm-6 media-text">
					<a href="">
						<h4>
							Kanika Tekriwal, CEO, JetSetGo Aviation Services Private Limited   
						</h4>
					</a>
					<div class="posted-date">
						<a href="#">Indian Women Institutional League (IWIL)</a>
						<span class="date">1/oct/15</span>
					</div>
					<p>
						In a bid to provide a speedy state-of-the-art air lifting service to patients seeking medical facilities in larger cities, JetSetGo, India’s marketplace for private jets and helicopters, has launched affordable air ambulance services.The large rural-urban divide and inadequate access...
					</p>
				</div>
				<div class="clearfix"></div>
			</div>
		</div>
	</div>
	<div class="clearfix"></div>
</div>
<!-- media content section finish -->

<!-- media content section start -->
<div class="media-content-main">
	<div class="col-sm-6">
		<div class="media-content media-bg1">
			<div class="row">
				<div class="col-sm-6 media-img">
					<a href="#">
						<img src="http://images.financialexpress.com/2015/11/201511ehm31.jpg" alt="" class="img-responsive" />
					</a>
				</div>
				<div class="col-sm-6 media-text">
					<a href="">
						<h4>
							JetSetGo can now mobilise an air ambulance in any part of the country in as little as two hours’ 
						</h4>
					</a>
					<div class="posted-date">
						<a href="#">financialexpress.com</a>
						<span class="date">9/nov/15</span>
					</div>
					<p maxlength="50">
						JetSetGo recently introduced air ambulance services to offer better emergency services and help improve healthcare access, even in remote areas of the country. Kanika Tekriwal, its CEO and Co-founder...
					</p>
				</div>
				<div class="clearfix"></div>
			</div>
		</div>
	</div>
	<div class="clearfix"></div>
</div>
<!-- media content section finish -->