<!-- media section start -->
<div class="section-heading search_heading">
  <div class="container">
    <img class="img-responsive" src="http://d3tfanr7troppj.cloudfront.net/static_files/images/000/000/370/original/newsandmedia.png?1468573497" alt="">
  </div>
</div>
<div class="media-big-logo text-center">
  <div class="container">
    <img class="img-responsive" src="http://d3tfanr7troppj.cloudfront.net/static_files/images/000/000/560/original/JSG-Typography.png?1470735982" alt="" />
  </div>
</div>
<!-- media content start -->
  <div class="media-content-main">
    <div class="container">
      <h2>
        Latest Press Releases
        <!-- <span class="pull-right year-browse">
          Browse By Year 
          <select class="year-select">
            <option>2016</option>
            <option>2015</option>
          </select>
        </span> -->
      </h2>
      <div class="media-content">
        <div class="section">
          <div class="row">
            <div class="col-sm-3">
              <img class="img-responsive" src="http://d3tfanr7troppj.cloudfront.net/static_files/images/000/000/626/original/30_under_30.jpg?1471424192" alt="" />
            </div>
            <div class="col-sm-9">
              <p>Tekriwal founded JetSetGo, an India-based private jet concierge service that links passengers to planes through an online marketplace. She defied the odds first by breaking into a male-dominated profession as a woman and again by starting the company in 2013 after a bout with cancer.</p>
              <p class="read-more">
                <a href="http://www.forbes.com/30-under-30-asia-2016/retail-ecommerce/#2e1e5afd1016" target="_blank">Read More > </a>
              </p>
            </div>
          </div>
        </div>
        <div class="section">
          <div class="row">
            <div class="col-sm-3">
              <img class="img-responsive" src="http://d3tfanr7troppj.cloudfront.net/static_files/images/000/000/627/original/forbes_india.JPG?1471424215" alt="" />
            </div>
            <div class="col-sm-9">
              <p>About three months ago, a Gulfstream G650, a leading luxury business jet, flew into New Delhi from the US. The aircraft, which was chartered for a one-way trip, would have normally returned empty legged to its home airport.</p>
              <p class="read-more">
                <a href="http://forbesindia.com/article/best-things-money-can-buy/jetsetgo-the-uber-of-indian-skies/41417/1" target="_blank">Read More > </a>
              </p>
            </div>
          </div>
        </div>
        <div class="section">
          <div class="row">
            <div class="col-sm-3">
              <img class="img-responsive" src="http://d3tfanr7troppj.cloudfront.net/static_files/images/000/000/586/original/bbc.jpg?1470824402" alt="" />
            </div>
            <div class="col-sm-9">
              <p>Ms. Kanika Tekriwal Chief Executive Oficer, JetSetGo one of the 30 under 30 global entrepreneurs chosen by BBC.</p>
              <p class="read-more">
                <a href="https://www.youtube.com/watch?v=MCgCcAGt_h0&amp;feature=youtu.be" target="_blank">Read More > </a>
              </p>
            </div>
          </div>
        </div>
        <div class="section">
          <div class="row">
            <div class="col-sm-3">
              <img class="img-responsive" src="http://d3tfanr7troppj.cloudfront.net/static_files/images/000/000/583/original/CNBC_TV.JPG?1470816157" alt="" />
            </div>
            <div class="col-sm-9">
              <p>It’s often said that it’s lonely at the top, but the reality is that it’s lonely at the start too! In this segment we dive into a no-holds barred conversation with three startup founders who’ve negotiated the early curve balls to reach some semblance of steadiness. Here are: Kanika Tekriwal of JetSetGo, Amit Agarwal of NoBroker.com and Aakrit Vaish of Haptik at their candid best!</p>
              <p class="read-more">
                <a href="https://www.youtube.com/watch?v=hB-8hA_RBUA&amp;feature=youtu.be" target="_blank">Read More > </a>
              </p>
            </div>
          </div>
        </div>
        <div class="section">
          <div class="row">
            <div class="col-sm-3">
              <img class="img-responsive" src="http://d3tfanr7troppj.cloudfront.net/static_files/images/000/000/588/original/forbes.jpg?1470824639" alt="" />
            </div>
            <div class="col-sm-9">
              <p>When Kanika Tekriwal started her private jet sharing service two years ago in India, aircraft owners weren’t going for it. They didn’t like the idea of letting other people use a prized possession even when it was idle and could make money if flown by strangers.</p>
              <p class="read-more">
                <a href="http://www.forbes.com/forbes/welcome/" target="_blank">Read More > </a>
              </p>
            </div>
          </div>
        </div>
        <div class="section">
          <div class="row">
            <div class="col-sm-3">
              <img class="img-responsive" src="http://d3tfanr7troppj.cloudfront.net/static_files/images/000/000/595/original/Entrepreneur_India.JPG?1470825154" alt="" />
            </div>
            <div class="col-sm-9">
              <p>&quot;This had made me rather worried about how delusional my views on gender bias at the workplace were. I have always been a strong propagandist of gender bias being a state of mind rather than reality,&quot; said Kanika.</p>
              <p class="read-more">
                <a href="https://www.entrepreneur.com/article/279206" target="_blank">Read More > </a>
              </p>
            </div>
          </div>
        </div>
        <div class="section">
          <div class="row">
            <div class="col-sm-3">
              <img class="img-responsive" src="http://d3tfanr7troppj.cloudfront.net/static_files/images/000/000/548/original/Your_story.jpg?1470733707" alt="" />
            </div>
            <div class="col-sm-9">
              <p>It was 2015, and there were seven men and just one woman in the business class of a 9 pm flight from Mumbai to Delhi. Kanika Tekriwal, CEO and Founder of JetSetGo, one of India’s first and largest marketplaces of private jets and helicopters, came to be in this situation after a series of rather unpleasant happenings.</p>
              <p class="read-more">
                <a href="https://her.yourstory.com/female-talent-problem-0803" target="_blank">Read More > </a>
              </p>
            </div>
          </div>
        </div>
        <div class="section">
          <div class="row">
            <div class="col-sm-3">
              <img class="img-responsive" src="http://d3tfanr7troppj.cloudfront.net/static_files/images/000/000/584/original/femina.jpg?1470816172" alt="" />
            </div>
            <div class="col-sm-9">
              <p>The general  aviation (GA) industry in India is still underdeveloped compared to its global peers with GA movements at just about 15 per cent of total movements in the country and that needed to be solved.”</p>
              <p class="read-more">
                <a href="http://www.femina.in/achievers/fly-with-me-4987.html" target="_blank">Read More > </a>
              </p>
            </div>
          </div>
        </div>
        <div class="section">
          <div class="row">
            <div class="col-sm-3">
              <img class="img-responsive" src="http://d3tfanr7troppj.cloudfront.net/static_files/images/000/000/540/original/hindustan_times.jpg?1470733549" alt="" />
            </div>
            <div class="col-sm-9">
              <p>Meet Bhopal’s Kanika Tekriwal. At 27 her JetSetGo has contracts running into $20 million and manages assets worth $70 million. Recently, she was featured in the Forbes magazine list of ‘30under30’ achievers of Asia for making a mark in changing the face of e-commerce and shopping.</p>
              <p class="read-more">
                <a href="http://www.hindustantimes.com/bhopal/bhopal-s-kanika-makes-it-to-forbes-30-under-30-achievers-list/story-nrVbgevJgU559RQGb1ZhSN.html" target="_blank">Read More > </a>
              </p>
            </div>
          </div>
        </div>
        <div class="section">
          <div class="row">
            <div class="col-sm-3">
              <img class="img-responsive" src="http://d3tfanr7troppj.cloudfront.net/static_files/images/000/000/591/original/Financial_Express.jpg?1470825013" alt="" />
            </div>
            <div class="col-sm-9">
              <p>If you’re a wealthy jetsetter, chances are that you have often been repelled by the outdated nature of the private jet industry in the country—its brick-and- mortar process involving picking up the phone and speaking to numerous operators and brokers before you can finally charter a jet.</p>
              <p class="read-more">
                <a href="http://www.financialexpress.com/india-news/flying-high-2/220026/" target="_blank">Read More > </a>
              </p>
            </div>
          </div>
        </div>
        <div class="section">
          <div class="row">
            <div class="col-sm-3">
              <img class="img-responsive" src="http://d3tfanr7troppj.cloudfront.net/static_files/images/000/000/595/original/Entrepreneur_India.JPG?1470825154" alt="" />
            </div>
            <div class="col-sm-9">
              <p>JetSetGo’s Kanika Tekriwal aims at bringing total transparency1 to her customers with zero harassment from intermediaries. “At JetSetGo, we do not recommend aircraft best suited to our needs (financials and ease) but aircraft best suited for customer’s needs.</p>
              <p class="read-more">
                <a href="https://www.entrepreneur.com/article/269925" target="_blank">Read More > </a>
              </p>
            </div>
          </div>
        </div>
        <div class="section">
          <div class="row">
            <div class="col-sm-3">
              <img class="img-responsive" src="http://d3tfanr7troppj.cloudfront.net/static_files/images/000/000/628/original/livemint.jpg?1471424235" alt="" />
            </div>
            <div class="col-sm-9">
              <p>Private jet and helicopter operator Jetsetgo Aviation Services Pvt. Ltd on Monday said it has raised an undisclosed amount from Puneet Dalmia, managing director of Dalmia Bharat Ltd, who invested in his personal capacity.</p>
              <p class="read-more">
                <a href="http://www.livemint.com/Companies/oiVeF4cBnn5b2dEHidfbkI/JetSetGo-raises-funds-from-Puneet-Dalmia.html" target="_blank">Read More > </a>
              </p>
            </div>
          </div>
        </div>
        <div class="section">
          <div class="row">
            <div class="col-sm-3">
              <img class="img-responsive" src="http://d3tfanr7troppj.cloudfront.net/static_files/images/000/000/594/original/the_economic_times.jpg?1470825137" alt="" />
            </div>
            <div class="col-sm-9">
              <p>It&#39;s interesting how Jet, Set, Go, the online marketplace for private jets and helicopters, is right in the wheelhouse of its co-founder and CEO, Kanika Tekriwal.</p>
              <p class="read-more">
                <a href="http://economictimes.indiatimes.com/magazines/panache/the-skies-are-safer-than-roads-jet-set-gos-kanika-tekriwal/articleshow/49576047.cms" target="_blank">Read More > </a>
              </p>
            </div>
          </div>
        </div>
        <div class="section">
          <div class="row">
            <div class="col-sm-3">
              <img class="img-responsive" src="http://d3tfanr7troppj.cloudfront.net/static_files/images/000/000/631/original/businesstoday.jpg?1471437541" alt="" />
            </div>
            <div class="col-sm-9">
              <p>A decade ago, Kanika Tekriwal worked for the private aviation vertical of investment giant IndiaBulls. The experience emboldened her to set up in April 2014 JetSetGo.com</p>
              <p class="read-more">
                <a href="http://www.businesstoday.in/magazine/cover-story/recent-clutch-of-start-ups-caters-exclusively-to-luxury-market/story/223000.html" target="_blank">Read More > </a>
              </p>
            </div>
          </div>
        </div>
        <div class="section">
          <div class="row">
            <div class="col-sm-3">
              <img class="img-responsive" src="http://d3tfanr7troppj.cloudfront.net/static_files/images/000/000/588/original/forbes.jpg?1470824639" alt="" />
            </div>
            <div class="col-sm-9">
              <p>We’re still way behind the west, elementary – what you see is what you get,” says Tekriwal, lamenting the state of the Indian aviation industry, and comparing it to the typical corner store in Indian retail – operating often at the whim of the owner, not the customer.</p>
              <p class="read-more">
                <a href="http://www.forbes.com/forbes/welcome/?toURL=http://www.forbes.com/sites/abehal/2015/08/31/jet-set-go-indias-ascent-into-the-private-jet-industry/&refURL=&referrer=" target="_blank">Read More > </a>
              </p>
            </div>
          </div>
        </div>
        <div class="section">
          <div class="row">
            <div class="col-sm-3">
              <img class="img-responsive" src="http://d3tfanr7troppj.cloudfront.net/static_files/images/000/000/595/original/Entrepreneur_India.JPG?1470825154" alt="" />
            </div>
            <div class="col-sm-9">
              <p>Anyone who says an entrepreneur can find a work-life balance is most likely wrong. Your business is your husband, wife, baby, mother, best friend and house. If it isn&#39;t - you are in all probability doing something wrong. And why shouldn&#39;t it be? If your business is not your first love, then the chances of it succeeding are slim.</p>
              <p class="read-more">
                <a href="https://www.entrepreneur.com/article/249682" target="_blank">Read More > </a>
              </p>
            </div>
          </div>
        </div>
        <div class="section">
          <div class="row">
            <div class="col-sm-3">
              <img class="img-responsive" src="http://d3tfanr7troppj.cloudfront.net/static_files/images/000/000/595/original/Entrepreneur_India.JPG?1470825154" alt="" />
            </div>
            <div class="col-sm-9">
              <p>Despite established business models globally from fractional ownership to jet loyalty programs, India still lags severely behind in private aviation space, comprising less than 15 per cent of air traffic in Indian skies.</p>
              <p class="read-more">
                <a href="https://www.entrepreneur.com/article/248914" target="_blank">Read More > </a>
              </p>
            </div>
          </div>
        </div>
        <div class="section">
          <div class="row">
            <div class="col-sm-3">
              <img class="img-responsive" src="http://d3tfanr7troppj.cloudfront.net/static_files/images/000/000/629/original/moneycontrol.jpg?1471424251" alt="" />
            </div>
            <div class="col-sm-9">
              <p>Yuvraj Singh-funded YouWeCan Ventures has made an undisclosed investment in JetSetGo, a marketplace for private jets and helicopters. Co-founded by Kanika Tekriwal and Sudheer Perla in 2014, this is the first round of funding that the company has raised.</p>
              <p class="read-more">
                <a href="http://www.moneycontrol.com/news/business/youwecan-ventures-investsjetsetgo_2123421.html" target="_blank">Read More > </a>
              </p>
            </div>
          </div>
        </div>
        <div class="section">
          <div class="row">
            <div class="col-sm-3">
              <img class="img-responsive" src="http://d3tfanr7troppj.cloudfront.net/static_files/images/000/000/632/original/outlook_business.jpg?1471437813" alt="" />
            </div>
            <div class="col-sm-9">
              <p>As you confess your love to your beloved, the heavens will shower you with petals. Well, if not the heavens, then this marketplace for private jets and helicopters vows to make this happen. Delhi-based JetSetGo, which started its operations in 2014, primarily caters to two types of travellers — business and leisure, both in the domestic and international market.</p>
              <p class="read-more">
                <a href="http://www.outlookbusiness.com/cest-la-vie/the-good-life/mile-high-service-1898" target="_blank">Read More > </a>
              </p>
            </div>
          </div>
        </div>
        <div class="section">
          <div class="row">
            <div class="col-sm-3">
              <img class="img-responsive" src="http://d3tfanr7troppj.cloudfront.net/static_files/images/000/000/544/original/SMEStreet.jpg?1470733622" alt="" />
            </div>
            <div class="col-sm-9">
              <p><b>Kanika Tekriwal, CEO &amp; Cofounder of JetSetGo</b> highlighted the potential of luxury travel business. Being a niche segment, luxury travel business is growing exponentially in India. Private aviation is one of the most lucrative and profitable ultra high end businesses in the world and this segment has great potential for the Indian market.</p>
              <p class="read-more">
                <a href="http://smestreet.in/with-flying-colors-jetsetgo/" target="_blank">Read More > </a>
              </p>
            </div>
          </div>
        </div>
        <div class="section">
          <div class="row">
            <div class="col-sm-3">
              <img class="img-responsive" src="http://d3tfanr7troppj.cloudfront.net/static_files/images/000/000/545/original/Technuter.jpg?1470733643" alt="" />
            </div>
            <div class="col-sm-9">
              <p>With JetSetGo all operators are put on the same platform getting equal visibility and chance As the Uber of the skies and an aggregation platform, JetSetGo provides Indian charter customers for the first time the choice, transparency and flexibility to book a private jet online on both web and mobile platforms. </p>
              <p class="read-more">
                <a href="http://technuter.com/interview/with-jetsetgo-all-operators-are-put-on-the-same-platform-getting-equal-visibility-and-chance-kanika-tekriwal-ceo-and-cofounder-of-jetsetgo.html" target="_blank">Read More > </a>
              </p>
            </div>
          </div>
        </div>
        <div class="section">
          <div class="row">
            <div class="col-sm-3">
              <img class="img-responsive" src="http://d3tfanr7troppj.cloudfront.net/static_files/images/000/000/585/original/she.JPG?1470816207" alt="" />
            </div>
            <div class="col-sm-9">
              <p>Though the percentage of women in Aviation in India is higher than the global average, there is still loads to do to achieve gender neutrality completely in the field. Private aviation business- JetSetGo is all set to take a positive step in that direction by aiming to achieve a 50percent women workforce dream by 2017.</p>
              <p class="read-more">
                <a href="http://shethepeople.tv/jetsetgo-to-have-a-gender-neutral-workforce-by-2017/" target="_blank">Read More > </a>
              </p>
            </div>
          </div>
        </div>
        <div class="section">
          <div class="row">
            <div class="col-sm-3">
              <img class="img-responsive" src="http://d3tfanr7troppj.cloudfront.net/static_files/images/000/000/546/original/the_label.JPG?1470733662" alt="" />
            </div>
            <div class="col-sm-9">
              <p>For the rich and the elite, there is no other way to fly than as per the luxury of their schedule on a charter flight with the best beverages and food and world-class luxuries for company. The other perks of course include less travel time and no airport queues.</p>
              <p class="read-more">
                <a href="http://thelabel.in/lifestyle/leisure/inside-jetsetgo-indias-first-budget-chartered-plane-service" target="_blank">Read More > </a>
              </p>
            </div>
          </div>
        </div>
        <div class="section">
          <div class="row">
            <div class="col-sm-3">
              <img class="img-responsive" src="http://d3tfanr7troppj.cloudfront.net/static_files/images/000/000/537/original/BWDisrupt.jpg?1470733483" alt="" />
            </div>
            <div class="col-sm-9">
              <p>India-based private jet concierge service, Jetsetgo has leveraged technology to link passengers to planes through an online marketplace. The aviation company renders a premier private flight experience with airport escorts, ground staff and trained cabin crew.</p>
              <p class="read-more">
                <a href="http://bwdisrupt.businessworld.in/article/Kanika-Tekriwal-Her-Fight-Against-Cancer-And-Building-a-Private-Jet-Aviation-Company/13-07-2016-100377/" target="_blank">Read More > </a>
              </p>
            </div>
          </div>
        </div>
        <div class="section">
          <div class="row">
            <div class="col-sm-3">
              <img class="img-responsive" src="http://d3tfanr7troppj.cloudfront.net/static_files/images/000/000/547/original/The_talented_Indian.jpg?1470733687" alt="" />
            </div>
            <div class="col-sm-9">
              <p>The journey has been nothing short of amazing. I’ve been blessed to have had an excellent year with BBC 100 women and Forbes 30 under 30 Asia. The milestones, achieved in life, keep one very much motivated in moving forward, take greater challenges and achieve. They helped me restore faith in myself when I was in doubt or low.</p>
              <p class="read-more">
                <a href="http://www.thetalentedindian.com/in-conversation-with-one-the-of-bbcs-100-most-inspiring-women-kanika-tekriwal/" target="_blank">Read More > </a>
              </p>
            </div>
          </div>
        </div>
        <div class="section">
          <div class="row">
            <div class="col-sm-3">
              <img class="img-responsive" src="http://d3tfanr7troppj.cloudfront.net/static_files/images/000/000/540/original/hindustan_times.jpg?1470733549" alt="" />
            </div>
            <div class="col-sm-9">
              <p>JetSetGo, another operator said that they are unable to cater 20% of the queries owing to these factors. “We lack infrastructure to support air ambulances. That said, India is still far ahead of many others,” said Kanika Tekriwal, chief executive officer and co-founder of JetSetGo.</p>
              <p class="read-more">
                <a href="http://www.hindustantimes.com/health-and-fitness/air-ambulance-services-take-off-in-india-but-not-fast-enough/story-XeSrCic5Zyrkt9CgOZVRQL.html" target="_blank">Read More > </a>
              </p>
            </div>
          </div>
        </div>
        <div class="section">
          <div class="row">
            <div class="col-sm-3">
              <img class="img-responsive" src="http://d3tfanr7troppj.cloudfront.net/static_files/images/000/000/587/original/prowly_magazine.jpg?1470824492" alt="" />
            </div>
            <div class="col-sm-9">
              <p>Management is a very dinosauric approach best fit for more traditional businesses and business owners while leadership is the way to drive businesses of the future and build sustainable teams.</p>
              <p class="read-more">
                <a href="https://magazine.prowly.com/2016/06/09/team-management-skills-ceos-answer/?utm_campaign=team_management&amp;utm_medium=email&amp;utm_source=newsletter&amp;utm_content&amp;utm_term" target="_blank">Read More > </a>
              </p>
            </div>
          </div>
        </div>
        <div class="section">
          <div class="row">
            <div class="col-sm-3">
              <img class="img-responsive" src="http://d3tfanr7troppj.cloudfront.net/static_files/images/000/000/589/original/huffington.jpg?1470824957" alt="" />
            </div>
            <div class="col-sm-9">
              <p>If you have ever fancied booking a private jet on a short notice and have pockets deep enough to pay for the same, here&#39;s a piece of good news for you.</p>
              <p class="read-more">
                <a href="http://www.huffingtonpost.in/2016/04/29/jetsetgo_n_9746664.html?utm_hp_ref=india" target="_blank">Read More > </a>
              </p>
            </div>
          </div>
        </div>
        <div class="section">
          <div class="row">
            <div class="col-sm-3">
              <img class="img-responsive" src="http://d3tfanr7troppj.cloudfront.net/static_files/images/000/000/590/original/Mensxp.jpg?1470824980" alt="" />
            </div>
            <div class="col-sm-9">
              <p>It takes courage to defy negation and impossibilities. But most of all, it takes a whole lot of courage to stay strong, determined and positive in the face of impending doom and distress. Meet Kanika Tekriwal, CEO and Founder, JetSetGo, India’s first premium private jet booking service.</p>
              <p class="read-more">
                <a href="http://www.mensxp.com/work-life/entrepreneurship/29797-kanika-tekriwal-founder-of-india-s-first-jet-booking-service-is-a-role-model-we-all-can-look-up-to.html" target="_blank">Read More > </a>
              </p>
            </div>
          </div>
        </div>
        <div class="section">
          <div class="row">
            <div class="col-sm-3">
              <img class="img-responsive" src="http://d3tfanr7troppj.cloudfront.net/static_files/images/000/000/592/original/the_hindu_business_line.jpg?1470825040" alt="" />
            </div>
            <div class="col-sm-9">
              <p>A flight from Mumbai to Bengaluru takes less than 1 hour 40 minutes. But anyone who’s ever taken the flight knows that it can take as much as twice of that to reach the city from the Bengaluru airport. That is about to change with a new chopper service that’ll let highfliers fly from the Kempegowda International Airport in Bengaluru to their office or home in the heart of the city.
              </p>
              <p class="read-more">
                <a href="http://m.thehindubusinessline.com/economy/logistics/landing-in-bengaluru-chopper-it-home-in-23-mins/article8310066.ece" target="_blank">Read More > </a>
              </p>
            </div>
          </div>
        </div>
        <div class="section">
          <div class="row">
            <div class="col-sm-3">
              <img class="img-responsive" src="http://d3tfanr7troppj.cloudfront.net/static_files/images/000/000/594/original/the_economic_times.jpg?1470825137" alt="" />
            </div>
            <div class="col-sm-9">
              <p>Delhi-based startup, JetSetGo, an online marketplace for private jets launches JetSteals, a program that provides travellers seats on private jets for domestic trips, with prices ranging from Rs. 4,600 to Rs. 45,000.</p>
              <p class="read-more">
                <a href="http://economictimes.indiatimes.com/industry/transportation/airlines-/-aviation/jetsetgo-launches-jetsteals-to-provide-seats-on-private-jets-for-as-low-as-rs-4600/articleshow/50649044.cms" target="_blank">Read More > </a>
              </p>
            </div>
          </div>
        </div>
        <div class="section">
          <div class="row">
            <div class="col-sm-3">
              <img class="img-responsive" src="http://d3tfanr7troppj.cloudfront.net/static_files/images/000/000/664/original/32.jpg?1471674787" alt="" />
            </div>
            <div class="col-sm-9">
              <p>JetSetGo recently introduced air ambulance services to offer better emergency services and help improve healthcare access, even in remote areas of the country.</p>
              <p class="read-more">
                <a href="http://www.financialexpress.com/healthcare/hospiinfra/jetsetgo-can-now-mobilise-an-air-ambulance-in-any-part-of-the-country-in-as-little-as-two-hours/163360/" target="_blank">Read More > </a>
              </p>
            </div>
          </div>
        </div>
        <div class="section">
          <div class="row">
            <div class="col-sm-3">
              <img class="img-responsive" src="http://d3tfanr7troppj.cloudfront.net/static_files/images/000/000/665/original/33-1.jpg?1471675178" alt="" />
            </div>
            <div class="col-sm-9">
              <p>In a bid to provide a speedy state-of-the-art air lifting service to patients seeking medical facilities in larger cities, JetSetGo, India’s marketplace for private jets and helicopters, has launched affordable air ambulance services.</p>
              <p class="read-more">
                <a href="http://www.pharmabiz.com/NewsDetails.aspx?aid=91065&sid=2" target="_blank">Read More > </a>
              </p>
            </div>
          </div>
        </div>
        <div class="section">
          <div class="row">
            <div class="col-sm-3">
              <img class="img-responsive" src="http://d3tfanr7troppj.cloudfront.net/static_files/images/000/000/666/original/34.jpg?1471675252" alt="" />
            </div>
            <div class="col-sm-9">
              <p>Kanika Tekriwal, young dynamic business women, who by her sheer grit & determination carved a niche for her in the aviation industry. She holds a Master’s Degree in Finance and started  working in the aviation industry at the small age of 17 with Indiabulls Aviation, which marked the beginning of her career.</p>
              <p class="read-more">
                <a href="http://iwilindia.com/success-story/kanika-tekriwal-ceo-jetsetgo-aviation-services-private-limited/" target="_blank">Read More > </a>
              </p>
            </div>
          </div>
        </div>
        <div class="section">
          <div class="row">
            <div class="col-sm-3">
              <img class="img-responsive" src="http://d3tfanr7troppj.cloudfront.net/static_files/images/000/000/667/original/35.jpg?1471675601" alt="" />
            </div>
            <div class="col-sm-9">
              <p>JetSetGo provides Indian air charter customers for the first time choice, transparency and flexibility to book a private jet online on both web and mobile platforms. For single leg trips, through our demand aggregation model we maximize the chance for sale of empty travel legs to other customers enabling a Pay as You Fly business model instead of travelers having to pay for a return fare even when flying just one-way. </p>
              <p class="read-more">
                <a href="http://www.smartindianwomen.com/an-interview-with-kanika-founder-of-jetsetgo/" target="_blank">Read More > </a>
              </p>
            </div>
          </div>
        </div>
        <div class="section">
          <div class="row">
            <div class="col-sm-3">
              <img class="img-responsive" src="http://d3tfanr7troppj.cloudfront.net/static_files/images/000/000/668/original/36.jpg?1471675780" alt="" />
            </div>
            <div class="col-sm-9">
              <p>Yuvraj Singh's YouWeCan Ventures is aiming for the skies, literally, after investing in beauty & wellness, education, and logistics. Yuvraj Singh's YouWeCan Ventures latest investment is an undisclosed sum in online marketplace for private jets and helicopters -  JetSetGo.</p>
              <p class="read-more">
                <a href="http://profit.ndtv.com/news/corporates/article-after-beauty-education-yuvraj-singh-looks-towards-the-sky-1201749" target="_blank">Read More > </a>
              </p>
            </div>
          </div>
        </div>
        <div class="section">
          <div class="row">
            <div class="col-sm-3">
              <img class="img-responsive" src="http://d3tfanr7troppj.cloudfront.net/static_files/images/000/000/595/original/Entrepreneur_India.JPG?1470825154" alt="" />
            </div>
            <div class="col-sm-9">
              <p>Hailing from a typical Marwari family, running a successful business and taking risks was always there in the DNA of Kanika Tekriwal. For her, entrepreneurship is all about running a business, solving problems and building success from scratch.</p>
              <p class="read-more">
                <a href="https://www.entrepreneur.com/article/248857" target="_blank">Read More > </a>
              </p>
            </div>
          </div>
        </div>
        <div class="section">
          <div class="row">
            <div class="col-sm-3">
              <img class="img-responsive" src="http://d3tfanr7troppj.cloudfront.net/static_files/images/000/000/669/original/38.jpg?1471676093" alt="" />
            </div>
            <div class="col-sm-9">
              <p>JetSetGo is an aggregator of private jets and helicopters. It allows charter customers to book a private jet online by entering travel details of cities they would like to fly to along with date and time.</p>
              <p class="read-more">
                <a href="https://www.techinasia.com/asian-startup-list-26-july-2015" target="_blank">Read More > </a>
              </p>
            </div>
          </div>
        </div>
        <div class="section">
          <div class="row">
            <div class="col-sm-3">
              <img class="img-responsive" src="http://d3tfanr7troppj.cloudfront.net/static_files/images/000/000/670/original/39.jpg?1471676388" alt="" />
            </div>
            <div class="col-sm-9">
              <p>Indian marketplace for private jets and helicopters, JetSetGo has raised its first round of funding from cricketer Yuvraj Singh’s YouWeCan Ventures, an early stage venture fund which was launched in April this year. </p>
              <p class="read-more">
                <a href="http://www.iamwire.com/2015/07/yuvraj-singhs-youwecan-investment-jetsetgo/120024" target="_blank">Read More > </a>
              </p>
            </div>
          </div>
        </div>
        <div class="section">
          <div class="row">
            <div class="col-sm-3">
              <img class="img-responsive" src="http://d3tfanr7troppj.cloudfront.net/static_files/images/000/000/671/original/40.jpg?1471676504" alt="" />
            </div>
            <div class="col-sm-9">
              <p>Cricketer Yuvraj Singh’s investment firm YouWeCan Ventures has invested in JetSetGo, a marketplace for private jets and helicopters. Founded by Kanika Tekriwal and Sudheer Perla in 2014, JetSetGo has not raised money before this.</p>
              <p class="read-more">
                <a href="http://www.televisionpost.com/news/yuvraj-singh-invests-in-jetsetgo/" target="_blank">Read More > </a>
              </p>
            </div>
          </div>
        </div>
        <div class="section">
          <div class="row">
            <div class="col-sm-3">
              <img class="img-responsive" src="http://d3tfanr7troppj.cloudfront.net/static_files/images/000/000/672/original/41.jpg?1471676749" alt="" />
            </div>
            <div class="col-sm-9">
              <p>If you’re a wealthy jetsetter, chances are that you have often been repelled by the outdated nature of the private jet industry in the country—its brick-and-mortar process involving picking up the phone and speaking to numerous operators and brokers before you can finally charter a jet.</p>
              <p class="read-more">
                <a href="http://www.financialexpress.com/travel/latest-updates-travel/optimising-private-jet-experiences/96565/" target="_blank">Read More > </a>
              </p>
            </div>
          </div>
        </div>
        <div class="section">
          <div class="row">
            <div class="col-sm-3">
              <img class="img-responsive" src="http://d3tfanr7troppj.cloudfront.net/static_files/images/000/000/673/original/42.jpg?1471676917" alt="" />
            </div>
            <div class="col-sm-9">
              <p>Private jet booking start-up JetSetGo is planning to raise $6 million in the next two months to scale up its market share and team size. The market place for chartered flights and helicopters intends shedding 30 per cent of its stake to raise funds from family offices and private equity (PE) funds.</p>
              <p class="read-more">
                <a href="http://www.thehindubusinessline.com/economy/logistics/jetsetgo-to-raise-6-m-in-first-round-of-funding/article7379612.ece" target="_blank">Read More > </a>
              </p>
            </div>
          </div>
        </div>
        <div class="section">
          <div class="row">
            <div class="col-sm-3">
              <img class="img-responsive" src="http://d3tfanr7troppj.cloudfront.net/static_files/images/000/000/674/original/43.jpg?1471677156" alt="" />
            </div>
            <div class="col-sm-9">
              <p>Hailing from a typical Marwari family, running a successful business and taking risks was always there in the DNA of Kanika Tekriwal.</p>
              <p class="read-more">
                <a href="http://www.franchiseindia.com/entrepreneur/interview/start-up/woman/How-JetSetGo-is-redefining-the-private-aviation-business-in-India-380/" target="_blank">Read More > </a>
              </p>
            </div>
          </div>
        </div>
        <div class="section">
          <div class="row">
            <div class="col-sm-3">
              <img class="img-responsive" src="http://d3tfanr7troppj.cloudfront.net/static_files/images/000/000/675/original/44-1.jpg?1471677342" alt="" />
            </div>
            <div class="col-sm-9">
              <p>JetSetGo was founded by Kanika Tekriwal and is India's first ever online concept for private air travel. What gave rise to the idea of a private charter offering and what does Kanika hope to achieve with JetSetGo? </p>
              <p class="read-more">
                <a href="https://sheroes.in/articles/meet-the-sheroes-kanika-tekriwal/ODMz" target="_blank">Read More > </a>
              </p>
            </div>
          </div>
        </div>
        <div class="section">
          <div class="row">
            <div class="col-sm-3">
              <img class="img-responsive" src="http://d3tfanr7troppj.cloudfront.net/static_files/images/000/000/676/original/45.jpg?1471677596" alt="" />
            </div>
            <div class="col-sm-9">
              <p>One day a young woman wakes up with an idea that would revolutionize the private aviation scene in India. She goes back and forth, weighs the pros and cons, and just when her dream is ready to take off, Cancer clips her wings. She is told she won’t be around for more than a few months.</p>
              <p class="read-more">
                <a href="http://lifebeyondnumbers.com/jetsetgo-from-fighting-cancer-to-building-indias-first-online-marketplace-for-private-jet-charter/" target="_blank">Read More > </a>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<!-- media content finish -->


<!-- media section finish -->

<!-- media section start -->
<!-- <div class="inner-banner media-banner">
  <div class="heading">
    <h1><span class="heading">Media</span></h1>
  </div>
  <div class="banner-content">
    <p>
      Any business - be it JetSetGo or any other, doesn't really require investment to start. If you have the drive and motivation, the business will build up. I started my company with an initial investment of some 5,000 Rs
    </p>
  </div>

</div> -->
<!-- media section finish -->

<!-- media content section start -->
<!-- <div class="media-content-main">
  <div class="container">
    <div class="row">
      <div class="col-md-4 col-sm-6 res-center-con">
        <div class="media-first-con">
          <img src="http://d3tfanr7troppj.cloudfront.net/static_files/images/000/000/251/original/media-img.jpg?1463477296" class="img-responsive" alt="">
          <div class="media-content">
            <div class="col-xs-9">
              <h3>JetSetGo: The Uber of Indian skies</h3>
            </div>
            <div class="col-xs-3">
              <img src="http://d3tfanr7troppj.cloudfront.net/static_files/images/000/000/218/original/media_logo-2.png?1462532587" class="img-responsive media-logo" alt="">
            </div>
            <div class="col-xs-12">
              <p>About three months ago, a Gulfstream G650, a leading luxury business jet, flew into New Delhi from the US. The aircraft, which was chartered for a one-way trip, would have normally returned empty legged to its home airport. But this is the Information Age.</p>
            </div>
            <div class="col-xs-12 text-right">
              <a href="http://forbesindia.com/article/best-things-money-can-buy/jetsetgo-the-uber-of-indian-skies/41417/1" target="_blank" class="read-btn">Read More</a>
            </div>
            <div class="clearfix"></div>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-6 res-center-con">
        <div class="media-content">
          <div class="row">
            <div class="col-xs-9">
              <h3>JetSetGo introduces bed to bed affordable air ambulance services</h3>
            </div>
            <div class="col-xs-3">
              <img src="http://d3tfanr7troppj.cloudfront.net/static_files/images/000/000/219/original/media_logo-3.png?1462532894" class="img-responsive media-logo" alt="">
            </div>
            <div class="col-xs-12">
              <p>In a bid to provide a speedy state-of-the-art air lifting service to patients seeking medical facilities in larger cities, JetSetGo, India’s marketplace for private jets and helicopters,</p>
            </div>
            <div class="col-xs-8">
              <div class="view-date-con">
                <span class="date-text blue-color">12 Oct, 2015</span>
              </div>
            </div>
            <div class="col-xs-4 text-right">
              <a href="http://www.pharmabiz.com/NewsDetails.aspx?aid=91065&sid=2" target="_blank" class="read-btn">Read More</a>
            </div>
            <div class="clearfix"></div>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-6 res-center-con">
        <div class="media-content">
          <div class="row">
            <div class="col-xs-9">
              <h3>Kanika Tekriwal, CEO, JetSetGo Aviation Services Private Limited</h3>
            </div>
            <div class="col-xs-3">
              <img src="http://d3tfanr7troppj.cloudfront.net/static_files/images/000/000/220/original/media_logo-4.png?1462533156" class="img-responsive media-logo" alt="">
            </div>
            <div class="col-xs-12">
              <p>Kanika Tekriwal, young dynamic business women, who by her sheer grit & determination carved a niche for her in the aviation industry. </p>
            </div>
            <div class="col-xs-8">
              <div class="view-date-con">
                <span class="date-text blue-color">1 Oct, 2015</span>
              </div>
            </div>
            <div class="col-xs-4 text-right">
              <a href="http://iwilindia.com/success-story/kanika-tekriwal-ceo-jetsetgo-aviation-services-private-limited/" target="_blank" class="read-btn">Read More</a>
            </div>
            <div class="clearfix"></div>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-6 res-center-con">
        <div class="media-content">
          <div class="row">
            <div class="col-xs-9">
              <h3>Luxury in their stride</h3>
            </div>
            <div class="col-xs-3">
              <img src="http://d3tfanr7troppj.cloudfront.net/static_files/images/000/000/223/original/media_logo-7.png?1462534155" class="img-responsive media-logo" alt="">
            </div>
            <div class="col-xs-12">
              <p>A decade ago, Kanika Tekriwal worked for the private aviation vertical of investment giant IndiaBulls. The experience emboldened her to set up in April 2014 JetSetGo.com,</p>
            </div>
            <div class="col-xs-8">
              <div class="view-date-con">
                <span class="date-text blue-color">1 Sep, 2015</span>
              </div>
            </div>
            <div class="col-xs-4 text-right">
              <a href="http://www.businesstoday.in/magazine/cover-story/recent-clutch-of-start-ups-caters-exclusively-to-luxury-market/story/223000.html" target="_blank" class="read-btn">Read More</a>
            </div>
            <div class="clearfix"></div>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-6 res-center-con">
        <div class="media-content">
          <div class="row">
            <div class="col-xs-9">
              <h3>Jet Set Go: India's Ascent Into The Private Jet Industry</h3>
            </div>
            <div class="col-xs-3">
              <img src="http://d3tfanr7troppj.cloudfront.net/static_files/images/000/000/218/original/media_logo-2.png?1462532587" class="img-responsive media-logo" alt="">
            </div>
            <div class="col-xs-12">
              <p>In a journey that spans smashing cultural molds and understanding regulatory environments, Kanika Tekriwal, the young CEO and founder of Jet Set Go has a lot to say about being a funded private jet </p>
            </div>
            <div class="col-xs-8">
              <div class="view-date-con">
                <span class="date-text blue-color">31 Aug, 2015</span>
              </div>
            </div>
            <div class="col-xs-4 text-right">
              <a href="http://www.forbes.com/forbes/welcome/" target="_blank" class="read-btn">Read More</a>
            </div>
            <div class="clearfix"></div>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-6 res-center-con">
        <div class="media-content">
          <div class="row">
            <div class="col-xs-9">
              <h3>Mile-High Service </h3>
            </div>
            <div class="col-xs-3">
              <img src="http://d3tfanr7troppj.cloudfront.net/static_files/images/000/000/226/original/media_logo-9.png?1462534836" class="img-responsive media-logo" alt="">
            </div>
            <div class="col-xs-12">
              <p>Kanika Tekriwal, co-founder, JetSetGo, onboard the Cessna Citation XL, which costs approximately ₹190,000 per hour to charter</p>
            </div>
            <div class="col-xs-8">
              <div class="view-date-con">
                <span class="date-text blue-color">30 Aug, 2015</span>
              </div>
            </div>
            <div class="col-xs-4 text-right">
              <a href="http://www.outlookbusiness.com/cest-la-vie/the-good-life/mile-high-service-1898" target="_blank" class="read-btn">Read More</a>
            </div>
            <div class="clearfix"></div>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-6 res-center-con">
        <div class="media-content">
          <div class="row">
            <div class="col-xs-9">
              <h3>4 min read Dark confessions straight from an entrepreneur's heart </h3>
            </div>
            <div class="col-xs-3">
              <img src="http://d3tfanr7troppj.cloudfront.net/static_files/images/000/000/227/original/media_logo-10.png?1462535148" class="img-responsive media-logo" alt="">
            </div>
            <div class="col-xs-12">
              <p>The three of us had just about settled in cross legged position for late-night dinner into the newest Korean restaurant when the first phone rang.</p>
            </div>
            <div class="col-xs-8">
              <div class="view-date-con">
                <span class="date-text blue-color">18 Aug, 2015</span>
              </div>
            </div>
            <div class="col-xs-4 text-right">
              <a href="https://www.entrepreneur.com/article/249682" target="_blank" class="read-btn">Read More</a>
            </div>
            <div class="clearfix"></div>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-6 res-center-con">
        <div class="media-content">
          <div class="row">
            <div class="col-xs-9">
              <h3>An interview with Kanika, founder of “Jetsetgo”</h3>
            </div>
            <div class="col-xs-3">
              <img src="http://d3tfanr7troppj.cloudfront.net/static_files/images/000/000/228/original/media_logo-11.png?1462535368" class="img-responsive media-logo" alt="">
            </div>
            <div class="col-xs-12">
              <p><b>Kanika :</b> JetSetGo provides Indian air charter customers for the first time choice, transparency and flexibility to book a private jet online on both web and mobile platforms.</p>
            </div>
            <div class="col-xs-8">
              <div class="view-date-con">
                <span class="date-text blue-color">14 Aug, 2015</span>
              </div>
            </div>
            <div class="col-xs-4 text-right">
              <a href="http://www.smartindianwomen.com/an-interview-with-kanika-founder-of-jetsetgo/" target="_blank" class="read-btn">Read More</a>
            </div>
            <div class="clearfix"></div>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-6 res-center-con">
        <div class="media-content">
          <div class="row">
            <div class="col-xs-9">
              <h3>Use every No as a stepping-stone to success.</h3>
            </div>
            <div class="col-xs-3">
              <img src="http://d3tfanr7troppj.cloudfront.net/static_files/images/000/000/229/original/media_logo-12.png?1462535533" class="img-responsive media-logo" alt="">
            </div>
            <div class="col-xs-12">
              <p>Right from the start, Kanika has been known to be a risk taker and a go getter. Her mission is to be on the list of 100 most powerful women in the world.</p>
            </div>
            <div class="col-xs-8">
              <div class="view-date-con">
                <span class="date-text blue-color">7 Aug, 2015</span>
              </div>
            </div>
            <div class="col-xs-4 text-right">
              <a href="http://www.yosuccess.com/interviews/kanika-tekriwal-jetsetgo/" target="_blank" class="read-btn">Read More</a>
            </div>
            <div class="clearfix"></div>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-6 res-center-con">
        <div class="media-content">
          <div class="row">
            <div class="col-xs-9">
              <h3>After Beauty, Education, Yuvraj Singh Looks Towards The Sky</h3>
            </div>
            <div class="col-xs-3">
              <img src="http://d3tfanr7troppj.cloudfront.net/static_files/images/000/000/232/original/media_logo-15.png?1462538607" class="img-responsive media-logo" alt="">
            </div>
            <div class="col-xs-12">
              <p>Yuvraj Singh's YouWeCan Ventures latest investment is an undisclosed sum in online marketplace for private jets and helicopters -  JetSetGo.</p>
            </div>
            <div class="col-xs-8">
              <div class="view-date-con">
                <span class="date-text blue-color">29 July, 2015</span>
              </div>
            </div>
            <div class="col-xs-4 text-right">
              <a href="http://profit.ndtv.com/news/corporates/article-after-beauty-education-yuvraj-singh-looks-towards-the-sky-1201749" target="_blank" class="read-btn">Read More</a>
            </div>
            <div class="clearfix"></div>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-6 res-center-con">
        <div class="media-content">
          <div class="row">
            <div class="col-xs-9">
              <h3>Yuvi backed YouWeCan Ventures helping create a new era of luxury travel in India</h3>
            </div>
            <div class="col-xs-3">
              <img src="http://d3tfanr7troppj.cloudfront.net/static_files/images/000/000/227/original/media_logo-10.png?1462535148" class="img-responsive media-logo" alt="">
            </div>
            <div class="col-xs-12">
              <p>Despite established business models globally from fractional ownership to jet loyalty programs, India still lags severely behind in private aviation space, comprising less than 15 per cent of air traffic in Indian skies.</p>
            </div>
            <div class="col-xs-8">
              <div class="view-date-con">
                <span class="date-text blue-color">28 July, 2015</span>
              </div>
            </div>
            <div class="col-xs-4 text-right">
              <a href="https://www.entrepreneur.com/article/248914" target="_blank" class="read-btn">Read More</a>
            </div>
            <div class="clearfix"></div>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-6 res-center-con">
        <div class="media-content">
          <div class="row">
            <div class="col-xs-9">
              <h3>How JetSetGo is redefining the private aviation business in India </h3>
            </div>
            <div class="col-xs-3">
              <img src="http://d3tfanr7troppj.cloudfront.net/static_files/images/000/000/227/original/media_logo-10.png?1462535148" class="img-responsive media-logo" alt="">
            </div>
            <div class="col-xs-12">
              <p>Hailing from a typical Marwari family, running a successful business and taking risks was always there in the DNA of Kanika Tekriwal.</p>
            </div>
            <div class="col-xs-8">
              <div class="view-date-con">
                <span class="date-text blue-color">27 July, 2015</span>
              </div>
            </div>
            <div class="col-xs-4 text-right">
              <a href="https://www.entrepreneur.com/article/248857" target="_blank" class="read-btn">Read More</a>
            </div>
            <div class="clearfix"></div>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-6 res-center-con">
        <div class="media-content">
          <div class="row">
            <div class="col-xs-9">
              <h3>27 startups in Asia that caught our eye</h3>
            </div>
            <div class="col-xs-3">
              <img src="http://d3tfanr7troppj.cloudfront.net/static_files/images/000/000/234/original/media_logo-17.png?1462539329" class="img-responsive media-logo" alt="">
            </div>
            <div class="col-xs-12">
              <p>JetSetGo is an aggregator of private jets and helicopters. It allows charter customers to book a private jet online by entering travel details of cities they would like to fly to along with date and time.</p>
            </div>
            <div class="col-xs-8">
              <div class="view-date-con">
                <span class="date-text blue-color">26 July, 2015</span>
              </div>
            </div>
            <div class="col-xs-4 text-right">
              <a href="https://www.techinasia.com/asian-startup-list-26-july-2015" target="_blank" class="read-btn">Read More</a>
            </div>
            <div class="clearfix"></div>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-6 res-center-con">
        <div class="media-content">
          <div class="row">
            <div class="col-xs-9">
              <h3>Yuvraj Singh’s YouWeCan Makes Fifth Investment in JetSetGo</h3>
            </div>
            <div class="col-xs-3">
              <img src="http://d3tfanr7troppj.cloudfront.net/static_files/images/000/000/235/original/media_logo-18.png?1462601808" class="img-responsive media-logo" alt="">
            </div>
            <div class="col-xs-12">
              <p>Indian marketplace for private jets and helicopters, JetSetGo has raised its first round of funding from cricketer Yuvraj Singh’s YouWeCan Ventures</p>
            </div>
            <div class="col-xs-8">
              <div class="view-date-con">
                <span class="date-text blue-color">24 July, 2015</span>
              </div>
            </div>
            <div class="col-xs-4 text-right">
              <a href="http://www.iamwire.com/2015/07/yuvraj-singhs-youwecan-investment-jetsetgo/120024" target="_blank" class="read-btn">Read More</a>
            </div>
            <div class="clearfix"></div>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-6 res-center-con">
        <div class="media-content">
          <div class="row">
            <div class="col-xs-9">
              <h3>Yuvraj Singh invests in JetSetGo</h3>
            </div>
            <div class="col-xs-3">
              <img src="http://d3tfanr7troppj.cloudfront.net/static_files/images/000/000/236/original/media_logo-19.png?1462603604" class="img-responsive media-logo" alt="">
            </div>
            <div class="col-xs-12">
              <p>MUMBAI: Cricketer Yuvraj Singh’s investment firm YouWeCan Ventures has invested in JetSetGo, a marketplace for private jets and helicopters. Founded by Kanika Tekriwal and Sudheer Perla in 2014</p>
            </div>
            <div class="col-xs-8">
              <div class="view-date-con">
                <span class="date-text blue-color">23 july, 2015</span>
              </div>
            </div>
            <div class="col-xs-4 text-right">
              <a href="http://articles.economictimes.indiatimes.com/2015-07-23/news/64772703_1_investment-firm-platform-online-marketplace" target="_blank" class="read-btn">Read More</a>
            </div>
            <div class="clearfix"></div>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-6 res-center-con">
        <div class="media-content">
          <div class="row">
            <div class="col-xs-9">
              <h3>YouWeCan Ventures invests in JetSetGo</h3>
            </div>
            <div class="col-xs-3">
              <img src="http://d3tfanr7troppj.cloudfront.net/static_files/images/000/000/237/original/media_logo-20.png?1462603862" class="img-responsive media-logo" alt="">
            </div>
            <div class="col-xs-12">
              <p>Yuvraj Singh-funded YouWeCan Ventures has made an undisclosed investment in JetSetGo, a marketplace for private jets and helicopters. Co-founded by Kanika Tekriwal and Sudheer Perla in 2014</p>
            </div>
            <div class="col-xs-8">
              <div class="view-date-con">
                <span class="date-text blue-color">23 july, 2015</span>
              </div>
            </div>
            <div class="col-xs-4 text-right">
              <a href="http://www.nextbigwhat.com/jetsetgo-youwecan-ventures-funding-297/" target="_blank" class="read-btn">Read More</a>
            </div>
            <div class="clearfix"></div>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-6 res-center-con">
        <div class="media-content">
          <div class="row">
            <div class="col-xs-9">
              <h3>Taking to the skies: YouWeCan Ventures invests in JetSetGo</h3>
            </div>
            <div class="col-xs-3">
              <img src="http://d3tfanr7troppj.cloudfront.net/static_files/images/000/000/238/original/media_logo-21.png?1462604258" class="img-responsive media-logo" alt="">
            </div>
            <div class="col-xs-12">
              <p>NEW DELHI: YouWeCan Ventures, the investment firm founded by cricketer Yuvraj Singh, has invested in JetSetGo, an online marketplace for private jets and helicopters</p>
            </div>
            <div class="col-xs-8">
              <div class="view-date-con">
                <span class="date-text blue-color">23 july, 2015</span>
              </div>
            </div>
            <div class="col-xs-4 text-right">
              <a href="http://thetechportal.in/2015/07/23/an-online-marketplace-for-private-jets-jetsetgo-secures-funds-from-youwecan-ventures/" target="_blank" class="read-btn">Read More</a>
            </div>
            <div class="clearfix"></div>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-6 res-center-con">
        <div class="media-content">
          <div class="row">
            <div class="col-xs-9">
              <h3>YouWeCan Ventures invests in JetSetGo</h3>
            </div>
            <div class="col-xs-3">
              <img src="http://d3tfanr7troppj.cloudfront.net/static_files/images/000/000/239/original/media_logo-22.png?1462608180" class="img-responsive media-logo" alt="">
            </div>
            <div class="col-xs-12">
              <p>Yuvraj Singh’s YouWeCan Ventures has made an undisclosed investment in JetSetGo – a marketplace for private jets and helicopters co-founded by Kanika Tekriwal and Sudheer Perla.</p>
            </div>
            <div class="col-xs-8">
              <div class="view-date-con">
                <span class="date-text blue-color">23 July, 2015</span>
              </div>
            </div>
            <div class="col-xs-4 text-right">
              <a href="http://www.nextbigwhat.com/jetsetgo-youwecan-ventures-funding-297/" target="_blank" class="read-btn">Read More</a>
            </div>
            <div class="clearfix"></div>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-6 res-center-con">
        <div class="media-content">
          <div class="row">
            <div class="col-xs-9">
              <h3>An Online Marketplace For Private Jets</h3>
            </div>
            <div class="col-xs-3">
              <img src="http://d3tfanr7troppj.cloudfront.net/static_files/images/000/000/240/original/media_logo-23.png?1462608319" class="img-responsive media-logo" alt="">
            </div>
            <div class="col-xs-12">
              <p>So yeah, you can book/maintain private jets online too, and right here in India. JetSetGo, an online marketplace for private jet and helicopters has raised an undisclosed.</p>
            </div>
            <div class="col-xs-8">
              <div class="view-date-con">
                <span class="date-text blue-color">23 July, 2015</span>
              </div>
            </div>
            <div class="col-xs-4 text-right">
              <a href="http://thetechportal.in/2015/07/23/an-online-marketplace-for-private-jets-jetsetgo-secures-funds-from-youwecan-ventures/" target="_blank" class="read-btn">Read More</a>
            </div>
            <div class="clearfix"></div>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-6 res-center-con">
        <div class="media-content">
          <div class="row">
            <div class="col-xs-9">
              <h3>Flying High!! Marketplace For Jets & Private Helicopters</h3>
            </div>
            <div class="col-xs-3">
              <img src="http://d3tfanr7troppj.cloudfront.net/static_files/images/000/000/241/original/media_logo-24.png?1462608434" class="img-responsive media-logo" alt="">
            </div>
            <div class="col-xs-12">
              <p>Yuvraj Singh’s debut startup fund, YouWeCan Ventures has announced its investment in an online marketplace for private jets and helicopters i.e. JetSetGo.</p>
            </div>
            <div class="col-xs-8">
              <div class="view-date-con">
                <span class="date-text blue-color">23 July, 2015</span>
              </div>
            </div>
            <div class="col-xs-4 text-right">
              <a href="https://inc42.com/buzz/jetsetgo-funding/" target="_blank" class="read-btn">Read More</a>
            </div>
            <div class="clearfix"></div>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-6 res-center-con">
        <div class="media-content">
          <div class="row">
            <div class="col-xs-9">
              <h3>YouWeCan Ventures invests in JetSetGo</h3>
            </div>
            <div class="col-xs-3">
              <img src="http://d3tfanr7troppj.cloudfront.net/static_files/images/000/000/242/original/media_logo-25.png?1462608706" class="img-responsive media-logo" alt="">
            </div>
            <div class="col-xs-12">
              <p>JetSetGo provides charter customers for the first time choice, transparency and flexibility to book a private jet online. Extending the experience from the ease of the online booking process</p>
            </div>
            <div class="col-xs-8">
              <div class="view-date-con">
                <span class="date-text blue-color">23 July, 2015</span>
              </div>
            </div>
            <div class="col-xs-4 text-right">
              <a href="http://www.brunchnews.com/next-big-what/technology/youwecan-ventures-invests-in-jetsetgo-marketplace-for-private-jets-and-helicopters-3222780" target="_blank" class="read-btn">Read More</a>
            </div>
            <div class="clearfix"></div>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-6 res-center-con">
        <div class="media-content">
          <div class="row">
            <div class="col-xs-9">
              <h3>Marketplace for private jet, copter and air ambulance</h3>
            </div>
            <div class="col-xs-3">
              <img src="http://d3tfanr7troppj.cloudfront.net/static_files/images/000/000/243/original/media_logo-26.png?1462608937" class="img-responsive media-logo" alt="">
            </div>
            <div class="col-xs-12">
              <p>The marketplace for private jets, helicopters and air ambulance, JetSetGo, has raised an undisclosed amount of funding from Yuvraj Singh’s startup fund YouWeCan Ventures.</p>
            </div>
            <div class="col-xs-8">
              <div class="view-date-con">
                <span class="date-text blue-color">23 July, 2015</span>
              </div>
            </div>
            <div class="col-xs-4 text-right">
              <a href="http://yourstory.com/2015/07/jetsetgo-funding/" target="_blank" class="read-btn">Read More</a>
            </div>
            <div class="clearfix"></div>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-6 res-center-con">
        <div class="media-content">
          <div class="row">
            <div class="col-xs-9">
              <h3>Yuvraj Singh backed YouWeCan Ventures invests in JetSetGo</h3>
            </div>
            <div class="col-xs-3">
              <img src="http://d3tfanr7troppj.cloudfront.net/static_files/images/000/000/244/original/media_logo-27.png?1462609071" class="img-responsive media-logo" alt="">
            </div>
            <div class="col-xs-12">
              <p><b>Mumbai:</b> JetSetGo Aviation Pvt. Ltd, a Bengaluru-based marketplace for private jets and helicopters, has raised an undisclosed amount in funding from YouWeCan Ventures</p>
            </div>
            <div class="col-xs-8">
              <div class="view-date-con">
                <span class="date-text blue-color">23 July, 2015</span>
              </div>
            </div>
            <div class="col-xs-4 text-right">
              <a href="http://www.livemint.com/Companies/5DifBkmfv79K5zXBXZyfJL/Yuvraj-Singh-backed-YouWeCan-Ventures-invests-in-JetSetGo.html" target="_blank" class="read-btn">Read More</a>
            </div>
            <div class="clearfix"></div>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-6 res-center-con">
        <div class="media-content">
          <div class="row">
            <div class="col-xs-9">
              <h3>Yuvraj Singh's YouWeCan Ventures invests in JetSetGo</h3>
            </div>
            <div class="col-xs-3">
              <img src="http://d3tfanr7troppj.cloudfront.net/static_files/images/000/000/245/original/media_logo-28.png?1462613321" class="img-responsive media-logo" alt="">
            </div>
            <div class="col-xs-12">
              <p>Yuvraj Singh funded YouWeCan Ventures has made an undisclosed investment in JetSetGo - India’s first marketplace for private jets and helicopters co-founded by Kanika Tekriwal and Sudheer Perla.</p>
            </div>
            <div class="col-xs-8">
              <div class="view-date-con">
                <span class="date-text blue-color">23 July, 2015</span>
              </div>
            </div>
            <div class="col-xs-4 text-right">
              <a href="http://www.indiainfoline.com/article/news-top-story/yuvraj-singh-s-youwecan-ventures-invests-in-jetsetgo-115072300390_1.html" target="_blank" class="read-btn">Read More</a>
            </div>
            <div class="clearfix"></div>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-6 res-center-con">
        <div class="media-content">
          <div class="row">
            <div class="col-xs-9">
              <h3>Yuvraj Singh-funded YouWeCan Ventures invests in JetSetGo</h3>
            </div>
            <div class="col-xs-3">
              <img src="http://d3tfanr7troppj.cloudfront.net/static_files/images/000/000/246/original/media_logo-29.png?1462617178" class="img-responsive media-logo" alt="">
            </div>
            <div class="col-xs-12">
              <p>Yuvraj Singh-funded YouWeCan Ventures today made an undisclosed investment in JetSetGo— India's first marketplace for private jets and helicopters co-founded by Kanika Tekriwal and Sudheer Perla.</p>
            </div>
            <div class="col-xs-8">
              <div class="view-date-con">
                <span class="date-text blue-color">23 July, 2015</span>
              </div>
            </div>
            <div class="col-xs-4 text-right">
              <a href="http://www.business-standard.com/article/companies/yuvraj-singh-funded-youwecan-ventures-invests-in-jetsetgo-115072300615_1.html" target="_blank" class="read-btn">Read More</a>
            </div>
            <div class="clearfix"></div>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-6 res-center-con">
        <div class="media-content">
          <div class="row">
            <div class="col-xs-9">
              <h3>Private Jet Booking Platform JetSetGo Secures Funding</h3>
            </div>
            <div class="col-xs-3">
              <img src="http://d3tfanr7troppj.cloudfront.net/static_files/images/000/000/247/original/media_logo-30.png?1462617587" class="img-responsive media-logo" alt="">
            </div>
            <div class="col-xs-12">
              <p>Bengaluru based online marketplace for private jets and helicopters, JetSetGo, has raised an undisclosed amount of funding from Indian cricketer Yuvraj Singh’s VC Fund YouWeCan Ventures.</p>
            </div>
            <div class="col-xs-8">
              <div class="view-date-con">
                <span class="date-text blue-color">23 July, 2015</span>
              </div>
            </div>
            <div class="col-xs-4 text-right">
              <a href="http://www.dealcurry.com/20150723-Private-Jet-Booking-Platform-JetSetGo-Secures-Funding.htm" target="_blank" class="read-btn">Read More</a>
            </div>
            <div class="clearfix"></div>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-6 res-center-con">
        <div class="media-content">
          <div class="row">
            <div class="col-xs-9">
              <h3>Yuvraj singh & Co funded JetSetGo India’s first marketplace</h3>
            </div>
            <div class="col-xs-3">
              <img src="http://d3tfanr7troppj.cloudfront.net/static_files/images/000/000/248/original/media_logo-31.png?1462617799" class="img-responsive media-logo" alt="">
            </div>
            <div class="col-xs-12">
              <p>YouWeCan Ventures led by Yuvraj singh & co funded JetSetGo India’s first marketplace for private jets and helicopters co-founded by Kanika Tekriwal and Sudheer Perla.</p>
            </div>
            <div class="col-xs-8">
              <div class="view-date-con">
                <span class="date-text blue-color">23 July, 2015</span>
              </div>
            </div>
            <div class="col-xs-4 text-right">
              <a href="http://pixr8.com/yuvraj-singh-co-funded-jetsetgo-indias-first-marketplace-for-private-jets-and-helicopters/" target="_blank" class="read-btn">Read More</a>
            </div>
            <div class="clearfix"></div>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-6 res-center-con">
        <div class="media-content">
          <div class="row">
            <div class="col-xs-9">
              <h3>YouWeCan Ventures invests in JetSetGo</h3>
            </div>
            <div class="col-xs-3">
              <img src="http://d3tfanr7troppj.cloudfront.net/static_files/images/000/000/249/original/media_logo-32.png?1462618061" class="img-responsive media-logo" alt="">
            </div>
            <div class="col-xs-12">
              <p>Yuvraj Singh-funded YouWeCan Ventures has made an undisclosed investment in JetSetGo, a marketplace for private jets and helicopters.</p>
            </div>
            <div class="col-xs-8">
              <div class="view-date-con">
                <span class="date-text blue-color">23 July, 2015</span>
              </div>
            </div>
            <div class="col-xs-4 text-right">
              <a href="http://stocksmarket.in/214129/2015/07/23/youwecan-ventures-invests-in-jetsetgo/" target="_blank" class="read-btn">Read More</a>
            </div>
            <div class="clearfix"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="clearfix"></div>
</div> -->
<!-- media content section finish