<div class="section-heading search_heading">
  <div class="container">
    <img class="img-responsive" src="http://d3tfanr7troppj.cloudfront.net/static_files/images/000/000/945/original/membership.png?1478000051" alt="">
  </div>
</div>
<img src="http://d3tfanr7troppj.cloudfront.net/static_files/images/000/001/090/original/DREAM_header.png?1481176470" alt="" class="img-responsive" />
<div class="membership_plan_main">
  <div class="container">
    <div class="top-membership-con">
      <div class="row">
        <div class="col-xs-12">
          <h1 class="heading">
            Diamond Mambership
          </h1>
        </div>
        <div class="col-sm-7">
          <p>
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
          </p>
          <p>
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
          </p>
        </div>
        <div class="col-sm-5">
          <img src="http://d3tfanr7troppj.cloudfront.net/static_files/images/000/000/987/original/gold.jpg?1478496870" alt="Diamond image" class="img-responsive" />
        </div>
      </div>
    </div>
    <div class="bottom-membership-con">
      <div class="row">
        <div class="col-xs-12">
          <h2 class="sub_heaing">Benefits</h2>
        </div>
      </div>
      <div class="row widget_padding">
        <div class="col-md-1 col-sm-2 col-xs-12">
          <img src="http://d3tfanr7troppj.cloudfront.net/static_files/images/000/001/100/original/Very-Superior-Pricing.png?1481177024" alt="gold image" class="img-responsive" />
        </div>
        <div class="col-md-9 col-sm-8 col-xs-12">
          <h3>Very Superior Pricing</h3>
          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
        </div>
        <div class="col-sm-8 col-xs-12">
          <ul class="membership_point_con">
            <li style="padding-top: 0;">Priority Scheduling</li>
            <li>24/7 Luxury Travel Concierge relationship manager</li>
            <li>Flexibility to choose any aircraft</li>
            <li>Whatever you need we will make it happen</li>
            <li>Unlimited VIP meet & greet on commercial flights</li>
            <li>Flexibility to choose any aircraft </li>
            <li>Whatever you need we will make it happen</li>
            <li>Unlimited VIP meet & greet on commercial flights </li>
            <li>Unlimited  Free Seats on ferry Flights</li>
            <li>Luxury car inner airport transfer</li>
            <li>Confirmed flight within 36 hours</li>
            <li>Free Flight every month</li>
            <li>Family VIP meet & Greet on commercial flights</li>
            <li>No Empty Leg Costs</li>
            <li>Flat rate per hour cost (No handling charges, crew accommodation and other add on costs)</li>
          </ul>
        </div>
      </div>
      <div class="row widget_padding">
        <div class="col-md-1 col-sm-2 col-xs-12">
          <img src="http://d3tfanr7troppj.cloudfront.net/static_files/images/000/001/098/original/Priority-Scheduling.png?1481176893" alt="gold image" class="img-responsive" />
        </div>
        <div class="col-md-9 col-sm-8 col-xs-12">
          <h3>Priority Scheduling</h3>
          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
        </div>
      </div>
      <div class="row widget_padding">
        <div class="col-md-1 col-sm-2 col-xs-12">
          <img src="http://d3tfanr7troppj.cloudfront.net/static_files/images/000/001/096/original/Luxury-Travel-Concierge-relationship-manager.png?1481176815" alt="gold image" class="img-responsive" />
        </div>
        <div class="col-md-9 col-sm-8 col-xs-12">
          <h3>24/7 Luxury Travel Concierge relationship manager</h3>
          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
        </div>
      </div>
      <div class="row widget_padding">
        <div class="col-md-1 col-sm-2 col-xs-12">
          <img src="http://d3tfanr7troppj.cloudfront.net/static_files/images/000/001/093/original/Flexibility-to-choose-any-aircr.png?1481176711" alt="gold image" class="img-responsive" />
        </div>
        <div class="col-md-9 col-sm-8 col-xs-12">
          <h3>Flexibility to chooose any aircraft</h3>
          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
        </div>
      </div>
      <div class="row widget_padding">
        <div class="col-md-1 col-sm-2 col-xs-12">
          <img src="http://d3tfanr7troppj.cloudfront.net/static_files/images/000/001/101/original/Unlimited-VIP-meet-_-greet-on-commercial-flight.png?1481177056" alt="gold image" class="img-responsive" />
        </div>
        <div class="col-md-9 col-sm-8 col-xs-12">
          <h3>Unlimited VIP meet & greet on commercial flights</h3>
          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
        </div>
      </div>
      <div class="row widget_padding">
        <div class="col-md-1 col-sm-2 col-xs-12">
          <img src="http://d3tfanr7troppj.cloudfront.net/static_files/images/000/001/099/original/Unlimited-Free-seats.png?1481176911" alt="gold image" class="img-responsive" />
        </div>
        <div class="col-md-9 col-sm-8 col-xs-12">
          <h3>Unlimited Free seats on ferry flights</h3>
          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
        </div>
      </div>
      <div class="row widget_padding">
        <div class="col-md-1 col-sm-2 col-xs-12">
          <img src="http://d3tfanr7troppj.cloudfront.net/static_files/images/000/001/102/original/Free-aircraft-every-month.png?1481179649" alt="gold image" class="img-responsive" />
        </div>
        <div class="col-md-9 col-sm-8 col-xs-12">
          <h3>Free aircraft every month</h3>
          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
        </div>
      </div>
      <div class="row widget_padding">
        <div class="col-md-1 col-sm-2 col-xs-12">
          <img src="http://d3tfanr7troppj.cloudfront.net/static_files/images/000/001/095/original/Guaranteed-Availability.png?1481176777" alt="gold image" class="img-responsive" />
        </div>
        <div class="col-md-9 col-sm-8 col-xs-12">
          <h3>Guaranteed Availability</h3>
          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
        </div>
      </div>
      <div class="row widget_padding">
        <div class="col-md-1 col-sm-2 col-xs-12">
          <img src="http://d3tfanr7troppj.cloudfront.net/static_files/images/000/001/089/original/Confirmed-flight-within-36-hours.png?1481176351" alt="gold image" class="img-responsive" />
        </div>
        <div class="col-md-9 col-sm-8 col-xs-12">
          <h3>Confirmed flight within 36 hours</h3>
          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
        </div>
      </div>
      <div class="row widget_padding">
        <div class="col-md-1 col-sm-2 col-xs-12">
          <img src="http://d3tfanr7troppj.cloudfront.net/static_files/images/000/001/091/original/Family-VIP-meet-_-greet-on-commercial-flights.png?1481176628" alt="gold image" class="img-responsive" />
        </div>
        <div class="col-md-9 col-sm-8 col-xs-12">
          <h3>Family VIP meet & greet on commercial flights</h3>
          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
        </div>
      </div>
      <div class="row widget_padding">
        <div class="col-md-1 col-sm-2 col-xs-12">
          <img src="http://d3tfanr7troppj.cloudfront.net/static_files/images/000/001/097/original/No-empty-leg-costs.png?1481176835" alt="gold image" class="img-responsive" />
        </div>
        <div class="col-md-9 col-sm-8 col-xs-12">
          <h3>No empty leg costs</h3>
          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
        </div>
      </div>
      <div class="row widget_padding">
        <div class="col-md-1 col-sm-2 col-xs-12">
          <img src="http://d3tfanr7troppj.cloudfront.net/static_files/images/000/001/092/original/Flat-rate-per-hour-cost.png?1481176677" alt="gold image" class="img-responsive" />
        </div>
        <div class="col-md-9 col-sm-8 col-xs-12">
          <h3>Flat rate per hour cost</h3>
          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
        </div>
      </div>
    </div>
  </div>
</div>