<!-- membership plan start-->
<div class="section-heading search_heading">
  <div class="container">
    <img class="img-responsive" src="http://d3tfanr7troppj.cloudfront.net/static_files/images/000/000/945/original/membership.png?1478000051" alt="">
  </div>
</div>
<div class="membership_banner_con">
  <div class="banner_content">
    <h5>As the private aviation industry is on a boom, we at <b>JetSetGo</b> are excited to announce our new <b>JetSetEngine</b> membership program. An option for high value private flyers to have their ease and flexibility for an anytime takeoff.</h5>
  </div>
</div>
<div class="membership_main_con">
  <div class="container">
    <div class="row">
      <div class="col-sm-4 col-xs-12">
        <div class="membership_box gold_color">
          <div class="membership_box_img gold_img">
            <h3>Gold <span class="engine_text">Engines</span></h3>
          </div>
          <div class="membership_box_content gold_border">
            <p>
              Member-only services and special attention to preferences ensure a very warn welcome to the first tier of membership.
            </p>
            <ul>
              <li>Priority Pricing</li>
              <li>Priority Scheduling</li>
              <li>24/7 Luxury Travel Concierge relationship manager</li>
              <li>Flexibility to choose any aircraft</li>
              <li>5 VIP meet & greet on commercial flights per month</li>
              <li>Free Seats on ferry flights</li>
            </ul>
            <div class="text-center">
              <a class="more_btn" href="membership_gold">View More</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-4 col-xs-12">
        <div class="membership_box platinum_color">
          <div class="membership_box_img platinum_img">
            <h3>Platinum <span class="engine_text">Engines</span></h3>
          </div>
          <div class="membership_box_content platinum_border">
            <p>
              Member-only services and special attention to preferences ensure a very warn welcome to the first tier of membership.
            </p>
            <ul>
              <li>Special Pricing</li>
              <li>Priority Scheduling</li>
              <li>24/7 Luxury Travel Concierge relationship manager</li>
              <li>Flexibility to choose any aircraft</li>
              <li>Unlimited VIP meet & greet on commercial flights per month</li>
              <li>Free aircraft every month (double check with boss)</li>
              <li>Guaranteed Availability</li>
              <li>Confirmed flight within 36 hours</li>
            </ul>
            <div class="text-center">
              <a class="more_btn" href="membership_platinum">View More</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-4 col-xs-12">
        <div class="membership_box diamond_color">
          <div class="membership_box_img diamond_img">
            <h3>Diamond <span class="engine_text">Engines</span></h3>
          </div>
          <div class="membership_box_content diamond_border">
            <p>
              Member-only services and special attention to preferences ensure a very warn welcome to the first tier of membership.
            </p>
            <ul>
              <li>Very Superior Pricing</li>
              <li>Priority Scheduling</li>
              <li>24/7 Luxury Travel Concierge relationship manager</li>
              <li>Flexibility to choose any aircraft</li>
              <li>Unlimited VIP meet & greet on commercial flights</li>
              <li>Unlimited Free seats on ferry flights</li>
              <li>Free aircraft every month</li>
              <li>Guaranteed Availability</li>
              <li>Confirmed flight within 36 hours</li>
              <li>Family VIP meet & greet on commercial flights</li>
              <li>No empty leg costs</li>
              <li>Flat rate per hour cost (No handling charges, crew accommodation and other add on costs)</li>
            </ul>
            <div class="text-center">
              <a class="more_btn" href="/membership_diamond">View More</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- membership plan finish-->

<!--membership table start-->
<div class="membership_table_con">
  <div class="container">
    <div class="text-center">
      <a href="javascript:void(0)" class="membership_btn" ng-hide="ctrl.active_table" ng-click="ctrl.active_table =! ctrl.active_table">Membership Tiers</a>
    </div>
    <div ng-show="ctrl.active_table" class="membership_plan_table">
      <table class="table table-striped membership_table">
        <thead>
        <tr class="info">
          <th>Privileges</th>
          <th>Gold</th>
          <th>Platinum</th>
          <th>Diamond</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td class="first_column">Priority Scheduling</td>
          <td>
            <img src="http://d3tfanr7troppj.cloudfront.net/static_files/images/000/000/981/original/goldtickmark.png?1478160271" alt=""></td>
          <td>
            <img src="http://d3tfanr7troppj.cloudfront.net/static_files/images/000/000/980/original/platiniumtickmark.png?1478160237" alt="">
          </td>
          <td>
            <img src="http://d3tfanr7troppj.cloudfront.net/static_files/images/000/000/982/original/diamondtickmark.png?1478160308" alt="">
          </td>
        </tr>
        <tr>
          <td class="first_column">24/7 Luxury Travel Concierge relationship manager</td>
          <td>
            <img src="http://d3tfanr7troppj.cloudfront.net/static_files/images/000/000/981/original/goldtickmark.png?1478160271" alt=""></td>
          <td>
            <img src="http://d3tfanr7troppj.cloudfront.net/static_files/images/000/000/980/original/platiniumtickmark.png?1478160237" alt="">
          </td>
          <td>
            <img src="http://d3tfanr7troppj.cloudfront.net/static_files/images/000/000/982/original/diamondtickmark.png?1478160308" alt="">
          </td>
        </tr>
        <tr>
          <td class="first_column">Flexibility to choose any aircraft </td>
          <td>
            <img src="http://d3tfanr7troppj.cloudfront.net/static_files/images/000/000/981/original/goldtickmark.png?1478160271" alt=""></td>
          <td>
            <img src="http://d3tfanr7troppj.cloudfront.net/static_files/images/000/000/980/original/platiniumtickmark.png?1478160237" alt="">
          </td>
          <td>
            <img src="http://d3tfanr7troppj.cloudfront.net/static_files/images/000/000/982/original/diamondtickmark.png?1478160308" alt="">
          </td>
        </tr>
        <tr>
          <td class="first_column">Whatever you need we will make it happen</td>
          <td>
            <img src="http://d3tfanr7troppj.cloudfront.net/static_files/images/000/000/981/original/goldtickmark.png?1478160271" alt=""></td>
          <td>
            <img src="http://d3tfanr7troppj.cloudfront.net/static_files/images/000/000/980/original/platiniumtickmark.png?1478160237" alt="">
          </td>
          <td>
            <img src="http://d3tfanr7troppj.cloudfront.net/static_files/images/000/000/982/original/diamondtickmark.png?1478160308" alt="">
          </td>
        </tr>
        <tr>
          <td class="first_column">VIP meet & greet on commercial flights</td>
          <td>5 Per month</td>
          <td>Unlimited</td>
          <td>Unlimited</td>
        </tr>
        <tr>
          <td class="first_column">Free Seats on ferry Flights</td>
          <td>5 per month</td>
          <td>10 per month</td>
          <td>Unlimited</td>
        </tr>
        <tr>
          <td class="first_column">Luxury car inner airport transfer</td>
          <td></td>
          <td>
            <img src="http://d3tfanr7troppj.cloudfront.net/static_files/images/000/000/980/original/platiniumtickmark.png?1478160237" alt="">
          </td>
          <td>
            <img src="http://d3tfanr7troppj.cloudfront.net/static_files/images/000/000/982/original/diamondtickmark.png?1478160308" alt="">
          </td>
        </tr>
        <tr>
          <td class="first_column">Confirmed flight within 36 hours</td>
          <td></td>
          <td>
            <img src="http://d3tfanr7troppj.cloudfront.net/static_files/images/000/000/980/original/platiniumtickmark.png?1478160237" alt="">
          </td>
          <td>
            <img src="http://d3tfanr7troppj.cloudfront.net/static_files/images/000/000/982/original/diamondtickmark.png?1478160308" alt="">
          </td>
        </tr>
        <tr>
          <td class="first_column">Free Flight every month</td>
          <td></td>
          <td>
            <img src="http://d3tfanr7troppj.cloudfront.net/static_files/images/000/000/980/original/platiniumtickmark.png?1478160237" alt="">
          </td>
          <td>
            <img src="http://d3tfanr7troppj.cloudfront.net/static_files/images/000/000/982/original/diamondtickmark.png?1478160308" alt="">
          </td>
        </tr>
        <tr>
          <td class="first_column">Family VIP meet & Greet on commercial flights</td>
          <td></td>
          <td></td>
          <td>
            <img src="http://d3tfanr7troppj.cloudfront.net/static_files/images/000/000/982/original/diamondtickmark.png?1478160308" alt="">
          </td>
        </tr>
        <tr>
          <td class="first_column">No Empty Leg Costs</td>
          <td></td>
          <td></td>
          <td>
            <img src="http://d3tfanr7troppj.cloudfront.net/static_files/images/000/000/982/original/diamondtickmark.png?1478160308" alt="">
          </td>
        </tr>
        <tr>
          <td class="first_column">Flat rate per hour cost (No handling charges, crew accommodation and other add on costs)</td>
          <td></td>
          <td></td>
          <td>
            <img src="http://d3tfanr7troppj.cloudfront.net/static_files/images/000/000/982/original/diamondtickmark.png?1478160308" alt="">
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
<!--membership table finish-->