<!-- membership plan start-->
<div class="section-heading search_heading">
  <div class="container">
    <img class="img-responsive" src="http://d3tfanr7troppj.cloudfront.net/static_files/images/000/000/945/original/membership.png?1478000051" alt="">
  </div>
</div>
<div class="membership_main_con">
  <div class="container">
    <div class="row">
      <div class="col-sm-4">
        <a class="membership_box gold_color" href="/membership_gold">
          Gold Membership Plan
        </a>
      </div>
      <div class="col-sm-4">
        <a class="membership_box platinum_color" href="/membership_platinum">
          Platinum Membership Plan
        </a>
      </div>
      <div class="col-sm-4">
        <a class="membership_box diamond_color" href="/membership_diamond">
          Diamond Membership Plan
        </a>
      </div>
    </div>
  </div>
</div>
<!-- membership plan finish-->

<!--membership table start-->
<div class="membership_table_con">
  <div class="container">
    <div class="text-center">
      <a href="javascript:void(0)" class="membership_btn" ng-hide="ctrl.active_table" ng-click="ctrl.active_table =! ctrl.active_table">Membership Tiers</a>
    </div>
    <div ng-show="ctrl.active_table" class="membership_plan_table">
      <table class="table table-striped">
        <thead>
        <tr class="info">
          <th>Privileges</th>
          <th>Gold</th>
          <th>Platinum</th>
          <th>Diamond</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td>Priority Scheduling</td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td>24/7 Luxury Travel Concierge relationship manager</td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td>Flexibility to choose any aircraft </td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td>Whatever you need we will make it happen</td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td>VIP meet & greet on commercial flights</td>
          <td>5 Per month</td>
          <td>Unlimited</td>
          <td>Unlimited</td>
        </tr>
        <tr>
          <td>Free Seats on ferry Flights</td>
          <td>5 per month</td>
          <td>10 per month</td>
          <td>Unlimited</td>
        </tr>
        <tr>
          <td>Luxury car inner airport transfer</td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td>Confirmed flight within 36 hours</td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td>Free Flight every month</td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td>Family VIP meet & Greet on commercial flights</td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td>No Empty Leg Costs</td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td>Flat rate per hour cost (No handling charges, crew accommodation and other add on costs)</td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
<!--membership table finish-->