<div class="section-heading search_heading">
  <div class="container">
    <img class="img-responsive" src="http://d3tfanr7troppj.cloudfront.net/static_files/images/000/000/945/original/membership.png?1478000051" alt="">
  </div>
</div>
<div class="membership_plan_main">
  <div class="container">
    <div class="row">
      <div class="col-sm-4">
        <img src="http://d3tfanr7troppj.cloudfront.net/static_files/images/000/000/987/original/gold.jpg?1478496870" alt="gold image" class="img-responsive" />
      </div>
      <div class="col-sm-8">
        <ul class="membership_point_con">
          <li style="padding-top: 0;">Priority Scheduling</li>
          <li>24/7 Luxury Travel Concierge relationship manager</li>
          <li>Flexibility to choose any aircraft</li>
          <li>Whatever you need we will make it happen</li>
          <li>Unlimited VIP meet & greet on commercial flights</li>
          <li>10 Free Seats on ferry Flights</li>
          <li>Luxury car inner airport transfer</li>
          <li>Confirmed flight within 36 hours</li>
          <li>Free Flight every month</li>
        </ul>
      </div>
    </div>
  </div>
</div>