<div class="section-heading search_heading">
  <div class="container">
    <img class="img-responsive" src="http://d3tfanr7troppj.cloudfront.net/static_files/images/000/000/945/original/membership.png?1478000051" alt="">
  </div>
</div>
<div class="membership_plan_main">
  <div class="container">
    <div class="top-membership-con">
      <div class="row">
        <div class="col-xs-12">
          <h1 class="heading">
            Diamond Mambership
          </h1>
        </div>
        <div class="col-sm-7">
          <p>
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
          </p>
          <p>
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
          </p>
        </div>
        <div class="col-sm-5">
          <img src="http://d3tfanr7troppj.cloudfront.net/static_files/images/000/000/987/original/gold.jpg?1478496870" alt="Diamond image" class="img-responsive" />
        </div>
      </div>
    </div>
    <div class="bottom-membership-con">
      <div class="row">
        <div class="col-xs-12">
          <h2 class="sub_heaing">Benefits</h2>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-2 col-xs-12">
          <img src="http://d3tfanr7troppj.cloudfront.net/static_files/images/000/000/987/original/gold.jpg?1478496870" alt="gold image" class="img-responsive" />
        </div>
        <div class="col-sm-8 col-xs-12">
          <h3>Very Superior Pricing</h3>
          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
        </div>
        <div class="col-sm-8 col-xs-12">
          <ul class="membership_point_con">
            <li style="padding-top: 0;">Priority Scheduling</li>
            <li>24/7 Luxury Travel Concierge relationship manager</li>
            <li>Flexibility to choose any aircraft</li>
            <li>Whatever you need we will make it happen</li>
            <li>Unlimited VIP meet & greet on commercial flights</li>
            <li>Flexibility to choose any aircraft </li>
            <li>Whatever you need we will make it happen</li>
            <li>Unlimited VIP meet & greet on commercial flights </li>
            <li>Unlimited  Free Seats on ferry Flights</li>
            <li>Luxury car inner airport transfer</li>
            <li>Confirmed flight within 36 hours</li>
            <li>Free Flight every month</li>
            <li>Family VIP meet & Greet on commercial flights</li>
            <li>No Empty Leg Costs</li>
            <li>Flat rate per hour cost (No handling charges, crew accommodation and other add on costs)</li>
          </ul>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-2 col-xs-12">
          <img src="http://d3tfanr7troppj.cloudfront.net/static_files/images/000/000/987/original/gold.jpg?1478496870" alt="gold image" class="img-responsive" />
        </div>
        <div class="col-sm-8 col-xs-12">
          <h3>Very Superior Pricing</h3>
          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
        </div>
      </div>
    </div>
  </div>
</div>