<!-- membership plan start-->
<div class="section-heading search_heading">
  <div class="container">
    <img class="img-responsive" src="http://d3tfanr7troppj.cloudfront.net/static_files/images/000/000/945/original/membership.png?1478000051" alt="">
  </div>
</div>
<div class="membership_code_con text-center">
  <div class="container">
    <form method="get" class="code_form">
      <p>
        <input type="text" placeholder="Enter Code" class="txt_code">
      </p>
      <p>
        <input type="submit" value="Enter" class="btn_code_enter" ng-click="ctrl.redirectToPlans()">
      </p>
    </form>
  </div>
</div>
<!-- membership plan finish-->