<div class="section-heading search_heading">
  <div class="container">
    <img class="img-responsive" src="http://d3tfanr7troppj.cloudfront.net/static_files/images/000/000/801/original/fleet_header.png?1474449999" alt="">
  </div>
</div>
<div class="fleet_main_con">
  <div class="top_head">
    <div class="container">
      <img class="img-responsive" src="http://d3tfanr7troppj.cloudfront.net/static_files/images/000/000/818/original/subheader_fleet.png?1474619568" alt="">
    </div>
  </div>
  <div class="container">
    <div class="fleet_result_main">
      <h2 class="heading">
        {{ctrl.aircraft_category.name}}
      </h2>
      <!-- repeat from start-->
      <div class="" ng-repeat="aircraft in ctrl.aircrafts">
        <div class="fleet_result">
          <div class="col-md-8 col-sm-8 col-xs-12 search_img">
            <div class="img-hide">
              <!--<img src="https://d3hdtzk3ohuh17.cloudfront.net/aircrafts/images/000/000/262/original/1_copy.jpg?1469012216" alt="">-->
              <img ng-src="{{aircraft.exterior_image}}" alt="">
              <span class="icon-toogle hidden-lg hidden-md hidden-sm" ng-init="ctrl.doMediaQuery(result)" ng-click="aircraft.more_detail_active =! aircraft.more_detail_active">More Detail</span>
            </div>
            <div class="icon-con">
                <span class="icons-main">
                  <img src="http://d3tfanr7troppj.cloudfront.net/static_files/images/000/000/677/original/with_baggage.png?1471853923" uib-tooltip="Baggage" alt="">
                  <span class="icon-detail">{{aircraft.baggage_capacity_in_kg}} kgs</span>
                </span>
                <span class="icons-main">
                  <img src="http://d3tfanr7troppj.cloudfront.net/static_files/images/000/000/617/original/with_crew.png?1471346833" uib-tooltip="Crew" alt=""> <span class="icon-detail">{{aircraft.crew}}</span>
                </span>
                <span class="icons-main">
                  <img src="http://d3tfanr7troppj.cloudfront.net/static_files/images/000/000/679/original/with_pax.png?1471853991" uib-tooltip="Seats" alt="" /> <span class="icon-detail">{{aircraft.seating_capacity}}</span>
                </span>
                <span class="icons-main">
                  <img src="" ng-src="{{aircraft.wifi ? 'http://d3tfanr7troppj.cloudfront.net/static_files/images/000/000/422/original/wifi-1.png?1468910930' : 'http://d3tfanr7troppj.cloudfront.net/static_files/images/000/000/763/original/without_wifi.png?1472815403'}}" uib-tooltip="Wifi: {{aircraft.wifi ? 'Available' : 'Not-Available'}}" alt="">
                </span>
                <span class="icons-main">
                  <img src="http://d3tfanr7troppj.cloudfront.net/static_files/images/000/000/418/original/height-1.png?1468910855" uib-tooltip="Height"alt="" />
                   <span class="icon-detail">{{aircraft.cabin_height_in_meters}} ft</span>
                </span>
                <span class="icons-main">
                  <img src="" ng-src="{{aircraft.phone ? 'http://d3tfanr7troppj.cloudfront.net/static_files/images/000/000/419/original/phone-1.png?1468910872' : 'http://d3tfanr7troppj.cloudfront.net/static_files/images/000/000/762/original/without_phone.png?1472815384'}}" uib-tooltip="Phone: {{aircraft.phone ? 'Available' : 'Not-Available'}}" alt="">
                </span>
                <span class="icons-main">
                  <img src="" ng-src="{{aircraft.flight_attendant ? 'http://d3tfanr7troppj.cloudfront.net/static_files/images/000/000/616/original/with_cabincrew.png?1471346808' : 'http://d3tfanr7troppj.cloudfront.net/static_files/images/000/000/761/original/without_cabincrew.png?1472815358'}}" uib-tooltip="Flight Attendant: {{aircraft.flight_attendant ? 'Available' : 'Not-Available'}}" alt="">
                </span>
                <span class="icons-main">
                  <img src="" ng-src="{{aircraft.number_of_toilets ? 'http://d3tfanr7troppj.cloudfront.net/static_files/images/000/000/624/original/with_labotry.png?1471351181' : 'http://d3tfanr7troppj.cloudfront.net/static_files/images/000/000/764/original/witrhout_lav.png?1472815424'}}" uib-tooltip="Lavatory{{aircraft.number_of_toilets ? '' : ': Not-Available'}}" alt="">
                  <span class="icon-detail">{{aircraft.number_of_toilets < 1 ? '' : aircraft.number_of_toilets}}</span>
                </span>
                <span class="icons-main no-border">
                  <img src="http://d3tfanr7troppj.cloudfront.net/static_files/images/000/000/678/original/with_speed.png?1471853967" uib-tooltip="Speed" alt=""> <span class="icon-detail">{{aircraft.cruise_speed_in_nm_per_hour}} nm/hr</span>
                </span>
              <div class="clearfix"></div>
            </div>
          </div>
          <div class="col-md-4 col-sm-4 col-xs-12 search-ryt-con">
            <div class="img-bg">
              <h3 class="aircraft-type">{{aircraft.aircraft_type.name}}</h3>
              <p class="aircraft-content">
                {{aircraft.one_liner}}
                <!--The Cessna Citation/M2/CJ series are American turbofan-powered light corporate jets built by the Cessna Aircraft Company in Wichita, Kansas. The Citation brand of business jets encompasses seven distinct 'families' of aircraft.-->
              </p>
              <div class="detail-link-con text-center">
                <a ng-init="aircraft.detail_active = false" href="javascript:void(0)" ng-click="aircraft.detail_active =! aircraft.detail_active">Details</a>
              </div>
            </div>
          </div>
          <div class="clearfix"></div>
        </div>
        <!-- detail start-->
        <div ng-show="aircraft.detail_active" class="fleet-toogle-main">
          <div class="arrow-up"></div>
          <div class="white-arrow-up"></div>
          <i class="fa fa-times-circle-o cross-icon" ng-click="aircraft.detail_active =! aircraft.detail_active"></i>
          <div class="img-content-con">
            <div class="col-md-4 col-sm-6 col-xs-12">
              <div class="aircraft-img text-center">
                <img  ng-src="{{aircraft.interior_image}}" alt="" class="img-responsive">
              </div>
            </div>
            <div class="col-md-8 col-sm-6 col-xs-12">
              <div class="aircraft-text">
                <p>{{aircraft.description}}</p>
              </div>
            </div>
            <div class="clearfix"></div>
          </div>
          <div class="interior_map_con">
            <div class="col-md-5 col-sm-6 col-xs-12">
              <div class="interior_aircraft_con">
                <h2>Specifications</h2>
                <div class="row">
                  <div class="col-xs-5 interior_aircraft">
                    <img ng-src="{{aircraft.specification_image}}" alt="" class="img-responsive">
                    <!--<img src="http://d3tfanr7troppj.cloudfront.net/static_files/images/000/000/816/original/Cessna-Citation-CJ2_int.png?1474545741" alt="" class="img-responsive">-->
                  </div>
                  <div class="col-xs-7 interior_specification">
                    <div class="spec">
                      <h3>Overall Cabin Length</h3>
                      <p>{{aircraft.cabin_length_in_meters}} meters</p>
                    </div>
                    <div class="spec">
                      <h3>Cabin Height</h3>
                      <p>{{aircraft.cabin_height_in_meters}} meters</p>
                    </div>
                    <div class="spec">
                      <h3>Cabin Width</h3>
                      <p>{{aircraft.cabin_width_in_meters}} meters</p>
                    </div>
                    <div class="spec">
                      <h3>Baggage Volume</h3>
                      <p>{{aircraft.baggage_capacity_in_kg}} kgs</p>
                    </div>
                    <div class="spec">
                      <h3>Passenger Capacity</h3>
                      <p>{{aircraft.seating_capacity}}</p>
                    </div>
                    <div class="spec">
                      <h3>Lavatory</h3>
                      <p>{{aircraft.number_of_toilets < 1 ? 'NA' : aircraft.number_of_toilets}}</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-7 col-sm-6 col-xs-12">
              <div class="range_map_con">
                <h2>Range Map</h2>
                <img ng-src="{{aircraft.range_map_image}}" alt="" class="img-responsive">
                <div class="row">
                  <div class="col-md-5 col-sm-6 col-xs-4">
                    <h3>Range in Distance</h3>
                    <p>{{aircraft.flying_range_in_nm}} nm</p>
                  </div>
                  <!--<div class="col-md-5 col-sm-6 col-xs-4">-->
                    <!--<h3>Range in Hours</h3>-->
                    <!--<p>5.75hrs</p>-->
                  <!--</div>-->
                  <div class="col-md-5 col-sm-6 col-xs-4">
                    <h3>Crew</h3>
                    <p>{{aircraft.crew}}</p>
                  </div>
                  <div class="col-md-2 col-sm-6 col-xs-4">
                    <h3>Speed</h3>
                    <p>{{aircraft.cruise_speed_in_nm_per_hour}} nm/hr</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="clearfix"></div>
          </div>
        </div>
        <!-- detail finish-->
      </div>
      <!-- repeat from finish-->
      <!--<div class="">-->
        <!--<div class="fleet_result">-->
          <!--<div class="col-md-8 col-sm-8 col-xs-12 search_img">-->
            <!--<div class="img-hide">-->
              <!--<img src="https://d3hdtzk3ohuh17.cloudfront.net/aircrafts/images/000/000/262/original/1_copy.jpg?1469012216" alt="">-->
              <!--<span class="icon-toogle hidden-lg hidden-md hidden-sm" ng-init="ctrl.doMediaQuery(result)" ng-click="aircraft.more_detail_active =! aircraft.more_detail_active">More Detail</span>-->
            <!--</div>-->
            <!--<div class="icon-con">-->
                <!--<span class="icons-main">-->
                  <!--<img src="http://d3tfanr7troppj.cloudfront.net/static_files/images/000/000/677/original/with_baggage.png?1471853923" uib-tooltip="Baggage" alt="">-->
                  <!--<span class="icon-detail">200 kgs</span>-->
                <!--</span>-->
                <!--<span class="icons-main">-->
                  <!--<img src="http://d3tfanr7troppj.cloudfront.net/static_files/images/000/000/617/original/with_crew.png?1471346833" uib-tooltip="Crew" alt=""> <span class="icon-detail">2</span>-->
                <!--</span>-->
                <!--<span class="icons-main">-->
                  <!--<img src="http://d3tfanr7troppj.cloudfront.net/static_files/images/000/000/679/original/with_pax.png?1471853991" uib-tooltip="Seats" alt="" /> <span class="icon-detail">5</span>-->
                <!--</span>-->
                <!--<span class="icons-main">-->
                  <!--<img src="" ng-src="{{aircraft.wifi ? 'http://d3tfanr7troppj.cloudfront.net/static_files/images/000/000/422/original/wifi-1.png?1468910930' : 'http://d3tfanr7troppj.cloudfront.net/static_files/images/000/000/763/original/without_wifi.png?1472815403'}}" uib-tooltip="Wifi: {{aircraft.wifi ? 'Available' : 'Not-Available'}}" alt="">-->
                <!--</span>-->
                <!--<span class="icons-main">-->
                  <!--<img src="http://d3tfanr7troppj.cloudfront.net/static_files/images/000/000/418/original/height-1.png?1468910855" uib-tooltip="Height"alt="" />-->
                   <!--<span class="icon-detail">4.76 ft</span>-->
                <!--</span>-->
                <!--<span class="icons-main">-->
                  <!--<img src="" ng-src="{{aircraft.phone ? 'http://d3tfanr7troppj.cloudfront.net/static_files/images/000/000/419/original/phone-1.png?1468910872' : 'http://d3tfanr7troppj.cloudfront.net/static_files/images/000/000/762/original/without_phone.png?1472815384'}}" uib-tooltip="Phone: {{aircraft.phone ? 'Available' : 'Not-Available'}}" alt="">-->
                <!--</span>-->
                <!--<span class="icons-main">-->
                  <!--<img src="" ng-src="{{aircraft.flight_attendant ? 'http://d3tfanr7troppj.cloudfront.net/static_files/images/000/000/616/original/with_cabincrew.png?1471346808' : 'http://d3tfanr7troppj.cloudfront.net/static_files/images/000/000/761/original/without_cabincrew.png?1472815358'}}" uib-tooltip="Flight Attendant: {{aircraft.flight_attendant ? 'Available' : 'Not-Available'}}" alt="">-->
                <!--</span>-->
                <!--<span class="icons-main">-->
                  <!--<img src="" ng-src="{{aircraft.number_of_toilets ? 'http://d3tfanr7troppj.cloudfront.net/static_files/images/000/000/624/original/with_labotry.png?1471351181' : 'http://d3tfanr7troppj.cloudfront.net/static_files/images/000/000/764/original/witrhout_lav.png?1472815424'}}" uib-tooltip="Lavatory{{aircraft.number_of_toilets ? '' : ': Not-Available'}}" alt="">-->
                  <!--<span class="icon-detail">2</span>-->
                <!--</span>-->
                <!--<span class="icons-main no-border">-->
                  <!--<img src="http://d3tfanr7troppj.cloudfront.net/static_files/images/000/000/678/original/with_speed.png?1471853967" uib-tooltip="Speed" alt=""> <span class="icon-detail">210 nm/hr</span>-->
                <!--</span>-->
              <!--<div class="clearfix"></div>-->
            <!--</div>-->
          <!--</div>-->
          <!--<div class="col-md-4 col-sm-4 col-xs-12 search-ryt-con">-->
            <!--<div class="img-bg">-->
              <!--<h3 class="aircraft-type">Cessna Citation CJ2</h3>-->
              <!--<p class="aircraft-content">The Cessna Citation/M2/CJ series are American turbofan-powered light corporate jets built by the Cessna Aircraft Company in Wichita, Kansas. The Citation brand of business jets encompasses seven distinct 'families' of aircraft.</p>-->
              <!--<div class="detail-link-con text-center">-->
                <!--<a href="javascript:void(0)">Details</a>-->
              <!--</div>-->
            <!--</div>-->
          <!--</div>-->
          <!--<div class="clearfix"></div>-->
        <!--</div>-->
      <!--</div>-->
    </div>
  </div>
</div>