<!-- terms banner section start -->
<div class="inner-banner privacy-banner">
	<div class="heading">
		<h1>JetSetGo – Privacy Policy </h1>
	</div>
</div>
<!-- terms banner section finish -->

<div class="privacy-content">
	<div class="col-sm-12 col-sm-12">
	<p>
		Welcome to JetSetGo’s Privacy Policy (“Policy”). Jetsetgo values your privacy and therefore, has developed this Privacy Policy to aid you better understand how your information shall be collected and how it shall be used, disclosed and protected.
	</p>
	<p>
		This Privacy Policy was last updated: April 24th, 2015.
	</p>
	<p>
		This Privacy Policy is effective as of: April 24th. 2015.
	</p>
	<p>
		This Policy applies to you if you are a Customer, an Operator or even merely a visitor to JetSetGo’s aircraft charter technology platform (“JetSetGo Platform”) made available at <a href="www.jetsetgo.in">www.jetsetgo.in</a> (“JetSetGo Website”). Customers, Operators and all other visitors to the JetSetGo Platform and/or JetSetGo Website are referred to in this policy as "you" or "JetSetGo Visitor". This Policy applies regardless of whether you are using a computer, a mobile device or any other device to visit JetSetGo Platform and/or JetSetGo Website.
	</p>
	<p>
		If you have any questions or comments about the Privacy Policy, please contact us at <a href="mailto:info@jetsetgo.in">info@jetsetgo.in</a>. This Policy is incorporated into and is subject to the JetSetGo Terms of Use, which can be accessed at <a href="/terms_of_use">Terms of Use Page</a>.
	</p>
	<p>
		Use and Acceptance: By using JetSetGo Platform and/or JetSetGo Website, you agree to this Privacy Policy. If you do not accept this Privacy Policy, you must not use JetSetGo Platform and/or JetSetGo Website.
	</p>
	<h3>
		A. COLLECTION OF YOUR PERSONAL INFORMATION
	</h3>
	<h2>
		1. Collection of Personal Information From You
	</h2>
	<p>
		JetSetGo considers "Personal Information" to include information that alone or when in combination with other information may be used to readily identify or contact you, such as: name, address, email address, or phone number. JetSetGo does not consider Personal Information to include information that has been anonymized so that it does not allow a third party to easily identify a specific individual.
	</p>
	<p>
		<strong><i>Customers:</i></strong> While searching and reviewing aircrafts available for charter, along with indicative trip costs is available on the JetSetGo Platform and/or JetSetGo Website, prior to initiating contact with the Operators to follow up, confirm costs, enquire etc., the Customers are required to create a JSG Account. During the JSG Account registration process, we will collect Personal Information such as your name, nationality, mailing address, telephone, email address and other Personal Information which you may be required to provide. We may also collect information when you engage with Operators on the JetSetGo Platform and/or JetSetGo Website. We may also collect Personal Information that you post on social networking portals as well any comments/discussions you may provide in your feedback on the JetSetGo Platform and/or JetSetGo Website. 
	</p>
	<p>
		<strong><i>Operators:</i></strong> If you are an Operator and would like to post any information about your aircrafts and offer your services, you will be required to register for a JSG Account, prior to doing so. During the JSG Account registration process, we will collect your Personal Information such as your business name, telephone number, address, details in relation to your fleet, travel preferences, a description of your services, email address. In addition, you may be required to provide other content or information about your fleet, including photographs and videos. We also may collect payment information, such as credit card information, from you. It is essential to note that information in relation to your fleet will be partially or completely accessible to all visitors using the JetSetGo Platform and/or JetSetGo Website either directly or by submitting a request for a charter. We may also collect information when you engage with Customers on the JetSetGo Platform and/or JetSetGo Website.
	</p>
	<h2>
		2. Collection of Personal Information From Social Networking Sites
	</h2>
	<p>
		In the event you access the JetSetGo Platform and/or JetSetGo Website through social networking websites such as Facebook etc., you will be required to enter your Facebook login details, at which stage you will be required to grant us permission to access and collect your basic Facebook information such as name, profile picture, gender, networks, user IDs, list of friends and any other information you have set to public on your Facebook account. In the event such information is not public, but you permit us to access this information, we shall have access to the same. This information is stored along with other information pertaining to you.
	</p>
	<p>
		Do note that we do not control the privacy policies of third party sites and have no say in how such sites may use or disclose your information. We urge you to consult the privacy policies of such third party sites.
	</p>
	<h2>
		3. Collection of Automatic Information, Use of Cookies and Other Tracking Devices
	</h2>
	<p>
		We and our third party service providers log web browser information (e.g., Internet Protocol addresses, browser types or operating system, your domain name, the URL of the previous website you visited, the type of device that you use etc.) and other usage information from JetSetGo Platform and/or JetSetGo Website such as page view tallies, time spent on each page, geographic location information, page browsing information, subject matter browsing information etc. If the JetSetGo Visitor is using a mobile or other portable device to visit or access JetSetGo Platform and/or JetSetGo Website, we may collect hardware information related to the device used by the JetSetGo Visitor. We use this information (including the information collected by our third party service providers) for Website analytics (including to determine which portions of our Website are used most frequently, what our users like/do not like), to assist us in determining relevant advertising (both on and off our Website), to evaluate the success of our advertising campaigns, and as otherwise described in this policy.
	</p>
	<p>
		JetSetGo uses cookies and other similar technologies such as pixel tags (i.e. web beacons, web bugs etc.) to collect and store information that is generated automatically as you use the services, including your preferences and anonymous usage statistics. Browsers are usually set to accept cookies. Cookies allow web applications to respond to you as an individual, tailoring its operations to your needs likes and dislikes by gathering and remembering information about your preferences. Some of these cookies may be connected to third-party companies or websites. The terms of use of such cookies are governed by this Policy and the privacy policy of the relevant third party company or website. However, if you prefer not to receive cookies, you typically have the option of setting your browser to refuse cookies. If a browser is set to refuse cookies, it is possible that some of the functionality offered by JetSetGo Platform and/or JetSetGo Website will not be available or will not work as effectively for you.
	</p>
	<h3>
		B. USAGE OF THE INFORMATION WE COLLECT
	</h3>
	<p>
		The Personal Information collected as well as by aggregating the information collected about your usage of the JetSetGo Platform and/or JetSetGo Website, enables us to better understand our users’ needs and provide you with a better experience. We may use your information in any of the following methods:
	</p>
	<ul>
		<li>
			Improve and maintain the JetSetGo Platform and/or JetSetGo Website on the basis of the items searched for, pages most regularly visited, etc.
		</li>
		<li>
			For our internal market research purposes
		</li>
		<li>
			For promotion of services to appropriate target audiences and other research and analytical purposes dependent on demographic information
		</li>
		<li>
			Promotion emails to your email address to intimate you about discounted flights, new offers, etc. which we feel you may be interested in
		</li>
		<li>
			To contact you to deliver certain services or information you have requested;
		</li>
		<li>
			Customer support
		</li>
		<li>
			Internal record keeping purposes
		</li>
		<li>
			Process billing and payment which will include sharing your information with third party payment gateway services
		</li>
		<li>
			To resolve disputes, to protect ourselves and other users of our Website and Services, and to enforce our Terms of Use;
		</li>
		<li>
			Compare personal information collected through the JetSetGo Platform and/or JetSetGo Website to verify its accuracy with personal information collected from third parties
		</li>
	</ul>
	<p>
		From time to time, JetSetGo may use personal information for new and unanticipated uses not previously disclosed in our Policy. If our information practices change regarding information previously collected, JetSetGo shall make reasonable efforts to provide notice and obtain consent of any such uses as may be required by law.
	</p>
	<h3>
		C. HOW DO WE PROTECT YOUR INFORMATION
	</h3>
	<p>
		JetSetGo employs procedural and technological security measures, which are reasonably designed to help protect your Personal Information from loss, unauthorized access, misuse, alteration or disclosure. JetSetGo may use encryption, firewalls, passwords, and physical security measures to help protect your Personal Information.
	</p>
	<p>
		That said, it is important to note that no security measure is 100% secure and we do not promise and cannot guarantee the same. While we shall take reasonable steps to protect your Personal Information, you should not expect that your Personal Information or private communications cannot be collected and used by others.
	</p>
	<p>
		We urge you to take steps and ensuring that no one has unauthorized access to your password, phone, and computer by, among other things, signing off after using a shared computer, choosing a robust password that nobody else knows or can easily guess, and keeping your log-in and password private.
	</p>
	<h3>
		D. DISCLOSURE
	</h3>
	<p>
		We may share the information that we collect about you, including your Personal Information, as follows:
	</p>
	<ul>
		<li>
			In the event JetSetGo reasonably believes that disclosure is necessary in order to comply with a legal process (such as a court order, search warrant, etc.) or other legal requirement of any governmental authority,
		</li>
		<li>
			Disclosure would potentially mitigate our liability in an actual or potential lawsuit,
		</li>
		<li>
			Reasonably necessary to enforce this Privacy Policy, our Terms of Use etc.
		</li>
		<li>
			Disclosure is intended to help investigate or prevent unauthorized transactions or other illegal activities,
		</li>
		<li>
			Necessary or appropriate to protect our rights or property, or the rights or property of any person or entity.
		</li>
		<li>
			In the event there is a change of control, bankruptcy, merger etc. of JetSetGo or applicable law mandates it.
		</li>
		<li>
			At your specific request to disclose the same.
		</li>
	</ul>
	<p>
		We may also contract with various third parties for the provision and maintenance of the JetSetGo Platform and/or JetSetGo Website, services and our business operations, which may require us to share your personal information and data generated. For example, personal information will be shared with third party payment gateway service provider. It is however made clear that such third parties shall not have the right to use your personal information for any purpose other than for which such information has been provided to them.
	</p>
	<p>
		In the event you are an Operator than your offer in relation to your aircraft and other Personal Information (other than payment information) shall be available to other users of the JetSetGo Platform and/or JetSetGo Website. In the event you are a Customer, then details in relation to your request will necessarily have to be shared with the Operators. 
	</p>
	<h3>
		E. LINKS TO EXTERNAL WEBSITES
	</h3>
	<p>
		The JetSetGo Platform and/or JetSetGo Website may contain links to other websites or resources over which JetSetGo does not have any control. Such links do not constitute an endorsement by JetSetGo of those external websites. You acknowledge that JetSetGo is providing these links to you only as a convenience, and further agree that JetSetGo is not responsible for the content of such external websites. We are not responsible for the protection and privacy of any information which you provide while visiting such external websites and such sites are not governed by this Policy. Your use of any external website is subject to the terms of use and privacy policy located on the links to external website.
	</p>
	<h3>
		F. THIRD-PARTY AD NETWORKS
	</h3>
	<p>
		We participate in third party ad networks that may display advertisements on other websites based on your visits to our JetSetGo Platform and/or JetSetGo Website as well as other websites. This enables us and these third parties to target advertisements by displaying ads for products and services in which you might be interested. Third party ad network providers, advertisers, sponsors and/or traffic measurement services may use cookies, JavaScript, web beacons (including clear GIFs), Flash LSOs and other technologies to measure the effectiveness of their ads and to personalize advertising content to you. These third party cookies and other technologies are governed by each third party's specific privacy policy, and not by this Policy. We may provide these third-party advertisers with information about your usage of our Site and our services, as well as aggregate or non-personally identifiable information about visitors to our Site and users of our service. 
	</p>
	<h3>
		G. USING INFORMATION FROM JETSETGO
	</h3>
	<p>
		JetSetGo Platform and/or JetSetGo Website facilitates sharing of your Personal Information with others in order to negotiate, provide, and use the services. If you agree to contract for a service with another user, you may need to reveal your name, email, phone number, personal address and other Personal Information to that user so that the service may be performed. Please respect the privacy of others. You agree to use the information of other users solely for the following purposes: (a) JetSetGo-transaction-related purposes; and (b) using services offered through the JetSetGo Platform and/or JetSetGo Website.
	</p>
	<h3>
		H. USER GENERATED CONTENT
	</h3>
	<p>
		We invite you to post content on our JetSetGo Platform and/or JetSetGo Website, including your comments, feedback, pictures, and any other information that you would like to be available on our JetSetGo Platform and/or JetSetGo Website. If you post content to our JetSetGo Platform and/or JetSetGo Website, all of the information that you post will be available to all visitors to our JetSetGo Platform and/or JetSetGo Website. If you post your own content on our JetSetGo Platform and/or JetSetGo Website or Services, your posting may become public and JetSetGo cannot prevent such information from being used in a manner that may violate this Policy, the law, or your personal privacy.
	</p>
	<h3>
		I. PRIVACY POLICY UPDATES
	</h3>
	<p>
		THIS POLICY IS CURRENT AS OF THE EFFECTIVE DATE SET FORTH ABOVE. JETSETGO MAY, IN ITS SOLE AND ABSOLUTE DISCRETION, CHANGE THIS POLICY FROM TIME TO TIME BY UPDATING THIS DOCUMENT. JETSETGO WILL POST ITS UPDATED POLICY ON THE WEBSITE ON THIS PAGE. JETSETGO ENCOURAGES YOU TO REVIEW THIS POLICY REGULARLY FOR ANY CHANGES. YOUR CONTINUED USE OF THE JETSETGO PLATFORM AND/OR JETSETGO WEBSITE AND/OR CONTINUED PROVISION OF PERSONAL INFORMATION TO US WILL BE SUBJECT TO THE TERMS OF THE THEN-CURRENT POLICY.
	</p>
	</div>
</div>