<div ng-controller="ProfileController as ctrl">
  <!-- Profile  page start -->
  <br><br><br><br><br><br>
  <div class="container">

    <div class="col-sm-4">
      <ul>
        <li><a ng-href="profile">My Profile</a></li>
        <li><a href="booked_jets">Booked jets</a></li>
        <li><a href="upcoming_journeys">Upcoming journeys</a></li>
        <li><a href="past_journeys">Past journeys</a></li>
        <li><a href="enquired_jets">Enquired jets</a></li>
        <li><a href="empty_legs_offered">Empty legs offered</a></li>
        <li><a href="/quotes">Trip Quotes</a></li>
      </ul>
    </div>
    <div class="col-sm-8">
      <div class="col-sm-12">
        <div class="profile-main-con">
          <div class="row">
            <div class="col-md-3">
              <div class="profile-img-con">
                <div class="img-con">
                  <!--ng-show="ctrl.currentUser"-->
                  <img src="" ng-src="{{ctrl.currentUser.image}}" alt="" />
                </div>
                <div class="change-pic-con">
                  <a href="javascript:void(0)" ng-file-select accept=".jpg,.png" ng-file-change="ctrl.uploadUserImage($files, ctrl.currentUser)">
                    <i class="fa fa-picture-o"></i> Add/Edit Image
                  </a>
                </div>
              </div>
            </div>
            <div class="col-md-9">
              <div class="profile-content">
                <h2 class="name">{{ctrl.currentUser.full_name}}</h2>
                <div class="text-main">
                  <div class="row">
                    <p class="col-sm-4 profile-text">Email :</p>
                    <p class="col-sm-8 profile-text-detail">{{ctrl.currentUser.email}}</p>
                  </div>
                </div>
                <div class="text-main">
                  <div class="row">
                    <p class="col-sm-4 profile-text">Phone :</p>
                    <p class="col-sm-8 profile-text-detail" ng-hide="ctrl.upd_profile">{{ctrl.currentUser.phone}} <i class="fa fa-edit" ng-click="ctrl.upd_profile = !ctrl.upd_profile"></i></p>
                    <p class="col-sm-8 profile-text-detail" ng-show="ctrl.upd_profile" >
                      <input ng-show="ctrl.upd_profile" type="text" ng-model="ctrl.currentUser.phone">
                      <i class="fa fa-check" ng-click="ctrl.upd_profile = !ctrl.upd_profile; ctrl.btn_show = true" ng-show="ctrl.upd_profile"></i>
                    </p>
                  </div>
                </div>
                <div class="text-main" ng-show="ctrl.currentUser.organisation.name">
                  <div class="row">
                    <p class="col-sm-4 profile-text">Organisation :</p>
                    <p class="col-sm-8 profile-text-detail">{{ctrl.currentUser.organisation.name}}</p>
                  </div>
                </div>
                <div class="text-main" ng-show="ctrl.currentUser.designation">
                  <div class="row">
                    <p class="col-sm-4 profile-text">Designation :</p>
                    <p class="col-sm-8 profile-text-detail txt-capitalize">{{ctrl.currentUser.designation}}</p>
                  </div>
                </div>
                <a href="" ng-hide="ctrl.active_pwd" ng-click="ctrl.active_pwd = true">change password?</a>

                <div class="text-main" ng-show="ctrl.active_pwd">
                  <div class="row">
                    <p class="col-sm-4 profile-text">New Password:</p>
                    <p class="col-sm-8 profile-text-detail "><input type="text" ng-model="ctrl.password"><i class="fa fa-check" ng-click="ctrl.active_pwd = !ctrl.active_pwd; ctrl.change_password()"></i></p>
                  </div>
                </div>

                <div class="text-main" ng-show="ctrl.upd_profile || ctrl.btn_show">
                  <div class="row">
                    <p class="col-sm-12 profile-text">
                      <a href=""  ng-click="ctrl.upd_profile = !ctrl.upd_profile; ctrl.update_profile()" class="btn btn-primary">Save</a>
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    </div>
  </div>
  <!-- Profile  page finish -->
</div>