<!-- Profile  page start -->
<div class="heading text-center">
  <h1 class="heading-top-space"><span class="heading">Profile</span></h1>
</div>
<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <div class="profile-main-con">
        <div class="row">
          <div class="col-md-3">
            <div class="profile-img-con">
              <div class="img-con">
                <img src="http://d3tfanr7troppj.cloudfront.net/static_files/images/000/000/197/original/6.jpg?1462431867" alt="">
              </div>
              <div class="change-pic-con">
                <a href="">
                  <i class="fa fa-picture-o"></i> Add/Edit Image
                </a>
              </div>
            </div>
          </div>
          <div class="col-md-9">
            <div class="profile-content">
              <h2 class="name">Raj Kumari</h2>
              <div class="text-main">
                <div class="row">
                  <p class="col-sm-4 profile-text">Email :</p>
                  <p class="col-sm-8 profile-text-detail">rajkumari@gmail.com</p>
                </div>
              </div>
              <div class="text-main">
                  <div class="row">
                    <p class="col-sm-4 profile-text">Phone :</p>
                    <p class="col-sm-8 profile-text-detail">9876543210</p>
                  </div>
              </div>
              <div class="text-main">
              <div class="row">
                <p class="col-sm-4 profile-text">Organisation :</p>
                <p class="col-sm-8 profile-text-detail">My_JSG PVT LTD.</p>
              </div>
              </div>
              <div class="text-main">
              <div class="row">
                <p class="col-sm-4 profile-text">Designation :</p>
                <p class="col-sm-8 profile-text-detail">admin</p>
              </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Profile  page finish -->