<!--requested add passenger start-->
<div id="spinner" ng-show="ctrl.loading" ></div>
<div class="sell_empty_main_con detail-profile requested_add_passenger">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div class="gap"></div>
        <div class="trip-info">
          <h2 class="heading">Trip Info</h2>
          <div class="trip-main-con">
            <p class="user-name-text text-right"><b>User: </b>{{ctrl.trip.user}}</p>
            <div class="location-con" ng-repeat="activity in ctrl.trip.activities" ng-if="!activity.empty_leg" >
              <div class="row">
                <div class="departure-con col-md-offset-1 col-md-3 col-sm-3 col-xs-6">
                  <p>
                    <img width="30" class="img-responsive" src="http://d3tfanr7troppj.cloudfront.net/static_files/images/000/000/403/original/emptyleg-departure.png?1468581680" alt="">
                  </p>
                  <p class="city-name"><b>{{activity.departure_airport.city.name}}</b></p>
                  <p class="time-con">{{activity.start_at.split(',')[1]}}</p>
                  <p class="date-con">{{activity.start_at.split(',')[0]}}</p>
                </div>
                <div class="col-md-3 text-center col-sm-4 hidden-xs">
                  <img src="http://d3tfanr7troppj.cloudfront.net/static_files/images/000/000/406/original/time.png?1468581764" alt="">
                  <p><b>{{ctrl.count_flight_time(activity)}}</b></p>
                </div>
                <div class="arrival-con col-md-offset-1 col-md-3 col-sm-3 col-xs-6">
                  <p>
                    <img width="30" class="img-responsive" src="http://d3tfanr7troppj.cloudfront.net/static_files/images/000/000/400/original/arrival.png?1468581622" alt="">
                  </p>
                  <p class="city-name"><b>{{activity.arrival_airport.city.name}}</b></p>
                  <p class="time-con">{{activity.end_at.split(',')[1]}}</p>
                  <p class="date-con">{{activity.end_at.split(',')[0]}}</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div>
          <div>
            <div class="customer-detail add-passenger">
              <h3>
                Add Catering
              </h3>
              <div>
                <div class="row">
                  <div class="col-sm-12">
                    <h4>Catering:</h4>
                    <input type="text" class="txt-forward-email" ng-model="ctrl.trip.catering">
                    <a class="btn-send" href="javascript:void(0)" ng-click="ctrl.create_catering()">Save</a>
                  </div>
                </div>
              </div>
              <div ng-show="ctrl.trip.catering.length > 0">
                <div class="add-passenger-record">
                  <table class="table table-striped">
                    <tbody>
                    <tr class="body-row" style="border-top: 1px solid #f9f3e6;">
                      <td>{{ctrl.trip.catering}}</td>
                    </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>

          <div class="customer-detail add-passenger">
            <h3>
              Add Passenger
            </h3>
            <div>
              <div>
                <div class="add-passenger-record">
                  <table class="table table-striped">
                    <thead>
                    <tr class="info">
                      <th>Title</th>
                      <th>Name</th>
                      <th>Nationality</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr class="body-row" ng-repeat="passenger in ctrl.trip.passengers">
                      <td>{{passenger.title}}</td>
                      <td>{{passenger.name}}</td>
                      <td>{{passenger.nationality}}</td>
                    </tr>

                    </tbody>
                  </table>
                </div>
                <div class="row">
                  <div class="col-xs-12">
                  </div>
                  <div class="" ng-repeat="passenger_detail in ctrl.passenger_details_">
                    <div class="passenger-repeat">
                      <div class="col-md-2 col-sm-3 col-xs-12">
                        <h4>Title</h4>
                        <select  ng-model="passenger_detail.title" class="txt-textfield">
                          <option>Mr.</option>
                          <option>Ms.</option>
                          <option>Mrs.</option>
                          <option>Miss.</option>
                          <option>Dr.</option>
                          <option>Capt.</option>
                        </select>
                      </div>
                      <div class="col-md-4 col-sm-3 col-xs-12">
                        <h4>Name</h4>
                        <input type="text" class="txt-textfield" ng-model="passenger_detail.name" />
                      </div>
                      <div class="col-md-2 col-sm-3 col-xs-12">
                        <h4>Nationality</h4>
                        <input type="text" class="txt-textfield" ng-model="passenger_detail.nationality"/>
                      </div>
                      <a class="cross-btn" href="javascript:void(0)" ng-show="$index > 0" ng-click="ctrl.remove_passenger_detail($index)"><i class="fa fa-times-circle-o" aria-hidden="true"></i></a>
                      <div class="clearfix"></div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-xs-6 text-right">
                    <a href="javascript:void(0)" ng-click="ctrl.add_passenger_detail()" class="btn-detail">Add Traveller Details + </a>
                  </div>
                  <div class="col-xs-6">
                    <a href="javascipt:void(0)" ng-click="ctrl.create_passenger_detail()" class="btn-detail">Save & Continue Booking</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div
        >
      </div>
    </div>
  </div>
</div>
<!--requested add passenger finish-->