<div class="container search-container">
  <div class="col-sm-12 search-main-con">
    <div class="row">
      <div class="col-sm-8">
        <span class="heading popup-heading">Choose Your Jet</span>
      </div>
      <div class="col-sm-4"></div>
    </div>
  </div>
  <div class="col-xs-12 search-input-box">
    <div class="row" >
      <div class="col-md-10 col-sm-10 col-xs-12 modify-textfield-con" ng-repeat="search_activity in ctrl.search_activities">
        <div class="row">
          <div class="col-md-3 col-sm-6 col-xs-12 c_disable">
            <input class="form-control search-input" ng-model="ctrl.airportForId(search_activity.departure_airport_id).name" type="text" id="departure_airport" placeholder="Departure Airport">
          </div>
          <div class="col-md-3 col-sm-6 col-xs-12 c_disable">
            <input class="form-control search-input" ng-model="ctrl.airportForId(search_activity.arrival_airport_id).name" type="text" id="arrival_airport" placeholder="Arrival Airport">
          </div>
          <div class="col-md-2 col-sm-6 col-xs-12 c_disable">
            <input class="form-control search-input" ng-model="search_activity.pax" type="text" id="pax" placeholder="Pax">
          </div>
          <div class="col-md-4 col-sm-6 col-xs-12 textfield-border c_disable" >
            <div class="form-control search-input custom-calander dropdown datetimepicker-holder">
              <a role="button" data-toggle="dropdown" data-target="#" href="Javascript:void(0)"><i class="fa fa-calendar"></i> {{ctrl.formatTime(search_activity.start_at)}}</a>
              <ul class="dropdown-menu" role="menu">
                <datetimepicker
                data-on-set-time="ctrl.onSetTime(newDate, oldDate, $index)"
                data-before-render="ctrl.beforeRenderDate($view, $dates, $leftDate, $upDate, $rightDate, $index)"
                datetimepicker-config="{ dropdownSelector: '.fa-calendar' }"
                ng-model="activity.start_at">
                </datetimepicker>
              </ul>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-2 col-sm-2 col-xs-12 modify-textfield-con">
        <a class="search-btn" href="/tmp_url?search_id={{ctrl.searchId}}">Modify</a>
      </div>
      <div class="clearfix"></div>
    </div>
  </div>

  <div class="col-xs-12">
    <div class="row">
      <div class="col-sm-6 search-result-box padding-none margin-top" ng-repeat="result in ctrl.results | orderBy : 'totalCost'">
        <div class="custom-shadow">
          <div class="col-sm-12 search-img-con" style="border: 1px solid lightgray; padding: 0">
            <img style="width: 100%;height: 300px;" ng-src="{{result.aircraft.aircraft_images[0].url}}" src="" alt="">
            <div class="black-layer-con">
              <ul class="icon-box">
                <li><span class="search-icon seat-icon" uib-tooltip="Seat - {{result.aircraft.seating_capacity}}"></span></li>
                <li><span class="search-icon baggage-icon" uib-tooltip="Baggage - {{result.aircraft.baggage_capacity_in_kg}}kg"></span></li>
                <!--<li><span class="search-icon watch-icon" uib-tooltip="{{ctrl.formateTime()}}"></span></li>-->
                <li><span class="search-icon speed-icon" uib-tooltip="Speed - {{result.aircraft.cruise_speed_in_nm_per_hour}}kts"></span></li>
                <li><span class="search-icon height-icon" uib-tooltip="Cabin Height - {{result.aircraft.cabin_height_in_meters}}meter"></span></li>
                <li><span class="search-icon crew-icon" uib-tooltip="Crew - {{result.aircraft.crew}}"></span></li>
                <div class="clearfix"></div>
              </ul>
            </div>
          </div>
          <div class="col-sm-12" style="border: 1px solid lightgray; padding: 0">
            <div class="col-md-8 col-sm-8 col-xs-8">
              <h3>{{result.aircraft.aircraft_type.name}}</h3>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-4 text-right">
              <h4 class="text-gray"><i class="fa fa-rupee"></i> {{ctrl.totalTripCost(result) | currency:"":0 | indianCurrency}}</h4>
            </div>
            <div class="col-md-8 col-sm-8 col-xs-8">
              <a href="" class="no-text-decoration custom-btn" ng-click="ctrl.modalDetail(result, ctrl.tax)">Details</a>
              <a href="" class="no-text-decoration custom-btn" ng-click="ctrl.previewProForma(result)">View Proforma Invoice</a>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-4 text-right">
              <a href="" class="custom-btn no-text-decoration" ng-hide="result.enquired" ng-click="ctrl.enquire(result)">Enquire</a>
              <span ng-show="result.enquired">enquired</span>
            </div>
            <div class="clearfix"></div>
          </div>
          <div class="clearfix"></div>
        </div>
      </div>
      <div class="clearfix"></div>
    </div>
    <div ng-show="ctrl.results.length == 0">
      <h3 class="text-center">Oops! we don't have any aircrafts available matching your query.</h3>
    </div>
  </div>
</div>