<div class="container search-container">
  <div class="col-sm-12 search-main-con">
    <div class="row">
      <div class="col-sm-8">
        <span class="heading popup-heading">Choose Your Jet</span>
      </div>
      <div class="col-sm-4">
        <!--<div class="text-right" ng-show="ctrl.user">-->
          <!--<span class="pd-10"><img class="custom-img"  ng-src="{{ctrl.user.image}}" alt=""></span>-->
          <!--<span class="font-16" style="color: rgb(166,166,166)">{{ctrl.user.full_name}}</span>-->
        <!--</div>-->
      </div>
    </div>
  </div>
  <div class="col-xs-12 search-input-box">
    <div class="row" >
      <div class="col-md-10 col-sm-10 col-xs-12 modify-textfield-con" ng-repeat="search_activity in ctrl.search_activities">
        <div class="row">
          <div class="col-md-3 col-sm-6 col-xs-12 c_disable">
            <input class="form-control search-input" ng-model="ctrl.airportForId(search_activity.departure_airport_id).name" type="text" id="departure_airport" placeholder="Departure Airport">
          </div>
          <div class="col-md-3 col-sm-6 col-xs-12 c_disable">
            <input class="form-control search-input" ng-model="ctrl.airportForId(search_activity.arrival_airport_id).name" type="text" id="arrival_airport" placeholder="Arrival Airport">
          </div>
          <div class="col-md-2 col-sm-6 col-xs-12 c_disable">
            <input class="form-control search-input" ng-model="search_activity.pax" type="text" id="pax" placeholder="Pax">
          </div>
          <div class="col-md-4 col-sm-6 col-xs-12 textfield-border c_disable" >
            <div class="form-control search-input custom-calander dropdown datetimepicker-holder">
              <a role="button" data-toggle="dropdown" data-target="#" href="Javascript:void(0)"><i class="fa fa-calendar"></i> {{ctrl.formatTime(search_activity.start_at)}}</a>
              <ul class="dropdown-menu" role="menu">
                <datetimepicker
                data-on-set-time="ctrl.onSetTime(newDate, oldDate, $index)"
                data-before-render="ctrl.beforeRenderDate($view, $dates, $leftDate, $upDate, $rightDate, $index)"
                datetimepicker-config="{ dropdownSelector: '.fa-calendar' }"
                ng-model="activity.start_at">
                </datetimepicker>
              </ul>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-2 col-sm-2 col-xs-12 modify-textfield-con">
        <a class="search-btn" href="/tmp_url?search_id={{ctrl.searchId}}">Modify</a>
      </div>
      <div class="clearfix"></div>
    </div>
  </div>

  <div class="col-xs-12">
    <div class="row">
      <div class="col-sm-6 search-result-box padding-none margin-top" ng-repeat="result in ctrl.results | orderBy : 'totalCost'">
        <div class="custom-shadow">
          <div class="col-sm-12 search-img-con" style="border: 1px solid lightgray; padding: 0">
            <img style="width: 100%;height: 300px;" ng-src="{{result.aircraft.aircraft_images[0].url}}" src="" alt="">
            <div class="black-layer-con">
              <ul class="icon-box">
                <li><span class="search-icon passenger-icon"></span></li>
                <li><span class="search-icon baggage-icon"></span></li>
                <li><span class="search-icon watch-icon"></span></li>
                <li><span class="search-icon speed-icon"></span></li>
                <li><span class="search-icon height-icon"></span></li>
                <li><span class="search-icon crew-icon"></span></li>
                <div class="clearfix"></div>
              </ul>
            </div>
          </div>
          <div class="col-sm-12" style="border: 1px solid lightgray; padding: 0">
            <div class="col-md-8 col-sm-8 col-xs-8">
              <h3>{{result.aircraft.aircraft_type.name}}</h3>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-4 text-right">
              <h4 class="text-gray"><i class="fa fa-rupee"></i> {{ctrl.totalTripCost(result) | currency:"":0 | indianCurrency}}</h4>
            </div>
            <div class="col-md-8 col-sm-8 col-xs-8">
              <a href="" class="no-text-decoration custom-btn" ng-click="ctrl.modalDetail(result, ctrl.tax)">Details</a>
              <a href="" class="no-text-decoration custom-btn" ng-click="ctrl.previewProForma(result)">View Proforma Invoice</a>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-4 text-right">
              <a href="" class="custom-btn no-text-decoration " ng-click="ctrl.enquire(result)">Enquiry</a>
            </div>
            <div class="clearfix"></div>
          </div>
          <div class="clearfix"></div>
        </div>
      </div>
      <div class="clearfix"></div>
    </div>
    <div ng-show="ctrl.results.length == 0">
      <h3 class="text-center">Oops! we don't have any aircrafts available matching your query.</h3>
    </div>
  </div>
</div>

<!--<h3>Tax: {{ctrl.tax}}</h3>-->
<!--<h4>Total Cost: <i class="fa fa-rupee"></i> {{ctrl.totalTripCost(result) | currency:"":0 | indianCurrency}}</h4>-->



<!--<ul class="list-unstyled">-->
<!--<li><h4>{{result.aircraft.tail_number}}, {{result.aircraft.aircraft_type.name}}</h4></li>-->
<!--<li>Baggage capacity: {{result.aircraft.baggage_capacity_in_kg}} Kg</li>-->
<!--<li ng-repeat="flight_plan in result.flight_plan">-->
<!--<h4>{{ctrl.airportForId(flight_plan.departure_airport_id).name}} <small>to</small> {{ctrl.airportForId(flight_plan.arrival_airport_id).name}} </h4>-->
<!--<div>{{ctrl.formatTime(flight_plan.start_at)}} &ndash;&gt; {{ctrl.formatTime(flight_plan.end_at)}}</div>-->
<!--<div>Flying cost: <i class="fa fa-rupee"></i> {{flight_plan.flight_cost | currency:"" | indianCurrency}}</div>-->
<!--<div>Handling cost at {{ctrl.airportForId(flight_plan.departure_airport_id).name}}: <i class="fa fa-rupee"></i> {{flight_plan.handling_cost_at_takeoff | currency:"" | indianCurrency}}</div>-->
<!--<div>Landing cost at {{ctrl.airportForId(flight_plan.arrival_airport_id).name}}: <i class="fa fa-rupee"></i> {{flight_plan.landing_cost_at_arrival}}</div>-->
<!--<div style="background-color: lightgray;cursor: pointer" ng-click="flight_plan.chosen_intermediate_plan = 'accommodation_plan'" ng-show="flight_plan.accommodation_plan">-->
<!--<h3 ng-show="flight_plan.chosen_intermediate_plan == 'accommodation_plan'" >Selected Accommodation plan</h3>-->
<!--Accommodation At: {{ctrl.airportForId(flight_plan.arrival_airport_id).city.name}}-->
<!--<br>-->
<!--Cost: <i class="fa fa-rupee"></i> {{ flight_plan.accommodation_plan.cost | currency:"" | indianCurrency }}-->
<!--<br>-->
<!--Nights: {{ flight_plan.accommodation_plan.nights }}-->
<!--</div>-->
<!--<div style="background-color: yellow; cursor: pointer" ng-click="flight_plan.chosen_intermediate_plan = 'empty_leg_plan'" ng-show="flight_plan.empty_leg_plan">-->
<!--<h3 ng-show="flight_plan.chosen_intermediate_plan == 'empty_leg_plan'" >Selected Empty leg plan</h3>-->
<!--<div style="border: 1px solid lightgray" ng-repeat="empty_leg in flight_plan.empty_leg_plan">-->
<!--<div>{{ ctrl.airportForId(empty_leg.departure_airport_id).name }} <strong>to</strong> {{ ctrl.airportForId(empty_leg.arrival_airport_id).name }}</div>-->
<!--<div>{{ ctrl.formatTime(empty_leg.start_at) }} &ndash;&gt; {{ ctrl.formatTime(empty_leg.end_at) }}</div>-->
<!--<div>Flying cost: <i class="fa fa-rupee"></i> {{empty_leg.flight_cost | currency:"" | indianCurrency}}</div>-->
<!--<div>Handling cost at {{ ctrl.airportForId(empty_leg.departure_airport_id).name }}: <i class="fa fa-rupee"></i> {{empty_leg.handling_cost_at_takeoff}} </div>-->
<!--<div>Landing cost at {{ ctrl.airportForId(empty_leg.arrival_airport_id).name }}: <i class="fa fa-rupee"></i> {{empty_leg.landing_cost_at_arrival}} </div>-->
<!--</div>-->
<!--</div>-->
<!--</li>-->
<!--</ul>-->