<div class="table table-main popup-main">
  <i class="fa fa-times cross_btn" style="z-index: 1;" ng-click="$close()"></i>
  <div class="col-sm-12 col-xs-12">
    <span class="heading popup-heading">Check Your Details</span>
  </div>
  <div class="col-xs-12">
    <div class="custom-box-shadow">
      <div class="col-xs-12 aircraft-heading">
        <div class="row">
          <div class="col-sm-6 ft-md-blue">{{ctrl.detail.aircraft.aircraft_type.name}}</div>
          <div class="col-sm-6"></div>
        </div>
      </div>
      <div class="col-sm-6 col-xs-12 img-con">
            <span>
              <img class="img-responsive" style="width: 100%;" ng-src="{{ctrl.detail.aircraft.aircraft_images[0].url}}">
            </span>
      </div>
      <div class="col-sm-6">
        <ul class="list-unstyled">
          <li ng-repeat="flight_plan in ctrl.detail.flight_plan">


            <div class="col-sm-12" style="background: orange"> {{flight_plan.flight_type}}</div>
            <div class="col-sm-12">{{ctrl.formatTime(flight_plan.start_at)}} --> {{ctrl.formatTime(flight_plan.end_at)}}</div>
            <div class="col-sm-6">{{ ctrl.airportForId(flight_plan.departure_airport_id).name }} </div>
            <div class="col-sm-6"> -->  {{ ctrl.airportForId(flight_plan.arrival_airport_id).name }}</div>
            <div class="col-sm-6">landing_cost_at_arrival</div>
            <div class="col-sm-6">{{flight_plan.landing_cost_at_arrival}}</div>
            <div class="col-sm-6">handling_cost_at_takeoff</div>
            <div class="col-sm-6">{{flight_plan.handling_cost_at_takeoff}}</div>
            <div class="col-sm-6">watch_hour_cost</div>
            <div class="col-sm-6">{{flight_plan.watch_hour_cost}}</div>
            <div class="col-sm-6">flight_cost</div>
            <div class="col-sm-6">{{flight_plan.flight_cost}}</div>



            <div class="accomodation-con" ng-click="flight_plan.chosen_intermediate_plan = 'accommodation_plan'" ng-show="flight_plan.accommodation_plan">
              <h3 ng-show="flight_plan.chosen_intermediate_plan == 'accommodation_plan'" >Selected Accommodation plan</h3>
              <ul class="">
                <li class="list-accomodation">
                  <ul>
                    <li class="text-left">Accommodation At:</li>
                    <li class="text-right">{{ctrl.airportForId(flight_plan.arrival_airport_id).city.name}}</li>
                  </ul>
                </li>
                <li class="list-accomodation">
                  <ul>
                    <li class="text-left">Cost:</li>
                    <li class="text-right">{{ flight_plan.accommodation_plan.cost | currency:"" | indianCurrency }}</li>
                  </ul>
                </li>
                <li class="list-accomodation dotted-border">
                  <ul>
                    <li class="text-left">Night:</li>
                    <li class="text-right">{{ flight_plan.accommodation_plan.nights }}</li>
                  </ul>
                </li>
              </ul>
            </div>
            <div class="accomodation-con" style="cursor: pointer" ng-click="flight_plan.chosen_intermediate_plan = 'empty_leg_plan'" ng-show="flight_plan.empty_leg_plan">
              <h3 ng-show="flight_plan.chosen_intermediate_plan == 'empty_leg_plan'" >Selected Empty leg plan</h3>
              <ul ng-repeat="empty_leg in flight_plan.empty_leg_plan">
                <li class="list-accomodation">
                  <ul>
                    <li class="text-left">
                      <p class="airport-name">{{ ctrl.airportForId(empty_leg.departure_airport_id).name }}</p>
                      <p class="timing-text">{{ ctrl.formatTime(empty_leg.start_at) }}</p>
                    </li>
                    <li class="text-right">
                      <p class="airport-name">{{ ctrl.airportForId(empty_leg.arrival_airport_id).name }}</p>
                      <p class="timing-text">{{ ctrl.formatTime(empty_leg.end_at) }}</p>
                    </li>
                  </ul>
                </li>
                <li class="list-accomodation">
                  <ul>
                    <li class="text-left">Flying cost</li>
                    <li class="text-right"><i class="fa fa-rupee"></i> {{empty_leg.flight_cost | currency:"" | indianCurrency}}</li>
                  </ul>
                </li>
                <li class="list-accomodation">
                  <ul>
                    <li class="text-left">Handling cost</li>
                    <li class="text-right"><i class="fa fa-rupee"></i> {{empty_leg.handling_cost_at_takeoff}}</li>
                  </ul>
                </li>
                <li class="list-accomodation">
                  <ul>
                    <li class="text-left">Landing cost</li>
                    <li class="text-right"><i class="fa fa-rupee"></i> {{empty_leg.landing_cost_at_arrival}}</li>
                  </ul>
                </li>
              </ul>
            </div>
          </li>
        </ul>
        <div class="col-sm-12" style="color: #000000; background: orange">
          <div class="col-sm-6">Grant Total</div>
          <div class="col-sm-6">{{ctrl.totalTripCost() | currency:"":0 | indianCurrency}}</div>
        </div>
      </div>
      <div class="clearfix"></div>
    </div>
  </div>
  <div class="clearfix"></div>
</div>