<div class="section-heading search_heading">
  <div class="container">
    <img class="img-responsive" src="http://d3tfanr7troppj.cloudfront.net/static_files/images/000/000/641/original/yourcockpit.png?1471511926" alt="">
  </div>
</div>
<div class="profile-detail-main">
  <div class="container">
    <div class="profile-main">
      <div class="row">
        <div class="col-md-3 col-sm-3">
          <div class="profile-image">
            <img src="" class="img-responsive" ng-src="{{ctrl.currentUser.image}}" alt="" />
          </div>
        </div>
        <div class="col-md-9 col-sm-9">
          <div class="user-info">
            <h2 class="name-text ms-text-capitalize">{{ctrl.currentUser.full_name}}</h2>
            <ul class="user-detail">
              <!-- <li>
                <i class="fa fa-bell
                notication-icon" aria-hidden="true"></i>
                <h4>2</h4>
                <p>Notication</p>
              </li> -->
              <li>
                <a ng-href="enquired_jets">
                  <!--<h4>{{ctrl.enquired_jets.length}}</h4>-->
                  <h4>{{ctrl.currentUser.number_of_enquiries}}</h4>
                  <p>Enquired Bookings</p>
                </a>
              </li>
              <li>
                <a ng-href="booked_jets">
                  <!--<h4>{{ctrl.booked_jets.length}}</h4>-->
                  <h4>{{ctrl.currentUser.number_of_confirmed}}</h4>
                  <p>Confirmed Bookings</p>
                </a>
              </li>
              <li>
                <a ng-href="quotes">
                  <!--<h4>{{ctrl.quotes.length}}</h4>-->
                  <h4>{{ctrl.currentUser.number_of_quoted}}</h4>
                  <p>Quoted Bookings</p>
                </a>
              </li>
              <li>
                <a ng-href="javascript:void(0)">
                  <!--<h4>{{ctrl.count_empty_legs(ctrl.trips)}}</h4>-->
                  <h4>{{ctrl.currentUser.number_of_empty_legs}}</h4>
                  <p>EmptyLegs</p>
                </a>
              </li>
              <div class="clearfix"></div>
            </ul>
            <!--<a class="edit-icon" href="javascript:void(0)">-->
            <!--<img height="15" src="http://d3tfanr7troppj.cloudfront.net/static_files/images/000/000/444/original/edit_icon.png?1470035299"> EDIT-->
            <!--</a>-->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- sell emptyleg start -->
<div class="sell_empty_main_con">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <h2 class="heading">Confirmed Booking</h2>
        <h2 class="subheading">Following Empty Legs are generated during your trip. Would you like to sell it?</h2>
      </div>
      <div class="col-xs-12">
        <div class="trip-main-con" ng-repeat="trip in ctrl.confirmed_trips">
          <h3 class="trip-heading"><span class="trip">Trip#{{trip.id}}</span> Starting @ {{ctrl.starting_date(trip)}}</h3>

          <div ng-if="activity.empty_leg" ng-repeat="activity in trip.activities">
            <div class="location-con" >
              <div class="row">
                <div class="departure-con col-md-offset-1 col-md-3 col-sm-3 col-xs-6">
                  <p>
                    <img width="30" class="img-responsive" src="http://d3tfanr7troppj.cloudfront.net/static_files/images/000/000/403/original/emptyleg-departure.png?1468581680" alt="">
                  </p>
                  <p class="city-name">{{activity.departure_airport.name}}</p>
                  <p class="time-con">{{ctrl.date_format(activity.start_at).split(',')[1]}}</p>
                  <p class="date-con">{{ctrl.date_format(activity.start_at).split(',')[0]}}</p>
                </div>
                <div class="col-md-3 text-center col-sm-4 hidden-xs">
                  <img src="http://d3tfanr7troppj.cloudfront.net/static_files/images/000/000/406/original/time.png?1468581764" alt="">
                  <p><b>{{activity.flight_time}}</b></p>
                </div>
                <div class="arrival-con col-md-offset-1 col-md-3 col-sm-3 col-xs-6">
                  <p>
                    <img width="30" class="img-responsive" src="http://d3tfanr7troppj.cloudfront.net/static_files/images/000/000/400/original/arrival.png?1468581622" alt="">
                  </p>
                  <p class="city-name">{{activity.arrival_airport.name}}</p>
                  <p class="time-con">{{ctrl.date_format(activity.end_at).split(',')[1]}}</p>
                  <p class="date-con">{{ctrl.date_format(activity.end_at).split(',')[0]}}</p>

                  <!--<p class="city-name">Aizawl Airport</p>-->
                  <!--<p class="time-con">11:10 AM</p>-->
                  <!--<p class="date-con">20th Aug 2016</p>-->
                </div>
              </div>
            </div>
            <div class="emptyleg_sell">
              <div class="col-md-8 col-sm-8 col-xs-12 search_img">
                <div class="img-hide">
                  <!--<img src="http://d3tfanr7troppj.cloudfront.net/static_files/images/000/000/414/original/3-.jpg?1468909133" alt="" />-->
                  <img class="img-responsive" ng-src="{{activity.aircraft.exterior_image}}" alt="" />
                  <span class="icon-toogle hidden-lg hidden-md hidden-sm" ng-click="icon-detail =! icon-detail">More Detail</span>
                </div>
                <div class="icon-con">
                  <span class="icons-main">
                    <img src="http://d3tfanr7troppj.cloudfront.net/static_files/images/000/000/617/original/with_crew.png?1471346833" uib-tooltip="Crew" alt=""> <span class="icon-detail">{{activity.aircraft.crew}}</span>
                  </span>
                  <span class="icons-main">
                    <img src="http://d3tfanr7troppj.cloudfront.net/static_files/images/000/000/418/original/height-1.png?1468910855" uib-tooltip="Height"alt="" />
                    <span class="icon-detail">{{activity.aircraft.cabin_height_in_meters}} ft</span>
                  </span>
                  <span class="icons-main">
                    <img src="http://d3tfanr7troppj.cloudfront.net/static_files/images/000/000/679/original/with_pax.png?1471853991" uib-tooltip="Seats" alt="" /> <span class="icon-detail">{{activity.aircraft.seating_capacity}}</span>
                  </span>
                  <span class="icons-main">
                    <img src="http://d3tfanr7troppj.cloudfront.net/static_files/images/000/000/677/original/with_baggage.png?1471853923" uib-tooltip="Baggage" alt="">
                    <span class="icon-detail">{{activity.aircraft.baggage_capacity_in_kg}} kgs</span>
                  </span>
                  <span class="icons-main">
                  <img src="http://d3tfanr7troppj.cloudfront.net/static_files/images/000/000/678/original/with_speed.png?1471853967" uib-tooltip="Speed" alt=""> <span class="icon-detail">{{activity.aircraft.cruise_speed_in_nm_per_hour}} nm</span>
                  </span>
                  <span class="icons-main">
                    <img src="" ng-src="{{activity.aircraft.wifi ? 'http://d3tfanr7troppj.cloudfront.net/static_files/images/000/000/422/original/wifi-1.png?1468910930' : 'http://d3tfanr7troppj.cloudfront.net/static_files/images/000/000/608/original/wifi.png?1471342954'}}" uib-tooltip="Wifi: {{activity.aircraft.wifi ? 'Available' : 'Not-Available'}}" alt="">
                  </span>
                  <span class="icons-main">
                    <img src="" ng-src="{{activity.aircraft.phone ? 'http://d3tfanr7troppj.cloudfront.net/static_files/images/000/000/419/original/phone-1.png?1468910872' : 'http://d3tfanr7troppj.cloudfront.net/static_files/images/000/000/606/original/call.png?1471342903'}}" uib-tooltip="Phone: {{activity.aircraft.phone ? 'Available' : 'Not-Available'}}" alt="">
                  </span>
                  <span class="icons-main">
                    <img src="" ng-src="{{activity.aircraft.number_of_toilets ? 'http://d3tfanr7troppj.cloudfront.net/static_files/images/000/000/624/original/with_labotry.png?1471351181' : 'http://d3tfanr7troppj.cloudfront.net/static_files/images/000/000/623/original/labotry.png?1471351162'}}" uib-tooltip="Lavatory" alt="">
                    <span class="icon-detail">{{activity.aircraft.number_of_toilets}}</span>
                  </span>
                  <span class="icons-main">
                    <img src="" ng-src="{{activity.aircraft.flight_attendant ? 'http://d3tfanr7troppj.cloudfront.net/static_files/images/000/000/616/original/with_cabincrew.png?1471346808' : 'http://d3tfanr7troppj.cloudfront.net/static_files/images/000/000/618/original/cabincrew.png?1471346847'}}" uib-tooltip="Flight Attendant: {{activity.aircraft.flight_attendant ? 'Available' : 'Not-Available'}}" alt="">
                  </span>
                  <div class="clearfix"></div>
              </div>
              </div>
              <div class="col-md-4 col-sm-4 col-xs-12 search-ryt-con">
                <div class="img-bg">
                  <div class="col-xs-12">
                    <h2>{{activity.aircraft.name}}</h2>
                    <h4>{{activity.aircraft.category}}</h4>
                  </div>
                  <div class="col-sm-6 col-xs-6">
                    <label>Min Cost</label>
                    <input type="number" ng-disabled="activity.sell_button_clicked" ng-model="activity.minimum_sale_price" class="txt-minmax" />
                  </div>
                  <div class="col-sm-6 col-xs-6">
                    <label>Max Cost</label>
                    <input type="number" ng-disabled="activity.sell_button_clicked" ng-model="activity.maximum_sale_price" class="txt-minmax" />
                  </div>
                  <div class="col-xs-12 sell_emptyleg" ng-show="activity.sell_button_clicked">
                    <p>Thank you for Selling your Empty Leg</p>
                  </div>
                  <div class="col-xs-12" ng-hide="activity.sell_button_clicked">
                    <p class="sell-text">
                      <!--<span>Sell Empty leg?: <input type="checkbox" ng-click="ctrl.set_sell_empty_leg(); ctrl.trip.sell_empty_leg = true" ng-model="ctrl.trip.sell_empty_leg"></span>-->

                      <span ng-hide="activity.in_sale"><input type="checkbox" ng-click="activity.in_sale = true" ng-model="activity.in_sale"> Sell Empty leg? </span>
                      <span ng-show="activity.in_sale"><input type="checkbox" ng-click="activity.in_sale = false" ng-model="activity.in_sale"> Sell Empty leg? </span>

                      <!--<span ng-hide="activity.in_sale" ><input type="radio" name="sell" ng-model="activity.in_sale" class="radio-btn" value="false" ng-click="ctrl.uncheck(activity, activity.in_sale)" > Do not want to sell</span>-->
                      <!--<span ng-show="activity.in_sale" > <input type="radio" name="sell" ng-model="activity.in_sale" class="radio-btn" value="true" ng-click="ctrl.uncheck(activity, activity.in_sale)" > want to sell</span>-->
                      <!--<input type="radio"-->
                             <!--ng-model="string"-->
                             <!--value="string"-->
                             <!--[name="string"]-->
                             <!--[ng-change="string"]-->
                             <!--ng-value="string">-->
                    </p>
                  </div>
                  <div class="col-xs-12 sell-btn-con" ng-if="!activity.sell_button_clicked">
                    <!--<input type="submit" value="Sell your empty legs" class="sell-btn" />-->
                    <span class="sell-btn" ng-click="ctrl.sell_empty_leg(activity, trip)">Sell your empty legs</span>
                  </div>
                  <div class="clearfix"></div>
                </div>
              </div>
              <div class="clearfix"></div>
            </div>
          </div>

        </div>
      </div>
      <div class="col-xs-12">
        <div class="sell_emptyleg_con">
          <h3>Why sell your Empty legs?</h3>
          <div class="row">
            <div class="col-sm-4">
              <img src="http://d3tfanr7troppj.cloudfront.net/static_files/images/000/000/712/original/sellemptylegs.png?1472204060" class="img-responsive" alt="">
            </div>
            <div class="col-sm-4">
              <img src="http://d3tfanr7troppj.cloudfront.net/static_files/images/000/000/711/original/getlisted.png?1472204039" class="img-responsive" alt="">
            </div>
            <div class="col-sm-4">
              <img src="http://d3tfanr7troppj.cloudfront.net/static_files/images/000/000/710/original/getbenifits.png?1472204016" class="img-responsive" alt="">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- sell emptyleg finish -->