<div class="row " ng-controller="SignInController as ctrl">
  <div class="col-sm-12 col-xs-12 login-logo">
    <img class="" src="http://d3tfanr7troppj.cloudfront.net/static_files/images/000/000/162/original/jsg_logo_footer.png?1460978273" />
  </div>
  <div class="col-sm-4"></div>
  <div class="col-xs-12">
    <div class="login-black-bg">
      <a href="#" class="closs-btn" ng-click="$close()"><i class="fa fa-times"></i></a>
      <fieldset class="login-register-main">
        <h5>
          <i class="fa fa-user user-icon-top"></i> Sign in
          <!-- <a class="span-text" href="/organisations/sign_up">Register</a> -->
        </h5>
        <div class="col-xs-12">
          <form ng-submit="ctrl.create()">
            <div class="field margin-top">
              <!-- <label for="email">Email</label> -->
              <input type="email" id="email" placeholder="Email" class="form-control text-field" ng-model="ctrl.email" />
              <i class="fa fa-user form-icon"></i>
            </div>
            <div class="field margin-top">
              <!--  <label for="password">Password</label> -->
              <input type="password" id="password" placeholder="Password" class="form-control text-field" n ng-model="ctrl.password" />
              <i class="fa fa-unlock-alt form-icon"></i>
            </div>
            <div class="field text-right">
              <a href="/forget_password">Forgot Password</a>
            </div>
            <!--<p class="field forget-text">-->
              <!--<%#= link_to 'Forgot password?', forgot_password_organisations_operators_path, class: 'pull-right' %>-->
            <!--<div class="clearfix"></div>-->
            <!--</p>-->
            <div class="field">
              <input type="submit" class="btn btn-primary proceed-btn margin-top" value="Sign in">
            </div>
            <div class="field">
              <span class="or-text">or</span>
            </div>
            <div class="field">
              <a ng-click="ctrl.openSignUnModal()" href="" class="register-click">Register</a>
            </div>
          </form>
        </div>
      </fieldset>
    </div>
  </div>
  <div class="clearfix"></div>
</div>

<!--<div class="row">-->
  <!--<div class="text-center background-main-green padding-top padding-bottom margin-bottom">-->
    <!--<img style="height: 35px;" src="http://d3tfanr7troppj.cloudfront.net/static_files/images/000/000/023/original/JSG-main-logo-db779e87994672c825f333c07a75d7d2_%281%29.png?1453111090" alt="">-->
  <!--</div>-->
  <!--<div class="col-sm-12">-->
    <!--<form ng-submit="ctrl.create()">-->
      <!--<label class="full-width">-->
        <!--Email-->
        <!--<input type="email" class="form-control" ng-model="ctrl.email">-->
      <!--</label>-->
      <!--<label class="full-width">-->
        <!--Password-->
        <!--<input type="password" class="form-control" ng-model="ctrl.password">-->
      <!--</label>-->
      <!--<label class="full-width">-->
        <!--<input type="submit" value="Sign in" class="btn btn-primary form-control margin-top">-->
      <!--</label>-->
      <!--<div class="margin-top text-center">-->
        <!--<a ng-click="ctrl.openSignUnModal()" href="">Register</a>-->
      <!--</div>-->
    <!--</form>-->
  <!--</div>-->
<!--</div>-->