<div class="row " ng-controller="SignUpController as ctrl">
  <div class="col-sm-4"></div>
  <div class="col-xs-12">
    <div class="login-black-bg">
      <a href="#" class="closs-btn" ng-click="$close()"><i class="fa fa-times-circle-o"></i></a>
      <div class="section-heading">
        <div class="middle-heading">
          <img height="100" src="http://d3tfanr7troppj.cloudfront.net/static_files/images/000/000/522/original/signup.png?1470296926" alt="" class="img-responsive">
        </div>
      </div>
      <fieldset class="login-register-main">
        <div class="col-xs-12">
          <form ng-submit="ctrl.create()">
            <div class="height"></div>
            <div class="field margin-top">
              <!-- <label for="email">Email</label> -->
              <input type="text" placeholder="Name" class="form-control text-field" ng-model="ctrl.user.first_name"z />
              <!-- <i class="fa fa-user form-icon"></i> -->
              <img src="http://d3tfanr7troppj.cloudfront.net/static_files/images/000/000/721/original/loginsm.png?1472549141" class="form-icon">
            </div>
            <!--<div class="field margin-top">-->
              <!--&lt;!&ndash; <label for="email">Email</label> &ndash;&gt;-->
              <!--<input type="text" placeholder="Last Name" class="form-control text-field" ng-model="ctrl.user.last_name" />-->
              <!--<i class="fa fa-user form-icon"></i>-->
            <!--</div>-->
            <div class="field margin-top">
              <!-- <i class="fa fa-phone form-icon phn-icon"></i> -->
              <img src="http://d3tfanr7troppj.cloudfront.net/static_files/images/000/000/723/original/phone_sm.png?1472549169" class="form-icon phn-icon">
              <span class="form-icon text-icon">+91</span>
              <input type="text" placeholder="Phone" class="form-control text-field" ng-model="ctrl.user.phone" />
              <!--<i class="fa fa-user form-icon"></i>-->
            </div>
            <div class="field margin-top">
              <!-- <label for="email">Email</label> -->
              <input type="email" id="email" placeholder="Email" class="form-control text-field" ng-model="ctrl.user.email" />
              <!-- <i class="fa fa-envelope form-icon"></i> -->
              <img src="http://d3tfanr7troppj.cloudfront.net/static_files/images/000/000/726/original/email.png?1472550063" class="form-icon">
            </div>
            <div class="field margin-top">
              <!--  <label for="password">Password</label> -->
              <input type="password" id="password" placeholder="Password" class="form-control text-field" ng-model="ctrl.user.password" />
              <!-- <i class="fa fa-unlock-alt form-icon"></i> -->
              <img src="http://d3tfanr7troppj.cloudfront.net/static_files/images/000/000/722/original/lock.png?1472549154" class="form-icon">
              <lable>8 characters minimum</lable>
            </div>
            <div id="captcha" class="field margin-top">
              <no-captcha g-recaptcha-response="ctrl.user.captcha" size=""></no-captcha>
            </div>
            <!--<p class="field forget-text">-->
            <!--<%= link_to 'Forgot password?', forgot_password_organisations_operators_path, class: 'pull-right' %>-->
            <!--<div class="clearfix"></div>-->
            <!--</p>-->
            <div class="field">
              <input type="submit" value="Register" class="btn btn-primary proceed-btn margin-top" />
            </div>
            <div class="field">
              <span class="or-text">or</span>
            </div>
            <div class="field">
              <a ng-click="ctrl.openSignInModal()" href="" class="register-click">Sign In</a>
            </div>
          </form>
        </div>
      </fieldset>
    </div>
  </div>
  <div class="clearfix"></div>
</div>