<div class="row">
  <div class="col-sm-12">
    <fieldset>
      <form ng-submit="ctrl.create()">
        <label class="full-width">
          Email
          <input type="email" class="form-control" ng-model="ctrl.email">
        </label>
        <label class="full-width">
          Password
          <input type="password" class="form-control" ng-model="ctrl.password">
        </label>
        <label class="full-width">
          <input type="submit" value="Sign in" class="btn btn-primary form-control margin-top">
        </label>
      </form>
    </fieldset>
  </div>
</div>