<!-- terms banner section start -->
<div class="section-heading search_heading">
  <div class="container">
    <img class="img-responsive" src="http://d3tfanr7troppj.cloudfront.net/static_files/images/000/000/597/original/terms-_-conditions.png?1470830776" alt="">
  </div>
</div>
<!-- terms banner section finish -->

<div class="terms-content">
  <div class="container">
    <div class="large-gap"></div>
    <ol>
      <li>We would require the requested information within the stipulated timelines, in order to enable us to seek the necessary permissions for the effecting of the flight.</li>
      <li>Jetsetgo Aviation Services Private Limited will not be responsible in any manner whatsoever for passengers traveling without the relevant travel documents and/or, carrying any contraband items and/or, involved/indulging in any illegal activities.</li>
      <li>Minimum 2 hours ‘per aircraft per day’ or actuals ‘per aircraft per day’, whichever is higher - will charged for a booking.</li>
      <li>If there is no flying on a particular day of a Charter, a minimum of 2 (two) hour of flying time will be charged as “Non-Flying Day Charge” and in this case, no night halt charge will be levied.</li>
      <li>Flying hour charges include the cost of the Aircraft fuel, oil, maintenance, landing and day parking charges, standard in-flight meals, navigation fees and dispatch cost of the aircraft.</li>
      <li>In addition, we would be charging for the below mentioned items:
        <ol type="a">
          <li>Domestic Flights:
            <ol type="i">
              <li>Ground Handling service charges</li>
              <li>Extension of watch hours (if applicable)</li>
              <li>Day Detention charges are applicable after 4 hours of waiting at a destination.</li>
              <li>Night Halt charges (if applicable)</li>
              <li>Taxes as applicable</li>
            </ol>
          </li>
          <li>International Flights:
            <ol type="i">
              <li>IFS (International Flight clearance Service) charges: IFS charges are applicable additionally, for flights operating in the international sector. This comprises of Permit Facilitation, Ground Handling, Hotel Set Up, Flight Planning, Airport Fees, 3rd Party Airport Fees, Basic Handling, Night Operation Fees, Supervision Fee, Landing Fee, Parking Fee, Towing assistance, Navigation, Security (per pax), Boarding Fee (Per pax), Ramp light (if used), Approach Fee, Follow-me, General Aviation Terminal Use, Passenger Tax, Passenger apron Tax, Passenger Departure Fee, VIP Service agent, General Aviation Terminal Use, Basic Handling, Other Handling, etc.</li>
              <li>Crew stay (in lieu of Night Halt charges): The 3 crew members will be entitled to USD 500 per night (subject to hotel check-in and check-out times</li>
              <li>Taxes as applicable</li>
            </ol>
          </li>
          <li>
            Any additional/statutory charges levied by Airport Authority, Customs/Regulatory authorities, shall be billed.
          </li>
        </ol>
      </li>
      <li>
        Cancellation charges for the charter:
        <ol type="a">
          <li>10%  if the cancellation is done on payment confirmation.</li>
          <li>20%  if the cancellation is done between 48 hours to 24 hours prior to the scheduled departure on the flight.</li>
          <li>100% of total Invoice value if the cancellation is done less than 24 hours prior to the scheduled departure on the flight.</li>
        </ol>
      </li>
      <li>
        Any changes/modification of ‘flight program’, requested by the customer after the commencement of the ‘flight program’ and if the same cannot be executed due to operational reasons / lapse of relevant permissions in flight sectors will be termed as ‘a last minute cancellation’ - and the cancellation clause of 100% would apply.
      </li>
      <li>
        If due to sudden deterioration of weather en-route / destination, the aircraft cannot land at the Destination OR diverted due to defense services activity AND has to return to the starting point or divert to some other airport, the actual flying time and any other additional charges due to the diversion would be chargeable and balance if any, would be payable / refundable.
      </li>
      <li>
        We do not serve alcoholic beverages on board (for flights within India) and smoking is not allowed on-board the aircraft.
      </li>
      <li>
        Check-in time: Check-in time: For Domestic flights Check-in usually starts 45 minutes before the scheduled departure time. For International flights, Check-in starts 60 minutes before the schedule departure time.  The aircraft doors are required to be closed 15 minutes before scheduled departure time for ATC clearance as per regulations.  Certain formalities are required to be completed by the passenger at the Airport before and after being accepted by the Airline for travel.  In order to complete  these  Check-in  formalities,  the  passengers  are  requested  to  Check-in  at  the recommended timing for the Domestic/International flights respectively.  In the event of delay in reporting of passengers or last minute rescheduling of the flight due to the passenger’s requirement JetSetGo will put in its best efforts to accommodate the revised schedule but the same cannot be guaranteed;  because  of  departure/arrival  slots  which  are  applicable  at  certain  airports. Passengers, who do not report at the Boarding gate at the requested Boarding time, will not be boarded on the said flight. In the event of delays in flight due to reasons not within reasonable control of Jetsetgo Aviation Services Private Limited, JetSetGo will disclaim any liability towards the same.
      </li>
      <li>
        Hand  Baggage  Regulations:  As  per  Government  Safety  Regulation,  only  one  piece  of  hand baggage not exceeding L+B+H being 55+35+25 per passenger is allowed in the aircraft.
      </li>
      <li>
        Free Baggage Allowance (subject to load): For Domestic and International flights
        <div class="small-gap"></div>
        <table class="table table-striped custom-table">
          <tr class="info">
            <th>Aircraft</th>
            <th>Per Adult/Child</th>
            <th>Per Infant</th>
          </tr>
          <tr>
            <td>Falcon Jet Aircraft</td>
            <td>50 kgs</td>
            <td>20 kgs</td>
          </tr>
          <tr>
            <td>Piaggio Avanti II Aircraft</td>
            <td>10 kgs</td>
            <td>5 kgs</td>
          </tr>
        </table>
      </li>
      <li>
        The following articles can be carried free in addition to the free baggage allowance:-
        <ol type="a">
          <li>An overcoat wrap or blanket</li>
          <li>An umbrella or walking stick</li>
          <li>A lady’s handbag or purse</li>
          <li>A reasonable amount of reading material for the flight</li>
          <li>Infant’s food for consumption in-flight and infant’s carrying basket</li>
        </ol>
      </li>
      <li>
        Security Regulations: According to Security Regulations, Passengers are advised:-
        <ol type="a">
          <li>Not to accept any packets from unknown person.</li>
          <li>
            Not to leave baggage unobserved at any time, especially within airport area
          </li>
          <li>
            To declare before check in, if carrying any arms or explosive substances. Concealment is an offence under the Aircraft Act and rules.
          </li>
          <li>
            Battery cells. dry cells carried in the hand baggage or any electronic/electrical items are liable to be removed and the Airline would not be in a position to hand over the same at the destination.
          </li>
        </ol>
      </li>
      <li>
        Prohibited Articles: Carriage of dry cell batteries, knives, scissors, sharp instruments, tools, fire arms, ammunition and their toy replicas are strictly prohibited.
      </li>
      <li>
        Valuable Articles: Currency, precious metals, jewellery, negotiable instruments, securities, personal identification documents and other items of value are advised to be carried with the passenger in the cabin.
      </li>
      <li>
        Restricted Articles: Medicines and toiletries in limited quantities which are necessary or appropriate for the passenger during journey, may be carried.
      </li>
      <li>
        Dangerous Articles: Following articles will not be allowed in the Aircraft, for Safety reasons:-
        <ol type="a">
          <li>
            Compressed Gases- deeply refrigerated, flammable, non-flammable and poisonous such as butane, oxygen, liquid nitrogen, aqualung cylinders and compressed gas cylinders.
          </li>
          <li>
            Corrosive such as acids, alkalis, mercury / wet cell batteries and apparatus containing mercury
          </li>
          <li>
            Explosives, ammunitions fireworks and flares
          </li>
          <li>
            Flammable liquids and solids such as lighter refills, lighter fuels, matches, paints, thinners, fire lighters.
          </li>
          <li>
            Radioactive materials
          </li>
          <li>
            Briefcases and attaché cases with installed alarm devices
          </li>
          <li>
            Oxidizing materials such as bleaching powder and peroxides
          </li>
          <li>
            Poisons and infectious substances such as insecticides, pesticides, weed killers and live virus materials.
          </li>
          <li>
            Other dangerous articles such as magnetized materials, offensive or irritating materials.
          </li>
        </ol>
      </li>
      <li>
        The Company:-
        <ol type="a">
          <li>Reserves the right, without assigning any reason, to cancel or delay the commencement or continuance of the flight or alter the stopping place or to deviate from the route of journey or to change the type of aircraft in use without thereby incurring any liability in damages or otherwise to the passengers or any other person on any ground whatsoever. The Company also reserves to itself the right to refuse to carry any person it considers unfit to travel or who in the opinion of the Company may constitute risks to the Aircraft or to the persons on Board.</li>
          <li>Will have the right to decide which article should be offloaded and such decision will be binding – if it is found that the Aircraft with the booked load, etc. is overloaded.</li>
          <li>Is not liable for the loss or damage occasioned by the delay in the carriage by air of passengers or baggage.</li>
        </ol>
      </li>
      <li>
        Limitation of Liability for Domestic Travel:-
        <ol type="a">
          <li>The Carriers liability for loss, delay or damage to the baggage is limited to INR 450 per kilo, unless a higher value is declared in advance and additional charges are paid. The Carrier assumes no liability for perishable or fragile articles.</li>
          <li>In the unfortunate event of death to a passenger, or any bodily injury or wound suffered by a passenger which results in a permanent disablement incapacitating him from engaging in or being occupied with his usual duties/business occupation, the liability for the Carrier will be limited to INR 750,000 if the passenger is 12 years or more of age and INR 375,000 if the passenger is below 12 years of age on the date of accident.</li>
        </ol>
      </li>
      <li>
        Limitation of Liability for International Travel:
        <ol type="a">
          <li>The Carriers liability for loss, delay or damage to the baggage is limited to 1,131 SDRs per passenger, unless a higher value is declared in advance and additional charges are paid. The Carrier assumes no liability for perishable or fragile articles.</li>
          <li>In the unfortunate event of death tof a passenger, or any bodily injury or wound suffered by a passenger which results in a permanent disablement incapacitating him from engaging in or being occupied with his usual duties/business occupation, the liability for the Carrier will be limited to 113,100 SDRs per passenger.</li>
        </ol>
      </li>
    </ol>
    
    <p>
      <b>Force Majeure:</b> Jetsetgo Aviation Services Private Limited cannot be held responsible for non-operation of charter for any unforeseen reason/s such as Bad Weather, Poor Visibility, Non – Availability of clearances from ATC / Defense Authorities / Civil Administration. Due to above reasons, if the flight cannot take off from the Originating station full amount will be refunded (except the IFS charges which would have been incurred). Jetsetgo Aviation Services Private Limited will not be liable to the Client for any delay or failure to fulfill its obligations in connection with the provision of the Services where any such delay or failure is caused in whole or in part by any act of terrorism, biological or chemical contamination, nuclear risks or electronic data loss, or to the extent that any such delay or failure arises from causes beyond its control, including, without limitation, fire, floods, acts of God, acts or regulations of any governmental or supranational authority, war, riots, strikes.
    </p>
    <p>
      <b>Declaration:</b> While we endeavor to provide the Aircraft, we should not be held responsible for any cancellations/delay in commencement or continuation of the flight, due to technical snags or any other reasons beyond our control. We also reserve the right to deviate from the route of journey or alter the stopping place or decide on the number of passengers or decide on the acceptable baggage or take any necessary decision or change the type of Aircraft, in case the circumstances so demand, in the best interest of our passengers.
    </p>
    <div class="small-gap"></div>
  </div>
</div>