<div class="section-heading search_heading">
  <div class="container">
    <img class="img-responsive" src="http://d3tfanr7troppj.cloudfront.net/static_files/images/000/000/801/original/fleet_header.png?1474449999" alt="">
  </div>
</div>
<div class="fleet_main_con">
  <div class="top_head">
    <div class="container">
      <img class="img-responsive" src="http://d3tfanr7troppj.cloudfront.net/static_files/images/000/000/818/original/subheader_fleet.png?1474619568" alt="">
    </div>
  </div>
  <div class="container">
    <div class="fleet_result_main">
      <h2 class="heading">
        Single Engine turbo
      </h2>
      <!-- 1 fleet start-->
      <div class="">
        <div class="fleet_result">
          <div class="col-md-8 col-sm-8 col-xs-12 search_img">
            <div class="img-hide">
              <img src="http://d3tfanr7troppj.cloudfront.net/static_files/images/000/000/886/original/caravan-208-Ext.jpg?1475487873" alt="">
            </div>
          </div>
          <div class="col-md-4 col-sm-4 col-xs-12 search-ryt-con">
            <div class="img-bg">
              <h3 class="aircraft-type">Cessna 208 Caravan</h3>
              <p class="aircraft-content">
                The Cessna 208 Caravan is a single-engined turboprop, fixed-tricycle landing gear, short-haul regional airliner and utility aircraft that is built in the United States by Cessna.
              </p>
              <div class="detail-link-con text-center">
                <a ng-init="aircraft.detail_active1 = false" href="javascript:void(0)" ng-click="aircraft.detail_active1 =! aircraft.detail_active1">Details</a>
              </div>
            </div>
          </div>
          <div class="clearfix"></div>
        </div>
        <!-- detail start-->
        <div ng-show="aircraft.detail_active1" class="fleet-toogle-main">
          <div class="arrow-up"></div>
          <div class="white-arrow-up"></div>
          <i class="fa fa-times-circle-o cross-icon" ng-click="aircraft.detail_active1 =! aircraft.detail_active1"></i>
          <div class="img-content-con">
            <div class="col-md-3 col-sm-5 col-xs-12">
              <div class="aircraft-img text-center">
                <img src="http://d3tfanr7troppj.cloudfront.net/static_files/images/000/000/887/original/caravan-208-Int.jpg?1475487885" alt="" class="img-responsive">
              </div>
            </div>
            <div class="col-md-9 col-sm-7 col-xs-12">
              <div class="aircraft-text">
                <p>Caravan interiors can be easily adapted to maximize seating capacity, cargo space or an ideal combination of both. Rear double doors facilitate loading and unloading, and can be replaced with an electric roll-up door that can be opened in-flight for airdrops or parachute operations. However, such actions are not always necessary for delivering payloads to remote or unusual destinations; the rugged construction of Caravan models allows access to short, unimproved airstrips. Furthermore, the Caravan can be outfitted with amphibious floats or skis should your destinations lack any runway at all.</p>
              </div>
            </div>
            <div class="clearfix"></div>
          </div>
          <div class="interior_map_con">
            <div class="col-md-5 col-sm-6 col-xs-12">
              <div class="interior_aircraft_con">
                <h2>Specifications</h2>
                <div class="row">
                  <div class="col-xs-5 interior_aircraft text-center">
                    <img src="http://d3tfanr7troppj.cloudfront.net/static_files/images/000/000/890/original/caravan_int.png?1475573089" alt="" class="img-responsive">
                  </div>
                  <div class="col-xs-7 interior_specification">
                    <div class="spec">
                      <h3>Overall Cabin Length</h3>
                      <p>12.7 meters</p>
                    </div>
                    <div class="spec">
                      <h3>Cabin Height</h3>
                      <p>4.5 meters</p>
                    </div>
                    <div class="spec">
                      <h3>Cabin Width</h3>
                      <p>1.5 meters</p>
                    </div>
                    <div class="spec">
                      <h3>Baggage Volume</h3>
                      <p>1134 kg</p>
                    </div>
                    <div class="spec">
                      <h3>Passenger Capacity</h3>
                      <p>8</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-7 col-sm-6 col-xs-12">
              <div class="range_map_con">
                <h2>Range Map</h2>
                <img src="http://d3tfanr7troppj.cloudfront.net/static_files/images/000/000/897/original/caravan.png?1475576209" alt="" class="img-responsive">
                <div class="row">
                  <div class="col-md-5 col-sm-6 col-xs-4">
                    <h3>Range in Distance</h3>
                    <p>1996 kms</p>
                  </div>
                  <div class="col-md-5 col-sm-6 col-xs-4">
                    <h3>Crew</h3>
                    <p>2</p>
                  </div>
                  <div class="col-md-2 col-sm-6 col-xs-4">
                    <h3>Speed</h3>
                    <p>184.6 nm/hr</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="clearfix"></div>
          </div>
        </div>
        <!-- detail finish-->
      </div>
      <!-- 1 fleet finish-->
      <h2 class="heading">
        Twin Engine Turbo
      </h2>
      <!-- 2 fleet start-->
      <div class="">
        <div class="fleet_result">
          <div class="col-md-8 col-sm-8 col-xs-12 search_img">
            <div class="img-hide">
              <img src="http://d3tfanr7troppj.cloudfront.net/static_files/images/000/000/880/original/Avanti-Ext.jpg?1475487651" alt="">
            </div>
          </div>
          <div class="col-md-4 col-sm-4 col-xs-12 search-ryt-con">
            <div class="img-bg">
              <h3 class="aircraft-type">Piaggio P.180 Avanti</h3>
              <p class="aircraft-content">
                Piaggio Aero’s P.180 Avanti II is a turbo-prop aircraft with a superior ‘short runway performance’ – can land on small runways and therefore offers a better city to satellite town connectivity.
              </p>
              <div class="detail-link-con text-center">
                <a ng-init="aircraft.detail_active2 = false" href="javascript:void(0)" ng-click="aircraft.detail_active2 =! aircraft.detail_active2">Details</a>
              </div>
            </div>
          </div>
          <div class="clearfix"></div>
        </div>
        <!-- detail start-->
        <div ng-show="aircraft.detail_active2" class="fleet-toogle-main">
          <div class="arrow-up"></div>
          <div class="white-arrow-up"></div>
          <i class="fa fa-times-circle-o cross-icon" ng-click="aircraft.detail_active2 =! aircraft.detail_active2"></i>
          <div class="img-content-con">
            <div class="col-md-3 col-sm-5 col-xs-12">
              <div class="aircraft-img text-center">
                <img src="http://d3tfanr7troppj.cloudfront.net/static_files/images/000/000/881/original/Avanti-Int.jpg?1475487661" alt="" class="img-responsive">
              </div>
            </div>
            <div class="col-md-9 col-sm-7 col-xs-12">
              <div class="aircraft-text">
                <p>
                  The Avanti II does indeed have a big cabin, the best in its class by far, and it also has good speed and range, and best-in-class fuel efficiency. Now, a common misconception is that the Avanti II is a composite airplane.
                </p>
              </div>
            </div>
            <div class="clearfix"></div>
          </div>
          <div class="interior_map_con">
            <div class="col-md-5 col-sm-6 col-xs-12">
              <div class="interior_aircraft_con">
                <h2>Specifications</h2>
                <div class="row">
                  <div class="col-xs-5 interior_aircraft text-center">
                    <img src="http://d3tfanr7troppj.cloudfront.net/static_files/images/000/000/889/original/avanti-int.png?1475573059" alt="" class="img-responsive">
                  </div>
                  <div class="col-xs-7 interior_specification">
                    <div class="spec">
                      <h3>Overall Cabin Length</h3>
                      <p>5.3 meters</p>
                    </div>
                    <div class="spec">
                      <h3>Cabin Height</h3>
                      <p>1.7 meters</p>
                    </div>
                    <div class="spec">
                      <h3>Cabin Width</h3>
                      <p>1.8 meters</p>
                    </div>
                    <div class="spec">
                      <h3>Baggage Volume</h3>
                      <p>136 kg</p>
                    </div>
                    <div class="spec">
                      <h3>Passenger Capacity</h3>
                      <p>7</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-7 col-sm-6 col-xs-12">
              <div class="range_map_con">
                <h2>Range Map</h2>
                <img src="http://d3tfanr7troppj.cloudfront.net/static_files/images/000/000/894/original/avanti_rangemap.png?1475574678" alt="" class="img-responsive">
                <div class="row">
                  <div class="col-md-5 col-sm-6 col-xs-4">
                    <h3>Range in Distance</h3>
                    <p>2797 kms</p>
                  </div>
                  <div class="col-md-5 col-sm-6 col-xs-4">
                    <h3>Crew</h3>
                    <p>2</p>
                  </div>
                  <div class="col-md-2 col-sm-6 col-xs-4">
                    <h3>Speed</h3>
                    <p>318 nm/hr</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="clearfix"></div>
          </div>
        </div>
        <!-- detail finish-->
      </div>
      <!-- 2 fleet finish-->
    </div>
  </div>
</div>