$main-green-color: rgb(70, 217, 191);
$main-red-color: rgb(241, 92, 92);
$sky-blue-color: rgb(31, 141, 212);
$main-yellow-color: rgb(237, 202, 0);
$main-orange-color: rgb(187, 83, 0);
$dark-blue-color: rgb(5, 34, 71);
$gray-color: rgb(173, 182, 181);
$main-blue-color:rgb(5, 81, 139);

//change your password page
.forget-password-main{
  width: 100%;
  h3.main-heading{
    margin:10px auto 40px auto;
    color:$dark-blue-color;
    border:0;
    text-align:center;
    font-size:25px;
    padding:5px 10px 13px 10px;
    max-width:800px;
    border-bottom:1px solid #cccccc;
    position:relative;
    background-color:transparent;
    text-transform:uppercase;
  }
  h3.main-heading:after{
    content:"";
    display:inline-block;
    width:20px;
    height:20px;
    background-color:$main-green-color;
    position:absolute;
    border-radius:50%;
    border:3px solid #ffffff;
    bottom:-10px;
    left:48%;
  }
  .form-inputs{
    padding: 0 15px;
    .textfield{
      margin: 0;
    }
  }
  .form-actions{
    padding: 0 15px;
    .change_btn{
      background: $main-blue-color;
      padding: 15px;
      border: 0px;
      margin: 20px 0;
      width: 100%;
      color: #ffffff;
    }
  }
  .login-signup-con{
    padding: 0 15px;
    .change-pass-link{
      width: 50%;
      display: inline-block;
      float: left;
      padding: 15px;
      text-align: center;
      background: #0274b3;
      color: #ffffff;
    }
    .blue-color{
      background: $dark-blue-color;
    }
    .red-color{
      background: $main-red-color;
    }
  }
}