<div class="row">
  <div class="col-sm-12 background-blue" style="margin-top: -20px; min-height: 600px">
    <div class="row">
      <div class="col-sm-8">
        <h1 class="text-white text-center main-heading">Affordable Seats on Private planes</h1>
        <h4 class="text-white text-center text-light">Booking a private plane was never so easy. Pay only for seats that you occupy.</h4>
        <h4 class="text-white text-center text-light">No ferry leg charge, no some other charge and so onnnn lorem ipsum</h4>
        <div class="text-center">
          <%= link_to 'Learn More', '#', class: 'btn btn-blue btn-lg' %>
          <%= link_to 'View Trips', '/jetsteals/list', class: 'btn btn-blue btn-lg' %>
        </div>
        <div class="text-center row" style="margin-top: 50px">
          <div class="col-sm-2"></div>
          <div class="col-sm-8">
            <form action="">
                <input type="email" class="subscribe-field text-center" placeholder="Subscribe with email to get best deal updates">
                <input type="submit" value="Go" class="btn btn-blue">
            </form>
          </div>
          <div class="col-sm-2"></div>
        </div>
      </div>
      <div class="col-sm-4 text-center">
        <i class="fa fa-plane plane-image"></i>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12" style="padding: 50px 100px" id="scene">
        <ul class="list-inline layer" data-depth="-0.50">
          <li class="text-center">
            <ul class="list-unstyled">
              <li><i style="font-size: 40px" class="fa fa-user-times"></i></li>
              <li><p class="text-center text-light">No login hassel</p></li>
            </ul>
          </li>
          <li>
            <i class="fa fa-arrow-right"></i>
          </li>
          <li class="text-center">
            <ul class="list-unstyled">
              <li><i style="font-size: 40px" class="fa fa-search"></i></li>
              <li><p class="text-center text-light">Search for your trip</p></li>
            </ul>
          </li>
          <li>
            <i class="fa fa-arrow-right"></i>
          </li>
          <li class="text-center">
            <ul class="list-unstyled">
              <li><i style="font-size: 40px" class="fa fa-space-shuttle"></i></li>
              <li><p class="text-center text-light">Chose a plane</p></li>
            </ul>
          </li>
          <li>
            <i class="fa fa-arrow-right"></i>
          </li>
          <li class="text-center">
            <ul class="list-unstyled">
              <li><i style="font-size: 40px" class="fa fa-tag"></i></li>
              <li><p class="text-center text-light">Book your seats</p></li>
            </ul>
          </li>
          <li>
            <i class="fa fa-arrow-right"></i>
          </li>
          <li class="text-center">
            <ul class="list-unstyled">
              <li><i style="font-size: 40px" class="fa fa-smile-o"></i></li>
              <li><p class="text-center text-light">Leave rest on us</p></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>