<div class="row" ng-controller="OperatorController as ctrl">
  <div class="col-sm-2">
    <%= render partial: '/organisations/shared/sidebar' %>
  </div>
  <div class="col-sm-10">
    <div class="col-sm-6">
      <div class="col-sm-12">
        <div class="col-sm-6">
          <label for="email">Email</label>
        </div>
        <div class="col-sm-6">
          {{ctrl.operator.email}}
        </div>
      </div>
      <div class="col-sm-12">
        <div class="col-sm-6">
          <label for="full_name">Full Name</label>
        </div>
        <div class="col-sm-6">
          {{ctrl.operator.full_name}}
        </div>
      </div>
      <div class="col-sm-12">
        <div class="col-sm-6">
          <label for="roles">Roles</label>
        </div>
        <div class="col-sm-6">

            <!--<div>-->
              <!--<label>-->
                <!--<input type="checkbox" ng-checked="ctrl.operator.roles.indexOf(item) >= 0" ng-model="Has_role" ng-click=" ctrl.roles = ctrl.change_roles(Has_role, item)">-->
              <!--</label>-->
              <!--{{item}}-->
            <!--</div>-->
              <!--<label class="checkbox-inline">-->
                <!--<input type="checkbox" ng-model="value" ng-change="ctrl.change_roles(value)" ng-checked="ctrl.operator.roles.indexOf(item) >= 0"> {{item}}-->
              <!--</label>-->

            <!--<div class="btn-group">-->
              <!--<label class="btn btn-primary" ng-model="checkModel.item" uib-btn-checkbox ng-repeat="item in ctrl.roles">{{item}}</label>-->
            <!--</div>-->
          <h4>Checkbox</h4>
          <pre>Model: {{ctrl.roles}}</pre>
          <pre>Results: {{checkResults}}</pre>
          <div class="btn-group">
            <label class="btn btn-primary" ng-model="ctrl.roles[0]" uib-btn-checkbox>{{ctrl.roles[0]}}</label>
            <label class="btn btn-primary" ng-model="ctrl.roles[1]" uib-btn-checkbox>{{ctrl.roles[1]}}</label>
            <!--<label class="btn btn-primary" ng-model="checkModel.right" uib-btn-checkbox>Right</label>-->
          </div>
        </div>
      </div>
      <div class="col-sm-12">
        <a ng-click="ctrl.update()" class="btn btn-primary">Save</a>
      </div>
    </div>
    <div class="col-sm-6"></div>
  </div>
</div>