<div class="row" ng-controller="ForgotPasswordController as ctrl">
  <div class="col-sm-4"></div>
  <div class="col-sm-4">
    <fieldset>
      <legend>Forgot Password</legend>
      <p>You'll receive an email with further instructions.</p>
      <form ng-submit="ctrl.create()">
        <div class="field">
          <label for="email">Email</label>
          <input type="email" class="form-control" id="email" ng-model="ctrl.email">
        </div>
        <div class="field margin-top">
          <input type="submit" value="Send Instructions" class="btn btn-primary">
        </div>
      </form>
    </fieldset>
  </div>
  <div class="col-sm-4"></div>
</div>