<div class="row" style="padding-top: 10px" ng-controller="OperatorController as ctrl">
  <div class="col-sm-12">
    <div class="row">
      <div class="col-sm-4">
        <h3>New Operator</h3>
        <ul class="list-unstyled">
          <li>Start by adding new operator to your JetSetGo organisation portal.</li>
          <li>Every operator can be given a different access level which is based on their designation in organisation.</li>
          <li></li>
        </ul>
      </div>
      <div class="col-sm-4">
        <fieldset>
          <form ng-submit="ctrl.create()">
            <div class="field">
              <label for="first_name">First name</label>
              <input type="text" ng-model="ctrl.operator.first_name" class="form-control">
            </div>
            <div class="field">
              <label for="last_name">Last name</label>
              <input type="text" class="form-control" ng-model="ctrl.operator.last_name">
            </div>
            <div class="field">
              <label for="designation">Designation</label>
              <select id="designation" class="form-control" ng-model="ctrl.operator.designation">
                <option value="ceo">CEO</option>
                <option value="coo">COO</option>
                <option value="editor">Editor</option>
                <option value="finance">Finance</option>
                <option value="Manager">Manager</option>
              </select>
            </div>
            <div class="field">
              <label for="phone">Phone</label>
              <input type="text" class="form-control" ng-model="ctrl.operator.phone">
            </div>
            <div class="field">
              <label for="email">Email</label>
              <input type="text" class="form-control" ng-model="ctrl.operator.email">
            </div>
            <div class="field">
              <label for="password">Password</label>
              <input type="password" class="form-control" ng-model="ctrl.operator.password">
            </div>
            <div class="field">
              <input type="submit" value="Create"  class="btn btn-primary margin-top">
              <%= link_to 'Back', organisations_settings_path, class: 'btn btn-primary margin-top' %>
            </div>
          </form>
        </fieldset>
      </div>
      <div class="col-sm-4">
        <h4>Each designation has different access levels.</h4>
        <table class="table table-striped">
          <thead>
          <tr class="info">
            <th>Designation</th>
            <th>Access</th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <th>Admin</th>
            <td>
              <ul>
                <li>has full access</li>
                <li>can add/remove operators</li>
              </ul>
            </td>
          </tr>
          <tr>
            <th>CEO</th>
            <td>
              <ul>
                <li>has full access</li>
              </ul>
            </td>
          </tr>
          <tr>
            <th>COO</th>
            <td>
              <ul>
                <li>can add trip</li>
                <li>can add unavailability</li>
                <li>can access forum</li>
                <li>can view/edit schedule</li>
                <li>can view/edit aircrafts</li>
              </ul>
            </td>
          </tr>
          <tr>
            <th>Editor</th>
            <td>
              <ul>
                <li>can view schedule</li>
                <li>can add/remove trips</li>
                <li>can add/remove unavailabilities</li>
                <li>can access forum</li>
              </ul>
            </td>
          </tr>
          <tr>
            <th>Finance</th>
            <td>
              <ul>
                <li>can view schedule</li>
              </ul>
            </td>
          </tr>
          <tr>
            <th>Manager</th>
            <td>
              <ul>
                <li>can view schedule</li>
                <li>can add/remove operators</li>
              </ul>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>