<div class="row" ng-controller="ProfileController as ctrl">
  <div class="profile-content-main">
    <h3 class="main-heading">Profile</h3>
    <div class="col-sm-1"></div>
    <div class="col-sm-10">
      <div class="profile-main-con">
        <a class="edit-icon" ng-href="/organisations/operators/{{ctrl.operator.id}}/edit_profile">
          <i class="fa fa-pencil" aria-hidden="true"></i> edit
        </a>
        <div class="col-md-3 col-sm-3 col-xs-12">
          <!--<img class="img-responsive" src="http://d3tfanr7troppj.cloudfront.net/static_files/images/000/000/001/original/Screenshot_at_Jan_03_22-40-59.png?1451904897" />-->
          <div class="field" ng-show="ctrl.operator.image">
            <div class="operator_image_holder">
              <img class="operator_img" style="width:100%;" src="" ng-src="{{ctrl.operator.image}}" alt="">
            </div>
          </div>
          <div class="field">
            <a href="" ng-file-select accept=".jpg,.png" ng-file-change="ctrl.uploadOperatorImage($files, ctrl.operator)">
              <i class="fa fa-picture-o"></i> Add/Edit Image
            </a>
          </div>
        </div>
        <div class="col-md-9 col-sm-9 col-xs-12">
          <h2 class="full-name">{{ctrl.operator.full_name}}</h2>
          <div class="row text-con">
            <div class="col-md-3 col-sm-4 col-xs-12">
            <label>Email : </label>
            </div>
            <div class="col-md-9 col-sm-8 col-xs-12">
              <h3 class="email-no">{{ctrl.operator.email}}</h3>
            </div>
            <div class="clearfix"></div>
          </div>
          <div class="row text-con">
            <div class="col-md-3 col-sm-4 col-xs-12">
            <label>Phone : </label>
            </div>
            <div class="col-md-9 col-sm-8 col-xs-12">
              <h3 class="email-no">{{ctrl.operator.phone}}</h3>
            </div>
            <div class="clearfix"></div>
          </div>
          <div class="row text-con">
            <div class="col-md-3 col-sm-4 col-xs-12">
            <label>Organisation : </label>
            </div>
            <div class="col-md-9 col-sm-8 col-xs-12">
              <h3 class="email-no">{{ctrl.operator.organisation.name}}</h3>
            </div>
            <div class="clearfix"></div>
          </div>
          <div class="row text-con">
            <div class="col-md-3 col-sm-4 col-xs-12">
            <label>Designation : </label>
            </div>
            <div class="col-md-9 col-sm-8 col-xs-12">
              <h3 class="email-no">{{ctrl.operator.designation}}</h3>
            </div>
            <div class="clearfix"></div>
          </div>
        </div>
        <div class="clearfix"></div>
      </div>
    </div>
    <div class="clearfix"></div>
  </div>
</div>

  <!-- <label>First Name </label>
    <div>{{ctrl.operator.first_name}}</div>
    <label>Last Name </label>
    <div>{{ctrl.operator.last_name}}</div> 
    <label>Full Name </label>
    <label>Phone </label>
    <label>Email</label>
    <label>Organisation </label>
    <label>Designation </label>  -->