<div class="row" ng-controller="ProfileController as ctrl">
  <div class="col-sm-4"></div>
  <div class="col-sm-4">
    <fieldset>
      <legend>Profile</legend>
    </fieldset>
    <label>First Name </label>
    <div>{{ctrl.operator.first_name}}</div>
    <label>Last Name </label>
    <div>{{ctrl.operator.last_name}}</div>
    <label>Full Name </label>
    <div>{{ctrl.operator.full_name}}</div>
    <label>Phone </label>
    <div>{{ctrl.operator.phone}}</div>
    <label>Email</label>
    <div>{{ctrl.operator.email}}</div>
    <label>Organisation </label>
    <div>{{ctrl.operator.organisation.name}}</div>
    <label>Designation </label>
    <div>{{ctrl.operator.designation }}</div>
  </div>
  <div class="col-sm-4"></div>
</div>