<div class="col-sm-6 form-colomn">
	<label for="tail_number">Tail number</label>
	<input class="form-control" type="text" id="tail_number" ng-model="ctrl.aircraft.tail_number">
</div>
<div class="col-sm-6 form-colomn">
	<label for="aircraft_type">Aircraft type</label>
	<select class="form-control" id="aircraft_type" ng-model="ctrl.aircraft.aircraft_type_id" ng-options="aircraft_type.id as aircraft_type.name for aircraft_type in ctrl.aircraft_types"></select>
</div>
<div class="col-sm-6 form-colomn">
	<label for="seating_capacity">Seating capacity</label>
	<select ng-options="n for n in <%= (1..30).to_a.to_s %>" id="seating_capacity" class="form-control" ng-model="ctrl.aircraft.seating_capacity"></select>
</div>
<div class="col-sm-6 form-colomn">
	<label for="baggage_capacity_in_kg">Baggage capacity in kg</label>
	<input type="number" id="baggage_capacity_in_kg" class="form-control" ng-model="ctrl.aircraft.baggage_capacity_in_kg">
</div>
<div class="col-sm-6 form-colomn">
	<label for="runway_field_length_in_feet">Runway field length in feet</label>
	<input type="number" id="runway_field_length_in_feet" class="form-control" ng-model="ctrl.aircraft.runway_field_length_in_feet">
</div>
<div class="col-sm-6 form-colomn">
	<label for="number_of_toilets">Number of toilets</label>
	<select ng-options="n for n in [0,1,2,3]" id="number_of_toilets" class="form-control" ng-model="ctrl.aircraft.number_of_toilets"></select>
</div>
<div class="col-sm-6 form-colomn">
	<label for="cabin_width_in_meters">Cabin width in meters</label>
	<input type="number" id="cabin_width_in_meters" class="form-control" ng-model="ctrl.aircraft.cabin_width_in_meters">
</div>
<div class="col-sm-6 form-colomn">
	<label for="cabin_height_in_meters">Cabin height in meters</label>
	<input type="number" id="cabin_height_in_meters" class="form-control" ng-model="ctrl.aircraft.cabin_height_in_meters">
</div>
<div class="col-sm-6 form-colomn">
	<label for="crew">Number of crew</label>
	<select ng-options="n for n in [1,2,3,4,5]" id="crew" class="form-control" ng-model="ctrl.aircraft.crew"></select>
</div>
<div class="col-sm-6 form-colomn">
	<label for="wifi">wifi</label>
	<input type="checkbox" id="wifi" class="form-control checkbox-text" ng-model="ctrl.aircraft.wifi">
</div>
<div class="col-sm-6 form-colomn">
	<label for="phone">Phone</label>
	<input type="checkbox" id="phone" class="form-control checkbox-text" ng-model="ctrl.aircraft.phone">
</div>
<div class="col-sm-6 form-colomn">
	<label for="flight_attendant">Flight attendant</label>
	<input type="checkbox" id="flight_attendant" class="form-control checkbox-text" ng-model="ctrl.aircraft.flight_attendant">
</div>
<div class="col-sm-6 form-colomn">
	<label for="year_of_manufacture">Year of Manufacture</label>
	<input type="text" id="year_of_manufacture" class="form-control" ng-model="ctrl.aircraft.year_of_manufacture">
</div>
<div class="col-sm-6 form-colomn">
	<label for="medical_evac">Medical evac</label>
	<input type="checkbox" id="medical_evac" class="form-control checkbox-text" ng-model="ctrl.aircraft.medical_evac">
</div>
<div class="col-sm-6 form-colomn">
	<label for="cruise_speed_in_nm_per_hour">Cruise speed in nm per hour</label>
	<input type="number" id="cruise_speed_in_nm_per_hour" class="form-control" ng-model="ctrl.aircraft.cruise_speed_in_nm_per_hour">
</div>
<div class="col-sm-6 form-colomn">
	<label for="flying_range_in_nm">Flying range in nm</label>
	<input type="number" id="flying_range_in_nm" class="form-control" ng-model="ctrl.aircraft.flying_range_in_nm">
</div>
<div class="col-sm-6 form-colomn">
	<label for="per_hour_cost">Cost per hour</label>
	<input type="number" id="per_hour_cost" class="form-control" ng-model="ctrl.aircraft.per_hour_cost">
</div>
<div class="col-sm-6 form-colomn">
	<label for="catering_cost_per_pax">Catering cost per pax</label>
	<input type="number" id="catering_cost_per_pax" class="form-control" ng-model="ctrl.aircraft.catering_cost_per_pax">
</div>
