<div class="row" ng-controller="AircraftsController as ctrl">
  <div class="col-sm-12 aircraft-content-main">
    <h3 class="main-heading aircrafts_">
      <!-- <i class="organisation-main-icon aircraft-icon"></i> <span style="position: relative; top: -6px;"></span--> 
      Aircrafts      
    </h3>
    <%= link_to '/organisations/aircrafts/new', class: 'pull-right, add-link' do %>
          <i class="fa fa-plus"></i> Add aircraft
      <%- end %>
    <uib-accordion>
      <uib-accordion-group heading="{{aircraft.tail_number}}" ng-repeat="aircraft in ctrl.aircrafts">
        <div class="col-sm-3 col-xs-12 aircraft_left-img">
        <div class="aircraft_image_holder" ng-repeat="image in aircraft.aircraft_images">
          <i ng-click="ctrl.deleteAircraftImage(image, aircraft)" class="fa fa-times"></i>
          <img class="aircraft_img" src="" ng-src="{{image.url}}" alt="">
        </div>
        </div>
        <div class="col-sm-9 col-xs-12">
          <div class="table table-striped right-main-listing">
            <div class="row">
              <div class="col-xs-12">
                <div class="listing-con">
                  <a href="" ng-file-select accept=".jpg,.png" ng-file-change="ctrl.uploadAircraftImage($files, aircraft)" ><i class="fa fa-picture-o"></i> Add aircraft image</a>
                  <a class="pull-right" ng-href="/organisations/aircrafts/{{aircraft.id}}/edit"><i class="fa fa-pencil"></i></a>
                </div>
                <div class="listing-con">
                  <div class="row">
                    <div class="col-sm-6 col-xs-12 res-btm-border">
                      <h5>Aircraft type</h5>
                      <p>{{aircraft.aircraft_type.name}}</p>
                    </div>
                    <div class="col-sm-6 col-xs-12 res-btm-border">
                      <h5>Base Airport</h5>
                      <p>{{aircraft.base_airport.name}}</p>
                    </div>
                    <div class="clearfix"></div>
                  </div>
                </div>
                <div class="listing-con">
                  <div class="row">
                    <div class="col-sm-6 col-xs-12 res-btm-border">
                      <h5>Seating capacity</h5>
                      <p>{{aircraft.seating_capacity}}</p>
                    </div>
                    <div class="col-sm-6 col-xs-12 res-btm-border">
                      <h5>Baggage capacity in kg</h5>
                      <p>{{aircraft.baggage_capacity_in_kg}}</p>
                    </div>
                    <div class="clearfix"></div>
                  </div>
                </div>
                <div class="listing-con">
                  <div class="row">
                    <div class="col-sm-6 col-xs-12 res-btm-border">
                      <h5>Runway field length in feet</h5>
                      <p>{{aircraft.runway_field_length_in_feet}}</p>
                    </div>
                    <div class="col-sm-6 col-xs-12 res-btm-border">
                      <h5>Number of toilets</h5>
                      <p>{{aircraft.number_of_toilets}}</p>
                    </div>
                    <div class="clearfix"></div>
                  </div>
                </div>
                <div class="listing-con">
                  <div class="row">
                    <div class="col-sm-6 col-xs-12 res-btm-border">
                      <h5>Cabin width in meters</h5>
                      <p>{{aircraft.cabin_width_in_meters}}</p>
                    </div>
                    <div class="col-sm-6 col-xs-12 res-btm-border">
                      <h5>Cabin height in meters</h5>
                      <p>{{aircraft.cabin_height_in_meters}}</p>
                    </div>
                    <div class="clearfix"></div>
                  </div>
                </div>
                <div class="listing-con">
                  <div class="row">
                    <div class="col-sm-6 col-xs-12 res-btm-border">
                      <h5>Crew</h5>
                      <p>{{aircraft.crew}}</p>
                    </div>
                    <div class="col-sm-6 col-xs-12 res-btm-border">
                      <h5>Wifi</h5>
                      <p><span class="fa" ng-class="aircraft.wifi ? 'fa-check-circle green-check-icon':'fa-times-circle red-cross-icon'"></span></p>
                    </div>
                    <div class="clearfix"></div>
                  </div>
                </div>
                <div class="listing-con">
                  <div class="row">
                    <div class="col-sm-6 col-xs-12 res-btm-border">
                      <h5>Phone</h5>
                      <p><span class="fa" ng-class="aircraft.phone ? 'fa-check-circle green-check-icon':'fa-times-circle red-cross-icon'"></span></p>
                    </div>
                    <div class="col-sm-6 col-xs-12 res-btm-border">
                      <h5>Flight attendant</h5>
                      <p><span class="fa" ng-class="aircraft.flight_attendant ? 'fa-check-circle green-check-icon':'fa-times-circle red-cross-icon'"></span></p>
                    </div>
                    <div class="clearfix"></div>
                  </div>
                </div>
                <div class="listing-con">
                  <div class="row">
                    <div class="col-sm-6 col-xs-12 res-btm-border">
                      <h5>Medical evac</h5>
                      <p><span class="fa" ng-class="aircraft.medical_evac ? 'fa-check-circle green-check-icon':'fa-times-circle red-cross-icon'"></span></p>
                    </div>
                    <div class="col-sm-6 col-xs-12 res-btm-border">
                      <h5>Year of manufacture</h5>
                      <p>{{aircraft.year_of_manufacture}}</p>
                    </div>
                    <div class="clearfix"></div>
                  </div>
                </div>
                <div class="listing-con">
                  <div class="row">
                    <div class="col-sm-6 col-xs-12 res-btm-border">
                      <h5>Cruise speed in nm per hour</h5>
                      <p>{{aircraft.cruise_speed_in_nm_per_hour}}</p>
                    </div>
                    <div class="col-sm-6 col-xs-12 res-btm-border">
                      <h5>Flying range in nm</h5>
                      <p>{{aircraft.flying_range_in_nm}}</p>
                    </div>
                    <div class="clearfix"></div>
                  </div>
                </div>
                <div class="listing-con">
                  <div class="row">
                    <div class="col-sm-6 col-xs-12 res-btm-border">
                      <h5>Cost per hour</h5>
                      <p>{{aircraft.per_hour_cost}}</p>
                    </div>
                    <div class="col-sm-6 col-xs-12">
                      
                    </div>
                    <div class="clearfix"></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        <!-- <table class="table table-striped">
          <tbody>
          <tr>
            <th>Aircraft type</th>
            <td>{{aircraft.aircraft_type.name}}</td>
            <th>Base Airport</th>
            <td>{{aircraft.base_airport.name}}</td>
          </tr>
          <tr>
            <th>Baggage capacity in kg</th>
            <td>{{aircraft.baggage_capacity_in_kg}}</td>
            <th>Seating capacity</th>
            <td>{{aircraft.seating_capacity}}</td>
          </tr>
          <tr>
            <th>Runway field length in feet</th>
            <td>{{aircraft.runway_field_length_in_feet}}</td>
            <th>Number of toilets</th>
            <td>{{aircraft.number_of_toilets}}</td>
          </tr>
          <tr>
            <th>Cabin width in meters</th>
            <td>{{aircraft.cabin_width_in_meters}}</td>
            <th>Cabin height in meters</th>
            <td>{{aircraft.cabin_height_in_meters}}</td>
          </tr>
          <tr>
            <th>Crew</th>
            <td>{{aircraft.crew}}</td>
            <th>Wifi</th>
            <td>{{aircraft.wifi}}</td>
          </tr>
          <tr>
            <th>Phone</th>
            <td>{{aircraft.phone}}</td>
            <th>Flight attendant</th>
            <td>{{aircraft.flight_attendant}}</td>
          </tr>
          <tr>
            <th>Year of manufacture</th>
            <td>{{aircraft.year_of_manufacture}}</td>
            <th>Medical evac</th>
            <td>{{aircraft.medical_evac}}</td>
          </tr>
          <tr>
            <th>Cruise speed in nm per hour</th>
            <td>{{aircraft.cruise_speed_in_nm_per_hour}}</td>
            <th>Flying range in nm</th>
            <td>{{aircraft.flying_range_in_nm}}</td>
          </tr>
          <tr>
            <th>Cost per hour</th>
            <td>{{aircraft.per_hour_cost}}</td>
            <th></th>
            <td></td>
          </tr>
          </tbody>
        </table> -->
        </div>
      </uib-accordion-group>
    </uib-accordion>
  </div>
</div>