<div class="row" ng-controller="AircraftController as ctrl">
	<div class="col-sm-2">
		<%= render partial: 'organisations/shared/sidebar' %>
	</div>
	<div class="col-sm-10 add-aircraft-main-con">
		<div class="row">
			<div class="col-sm-12">
				<h3 class="add-aircraft-heading">Add Aircraft Detail</h3>
			</div>
			<div class="col-sm-12">
				<div class="add-aircraft-from">
					<div class="row">
						<%= render partial: 'organisations/aircrafts/form' %>
					</div>
					<a ng-click="ctrl.create()" class="btn btn-primary save-btn">Save</a>
				</div>
			</div>
		</div>
	</div>
</div>