<%
   merchant_data=''
   working_key='2A72B2C0655A08B7E63B89D33F5F12AA'  #Put in the 32 Bit Working Key provided by CCAVENUES.
   access_code='AVQT04CD88AD64TQDA'    #Put in the Access Code in quotes provided by CCAVENUES.

   p = {
       'merchant_id' => '63039',
       'order_id' => @jetsteal_contact_creator.cc_avenue_transaction.id.to_s,
       'amount' => @jetsteal_contact_creator.amount.to_s,
       'curreny' => 'INR',
       'redirect_url' => 'http://localhost:3000/transaction/ccavResponseHandler',
       'cancel_url' => 'http://localhost:3000/transaction/ccavResponseHandler',
       'language' => 'EN'
   }

   p.each do |key,value|
     merchant_data += key+'='+value+'&'
   end

   crypto = Crypto.new
   encrypted_data = crypto.encrypt(merchant_data, working_key)
%>
<form method="post" name="redirect" action="https://test.ccavenue.com/transaction/transaction.do?command=initiateTransaction">
  <input type="hidden" name="encRequest" value="<%=encrypted_data%>" />
  <input type="hidden" name="access_code" value="<%=access_code%>" />
</form>
<script type="text/javascript">document.redirect.submit();</script>