<!--Footer Start-->
<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-4 col-sm-6 member-con">
        <h4>Member of</h4>
        <p><img src="http://d3tfanr7troppj.cloudfront.net/static_files/images/000/000/713/original/baoalogo.png?1472207861" class="img-responsive" alt="" /></p>
      </div>
      <div class="col-md-4 col-sm-6 col-xs-12 logo-con">
        <div class="footer-logo-con">
          <img class="footer-logo" src="http://d3tfanr7troppj.cloudfront.net/static_files/images/000/000/160/original/jsg_logo_footer.png?1460977966" alt="" />
        </div>
        <p>Delhi | Mumbai | Bengaluru | Dubai | New York</p>
      </div>
      <div class="col-md-offset-2 col-md-2 col-sm-6 col-xs-12 followus-con">
        <h4>Follow us</h4>
        <ul>

          <li><a href="https://www.facebook.com/Jetsetgo.jetsetgo/" target="_blank"><img src="http://d3tfanr7troppj.cloudfront.net/static_files/images/000/000/396/original/facebook.png?1468581461" alt=""></a></li>
          <li><a href="https://www.linkedin.com/company/jet-set-go" target="_blank"><img src="http://d3tfanr7troppj.cloudfront.net/static_files/images/000/000/395/original/linked.png?1468581445" alt=""></a></li>
          <li><a href="https://twitter.com/jetsetgoin" target="_blank"><img src="http://d3tfanr7troppj.cloudfront.net/static_files/images/000/000/397/original/twitter.png?1468581475" alt=""></a></li>
          <li class="no-margin"><a href="https://www.instagram.com/jetsetgoindia/" target="_blank"><img src="http://d3tfanr7troppj.cloudfront.net/static_files/images/000/000/916/original/instagram-icon.png?1476341461" alt=""></a></li>
          <div class="clearfix"></div>
        </ul>
      </div>
      <div class="col-xs-12 services-con">
        <ul>
          <li><a href="/about_us">About Us</a></li>
          <li><a href="/jetsteals/list" target="_self">JetSteals&trade;</a></li>
          <li><a href="/media">Media</a></li>
          <li><a href="/contact_us">Contact Us</a></li>
          <!-- <li><a href="/our_edge">Our Edge</a></li> -->
          <!-- <li><a href="jet_set_wed">JetSetWed&trade;</a></li> -->
          <!-- <li><a href="heli_set_go">HeliSetGo&trade;</a></li> -->
          <!-- <li><a href="jet_set_yatra">JetSetYatra&trade;</a></li> -->
          <!-- <li><a href="/jet_set_rescue">JetSetRescue&trade;</a></li> -->
          <div class="clearfix"></div>
        </ul>
      </div>
      <div class="col-xs-12 copytext-con">
        <p>© 2015 All right reserved by JetSetGo Aviation Services Private Limited. <a href="/terms_of_use">Terms & Conditions</a> | <a href="/privacy_policy">Privacy Policy</a> |
          <a href="/organisations" target="_self">Operator Login</a></p>
      </div>
    </div>
  </div>
</footer>
<!--Footer finish-->