<!--Footer Start-->
<footer>
  <div class="container">
    <div class="col-md-4 col-sm-6 member-con">
      <h4>Member of</h4>
      <p><img src="http://d3tfanr7troppj.cloudfront.net/static_files/images/000/000/158/original/baoa_logo.png?1460972612" alt="" /></p>
    </div>
    <div class="col-md-4 col-sm-6 col-xs-12 logo-con">
      <div class="footer-logo-con">
        <img class="footer-logo" src="http://d3tfanr7troppj.cloudfront.net/static_files/images/000/000/160/original/jsg_logo_footer.png?1460977966" alt="" />
      </div>
      <p>Delhi | Mumbai | Bengaluru | Dubai | New York</p>
    </div>
    <div class="col-md-4 col-sm-6 services-con">
      <h4>Services</h4>
      <ul>
        <li class="pull-left"><a href="/jetsteals/list">JetSteal<span>&trade;</span></a></li>
        <li class="pull-right no-margin"><a href="/jet_set_wed">JetSetWed<span>&trade;</span></a></li>
        <li class="pull-left"><a href="/heli_set_go">HeliSetGo<span>&trade;</span></a></li>
        <li class="pull-right no-margin"><a href="/jet_set_yatra">JetSetYatra<span>&trade;</span></a></li>
        <li class="pull-left"><a href="/organisations">JetYouOwn<span>&trade;</span></a></li>
        <li class="pull-right no-margin"><a href="/media">Media</a></li>
        <li class="pull-left"><a href="/jet_setters">JetSetter<span>&trade;</span></a></li>
        <li class="pull-right no-margin"><a href="/contact_us">Contact Us<span>&trade;</span></a></li>
        <li class="pull-left"><a href="/our_edge">Our Edge</a></li>
        <li class="pull-right no-margin"><a href="/join_us">Join Us</a></li>
      </ul>
    </div>
    <div class="col-md-12 col-sm-6 col-xs-12 social-media-con">
      <p>
        <span>Follow us</span>
        <a href="https://www.facebook.com/Jetsetgo.jetsetgo/" target="_blank"><i class="fa fa-facebook"></i></a>
        <a href="https://twitter.com/jetsetgoin" target="_blank"><i class="fa fa-twitter"></i></a>
        <a href="https://www.linkedin.com/company/jet-set-go" target="_blank"><i class="fa fa-linkedin"></i></a>
        <a href="#"><i class="fa fa-instagram"></i></a></p>
    </div>
    <div class="col-xs-12 copytext-con">
      <p>© 2015 All right reserved by JetSetGo Aviation Services Private Limited. <a href="/terms_of_use">Terms</a> | <a href="/privacy_policy">Privacy</a> |
        <a href="/organisations">Operator Login</a></p>
    </div>
    <div class="clearfix"></div>
  </div>
</footer>
  <!--Footer finish--> 