<!--Footer Start-->
<footer>
  <div class="col-md-4 col-sm-6 member-con">
    <h4>Member of</h4>
    <p><img src="http://d3tfanr7troppj.cloudfront.net/static_files/images/000/000/158/original/baoa_logo.png?1460972612" alt="" /></p>
    <form class="newsletter-form-con" action="">
      <div class="row">
        <div class="col-sm-4 col-xs-12">
          <p>Newsletter</p>
        </div>
        <div class="col-sm-8 col-xs-12">
          <input type="text" class="newsletter-textfield" />
          <button class="newsletter-btn"><i class="fa fa-angle-right" aria-hidden="true"></i></button>
        </div>
        <div class="clearfix"></div>
      </div>
    </form>
  </div>
  <div class="col-md-4 col-sm-6 col-xs-12 logo-con">
    <div class="footer-logo-con">
      <img class="footer-logo" src="http://d3tfanr7troppj.cloudfront.net/static_files/images/000/000/160/original/jsg_logo_footer.png?1460977966" alt="" />
    </div>
    <p>Delhi | Mumbai | Bengaluru | Dubai | New York</p>
  </div>
  <div class="col-md-4 col-sm-6 services-con">
    <h4>Services</h4>
    <ul>
      <li class="pull-left"><a href="#">JetSteal<span>&trade;</span></a></li>
      <li class="pull-right no-margin"><a href="#">JetSetWed<span>&trade;</span></a></li>
      <li class="pull-left"><a href="#">HeliSetGo<span>&trade;</span></a></li>
      <li class="pull-right no-margin"><a href="#">JetSetYatra<span>&trade;</span></a></li>
      <li class="pull-left"><a href="#">JetYouOwn<span>&trade;</span></a></li>
      <li class="pull-right no-margin"><a href="#">Media</a></li>
      <li class="pull-left"><a href="#">JetSetter<span>&trade;</span></a></li>
      <li class="pull-right no-margin"><a href="#">Contact Us<span>&trade;</span></a></li>
      <li class="pull-left"><a href="#">Our Edge</a></li>
      <li class="pull-right no-margin"><a href="#">Join Us</a></li>
    </ul>
  </div>
  <div class="col-md-12 col-sm-6 col-xs-12 social-media-con">
    <p><span>Follow us</span> <a href="#"><i class="fa fa-facebook"></i></a> <a href="#"><i class="fa fa-twitter"></i></a>
      <a href="#"><i class="fa fa-linkedin"></i></a> <a href="#"><i class="fa fa-instagram"></i></a></p>
  </div>
  <div class="col-xs-12 copytext-con">
    <p>© 2015 All right reserved by JetSetGo Aviation Services Private Limited. <a href="#">Terms</a> | <a href="">Privacy</a> |
      <a href="#">Operator Login</a></p>
  </div>
  <div class="clearfix"></div>
</footer>
  <!--Footer finish--> 