<!--Footer Start-->
<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-offset-9 col-md-3 col-sm-offset-6 col-sm-6 col-xs-12 member-con">
        <h4>Member of</h4>
        <p><img src="http://d3tfanr7troppj.cloudfront.net/static_files/images/000/000/713/original/baoalogo.png?1472207861" class="img-responsive" alt="" /></p>
      </div>

      <div class="col-md-3 col-sm-6 col-xs-12 social-media-section">
        <div class="gap"></div>
        <div class="gap"></div>
        <div class="gap"></div>
        <h4>Find us On</h4>
        <ul class="follow-us-icon">
          <li><a href="https://twitter.com/jetsetgoin" target="_blank"><i class="fa fa-twitter"></i></a></li>
          <li><a href="https://www.facebook.com/Jetsetgo.jetsetgo/" target="_blank"><i class="fa fa-facebook"></i></a></li>
          <li><a href="https://www.instagram.com/jetsetgoindia/" target="_blank"><i class="fa fa-instagram"></i></a></li>
          <li class="no-margin"><a href="https://www.linkedin.com/company/jet-set-go" target="_blank"><i class="fa fa-linkedin"></i></a></li>
          <div class="clearfix"></div>
        </ul>
      </div>
      <div class="col-md-6 col-sm-6 col-xs-12 logo-con">
        <div class="gap"></div>
        <div class="gap"></div>
        <div class="gap"></div>
        <div class="footer-logo-con">
          <img class="footer-logo" src="http://d3tfanr7troppj.cloudfront.net/static_files/images/000/001/134/original/logo.png?1484213813" alt="" />
        </div>
        <p>Delhi | Mumbai | Bengaluru | Dubai | New York</p>
      </div>
    </div>
  </div>
  <div class="footer-bottom">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 copytext-con">
          <p>
            © 2015 All right reserved by <span>JetSetGo</span> Aviation Services Private Limited.
            <a href="/terms_of_use">Terms & Conditions</a> | <a href="/privacy_policy">Privacy Policy</a> |
            <a href="/organisations" target="_self">Operator Login</a>
          </p>
        </div>
      </div>
    </div>
  </div>
</footer>
<!--Footer finish-->