<!--Footer Start-->
<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-3 col-sm-6 col-xs-12 about-con">
        <h4>ABOUT US</h4>
        <p>PRIVATE FLYING RE-DEFINED <br> JetSetGo is an exciting venture that will revolutionize the private aviation business in the region by re-defining the experience for private charter customers through end to end control of the value chain with collaborative  partnerships and technology at its core.</p>
        <a href="/about_us">READ MORE</a>
      </div>
      <div class="col-md-6 col-sm-6 col-xs-12 logo-con">
        <div class="footer-logo-con">
          <img class="footer-logo" src="http://d3tfanr7troppj.cloudfront.net/static_files/images/000/001/155/original/logo_golden.png?1484652536" alt="" />
        </div>
        <p>Delhi | Mumbai | Bengaluru | Dubai | New York</p>
      </div>
      <div class="col-md-3 col-sm-6 member-con">
        <h4>Member of</h4>
        <p><img src="http://d3tfanr7troppj.cloudfront.net/static_files/images/000/000/713/original/baoalogo.png?1472207861" class="img-responsive" alt="" /></p>
        <ul class="follow-us-icon">
          <li><a href="https://twitter.com/jetsetgoin" target="_blank"><img src="http://d3tfanr7troppj.cloudfront.net/static_files/images/000/001/151/original/twitter_footer.png?1484651993" alt=""></a></li>
          <li><a href="https://www.facebook.com/Jetsetgo.jetsetgo/" target="_blank"><img src="http://d3tfanr7troppj.cloudfront.net/static_files/images/000/001/148/original/facebook_footer.png?1484651580" alt=""></a></li>
          <li><a href="https://www.instagram.com/jetsetgoindia/" target="_blank"><img src="http://d3tfanr7troppj.cloudfront.net/static_files/images/000/001/149/original/insta_footer.png?1484651965" alt=""></a></li>
          <li class="no-margin"><a href="https://www.linkedin.com/company/jet-set-go" target="_blank"><img src="http://d3tfanr7troppj.cloudfront.net/static_files/images/000/001/150/original/linked_footer.png?1484651981" alt=""></a></li>
          <div class="clearfix"></div>
        </ul>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-5 col-xs-12 copytext-con">
        <p>© 2015 All right reserved by JetSetGo Aviation Services Private Limited.</p>
      </div>
      <div class="col-sm-4 col-xs-12 copytext-con">
        <p>
          <a href="/terms_of_use">Terms</a> | <a href="/privacy_policy">Privacy</a> |
          <a href="/organisations" target="_self">Operator Login</a>
        </p>
      </div>
      <div class="col-sm-3 col-xs-12 services-con">
        <ul>
          <li><a href="/about_us">About Us</a></li>
          <li><a href="/jetsteals/list" target="_self">JetSteals&trade;</a></li>
          <li><a href="/media">Media</a></li>
          <li><a href="/contact_us">Contact Us</a></li>
          <!-- <li><a href="/our_edge">Our Edge</a></li> -->
          <!-- <li><a href="jet_set_wed">JetSetWed&trade;</a></li> -->
          <!-- <li><a href="heli_set_go">HeliSetGo&trade;</a></li> -->
          <!-- <li><a href="jet_set_yatra">JetSetYatra&trade;</a></li> -->
          <!-- <li><a href="/jet_set_rescue">JetSetRescue&trade;</a></li> -->
          <div class="clearfix"></div>
        </ul>
      </div>
    </div>
  </div>
</footer>
<!--Footer finish-->