<!--Footer Start-->
  <footer id="footer"> 
    <!--upper footer start-->
    <div class="upper_footer">
      <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 footer_widget_con">
      <div class="member-of-con">
      <h3>Member of</h3>
      <h3><img src="http://d3tfanr7troppj.cloudfront.net/static_files/images/000/000/085/original/footer-scnd-logo.png?1457331780" alt="" /></h3>
      </div>
      <div class="network-con">
      <h3> <div class="logo"><a href="#"><img src="http://d3tfanr7troppj.cloudfront.net/static_files/images/000/000/015/original/JSG-main-logo-db779e87994672c825f333c07a75d7d2.png?1452235728" alt="logo" class="img-responsive" border="0" /></a></div></h3>
      <p>Delhi | Mumbai | Bengaluru | Dubai | New York</p>
      </div>
      </div>
      
      <div class="col-lg-5 col-md-5 col-sm-6 col-xs-12 footer_widget_con">
        <h3>Serivces</h3>
        <ul>
          <li><a href="#">JetSteals™</a></li>
          <li class="nomargin"><a href="#">JetSetWed™</a></li>
          <li><a href="#">HeliSetGo™</a></li>
          <li class="nomargin"><a href="#">JetSetYatra™</a></li>
          <li><a href="#">JetYouOwn™</a></li>
          <li><a href="#">Media</a></li>
          <li><a href="#">JetSetters™</a></li>
          <li><a href="#">Contact Us</a></li>
          <li><a href="#">Our Edge</a></li>
          <li><a href="#">Join Us</a></li>
        </ul>
      </div>
      <div class="col-lg-2 col-md-2 col-xs-12 col-lg-offset-1 col-md-offset-1 col-sm-6 footer_widget_con">
        <h3>Find Us</h3>
        <ul class="social_media">
          <li><a href="#" class="fb"><i class="fa fa-facebook"></i></a></li>
          <li><a href="#" class="tw"><i class="fa fa-twitter"></i></a></li>
          <li><a href="#" class="in"><i class="fa fa-linkedin"></i></a></li>
        </ul>
      </div>
      <div class="clearfix"></div>
    </div>
    <!--upper footer finish--> 
    <!--lower footer start-->
    <div class="lower_footer">
        <div class="col-lg-6 col-md-6 col-sm-6 copyryt"> <p>© 2015 All right reserved by JetSetGo</p> </div>
        <div class="col-lg-6 col-md-6 col-sm-6 privacy-policy-con"> <p><a href="#">Terms of Use</a> &nbsp; &nbsp;<a href="#">Privacy Policy</a></p> </div>
        <div class="clearfix"></div>
    </div>
    <!--lower footer finish--> 
  </footer>
  <!--Footer finish--> 