<!-- <div ng-controller="HeaderController as ctrl">
  <nav ng-hide="ctrl.isFromMobile" id="header" class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header navbar-responsive">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <div class="col-lg-2 col-md-2 col-sm-2 logo-main-con">
          <a class="logo-img" href="/"><img class="img-responsive" src="http://d3tfanr7troppj.cloudfront.net/static_files/images/000/000/023/original/JSG-main-logo-db779e87994672c825f333c07a75d7d2_%281%29.png?1453111090" /></a>
        </div>
        <div id="bs-example-navbar-collapse-1" class="collapse navbar-collapse res-header navbar-hidden">
          <div class="col-lg-5 col-md-5 col-sm-5 header-icons-box">
            <ul class="inline-list logo_list">
              <li uib-tooltip="Schedule" tooltip-placement="bottom">
                <a href="/organisations" class="sidebar-link hvr-shrink main_link schedule-icon" ng-class="ctrl.schedule_active"></a>
              </li>
              <li uib-tooltip="Aircraft" tooltip-placement="bottom">
                <a href="/organisations/aircrafts" class="sidebar-link hvr-shrink main_link aircraft-icon" ng-class="ctrl.aircraft_active"></a>
              </li>
              <li uib-tooltip="Forum" tooltip-placement="bottom">
                <a href="/organisations/forum_topics" class="sidebar-link hvr-shrink main_link forum-icon" ng-class="ctrl.forum_active"></a>
              </li>
              <li uib-tooltip="Unavailability" tooltip-placement="bottom">
                <a href="/organisations/aircraft_unavailabilities" class="sidebar-link hvr-shrink main_link unavailibility-icon" ng-class="ctrl.unavailibility_active"></a>
              </li>
              <li uib-tooltip="Trip" tooltip-placement="bottom">
                <a href="/organisations/trips" class="sidebar-link hvr-shrink main_link trips-icon" ng-class="ctrl.trips_active"></a>
              </li>
              <div class="clearfix"></div>
            </ul>
          </div>
          <div class="col-lg-5 col-md-5 col-sm-5 col-xs-12 right-header pull-right">
            <ul class="nav navbar-nav navbar-right">
              <li ng-hide="ctrl.currentUser"><a class="hvr-push" ng-click="ctrl.openSignInModal()" href=""><i class="fa fa-sign-in"></i> Sign in</a></li>
              <li ng-hide="ctrl.currentUser"><a class="hvr-push" ng-click="ctrl.openSignUpModal()" href=""><i class="fa fa-user"></i> Register</a></li>
              <li ng-show="ctrl.currentUser">
                <a href="/quotes">Quotes</a>
              </li>
              <li ng-show="ctrl.currentUser"><a class="hvr-push" ng-click="ctrl.signOut()" href=""><i class="fa fa-sign-out"></i> Sign Out</a></li>
            </ul>
          </div>
        </div>
      </div>

    </div>
  </nav>
</div>-->


<!-- <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
  <ul class="nav navbar-nav navbar-right">
    <li ng-hide="ctrl.currentUser"><a ng-click="ctrl.openSignInModal()" href="">Sign in</a></li>
    <li ng-hide="ctrl.currentUser"><a ng-click="ctrl.openSignUpModal()" href="">Register</a></li>
    <li ng-show="ctrl.currentUser"><a ng-click="ctrl.signOut()" href="">Sign Out</a></li>
  </ul>
</div> -->