<script type="application/javascript">
    $(document).ready(function(){
        $('.navbar-collapse a.page-link').click(function(){
            $(".navbar-collapse").toggle();
        });
        $('.navbar-toggle').click(function(){
            $(".navbar-collapse").toggle();
        });
    });
</script>
<span class="scrollup">
  <i class="fa fa-angle-double-up" aria-hidden="true"></i>
</span>
<div ng-controller="HeaderController as ctrl">
  <nav ng-hide="ctrl.isFromMobile || ctrl.hideForPath()" id="header" class="navbar navbar-default fixed-header">
    <div class="container container-fluid header-container">
      <div class="navbar-header navbar-responsive">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <div class="row header_row">
          <div class="col-lg-2 col-md-2 col-sm-2 logo-main-con">
            <a class="logo-img" ng-click="ctrl.active_menu = false; ctrl.active_submenu = false" href="/"><img width="120" class="img-responsive" src="http://d3tfanr7troppj.cloudfront.net/static_files/images/000/000/423/original/jsg_logo_blk.png?1468922803" /></a>
          </div>
          <div ng-if="ctrl.activeNav == true" id="bs-example-navbar-collapse-1" style="overflow: inherit;" class="collapse navbar-collapse res-header navbar-hidden">
            <div class="col-sm-10 col-xs-12 right-nav no-padding-right pull-right">
              <!--<p class="header-right-text text-right">+91-11-39585858 <a href="#">Login</a> | <a href="#">Signup</a></p>-->
              <ul class="top-login-nav">
                <!-- ng-class="custom ? 'underline' : 'non-underline'" -->
                <li class="menu-list-toogle hidden-xs">
                  <a ng-click="ctrl.active_menu = !ctrl.active_menu" href="javascript:void(0)" >
                    <i class="fa fa-bars" style="width: 13px;" ng-class="!ctrl.active_menu ? 'fa-bars' : 'fa-times'"></i> Menu
                  </a>
                  <ul class="dropdown main-nav" ng-show="ctrl.active_menu">
                    <li><a href="/about_us" ng-click="ctrl.active_menu = false; ctrl.active_submenu = false">About Us</a></li>
                    <li><a href="/jetsteals/list" ng-click="ctrl.active_menu = false; ctrl.active_submenu = false" target="_self">JetSteals&trade;</a></li>
                    <li><a href="/media" ng-click="ctrl.active_menu = false; ctrl.active_submenu = false">Media</a></li>
                    <li><a href="/contact_us" ng-click="ctrl.active_menu = false; ctrl.active_submenu = false">Contact Us</a></li>
                    <li>
                      <a href="javascript:void(0)" ng-init="ctrl.active_submenu = false" ng-click="ctrl.active_submenu = !ctrl.active_submenu">
                        Our Fleet
                        <i class="fa submenu-arrow-icon hidden-xs" ng-class="!ctrl.active_submenu ? 'fa-angle-down' : 'fa-angle-left'"></i>
                        <i class="fa submenu-arrow-icon hidden-lg hidden-md hidden-sm" ng-class="!ctrl.active_submenu ? 'fa-angle-down' : 'fa-angle-left'"></i>
                      </a>
                      <ul class="sub_navigation" ng-show="ctrl.active_submenu">
                        <li ng-if="aircraft_category.name != 'Twin Engine Turboprop' && aircraft_category.name != 'Single Engine Turbo'" ng-repeat="aircraft_category in ctrl.aircraft_categories">
                          <a ng-click="ctrl.active_menu = false; ctrl.active_submenu = false" href="/our_fleet/{{aircraft_category.id}}">{{aircraft_category.name}}</a>
                        </li>
                        <li>
                          <a ng-click="ctrl.active_menu = false; ctrl.active_submenu = false" href="/helicopter_fleet">Helicopter</a>
                        </li>
                        <li>
                          <a ng-click="ctrl.active_menu = false; ctrl.active_submenu = false" href="/turboprop">Turboprop</a>
                        </li>
                      </ul>
                    </li>
                    <div class="clearfix"></div>

                    <!-- <li>
                      <a ng-click="ctrl.signIn()" ng-hide="ctrl.currentUser" class="no-right-padding" href=""><i class="fa fa-user" aria-hidden="true"></i> Guest</a>
                      <a ng-show="ctrl.currentUser" class="no-right-padding" href="/profile"> <img src="" style="max-height: 20px;max-width: 20px" ng-src="{{ctrl.currentUser.image}}" alt=""> {{ctrl.currentUser.full_name}} <i class="fa fa-caret-down"></i></a>
                      <ul class="sub-nav">
                        <li ng-show="ctrl.currentUser" ><a class="no-right-padding" href="/profile">Profile</a></li>
                        <li ng-show="ctrl.currentUser" ><a ng-click="ctrl.signOut()" class="no-right-padding" href="">Sign Out</a></li>
                      </ul>
                    </li> -->

                  </ul>
                </li>
                <li ng-show="ctrl.currentUser" >
                  <a ng-click="ctrl.signOut()" class="no-right-padding page-link" href="">Sign Out</a>
                </li>
                <li ng-show="ctrl.currentUser">
                  <a class="no-right-padding ms-text-capitalize page-link" href="/profile">
                    <img src="" style="max-height: 20px;max-width: 20px" ng-src="{{ctrl.currentUser.image}}" alt=""> {{ctrl.currentUser.full_name}}
                  </a>
                </li>
                <li ng-hide="ctrl.currentUser">
                  <a href="" class="page-link" ng-click="ctrl.openSignUpModal()">
                    <img src="http://d3tfanr7troppj.cloudfront.net/static_files/images/000/000/355/original/login.png?1468494171" alt=""> Sign Up
                  </a>
                </li>
                <li ng-hide="ctrl.currentUser">
                  <a class="page-link" ng-click="ctrl.signIn()" href="">
                    <img src="http://d3tfanr7troppj.cloudfront.net/static_files/images/000/000/359/original/signin.png?1468494272" alt=""> Login
                  </a>
                </li>
                <li>
                  <img src="http://d3tfanr7troppj.cloudfront.net/static_files/images/000/000/701/original/phone.png?1472036639" alt=""> <!-- <span>+91-11-39585858</span> -->
                </li>
                <li class="hidden-lg hidden-md hidden-sm">
                  <a class="page-link" href="/contact_us">Contact Us</a>
                </li>
                <li class="hidden-lg hidden-md hidden-sm">
                  <a class="page-link" href="/media">Media</a>
                </li>
                <li class="hidden-lg hidden-md hidden-sm">
                  <a class="page-link" href="/jetsteals/list" target="_self">JetSteals&trade;</a>
                </li>
                <li class="hidden-lg hidden-md hidden-sm">
                  <a class="page-link" href="/about_us">About Us</a>
                </li>
                <li class="hidden-lg hidden-md hidden-sm" ng-if="aircraft_category.name != 'Twin Engine Turboprop' && aircraft_category.name != 'Single Engine Turbo'" ng-repeat="aircraft_category in ctrl.aircraft_categories">
                  <a class="page-link" href="/our_fleet/{{aircraft_category.id}}">{{aircraft_category.name}}</a>
                </li>
                <li class="hidden-lg hidden-md hidden-sm">
                  <a class="page-link" href="/helicopter_fleet">Helicopter</a>
                </li>
                <li class="hidden-lg hidden-md hidden-sm">
                  <a class="page-link" href="/turboprop">Turboprop</a>
                </li>
                <div class="clearfix"></div>
              </ul>
            </div>
          </div>
          <div ng-if="ctrl.activeNav == false" id="bs-example-navbar-collapse-1" style="overflow: inherit;" class="collapse navbar-collapse res-header navbar-hidden">
            <div class="col-sm-10 col-xs-12 right-nav no-padding-right pull-right">
              <!--<p class="header-right-text text-right">+91-11-39585858 <a href="#">Login</a> | <a href="#">Signup</a></p>-->
              <ul class="top-login-nav">
                <li>
                  <img src="http://d3tfanr7troppj.cloudfront.net/static_files/images/000/000/773/original/email_icon-2.png?1473924343" alt=""> <!-- <span>+91-11-39585858</span> -->
                </li>
                <li>
                  <img src="http://d3tfanr7troppj.cloudfront.net/static_files/images/000/000/701/original/phone.png?1472036639" alt=""> <!-- <span>+91-11-39585858</span> -->
                </li>
                <div class="clearfix"></div>
              </ul>
            </div>
          </div>
        </div>
      </div>

    </div>
  </nav>
</div>

<script type="text/javascript" charset="utf-8">
    $(document).ready(function(){
        $(window).scroll(function(){
            if($(this).scrollTop() > 800){
                $('.scrollup').fadeIn();
            }else{
                $('.scrollup').fadeOut();
            }
        });
        $('.scrollup').click(function(){
            $('html,body').animate({
                scrollTop: 0
            }, 600);
        });
    });
</script>