<div ng-controller="HeaderController as ctrl">
  <nav ng-hide="ctrl.isFromMobile || ctrl.hideForPath()" id="header" class="navbar navbar-default">
    <div class="container container-fluid header-container">
      <div class="navbar-header navbar-responsive">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <div class="row header_row">
        <div class="col-lg-2 col-md-2 col-sm-2 logo-main-con">
          <a class="logo-img" href="/"><img class="img-responsive" src="http://d3tfanr7troppj.cloudfront.net/static_files/images/000/000/023/original/JSG-main-logo-db779e87994672c825f333c07a75d7d2_%281%29.png?1453111090" /></a>
        </div>
        <div id="bs-example-navbar-collapse-1" class="collapse navbar-collapse res-header navbar-hidden">
          <div class="col-sm-10 col-xs-12 right-nav pull-right">
            <ul class="nav navbar-nav navbar-right main-nav">
              <li>
                <a ng-click="ctrl.signIn()" ng-hide="ctrl.currentUser" class="no-right-padding" href=""><i class="fa fa-user" aria-hidden="true"></i> Guest</a>
                <a ng-show="ctrl.currentUser" class="no-right-padding" href="">{{ctrl.currentUser.full_name}} <i class="fa fa-caret-down"></i></a>
                <ul class="sub-nav">
                  <li ng-show="ctrl.currentUser" ><a ng-click="ctrl.signOut()" class="no-right-padding" href="">Sign Out</a></li>
                </ul>
              </li>
              <li><a href="/contact_us">Contact</a></li>
              <li><a href="#">Services</a></li>
              <li><a href="#">Testimonial</a></li>
              <li><a href="/about_us">About</a></li>
            </ul>
          </div>
        </div>
        </div>
      </div>

    </div>
  </nav>
</div>