<table class="row footer">
  <tr>
    <td class="wrapper">
      <table class="six columns">
        <tr>
          <td class="left-text-pad">
            <h5>Connect With Us:</h5>
            <table class="tiny-button facebook">
              <tr>
                <td>
                  <a href="#">Facebook</a>
                </td>
              </tr>
            </table>
            <br>
            <table class="tiny-button twitter">
              <tr>
                <td>
                  <a href="#">Twitter</a>
                </td>
              </tr>
            </table>
            <br>
            <table class="tiny-button google-plus">
              <tr>
                <td>
                  <a href="#">Google +</a>
                </td>
              </tr>
            </table>
          </td>
          <td class="expander"></td>
        </tr>
      </table>
    </td>
    <td class="wrapper last">
      <table class="six columns">
        <tr>
          <td class="last right-text-pad">
            <h5>Contact Info:</h5>
            <p>Phone: 408.341.0600</p>
            <p>Email: <a href="/cdn-cgi/l/email-protection#402833252c242f2e003432212e342f326e232f2d"><span class="__cf_email__" data-cfemail="2a42594f464e45446a5e584b445e455804494547">[email&#160;protected]</span><script data-cfhash='f9e31' type="text/javascript">
              /* <![CDATA[ */!function(){try{var t="currentScript"in document?document.currentScript:function(){for(var t=document.getElementsByTagName("script"),e=t.length;e--;)if(t[e].getAttribute("data-cfhash"))return t[e]}();if(t&&t.previousSibling){var e,r,n,i,c=t.previousSibling,a=c.getAttribute("data-cfemail");if(a){for(e="",r=parseInt(a.substr(0,2),16),n=2;a.length-n;n+=2)i=parseInt(a.substr(n,2),16)^r,e+=String.fromCharCode(i);e=document.createTextNode(e),c.parentNode.replaceChild(e,c)}t.parentNode.removeChild(t);}}catch(u){}}()/* ]]> */</script></a></p>
          </td>
          <td class="expander"></td>
        </tr>
      </table>
    </td>
  </tr>
</table>