<% if flash[:error].present? %>
      <div class="tiny reveal" id="error_modal" data-reveal>
        <%= flash[:error] %>
        <button class="close-button" data-close aria-label="Close reveal" type="button">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
    <% elsif flash[:success].present? %>
    <div class="tiny reveal" id="error_modal" data-reveal>
      <%= flash[:success] %>
      <button class="close-button" data-close aria-label="Close reveal" type="button">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
<%- end %>