<footer>
  <div class="row">
    <div class="medium-8 small-12 columns copyryt-con">
      <p>© 2015 All right reserved by JetSetGo Aviation Services Private Limited</p>
    </div>
    <div class="medium-4 small-12 columns social-icon text-right">
      <a target="_blank" style="color: white" href="https://www.facebook.com/Jetsetgo.jetsetgo"><i style="margin-right: 20px; margin-top: 15px" class="fa fa-facebook"></i></a>
      <a target="_blank" style="color: white" href="https://twitter.com/jetsetgoin"><i style="margin-right: 20px; margin-top: 15px" class="fa fa-twitter"></i></a>
      <a target="_blank" style="color: white" href="https://www.linkedin.com/company/jet-set-go"><i style="margin-top: 15px" class="fa fa-linkedin"></i></a>
    </div>
  </div>
</footer>
