<footer>
  <div class="row">
    <div class="medium-8 small-12 columns copyryt-con">
      <p>© 2015 All right reserved by JetSetGo aviation services pvt ltd.</p>
    </div>
    <div class="medium-4 small-12 columns social-icon text-right">
      <i style="margin-right: 20px; margin-top: 15px" class="fa fa-facebook"></i>
      <i style="margin-right: 20px; margin-top: 15px" class="fa fa-twitter"></i>
      <i style="margin-top: 15px" class="fa fa-linkedin"></i>
    </div>
  </div>
</footer>