<footer>
  <div class="row">
    <div class="medium-8 small-12 columns copyryt-con">
      <p>© 2015 All right reserved by JetSetGo aviation services pvt ltd.</p>
    </div>
    <div class="medium-4 small-12 columns social-icon text-right">
      <span><i class="fa fa-facebook"></i></span>
      <span><i class="fa fa-twitter"></i></span>
      <span><i class="fa fa-linkedin"></i></span>
    </div>
  </div>
</footer>