<p class="h1">Hi, Admins</p>
<p>You have a new contact us enquiry.</p>
<p><strong>Details:</strong></p>

Name: <%= @contact.name %>
<br>
Email: <%= @contact.email %>
<br>
Phone: <%= @contact.phone %>
<br><br>
Happy landings,
<br>
 Monika from JetSetGo