<p class="h1">Hi, Admins</p>
<p><%= @customer.full_name %> has registered to JetSetGo as customer with following details.</p>
<p><strong>Details:</strong></p>

Name: <%= @customer.full_name.titleize %>
<br>
Email: <%= @customer.email %>
<br>
Phone: <%= @customer.phone %>
<br><br>
Happy landings,
<br>
 Monika from JetSetGo