<table class="outer" align="center">
  <tr>
    <td class="one-column">
      <table width="100%">
        <tr>
          <td class="inner contents">
            <p class="h1">Hi, Admin</p>
            <p>New Topic <strong><%= @forum_topic.organisation.name %></strong></p>
          </td>
        </tr>
      </table>
    </td>
  </tr>
  <tr>
    <td class="two-column">
      <table width="100%">
        <% @forum_topic.attributes.each_pair do |key, value| %>
            <tr style="border: 1px solid #000000;">
              <td width="50%" valign="top" style="border: 1px solid #000000;">
                <div class="column">
                  <table width="100%">
                    <tr>
                      <td class="inner">
                        <p class="h2" style="font-size: 14px;"><%= key %></p>
                      </td>
                    </tr>
                  </table>
                </div>
              </td>
              <td width="50%" valign="top" style="border: 1px solid #000000;">
                <div class="column">
                  <table width="100%">
                    <tr>
                      <td class="inner">
                        <p class="h2" style="font-size: 14px;"><%= value %></p>
                      </td>
                    </tr>
                  </table>
                </div>
              </td>
            </tr>
        <% end %>
      </table>
    </td>
  </tr>
</table>