<h1 class="text-center">Please don't refresh or exit the browser window. This will just take few seconds.</h1>
<%
   amount = params[:sell_as_whole] == 'sell_as_whole' ? @jetsteal_seat_purchaser.jetsteal.cost : @jetsteal_seat_purchaser.amount

   working_key = CC_WORKING_KEY

   merchant_data = ''

   {
       'merchant_id' => CC_MERCHANT_ID,
       'order_id' => @jetsteal_seat_purchaser.payment_transaction.id,
       'amount' => sprintf('%.2f', amount),
       'currency' => 'INR',
       'redirect_url' => "#{request.base_url}/payment_transactions/success",
       'cancel_url' => "#{request.base_url}/payment_transactions/cancel",
       'language' => 'EN',
       'billing_name' => @jetsteal_seat_purchaser.contact.full_name,
       'billing_email' => @jetsteal_seat_purchaser.contact.email,
       'billing_tel' => @jetsteal_seat_purchaser.contact.phone,
       'merchant_param1' => 'Product Info: JetSteals',
       'merchant_param2' => @jetsteal_seat_purchaser.jetsteal_seats.map(&:id).to_s,
       'merchant_param3' => @jetsteal_seat_purchaser.jetsteal.id
   }.each_pair do |key, value|
     merchant_data += key.to_s+'='+value.to_s+'&'
   end

   crypto = CcCrypto.new

   encrypted_data = crypto.encrypt(merchant_data,working_key)

%>
<form action='<%= CC_URL %>/transaction/transaction.do?command=initiateTransaction' name="payuform" method='post' style="display: none">

  <input type="hidden" name="encRequest" value="<%= encrypted_data %>" />
  <input type="hidden" name="access_code" value="<%= CC_ACCESS_KEY %>" />

  <input type= "submit" value="submit">
</form>
<script>
  $(document).on('ready page:load', function(){
    setTimeout(function(){document.payuform.submit();},500);
  })
</script>