<div class="row background-yellow">
  <div class="col-sm-12" style="height: 600px">
    <h1 class="text-center">FAILURE</h1>
    <h1 class="text-center font-large"><i style="font-size: 150px;" class="fa fa-meh-o"></i></h1>
    <% if @failure_message.present? %>
      <h4 class="text-center text-danger"><%= @failure_message %></h4>
    <%- end %>
    <p class="text-center"><%= link_to 'Back to home', '/jetsteals/list', class: 'button button_jsg' %></p>
  </div>
</div>