<div class="row">
  <div class="col-sm-12">
    <h1 class="text-center">FAILURE</h1>
    <h1 class="text-center font-large"><i class="fa fa-meh-o"></i></h1>
    <p class="text-center"><%= link_to 'Back to home', '/jetsteals/list', class: 'btn btn-blue' %></p>
  </div>
</div>