<div class="row" style="margin-top: 20px">
  <div class="small-6 columns background-blue text-center" style="margin-top: -20px;min-height: 600px">
    <h1 style="margin-top: 40px" class="text-center">SUCCESS</h1>
    <h1 class="text-center font-large"><i style="font-size: 160px;" class="fa fa-smile-o fa-6"></i></h1>
    <p class="text-center">3 simple steps down and now you are ready to JetSetGo. Thank you for the payment. We look forward to welcoming you on board for your very own personalised flying experience!</p>
    <a class="button button_jsg" href="http://jetsetgo.in">Back to Home</a>
  </div>
  <div class="small-6 columns">
    <p class="text-center"><span style="background-color: rgb(51, 122, 183)" class="">&nbsp;&nbsp;&nbsp;</span> Your seats</p>
    <%= @jetsteal.aircraft.aircraft_type.svg(@jetsteal.aircraft).html_safe %>
  </div>
</div>
<script>
  //This is very very page specific js and must remain here only
  $(document).on('ready page:load', function(){
    var ui_seat_ids = [];
    <% @jetsteal_seats.each_with_index do |jetsteal_seat, index| %>
      ui_seat_ids[<%= index %>] = "<%= jetsteal_seat.ui_seat_id %>";
    <%- end %>
    //fill all seats by available color
    $('path[id^=seat]').css('fill', 'rgb(242, 208, 59)');
    $.each(ui_seat_ids, function(i, ui_seat_id){
      //fill these seats by booked color
      $("path#"+ui_seat_id).css('fill', 'rgb(51, 122, 183)');
    });
  });
</script>