$main-green-color: rgb(47, 191, 149);
$dark-blue-color: rgb(12, 62, 120);
$main-gray-color: rgba(158, 167, 166, 0.6);
$main-gray-color-no-opaque: rgb(158, 167, 166);
$main-red-color: rgb(228, 70, 71);
$main-yellow-color: rgb(237, 202, 0);

label.error{
  color: $main-red-color!important;
  text-align: right;
}

.select2-selection{
  background: none!important;
  border: none!important;
  border-radius: 0;
  border-bottom: 1px solid white!important;
  margin-top: 19px;
  height: 34px!important;
}

.select2-dropdown{
  width: 250px!important;
  font-size: 13px!important;
  color: white!important;
  background-color: $dark-blue-color!important;
}

.select2-search__field{
  box-shadow: none!important;
  height: 30px!important;
  font-size: 12px!important;
}

.select2-selection__rendered{
  color: white!important;
}

.select2-container{
  font-size: 17px;
}

.select2-selection__arrow{
  display: none!important;
}

.responsive_dropdown{
  font-size: 30px!important;
  color: white;
  margin-top: 11px;
}

.responsive_links{
  background-color: $main-green-color;
  a{
    color: white!important;
    display: inline-block;
    width: 40px;
    height: 35px;
  }
  .main_link{
    width: 40px;
    height: 35px;
    display: inline-block;
    background: url(http://d3tfanr7troppj.cloudfront.net/static_files/images/000/000/022/original/nav-icons-img.png?1453106758);
  }
  .jetsteal_link{
    background-position: -74px -35px;
  }
  .experiences_link{
    background-position: -140px 0;
  }
  .multi_trip_link{
    background-position: -206px 0;
  }
  .rescue_link{
    background-position: -272px 0;
  }
  .jetsetcars_link{
    background-position: 0 83px;
  }
}

.outer_sold{
  position: relative;
  .sold_out{
    position: absolute;
    height: 100%;
    width: 100%;
    h2{
      margin-top: 100px;
    }
    background-color: rgba(158, 167, 166, 0.7);
  }
}

#filter_bar{
  padding: 5px 30px 5px 30px;
  background-color: $dark-blue-color;
  i{
    color: white!important;
    font-size: 40px!important;
  }
  #info_button{
    font-size: 20px!important;
    margin-top: 18px;
  }
  select{
    display: inline-block;
    width: 70%;
    margin: 0;
    margin-top: 15px;
    border: 0;
    background: none;
    border-bottom: 1px solid white;
    color: white;
    &:focus{
      outline: none;
      border: none;
      box-shadow: none;
    }
    option{
      //color: $dark-blue-color!important;
      //-moz-color: $dark-blue-color!important;
      //-webkit-color: $dark-blue-color!important;
      background-color: $dark-blue-color!important;
    }
  }
  input{
    display: inline-block;
    width: 70%;
    margin: 0;
    margin-top: 15px;
    border: 0;
    background: none;
    border-bottom: 1px solid white;
    color: white;
    &:focus{
      outline: none;
      border: none;
      box-shadow: none;
    }
  }
}

#header{
  background-color: $main-green-color;
  padding: 10px;
  .logo{
    height: 50px;
  }
  a{
    color: white!important;
  }
  ul{
    margin: 0;
    margin-top: 7px;
  }
  .logo_list{
    li{
      margin-right: 25px!important;
    }
    .main_link{
      width: 40px;
      height: 35px;
      display: inline-block;
      background: url(http://d3tfanr7troppj.cloudfront.net/static_files/images/000/000/022/original/nav-icons-img.png?1453106758);
    }
    #jetsteal_link{
      background-position: -74px -35px;
    }
    #experiences_link{
      background-position: -140px 0;
    }
    #multi_trip_link{
      background-position: -206px 0;
    }
    #rescue_link{
      background-position: -272px 0;
    }
    #jetsetcars_link{
      background-position: 0 83px;
    }
  }
  .right_list{
    margin-top: 13px;
    float: right;
  }
}

.inline-list{
  list-style-type: none;
  li{
    display: inline-block;
    margin-right: 10px;
  }
}

.aircraft_image{
  height: 250px!important;
  width: 100%!important;
}

.list_box{
  //max-height: 250px;
  overflow-y: hidden;
  margin-top: 15px;
  box-shadow: 0 0 10px $main-gray-color;
  -webkit-box-shadow: 0 0 10px $main-gray-color;
  -moz-box-shadow: 0 0 10px $main-gray-color;
  color: white!important;
  .content_box{
    padding: 10px 0;
    h6{
      line-height: 1;
      margin: 0;
      small{
        color: white!important;
      }
    }
    h5{
      small{
        color: white;
      }
    }
  }
  .middle_box{
    padding: 0;
    img{
      margin-top: 29px;
    }
  }
  .button_jsg{
    background-color: $dark-blue-color;
    box-shadow: 0 0 2px white;
    -webkit-box-shadow: 0 0 2px white;
    -moz-box-shadow: 0 0 2px white;
  }
  a{
    color: white;
  }
  .button_jsg_danger{
    background-color: $main-red-color;
  }
}

path[id^=seat]{
  cursor: pointer;
}

.background-blue{
  background-color: $dark-blue-color;
  color: white;
}

.background-yellow{
  background-color: $main-yellow-color;
  color: white;
}

footer{background-color: rgb(5, 81, 139); padding:10px; margin-top: 20px; color: #ffffff;}
footer .copyryt-con{font-size: 14px;}
footer .copyryt-con p{margin-top: 10px;}
footer .social-icon{font-size: 20px;}
footer .social-icon span{background-color: #18374e;display: inline-block; margin: 0 3px;padding: 3px 10px; width: 35px;height: 35px;
  -webkit-border-radius:50%;
  -moz-border-radius:50%;
  border-radius:50%;}
#launcher{bottom:71px !important;}
.list_box .button_jsg{width: 95%; text-align: center; margin-top: 9px; margin-bottom: 0px;padding: 0.75em 1em;font-size: 12px;}
.list_box .content_box h6 small{font-size: 11px;}
input.datepicker-text::-webkit-input-placeholder {
  color: #ffffff !important;
}

input.datepicker-text:-moz-placeholder { /* Firefox 18- */
  color: #ffffff !important;
}

input.datepicker-text::-moz-placeholder {  /* Firefox 19+ */
  color: #ffffff !important;
}

input.datepicker-text:-ms-input-placeholder {
  color: #ffffff !important;
}
.logo-main-con{width:12%;}
.select2-container{text-align:left;}
@media(max-width: 767px){
  footer .copyryt-con p{text-align: center; font-size: 11px;}
  footer .social-icon{text-align: center;}
  .list_box .row{margin:0 !important; }
  .list_box .button_jsg{ font-size: 12px; margin-top: 15px;}
  .logo-main-con{width:100%;}
}
@media(max-width: 480px){
.inline-list li{margin-right: 5px;}
}