$main-green-color: rgb(47, 191, 149);

#header{
  background-color: $main-green-color;
  padding: 10px;
  .logo{
    height: 50px;
  }
  a{
    color: white!important;
  }
  ul{
    margin: 0;
    margin-top: 7px;
  }
  .logo_list{
    .main_link{
      width: 40px;
      height: 35px;
      display: inline-block;
      background: url(http://d3tfanr7troppj.cloudfront.net/static_files/images/000/000/022/original/nav-icons-img.png?1453106758);
    }
    #jetsteal_link{
      background-position: -74px -35px;
    }
    #experiences_link{
      background-position: -140px 0;
    }
    #multi_trip_link{
      background-position: -206px 0;
    }
    #rescue_link{
      background-position: -272px 0;
    }
    #jetsetcars_link{
      background-position: 0 83px;
    }
  }
  .right_list{
    margin-top: 13px;
    float: right;
  }
}

.inline-list{
  list-style-type: none;
  li{
    display: inline-block;
    margin-right: 10px;
  }
}