$main-green-color: rgb(47, 191, 149);
$dark-blue-color: rgb(12, 62, 120);
$main-gray-color: rgba(158, 167, 166, 0.6);
$main-gray-color-no-opaque: rgb(158, 167, 166);
$main-red-color: rgb(228, 70, 71);
$main-yellow-color: rgb(237, 202, 0);

no-captcha:first-child{
  display: inline-block!important;
}
.ms-text-capitalize{
  text-transform: capitalize;
}

.section-heading{
  background-color: #d9c3a4;
  padding-bottom: 10px;
  border-top: 10px solid #301d0c;
  .container{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    img{
    padding: 0 20px;
    }
  }
}

.close-button,.lb-close{
  -webkit-transition: -webkit-transform .3s ease-in-out!important;
  -moz-transition: -moz-transform .3s ease-in-out!important;
  transition: transform .3s ease-in-out!important;
  &:hover{
    transform:rotate(90deg)!important;
    -moz-transform:rotate(90deg)!important;
    -webkit-transform:rotate(90deg)!important;
  }
}

#loading-bar{
  .bar{
    height: 4px!important;
    background-color: $main-red-color!important;
  }
}

#loading-bar-spinner{
  display: none!important;
}

.lb-number{
  color: white!important;
}

.city_image_on_main{
  max-width: 100%;
}

.city_image_{
  width: 100%;
}

.image_zoom{
  font-size: 40px!important;
  color: rgba(255, 255, 255, 0.8);
  margin-top: 40%;
}

#new_jetsteal_subscription{
  input{
    margin-bottom: 0;
  }
}

table{
  width: 100%!important;
}

label.error{
  color: $main-red-color!important;
  text-align: right;
}

.select2-selection{
  background: none!important;
  border: none!important;
  border-radius: 0;
  border-bottom: 1px solid white!important;
  margin-top: 19px;
  height: 34px!important;
}

.select2-dropdown{
  width: 250px!important;
  font-size: 13px!important;
}

.select2-search__field{
  box-shadow: none!important;
  height: 30px!important;
  font-size: 12px!important;
}

.select2-selection__rendered{
  color: white!important;
}

.select2-container{
  font-size: 15px;
}
*:focus {
    outline: none;
}
.select2-selection__arrow{
  display: none!important;
}

.responsive_dropdown{
  font-size: 30px!important;
  color: white;
  margin-top: 11px;
}

.responsive_links{
  background-color: #750005;
  a{
    color: white!important;
    display: inline-block;
    width: 40px;
    height: 35px;
  }
  .main_link{
    width: 40px;
    height: 35px;
    display: inline-block;
    background: url(http://d3tfanr7troppj.cloudfront.net/static_files/images/000/000/022/original/nav-icons-img.png?1453106758);
  }
  .jetsteal_link{
    background-position: -74px -35px;
  }
  .experiences_link{
    background-position: -140px 0;
  }
  .multi_trip_link{
    background-position: -206px 0;
  }
  .rescue_link{
    background-position: -272px 0;
  }
  .jetsetcars_link{
    background-position: 0 83px;
  }
}

.outer_sold{
  position: relative;
  .sold_out{
    position: absolute;
    height: 100%;
    width: 100%;
    h2{
      margin-top: 100px;
    }
    background-color: rgba(158, 167, 166, 0.7);
    z-index: 2;
  }
}
.datepicker td.active.day, .datepicker td.active.year{
    background: #a5805b !important;
  }
#filter_bar{
  padding: 5px 30px 5px 30px;
  background-color: #998776;
  i{
    color: white!important;
    font-size: 40px!important;
  }
  #info_button{
    font-size: 20px!important;
    margin-top: 18px;
  }
  select{
    display: inline-block;
    width: 70%;
    margin: 15px 0 0;
    border: 0;
    background: none;
    border-bottom: 1px solid white;
    color: white;
    font-size: 15px;
    &:focus{
      outline: none;
      border: none;
      box-shadow: none;
    }
    option{
      color: #000000;
      -moz-color: #000000;
      -webkit-color: #000000;
    }
    option:hover{
      background: #000000;
    }
  }
  input{
    display: inline-block;
    width: 70%;
    margin: 15px 0 0;
    border: 0;
    background: none;
    border-bottom: 1px solid white;
    color: white;
    box-shadow: none;
    font-size: 15px;
    &:focus{
      outline: none;
      border: none;
      box-shadow: none;
    }
  }
}

.red-bg{
  background: #920000;
}
.red-bg:hover{
  background: #920000;
}
.red-bg:focus{
  background: #920000;
}
.dark-gray-bg{
  background-color: #999 !important;
}
#header{
  background-color: #f9f3e6;
  padding: 10px;
  .logo{
    height: 50px;
  }
  .brown-icon{
    color: #A08263;
  }
  .red-text{
    color: #920000;
  }
  a{
    color: #920000;
  }
  ul{
    margin: 7px 0 0;
  }
  .logo_list{
    li{
      margin-right: 25px!important;
    }
    .main_link{
      width: 40px;
      height: 35px;
      display: inline-block;
      background: url(http://d3tfanr7troppj.cloudfront.net/static_files/images/000/000/530/original/black-nav-icons-img.png?1470482063);
    }
    #jetsteal_link{
      background-position: -74px -35px;
    }
    #experiences_link{
      background-position: -140px 0;
    }
    #multi_trip_link{
      background-position: -206px 0;
    }
    #rescue_link{
      background-position: -272px 0;
    }
    #jetsetcars_link{
      background-position: 0 83px;
    }
  }
  .right_list{
    margin-top: 13px;
    float: right;
  }
}

.inline-list{
  list-style-type: none;
  li{
    display: inline-block;
    margin-right: 10px;
  }
}

.aircraft_image{
  width: 100%!important;
  height: 320px;
}

.list_box{
  max-height: 270px;
  height: 270px;
  overflow-y: hidden;
  margin-top: 15px;
  box-shadow: 0 0 10px $main-gray-color;
  -webkit-box-shadow: 0 0 10px $main-gray-color;
  -moz-box-shadow: 0 0 10px $main-gray-color;
  color: white!important;
  .content_box{
    padding: 10px 0;
    h6{
      line-height: 0.8;
      margin: 0;
      small{
        color: white!important;
      }
    }
    h5{
      small{
        color: white;
      }
    }
  }
  .middle_box{
    padding: 0;
    img{
      margin-top: 29px;
    }
  }
  .button_jsg{
    background-color: $dark-blue-color;
    box-shadow: 0 0 2px white;
    -webkit-box-shadow: 0 0 2px white;
    -moz-box-shadow: 0 0 2px white;
  }
  a{
    color: white;
  }
  .button_jsg_danger{
    background-color: $main-red-color;
  }
}

path[id^=seat]{
  cursor: pointer;
}

.background-blue{
  background-color: $dark-blue-color;
  color: white;
}

.background-yellow{
  background-color: $main-yellow-color;
  color: white;
}

footer{
  padding:10px;
  margin-top: 20px;
  color: #ffffff;
}

footer .copyryt-con{
  font-size: 14px;
}

footer .copyryt-con p{
  margin-top: 10px;
}

footer .social-icon{
  font-size: 20px;
}

footer .social-icon span{
  background-color: #18374e;
  display: inline-block;
  margin: 0 3px;
  padding: 3px 10px;
  width: 35px;
  height: 35px;
  -webkit-border-radius:50%;
  -moz-border-radius:50%;
  border-radius:50%;
}

#launcher{
  bottom:71px !important;
}

.list_box .button_jsg{
  width: 95%;
  text-align: center;
  margin-top: 9px;
  margin-bottom: 0;
  padding: 0.75em 1em;
  font-size: 12px;
}

.list_box{
 .content_box{
  h6 {
    small{
         font-size: 12px;
        }
      }
    }
  }

input.datepicker-text::-webkit-input-placeholder {
  color: #ffffff !important;
}

input.datepicker-text:-moz-placeholder {
  color: #ffffff !important;  /* Firefox 18- */
}

input.datepicker-text::-moz-placeholder {
  color: #ffffff !important;   /* Firefox 19+ */
} 

input.datepicker-text:-ms-input-placeholder {
  color: #ffffff !important;
}

.list_box{
   .content_box{
    h6{
    margin-bottom:5px;
   }
  }

}
.list_box{
  .content_box{
      padding: 10px 0 5px 0;
  }
}
.refresh-text{height:510px;}

input.datepicker-text:-ms-input-placeholder {
  color: #ffffff !important;
}
.logo-main-con{
  width:12%;
}

.select2-container{
  text-align:left;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}



footer{
  width:100%;
  background-image: url(http://d3tfanr7troppj.cloudfront.net/static_files/images/000/000/399/original/footer-bg.png?1468581518);
  background-size: cover;
  background-position: center;
  border-top: 10px solid #301d0c;
  padding: 15px 0;
  background-color: tranparent;
  h4{
    font-size: 16px;
    color: #000000;
  }
  .member-con{
    min-height: 150px;
    .newsletter-form-con{
      margin-top: 20px;
      position: relative;
      p{
        color: #ffffff;
        font-size: 16px;
      }
      .newsletter-textfield{
        width: 100%;
        background-color: rgba(0,0,0,0.2);
        border: 1px solid #888888;
        padding: 8px 37px 8px 3px;
        color: #ffffff;
      }
      .newsletter-btn{
        background-color: #cccccc;
        width:25px;
        height: 25px;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        border-radius: 50%;
        position: absolute;
        text-align: center;
        border: 0;
        top: 6px;
        right: 22px;
        i{
          font-size: 22px;
        }
      }
    }
  }
  .logo-con{
    text-align: center;
    min-height: 150px;
    .footer-logo-con{
      margin: 30px 0 20px 0;
      img{
        height: 80px;
      }
    }
    p{
      color: #ffffff;
    }
  }
  .followus-con{
    ul{
      padding: 0;
      li{
        list-style: none;
        margin-right: 8px;
        padding: 5px 0;
        float: left;
        a{
          color:#ffffff;
          font-size: 16px;
          img{
            height:30px;
          }
        }
      }
      li.no-margin{
        margin: 0;
      }
    }
  }
  .services-con{
    margin-top: 20px;
    ul{
      padding: 0;
      margin: 0;
      li{
        list-style: none;
        float: left;
        margin-right: 10px;
        a{
          color: #000000;
          font-size: 14px;
        }
      }
    }
  }
  .copytext-con{
    margin-top: 20px;
    font-size: 14px;
    color: #ffffff;
    a{
      color:#ffffff;
    }
  }
}

@media(max-width: 1000px){
  footer{
    .member-con{
      min-height: inherit;
      border: none;
    }
    .logo-con{
      min-height: inherit;
      border: none;
      .footer-logo-con{
        margin-top: 0;
      }
    }
  }
}
@media(max-width: 767px){
  footer{
    .member-con{
      border-right: 0px;
      border-bottom: 1px solid rgba(0,0,0,0.5);
      min-height: inherit;
      padding-bottom: 20px;
    }
    .logo-con{
      border-right: 0px;
      border-bottom: 1px solid rgba(0,0,0,0.5);
      min-height: inherit;
      text-align: left;
      margin: 20px 0;
      .footer-logo-con{
        margin: 10px 0;
      }
    }
  }
}
tbody.sapia_color tr:nth-child(odd) {background: #f9f3e6 !important}
tbody.sapia_color tr:nth-child(even) {background: #FFF !important}
.reveal-overlay{
  background-color: rgba(10, 10, 10, 0.7);
}
.middle-colm{
  width: 100%;
  max-width: 750px;
  margin: 0 auto;
}

.jetsteel-main-con{
    .jetsteal-slider-con{
      .emptyleg_image{
        height: 320px;
        overflow: hidden;
        padding: 0;
      }
    }
  }
//jetsteel section

.sold_out{
  position:absolute;
  background-color: rgba(138, 123, 109, 0.5);
  z-index: 1;
  top:0;
  bottom: 0;
  left: 0;
  right:0;
  text-align: center;
  p{
    margin-top: 125px; 
    color: #ffffff; 
    font-weight: bold;
    font-size: 45px;
    background-color: rgba(67, 50, 31, 0.8);
  }
}

.jetsteel-main-con{
  width: 100%;
  .jetsteal-slider-con{
    width: 100%;
    background-attachment: fixed;
    padding: 20px 0;
    .repeat-container{
      margin-top: 15px;
      margin-bottom: 15px;
      float: none !important;
    }
    #carousel_slider{
      .left{
        position: absolute;
        left: -110px;
        .glyphicon-chevron-left{
          font-size: 20px;
        }
      }
      .right{
        position: absolute;
        right: -110px;
        .glyphicon-chevron-right{
          font-size: 20px;
        }
      }
    }
    .custom-indicator{
      li.active{
        background-color: #000000;
      }
      li{
        border-color: #000000;
      }
    }
    .border-con{
      border: 1px solid #998776;
    }
    .emptyleg_image{
      //padding: 0;
      //overflow: hidden;
      //height: 320px;
    }
    .emptyleg_detail{
      background-image: url("http://d3tfanr7troppj.cloudfront.net/static_files/images/000/000/413/original/steal_bg-2.png?1468906350");
      height: 320px;
      background-size: cover;
      padding: 0;
      position: relative;
      h2.aircraft_name{
        font-size: 22px;
        color: #000000;
        margin: 10px 0 0 0;
        padding: 0 15px;
        font-weight: bold;
      }
      h5.engine_type{
        font-size: 14px;
        color: #000000;
        margin: 0 0 10px 0;
        padding: 0 15px;
      }
      h4.estimated-price{
        margin: 0;
        margin-top: 10px;
        padding: 8px 15px;
        font-size: 25px;
        color: #ffffff;
        background-color: #856b58;
        .text{
          font-size: 14px;
          margin-top: 10px;
        }
      }
      .jetsteal-location{
        margin: 10px 0;
        .data{
          position: relative;
          h4{
            font-size: 15px;
            font-weight: bold;
            margin:0;
          }
          p{
            font-size: 12px;
            margin:0;
          }
          p.pax-txt{
            font-size: 15px;
          }
          .jet-img{
            

          }
        }
      }
      .time-seat{
        p{
          margin-bottom: 5px;
          font-size: 13px;
        }
      }
      .detail-link-con{
        padding: 10px 15px;
        bottom: 0;
        width: 100%;
        color: #ffffff;
        margin-top: 30px;
        position: absolute;
        bottom: 0;
        text-align: center;
        a{
          background-color: #750005;
          display: inline-block;
          padding: 8px 20px;
          text-align: center;
          color: #ffffff;
          text-decoration: none;
          width: 100%;
          border-radius: 8px;
          font-size: 15px;
        }
        a.half-btn{
          width:45%;
          margin:0 2px;
        }
      }
    }
    .emptyleg_content{
      border-left: 1px solid #750005;
      margin-top: 50px;
      padding: 10px 15px 10px 15px;
      p.content{
        font-size: 15px;
        font-weight: bold;
      }
      p.member-content{
        color: #750005;
        font-size: 17px;
        margin-top: 20px;
      }
    }
    .enquire-con{
      .ennquire-btn{
        background-color: #750005;
        border: 1px solid #f2f2f2;
        color: #ffffff;
        text-decoration: none;
        padding: 5px 20px;
        display: inline-block;
        margin: 10px 0 0 40px;

      }
    }
  }
  .fa-chevron-right:before{
    color: #750005;
  }
  .fa-chevron-left:before{
    color: #750005;
  }
}
/*================================Media Query===================================*/


@media(max-width: 1100px) {
  .list_box{
   .content_box{
      h6 {
        small{
          font-size: 10px;
        }
      }
    }
  }
  .list_box {
    .button_jsg{
      font-size: 10px;
    }
  }
  h4{font-size:20px;}
  #header {
    .right_list{
      font-size: 13px;
    }
  }
}

@media(max-width: 1024px) {
 .city_image_on_main{
   max-width:100px;
  }
}

@media(max-width: 990px) {
  .inline-list{margin-left: 0;}
  .inline-list li a{font-size: 12px;}
  #header{
    .logo_list{
      li{
        margin-right: 2px !important;
      }
    }
  }
  .city_image_on_main{
   max-width:90px;
  }
  h4{font-size:18px;}
  .color-code{display:inline-block;}
  .color-code{
    li{
      width:50%;
      margin:0;
      text-align:left;
      float:left;
      padding:0 9%;
    } 
  }
 .logo-main-con{
  width:16%;
}
}
@media(max-width: 800px){
  .color-code{
  li{
  padding:0 5%;
  } 
 }
}

@media (max-width: 990px) and (min-width:640px){
  .main-table-info{
    font-size:10px;
  }
}

@media (max-width: 640px){
  .small-text-center{
    text-align: center;
  }
  .color-code{
    display:inline-block;
  }
  .color-code{
    li{
    width:50%;
    margin:0;
    text-align:left;
    float:left;
    padding:0 10%;
    } 
  }
}

@media (max-width: 415px){
.color-code{
  li{
  width:50%;
  margin:0;
  text-align:left;
  float:left;
  padding:0 4%;
  } 
 }
}

@media(max-width: 1170px){
  .select2-container{width:70% !important;}
}

@media(max-width: 1024px){
  .list_box .row{
    margin: 0 !important;
  }
  
  .list_box{
    min-height: 255px;
  }
  .jetsteel-main-con{
    .jetsteal-slider-con{
      .emptyleg_image{
        height: inherit;
        padding: 0;
        overflow: hidden;
      }
      .emptyleg_detail{
        height: inherit;
        .detail-link-con{
          position: inherit;
          margin-top: 10px;
          a{
            margin:5px 0 0 0;
          }
        }
      }
    }
  }
  .aircraft_image{
    height: inherit;
    max-height: 300px;
  }
}

@media(max-width: 767px){
  footer .copyryt-con p{
    text-align: center;
    font-size: 11px;
  }
  
  footer .social-icon{
    text-align: center;
  }
  
  .list_box .row{
    margin:0 !important;
  }
}





@media(max-width: 639px){
  .logo-main-con{
    width:100%;
  }
  #header{
    .logo{
      height: inherit;
    }
    .right_list{
      margin-top: 0;
      li{
        a{
          font-size: 10px;
        }
      }
    }
  }
  .jetsteel-main-con{
    .jetsteal-slider-con{
      .emptyleg_detail{
        h2.aircraft_name{
          font-size: 18px;
        }
        h5.engine_type{
          font-size: 12px;
        }
        .jetsteal-location{
          .data{
            h4{
              font-size: 13px;
            }
            p{
              font-size: 11px;
            }
          }
        }
        .detail-link-con{
          a{
            font-size: 12px;
          }
        }
      }
    }
  }
}

@media(max-width: 460px) {
  .inline-list li{
    margin-right: 0;
  }
  
  .list_box {
  .button_jsg{
    font-size: 12px;
    margin-top: 15px;
    }
  }
  .sold_out {
    p{
      font-size: 30px;
    }
  }
}
@media(max-width: 360px) {
  .inline-list li{
    margin-right: 5px;
    float: right;
  }
}