<div class="row">
  <div class="col-sm-4">
    <%= f.input :ui_seat_id, disabled: true, label: false %>
  </div>
  <div class="col-sm-4">
    <%= f.input :disabled %>
  </div>
  <div class="col-sm-4">
    <%= f.input :cost, label: false, placeholder: 'Cost' %>
  </div>
</div>