<div class="admin-main-con">
  <div class='col-xs-12'>
    <h2>Add City</h2>
    <div class="admin_content_body">
      <div class="col-sm-6">
        <%= render partial: 'form' %>
      </div>
    </div>
  </div>
</div>