<tr>
  <td class="one-column">
    <table width="100%">
      <tr>
        <td class="inner contents">
          <p class="h1">Dear Suraj,</p>
          <p>We have exciting JetSteals™ available on your requested sectors so we thought of you. Details are as follows:</p>
        </td>
      </tr>
    </table>
  </td>
</tr>