<table class="table table-striped">
  <thead>
  <tr class="info">
    <th>Organisation</th>
    <th>Operator</th>
    <th>Action</th>
  </tr>
  </thead>
  <tbody>
  <% @organisations.each do |organisation|%>
      <tr>
        <td><%= organisation.name %></td>
        <td>
          <table>
            <% organisation.operators.each do |operator| %>
                <tr>
                  <td>
                    <%= operator.email %>
                  </td>
                </tr>
            <%- end %>
          </table>
        </td>
        <td>
          <%= link_to organisation.admin_verified? ? 'active' : 'inactive', admin_organisation_path(organisation, admin_verified: organisation.admin_verified? ? false : true), method: :put, class: "btn btn-#{organisation.admin_verified? ? 'success ' : 'danger '} btn-xs" %>
        </td>
      </tr>
  <%end%>
  </tbody>
</table>
