<div style="background-color: rgb(47, 191, 149)" class="reveal" id="info_modal" data-reveal>
  <h2 class="text-center" style="color: white">Jetsteals™</h2>
  <h5 class="text-center" style="color: white">The future is ready for boarding.</h5>
  <p class="text-center" style="color: white">Through our JetSteals™ platform you can experience the joy of flying private and networking with like minded people like never before- at 30,000 feet! Simply pick an aircraft or sector of your choice, choose between having the whole aircraft to yourself or just a seat and pay in 3 simple steps. The new ordinary in flying!</p>
  <button class="close-button" data-close aria-label="Close reveal" type="button">
    <span style="color: white" aria-hidden="true">&times;</span>
  </button>
</div>