<div ng-controller="ListController as ctrl">
  <div class="row" id="filter_bar">
    <div class="columns small-11">
      <div class="row">
        <div class="small-3 columns text-center">
          <i class="fa fa-calendar"></i>
          <input type="text" class="hide-for-small-only hide-for-medium-only" title="Date of travel">
        </div>
        <div class="small-3 columns text-center">
          <%= image_tag 'http://d3tfanr7troppj.cloudfront.net/static_files/images/000/000/024/original/takeoff-icon.png?1453120117' %>
          <input type="text" class="hide-for-small-only hide-for-medium-only" title="Departure airport">
        </div>
        <div class="small-3 columns text-center">
          <%= image_tag 'http://d3tfanr7troppj.cloudfront.net/static_files/images/000/000/025/original/landing-icon.png?1453120137' %>
          <input type="text" class="hide-for-small-only hide-for-medium-only" title="Arrival airport">
        </div>
        <div class="small-3 columns text-center">
          <i class="fa fa-user"></i>
          <input type="number" class="hide-for-small-only hide-for-medium-only" title="Number of passengers">
        </div>
      </div>
    </div>
    <div class="small-1 columns">
      <i id="info_button" class="fa fa-info-circle pull-right"></i>
    </div>
  </div>
  <div class="row">
    <div class="small-12 columns">
      <div class="small-12 medium-6 columns" ng-repeat="jetsteal in ctrl.jetsteals">
        <div class="list_box" ng-style="{'background-color': jetsteal.color}">
          <div class="row">
            <div class="medium-6 hide-for-small-only columns">
              <img ng-src="{{jetsteal.aircraft.aircraft_images[0]}}" class="aircraft_image" src="" alt="">
            </div>
            <div class="medium-6 small-12 columns content_box">
              <h6 class="text-center">{{jetsteal.aircraft.memorable_name}}</h6>
              <h6 class="text-center"><small>{{jetsteal.aircraft.aircraft_type.name}}</small></h6>
              <div class="row">
                <div class="small-5 text-center columns">
                  <img ng-src="{{jetsteal.departure_airport.city.image}}" src="" alt="">
                  <h6 class="text-center"><small>{{jetsteal.departure_airport.city.name}}</small></h6>
                  <h6 class="text-center"><small>{{jetsteal.flight_start_time}}</small></h6>
                </div>
                <div class="small-2 text-center columns middle_box">
                  <img src="http://d3tfanr7troppj.cloudfront.net/static_files/images/000/000/026/original/icon.png?1453190178" alt="">
                </div>
                <div class="small-5 text-center columns">
                  <img ng-src="{{jetsteal.arrival_airport.city.image}}" src="" alt="">
                  <h6 class="text-center"><small>{{jetsteal.arrival_airport.city.name}}</small></h6>
                  <h6 class="text-center"><small>{{jetsteal.flight_end_time}}</small></h6>
                </div>
              </div>
              <div class="row">
                <div class="small-12 columns text-center">
                  <h5 ng-show="jetsteal.sell_by_seats"><small>Seat @</small> <i class="fa fa-rupee"></i> {{jetsteal.min_seat_cost}} <small>onwards</small></h5>
                  <h5 ng-hide="jetsteal.sell_by_seats"><i class="fa fa-rupee"></i> {{jetsteal.cost}}</h5>
                </div>
              </div>
              <div class="row">
                <div class="columns small-6 text-center">
                  <a href="" class="button button_jsg">View Details</a>
                </div>
                <div class="columns small-6 text-center">
                  <a ng-show="jetsteal.sell_by_seats" href="" class="button button_jsg">Book a seat</a>
                  <a ng-hide="jetsteal.sell_by_seats" href="" class="button button_jsg">Book Jet</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
