<div class="row" ng-app="jetsteals_list" ng-controller="JetstealsListController as ctrl">
  <div class="col-sm-4">

  </div>
  <div class="col-sm-8">
    <div class="row" ng-repeat="jetsteal in ctrl.jetsteals">
      <div class="col-sm-3">

      </div>
      <div class="col-sm-9">
        <ul class="list-inline">
          <li>
            <img src="" class="city_image" ng-src="{{jetsteal.departure_airport.city.image}}">
            <h5 class="text-center highlight-light_color">{{jetsteal.departure_airport.city.name}}</h5>
          </li>
          <li><h6>to</h6></li>
          <li>
            <img src="" class="city_image" ng-src="{{jetsteal.arrival_airport.city.image}}">
            <h5 class="text-center highlight-light_color">{{jetsteal.arrival_airport.city.name}}</h5>
          </li>
          <li>
            <h3 class="highlight-light_color">
              {{jetsteal.aircraft.memorable_name}}
            </h3>
            <ul class="list-inline">
              <li><i class="fa fa-plane"></i> {{jetsteal.aircraft.aircraft_type.name}} ({{jetsteal.aircraft.tail_number}})</li>
            </ul>
            <ul class="list-inline">
              <li><i class="fa fa-user"></i> {{jetsteal.aircraft.seating_capacity}}</li>
            </ul>
            <ul class="list-inline">
              <li><i class="fa fa-clock-o"></i> {{jetsteal.end_at | date: "d MMM yyyy, h:mm:a"}}</li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>