<div class="row" ng-app="jetsteal" ng-controller="JetstealController as ctrl">
  <div class="col-sm-4"></div>
  <div class="col-sm-4">
    <ul class="list-inline">
      <li><span class="label label-warning">&nbsp;</span></li>
      <li><span class="label label-danger">&nbsp;</span></li>
    </ul>
    <div id="plane-svg"></div>
  </div>
  <div class="col-sm-4"></div>
</div>