$main-green-color: rgb(70, 217, 191);
$main-red-color: rgb(241, 92, 92);
$sky-blue-color: rgb(31, 141, 212);
$main-yellow-color: rgb(237, 202, 0);
$main-orange-color: rgb(187, 83, 0);
$dark-blue-color: rgb(5, 34, 71);
$gray-color: rgb(173, 182, 181);
$main-blue-color:rgb(5, 81, 139);

.aircraft-content-main{
  position:relative;
  .add-link{
    font-size:16px;
    position:absolute;
    top:0;
    right:15px;
  }
  h3.main-heading{
    margin:0 auto 40px auto;
    color:$dark-blue-color;
    border:0;
    text-align:center;
    font-size:25px;
    padding:5px 10px 13px 10px;
    max-width:800px;
    border-bottom:1px solid #cccccc;
    position:relative;
    background-color:transparent;
    text-transform:uppercase;
  }
  h3.main-heading:after{
    content:"";
    display:inline-block;
    width:20px;
    height:20px;
    background-color:$main-green-color;
    position:absolute;
    border-radius:50%;
    border:3px solid #ffffff;
    bottom:-10px;
    left:48%;
  }
  .right-main-listing{
    width:100%;
    display:inline-block;
    .listing-con{
      padding:10px 10px;
      border-bottom:1px solid #eeeeee;
      h5{
        margin:0;
        font-size:17px;
        color:$main-blue-color;
      }
      p{
        margin:0;
        font-size:14px;
        color:#787878;
      }
    }
  }
}
/*add aircraft page*/
.add-aircraft-main-con{
  h3.add-aircraft-heading{
    margin:0 auto 40px auto;
    color:$dark-blue-color;
    border:0;
    text-align:center;
    font-size:25px;
    padding:5px 10px 13px 10px;
    max-width:500px;
    border-bottom:1px solid #cccccc;
    position:relative;
  }
  h3.add-aircraft-heading:after{
    content:"";
    display:inline-block;
    width:20px;
    height:20px;
    background-color:$main-green-color;
    position:absolute;
    border-radius:50%;
    border:3px solid #ffffff;
    bottom:-10px;
    left:48%;
  }
  .add-aircraft-from{
    background-color:#fbfbfb;
    padding:15px;
    -webkit-box-shadow: 0px 0px 8px 3px rgba(204,204,204,0.6);
    -moz-box-shadow: 0px 0px 8px 3px rgba(204,204,204,0.6);
    box-shadow: 0px 0px 8px 3px rgba(204,204,204,0.6);
    .save-btn{
      width:30%;
    }
    label{
      color:#777777;
      font-weight:normal;
    }
    .main-yesno{
      width:50px; 
      height:27px;
      border-radius:30px;
      border:1px solid #cccccc;
      display:inline-block;
      margin-top:2px;
      .yes-con{
        width:25px;
        height:25px;
        display:inline-block;
        background-color:#46d9bf;
        border-radius:50%;
        float:right;
        text-align:center;
        color:#ffffff;
        padding-top:3px;
        font-size:12px;
      }
      .no-con{
        width:25px;
        height:25px;
        display:inline-block;
        background-color:#f15c5c;
        border-radius:50%;
        float:left;
        text-align:center;
        color:#ffffff;
        padding-top:3px;
        font-size:12px;
      }
    }
    .form-colomn{
      margin-bottom:15px;
      .text-boxes{
      }
      .checkbox-text{
        width:14px;
        box-shadow:none;
        margin:0;
      }
    }
  }
  .save-btn2{
    width:50%;
    padding:10px;
    float:right;
  }
  .back-btn{
    width:50%;
    padding:10px;
  }
}
/*add aircraft page*/

@media(max-width:767px){
  .add-aircraft-main-con{
    .save-btn2{
      width:100%;
      padding:10px;
      float:right;
    }
    .back-btn{
      width:100%;
      padding:10px;
    }
  }
}