$main-green-color: rgb(70, 217, 191);
$main-red-color: rgb(241, 92, 92);
$sky-blue-color: rgb(31, 141, 212);
$main-yellow-color: rgb(237, 202, 0);
$main-orange-color: rgb(187, 83, 0);
$dark-blue-color: rgb(5, 34, 71);
$gray-color: rgb(173, 182, 181);
$main-blue-color:rgb(5, 81, 139);

.aircraft-content-main{
  position:relative;
  .add-link{
    font-size:16px;
    position:absolute;
    top:0;
    right:15px;
  }
  h3.main-heading{
    margin:10px auto 40px auto;
    color:$dark-blue-color;
    border:0;
    text-align:center;
    font-size:25px;
    padding:5px 10px 13px 10px;
    max-width:800px;
    border-bottom:1px solid #cccccc;
    position:relative;
    background-color:transparent;
    text-transform:uppercase;
  }
  h3.main-heading:after{
    content:"";
    display:inline-block;
    width:20px;
    height:20px;
    background-color:$main-green-color;
    position:absolute;
    border-radius:50%;
    border:3px solid #ffffff;
    bottom:-10px;
    left:48%;
  }
  .aircraft_left-img{
    text-align:center;
  }
  .right-main-listing{
    width:100%;
    display:inline-block;
    .listing-con{
      padding:10px 10px;
      border-bottom:1px solid #eeeeee;
      a.add-edit-btn{
        background-color:$main-blue-color;
        color:#ffffff;
        display:inline-block;
        padding:8px 15px;
        border-radius:5/px;
      }
      h5{
        margin:0;
        font-size:17px;
        color:$main-blue-color;
      }
      p{
        margin:0;
        font-size:14px;
        color:#787878;
      }
      .red-cross-icon{
        color:$main-red-color;
        font-size:18px;
      }
      .green-check-icon{
        color:$main-green-color;
        font-size:18px;
      }
    }
  }
}
/*add aircraft page*/
.add-aircraft-main-con{
  h3.add-aircraft-heading{
    margin:0 auto 40px auto;
    color:$dark-blue-color;
    border:0;
    text-align:center;
    font-size:25px;
    padding:5px 10px 13px 10px;
    max-width:500px;
    border-bottom:1px solid #cccccc;
    position:relative;
  }
  h3.add-aircraft-heading:after{
    content:"";
    display:inline-block;
    width:20px;
    height:20px;
    background-color:$main-green-color;
    position:absolute;
    border-radius:50%;
    border:3px solid #ffffff;
    bottom:-10px;
    left:48%;
  }
  .add-aircraft-from{
    *background-color:#fbfbfb;
    -webkit-box-shadow: 0px 0px 8px 3px rgba(204,204,204,0.6);
    -moz-box-shadow: 0px 0px 8px 3px rgba(204,204,204,0.6);
    box-shadow: 0px 0px 8px 3px rgba(204,204,204,0.6);
    .save-btn{
      width:30%;
    }
    label{
      color:#777777;
      font-weight:normal;
    }
    label.wifiphn-label{
      float:left;
      margin:10px 0 4px 0;
    }
    label.atndntevac-label{
      float:left;
      margin:4px 0 0 0;
      line-height:15px;
    }
    .main-yesno{
      width:50px; 
      height:27px;
      border-radius:30px;
      border:1px solid #cccccc;
      display:inline-block;
      margin-top:7px;
      cursor:pointer;
      float:right;
      margin-right:50px;
      .yes-con{
        width:25px;
        height:25px;
        display:inline-block;
        background-color:#46d9bf;
        border-radius:50%;
        float:right;
        text-align:center;
        color:#ffffff;
        padding-top:3px;
        font-size:12px;
      }
      .no-con{
        width:25px;
        height:25px;
        display:inline-block;
        background-color:#f15c5c;
        border-radius:50%;
        float:left;
        text-align:center;
        color:#ffffff;
        padding-top:3px;
        font-size:12px;
      }
    }
    .grey-bg{
      background-color:#f1f1f1;
    }
    .form-colomn{
      padding:18px 0;
      .text-boxes{
        border:0px;
        box-shadow:none;
        background-color:transparent;
        text-align:center;
        text-align-last:center;
        color:#888;
        option{
          text-align:center;
          text-align-last:center;
        }
      }
      .checkbox-text{
        width:14px;
        box-shadow:none;
        margin:0;
      }
    }
  }
  .below-btn-con{
    background-color:#eeeeee;
    padding:20px 0;
    .save-btn2{
      width:70%;
      padding:10px;
      float:right;
    }
    .back-btn{
      width:70%;
      padding:10px;
    }
  }
}
/*add aircraft page*/

@media(max-width:767px){
  .add-aircraft-main-con{
    .save-btn2{
      width:100%;
      padding:10px;
      float:right;
    }
    .back-btn{
      width:100%;
      padding:10px;
    }
  }
  .aircraft-content-main{
    position:relative;
    .add-link{
      font-size:14px;
    }
    h3.main-heading{
      font-size:20px;
    }
  }
  .aircraft-content-main{
    .aircraft_left-img{
      margin-bottom:30px;
    }
    .right-main-listing{
      width:100%;
      display:inline-block;
      .listing-con{
        padding:0px;
        border-bottom:0px solid #eeeeee;
        .res-btm-border{
          padding:10px 10px;
          border-bottom: 1px solid #eeeeee;
        }
        h5{
          margin:0;
          font-size:17px;
          color:$main-blue-color;
        }
        p{
          margin:0;
          font-size:14px;
          color:#787878;
        }
      }
    }
  }
}

@media(max-width:400px){
  .aircraft-content-main{
    position:relative;
    .add-link{
      font-size:12px;
      position:static;
      text-align:right;
      display:inline-block;
      width:100%;
      margin-bottom:5px;
    }
    h3.main-heading{
      font-size:19px;
      margin-bottom:20px;
    }
  }
}