$main-green-color: rgb(70, 217, 191);
$main-red-color: rgb(241, 92, 92);
$sky-blue-color: rgb(31, 141, 212);
$main-yellow-color: rgb(237, 202, 0);
$main-orange-color: rgb(187, 83, 0);
$dark-blue-color: rgb(5, 34, 71);
$gray-color: rgb(173, 182, 181);
$main-blue-color:rgb(5, 81, 139);

.aircraft-content-main{
  position:relative;
  h3.main-heading{
    margin:10px auto 40px auto;
    color:$dark-blue-color;
    border:0;
    text-align:center;
    font-size:25px;
    padding:5px 10px 13px 10px;
    max-width:800px;
    border-bottom:1px solid #cccccc;
    position:relative;
    background-color:transparent;
    text-transform:uppercase;
  }
  h3.main-heading:after{
    content:"";
    display:inline-block;
    width:20px;
    height:20px;
    background-color:$main-green-color;
    position:absolute;
    border-radius:50%;
    border:3px solid #ffffff;
    bottom:-10px;
    left:48%;
  }
  ul.aircraft-tail-main{
    padding:0;
    margin:0;
    li{
      list-style:none;
      padding:10px 5px;
      margin-bottom:5px;
      background-color:#eeeeee;
      cursor:pointer;
      .plane-icon{
        padding:0 10px;
      }
    }
    li.add-aircrft-link{
      background-color:$main-blue-color;
      text-align:center;
      .add-link{
        font-size:14px;
        color:#ffffff;
      }
    }
    li.selected-link{
      background-color:$main-green-color;
      color:#ffffff;
    }
  }
  .aircraft-detail-main{
    background-color:#f1f1f1;
    padding-bottom:20px;
    .aircraft-img-main{
      border-right:1px solid #cccccc;
      min-height:290px;
      ul.aircraft_image_holder{
        padding:0;
        margin:0;
        width:100%;
        li{
          list-style:none;
          position:relative;
          .cross-icon{
            top: -6px;
            left: -3px;
            color:$main-red-color;
          }
          .add-btn{
            background-color:$main-blue-color;
            color:#ffffff;
            width:100%;
            text-align:center;
            display:inline-block;
            padding:5px 15px;
          }
          img{
            padding:2px;
            background-color:#ffffff;
            margin:5px 0;
          }
        }
      }
    }
    a.edit-btn{
      color:#888888;
      display:inline-block;
      margin:5px 0;
    }
    .aircraft-right-detail{
      h5{
        margin:0;
        color:$main-blue-color;
        font-weight:bold;
        font-size:12px;
      }
      p{
        color:#888888;
        font-size:12px;
        position:relative;
      }
      .strick-icon{
        text-decoration:line-through;
      }
      .not-avilable-line{
        width:18px;
        position:absolute;
        display:inline-block;
        height:1px;
        top:8px;
        left:-3px;
        background-color:#cc0000;
        -moz-transform: rotate(135deg);
        -webkit-transform: rotate(135deg);
        -o-transform: rotate(135deg);
        -ms-transform: rotate(135deg);
        transform: rotate(135deg);
      }
    }
  }
}
/*add aircraft page*/
.add-aircraft-main-con{
  h3.add-aircraft-heading{
    margin:0 auto 40px auto;
    color:$dark-blue-color;
    border:0;
    text-align:center;
    font-size:25px;
    padding:5px 10px 13px 10px;
    max-width:500px;
    border-bottom:1px solid #cccccc;
    position:relative;
  }
  h3.add-aircraft-heading:after{
    content:"";
    display:inline-block;
    width:20px;
    height:20px;
    background-color:$main-green-color;
    position:absolute;
    border-radius:50%;
    border:3px solid #ffffff;
    bottom:-10px;
    left:48%;
  }
  .add-aircraft-from{
    *background-color:#fbfbfb;
    -webkit-box-shadow: 0px 0px 8px 3px rgba(204,204,204,0.6);
    -moz-box-shadow: 0px 0px 8px 3px rgba(204,204,204,0.6);
    box-shadow: 0px 0px 8px 3px rgba(204,204,204,0.6);
    .save-btn{
      width:30%;
    }
    label{
      color:#777777;
      font-weight:normal;
    }
    label.wifiphn-label{
      float:left;
      margin:10px 0 4px 0;
    }
    label.atndntevac-label{
      float:left;
      margin:4px 0 0 0;
      line-height:15px;
    }
    .main-yesno{
      width:50px;
      height:27px;
      border-radius:30px;
      border:1px solid #cccccc;
      display:inline-block;
      margin-top:7px;
      cursor:pointer;
      float:right;
      margin-right:50px;
      .yes-con{
        width:25px;
        height:25px;
        display:inline-block;
        background-color:#46d9bf;
        border-radius:50%;
        float:right;
        text-align:center;
        color:#ffffff;
        padding-top:3px;
        font-size:12px;
      }
      .no-con{
        width:25px;
        height:25px;
        display:inline-block;
        background-color:#f15c5c;
        border-radius:50%;
        float:left;
        text-align:center;
        color:#ffffff;
        padding-top:3px;
        font-size:12px;
      }
    }
    .grey-bg{
      background-color:#f1f1f1;
    }
    .form-colomn{
      padding:18px 0;
      .text-boxes{
        border:0px;
        box-shadow:none;
        background-color:transparent;
        text-align:center;
        text-align-last:center;
        color:#888;
        option{
          text-align:center;
          text-align-last:center;
        }
      }
      .checkbox-text{
        width:14px;
        box-shadow:none;
        margin:0;
      }
    }
  }
  .below-btn-con{
    background-color:#eeeeee;
    padding:20px 0;
    .save-btn2{
      width:70%;
      padding:10px;
      float:right;
    }
    .back-btn{
      width:70%;
      padding:10px;
    }
  }
}
/*add aircraft page*/

@media(max-width:767px){
  .aircraft-content-main{
    .aircraft-detail-main{
      .aircraft-img-main{
        border-right:0px;
        border-bottom:1px solid #cccccc;
        margin-bottom:20px;
        padding-bottom:10px;
        ul.aircraft_image_holder{
          li{
            text-align:center;
            .cross-icon{
              top: inherit;
              left: inherit;
            }
            .add-btn{
              max-width:255px;
              margin:0 auto;
            }
            img{
              display:inline-block;
            }
          }
        }
      }
    }
  }
  .add-aircraft-main-con{
    .grey-bg{
      background-color:inherit !important;
    }
    .col-xs-12{
      padding:0;
      .form-colomn{
        border-bottom:1px solid #eee;
        padding:18px 5px;
        .main-yesno{
          margin-right:5px;
        }
      }
    }
    .below-btn-con{
      .save-btn2{
        width:100%;
      }
      .back-btn{
        width:100%;
      }
    }
  }
}