$main-green-color: rgb(70, 217, 191);
$main-red-color: rgb(241, 92, 92);
$sky-blue-color: rgb(31, 141, 212);
$main-yellow-color: rgb(237, 202, 0);
$main-orange-color: rgb(187, 83, 0);
$dark-blue-color: rgb(5, 34, 71);
$gray-color: rgb(173, 182, 181);
$main-blue-color:rgb(5, 81, 139);

.profile-content-main{
  position:relative;
  h3.main-heading{
    margin:10px auto 40px auto;
    color:$dark-blue-color;
    border:0;
    text-align:center;
    font-size:25px;
    padding:5px 10px 13px 10px;
    max-width:800px;
    border-bottom:1px solid #cccccc;
    position:relative;
    background-color:transparent;
    text-transform:uppercase;
  }
  h3.main-heading:after{
    content:"";
    display:inline-block;
    width:20px;
    height:20px;
    background-color:$main-green-color;
    position:absolute;
    border-radius:50%;
    border:3px solid #ffffff;
    bottom:-10px;
    left:48%;
  }
  .profile-main-con{
  	-webkit-box-shadow: 0px 0px 8px 3px rgba(204,204,204,0.6);
    -moz-box-shadow: 0px 0px 8px 3px rgba(204,204,204,0.6);
    box-shadow: 0px 0px 8px 3px rgba(204,204,204,0.6);
    *background-image:url(http://d3tfanr7troppj.cloudfront.net/static_files/images/000/000/134/original/profile_bg.jpg?1460443997);
    *background-position:55% 33%;	
    *color:#ffffff;
    position:relative;
    padding:15px 0;
    h2.full-name{
    	font-size:50px;
    	margin:0;
    	border-bottom:1px solid #eeeeee;
    	margin-bottom:15px;
    	color:$dark-blue-color;
    }
    .text-con{
    	margin:5px -15px;
    	label{
    		color:#888888;
    		font-weight:normal;
    	}
    }
    h3.email-no{
    	font-size:17px;
    	margin:0;
    	// font-style:italic;
    }
    a.edit-icon{
    	position:absolute;
    	top:10px;
    	right:15px;
    	font-size:17px;
    	z-index:1;
    	text-decoration:none;
    }
    .field-con{
    	margin:10px 0;
    	label{
    		color:#888888;
    		font-weight:normal;
    	}
    	.text-field{
    		width:100%;
    		height:35px;
    		padding:5px;
    		border:1px solid #eeeeee;
    	}
    	p{
    		font-size:17px;
    		color:#444444;
    	}
    	.save-btn{
    		width:100%;
    		max-width:200px;
    		margin:0 auto;
    	}
    }
  }
}