.modal{
	background-color:rgba(0,0,0,0.7) !important;
	.modal-content{		
		position:relative;
		i.cross{
			color:#ffffff;
			position:absolute;
			right:-10px;
			top:-10px;
			font-size:20px;
			cursor: pointer;
		}
	}
}
.red-bg{
	background-color:rgba(241,92,92,0.9) !important;
}
.skyblue-bg{
	background-color:rgba(31,141,212,0.9) !important;
}
.yellow-bg{
	background-color:rgba(242,208,59,0.9) !important;
}
.table-main{
	width:100%;
	margin:0;
	span{
		display:inline-block;
		text-align:center;
		width:100%;
		img{
			border:1px solid #ffffff;
			padding:3px;
			margin:1px;
			max-width:100%;
		}
	}
	tr{
		td{
			border:0px !important;
			.sub-repeat-table{
				tr{
					h4{
						color:#ffffff;
						text-align:center;
						*border-bottom:1px solid #ffffff;
						border-top:1px solid #ffffff;
						padding:15px 0;
						margin-bottom:0;
						font-weight:bold;
					}
				}
			}
		}
		td.img-con{
			width:30%;
			padding:30px 0;
		}
		td.img-content{
			width:70%;
			padding:30px 15px 30px 0;
			table{
				width:100%;
				th.main_heading{
					h3{
						font-size:22px; 
						padding:15px 0 40px 0;
						border-bottom:1px solid #ffffff;
						margin:0 0 20px 0;
						font-weight:bold;
						color:#ffffff;
					}
				}
				th.sub-heading{
					font-size:15px;
					padding:7px 0;
					color:#ffffff;
					width:30%;
				}
				td.sub-result{
					font-size:15px;
					padding:7px 0;
					color:#ffffff;
				}
			}
		}
		td.quote-content{
			table{
				th.sub-heading{
					width:50% !important;
				}
				td.sub-result{
					width:50% !important;
				}
			}
		}
	}	
}

@media(max-width:767px){
	.table-main{
		span{
			img{
				border:1px solid #ffffff;
				padding:1px;
				margin:1px;
				width:100%;
			}
		}
		tr{
			td{
				border:0px !important;
				.sub-repeat-table{
					tr{
						h4{
							font-size:14px;
						}
					}
				}
			}
			td.img-con{
				padding:15px 0;
			}
			td.img-content{
				padding:15px 15px 15px 0;
				table{
					th.main_heading{
						h3{
							font-size:16px;
							padding:10px 0 10px 0;
							margin:0 0 10px 0;
						}
					}
					th.sub-heading{
						font-size:11px;
						padding:5px 0;
					}
					td.sub-result{
						font-size:11px;
						padding:5px 0;
					}
				}
			}
		}	
	}
}