$main-green-color: rgb(70, 217, 191);
$main-red-color: rgb(241, 92, 92);
$sky-blue-color: rgb(31, 141, 212);
$main-yellow-color: rgb(237, 202, 0);
$main-orange-color: rgb(187, 83, 0);
$dark-blue-color: rgb(5, 34, 71);
$gray-color: rgb(173, 182, 181);
$main-blue-color:rgb(5, 81, 139);

.modal{
	background-color:rgba(0,0,0,0.7) !important;
	.modal-content{		
		position:relative;
		i.cross{
			position:absolute;
			right:-10px;
			top:-10px;
			font-size:20px;
			cursor: pointer;
		}
	}
}
.red-bg{
	background-color:rgba(241,92,92,0.9) !important;
}
.skyblue-bg{
	background-color:rgba(31,141,212,0.9) !important;
}
.yellow-bg{
	background-color:rgba(242,208,59,0.9) !important;
}
.red-color{
	color:rgba(241,92,92,1) !important;
}
.skyblue-color{
	color:rgba(31,141,212,1) !important;
}
.yellow-color{
	color:rgba(242,208,59,1) !important;
}
.schedule-content-main{
	h3.main-heading{
		margin:0 auto 40px auto;
	    color:$dark-blue-color;
	    border:0;
	    text-align:center;
	    font-size:25px;
	    padding:5px 10px 13px 10px;
	    max-width:800px;
	    border-bottom:1px solid #cccccc;
	    position:relative;
	    background-color:transparent;
	    text-transform:uppercase;
	}
	h3.main-heading:after{
		content:"";
	    display:inline-block;
	    width:20px;
	    height:20px;
	    background-color:$main-green-color;
	    position:absolute;
	    border-radius:50%;
	    border:3px solid #ffffff;
	    bottom:-10px;
	    left:48%;
	}
	.schedule-main-left{
		background-color:#f9f9f9;
		padding-bottom:20px;
		h4.schedule-category{
			font-size: 18px;
		    background-color: #05518b;
		    margin: 0;
		    padding: 12px 10px;
		    color: #ffffff;
		}
		ul.add-field-main{
			padding:0;
			margin:0;
			li.add-field{
				list-style:none;
				padding:15px 0;
				border-bottom:1px solid #eeeeee;
				padding-left:10px;
				span.bullet-dot{
					width:10px;
					height:10px;
					border-radius:50%;
					display:inline-block;
				}
				span.blue-color{
					background-color:#1f8dd4;
				}
				span.red-color{
					background-color:$main-red-color;
				}
				a.add-trip{
					color:#1f8dd4;
					padding-left:5px;
					font-size:16px;
					text-decoration: none;
				}
				a.add-unavailability{
					color:$main-red-color;
					padding-left:5px;
					font-size:16px;
					text-decoration: none;
				}
			}
		}
	}
}
.table-main{
	width:100%;
	margin:0;
	padding:30px 0;
		.main_heading{
			h3{
			font-size:22px; 
			padding:10px 0 40px 0;
			border-bottom:1px solid #ccc;
			margin:0 0 20px 0;
			font-weight:bold;
			}
		}
	.img-con{
		span{
			display:inline-block;
			text-align:center;
			width:100%;
			img{
				border:1px solid #ffffff;
				padding:3px;
				margin:1px;
				max-width:100%;
				display:inline-block;
			}
		}
	}
	.img-content{
		.main_heading{
			h3{
			font-size:22px; 
			padding:10px 0 40px 0;
			border-bottom:1px solid #ccc;
			margin:0 0 20px 0;
			font-weight:bold;
			}
		}
		h4{
			color:#ffffff;
			text-align:center;
			*border-bottom:1px solid #ffffff;
			border-top:1px solid #cccccc;
			padding:15px 0;
			margin-bottom:0;
			font-weight:bold;
		}
		.sub-border-con{
			padding:10px 15px;
			.sub-heading{
				font-size:17px;
				padding:0;
				color:$main-blue-color;
				*font-weight:bold;
				margin:0;
			}
			.sub-result{
				font-size:14px;
				padding:0;
				color:#999;
				margin:0;
			}
		}
	}
}

.add-form-main{
	background-color:#ffffff;
	padding-bottom:20px;
	h2{
		font-size: 18px; 
		background-color: #05518b; 
		margin: 0; 
		padding: 12px 15px; 
		color: #ffffff; 
	}
	.field{
		margin-top:15px;
	}
	legend{
		font-size:18px;
		font-weight:bold;
		margin-top:25px;
	}
	.check{
		display:none;
	}
	.savebutton{
		width:200px;
		text-align:center;
		margin:0 auto;
		display:inline-block;
		margin-top:15px;
	}
	.main-yesno{
		width:50px; 
		height:27px;
		border-radius:30px;
		border:1px solid #cccccc;
		display:inline-block;
		margin-top:5px;
		.yes-con{
			width:25px;
			height:25px;
			display:inline-block;
			background-color:#46d9bf;
			border-radius:50%;
			float:right;
			text-align:center;
			color:#ffffff;
			padding-top:3px;
			font-size:12px;
		}
		.no-con{
			width:25px;
			height:25px;
			display:inline-block;
			background-color:#f15c5c;
			border-radius:50%;
			float:left;
			text-align:center;
			color:#ffffff;
			padding-top:3px;
			font-size:12px;
		}
	}
	.da-box{
		position:relative;
		padding:15px 0;
		.scnd-cross{
			color:#cc0000;
			right: -9px;
			top: 9px;
		}
	}
}

@media(max-width:767px){
	.table-main{
		width:100%;
		margin:0;
		padding:30px 0;
		.img-con{
			span{
				display:inline-block;
				text-align:center;
				width:100%;
				img{
					border:1px solid #ffffff;
					padding:3px;
					margin:1px;
					max-width:100%;
					display:inline-block;
				}
			}
		}
		.img-content{
			.main_heading{
				h3{
				font-size:18px; 
				padding:20px 0;
				border-bottom:1px solid #ffffff;
				margin:0 0 10px 0;
				font-weight:bold;
				color:#ffffff;
				}
			}
			h4{
				color:#ffffff;
				text-align:center;
				*border-bottom:1px solid #ffffff;
				border-top:1px solid #ffffff;
				padding:15px 0;
				font-size:16px;
				margin-bottom:0;
				font-weight:bold;
			}
			.sub-heading{
				font-size:13px;
				padding:2px 0;
				color:#ffffff;
				font-weight:bold;
			}
			.sub-result{
				font-size:14px;
				padding:2px 0;
				color:#ffffff;
			}
		}
	}
}