$main-green-color: rgb(47, 191, 149);
$main-red-color: rgb(241, 92, 92);
$sky-blue-color: rgb(31, 141, 212);
$main-yellow-color: rgb(237, 202, 0);
$main-orange-color: rgb(187, 83, 0);
$dark-blue-color: rgb(5, 34, 71);

.main-heading{
  margin: 0 0 10px;
  padding: 10px;
  background: red;
  color: white;
  a{
    color: white;
    font-size: small;
    margin-top: 6px;
  }
}

.trip_{
  background-color: $sky-blue-color;
}

.a_u_{
  background-color: $main-red-color;
}

.forum_{
  background-color: $main-orange-color;
}

.schedule_{
  background-color: $main-green-color;
}

.aircrafts_{
  background-color: $dark-blue-color;
}

body{
  font-family: 'Open Sans', sans-serif, 'Helvetica Neue', Helvetica, Roboto, Arial;;
}

.highlight_e_l{
  background-color: $main-yellow-color;
  color: white;
}

.highlight_trip{
  background-color: $sky-blue-color;
  color: white;
}

.highlight_au{
  color: white;
  background-color: $main-red-color;
}

.bordered{
  border: 1px solid lightgray;
}

.form-control{
  border-radius: 0;
}

.fc-state-default{
  border-radius: 0;
}

.fc-corner-left{
  border-top-left-radius: 0!important;
  border-bottom-left-radius: 0!important;
}

.fc-corner-right{
  border-top-right-radius: 0!important;
  border-bottom-right-radius: 0!important;
}

.sidebar-link{
  display: inline-block;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  color: white;
  &:hover{
    text-decoration: none;
    color: white;
  }
}

.sidebar-home{
  background-color: $main-green-color;
}

.sidebar-trips{
  background-color: $sky-blue-color;
}

.sidebar-a_u{
  background-color: $main-red-color;
}

.sidebar-forum{
  background-color: $main-orange-color;
}

.sidebar-aircrafts{
  background-color: $dark-blue-color;
}

.popover-title{
  color: white;
  background-color: $main-green-color;
}

#loading-bar{
  .bar{
    height: 4px!important;
    background-color: $main-red-color!important;
  }
}

.aircraft_image_holder{
  display: inline-block;
  .fa-times{
    position: absolute;
    font-size: 16px;
    cursor: pointer;
  }
}

.margin-top{
  margin-top: 10px;
}

.inline-block{
  display: inline-block;
}

.padding-top-15{
  padding-top: 15px;
}

.forum-topic-container{
  border: 1px solid lightgray;
  border-radius: 5px;
  padding-left: 10px;
}

#tail_number{
  text-transform: uppercase;
}

#organisation_name,input#first_name,input#last_name{
  text-transform: capitalize;
}

#plus_91{
  position: absolute;
  margin-top: 32px;
  margin-left: -35px;
}

input#phone{
  padding-left: 35px;
}

.aircraft_unavailability_event{
  border: none;
  border-radius: 0;
  padding: 5px;
  cursor: pointer;
  background-color: rgb(241, 92, 92);
  &:hover{
    background-color: rgb(204, 102, 0);
  }
}

.trip-event{
  border: none;
  border-radius: 0;
  padding: 5px;
  cursor: pointer;
  background-color: $sky-blue-color;
}

.event-unavailability{
  background-color: $main-red-color;
}

.event-empty-leg{
  background-color: $main-yellow-color;
}

.btn-primary{
  background-color: $sky-blue-color;
}

.btn{
  border: none;
  border-radius: 0;
}

.fc-time{
  display: none;
}

#header{
  background-color: #2fbf95;
  padding: 10px;
}
.custom-navbar{
  margin:0;
  background-color:transparent;
  border:none;
  .logo-img{
    img{
      height:50px;
    }
  }
}

.danger-row{
  background-color: $main-red-color;
  a{
    color: white;
  }
}

.highlight_{
  background-color: $main-yellow-color;
  color: white;
}

#header{
  background-color: $main-green-color;
  padding: 10px;
  .logo{
    height: 50px;
  }
  a{
    color: white!important;
  }
  ul{
    margin: 7px 0 0;
    padding:0
  }
  .logo_list{
    li{
      margin-right: 25px!important;
      float:left;
      list-style:none;
    }
    .main_link{
      width: 40px;
      height: 35px;
      display: inline-block;
      background: url(http://d3tfanr7troppj.cloudfront.net/static_files/images/000/000/022/original/nav-icons-img.png?1453106758);
    }
    #jetsteal_link{
      background-position: -74px -35px;
    }
    #experiences_link{
      background-position: -140px 0;
    }
    #multi_trip_link{
      background-position: -206px 0;
    }
    #rescue_link{
      background-position: -272px 0;
    }
    #jetsetcars_link{
      background-position: 0 83px;
    }
  }
  .right_list{
    margin-top: 13px;
    float: right;
    list-style-type: none;

    li{
      display: inline-block;
      margin-right: 10px;

      a{
        text-decoration:none;
      }
      a:hover{
        text-decoration:none;
      }
    }
  }
}

.logo-main-con{
  max-width: 145px;
}
.navbar-hidden{padding:0;}

#header{
  margin-bottom: 10px;
  border-radius: 0;
  ul.dropdown-menu{
    border-radius:0;
    border:0;
    border-bottom:1px solid #eee;
    li{
      width:100%;
      a{
        color:#000000 !important;
        padding:5px;
      }
    }
  }
}

/*changes Rahul 25-2-2016*/

/*forum index page*/
.bg1{
    background-color:#f7f7f7;
  }
  .bg2{
    background-color:#f3f3f3;
  }
.topic-main-con{
  border-radius: 0;
  border:0;
  padding:5px 10px;
  
  h3{
    color:$main-green-color;
    margin:5px 0;
  }
  p{
    color:#000000;
    margin:5px 0;
    text-align: justify;
    font-size:14px;
  }
}
.date-list{
  li{
    float:none;
    display: block;
  }
  li.organition-name{
  color:$dark-blue-color;
  font-weight:bold;
  font-size:16px;
  margin:5px 0 0 0;
  }
  li.date-field{
  color:#999999;
  font-size:12px;
  }
}
/*forum index page*/

/*forum show page*/
.main-top-data{
  ul{
  color:#888888;
  }
  h3{
    margin:0;
    padding: 8px;
    color: #ffffff;
    background-color:$main-orange-color;
  }
  p{
    margin:10px 0;
    font-size:14px;
  }
}

.scroll-con{
 height:300px;
 overflow-y: scroll;
  ul.comment-box{
    margin:0;
    
  }
  li{
  border-radius:5px;
  border:none;
  }
  li.bg-coment-red{
  background-color:#fbcece;
  margin-left:17px;
  width:80%;
  float:left;
  margin-top:10px;
  .chat-arrow-right{
      display:none;
    }
  }
  li.bg-coment-green{
  background-color:#c7f4ec;
  margin-right:17px;
  width:80%;
  float:right;
  margin-top:10px;
    .chat-arrow-left{
      display:none;
    }
  }

  .forum-topic-container2{
    border:0;
    padding:0;
    margin:0;
    position:relative;
    p{
      margin: 10px 8px;
      text-align:justify;
    }
    .chat-arrow-left{
    position:absolute;
    left:-17px;
    bottom:-10px;
    }
    .chat-arrow-right{
    position:absolute;
    right:-17px;
    bottom:-10px;
    }
  }
  .date-main-con{
    
    padding:5px;
    margin:0;
    width:100%;
    background-color:#f5f5f5;
    font-size:12px;
    -webkit-border-top-left-radius: 4px;
    -webkit-border-top-right-radius: 4px;
    -moz-border-radius-topleft: 4px;
    -moz-border-radius-topright: 4px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    
     li{

     }
  }
}

.comment-section{
  background-color:#f5f5f5;
  padding:10px 20px 20px 20px;
  .save-btn{
    min-width:80%;
  }
}
/*forum show page*/

/*changes Rahul 25-2-2016*/

@media(max-width:1060px){
  #header{
    ul.logo_list{
      li{
        margin-right: 10px !important;
      }
    }
    ul.right_list{
      float: none;
      li{
        margin-right:5px;
      }
    }
  }
}

@media(max-width:1023px){
  #header{
    ul.logo_list{
      li{
        margin-right: 5px !important;
      }
    }
    ul.right_list{
      float: none;
      font-size:10px;
      li{
        margin-right:3px;
      }
    }
  }
}

@media(max-width:767px){
  .navbar-responsive{float:right}
  .navbar-hidden{margin-top:15px;}
  #header{
    ul.logo_list{
      max-width: 310px;
      margin: 7px auto 0 auto;
      li{
        margin-right: 10px !important;
      }
    }
    ul.right_list{
      float: none;
      list-style-type: none;
      font-size: 10px;
      max-width: 310px;
      margin: 5px auto 0 auto;
      li{
        margin-right:9px;
      }
    }
  }
  a:hover{
    text-decoration:none;
  }

  .scroll-con{
    li.bg-coment-red{
    margin-left:10px;
    width:92%;
    
    }
    li.bg-coment-green{
    margin-right:10px;
    width:92%;
    }

    .forum-topic-container2{
      p{
        margin: 10px 8px;
        font-size:12px;
      }
      .chat-arrow-left{
      left:-10px;
      }
      .chat-arrow-right{
      right:-10px;
      }
    }
    .date-main-con{
      
      padding:5px;
      margin:0;
      width:100%;
      background-color:#f5f5f5;
      font-size:12px;
      -webkit-border-top-left-radius: 4px;
      -webkit-border-top-right-radius: 4px;
      -moz-border-radius-topleft: 4px;
      -moz-border-radius-topright: 4px;
      border-top-left-radius: 4px;
      border-top-right-radius: 4px;
      
       li{

       }
    }
  }

}

.full-width{
  width: 100%;
}

.activity-box{
  padding: 10px;
  border: 1px solid lightgray;
  margin-top: 10px;
  .fa-times-circle-o{
    cursor: pointer;
    font-size: 20px;
    position: absolute;
    margin-left: -19px;
    margin-top: -19px;
    color: $main-red-color;
  }
}