.aircraft_image_holder{
  display: inline-block;
  .fa-times{
    position: absolute;
    font-size: 16px;
    cursor: pointer;
  }
}

.margin-top{
  margin-top: 10px;
}

.inline-block{
  display: inline-block;
}

.padding-top-15{
  padding-top: 15px;
}

.forum-topic-container{
  border: 1px solid lightgray;
  border-radius: 5px;
  padding-left: 10px;
}