$main-green-color: rgb(70, 217, 191);
$main-red-color: rgb(241, 92, 92);
$sky-blue-color: rgb(31, 141, 212);
$main-yellow-color: rgb(237, 202, 0);
$main-orange-color: rgb(187, 83, 0);
$dark-blue-color: rgb(5, 34, 71);
$gray-color: rgb(173, 182, 181);
$main-blue-color:rgb(5, 81, 139);

.unavailabilities-content-main{
	h3.main-heading{
		margin:10px auto 40px auto;
	    color:$dark-blue-color;
	    border:0;
	    text-align:center;
	    font-size:25px;
	    padding:5px 10px 13px 10px;
	    max-width:800px;
	    border-bottom:1px solid #cccccc;
	    position:relative;
	    background-color:transparent;
	    text-transform:uppercase;
	}
	h3.main-heading:after{
		content:"";
	    display:inline-block;
	    width:20px;
	    height:20px;
	    background-color:$main-green-color;
	    position:absolute;
	    border-radius:50%;
	    border:3px solid #ffffff;
	    bottom:-10px;
	    left:48%;
	}
}
.right-unavailability-con{
	border:1px solid #eeeeee;
	padding-bottom:15px;
	h3{
		margin:0;
		padding:10px;
		color:#ffffff;
		font-size:16px;
		background-color:$main-blue-color;
	}
	.no-padding{
		padding:0;
	}
	.button-con{
		.save-btn{
			width:100%;
			padding:10px 0;
		}
		.delete-btn{
			width:100%;
			padding:10px 0;
		}
	}
}

@media(max-width:1100px){
	.right-unavailability-con{
		.button-con{
			.save-btn{
				font-size:12px;
			}
			.delete-btn{
				font-size:12px;
			}
		}
	}
}
@media(max-width:990px){
	.right-unavailability-con{
		.button-con{
			.save-btn{
				font-size:9px;
			}
			.delete-btn{
				font-size:9px;
			}
		}
	}
}
@media(max-width:767px){
	.right-unavailability-con{
		.button-con{
			.save-btn{
				font-size:12px;
			}
			.delete-btn{
				font-size:12px;
			}
		}
	}
	.unavailabilities-content-main{
	    h3.main-heading{
	      font-size:20px;
	    }
	}
}