<table class="outer" align="center">
  <tr>
    <td class="one-column">
      <table width="100%">
        <tr>
          <td class="inner contents">
            <p>Dear <%= @yatra_enquiry.name %>,</p>
            <br>
            <p>
              Trust you are well.
              <br><br>
              At the very outset, We thank you for your enquiry on JetSetGo Portal.
              <br><br>
              Please consider this email as a confirmation that your enquiry is well received on our Portal and our team has started working on it.
              <br><br>
              In any case, you are requested to call 24/7 on our helpline number: 011-39585858.
              <br><br>

              Thank you, <br>
              JetSetGo Team
            </p>
        </tr>
      </table>
    </td>
  </tr>
</table>