<table class="outer" align="center">
  <tr>
    <td class="one-column">
      <table width="100%">
        <tr>
          <td class="inner contents">
            <p>Dear <%= @customer.full_name.capitalize %>,</p>
            <br>
            <p>
              To rest your password, Please <a href="<%= edit_password_url(@customer, reset_password_token: @token, host: HOST_URL_FOR_MAILER) %>">click</a>
              <br><br>
              Please feel free to call 24/7 on our helpline number 011-39585858.

              <br><br>
              Thank you, <br>
              JetSetGo Team
            </p>
        </tr>
      </table>
    </td>
  </tr>
</table>