<table class="outer" align="center">
  <tr>
    <td class="one-column">
      <table width="100%">
        <tr>
          <td class="inner contents">
            <p class="h1">Hi,<strong><%= @customer.full_name %></strong></p>
            <p>Thank you for booking your enquiry</p>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>