<table class="outer" align="center">
  <tr>
    <td class="one-column">
      <table width="100%">
        <tr>
          <td class="inner contents">
            <p>Dear <%= @customer.first_name.titleize %>,</p>
            <br>
            <p>
              Your enquiry has been quoted by the Operator.
              <br><br>
              Please follow the link to make the payment and confirm your booking.
              <a href="<%="http://jetsetgo.in/detail/#{@trip.id}"%>">link</a>
              <!--To check the Quote details please visit at our <a href="http://j.jetsetgo.in">website</a> or download the-->
              <!--<a href="http://d3tfanr7troppj.cloudfront.net/static_files/images/000/000/600/original/app_store_icon.png?1470986703">app</a>-->
              <br><br>
              For any assistance, please feel free to contact us on  <strong>+91-11-39585858</strong> or <strong>info@jetsetgo.in</strong><br>
              <br><br>
              Happy landings <br>
              Monika from JetSetGo
            </p>
        </tr>
      </table>
    </td>
  </tr>
</table>