<table class="outer" align="center">
  <tr>
    <td class="one-column">
      <table width="100%">
        <tr>
          <td class="inner contents">
            <p>Dear <%= @customer.first_name %>,</p>
            <br>
            <p>
              Your enquiry has been quoted by the Operator.
              <br><br>
              For any assistance, please feel free to contact us on  <strong>+91-11-39585858</strong> or <strong>info@jetsetgo.in</strong><br>
              <br><br>
              Happy landings <br>
              Monika from JetSetGo
            </p>
        </tr>
      </table>
    </td>
  </tr>
</table>