<table class="outer" align="center">
  <tr>
    <td class="one-column">
      <table width="100%">
        <tr>
          <td class="inner contents">
            <p class="h1">Dear <%= @customer.first_name.titleize %>,</p>
            <br>
            <p>
              It is my pleasure welcome you onboard JetSetGo - the new face of private aviation.
              <br><br>
              At JetSetGo we endeavor to deliver a private jet experience like never before.
              For the first time we bring to you private jet booking on your fingertips with a completely transparent pricing system.
              JetSetGo’s revolutionary technology alongside our specialists are available to you round the clock.
              I am confident you will enjoy the all new JetSetGo experience.
              <br><br>
              Evolution is key to progress and I would love to hear your news and views, please feel free to write to me on info@jetsetgo.in
              <br><br>
              I take pleasure in welcoming you to the all new world of business aviation.
              <br><br>
              Happy landings, 
              <br>
               Monika from JetSetGo
              <br><br>
              Have a question or a comment? We are here to help. <a href="jetsetgo.in/contact_us">Contact us</a>
            </p>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>