<i class="fa fa-times" ng-click="$close()"></i>
<table class="table table-main">
  <tbody>
    <tr>
      <td class="img-con">
        <span >
          <img ng-src="{{ctrl.aircraft_unavailability.aircraft.images[0]}}">
        </span>
      </td>
      <td class="img-content">
        <table>
          <tr>
            <th colspan="2" class="text-center main_heading">
              <h3>Aircraft Unavailability #{{ctrl.aircraft_unavailability.id}}</h3>
            </th>
          </tr>
          <tr>
            <th class="sub-heading">Aircraft :</th>
            <td class="sub-result">{{ctrl.aircraft_unavailability.aircraft.tail_number}}</td>
          </tr>
          <tr>
            <th class="sub-heading">Start At :</th>
            <td class="sub-result">{{ctrl.aircraft_unavailability.start_at}}</td>
          </tr>
          <tr>
            <th class="sub-heading">End At :</th>
            <td class="sub-result">{{ctrl.aircraft_unavailability.end_at}}</td>
          </tr>
          <tr>
            <th class="sub-heading">Reason :</th>
            <td class="sub-result">{{ctrl.aircraft_unavailability.reason}}</td>
          </tr>
        </table>
      </td>
    </tr>
  </tbody>  
</table>