<i class="fa fa-times cross red-color" ng-click="$close()"></i>
<div class="table table-main">
  <div class="col-sm-12 col-xs-12">
    <div class="text-center main_heading">
        <h3 class="red-color">Aircraft Unavailability #{{ctrl.aircraft_unavailability.id}}</h3>
    </div>
  </div>
  <div class="col-sm-3 col-xs-12 img-con">
    <span >
      <img class="img-responsive" ng-src="{{ctrl.aircraft_unavailability.aircraft.images[0]}}">
    </span>
  </div>
  <div class="col-sm-9 col-xs-12 img-content">
    <div class="row">
      <div class="col-sm-6 col-xs-12 sub-border-con">
      <h5 class="sub-heading">Aircraft:</h5>
      <p class="sub-result">{{ctrl.aircraft_unavailability.aircraft.tail_number}}</p>
      </div>
      <div class="col-sm-6 col-xs-12 sub-border-con">
      <h5 class="sub-heading">Start At:</h5>
      <p class="sub-result">{{ctrl.aircraft_unavailability.start_at}}</p>
      </div>
      <div class="clearfix"></div>
    </div>
    <div class="row">
      <div class="col-sm-6 col-xs-12 sub-border-con">
        <h5 class="sub-heading">End At:</h5>
        <p class="sub-result">{{ctrl.aircraft_unavailability.end_at}}</p>
      </div>
      <div class="col-sm-6 col-xs-12 sub-border-con">
        <h5 class="sub-heading">Reason:</h5>
        <p class="sub-result">{{ctrl.aircraft_unavailability.reason}}</p>
      </div>
      <div class="clearfix"></div>
    </div>
  </div>
  <div class="clearfix"></div>
</div>
<!-- <table class="table table-main red-bg">
  <tbody>
    <tr>
      <td class="img-con">
        <span >
          <img ng-src="{{ctrl.aircraft_unavailability.aircraft.images[0]}}">
        </span>
      </td>
      <td class="img-content">
        <table>
          <tr>
            <th colspan="2" class="text-center main_heading">
              <h3>Aircraft Unavailability #{{ctrl.aircraft_unavailability.id}}</h3>
            </th>
          </tr>
          <tr>
            <th class="sub-heading">Aircraft:</th>
            <td class="sub-result">{{ctrl.aircraft_unavailability.aircraft.tail_number}}</td>
          </tr>
          <tr>
            <th class="sub-heading">Start At:</th>
            <td class="sub-result">{{ctrl.aircraft_unavailability.start_at}}</td>
          </tr>
          <tr>
            <th class="sub-heading">End At:</th>
            <td class="sub-result">{{ctrl.aircraft_unavailability.end_at}}</td>
          </tr>
          <tr>
            <th class="sub-heading">Reason:</th>
            <td class="sub-result">{{ctrl.aircraft_unavailability.reason}}</td>
          </tr>
        </table>
      </td>
    </tr>
  </tbody>  
</table> -->