<div class="add-form-main">
  <i class="fa fa-times cross" ng-click="$close()"></i>
  <h2>New Trip</h2>

  <div class="col-sm-12 col-xs-12">
    <div class="field">
      <label for="aircraft">Select Aircraft</label>
      <select id="aircraft" ng-model="ctrl.aircraft_id" ng-options="aircraft.id as aircraft.tail_number for aircraft in ctrl.aircrafts" class="form-control">
      </select>
    </div>
    <legend><small>Activities</small></legend>
    <div class="activity-box da-box" ng-repeat="activity in ctrl.activities">
      <i ng-click="ctrl.deleteActivity(activity)" class="fa fa-times-circle-o hvr-bounce-in scnd-cross"></i>
        <div class="col-sm-6">
          <label class="full-width">
            Departure Airport
            <select class="form-control" ng-options="airport.id as airport.label for airport in ctrl.airports" ng-model="activity.departure_airport_id" ></select>
          </label>
        </div>
        <div class="col-sm-6">
          <label class="full-width">
            Arrival Airport
            <select class="form-control" ng-options="airport.id as airport.label for airport in ctrl.airports" ng-model="activity.arrival_airport_id" ></select>
          </label>
        </div>
        <div class="col-sm-6">
          <label class="full-width">
            Start At
            <div class="dropdown">
              <a role="button" data-toggle="dropdown" data-target="#" href="Javascript:void(0)"><i class="fa fa-calendar"></i> {{ctrl.formatTime(activity.start_at)}}</a>
              <ul class="dropdown-menu" role="menu">
                <datetimepicker datetimepicker-config="{ dropdownSelector: '.fa-calendar' }" ng-model="activity.start_at"></datetimepicker>
              </ul>
            </div>
          </label>
        </div>
        <div class="col-sm-6">
          <div class="row">
            <div class="col-sm-6">
              <label class="full-width">
                Pax
                <select class="form-control" ng-model="activity.pax" ng-options="pax for pax in ctrl.paxRange"></select>
              </label>
            </div>
            <div class="col-sm-6">
              <label class="full-width">
                Empty leg?
                <br/>
                <input type="checkbox" value="Select" class="check" ng-model="activity.empty_leg">
                <span class="main-yesno">
                  <span ng-show="activity.empty_leg" class="yes-con">
                    <i class="fa fa-check"></i>
                  </span>
                  <span ng-hide="activity.empty_leg" class="no-con">
                    <i class="fa fa-times"></i>
                  </span>
                </span>
              </label>
            </div>
            <div class="clearfix"></div> 
          </div>
        </div>
        <div class="clearfix"></div> 
    </div>  
    <div>
      <a href="" ng-click="ctrl.create()" class="btn btn-primary savebutton">Save</a>
    </div>
    <fieldset ng-show="ctrl.aircraft">
      <legend>
        <small>Aircraft: {{ctrl.aircraft.tail_number}}, {{ctrl.aircraft.aircraft_type.name}}</small>
      </legend>
      <div class="row">
        <div class="col-sm-6 text-center">
          <img src="" width="100%" ng-src="{{ctrl.aircraft.aircraft_images[0]}}" alt="">
        </div>
        <div class="col-sm-6">
          <ul class="list-unstyled">
            <li><strong>Seating Capacity:</strong> {{ctrl.aircraft.seating_capacity}}</li>
            <li><strong>Per hour cost:</strong> <i class="fa fa-rupee"></i> {{ctrl.aircraft.per_hour_cost}}</li>
            <li><strong>Catering cost per pax:</strong> <i class="fa fa-rupee"></i> {{ctrl.aircraft.catering_cost_per_pax}}</li>
          </ul>
        </div>
      </div>
    </fieldset>  
  </div>
  <div class="clearfix"></div> 
</div>