<div class="row" ng-controller="SignUpController as ctrl">
  <div class="col-sm-8">
      <div class="login-left-con">
        <h4>Lorem Ipsum is simply dummy</h4>
        <h2>Lorem Ipsum</h2>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
      </div>      
  </div>
  <div class="col-sm-4">
    <fieldset class="login-register-main">
      <h5>Create Organisation</h5>
      <div class="col-xs-12">
        <form ng-submit="ctrl.create()">
          <div class="field margin-top">
            <label for="organisation_name">Organisation Name</label>
            <input type="text" id="organisation_name" class="form-control text-field" ng-model="ctrl.organisation.name" class="form-control">
          </div>
          <div class="field margin-top">
            <input type="submit" value="Next" class="btn btn-primary proceed-btn margin-top">
          </div>
          <div class="field">
            <a class="register-click" href="/organisations/sign_in">Sign in</a>
          </div>
        </form>
      </div>
    </fieldset>
  </div>
</div>