<div class="row" ng-controller="SignUpController as ctrl">
  <div class="col-sm-4">
    <h4>Already a member?</h4>
    <a href="/organisations/sign_in">Sign in</a>
  </div>
  <div class="col-sm-4">
    <fieldset>
      <legend><small>Create Organisation</small></legend>
      <form ng-submit="ctrl.create()">
        <div class="field">
          <label for="organisation_name">Organisation Name</label>
          <input type="text" id="organisation_name" ng-model="ctrl.organisation.name" class="form-control">
        </div>
        <div class="field">
          <input type="submit" value="Next" class="btn btn-primary margin-top">
        </div>
      </form>
    </fieldset>
  </div>
  <div class="col-sm-4"></div>
</div>