<div class="row" ng-controller="HomeController as ctrl">
  <div class="col-sm-12 schedule-content-main">
    <!-- <i class="organisation-main-icon schedule-icon"></i>  
    <span style="position: relative; top: -6px;"></span>-->
    <h3 class="main-heading schedule_">Schedule</h3>
    <div class="row">
      <div class="col-sm-8 col-xs-12">
        <div ui-calendar="ctrl.calendarConfig.calendar" ng-model="ctrl.events"></div>
      </div>
      <div class="col-sm-4 col-xs-12">
        <div class="schedule-main-left">
          <h4 class="schedule-category">Add New Category</h4>
          <ul class="add-field-main">
            <li class="add-field">
              <img src="" alt="" />
              <span class="bullet-dot blue-color"></span>
              <a ng-click="ctrl.newTrip()" class="add-trip" href="javascript:void(0)">New Trip</a>
            </li>
            <li class="add-field">
              <span class="bullet-dot red-color"></span> 
              <a ng-click="ctrl.newUnavailability()" class="add-unavailability" href="javascript:void(0)">New Unavailability</a>
            </li>
          </ul>
        </div>
        <!-- <div class="row">
          <div class="col-sm-12">
            <p class="add-field">
              <img src="" alt="" />
              <a ng-click="ctrl.newTrip()" class="btn btn-primary" href="">New Trip</a>
            </p>
          </div>
          <div class="col-sm-12">
            <p><a ng-click="ctrl.newUnavailability()" class="btn btn-primary" style="background-color:rgba(241,92,92,0.9);" href="">New Unavailability</a></p>
          </div>
        </div> -->
      </div>
    </div>
  </div>
</div>