<div class="row" ng-controller="HomeController as ctrl">
  <div class="col-sm-12 schedule-content-main">
    <!-- <i class="organisation-main-icon schedule-icon"></i>  
    <span style="position: relative; top: -6px;"></span>-->
    <h3 class="main-heading schedule_">Schedule</h3>
    <div class="row">
      <div class="col-sm-8 col-xs-12">
        <div ui-calendar="ctrl.calendarConfig.calendar" ng-model="ctrl.events"></div>
      </div>
      <div class="col-sm-4 col-xs-12">
        <div class="schedule-main-left">
          <!-- <h4 class="schedule-category">Add New Category</h4> -->
          <ul class="add-field-main">
            <li ng-show="ctrl.latest_update" class="add-field">
              <a href="" ng-href="{{ctrl.latest_update.source_url}}" target="_blank">
                <table class="table">
                  <tr>
                    <td style="border: none"><img ng-src="{{ctrl.latest_update.image_url}}" src="" alt="" style="width: 100%;"></td>
                    <td style="border: none"><span class="heading" style="font-weight: bolder">{{ctrl.latest_update.title}}</span> - {{ctrl.latest_update.description}}</td>
                  </tr>
                </table>
              </a>
            </li>
            <% if current_user.can_add_trip? %>
                <li class="add-field add-bullet pull-left">
                  <a ng-click="ctrl.newTrip()" class="add-trip" href="javascript:void(0)">New Trip</a>
                </li>
            <%- end %>
            <% if current_user.can_add_unavailability? %>
                <li class="add-field add-bullet pull-right">
                  <a ng-click="ctrl.newUnavailability()" class="add-unavailability" href="javascript:void(0)">New Unavailability</a>
                </li>
            <%- end %>
          </ul>
          <ul class="add-field-main color-code-con">
            <li class="add-field add-bullet blue-text-color pull-left"><span class="bullet-dot blue-color"></span> Trip</li>
            <li class="add-field add-bullet red-text-color pull-right"><span class="bullet-dot red-color"></span> Aircraft Unavailability</li>
            <li class="add-field add-bullet yellow-text-color pull-left"><span class="bullet-dot yellow-color"></span> Empty Leg</li>
            <li class="add-field add-bullet grey-text-color pull-right"><span class="bullet-dot grey-color"></span> Enquiry</li>
            <li class="add-field add-bullet green-text-color pull-left"><span class="bullet-dot green-color"></span> Quoted</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>