<div class="row" ng-controller="HomeController as ctrl">
  <div class="col-sm-12">
    <h3 class="main-heading schedule_">
      <i class="organisation-main-icon schedule-icon"></i> <span style="position: relative; top: -6px;">Schedule</span>
    </h3>
    <div class="row">
      <div class="col-sm-8">
        <div ui-calendar="ctrl.calendarConfig.calendar" ng-model="ctrl.events"></div>
      </div>
      <div class="col-sm-4">
        <div class="row">
          <div class="col-sm-12">
            <p class="add-field">
              <img src="" alt="" />
              <a ng-click="ctrl.newTrip()" class="btn btn-primary" href="">New Trip</a>
            </p>
          </div>
          <div class="col-sm-12">
            <p><a ng-click="ctrl.newUnavailability()" class="btn btn-primary" style="background-color:rgba(241,92,92,0.9);" href="">New Unavailability</a></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>