<div class="row" ng-controller="HomeController as ctrl">
  <div class="col-sm-12 schedule-content-main">
    <!-- <i class="organisation-main-icon schedule-icon"></i>  
    <span style="position: relative; top: -6px;"></span>-->
    <h3 class="main-heading schedule_">Schedule</h3>
    <div class="row">
      <div class="col-sm-8 col-xs-12">
        <div ui-calendar="ctrl.calendarConfig.calendar" ng-model="ctrl.events"></div>
      </div>
      <div class="col-sm-4 col-xs-12">
        <div class="schedule-main-left">
          <!-- <h4 class="schedule-category">Add New Category</h4> -->
          <ul class="add-field-main">
            <li class="add-field">
              <img src="" alt="" />
              <span class="bullet-dot blue-color"></span>
              <a ng-click="ctrl.newTrip()" class="add-trip" href="javascript:void(0)">New Trip</a>
            </li>
            <li class="add-field">
              <span class="bullet-dot red-color"></span> 
              <a ng-click="ctrl.newUnavailability()" class="add-unavailability" href="javascript:void(0)">New Unavailability</a>
            </li>
            <li ng-show="ctrl.latest_update" class="add-field">
              <a href="" ng-href="{{ctrl.latest_update.source_url}}" target="_blank">
                <table class="table">
                  <tr>
                    <td style="border: none"><img ng-src="{{ctrl.latest_update.image_url}}" src="" alt=""></td>
                    <td style="border: none"><span class="heading" style="font-weight: bolder">{{ctrl.latest_update.title}}</span> - {{ctrl.latest_update.description}}</td>
                  </tr>
                </table>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>