<div class="row" ng-controller="SettingsController as ctrl" ng-init="current_tab='members'">
  <div class="col-sm-12">
    <h3 class="main-heading settings_">
      <i class="fa fa-cogs"></i> Settings
    </h3>
  </div>
  <div class="col-sm-2">
    <ul class="list-unstyled text-center settings_list">
      <li><a ng-class="(current_tab=='members') ? 'active_' : 'inactive_'" ng-click="current_tab='members'" href="Javascript:void(0)">Members</a></li>
      <li><a ng-class="(current_tab=='terms_and_condition') ? 'active_' : 'inactive_'" ng-click="ctrl.get_t_and_c(); current_tab='terms_and_condition'" href="Javascript:void(0)">Terms and condition</a></li>
      <!--(status=='active') ? ['enabled'] : ['disabled', 'alik']-->
    </ul>
  </div>
  <div class="col-sm-10">
    <div ng-show="current_tab=='members'">
      <table class="table">
        <thead>
        <tr>
          <th>Name</th>
          <th>Designation</th>
          <th></th>
        </tr>
        <% @operators.each do |operator| %>
            <tr>
              <td><%= operator.full_name %></td>
              <td><%= operator.designation %></td>
              <td>
                <% if current_user.is_admin? %>
                    <% unless current_user.id == operator.id %>
                        <% if operator.deleted_at.present? %>
                            <a href="" ng-click="ctrl.toggleOperator(<%= operator.id %>)" >Activate</a>
                        <%- else %>
                            <a href="" ng-click="ctrl.toggleOperator(<%= operator.id %>)">Un-activate</a>
                        <%- end %>
                    <%- end %>
                <%- end %>
              </td>
            </tr>
        <%- end %>
        </thead>
      </table>
    </div>
    <div ng-show="current_tab=='terms_and_condition'">
      <fieldset>
        <legend><small>Terms and condition</small></legend>
        <form ng-submit="ctrl.create_t_and_c()">
          <div class="field">
            <textarea style="height:249px;" type="text" ng-model="ctrl.terms_and_condition" class="form-control"></textarea>
          </div>
          <div class="field">
            <input type="submit" value="Save"  class="btn btn-primary margin-top">
          </div>
        </form>
      </fieldset>
    </div>
  </div>
</div>