<div class="row" ng-controller="SettingsController as ctrl">
  <div class="col-sm-2">
    <%= render partial: '/organisations/shared/sidebar' %>
  </div>
  <div class="col-sm-10">
    <form name="outerForm" class="tab-form-demo">
      <uib-tabset>
        <uib-tab heading="Operator">
          <table class="table table-striped">
            <thead>
              <th>Email</th>
              <th>Action</th>
            </thead>
            <tbody>
              <tr ng-repeat="operator in ctrl.operators">
                <td>{{operator.email}}</td>
                <td>
                  <a ng-href="/organisations/operators/{{operator.id}}/edit">
                    <i class="fa fa-edit"></i>
                  </a>
                </td>
              </tr>
            </tbody>
          </table>
        </uib-tab>
        <uib-tab heading="aircraft">
          Some Tab Content
        </uib-tab>
      </uib-tabset>
    </form>
  </div>
</div>