<div class="row" >
  <div class="col-sm-2">
    <%= render partial: '/organisations/shared/sidebar' %>
  </div>
  <div class="col-sm-10">
    <form name="outerForm" class="tab-form-demo">
      <uib-tabset>
        <uib-tab heading="Operator">
          operator
        </uib-tab>
        <uib-tab heading="aircraft">
          Some Tab Content
        </uib-tab>
      </uib-tabset>
    </form>
  </div>
</div>