/*
 *= require ./vendors/notify
 *= require ./vendors/bootstrap
 *= require ./vendors/loading-bar
 *= require ./vendors/hover-css
 *= require ./vendors/angular-datetime-picker
 *= require ./vendors/animate
 *= require_tree ./application
 *= require_self
 */