@import "foundation_and_overrides";
@import "vendors/foundation-datepicker";
@import "vendors/loading-bar";
@import "vendors/select2";
@import "vendors/lightbox2";
@import "vendors/animate";
@import "jetsteals/common";

//this class is applied to a div when it reaches to top of window and wants to just remain stuck
.stick {
  position: fixed;
  top: 0;
  z-index: 10;
  width: 100%;
  box-shadow: 0 0 5px rgba(158, 167, 166, 0.6);;
}
/////////////////