/*
*= require ./vendors/notify
*= require ./vendors/bootstrap
*= require_tree ./operators
*= require ./vendors/loading-bar
*= require_self
*/

.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }

#loading-bar-spinner{
    display: none!important;
}

.aircraft_img{
    padding: 5px;
    border: 1px solid lightgray;
    margin: 5px;
}