<table class="outer" align="center">
  <tr>
    <td class="one-column">
      <table width="100%">
        <tr>
          <td class="inner contents">
            <p class="h1">Welcome, <%= @operator.full_name %></p>
            <p>
              Thanks for join JetSetGo, You are Admin of <strong><%= @operator.organisation.name %></strong>
            </p>
        </tr>
      </table>
    </td>
  </tr>
</table>