<table class="outer" align="center">
  <tr>
    <td class="one-column">
      <table width="100%">
        <tr>
          <td class="inner contents">
            <p class="h1">Hi, <%= @operator.full_name %></p>

            <p>
              <strong><%= @operator.full_name %></strong> delete trip of <strong><%= @trip.organisation.name %></strong>
            </p>
        </tr>
      </table>
    </td>
  </tr>
</table>