
<table class="outer" align="center">
  <tr>
    <td class="one-column inner contents">
      <p class="h1">Hi,</p>
      <p>Organisation update an Aircraft</p>
    </td>
  </tr>
  <tr>
    <td class="two-column">
      <table class="table-content" width="100%" style="border: 1px solid #cccccc">
        <% @aircraft.attributes.except('id',
                                       'aircraft_type_id',
                                       'created_at',
                                       'updated_at',
                                       'admin_verified',
                                       'organisation_id',
                                       'base_airport_id',
                                       'deleted_at').each_pair do |key, value| %>
            <% next unless value.present? %>
            <tr style="border: 1px solid #000000;">
              <td class="inner" width="40%" valign="top">
                <p class="h2" style="font-size: 14px;">
                  <%= key.gsub("_", " ").capitalize %>
                </p>
              </td>
              <td class="inner" width="60%" valign="top" style="border-right:1px solid #cccccc">
                <p class="h2" style="font-size: 14px;">
                  <%=
                      case value
                        when true
                          "Yes"
                        when false
                          "No"
                        else
                          value
                      end
                  %>
                </p>
              </td>
            </tr>
        <% end %>
      </table>
    </td>
  </tr>
</table>