<table class="outer" align="center">
  <tr>
    <td class="one-column inner contents">
      <p class="h1">Hi,</p>
      <p>New Topic added by <strong><%= @forum_topic.organisation.name %></strong> </p>
    </td>
  </tr>
  <tr>
    <td class="two-column">
      <table class="table-content" width="100%" style="border: 1px solid #cccccc">
        <% @forum_topic.attributes.except('id',
                                          'operator_id',
                                          'organisation_id',
                                          'created_at',
                                          'updated_at',
                                          'deleted_at').each_pair do |key, value| %>
            <tr>
              <td class="inner" width="40%" valign="top" style="border-right:1px solid #cccccc">
                <p class="h2" style="font-size: 14px;"><%= key.gsub("_", " ").capitalize %></p>
              </td>
              <td class="inner" width="60%" valign="top">
                <p class="h2" style="font-size: 14px;"><%= value %></p>
              </td>
            </tr>
        <% end %>
      </table>
    </td>
  </tr>
</table>