<nav class="navbar navbar-default top-navbar admin_header">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <span class="sidebar_nav_click">
        <i class="fa fa-bars" aria-hidden="true"></i>
      </span>
      <a class="navbar-brand" href="<%= admin_path %>">JetSetGo Admin</a>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-left">
        <li><%= link_to 'Home', root_path %></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <% if user_signed_in? %>
            <li><a href="Javascript:void(0)"><%= current_user.full_name %></a></li>
            <li><%= link_to 'Sign out', destroy_user_session_path, method: :delete %></li>
        <%- end %>
      </ul>
    </div>
  </div>
</nav>

<script type="text/javascript" charset="utf-8">
    $('.sidebar_nav_click').click(function(){
        $('.toggle_class').toggle();
        $('.right_content_con').toggleClass('col-sm-10 col-xs-9').toggleClass('col-sm-12 col-xs-12');
    });
</script>
