<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="<%= admin_path %>">JetSetGo Admin</a>
    </div>
  </div>
</nav>
