<div class="row">
  <div class="col-sm-2">
    <%= render partial: '/organisations/shared/sidebar' %>
  </div>
  <div class="col-sm-10">
    <ul class="list-inline">
      <li><%= link_to 'New Topic', new_organisations_forum_topic_path, class: 'btn btn-primary' %></li>
    </ul>
  </div>
</div>