<div class="row" ng-controller="ForumTopicController as ctrl">
  <div class="col-sm-2">
    <%= render partial: 'organisations/shared/sidebar' %>
  </div>
      <div class="col-sm-6 forum-add-main-con">
        <fieldset>
          <legend class="forum-main-heading"><small>New Forum Topic</small></legend>
          <form ng-submit="ctrl.create()" class="forum-add-form">
            <div class="field">
              <label for="statement">Statement</label>
              <input type="text" id="statement" ng-model="ctrl.forum_topic.statement" class="form-control">
            </div>
            <div class="field">
              <label for="description">Description</label>
              <textarea id="description" rows="2" class="form-control" ng-model="ctrl.forum_topic.description"></textarea>
            </div>
            <div class="field">
              <input type="submit" value="Save" class="btn btn-primary save-btn">
            </div>
          </form>
        </fieldset>
      </div>
</div>