<div class="row">
  <div class="col-sm-12">
    <table class="table table-striped">
      <thead>
      <tr class="info">
        <th>ID</th>
        <th>Organisation</th>
        <th>Status</th>
        <th>Action</th>
      </tr>
      </thead>
      <tbody>
      <% @quotes.each do |quote| %>
          <tr>
            <td>Quote#<%= quote.id %></td>
            <td><%= quote.organisation.name %></td>
            <td><%= quote.status %></td>
            <td>
              <%= link_to edit_admin_quote_path(quote) do %>
                  <i class="fa fa-edit"></i>
              <%- end %>
            </td>
          </tr>
      <%- end %>
      </tbody>
    </table>
  </div>
</div>