.about-banner-con{
	background-image: url('http://d3tfanr7troppj.cloudfront.net/static_files/images/000/000/561/original/aboutusplane.png?1470737119');
	background-size: cover;
	padding: 30px 0;
	.redefine-con{
		border-left: 5px solid #920000;
		padding: 5px 0 5px 20px
	}
}

.about-content-con{
	width: 100%;
	h2{
		font-size: 24px;
	    color: #920000;
	    font-weight: bold;
	}
	.about-text{
		width: 100%;
		padding: 20px 0;
		text-align: justify;
		p{
			font-size: 14px;
		}
	}
	.ceo-main-con{
		width: 100%;
		.ceo-detail{
			width: 100%;
			color: #000;
			h5{
				font-size: 16px;
				margin: 0;
				font-weight: bold;
			}
			h6{
				color: #555;
				font-size: 13px;
				margin: 0;
			}
			p{
				font-size: 14px;
				margin-top: 15px;
				text-align: justify;
			}
		}
	}
	.invester-main-con{
		margin-bottom: 30px;
		.investor-con{
			background-image: url('http://d3tfanr7troppj.cloudfront.net/static_files/images/000/000/690/original/investor-bg.png?1472022845');
			background-size: cover;
			padding: 20px 0;
			.invester{
				width: 100%;
				h5{
					font-size: 16px;
					margin: 0;
					margin-top: 5px;
					font-weight: bold;
				}
				h6{
					color: #555;
					font-size: 13px;
					margin: 0;
				}
			}
		}
	}
}




@media(max-width:1200px){
	.about-banner-con{
		background-position: center;
	}
}

@media(max-width:1023px){

}

@media(max-width:767px){
	.about-banner-con{
		padding: 10px 0;
		.redefine-con{
			padding: 0 0 0 10px;
			h4{
				font-size: 15px;
			}
			p{
				font-size: 12px;
			}
		}
	}
	.about-content-con{
		.about-text{
			padding-bottom: 0;
			p{
				font-size: 12px;
			}
		}
		.ceo-main-con{
			.ceo-detail{
				h5{
					font-size: 14px;
				}
				h6{
					font-size: 11px;
				}
				p{
					font-size: 12px;
				}
			}
		}
		.invester-main-con{
			.investor-con{
				.invester{
					h5{
						font-size: 14px;
					}
					h6{
						font-size: 11px;
						margin-bottom: 5px;
					}
				}
			}
		}
	}
}
