/*contact us banner section start*/

.contactus-banner{
  background: url(http://d3tfanr7troppj.cloudfront.net/static_files/images/000/000/213/original/1.jpg?1462452931) 100% no-repeat;
  background-size: cover;
  height: 100vh;
  background-attachment: fixed;
  .banner-content{
    width: 100%;
    max-width: 900px;
    margin: 12% auto 0 auto;
    p{
      font-size: 22px;
      text-align: center;
      color: #ffffff;
      a{
        color: #ffffff;
        text-decoration: underline;
      }
    }
  }
}
/*contact us banner section finish*/

/*contact us content section start*/
.contact-us-content{
  width: 100%;
  .map-con{
    width:100%;
    background:url(http://d3tfanr7troppj.cloudfront.net/static_files/images/000/000/087/original/google_map_img.jpg?1457341003) 100% no-repeat;
    background-size:cover;
    height:300px;
  }
  .contact-info-main{
      width: 100%;
      margin: 30px 0;
      .address-detail{
        h2{
          //background-color:rgb(5, 81, 139);
          //color:#ffffff;

        }
        p{
          font-size:16px;
          padding:10px;
          margin:0;
          text-align:justify;
          color:#444444;
        }
        .address-col,.phone-col, .email-col{
          border-bottom: 1px solid #cccccc;
          padding: 20px 0;
          h2{
            font-size: 25px;
            padding: 0 10px 10px 10px;
            position: relative;
            margin: 0;
          }
          a{
            color: #000000;
            text-decoration: none;
          }
        }
        .contact-icon{
          font-size: 35px;
        }
        i{
          //font-size: 30px;
        }
      }
      .contact-main-form{
        .contact-form{
          width: 100%;
          //position:relative;
          //top:-50px;
          //margin:0 auto;
          -webkit-box-shadow: 0px 0px 12px 0px rgba(220,220,220,1);
          -moz-box-shadow: 0px 0px 12px 0px rgba(220,220,220,1);
          box-shadow: 0px 0px 12px 0px rgba(220,220,220,1);
          //padding:10px;
          padding: 10px 20px 10px 20px;
          h2{
            //color:#ffffff;
            font-size:25px;
            margin:10px 0;
          }
          label{
            font-size:15px;
            //color:#cccccc;
            font-weight:normal;
            width:100%;
            margin-top:10px;
          }
          .contact-text{
            width: 100%;
            height: 40px;
            padding: 0 5px;
          border: 0;
          margin-bottom: 15px;
          margin-top: 5px;
        }
        .contact-area{
          width: 100%;
          height: 80px;
          padding: 0 5px;
          border: 0;
          margin-bottom: 5px;
          margin-top: 5px;
        }
        .submit-btn{
          background-color: rgb(5, 81, 139);
          padding: 10px;
          text-align: center;
          //width:150px;
          width: 100%;
          border: none;
          color: #ffffff;
          margin: 25px 0;
        }
        .submit-btn:before{
          background-color:#46d9bf;
        }
      }
    }
  }
}
/*contact us content section finish*/

/*new page 9-8-2016 start*/
  .contact-main-con{
    width: 100%;
    padding: 20px 0;
    .google-map-con{
      width: 100%;
    }
    .address-detail-con{
      width: 100%;
      color: #000;
      h3{
        font-size: 14px;
        font-weight: bold;
      }
      ul{
        padding: 0;
        li{
          list-style: none;
          font-size: 14px;
          padding-left: 40px;
          margin-bottom: 20px;
          min-height: 30px;
          background-repeat: no-repeat;
        }
        li.location-icon{
          background-image: url('http://d3tfanr7troppj.cloudfront.net/static_files/images/000/000/556/original/address.png?1470735292');
          background-position: 0 0;
        }
        li.phn-icon{
          background-image: url('http://d3tfanr7troppj.cloudfront.net/static_files/images/000/000/558/original/call.png?1470735317');
          background-position: 0 0;
        }
        li.email-icon{
          background-image: url('http://d3tfanr7troppj.cloudfront.net/static_files/images/000/000/559/original/mail.png?1470735331');
          background-position: 0 0;
        }
      }
    }
    .contact-main-form{
      form{
        label{
          width: 100%;
          font-weight: normal;
        }
        .contact-text{
          width: 100%;
          background-color: #ffffff;
          border: 1px solid #ccc;
          border-radius: 5px;
          height: 30px;
          margin-bottom: 10px;
        }
        .contact-area{
          width: 100%;
          background-color: #ffffff;
          border: 1px solid #ccc;
          border-radius: 5px;
          margin-bottom: 10px;
        }
        .submit-btn{
          padding: 8px 20px;
          background-color: #920000;
          border-radius: 8px;
          color: #ffffff;
          font-size: 14px;
        }
      }
    }
  }
/*new page 9-8-2016 finish*/

@media(max-width:1024px) {
  .contactus-banner {
    .banner-content {
      padding: 0 10px;
      p {
        font-size: 16px;
        a {
        }
      }
    }
  }
}
@media(max-width:767px){
  .contactus-banner {
    .banner-content {
      padding: 0 10px;
      p {
        font-size: 13px;
        a {
        }
      }
    }
  }
  .contact-us-content{
    .contact-info-main{
      .address-detail{
        h2{
          font-size:15px;
          padding:5px;
          height:inherit;
        }
        p{
          font-size:13px;
          padding:5px 0;
        }
      }
    }
    .contact-main-form{
      margin-top:20px;
      .contact-form{
        width:100% !important;
        top:0 !important;
        margin-bottom:20px !important;
      }
    }
  }
  .contactus-banner{
    .heading {
      h1{font-size:45px !important;}
    }
  }
}

.gray-color{
  background: rgb(220,220,220);
}
.margin-top-25{
  margin-top: 25px;
}
.text-18{
  font-size: 18px;
}