/*contact us banner section start*/
.contactus-banner{
	width:100%;
	background:url(http://d3tfanr7troppj.cloudfront.net/static_files/images/000/000/099/original/contactus.png?1457595096) 100% no-repeat;
	background-size:cover;
	
}
/*contact us banner section finish*/

/*contact us content section start*/
.contact-us-content{
	width:100%;
	.map-con{
		width:100%;
		background:url(http://d3tfanr7troppj.cloudfront.net/static_files/images/000/000/087/original/google_map_img.jpg?1457341003) 100% no-repeat;
		background-size:cover;
		height:300px;
	}
	.contact-info-main{
		width:100%;
		.address-detail{
			h2{
				background-color:rgb(5, 81, 139);
				color:#ffffff;
				font-size:18px;
				padding:10px;
				position:relative;
				height:40px;
			}
			p{
				font-size:16px;
				padding:10px;
				margin:0;			
				text-align:justify;
				color:#444444;
			}
		}
		.contact-main-form{
			.contact-form{
				width:80%;
				background-color:#46d9bf;
				position:relative;
				top:-50px;
				margin:0 auto;
				-webkit-box-shadow: 0px 0px 12px 0px rgba(70,217,191,1);
				-moz-box-shadow: 0px 0px 12px 0px rgba(70,217,191,1);
				box-shadow: 0px 0px 12px 0px rgba(70,217,191,1);
				padding:10px;
				h2{
					color:#ffffff;
					font-size:25px;
					margin:10px 0;
				}
				label{
					font-size:15px;
					color:#cccccc;
					font-weight:normal;
					width:100%;
					margin-top:10px;
					
				}
				.contact-text{
					width:100%;
					height:40px;
					padding:0 5px;
					border:0;
					margin-bottom:15px;
					margin-top:5px;
				}
				.contact-area{
					width:100%;
					height:80px;
					padding:0 5px;
					border:0;	
					margin-bottom:5px;
					margin-top:5px;
				}
				.submit-btn{
					background-color:rgb(5, 81, 139);
					padding:10px;
					text-align:center;
					width:150px;
					border:none;
					color:#ffffff;
					margin:25px 0;
				}
				.submit-btn:before{
					background-color:#46d9bf;
				}
			}
		}
	}
}
/*contact us content section finish*/

@media(max-width:767px){

	.contact-us-content{
		.contact-info-main{
			.address-detail{
				h2{
					font-size:15px;
					padding:5px;
					height:inherit;
				}
				p{
					font-size:13px;
					padding:5px 0;
				}
			}
		}
		.contact-main-form{
			margin-top:20px;
			.contact-form{
				width:100% !important;
				top:0 !important;
				margin-bottom:20px !important;
			}
		}
	}
	.contactus-banner{
		.heading {
			h1{font-size:45px !important;}
		}
	}
}