.detail-profile{
	.booking-detail{
		background-color: rgba(214, 202, 185, 0.2);
		padding: 10px;
		p{
			font-size: 15px;
			margin: 0;
			span{
				color: #920000;
			}
		}
	}
	.customer-detail{
		h3{
			font-size: 17px;
			font-weight: normal;
			border-bottom: 5px solid #998776;
			padding-bottom: 5px;
			position: relative;
			cursor: pointer;
			color: #920000;
			font-weight: bold;
		}
		h3:before{
			content: "";
			position: absolute;
			background-color: #d6cab9;
			height: 5px;
			width: 150px;
			bottom: -5px;
		}
        .toogle-btn{
          color: #820000;
          border: none;
          font-size: 18px;
          text-decoration: underline;
          border-radius: 5px;
          display: inline-block;
        }
	}
	.journey-detail{
		.location-main{
			padding: 20px 0 20px 0;
			p{
				font-size: 14px;
				margin: 0;
			}
		}
		.lb-detail{
			margin: 30px 0;
			h5{
				font-size: 16px;
				font-weight: bold;
			}
			h6{
				font-size: 16px;
			}
		}
	}
	.flight-detail{
		.jetdetail-col{
			width: 100%;
			.no-right-padding{
				padding-right: 0;
			}
			.no-left-padding{
				padding-left: 0;
			}
			.icon-img-main{
				position: relative
			}
			.img-con{
				width:100%;
				background-color: #eee;
				height: 320px;
				overflow: hidden;
				img{
					min-height: 320px;
				}
			}
			.icon-con{
				position: absolute;
			    bottom: 0;
			    background-color: rgba(131, 107, 84, 0.6);
			    padding: 2px 5px;
			    width: 100%;
			    .icons-main{
			    	border-right: 1px solid #ffffff;
				    display: inline-block;
				    min-height: 23px;
				    text-align: center;
				    min-width: 60px;
			    }
			    .icon-detail{
			    	color: #ffffff;
				    display: inline-block;
				    padding-right: 5px;
				    position: relative;
				    top: 5px;
				    font-size: 12px;
			    }
			}
			.jet-detail{
				width: 100%;
                background-image: url('http://d3tfanr7troppj.cloudfront.net/static_files/images/000/000/413/original/steal_bg-2.png?1468906350');
                background-size: cover;
				height: 320px;
				padding: 10px;
				h2{
					font-size: 24px;
					font-weight: bold;
					margin: 0 0 5px 0;
				}
				h4{
					font-size: 16px;
					margin: 0;
				}
				ul.jet-list{
					padding: 0;
					padding-top: 30px;
					li{
						list-style: none;
						font-weight: bold;
						margin: 3px 0;
					}
				}
			}
		}
	}
	.cost-detail{
		.cost-con{
			border-bottom: 1px solid #f9f3e6;
			padding: 10px 0;
		}
		p{
			font-size: 14px;
			margin: 0;
		}
		p.t-ac-charge{
			margin: 0;
		}
		p.inclusive{
			font-size: 11px;
			font-weight: bold;
		}
		h4{
			font-size: 20px;
			font-weight: bold;
			margin: 10px 0;
		}
		h5{
			font-size: 24px;
			font-weight: bold;
			margin: 30px 0 0 0;
		}
		.top-gap{
			height: 350px;
		}
		.pay-cancel-btn{
			display: inline-block;
		    padding: 8px 30px;
		    border-radius: 8px;
		    background-color: #920000;
		    color: #ffffff;
		    font-size: 18px;
		}
	}
	.bank-detail{
		h4{
			font-size: 16px;
			font-weight: bold;
		}
		.amount-table{
			border-collapse: collapse;
			width: 290px;
			float: right;
			border: 1px solid #ccc;
			tr{
				td{
					padding:10px;
					h5{
						font-size: 15px;
						font-weight: bold;
						margin: 0;
					}
					p{
						margin: 0;
					}
				}
			}
			tr.border{
				border-bottom: 1px solid #ccc;
			}
		}
	}
	.add-passenger{
        .passenger-repeat{
          position: relative;
          padding-bottom: 20px;
          margin-bottom: 20px;
          border-bottom: 1px solid #eeeeee;
        }
        .seprator-con{
        	h4{
        		text-align: center;
        		border-bottom: 1px solid #ccc;
        		position:relative;
        		margin: 40px 0 30px 0;
        		span{
        			background-color: #fff;
        			display: inline-block;
        			position: absolute;
        			top: -10px;
        			font-size: 18px;
        		}
        	}
        }
        .cross-btn{
          font-size: 20px;
          color: #920000;
          position: absolute;
          top: 0;
          right: 0;
        }
		h4{
			font-size: 16px;
			font-weight: bold;
			span{
				font-size: 12px;
				color: #828282;
			}
		}
		.txt-forward-email{
			width: 100%;
			max-width: 400px;
			background-color: #F5F5F5;
			border: 1px solid #eee;
			height: 40px;
            padding: 5px;
            text-decoration: none;
		}
		.txt-email{
			width: 100%;
			background-color: #F5F5F5;
			border: none;
			height: 40px;
            padding: 5px;
            border: 1px solid #eee;
		}
		.txt-phn{
			width: 100%;
			background-color: #F5F5F5;
			border: none;
			height: 40px;
			padding: 5px;
			border: 1px solid #eee;
		}
		.passenger-text{
			color: #828282;
			margin: 5px 0;
		}
		.btn-send{
			padding: 10px 20px;
			background-color: #820000;
			margin-left: 10px;
			border: none;
			color: #ffffff;
            border-radius: 5px;
            display: inline-block;
		}
		.txt-textfield{
			width: 100%;
			background-color: #F5F5F5;
			border: none;
			height: 40px;
			padding: 5px;
			border: 1px solid #eee;
		}
		.txt-upload{
			width: 100%;
			background-color: #F5F5F5;
			border: 1px solid #ccc;
		}
		span.mandatory-txt{
			color: #920000;
			font-size:10px;
		}
		.btn-detail{
			padding: 10px 30px;
			background-color: #820000;
			margin-left: 10px;
			border: none;
			color: #ffffff;
			display: inline-block;
			margin: 30px 0 20px 0;
            border-radius: 5px;
		}
	}
}

.psng-cate-btns{
	a{
		padding: 10px 30px;
	    background-color: #820000;
	    margin-left: 10px;
	    border: none;
	    color: #ffffff;
	    display: inline-block;
	    margin: 10px 0;
	    border-radius: 5px;
	}
}

.add-passenger-record{
  width: 100%;
  margin-top: 30px;
  .table{
    .info{
      th{
        background-color: #F0E7DB;
        padding: 15px 10px;
        border-bottom: none;
      }
      a{
        color: #000000;
        text-decoration: underline;
      }
    }
    tr.body-row{
      border-bottom: 1px solid #eeeeee;
      td{
        background: #ffffff;
        padding: 15px 10px;
      }
    }
  }
}

@media(max-width: 1200px){
	.detail-profile{
		.flight-detail{
			.jetdetail-col{
				.img-con{
					height: 250px;
				}
				.icon-con{
					.icons-main{
						min-width: 40px;
						img{
							width: 22px;
						}
					}
					.icon-detail{
						font-size: 10px;
					}
				}
				.jet-detail{
					height: 250px;
				}
			}
		}
		.cost-detail{
			p{
				font-size: 12px;
			}
			h5{
				font-size: 18px;
			}
		}
	}
}

@media(max-width: 991px){
	.detail-profile{
		.flight-detail{
			.jetdetail-col{
				.jet-detail{
					h2{
						font-size: 15px;
					}
					h4{
						font-size: 11px;
					}
				}
			}
		}
		.cost-detail{
			p{
				font-size: 10px;
			}
			h4{
				font-size: 16px;
			}
		}
		.bank-detail{
			h4{
				font-size: 14px;
			}
			p{
				font-size: 12px;
			}
		}
		.add-passenger{
			h4{
				font-size: 13px;
			}
		}
	}
}

@media(max-width: 767px){
	.detail-profile{
		.booking-detail{
			p{
				font-size: 11px;
			}
		}
		.customer-detail{
			h3{
				font-size: 15px;
			}
			h3:before{
				width: 120px;
			}
		}
		.journey-detail{
			.location-main{
				p{
					font-size: 11px;
				}
			}
		}
		.flight-detail{
			.jetdetail-col{
				.no-right-padding{
					padding-right: 15px;
				}
				.no-left-padding{
					padding-left: 15px;
				}
				.img-con{
					height: 180px;
				}
				.jet-detail{
					height: 180px;
				}
			}
		}
		.cost-detail{

		}

		.bank-detail{
			h4{
				font-size: 13px;
			}
			p{
				font-size: 10px;
			}
			.amount-table{
				width: 100%;
			}
		}
		.add-passenger{
			h4{
				font-size: 12px;
			}
			.txt-email{
				height: 30px;
			}
			.txt-phn{
				height: 30px;
			}
			.txt-textfield{
				height: 30px;
			}
			.txt-forward-email{
				height: 30px;
				max-width: 100%;
			}
			.btn-send{
				padding:5px 10px;
				min-width: 120px;
				margin: 10px 0 0 0;
				text-align: center;
				font-size: 10px;
			}
			.btn-detail{
				padding:5px 10px;
				text-align: center;
				font-size: 10px;
				width: 100%;
			}
		}
	}
	.psng-cate-btns{
		a{
			padding:5px 10px;
			text-align: center;
			font-size: 10px;
			width: 100%;
		}
	}
}