.detail-profile{
	.booking-detail{
		p{
			font-size: 15px;
			span{
				color: #920000;
			}
		}
	}
	.customer-detail{
		h3{
			font-size: 20px;
			font-weight: normal;
			border-bottom: 5px solid #C2A781;
			padding-bottom: 10px;
			position: relative;
		}
		h3:before{
			content: "";
			position: absolute;
			background-color: #3F241B;
			height: 5px;
			width: 150px;
			bottom: -5px;
		}
	}
	.journey-detail{
		.location-main{
			margin: 30px 0;
			p{
				font-size: 14px;
				margin: 0;
				font-weight: bold;
			}
		}
		.lb-detail{
			margin: 30px 0;
			h5{
				font-size: 16px;
				font-weight: bold;
			}
			h6{
				font-size: 16px;
			}
		}
	}
	.flight-detail{
		padding-bottom: 30px;
		.jetdetail-col{
			width: 100%;
			.no-right-padding{
				padding-right: 0;
			}
			.no-left-padding{
				padding-left: 0;
			}
			.img-con{
				width:100%;
				background-color: #eee;
				height: 320px;
				overflow: hidden;
			}
			.jet-detail{
				width: 100%;
				background-color: #ccc;
				height: 320px;
				padding: 10px;
				h2{
					font-size: 24px;
					font-weight: bold;
					margin: 0;
				}
				h4{
					font-size: 16px;
					margin: 0;
				}
				ul.jet-list{
					padding: 0;
					padding-top: 30px;
					li{
						list-style: none;
						font-weight: bold;
						margin: 3px 0;
					}
				}
			}
		}
	}
	.cost-detail{
		p{
			font-size: 14px;
		}
		h4{
			font-size: 20px;
			font-weight: bold;
			margin: 0;
			margin-bottom: 10px;
		}
		h5{
			font-size: 24px;
			font-weight: bold;
			margin: 30px 0 0 0;
		}
		.top-gap{
			height: 180px;
		}
		.pay-cancel-btn{
			display: inline-block;
		    padding: 8px 30px;
		    border-radius: 8px;
		    background-color: #920000;
		    color: #ffffff;
		    font-size: 18px;
		}
	}
	.bank-detail{
		h4{
			font-size: 16px;
			font-weight: bold;
		}
		.amount-table{
			border-collapse: collapse;
			width: 300px;
			float: right;
			border: 1px solid #ccc;
			tr{
				td{
					padding:10px;
					h5{
						font-size: 15px;
						font-weight: bold;
						margin: 0;
					}
					p{
						margin: 0;
					}
				}
			}
			tr.border{
				border-bottom: 1px solid #ccc;
			}
		}
	}
	.add-passenger{
		h4{
			font-size: 16px;
			font-weight: bold;
			span{
				font-size: 12px;
				color: #828282;
			}
		}
		.txt-forward-email{
			width: 100%;
			max-width: 400px;
			background-color: #F5F5F5;
			border: none;
			height: 40px;
		}
		.txt-email{
			width: 100%;
			background-color: #F5F5F5;
			border: none;
			height: 40px;
		}
		.txt-phn{
			width: 100%;
			background-color: #F5F5F5;
			border: none;
			height: 40px;
		}
		.passenger-text{
			color: #828282;
			margin: 5px 0;
		}
		.btn-send{
			padding: 10px 20px;
			background-color: #820000;
			margin-left: 10px;
			border: none;
			color: #ffffff;
		}
		.txt-textfield{
			width: 100%;
			background-color: #F5F5F5;
			border: none;
			height: 40px;
		}
		.txt-upload{
			width: 100%;
			background-color: #F5F5F5;
			border: 1px solid #ccc;
		}
		.btn-detail{
			padding: 10px 30px;
			background-color: #820000;
			margin-left: 10px;
			border: none;
			color: #ffffff;
			display: inline-block;
			margin: 30px 0;
		}
	}
}