.profile-detail-main{
  width: 100%;
  background-image: url('http://d3tfanr7troppj.cloudfront.net/static_files/images/000/000/706/original/customer_bg.png?1472112658');
  padding: 15px 0;
  .profile-main{
    width: 100%;
    background-color: #f9f3e6;
    .profile-image{
      width: 100%;
      position: relative;
      .p_img{
        width: 100%;
      }
      .add-img-icon{
        width:100%;
        display: inline-block;
        background-color: rgba(0,0,0,0.5);
        padding: 5px 10px;
        position: absolute;
        bottom: 0;
        color: #ffffff;
        text-decoration: none;
      }
    }
    .user-info{
      .logout-text{
        font-style: italic;
        font-size: 13px;
        color: #920000;
        margin-right: 10px;
      }
      .name-text{
        font-size: 24px;
        font-weight: bold;
        margin: 0;
      }
      ul.user-detail{
        padding: 0;
        margin: 15px 0;
        color: #A76F4D;
        width: 100%;
        li{
          float: left;
          width: 15%;
          list-style: none;
          border-right: 1px solid #D9C3A4;
          text-align: right;
          padding: 0 15px;
          min-height: 88px;
          position: relative;
          .notication-icon{
            color: #920000;
            position: absolute;
            right: 40px;
            top: 7px;
          }
          h4{
            font-size: 35px;
            font-weight: bold;
            margin: 0;
          }
          p{
            font-size: 18px;
            margin: 0;
          }
        }
      }
      .edit-icon{
        display: inline-block;
        padding: 8px 20px;
        border-radius: 5px;
        background-color: #920000;
        color: #ffffff;
        font-size: 18px;
      }
    }
  }
}
.trip_jetsteal_con{
    width: 100%;
    text-align: right;
    margin: 25px 0 5px  0;
    display: inline-block;
    span.select-btn{
      background-color: #856b58;
      display: inline-block;
      cursor: pointer;
      padding: 5px 20px;
      min-width: 100px;
      text-align: center;
      color: #ffffff;
      text-decoration: none;
      border-radius: 8px;
      margin-left: 10px;
    }
    span.active-select-btn{
      background-color: #584232;
      display: inline-block;
      padding: 5px 20px;
      min-width: 100px;
      text-align: center;
      color: #ffffff;
      text-decoration: none;
      border-radius: 8px;
      margin-left: 10px;
    }
  }
.enquired-booking-main{
  width: 100%;
  h2.heading{
    font-size: 24px;
    color: #920000;
    font-weight: bold;
    margin-bottom: 20px;
  }
  h2.no-result-heading{
    text-align: center;
    margin: 40px 0;
    font-size: 24px;
    color: #920000;
    font-weight: bold;
  }
  .table{
    .info{
      th{
        background-color: rgba(217,205,187,1);
        font-size: 15px;
      }
      th.first-coloum{
        width: 35%;
      }
      th.scnd-coloum{
        width: 35%;
      }
      th.thrd-coloum{
        width: 15%;
      }
    }
    td.info-detail{
      background-color: rgba(252, 245, 233, 1);
      font-size: 15px;
      border-top: none;
    }
    .booking-detail{
      width: 100%;
      .no-padding-right{
        padding-right: 0;
      }
      .no-padding-left{
        padding-left: 0;
      }
      .booking-img{
        width: 100%;
        overflow: hidden;
        height: 320px;
        background-color: rgba(240,229,214,1);
        padding-right:0;
        img{
          min-height: 320px;
        }
      }
      .img-bg{
        width: 100%;
        height: 320px;
        background-image: url('http://d3tfanr7troppj.cloudfront.net/static_files/images/000/000/413/original/steal_bg-2.png?1468906350');
        padding-left:0;
        background-size: cover;
        position: relative;
        .gap{
          height: 80px;
        }
        h4{
            margin: 0;
            padding: 5px 15px;
            font-size: 30px;
            color: #ffffff;
            background-color: #856b58;
            text-align: center;
            span{
              font-size: 14px;
            }
        }
        .detail-link-con{
          position: absolute;
          bottom: 10px;
          right: 10px;
          width: 100%;
          text-align: center;
          a{
            background-color: #920000;
            display: inline-block;
            padding: 10px 30px;
            text-align: center;
            color: #ffffff;
            text-decoration: none;
            border-radius: 8px;
            margin-left: 10px;
          }
        }
      }
    }
  }
}

@media(max-width: 991px){
  .enquired-booking-main{
    .table{
      .info{
        th{
          font-size: 12px;
        }
        th.first-coloum{
          width: 33%;
        }
        th.scnd-coloum{
          width: 33%;
        }
        th.thrd-coloum{
          width: 34%;
        }
      }
      td.info-detail{
        font-size: 12px;
      }
      .booking-detail{
        .booking-img{
          height: 250px;
          img{
            min-height: 250px;
          }
        }
        .img-bg{
          height: 250px;
          h4{
            font-size: 20px;
            span{
              font-size: 12px;
            }
          } 
        }
      }
    }
  }
}

@media(max-width: 767px){
  .enquired-booking-main{
    .table{
      .info{
        th{
          font-size: 10px;
        }
      }
      td.info-detail{
        font-size: 10px;
      }
      .booking-detail{
        .booking-img{
          height: inherit;
          img{
            min-height: inherit;
          }
        }
        .img-bg{
          height: 180px;
          .gap{
            height: 50px;
          }
        }
        .no-padding-right{
          padding-right: 15px;
        }
        .no-padding-left{
          padding-left: 15px;
        }
      }
    }
  }
}