footer{
  width:100%;
  background-image: url(http://d3tfanr7troppj.cloudfront.net/static_files/images/000/000/399/original/footer-bg.png?1468581518);
  background-size: cover;
  background-position: center;
  border-top: 10px solid #301d0c;
  padding: 15px 0;
  h4{
    font-size: 15px;
    color: #000000;
    margin-bottom: 0;
    font-weight: bold;
  }
  .member-con{
    min-height: 150px;
    .newsletter-form-con{
      margin-top: 20px;
      position: relative;
      p{
        color: #ffffff;
        font-size: 16px;
      }
      .newsletter-textfield{
        width: 100%;
        background-color: rgba(0,0,0,0.2);
        border: 1px solid #888888;
        padding: 8px 37px 8px 3px;
        color: #ffffff;
      }
      .newsletter-btn{
        background-color: #cccccc;
        width:25px;
        height: 25px;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        border-radius: 50%;
        position: absolute;
        text-align: center;
        border: 0;
        top: 6px;
        right: 22px;
        i{
          font-size: 22px;
        }
      }
    }
  }
  .logo-con{
    text-align: center;
    min-height: 150px;
    .footer-logo-con{
      margin: 30px 0 20px 0;
      img{
        height: 80px;
      }
    }
    p{
      color: #ffffff;
    }
  }
  .followus-con{
    ul{
      padding: 0;
      li{
        list-style: none;
        margin-right: 8px;
        padding: 5px 0;
        float: left;
        a{
          color:#ffffff;
          font-size: 16px;
          img{
            height:30px;
          }
        }
      }
      li.no-margin{
        margin: 0;
      }
    }
  }
  .services-con{
    margin-top: 20px;
    ul{
      padding: 0;
      margin: 0;
      li{
        list-style: none;
        float: left;
        margin-right: 10px;
        a{
          color: #670606;
          font-size: 14px;
        }
      }
    }
  }
  .copytext-con{
    margin-top: 20px;
    font-size: 14px;
    color: #ffffff;
    a{
      color:#670606;
    }
  }
}

@media(max-width: 1000px){
  footer{
    .member-con{
      min-height: inherit;
      border: none;
    }
    .logo-con{
      min-height: inherit;
      border: none;
      .footer-logo-con{
        margin-top: 0;
      }
    }
  }
}
@media(max-width: 767px){
  footer{
    h4{
      margin: 0;
    }
    .member-con{
      border-right: 0px;
      border-bottom: 1px solid rgba(0,0,0,0.5);
      min-height: inherit;
      padding-bottom: 20px;
    }
    .services-con{
      margin-top: 0;
      ul{
        li{
          a{
            font-size: 11px;
          }
        }
      }
    }
    .copytext-con{
      margin-top: 5px;
      p{
        font-size: 11px;
      }
    }
    .logo-con{
      border-right: 0px;
      border-bottom: 1px solid rgba(0,0,0,0.5);
      min-height: inherit;
      text-align: left;
      margin: 20px 0;
      p{
        font-size: 11px;
      }
      .footer-logo-con{
        margin: 10px 0;
      }
    }
  }
}