$main-blue-color: rgb(5, 81, 139);

.forget-bg{
	margin-top: 60px !important;
}

.forget_pass_main{
  width: 100%;
  //background-color: rgb(5, 81, 139);
  padding:50px 0 30px 0;
  background: url("http://d3tfanr7troppj.cloudfront.net/static_files/images/000/000/172/original/login-bg.jpg?1461133041");
  background-size: cover;
  background-attachment: fixed;
}