#header{
  width:100%;
  background: #f9f3e6;
  z-index: 2;
  .logo-main-con{

  }
  .right-nav{
    .header-right-text{
      color: #630;
      font-size: 16px;
      font-weight: bold;
      margin: 10px 0;
      a{
        color: #630;
        text-decoration: none;
      }
    }
    ul.top-login-nav{
      padding: 0;
      li{
        float: right;
        list-style: none;
        padding: 0 10px;
        a{
          color: #000000;
        }
      }
      li.menu-list-toogle{
        padding: 0 0 0 40px;
      }
    }
    ul.main-nav{
      padding: 0;
      li{
        float: right;
        a{
          font-size: 16px;
          color: #000000;
        }
        a.no-right-padding{
          padding-right: 0;
        }
      }
    }
  }
}
.fixed-header{
  position: fixed;
}
.home-header{
  background: transparent !important;
}

@media (max-width: 1024px) {
  .header-container{
    margin: 0;
    width: 100%;
  }
}

@media (max-width: 767px){
  .header_row{
    margin: 0;
  }
}