#header{
  width:100%;
  background: #f9f3e6;
  z-index: 2;
  .logo-main-con{

  }
  .right-nav{
    .header-right-text{
      color: #630;
      font-size: 16px;
      font-weight: bold;
      margin: 10px 0;
      a{
        color: #630;
        text-decoration: none;
      }
    }
    ul.top-login-nav{
      padding: 9px 0;
      li{
        float: right;
        list-style: none;
        padding: 0 10px;
        color: #920000;
        a{
          color: #920000;
        }
        ul.main-nav{
          margin: 10px 0;
          position: absolute;
          right: 0;
          li{
            float: right;
            a{
              font-size: 14px;
              color: #000000;
            }
            a.no-right-padding{
              padding-right: 0;
            }
          }
        }
      }
      li.menu-list-toogle{
        padding: 0 0 0 10px;
      }
    }
  }
}
.fixed-header{
  position: fixed;
}
.home-header{
  background: transparent !important;
}

@media (max-width: 1024px) {
  .header-container{
    margin: 0;
    width: 100%;
  }
}

@media (max-width: 767px){
  .header_row{
    margin: 0;
  }
  #header{
    .logo-main-con{

    }
    .right-nav{
      .header-right-text{
        a{

        }
      }
      ul.top-login-nav{
        margin: 10px 0;
        li{
          float: none;
          padding:10px;
          border-bottom: 1px solid #ffffff;
          width: 100%;
          text-align: center;
          font-size: 13px;
          ul.main-nav{
            position: absolute;
            padding: 0;
            width: 100%;
            background-color: #f9ecd0;
            li{
              float: none;
              width: 100%;
              a{
                font-size: 16px;
                color: #000000;
              }
              a.no-right-padding{
                padding-right: 0;
              }
            }
          }
        }
        li.menu-list-toogle{
          padding: 10px 0 10px 0;
        }
      }
    }
  }
}