a:hover{
  text-decoration: none;
}
a:focus{
  text-decoration: none;
}
#header{
  width:100%;
  background: #f9f3e6;
  z-index: 1001;
  .logo-main-con{

  }
  .no-padding-right{
    padding-right: 0;
  }
  .right-nav{
    .header-right-text{
      color: #630;
      font-size: 16px;
      font-weight: bold;
      margin: 10px 0;
      a{
        color: #630;
        text-decoration: none;
      }
    }
    ul.top-login-nav{
      padding: 9px 0;
      li{
        float: right;
        list-style: none;
        padding: 0 10px;
        color: #920000;
        a{
          color: #920000;
        }
        .underline{
          text-decoration: underline;
        }
        .non-underline{
          text-decoration: none;
        }
        ul.main-nav{
          margin: 10px 0;
          position: absolute;
          right: 0;
          li{
            float: none;
            min-width: 200px;
            padding: 0;
            background: #fffcf5;
            a{
              font-size: 13px;
              color: #920000;
              display: inline-block;
              padding: 7px;
              border-bottom: 1px solid #ffefcb;
              width: 100%;
              background: #fffcf5;
              .submenu-arrow-icon{
                float: right;
                margin-top: 3px;
              }
            }
            ul.sub_navigation{
              position: absolute;
              padding: 0;
              left: -200px;
              top: 0;
              li{

              }
            }
            a.no-right-padding{
              padding-right: 0;
            }
          }
        }
      }
      li.menu-list-toogle{
        padding: 0 0 0 10px;
      }
    }
  }
}
.fixed-header{
  position: fixed;
}
.home-header{
  background: transparent !important;
}

@media (max-width: 1024px) {
  .header-container{
    margin: 0;
    width: 100%;
  }
}

@media (max-width: 767px){
  .header_row{
    margin: 0;
  }
  .fixed-header{
    position: inherit;
  }
  #header{
    .logo-main-con{

    }
    .no-padding-right{
      padding-right: 15px;
    }
    .right-nav{
      .header-right-text{
        a{

        }
      }
      ul.top-login-nav{
        margin: 10px 0;
        li{
          float: none;
          padding:10px;
          border-bottom: 1px solid #ffffff;
          width: 100%;
          text-align: center;
          font-size: 13px;
          ul.main-nav{
            position: absolute;
            padding: 0;
            width: 100%;
            background-color: #f9ecd0;
            li{
              float: none;
              width: 100%;
              a{
              }
              a.no-right-padding{
                padding-right: 0;
              }
            }
          }
        }
        li.menu-list-toogle{
          padding: 10px 0 10px 0;
        }
      }
    }
  }
}