#header{
  width:100%;
  //background-image:url(http://d3tfanr7troppj.cloudfront.net/static_files/images/000/000/163/original/search_header_bg.jpg?1461045995) ;
  //background: #292929;
  background-size: cover;
  z-index: 2;
  border-bottom: 2px solid #9a6216 !important;
  background: #e1b069; /* Old browsers */
  background: -moz-linear-gradient(top,  #e1b069 0%, #ffdaa3 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  #e1b069 0%,#ffdaa3 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  #e1b069 0%,#ffdaa3 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e1b069', endColorstr='#ffdaa3',GradientType=0 ); /* IE6-9 */
  .logo-main-con{

  }
  .right-nav{
    .header-right-text{
      color: #630;
      font-size: 16px;
      font-weight: bold;
      margin: 10px 0;
      a{
        color: #630;
        text-decoration: none;
      }
    }
    ul{
      padding: 0;
      li{
        float: right;
        a{
          font-size: 16px;
          color: #ffffff;
        }
        a.no-right-padding{
          padding-right: 0;
        }
      }
    }
  }
}
.fixed-header{
  position: fixed;
}
.home-header{
  background: transparent !important;
}

@media (max-width: 1024px) {
  .header-container{
    margin: 0;
    width: 100%;
  }
}

@media (max-width: 767px){
  .header_row{
    margin: 0;
  }
}