#header{
  width:100%;
  background-image:url(http://d3tfanr7troppj.cloudfront.net/static_files/images/000/000/163/original/search_header_bg.jpg?1461045995) ;
  background-size: cover;
  z-index: 2;
  .logo-main-con{

  }
  .right-nav{
    ul{
      padding: 0;
      li{
        float: right;
        a{
          font-size: 16px;
          color: #ffffff;
        }
        a.no-right-padding{
          padding-right: 0;
        }
      }
    }
  }
}
.fixed-header{
  position: fixed;
}
.home-header{
  background: transparent !important;
}

@media (max-width: 1024px) {
  .header-container{
    margin: 0;
    width: 100%;
  }
}

@media (max-width: 767px){
  .header_row{
    margin: 0;
  }
}