/*helisetgo banner section start*/
.heli-banner{
	background:url(http://d3tfanr7troppj.cloudfront.net/static_files/images/000/000/073/original/aboutus_banner.png?1457156736) 100% no-repeat;
	background-size:cover;
}
/*helisetgo banner section finish*/

.helicontent{
	p{
		font-size:16px;
		padding:10px;
		margin:0;
	}
}