$main-skyblue-color : rgb(27,143,188);

//top header section
.top-header-search-con{
	background-image:url(http://d3tfanr7troppj.cloudfront.net/static_files/images/000/000/135/original/home_header_bg.jpg?1460529613);
	width:100%;
	min-height:600px;		
	header{
		width:100%;
		display:inline-block;
		margin:10px 0;
		.logo-con{
			.logo-img{
				max-width:120px;
			}
		}
		.right-header-con{
			ul{
				padding:0;
				margin:0;
				li{
					float:right;
					list-style:none;
					padding:12px;
					font-size:16px;
					a{
						color:#ffffff;
						text-decoration:none;
					}
				}
			}
		}
	}
	.search-main-con{
        position: relative;
		width:100%;
		display:inline-block;
		h2{
			font-size:130px;
			color:#ffffff;
			margin:30px 0 20px 0;
			span{
				display:block;
				font-size:80px;
			}
		}
        .search-main-form{
          position: relative;
          margin-bottom: 15px;
          display: inline-block;
          width: 85%;
        }
        .search-form{
          position: relative;
          width: 24.7%;
          display: inline-block;
        }
        .search-textfield{
          width: 100%;
          background-color: transparent;
          border: 1px solid #ffffff;
          padding:9px 5px 9px 43px;
          a{
            color: #ffffff;
          }
        }
        .date-textfield{
          padding:9px 5px;
        }
        .pax-textfield{
          padding:9px 5px 9px 33px;
        }
        .text-white{
          color: #ffffff;
        }
        .search-icon{
          background-image: url(http://d3tfanr7troppj.cloudfront.net/static_files/images/000/000/137/original/search_icon.png?1460550683);
        }
        .departure-icon{
          width: 37px;
            height: 20px;
            display: inline-block;
            background-position: -9px -11px;
            position: absolute;
            top: 10px;
            left: 5px;
          }
        .arrival-icon{
          width: 37px;
          height: 20px;
          display: inline-block;
          background-position: -59px -11px;
          position: absolute;
          top: 10px;
          left: 5px;
        }
        .pax-icon{
          width: 24px;
          height: 24px;
          display: inline-block;
          background-position: -132px -9px;
          position: absolute;
          top: 5px;
          left: 5px;
        }
        .cross-icon{
          position: absolute;
          top: -10px;
          right: -3px;
          color: #ffffff;
        }
        .search-btn{
          width: 14.5%;
          background-color: $main-skyblue-color;
          display: inline-block;
          padding:10px 0;
          text-align: center;
          color: #ffffff;
          text-decoration: none;
        }
        .add-trip-btn{
          color: #ffffff;
          display: inline-block;
          padding: 9px 30px;
          border: 1px solid #ffffff;
          -webkit-border-radius: 10px;
          -moz-border-radius: 10px;
          border-radius: 10px;
        }
	}
}

//jetsetgo experince section

.experience-main-con{
  text-align: center;
  padding:20px 0 30px 0;
  span.heading{
    font-size:70px;
    color: $main-skyblue-color;
    display: inline-block;
    margin:0 0 40px 0;
    border-bottom: 1px solid #eeeeee;
    position: relative;
  }
  span.heading:after{
    content: "";
    background-color: $main-skyblue-color;
    height: 3px;
    position: absolute;
    width: 30%;
    max-width: 100px;
    bottom: -2px;
    left: -5px;
  }
  .experience-widget{
    .experience-img{
      width: 100%;
      height: 300px;
      overflow: hidden;
      position: relative;
      .experience-hover{
        background-color: rgba(0,0,0,0);
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        -webkit-transition: all 0.6s ease-in-out;
        -moz-transition: all 0.6s ease-in-out;
        -ms-transition: all 0.6s ease-in-out;
        -o-transition: all 0.6s ease-in-out;
        transition: all 0.6s ease-in-out;
        p{
          color: #ffffff;
          font-size: 12px;
          padding: 20px;
          margin: 40px 0 20px 0;
          opacity: 0;
          -moz-transform: scale(2);
          -webkit-transform: scale(2);
          -o-transform: scale(2);
          -ms-transform: scale(2);
          transform: scale(2);
          -webkit-transition: all 0.6s ease-in-out;
          -moz-transition: all 0.6s ease-in-out;
          -ms-transition: all 0.6s ease-in-out;
          -o-transition: all 0.6s ease-in-out;
          transition: all 0.6s ease-in-out;
        }
        h5{
          opacity: 0;
          -moz-transform: scale(3);
          -webkit-transform: scale(3);
          -o-transform: scale(3);
          -ms-transform: scale(3);
          transform: scale(3);
          -webkit-transition: all 0.6s ease-in-out;
          -moz-transition: all 0.6s ease-in-out;
          -ms-transition: all 0.6s ease-in-out;
          -o-transition: all 0.6s ease-in-out;
          transition: all 0.6s ease-in-out;
          a{
            color: $main-skyblue-color;
            font-size: 16px;
            font-weight: bold;
            text-decoration: none;
          }
        }
      }
    }
    h3{
      font-size: 20px;
      font-weight: bold;
      margin: 15px 0;
    }
  }
  .experience-widget:hover > .experience-img .experience-hover{
    background-color: rgba(0,0,0,0.6);
    -webkit-transition: all 0.6s ease-in-out;
    -moz-transition: all 0.6s ease-in-out;
    -ms-transition: all 0.6s ease-in-out;
    -o-transition: all 0.6s ease-in-out;
    transition: all 0.6s ease-in-out;
  }
  .experience-widget:hover > .experience-img .experience-hover p{
    opacity: 1;
    -moz-transform: scale(1);
    -webkit-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
  .experience-widget:hover > .experience-img .experience-hover h5{
    opacity: 1;
    -moz-transform: scale(1);
    -webkit-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    -webkit-transition: all 0.6s ease-in-out;
    -moz-transition: all 0.6s ease-in-out;
    -ms-transition: all 0.6s ease-in-out;
    -o-transition: all 0.6s ease-in-out;
    transition: all 0.6s ease-in-out;
  }
}

//jetsteel section

.jetsteel-main-con{
  background-image: url(http://d3tfanr7troppj.cloudfront.net/static_files/images/000/000/146/original/jetsteals_bg.jpg?1460637416);
  min-height: 400px;
  background-size: cover;
  padding: 20px 0 30px 0;
  span.heading{
    font-size:70px;
    color: #ffffff;
    display: inline-block;
    margin:0 0 0 6px;
    border-bottom: 1px solid #eeeeee;
    position: relative;
  }
  span.heading:after{
    content: "";
    background-color: $main-skyblue-color;
    height: 3px;
    position: absolute;
    width: 30%;
    max-width: 100px;
    bottom: -2px;
    left: -5px;
  }
  .sub-heading{
    font-size: 23px;
    color: #ffffff;
  }
  .jetsteal-con{
    width: 100%;
  }
}