$main-skyblue-color : rgb(27,143,188);
$main-blue-color:rgb(5, 81, 139);

#spinner {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 9999;
  //background: url(http://d3tfanr7troppj.cloudfront.net/static_files/images/000/000/765/original/loader.gif?1473231729) 50% 50% no-repeat;
  background: url(http://d3tfanr7troppj.cloudfront.net/static_files/images/000/000/888/original/loader2.gif?1475563720) 50% 50% no-repeat;
  background-color: rgba(241,234,220,1);
}
h2.section-main-heading{
  font-size: 50px;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-weight: normal;
  margin: 0;
  color: #ffffff;
  .scnd-text{
    color: #a68b5e;
  }
}
h4.section-sub-heading{
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 21px;
  text-transform: uppercase;
  color: #a68b5e;
  margin: 0;
}
p.section-content{
  font-size: 14px;
  color: #ffffff;
}
.click-btn{
  background-color: #bb965d;
  padding: 8px 10px;
  color: #ffffff;
  text-align: center;
  min-width: 100px;
  border-radius: 5px;
  display: inline-block;
}
.click-btn:hover{
  color: #ffffff;
}
.gap{
  height: 50px;
}
.minimum_height{
  width: 100%;
  height: 60vh
}
#slide-numbers{
  height: 100%; 
  position: fixed; 
  top: 0px; 
  right: 0px; 
  bottom: 0px; 
  width: 86px; 
  z-index: 999;
  .nav-circle{
    list-style: none;
    height: 7px;
    width: 7px;
    cursor: pointer;
    margin: 5px 0;
    border-radius : 100%;
    border: 1px solid #ffffff;
    background-color: transparent;
  }
  .active{
    background-color: #ffffff;
  }
}

//login popup

.sold_out{
  position:absolute;
  background-color: rgba(138, 123, 109, 0.5);
  z-index: 1;
  top:0;
  bottom: 0;
  left: 0;
  right:0;
  text-align: center;
  p{
    margin-top: 125px; 
    color: #ffffff; 
    font-weight: bold;
    font-size: 45px;
    background-color: rgba(67, 50, 31, 0.8);
  }
}

.modal-content{
  background-color: transparent;
  box-shadow: none;
  border: 0;
}
.login-header{
  display:none !important;
}
.login-logo{
  text-align:center;
  margin-top:50px;
}
.login-bg-con{
  width:100%;
  background: url("http://d3tfanr7troppj.cloudfront.net/static_files/images/000/000/172/original/login-bg.jpg?1461133041") no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
.autocomplete-height {
  .dropdown-menu{
    max-height: 400px;
    overflow-x: scroll;
    overflow-y: inherit;
    min-width: 400px;
    z-index: 1000 !important;
  }
  .dropdown-celender{
    min-width: inherit;
  }
}
.login-left-con{
  margin-top:140px;
  h4{
    font-size:40px;
    color:#ffffff;
    margin:10px 0;
  }
  h2{
    font-size: 60px;
    font-weight: bold;
    margin: 10px 0;
    text-transform: uppercase;
  }
  p{
    font-size:16px;
    text-align:justify;
    color:#ffffff;
    margin:10px 0;
  }
}
.login-black-bg{
  background-image: url('http://d3tfanr7troppj.cloudfront.net/static_files/images/000/000/523/original/log-signin_bg.png?1470296964');
  background-size: cover;
  background-position: center;
  margin-top:20px;
  position: relative;
  .middle-heading{
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
  }
  .closs-btn{
    color: #920000;
    font-size: 25px;
    position: absolute;
    right: 6px;
    top: 9px;
    z-index: 2;
    -webkit-transition: all 0.6s ease-in-out;
    -moz-transition: all 0.6s ease-in-out;
    -ms-transition: all 0.6s ease-in-out;
    -o-transition: all 0.6s ease-in-out;
    transition: all 0.6s ease-in-out;
    i{
      z-index: 9999;
    }
  }
  .closs-btn:hover{
    -moz-transform: scale(1.3) rotate(360deg);
    -webkit-transform: scale(1.3) rotate(360deg);
    -o-transform: scale(1.3) rotate(360deg);
    -ms-transform: scale(1.3) rotate(360deg);
    transform: scale(1.3) rotate(360deg);
    -webkit-transition: all 0.6s ease-in-out;
    -moz-transition: all 0.6s ease-in-out;
    -ms-transition: all 0.6s ease-in-out;
    -o-transition: all 0.6s ease-in-out;
    transition: all 0.6s ease-in-out;
  }
}
.login-register-main{
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
  padding-bottom:30px;
  min-height:400px;
  border-radius:6px;
  .height{
    min-height: 50px;
  }
  //-webkit-box-shadow: 0px 0px 25px 0px rgba(0,0,0,0.5);
  //-moz-box-shadow: 0px 0px 25px 0px rgba(0,0,0,0.5);
  //box-shadow: 0px 0px 25px 0px rgba(0,0,0,0.5);
  h5{
    font-size:28px;
    -webkit-border-top-left-radius: 6px;
    -webkit-border-top-right-radius: 6px;
    -moz-border-radius-topleft: 6px;
    -moz-border-radius-topright: 6px;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    margin:0;
    padding:15px;
    //background-color:$main-blue-color;
    text-align: center;
    position: relative;
    .user-icon-top{
    }
    .span-text{
      display:inline-block;
      background-color:$main-blue-color;
      position:absolute;
      top:0;
      right:20px;
      font-size:12px;
      padding:7px 20px;
      color:#ffffff;
      -webkit-border-bottom-right-radius: 5px;
      -webkit-border-bottom-left-radius: 5px;
      -moz-border-radius-bottomright: 5px;
      -moz-border-radius-bottomleft: 5px;
      border-bottom-right-radius: 5px;
      border-bottom-left-radius: 5px;
    }
  }
  p{
    text-align:justify;
    color:#555;
  }
  form{
    .forget-text{
      color: #920000;
    }
    .field{
      position:relative;
      .mendatory_text{
        color: #920000;
        position: absolute;
        right: -12px;
        top: -5px;
        font-size: 14px;
      }
      label{
        color:#555555;
        font-size:15px;
        font-weight:normal;
        margin-bottom:0;
      }
      .country-code-text{
        display:inline-block;
        position:absolute;
        top:36px;
        left:8px;
      }
      .text-field{
        height:40px;
        background-color:transparent !important;
        box-shadow:none;
        border:0px;
        border:1px solid #CFC2B8;
        position:relative;
        text-align:center;
      }
      .text-field:focus{
        background-color:#ffffff;
      }
      .proceed-btn{
        width: 100%;
        padding:12px 0 !important;
        font-size:16px;
        background-color: #920000;
        border-radius: 8px;
        margin-top: 30px;
        border: none
      }
      .register-click{
        *margin-top:10px;
        font-size:17px;
        display:inline-block;
        width:100%;
        padding:12px 0;
        background-color: #7E6156;
        border-radius: 8px;
        text-decoration: none;
        text-align:center;
        color:#ffffff;
        -webkit-transition: all 0.6s ease-in-out;
        -moz-transition: all 0.6s ease-in-out;
        -ms-transition: all 0.6s ease-in-out;
        -o-transition: all 0.6s ease-in-out;
        transition: all 0.6s ease-in-out;
      }
      .register-click:hover{
        background-color: #920000;
        -webkit-transition: all 0.6s ease-in-out;
        -moz-transition: all 0.6s ease-in-out;
        -ms-transition: all 0.6s ease-in-out;
        -o-transition: all 0.6s ease-in-out;
        transition: all 0.6s ease-in-out;
      }
      .or-text{
        font-size:20px;
        display:inline-block;
        width:100%;
        text-align:center;
        margin:10px 0;
      }
      .form-icon{
        position:absolute;
        top: 12px;
        left: 10px;
        color: #9D855D;
      }
      .text-icon{
        left: 26px;
      }
      .phn-icon{
        top: 15px;
      }
      .form-control{
        padding:6px 12px 6px 25px;
      }
    }
    .forget-text{
      margin-top:10px;
      a{
        text-decoration:none;
      }
    }
  }
}


span.heading{
  font-size:70px;
  color: $main-blue-color;
  display: inline-block;
  //margin:0 0 40px 0;
  margin:0 0 0 0;
  border-bottom: 1px solid #eeeeee;
  position: relative;
}
span.heading:after{
  content: "";
  background-color: $main-blue-color;
  height: 3px;
  position: absolute;
  width: 30%;
  max-width: 100px;
  bottom: -2px;
  left: -5px;
}
.no-padding-left{
  padding-left: 0;
}
.no-padding-right{
  padding-right: 0;
}
.no-padding-both{
  padding: 0;
}
//top header section
.top-header-search-con{
  //background-image:url(http://d3tfanr7troppj.cloudfront.net/static_files/images/000/000/360/original/homepageplane.png?1468494836);
  background-attachment: fixed;
  background-position: 0px 41px;
  width:100%;
  min-height: 100vh;
  background-size: cover;
  position: relative;
  #background_cycler {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    .img {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      z-index: 1;
      background-attachment: fixed !important;
    }
    .img.active { 
      z-index: 3; 
    }
  }

  .header-container{
      position: relative;
    }
    .header#header{
      border-bottom: 0px !important;
    }
  header{
    width:100%;
    display:inline-block;
    margin:10px 0;
    .logo-con{
      .logo-img{
        max-width:120px;
      }
    }

    .right-header-con{
      ul{
        padding:0;
        margin:0;
        li{
          float:right;
          list-style:none;
          padding:12px;
          font-size:16px;
          a{
            color:#ffffff;
            text-decoration:none;
          }
                  ul.sub-nav{
                    li{
                      list-style: none;
                      background-color: #002a80;
                    }
                  }
        }
      }
    }
  }
  .search-main-con{
      position: absolute;
      bottom: 50px;
      width: 99%;
    h2{
      font-size:120px;
      color:#ffffff;
      margin:0 0 20px 0;
      span{
        display:block;
        font-size:70px;
      }
    }
    .search_alpha{
      background-color: rgba(186, 151, 83, 0.15);
      padding: 10px;
      border-radius: 10px;
      .search-main-form{
        position: relative;
        margin-bottom: 15px;
        display: inline-block;
        width: 85%;
        border: 1px dashed #cccccc;
        padding: 3px 0 3px 3px;
        margin-right: 5px;
        border-radius: 5px;
      }
      .search-form{
        position: relative;
        width: 24.6%;
        display: inline-block;
      }
      .search-textfield{
        width: 100%;
        background-color: rgba(67, 50, 31,0);
        border: none;
        padding:12px 5px 12px 50px;
        a{
          color: #dddddd;
        }
        .white-color{
          color: #ffffff;
        }
      }
      .text-white{
        color: #ffffff;
      }
      .search-icon {
        background-color: rgba(185, 185, 185, 0.3);
        position: absolute;
        border: 1px solid #cccccc;
        display: inline-block;
        width: 44px;
        height: 44px;
        padding: 2px 0;
        text-align: center;
        top: 1px;
        left: 1px;
        z-index: 1;
        border-radius: 5px;
      }
      .cross-icon{
        position: absolute;
        top: 12px;
        right: -50px;
        color: #cc0000;
        font-size: 13px;
        z-index: 2;
        text-decoration: underline;
      }
      .search-btn{
        width: 14.5%;
        background-color: #920000;
        display: inline-block;
        padding:10px 0;
        text-align: center;
        color: #ffffff;
        font-size: 15px;
        //font-weight: bold;
        text-decoration: none;
        border-radius: 7px;
        position: absolute;
        top: 7px;
      }
      .add-trip-btn{
        color: #ffffff;
        display: inline-block;
        padding: 6px 15px;
        background-color: #920000;
        font-size: 15px;
        min-width: 150px;
        text-align: center;
        border-radius: 7px;
        //font-weight: bold;
        //-webkit-border-radius: 10px;
        //-moz-border-radius: 10px;
        //border-radius: 10px;
      }
      ::-webkit-input-placeholder {
        //color:#4a3e30;
        color: #ffffff;
      }
      ::-moz-placeholder {
        //color:#4a3e30;
        color: #ffffff;
      } /* firefox 19+ */
      :-ms-input-placeholder {
        //color:#4a3e30;
        color: #ffffff;
      } /* ie */
      input:-moz-placeholder {
        //color:#4a3e30;
        color: #ffffff;
      }
    }
  }
}

.section-heading{
  padding-bottom: 10px;
}

//jetsteel section
.jetsteel-main-con{
  width: 100%;
  min-height: 600px;
  height: 100vh;
  background: url("http://d3tfanr7troppj.cloudfront.net/static_files/images/000/001/136/original/jetstealsbg.jpg?1484292644") fixed center;
  .jetsteal-slider-con{
    width: 100%;
    background-attachment: fixed;
    padding: 100px 0;
    #carousel_slider{
      .left{
        position: absolute;
        left: -50px;
        .glyphicon-chevron-left{
          font-size: 20px;
        }
      }
      .right{
        position: absolute;
        right: -50px;
        .glyphicon-chevron-right{
          font-size: 20px;
        }
      }
    }
    .custom-indicator{
      li.active{
        background-color: #000000;
      }
      li{
        border-color: #000000;
      }
    }
    .border-con{

    }
    .emptyleg_image{
      padding: 0;
      overflow: hidden;
      height: 320px;
      -webkit-border-top-left-radius: 10px;
      -webkit-border-top-right-radius: 10px;
      -moz-border-radius-topleft: 10px;
      -moz-border-radius-topright: 10px;
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
    }
    .emptyleg_detail{
      background-color: rgba(0,0,0,0.6);
      background-size: cover;
      padding: 10px 0;
      position: relative;
      -webkit-border-bottom-right-radius: 10px;
      -webkit-border-bottom-left-radius: 10px;
      -moz-border-radius-bottomright: 10px;
      -moz-border-radius-bottomleft: 10px;
      border-bottom-right-radius: 10px;
      border-bottom-left-radius: 10px;
      h2.aircraft_name{
        font-size: 18px;
        color: #ffffff;
        margin: 10px 0 0 0;
        font-weight: bold;
      }
      h5.engine_type{
        font-size: 13px;
        color: #ffffff;
        margin: 0 0 10px 0;
      }
      h4.estimated-price{
        margin: 0;
        margin-top: 10px;
        padding: 8px 15px;
        font-size: 22px;
        color: #ffffff;
        background-color: #313031;
        .text{
          font-size: 14px;
          margin-top: 10px;
        }
      }
      h3.anytime-text{
        font-size: 15px;
        margin-top: 10px;
        font-weight: bold;
      }
      .jetsteal-location{
        margin: 10px 0;
        .data{
          position: relative;
          color: #ffffff;
          h4{
            font-size: 13px;
            font-weight: bold;
            margin:0;
          }
          p{
            font-size: 12px;
            margin:0;
          }
          p.pax-txt{
            font-size: 12px;
          }
          .jet-img{

          }
        }
      }
      .time-seat{
        p{
          margin-bottom: 5px;
          font-size: 13px;
        }
      }
      .detail-link-con{
        padding: 10px 15px;
        bottom: 0;
        width: 100%;
        color: #ffffff;
        margin-top: 30px;
        position: absolute;
        bottom: 0;
        a{
          background-color: #920000;
          display: inline-block;
          padding: 8px 20px;
          text-align: center;
          color: #ffffff;
          text-decoration: none;
          width: 100%;
          border-radius: 8px;
          font-size: 18px;
        }
      }
    }
    .emptyleg_content{
      margin-top: 30px;
      padding: 5px 15px 5px 15px;
      p.content{
        font-size: 15px;
      }
      a.view-more-btn{
        background-color: #920000;
        display: inline-block;
        padding: 8px 20px;
        text-align: center;
        color: #ffffff;
        text-decoration: none;
        border-radius: 8px;
        font-size: 14px;
      }
      p.member-content{
        color: #920000;
        font-size: 17px;
        margin-top: 20px;
      }
    }
    .enquire-con{
      .ennquire-btn{
        background-color: #920000;
        border: 1px solid #f2f2f2;
        color: #ffffff;
        text-decoration: none;
        padding: 5px 20px;
        display: inline-block;
        margin: 10px 0 0 40px;

      }
    }
  }
  .carousel-control{
    opacity: 1;
  }
  .carousel-indicators{
    bottom: -35px;
    z-index: 1;
  }
  .carousel-indicators li{
    //border: 1px solid #998776;
    margin: 2px;
    text-indent: inherit;
    color: #999999;
    background: transparent;
    border: none;
  }
  .carousel-indicators .active{
    //background-color: #998776;
    width: 10px;
    height: 10px;
    color: #947c64;
    background: transparent;
    border: none;
  }
  .fa-chevron-right:before{
    color: #920000;
  }
  .fa-chevron-left:before{
    color: #920000;
  }
}

//jetsetgo services section
.services_main_con{
  width: 100%;
  background-image: url("http://d3tfanr7troppj.cloudfront.net/static_files/images/000/000/431/original/services--bg2.png?1469445086");
  background-repeat: repeat;
  background-attachment: fixed;
  position: relative;
  .service-heading{
    position: absolute;
    top: 15%;
    z-index: 1;
  }
  .services-widget{
    width: 100%;
    .overflow-hidden{
      overflow: hidden;
    }
    .yatra-bg{
      background-image: url("http://d3tfanr7troppj.cloudfront.net/static_files/images/000/001/140/original/yatra.jpg?1484310667");
    }
    .wedding-bg{
      background-image: url("http://d3tfanr7troppj.cloudfront.net/static_files/images/000/001/139/original/wedding.jpg?1484310622");
    }
    .heli-bg{
      background-image: url("http://d3tfanr7troppj.cloudfront.net/static_files/images/000/001/137/original/heliset.jpg?1484310580");
    }
    .rescue-bg{
      background-image: url("http://d3tfanr7troppj.cloudfront.net/static_files/images/000/001/138/original/heliresuce.jpg?1484310601");
    }
    .widget{
      height: 100vh;
      min-height: 600px;
      background-position: center;
      background-size: 100%;
      color: #fff;
      padding-top: 70%;
      -webkit-transition: all 0.6s ease-in-out;
      -moz-transition: all 0.6s ease-in-out;
      -ms-transition: all 0.6s ease-in-out;
      -o-transition: all 0.6s ease-in-out;
      transition: all 0.6s ease-in-out;
      h3{
        text-align: center;
        font-size: 18px;
        font-weight: bold;
      }
      p{
        padding: 0 15px;
      }
      a.enquire-btn{
        background-color: #920000;
        color: #ffffff;
        text-decoration: none;
        padding: 5px 20px;
        display: inline-block;
        margin: 10px;
        border-radius: 5px;
        float: right;
        -webkit-transition: all 0.6s ease-in-out;
        -moz-transition: all 0.6s ease-in-out;
        -ms-transition: all 0.6s ease-in-out;
        -o-transition: all 0.6s ease-in-out;
        transition: all 0.6s ease-in-out;
      }
      a.active-btn{
        background-color: #DABB9C;
        color: #000000;
        text-decoration: none;
        padding: 5px 20px;
        display: inline-block;
        margin: 10px;
        float: right;
        border-radius: 5px;
        -webkit-transition: all 0.6s ease-in-out;
        -moz-transition: all 0.6s ease-in-out;
        -ms-transition: all 0.6s ease-in-out;
        -o-transition: all 0.6s ease-in-out;
        transition: all 0.6s ease-in-out;
      }
      
    }

    .widget:hover{
      -moz-transform: scale(1.04);
      -webkit-transform: scale(1.04);
      -o-transform: scale(1.04);
      -ms-transform: scale(1.04);
      transform: scale(1.04);
      -webkit-transition: all 0.6s ease-in-out;
      -moz-transition: all 0.6s ease-in-out;
      -ms-transition: all 0.6s ease-in-out;
      -o-transition: all 0.6s ease-in-out;
      transition: all 0.6s ease-in-out;
    }
    .helisetgo_detail{
      background-image: url('http://d3tfanr7troppj.cloudfront.net/static_files/images/000/000/408/original/heli-services.png?1468832356');
      background-size: cover;
      background-position: center;
    }
    .jetsetyatra_detail{
      background-image: url('http://d3tfanr7troppj.cloudfront.net/static_files/images/000/000/714/original/JetSetYatra.png?1472470535');
      background-size: cover;
      background-position: center;
    }
    .jetsetrescue_detail{
      background-image: url('http://d3tfanr7troppj.cloudfront.net/static_files/images/000/000/409/original/medres-services.png?1468832395');
      background-size: cover;
      background-position: center;
    }
    .jetsetwed_detail{
      background-image: url('http://d3tfanr7troppj.cloudfront.net/static_files/images/000/000/532/original/JetSetWed.jpg?1470648361');
      background-size: cover;
      background-position: center;
    }
    .widget-detail{
      position: relative;
      min-height: 800px;
      .cross-icon{
        position: absolute;
        top: 6px;
        font-size: 23px;
        right: 6px;
        color: #920000;
        cursor: pointer;
        -webkit-transition: all 0.6s ease-in-out;
        -moz-transition: all 0.6s ease-in-out;
        -ms-transition: all 0.6s ease-in-out;
        -o-transition: all 0.6s ease-in-out;
        transition: all 0.6s ease-in-out;
      }
      .cross-icon:hover{
          -moz-transform: scale(1.3) rotate(360deg);
          -webkit-transform: scale(1.3) rotate(360deg);
          -o-transform: scale(1.3) rotate(360deg);
          -ms-transform: scale(1.3) rotate(360deg);
          transform: scale(1.3) rotate(360deg);
          -webkit-transition: all 0.6s ease-in-out;
          -moz-transition: all 0.6s ease-in-out;
          -ms-transition: all 0.6s ease-in-out;
          -o-transition: all 0.6s ease-in-out;
          transition: all 0.6s ease-in-out;
        }
      .bg-overlay{
        background-color: rgba(0,0,0,0.3);
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
      }
      h2{
        margin: 0;
        padding: 30px 15px;
        color: #920000;
        font-size: 25px;
        font-weight: bold;
      }
      p{
        font-size: 16px;
        color: #ffffff;
        margin: 15px 0;
        padding: 0 15px 0 15px;
      }
      ul{
        margin-top: 20px;
        li{
          font-size: 16px;
          color: #ffffff;
          margin: 10px 0;
        }
      }
    }
  }
}

//jetsetgo Fleet section
.fleet_main_con{
  width: 100%;
  background: url("http://d3tfanr7troppj.cloudfront.net/static_files/images/000/001/162/original/Fleet_bg.JPG?1484991296") center fixed;
  position: relative;
  height: 100vh;
  min-height: 600px;
  .fleet_content {
    border-left: 2px solid #920000;
    margin-bottom: 30px;
    padding: 5px 15px 5px 15px;
    p.content {
      font-size: 16px;
      color: #ffffff;
    }
  }
  .fleet-widget{
    padding: 50px 0;
    background-size: cover;
    .widget{
      margin: 15px 0;
      .widget_heading_con{
        h3{
          font-size: 20px;
          color: #000000;
          font-weight: normal;
          margin: 10px 0 0 0;
        }
        a{
          color: #920000;
          font-size: 12px;
        }
      }
    }
  }
}
#wrapper {
  width: 100%;
  height: 350px;
  #carousel {
    div {
      text-align: center;
      width: 100px;
      height: 250px;
      float: left;
      position: relative;
      img{
        width: 100%;
      }
      h3{
        font-size: 20px;
        color: #a68b5e;
        -webkit-transition: all 0.6s ease-in-out;
        -moz-transition: all 0.6s ease-in-out;
        -ms-transition: all 0.6s ease-in-out;
        -o-transition: all 0.6s ease-in-out;
        transition: all 0.6s ease-in-out;
      }
      a{
        font-size: 12px;
        color: #ffffff;
        text-align: left;
        -webkit-transition: all 0.6s ease-in-out;
        -moz-transition: all 0.6s ease-in-out;
        -ms-transition: all 0.6s ease-in-out;
        -o-transition: all 0.6s ease-in-out;
        transition: all 0.6s ease-in-out;
      }
    }
    div:nth-child(2n){
      h3{
        font-size: 36px;
        -webkit-transition: all 0.6s ease-in-out;
        -moz-transition: all 0.6s ease-in-out;
        -ms-transition: all 0.6s ease-in-out;
        -o-transition: all 0.6s ease-in-out;
        transition: all 0.6s ease-in-out;
      }
      a{
        font-size: 16px;
        -webkit-transition: all 0.6s ease-in-out;
        -moz-transition: all 0.6s ease-in-out;
        -ms-transition: all 0.6s ease-in-out;
        -o-transition: all 0.6s ease-in-out;
        transition: all 0.6s ease-in-out;
      }
    }
  }
}

//media section
.news-media-main-con{
  width: 100%;
  height: 100vh;
  min-height: 600px;
  background: url("http://d3tfanr7troppj.cloudfront.net/static_files/images/000/001/142/original/mediabg.jpg?1484551182") center fixed;
  .view_more_btn{
    background-color: #920000;
    display: inline-block;
    padding: 8px 20px;
    min-width: 300px;
    margin-top: 15px;
    text-align: center;
    color: #ffffff;
    text-decoration: none;
    border-radius: 8px;
    font-size: 14px;
  }
  .media-slider-con{
    .media-con{
      text-align: left;
      .media-text{
        background-color: rgba(255,255,255,0.7);
        padding: 5px;
        border-radius: 10px;
        min-height: 260px;
        position: relative;
        .share-media{
          a{
            color: #000;
          }
        }
      }
      .media-widget{
        min-height: 240px;
      }
      div.media-content{
        min-height: 110px;
      }
      h3.media-heading{
        font-size: 13px;
        font-weight: bold;
        margin: 5px 0;
      }
      p.media-content{
        font-size: 12px;
      }
      .media-readmore{
        color: #000;
        text-decoration: none;
        position: absolute;
        bottom: 8px;
        left: 8px;
      }
      .controller-arrow{
        margin-top: 100px;
      }
    }
  }
  .fa-chevron-right:before{
    color: #920000;
  }
  .fa-chevron-left:before{
    color: #920000;
  }
  .carousel-control{
    opacity: 1;
  }
  .carousel-indicators{
    bottom: -35px;
    z-index: 1;
  }
  .carousel-indicators li{
    border: 1px solid #998776;
    margin: 2px;
  }
  .carousel-indicators .active{
    background-color: #998776;
    width: 10px;
    height: 10px;
  }
}

//jetsteel app
.jetsteel-app{
  width: 100%;
  height: 100vh;
  min-height: 600px;
  background: url("http://d3tfanr7troppj.cloudfront.net/static_files/images/000/001/141/original/appbg.jpg?1484551160") center;
  background-size: 100% 100%;
  .app-main{
    width: 100%;
    background-size: cover;
    min-height: 320px;
    .app-content{
      padding: 50px 0;
      color: #ffffff;
      h4{
        color: #ffffff;
      }
      p{
        font-size: 16px;
      }
    }
  }
  .app-img-con{
    position: relative;
    img{
      position: absolute;
      top: -64px;
    }
  }
}

//jetsetgo experince section
.experience-main-con{
  text-align: center;
  padding:20px 0 30px 0;
  .experience-widget{
    .experience-img{
      width: 100%;
      height: 300px;
      overflow: hidden;
      position: relative;
      .experience-hover{
        background-color: rgba(0,0,0,0);
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        -webkit-transition: all 0.6s ease-in-out;
        -moz-transition: all 0.6s ease-in-out;
        -ms-transition: all 0.6s ease-in-out;
        -o-transition: all 0.6s ease-in-out;
        transition: all 0.6s ease-in-out;
        p{
          color: #ffffff;
          font-size: 12px;
          padding: 20px;
          margin: 40px 0 20px 0;
          opacity: 0;
          -moz-transform: scale(2);
          -webkit-transform: scale(2);
          -o-transform: scale(2);
          -ms-transform: scale(2);
          transform: scale(2);
          -webkit-transition: all 0.6s ease-in-out;
          -moz-transition: all 0.6s ease-in-out;
          -ms-transition: all 0.6s ease-in-out;
          -o-transition: all 0.6s ease-in-out;
          transition: all 0.6s ease-in-out;
        }
        h5{
          opacity: 0;
          -moz-transform: scale(3);
          -webkit-transform: scale(3);
          -o-transform: scale(3);
          -ms-transform: scale(3);
          transform: scale(3);
          -webkit-transition: all 0.6s ease-in-out;
          -moz-transition: all 0.6s ease-in-out;
          -ms-transition: all 0.6s ease-in-out;
          -o-transition: all 0.6s ease-in-out;
          transition: all 0.6s ease-in-out;
          a{
            color: $main-blue-color;
            font-size: 16px;
            font-weight: bold;
            text-decoration: none;
          }
        }
      }
    }
    h3{
      font-size: 20px;
      font-weight: bold;
      margin: 15px 0;
    }
  }
  .experience-widget:hover > .experience-img .experience-hover{
    background-color: rgba(0,0,0,0.6);
    -webkit-transition: all 0.6s ease-in-out;
    -moz-transition: all 0.6s ease-in-out;
    -ms-transition: all 0.6s ease-in-out;
    -o-transition: all 0.6s ease-in-out;
    transition: all 0.6s ease-in-out;
  }
  .experience-widget:hover > .experience-img .experience-hover p{
    opacity: 1;
    -moz-transform: scale(1);
    -webkit-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
  .experience-widget:hover > .experience-img .experience-hover h5{
    opacity: 1;
    -moz-transform: scale(1);
    -webkit-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    -webkit-transition: all 0.6s ease-in-out;
    -moz-transition: all 0.6s ease-in-out;
    -ms-transition: all 0.6s ease-in-out;
    -o-transition: all 0.6s ease-in-out;
    transition: all 0.6s ease-in-out;
  }
}

//Jetsetgo Pulse section
.pulse-main-con{
  width: 100%;
  display: inline-block;
  padding: 20px 0 30px 0;
  .canvas-main{
    text-align: center;
    position: relative;
    span.percent{
      position: absolute;
      left: 45%;
      top: 36%;
      font-size: 20px;
      color: #555555;
      font-style: italic;
    }
    h5{
      text-align: center;
      color: #555555;
      font-size: 20px;
      text-align: center;
      font-weight: bold;
      font-style: italic;
    }
  }
}
//jetsteel App section
.jetsteal-app-con{
  min-height: 460px;
  padding: 30px 0;
  //background-image: url(http://d3tfanr7troppj.cloudfront.net/static_files/images/000/000/147/original/jetsteals_app_bg.jpg?1460959358);
  background-image: url(http://d3tfanr7troppj.cloudfront.net/static_files/images/000/000/291/original/jetsteal_bg.png?1464353646);
  background-size: cover;
  h2{
    font-size: 50px;
    color: #ffffff;
    margin: 30px 0;
  }
  p{
    font-size: 14px;
    color: #ffffff;
    text-align: justify;
  }
  .app-btn{
    margin-top: 50px;
  }
}

//media section
.media-main-con{
  padding: 30px 0;
  .heading-con{
    text-align: center;
  }

  .media-widget{
    margin: 20px 0;
    position: relative;
    color: #000;
    .media-img-con{
      width: 28%;
      display: inline-block;
      float: left;
    }
    .media-widget-content{
      width: 70%;
      float:right;
      h4{
        font-size: 12px;
        font-weight: bold;
        padding-left: 10px;
        margin: 0;
      }
      p{
        font-size: 12px;
        padding-left: 10px;
        margin: 6px 0;
      }
    }
    .media-border{
      position: absolute;
      right: -44px;
      bottom: -52px;
    }
  }
}

//Subscrib section
.subscrib-main-con{
  background-color: #eeeeee;
  padding: 20px 0;
  .subscrib-textfield{
    width: 70%;
    padding: 20px 5px;
    background-color: #ffffff;
    border:0px;
    float:left;
    font-size: 20px;
  }
  .subscrib-btn{
    width: 30%;
    background-color: $main-blue-color;
    border: 0;
    float: right;
    padding: 20px 0;
    font-size: 20px;
    color: #ffffff;
  }
}

.main-nav li{
  position: relative;
}
.main-nav li ul.sub-nav{
  display: none;
  position: absolute;
  width: 100%;
  bottom: -55px;
}
.main-nav li ul.sub-nav li{
  list-style: none;
  background-color: rgba(0,0,0,0.5);
  text-align: center;
  padding: 5px 0;
  width: 100%;
}
.main-nav li:hover > ul.sub-nav{
                    display: block;
                  }

@media(max-width: 1200px){
  //top header section
  .top-header-search-con{
    .search-main-con{
      .search_alpha{
        .search-main-form{
          width: 100%;
        }
        .search-form{
        }
        .search-textfield{

        }
        .departure-icon{
        }
        .arrival-icon{
        }
        .pax-icon{
        }
        .cross-icon{
        }
        .search-btn{
          width: 15%;
          margin-right: 10px;
          position: inherit;
        }
        .add-trip-btn{
          color: #ffffff;
          display: inline-block;
        }
      }
      h2{
        font-size:110px;
        span{
          font-size:70px;
        }
      }
    }
  }
}
@media(max-width: 1120px){
  .top-header-search-con {
    .search-main-con {
      .cross-icon{
        top: -16px;
        right: 5px;
      }
    }
  }
}
@media(max-width: 1024px){
  .top-header-search-con{
    background-attachment: inherit;
  }
  .top-header-search-con {
    .search-main-con{
      width: initial;
    }
  }
  h2.section-main-heading{
    font-size: 35px;
  }
  h4.section-sub-heading{
    font-size:  18px;
  }
}
@media(max-width: 1023px){
  span.heading{
    font-size: 40px;
  }

  //top header section
  .top-header-search-con{
    .search-main-con{
      h2{
        font-size:100px;
        span{
          font-size:50px;
        }
      }
    }
  }

  //jetsetgo experince section
  .experience-main-con{
    .experience-widget {
      .experience-img {
        height: 240px;
        .experience-hover{
          p{
            padding: 10px;
            margin: 0;
          }
          h5{
            margin: 0;
          }
        }
      }
    }
  }
  //jetsteel App section
  .jetsteel-main-con{
    .jetsteal-slider-con{
      #carousel_slider{
        .left{
          left: 0;
        }
        .right{
          right: 0;
        }
      }
      #courcel_slider{
        .right{
          right: 0;
        }
      }
    }
  }
  .jetsteal-app-con{
    h2{
      font-size: 30px;
      color: #ffffff;
      margin: 30px 0;
    }
    p{
      font-size: 14px;
      color: #ffffff;
      text-align: justify;
    }
    .app-btn{
      margin-top: 50px;
    }
  }
}

@media(max-width: 990px){
  p.section-content{
    font-size: 12px;
  }
  .services_main_con{
    .service-heading{
      top: 5%;
    }
    .services-widget {
      .widget{
        height: 50vh;
        min-height: 350px;
        padding-top: 20%;
      }
    }
  }
  .news-media-main-con{
    .media-slider-con{
      .media-con{
        .media-text{
          background-color: rgba(255, 255, 255, 1);
        }
      }
    }
  }
  .jetsteel-main-con {
    .jetsteal-slider-con {
      .emptyleg_image{
        height: 200px;
        text-align: center;
      }
      .emptyleg_detail {
        height: 260px;
        h5.engine_type{
          margin-bottom: 0;
        }
        h4.estimated-price{
        margin-top: 0px;
        }
      }
    }
  }
  h2.section-main-heading{
    font-size: 28px;
  }
  h4.section-sub-heading{
    font-size:  15px;
  }
  .carousel-control .glyphicon-chevron-left, .carousel-control .glyphicon-chevron-right, .carousel-control .icon-next, .carousel-control .icon-prev{
    top: 50%;
  }
  .carousel-control .glyphicon-chevron-left, .carousel-control .icon-prev{
    margin-left: -75px;
  }
  .carousel-control .glyphicon-chevron-right, .carousel-control .icon-next{
        margin-right: -75px;
  }
  .news-media-main-con{
    .media-slider-con{
      .media-con{
        div.media-content{
          min-height: 80px;
        }
        .controller-arrow{
          margin-top: 200px;
        }
      }
    }
  }
  .top-header-search-con {
    .search-main-con {
      .search_alpha{
        .search-form{
          width: 49.7%;
          margin-bottom: 5px;
        }
      }
    }
  }
}

@media(max-width: 767px){
  .carousel-control .glyphicon-chevron-left, .carousel-control .icon-prev{
    margin-left: -50px;
  }
  .carousel-control .glyphicon-chevron-right, .carousel-control .icon-next{
        margin-right: -50px;
  }
  .inherit-gap{
    height: inherit;
  }
  .services_main_con{
    .responsive-bg{
      background-color: #222222;
      padding: 10px 15px;
    }
    .service-heading{
      position: inherit;
    }
    .services-widget{
      .widget{
        height: inherit;
        min-height: 200px;
        padding: 20px 0;
      }
    }
  }
  .jetsteel-app {
    .app-img-con{
      text-align:center;
    }
    .app-main {
      .app-content{
        padding: 10px 0;
      }
    }
  }
  h2.section-main-heading{
    font-size: 22px;
  }
  h4.section-sub-heading{
    font-size:  14px;
  }
  .searvices_main_con {
    padding-bottom: 10px;
    .services-widget {
      .widget{
        min-height: inherit;
        text-align: center;
        h2{
          font-size: 16px;
          text-align: left;
          padding: 0 5px;
        }
        p{
          font-size: 12px;
          text-align: left;
          padding: 0 5px;
        }
        a.enquire-btn{
          padding: 5px 10px;
          font-size: 12px;
        }
        a.active-btn{
          padding: 5px 10px;
          font-size: 12px;
        }
      }
      .widget-detail{
        min-height: inherit;
        .bg-overlay{
          position: inherit;
        }
        h2{
          font-size: 16px;
          padding: 10px 5px 0 5px;
        }
        p{
          font-size: 12px;
          padding: 0 5px;
        }
        ul{
          padding-left: 25px;
          margin-bottom: 0;
          li{
            font-size: 13px;
            margin: 5px 0;
          }
        }
      }
    }
  }
  span.heading{
    font-size: 35px;
  }
  .responsive-no-margin{
    margin: 0;
  }

  .main-nav li ul.sub-nav{
    position: inherit;
    bottom: 0;
  }
  .main-nav li ul.sub-nav li{
    background-color:transparent;
    text-align: left;
    padding: 10px 14px;
  }
  .jetsteel-main-con {
    .jetsteal-slider-con {
      padding: 20px  0;
      .emptyleg_detail {
        h2.aircraft_name{
          margin: 0;
          padding: 10px 15px;
          font-size: 17px;
        }
        h5.engine_type{
          font-size: 12px;
        }
        h4.estimated-price{
          margin-top: 10px;
          font-weight: bold;
        }
        .jetsteal-location{
          .data{
            h4{
              font-size: 13px;
            }
            p{
              font-size: 11px; 
            }
          }
        }
      }
      .emptyleg_content{
        margin-top: 10px;
        p.content{
          font-size: 12px;
        }
      }
    }
  }
  //top header section
  .top-header-search-con{
    .search-main-con{
      h2{
        font-size:110px;
        span{
          font-size:70px;
        }
      }
      .search-main-form{
        width: 100%;
      }
      .search-textfield{

      }
      .departure-icon{
      }
      .arrival-icon{
      }
      .pax-icon{
      }
      .cross-icon{
      }
      .search-btn{
        width: 100%;
        margin-bottom: 10px;
      }
      .add-trip-btn{
        color: #ffffff;
        display: inline-block;
      }
    }
  }

  //jetsetgo experince section
  .experience-main-con {
    .experience-widget {
      .experience-img {
        .experience-hover{
          max-width: 396px;
          margin: 0 auto;
          p{
            margin: 30px 0;
          }
        }
      }
    }
  }
  .media-main-con{
    .media-widget{
      .media-img-con{
        text-align: center;
      }
    }
  }
  .jetsteal-app-con{
    min-height: inherit;
    h2{
      margin: 0;
    }
  }

  //jetsetgo Fleet section
  .fleet_main_con{
    width: 100%;
    .fleet_content {
      margin-bottom: 10px;
      padding: 5px 12px 5px 12px;
      p.content {
        font-size: 12px;
      }
    }
    .fleet-widget{
      padding: 20px 0;
      .widget{
        margin: 8px 0;
        .widget_heading_con{
          h3{
            font-size: 17px;
          }
          a{
          }
        }
      }
    }
  }

  //media section
  .media-main-con{
    .heading-con{
    }
    .media-widget{
      .media-img-con{
      }
      .media-widget-content{
        h4{
        }
        p{
        }
      }
      .media-border{
        display: none;
      }
    }
  }

  //jetsteel section
  .jetsteel-main-con{
    padding: 0;
    span.heading{
      margin:0 0 0 6px;
      color: #ffffff;
    }
    .sub-heading{
      font-size: 23px;
      color: #ffffff;
    }
    .jetsteal-con{
      .jetsteal-text{
      }
      .jetsteal-price{
        margin-top: 15px;
      }
    }
    .bottom-more-con{
      .more-btn{
        display: inline-block;
        width: 100%;
        text-align: center;
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        border-radius: 0;
      }
    }
    .jetsteal-slider-con{
      #carousel_slider{
        .left{
          left: 0;
        }
        .right{
          right: 0;
        }
      }
      #courcel_slider{
        .right{
          right: 0;
          display: none;
        }
      }
    }
  }
  //jetsteel app
  .jetsteel-app{
    .app-img-con{
      img{
        position: inherit;
        top:0;
      }
    }
  }
  .searvices_main_con{
    .services-widget{
      padding: 0;
      .widget{
        margin: 10px 0;
      }
    }
  }
  .news-media-main-con{
    .media-slider-con{
      .media-con{
        .controller-arrow{
          margin-top: 400px;
        }
      }
    }
  }
}

@media(max-width: 650px){
  //top header section
  .carousel-control .glyphicon-chevron-left, .carousel-control .icon-prev{
    margin-left: -35px;
  }
  .carousel-control .glyphicon-chevron-right, .carousel-control .icon-next{
        margin-right: -35px;
  }
  .top-header-search-con{
    .search-main-con{
      h2{
        font-size:50px;
        span{
          font-size:20px;
        }
      }
      .search_alpha{
      .search-main-form{
        width: 100%;
        .search-form{
          width: 100%;
          margin-bottom: 5px;
        }
      }

      }
      .search-textfield{

      }
      .departure-icon{
      }
      .arrival-icon{
      }
      .pax-icon{
      }
      .cross-icon{
      }
      .search-btn{
        width: 100%;
        margin-bottom: 10px;
      }
      .add-trip-btn{
        min-width: 120px
      }
    }
  }
  //Subscrib section
  .subscrib-main-con{
    .subscrib-textfield{
      width: 100%;
      padding: 10px 5px;
      margin-bottom: 10px;
      float:none;
    }
    .subscrib-btn{
      width: 100%;
      float: none;
      padding: 10px 0;
    }
  }
}
