$main-button-color : rgb(27,143,188);
.top-header-search-con{
	background-image:url(http://d3tfanr7troppj.cloudfront.net/static_files/images/000/000/135/original/home_header_bg.jpg?1460529613);
	width:100%;
	min-height:600px;		
	header{
		width:100%;
		display:inline-block;
		margin:10px 0;
		.logo-con{
			.logo-img{
				max-width:120px;
			}
		}
		.right-header-con{
			ul{
				padding:0;
				margin:0;
				li{
					float:right;
					list-style:none;
					padding:12px;
					font-size:16px;
					a{
						color:#ffffff;
						text-decoration:none;
					}
				}
			}
		}
	}
	.search-main-con{
		width:100%;
		display:inline-block;
		h2{
			font-size:130px;
			color:#ffffff;
			margin-top:30px;
			span{
				display:block;
				font-size:80px;
			}
		}
		.search-textfield{
          width: 21%;
          background-color: transparent;
          border: 1px solid #ffffff;
          padding:9px 5px;
          a{
            color: #ffffff;
          }
        }
        .text-white{
          color: #ffffff;
        }
        .search-btn{
          width: 14.5%;
          background-color: $main-button-color;
          display: inline-block;
          padding:10px 0;
          text-align: center;
          color: #ffffff;
          text-decoration: none;
        }
        .add-trip-btn{
          color: #ffffff;
          display: inline-block;
          padding: 9px 30px;
          margin-top: 10px;
          border: 1px solid #ffffff;
          -webkit-border-radius: 10px;
          -moz-border-radius: 10px;
          border-radius: 10px;
        }
	}
}