//helisetgo banner section
.wed-banner{
  background: url(http://d3tfanr7troppj.cloudfront.net/static_files/images/000/000/198/original/wed-banner.jpg?1462432447) 100% no-repeat;
  background-size: cover;
  height: 100vh;
  background-attachment: fixed;
  .banner-content{
    width: 100%;
    max-width: 900px;
    margin: 12% auto 0 auto;
    p{
      font-size: 22px;
      text-align: center;
      color: #ffffff;
      a{
        color: #ffffff;
        text-decoration: underline;
      }
    }
  }
}

//helisetgo content section
.wedcontent{
  h3{
    text-align: center;
    span.heading{
      font-size: 50px;
    }
  }
  .img-section{
    width: 100%;
    border: 1px solid #eeeeee;
    max-height: 300px;
    overflow: hidden;
    position: relative;
    margin: 30px 0;
    -webkit-box-shadow: 0px 7px 5px 0px rgba(0,0,0,0.3);
    -moz-box-shadow: 0px 7px 5px 0px rgba(0,0,0,0.3);
    box-shadow: 0px 7px 5px 0px rgba(0,0,0,0.3);
    .img-bottom-heading{
      background: rgba(0,0,0,0.3);
      position: absolute;
      padding: 10px;
      color: #ffffff;
      font-size: 16px;
      bottom: 0;
      width: 100%;
      text-align: center;
      z-index: 1;
    }
    .hover-enquire-con{
      background: rgba(0,0,0,0.4);
      text-align: center;
      position: absolute;
      opacity: 0;
      -webkit-transition: all 0.6s ease-in-out;
      -moz-transition: all 0.6s ease-in-out;
      -ms-transition: all 0.6s ease-in-out;
      -o-transition: all 0.6s ease-in-out;
      transition: all 0.6s ease-in-out;
      top: 0;
      bottom: 0;
      right: 0;
      left: 0;
      a{
        display: inline-block;
        margin-top: 40%;
      }
    }
  }
  .img-section:hover > .hover-enquire-con{
    opacity: 1;
    -webkit-transition: all 0.6s ease-in-out;
    -moz-transition: all 0.6s ease-in-out;
    -ms-transition: all 0.6s ease-in-out;
    -o-transition: all 0.6s ease-in-out;
    transition: all 0.6s ease-in-out;
  }
  .bg-img-section{
    background: url(http://d3tfanr7troppj.cloudfront.net/static_files/images/000/000/199/original/8.jpg?1462432909);
    background-size: cover;
    min-height: 400px;
    background-attachment: fixed;
    display: inline-block;
    width: 100%;
    p{
      font-size: 22px;
      color: #ffffff;
      text-align: center;
      padding-top: 10%;
    }
  }
}

@media(max-width:1024px){
  //helisetgo banner section
  .wed-banner{
    .banner-content{
      padding: 0 10px;
      p{
        font-size: 16px;
        a{
        }
      }
    }
  }
  //helisetgo content section
  .wedcontent{
    h3{
      text-align: center;
      span.heading{
        font-size: 30px;
      }
    }
    .img-section{
      max-height: 250px;
      .img-bottom-heading{
        height: 65px;
      }
      .hover-enquire-con{
        opacity: 1;
        a{
          margin-top: 10%;
        }
      }
    }
    .img-section:hover > .hover-enquire-con{
    }
    .bg-img-section{
      min-height: 300px;
      p{
        font-size: 18px;
        padding-top: 20%;
      }
    }
  }
}

@media(max-width:767px){
  //helisetgo banner section
  .wed-banner{
    .banner-content{
      padding: 0 10px;
      p{
        font-size: 13px;
        a{
        }
      }
    }
  }
  //helisetgo content section
  .wedcontent{
    h3{
      text-align: center;
      span.heading{
        font-size: 20px;
      }
    }
    .img-section{
      max-width: 400px;
      margin: 10px auto;
      .img-bottom-heading{
      }
      .hover-enquire-con{
        a{
        }
      }
    }
    .img-section:hover > .hover-enquire-con{
    }
    .bg-img-section{
      min-height: 300px;
      p{
        font-size: 18px;
        padding-top: 20%;
      }
    }
  }
}