/*join us banner section start*/
.joinus-banner{
	width:100%;
	background:url(http://d3tfanr7troppj.cloudfront.net/static_files/images/000/000/073/original/aboutus_banner.png?1457156736) 100% no-repeat;
	background-size:cover;
	height:233px;
	.heading{
		width:100%;
		max-width:600px;
		text-align:center;
		margin:0 auto;
		h1{
			color:#ffffff;
			font-size:70px;
			display:inline-block;
			text-transform:uppercase;
			margin-top:50px;
		}
	}
}
/*join us banner section finish*/

/*join us content section start*/
.joinus-content{
	h2{
		background-color:rgb(5, 81, 139);
		color:#ffffff;
		font-size:18px;
		padding:10px;
		position:relative;
		height:40px;
	}
	p{
		font-size:16px;
		padding:10px;
	}
	ul{
		font-size:16px;
		padding:10px 25px;
	}
}
.join-us-image{
	margin-top:70px;
	text-align:center;
}
.desk-join-img{
	display:block;
}
.responsive-join-img{
	display:none;
}
/*join us content section finish*/

@media(max-width:767px){
	.desk-join-img{
		display:none;
	}
	.responsive-join-img{
		display:block;
	}
	.join-us-image{
	margin:20px 0;
	text-align:center;
	}
	.joinus-banner{
		height:150px !important;
		.heading {
			h1{font-size:45px !important;}
		}
	}
}