
/*media banner section start*/
.media-banner{
	background:url(http://d3tfanr7troppj.cloudfront.net/static_files/images/000/000/108/original/media2.png?1457611950) 100% no-repeat;
	background-size:cover;
}
/*media banner section finish*/

/*media-content section start*/
.media-content-main{
	width:100%;
	a{
		text-decoration:none;
	}
	a:hover{
		text-decoration:none;	
	}
	.media-content{
		width:100%;
		max-height:200px;
		margin:10px 0;
		position:relative;
		-webkit-box-shadow: 0px 0px 16px 2px rgba(204,204,204,0.77);
		-moz-box-shadow: 0px 0px 16px 2px rgba(204,204,204,0.77);
		box-shadow: 0px 0px 16px 2px rgba(204,204,204,0.77);
		.media-img{
			overflow:hidden;
			img{
				min-height:200px;
			}
		}
		.media-text{
			padding-left:0;
			position:static;
			h4{
				font-size:16px;
				font-weight:bold;
				text-align:justify;
				margin:10px 0;
				color:#ffffff;
				padding-right:15px;
			}
			p{
				font-size:13px;
				color:#ffffff;
				padding-right:15px;
				margin:10px 0;
				text-align:justify;
				color:#444444;
			}
			a.web-link{
				color:#ffffff;
				display:inline-block;
				font-size:13px;
				color:#ffffff;
				margin:2px 0;
				padding-right:15px;
			}
			div.date{
				display:inline-block;
				font-size:12px;
				color:#ffffff;
				margin:2px 0;
				padding:5px;
				position:absolute;
				bottom:10px;
				right:0px;
				text-align:center;
				width:80px;
				margin-right:15px;
				line-height:16px;
				span{
					font-size:20px;
				}
			}
			.date-color1{
				background-color:rgb(4,63,107);
			}
			.date-color2{
				background-color:rgb(1,139,186);
			}
			.date-color3{
				background-color:rgb(229,66,66);
			}
			.date-color4{
				background-color:rgb(205,174,36);
			}
		}
	}
	.media-bg1{
		background-color:rgb(5, 81, 139);
	}
	.media-bg2{
		background-color:rgb(0, 161, 216);
	}
	.media-bg3{
		background-color:rgb(241, 92, 92);
	}
	.media-bg4{
		background-color:rgb(242, 208, 59);
	}
}
/*media-content section finish*/

@media(max-width:990px){
	.media-content-main{
		.media-content{
			width:100%;
			max-height:inherit;
			.media-img{
				overflow:hidden;
				img{
					min-height:inherit;
				}
			}
		}
	}
}
@media(max-width:767px){
	.media-content-main{
		.media-content{
			.media-img{
				img{
					min-height:200px;
					width:100%;
					position:relative
				}
			}
			.media-text{
				padding:0 15px;
				width:100%;
				position:absolute;
				top:0;
				bottom:0;
				right:0;
				left:0;
				background-color:rgba(0,0,0,0.7);
				h4{
					padding:0;
					font-size:14px;
					text-align:left;
					line-height:20px;
				}
				a.web-link{
					padding:0;
				}
				div.date{
				display:inline-block;
				font-size:10px;
				color:#ffffff;
				margin:2px 0;
				padding:5px;
				position:absolute;
				bottom:10px;
				right:0px;
				text-align:center;
				width:60px;
				margin-right:15px;
				line-height:16px;
				span{
					font-size:16px;
				}
			}
			}
		}
	}
}