$main-blue-color:rgb(5, 81, 139);

/*media banner section start*/
.media-banner{
  background: url(http://d3tfanr7troppj.cloudfront.net/static_files/images/000/000/214/original/1.jpg?1462519033) 100% no-repeat;
  background-size: cover;
  height: 100vh;
  background-attachment: fixed;
  .banner-content{
    width: 100%;
    max-width: 900px;
    margin: 12% auto 0 auto;
    p{
      font-size: 22px;
      text-align: center;
      color: #ffffff;
      a{
        color: #ffffff;
        text-decoration: underline;
      }
    }
  }
}
/*media banner section finish*/

/*media-content section start*/
.media-content-main {
  width: 100%;
  margin: 30px 0;
  .media-first-con {
    background-color: $main-blue-color;
    color: #ffffff;
  }
  .media-content {
    padding-bottom: 10px;
    min-height: 247px;
    position: relative;
    margin-bottom: 20px;
    h3 {
      font-size: 18px;
      line-height: 20px;
    }
    p {
      text-align: justify;
      font-size: 13px;
    }
    .view-date-con{
      span{
        font-size: 12px;
      }
      span.gray-text{
        color: #cccccc;
      }
      span.blue-color{
        color: $main-blue-color;
      }
    }
    .media-logo{
      margin-top: 5px;
    }
    .read-btn {
      display: inline-block;
      padding: 5px 10px;
      background-color: #105e9a;
      color: #ffffff;
      font-size: 11px;
      text-decoration: none;
    }
  }
}

@media(max-width: 1150px){
  .media-content-main {
    .media-content{
      h3{
        font-size: 15px;
      }
      p{
        font-size: 12px;
      }
      .read-btn {
        padding: 5px 6px;
        font-size: 10px;
      }
    }
  }
}

@media(max-width: 767px) {
  .media-content-main {
    .media-content{
      min-height: inherit;
    }
  }
  .res-center-con{
    max-width: 395px;
    margin: 0 auto;
  }
}