$main-blue-color:rgb(5, 81, 139);
*:focus{
  outline:none;
}
/*media banner section start*/
.media-banner{
  background: url(http://d3tfanr7troppj.cloudfront.net/static_files/images/000/000/214/original/1.jpg?1462519033) 100% no-repeat;
  background-size: cover;
  height: 100vh;
  background-attachment: fixed;
  .banner-content{
    width: 100%;
    max-width: 900px;
    margin: 12% auto 0 auto;
    p{
      font-size: 22px;
      text-align: center;
      color: #ffffff;
      a{
        color: #ffffff;
        text-decoration: underline;
      }
    }
  }
}
/*media banner section finish*/

/*media-content section start*/
.media-content-main {
  width: 100%;
  margin: 30px 0;
  .media-first-con {
    background-color: $main-blue-color;
    color: #ffffff;
  }
  .media-content {
    padding-bottom: 10px;
    min-height: 247px;
    position: relative;
    margin-bottom: 20px;
    h3 {
      font-size: 18px;
      line-height: 20px;
    }
    p {
      text-align: justify;
      font-size: 13px;
    }
    .view-date-con{
      span{
        font-size: 12px;
      }
      span.gray-text{
        color: #cccccc;
      }
      span.blue-color{
        color: $main-blue-color;
      }
    }
    .media-logo{
      margin-top: 5px;
    }
    .read-btn {
      display: inline-block;
      padding: 5px 10px;
      background-color: #105e9a;
      color: #ffffff;
      font-size: 11px;
      text-decoration: none;
    }
  }
}

/*media section 10-8-2016 start*/

.media-big-logo{
  
}

.media-content-main{
  width: 100%;
  h2{
    font-size: 24px;
    color: #920000;
    border-bottom: 3px solid #998675;
    position: relative;
    .year-browse{
      display: inline-block;
      margin-top: -6px;
      font-size: 16px;
      .year-select{
        width: 100px;
        height: 30px;
        color: #000000;
        border: 1px solid #A08263;
        font-size: 15px;
        background: transparent;
      }
    }
  }
  h2:after{
    content: "";
    position: absolute;
    width: 240px;
    height: 3px;
    bottom: -3px;
    left: 0;
    background-color: #D6CBB9;
  }
  .media-content{
    width: 100%;
    .section{
      margin: 10px 0;
      p{
        font-size: 14px;
        color: #000;
        text-align: justify;
      }
      p.read-more{
        text-align: right;
      }
      a{
        color: #920000;
        text-decoration: none;
      }
    }
  }
}
/*media section 10-8-2016 finish*/


@media(max-width: 1150px){
  .media-content-main {
    .media-content{
      h3{
        font-size: 15px;
      }
      p{
        font-size: 12px;
      }
      .read-btn {
        padding: 5px 6px;
        font-size: 10px;
      }
    }
  }
}

@media(max-width: 767px) {
  .media-content-main {
    h2{
      font-size: 17px;
    }
    h2:before{
      width: 170px;
    }
    .media-content{
      min-height: inherit;
      .section{
        p{
          font-size: 12px;
        }
        a{
          font-size: 12px;
        }
      }
    }
  }
  .res-center-con{
    max-width: 395px;
    margin: 0 auto;
  }
}