$gold-color: rgb(255, 239, 208);
$platinum-color: rgb(192, 192, 192);
$diamond-color: rgb(249, 249, 249);

.membership_code_con{
  width: 100%;
  min-height: 70vh;
  background-image: url("http://d3tfanr7troppj.cloudfront.net/static_files/images/000/000/947/original/sharp_bg.png?1478000634");
  -webkit-background-size: cover;
  background-size: cover;
  h2{
    font-size: 25px;
    margin-top: 100px;
    color: #ffffff;
  }
  .code_form{
    margin-top: 150px;
    .txt_code{
      min-width: 280px;
      height: 40px;
      border-radius: 5px;
      background-color: transparent;
      border: 1px solid #ffffff;
      background-color: rgba(67, 50, 31, 0.5);;
      text-align: center;
      color: #ffffff;
    }
    ::-webkit-input-placeholder {
      //color:#4a3e30;
      color: #ffffff;
    }
    ::-moz-placeholder {
      //color:#4a3e30;
      color: #ffffff;
    } /* firefox 19+ */
    :-ms-input-placeholder {
      //color:#4a3e30;
      color: #ffffff;
    } /* ie */
    input:-moz-placeholder {
      //color:#4a3e30;
      color: #ffffff;
    }
    .btn_code_enter{
      background-color: #920000;
      padding: 8px;
      min-width: 280px;
      margin-top: 20px;
      border: none;
      border-radius: 5px;
      font-size: 16px;
      color: #ffffff;
    }
  }
}

.membership_banner_con{
  background-image: url("http://d3tfanr7troppj.cloudfront.net/static_files/images/000/000/990/original/interiorimage.jpg?1478496928");
  background-size: cover;
  min-height: 480px;
  position: relative;
  .banner_content{
    width: 60%;
    background-color: rgba(0,0,0,0.3);
    padding: 20px;
    position: absolute;
    right: 0;
    bottom: 15px;
    h5{
      font-size: 18px;
      color: #ffffff;
      padding: 15px;
      font-weight: normal;
      border-left: 3px solid #920000;
      line-height: 24px;
    }
  }
}

.membership_main_con{
  width: 100%;
  padding: 50px 0;
  .membership_box{
    width: 100%;
    .membership_box_img{
      background-size: cover;
      min-height: 200px;
      position: relative;
      h3{
        position: absolute;
        bottom: 10px;
        left: 15px;
        font-size: 30px;
        font-weight: bold;
        color: #000000;
        span.engine_text{
          font-size: 23px;
        }
      }
    }
    .gold_img{
      background-image: url("http://d3tfanr7troppj.cloudfront.net/static_files/images/000/000/987/original/gold.jpg?1478496870");
    }
    .platinum_img{
      background-image: url("http://d3tfanr7troppj.cloudfront.net/static_files/images/000/000/987/original/gold.jpg?1478496870");
    }
    .diamond_img{
      background-image: url("http://d3tfanr7troppj.cloudfront.net/static_files/images/000/000/989/original/diamond.jpg?1478496909");
    }
    .membership_box_content{
      padding: 15px;
      min-height: 300px;
      color: #000000;
      font-size: 17px;
      p{

      }
      .more_btn{
        display: inline-block;
        background-color: #920000;
        text-align: center;
        color: #ffffff;
        padding: 5px;
        min-width: 200px;
        border-radius: 5px;
        margin-top: 70px;
      }
    }
    .gold_border{
      border-top: 8px solid #cd9c59;
      border-bottom: 18px solid #cd9c59;
    }
    .platinum_border{
      border-top: 8px solid #616161;
      border-bottom: 18px solid #616161;
    }
    .diamond_border{
      border-top: 8px solid #f1f1f1;
      border-bottom: 18px solid #f1f1f1;
    }
  }
  .gold_color{
    background-color: $gold-color;
  }
  .platinum_color{
    background-color: $platinum-color;
  }
  .diamond_color{
    background-color: $diamond-color;
  }
}
.membership_table_con{
  width: 100%;
  .membership_btn{
    width: 100%;
    max-width: 280px;
    color: #ffffff;
    padding: 8px 0;
    margin-bottom: 10px;
    display: inline-block;
    background-color: #920000;
    text-align: center;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
  }
  .membership_table{
    tr.info{
      th{
        background-color: #856b58;
        color: #ffffff;
        padding: 12px 8px;
        border-bottom: none;
      }
    }
    tr{
      td.first_column{
        padding: 11px 8px;
      }
      td{
        padding: 8px;
        border-top: 1px solid #f1f1f1;
      }
    }
  }
  .table-striped.membership_table>tbody>tr:nth-of-type(odd){
    background-color: #f9f9f9 !important;
  }
}

.membership_plan_main{
  padding: 30px 0;
  .top-membership-con{
    margin-bottom: 30px;
    h1.heading{
      font-size: 24px;
      color: #920000;
      font-weight: bold;
      margin-top: 0;
    }
    p{
      font-size: 15px;
    }
  }
  .bottom-membership-con{
    h2.sub_heaing{
      font-size: 17px;
      color: #920000;
      font-weight: bold;
      border-bottom: 5px solid #998675;
      position: relative;
      padding-bottom: 5px;
    }
    h2.sub_heaing:after{
      content: "";
      position: absolute;
      width: 150px;
      height: 5px;
      bottom: -5px;
      left: 0;
      background-color: #D6CBB9;
    }
    h3{
      font-size: 20px;
      margin-top: 0;
    }
  }
  ul.membership_point_con{
    padding: 0;
    li{
      list-style: none;
      font-size: 20px;
      padding: 10px 0 10px 40px;
      background-image: url("http://d3tfanr7troppj.cloudfront.net/static_files/images/000/000/991/original/1478711467_check.png?1478689989");
      background-repeat: no-repeat;
      background-position: 0;
    }
  }
}

@media (max-width: 767px) {
  .membership_banner_con {
    min-height: 300px;
    .banner_content{
      width: 100%;
      bottom: 0;
      padding: 10px;
      h5{
        font-size: 14px;
        padding: 10px;
        margin: 0;
      }
    }
  }
  .membership_main_con {
    .membership_box{
      margin-bottom: 15px;
      .membership_box_img{
        min-height: 150px;
        h3{
          font-size: 24px;
          span.engine_text{
            font-size: 19px;
          }
        }
      }
      .membership_box_content {
        min-height: 200px;
        font-size: 15px;
        .more_btn{
          margin-top: 10px;
        }
      }
    }
  }
}