.fleet_main_con{
  width: 100%;
  .top_head{
    background-color: #998776;
    padding: 10px 0;
  }
  .fleet_result_main{
    h3.main-heading{
      font-size: 17px;
      border-bottom: 5px solid #998776;
      padding-bottom: 5px;
      position: relative;
      cursor: pointer;
      color: #920000;
      font-weight: bold;
    }
    h3.main-heading:before{
      content: "";
      position: absolute;
      background-color: #d6cab9;
      height: 5px;
      width: 150px;
      bottom: -5px;
    }
    width: 100%;
    .fleet_result{
      width: 100%;
      margin: 20px 0;
      .search_img{
        padding: 0;
        .img-hide{
          width: 100%;
          overflow: hidden;
          position: relative;
          img{
            width: 100%;
            height: 320px;
          }
        }
      }
      .search-ryt-con{
        padding: 0;
        .img-bg{
          width: 100%;
          background-image: url(http://d3tfanr7troppj.cloudfront.net/static_files/images/000/000/413/original/steal_bg-2.png?1468906350);
          background-size: cover;
          padding: 15px 0;
          height: 320px;
          position: relative;
          h3.aircraft-type{
            font-size: 22px;
            color: #000000;
            margin: 0;
            padding: 0 15px;
            font-weight: bold;
          }
          p.aircraft-content{
            font-size: 15px;
            color: #000000;
            margin: 0;
            padding: 5px 15px 0 15px;
          }
          .detail-link-con{
            padding: 10px 15px;
            bottom: 0;
            width: 100%;
            color: #ffffff;
            margin-top: 50px;
            position: absolute;
            bottom: 0;
            a{
              background-color: #750005;
              display: inline-block;
              padding: 10px 30px;
              text-align: center;
              color: #ffffff;
              text-decoration: none;
              border-radius: 8px;
              margin-left: 10px;
            }
          }
        }
      }
    }
    .fleet-toogle-main{
      width: 100%;
      border: 1px solid #998776;
      position: relative;
      box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.3);
      margin-top: 11px;
      padding: 20px 0;
      .arrow-up{
        width: 0;
        height: 0;
        border-right: 10px solid transparent;
        border-left: 10px solid transparent;
        border-bottom: 13px solid #998776;
        position: absolute;
        top: -13px;
        right: 176px;
      }
      .white-arrow-up{
        width: 0;
        height: 0;
        border-right: 12px solid transparent;
        border-left: 12px solid transparent;
        border-bottom: 17px solid #ffffff;
        position: absolute;
        top: -12px;
        right: 174px;
      }
      .img-content-con{
        width: 100%;
        .aircraft-img{
          width: 100%;
          overflow: hidden;
        }
        .aircraft-text{
          p{
            font-size: 17px;
            color: #000000;
            margin: 0;
          }
        }
      }
      .interior_map_con{
        .interior_aircraft_con{
          width: 100%;
        }
      }
    }
  }
}