/*terms banner section start*/
.privacy-banner{
	width:100%;
	background:url(http://d3tfanr7troppj.cloudfront.net/static_files/images/000/000/103/original/privacy.png?1457595161) 100% no-repeat;
	background-size:cover;
}
/*terms banner section finish*/

/*terms content section start*/
.privacy-content{
	h2{
		color:#920000;
		font-size:18px;
		padding:10px;
		position:relative;
	}
	h3{
		padding:0 10px;
	}
	p{
		font-size:14px;
		padding:10px;
		text-align:justify;
		color:#444444;
	}
	ul{
		font-size:14px;
		padding:0px 25px;
		text-align:justify;
	}
	a{
		color: #920000;
	}
}
.join-us-image{
	margin-top:70px;
	text-align:center;
}
.desk-join-img{
	display:block;
}
.responsive-join-img{
	display:none;
}
/*terms content section finish*/

@media(max-width:767px){
	.desk-join-img{
		display:none;
	}
	.responsive-join-img{
		display:block;
	}
	.join-us-image{
	margin:20px 0;
	text-align:center;
	}
	.joinus-banner{
		height:150px !important;
		.heading {
			h1{font-size:45px !important;}
		}
	}
	.privacy-content{
		h2{
			font-size:15px;
			padding:5px;
			height:inherit;
		}
		h3{
			padding:0;
			font-size:18px;
		}
		p{
			font-size:13px;
			padding:5px 0;
		}
		ul{
			font-size:13px;
			padding:0 0 0 15px;
		}
	}
}