.profile-detail-main{
  width: 100%;
  background-image: url('http://d3tfanr7troppj.cloudfront.net/static_files/images/000/000/707/original/customer_bg.png?1472116302');
  padding: 15px 0;
  .profile-main{
    width: 100%;
    background-color: #f9f3e6;
    .profile-image{
      width: 100%;
      position: relative;
      .p_img{
        width: 100%;
      }
      .add-img-icon{
        width:100%;
        display: inline-block;
        background-color: rgba(131, 107, 84, 0.6);
        padding: 5px 10px;
        position: absolute;
        bottom: 0;
        left: 0;
        color: #ffffff;
        text-decoration: none;
      }
    }
    .user-info{
      position: relative;
      .logout-text{
        font-style: italic;
        font-size: 12px;
        color: #920000;
        margin-right: 10px;
      }
      .name-text{
        font-size: 24px;
        font-weight: bold;
        margin: 0;
        padding-top: 20px;
      }
      .total-booking-text{
        font-size: 13px;
        color: #920000;
        position: absolute;
        right: 6px;
        top: 6px;
      }
      ul.user-detail{
        padding: 0;
        margin: 30px 0;
        color: #A76F4D;
        width: 100%;
        li{
          float: left;
          width: 15%;
          list-style: none;
          border-right: 2px solid #D9C3A4;
          text-align: right;
          padding: 0 15px;
          min-height: 80px;
          position: relative;
          .notication-icon{
            color: #920000;
            position: absolute;
            right: 40px;
            top: 7px;
          }
          a{
            color: #A76F4D;
            text-decoration: none;
          }
          h4{
            font-size: 35px;
            font-weight: bold;
            margin: 0;
          }
          p{
            font-size: 15px;
            margin: 0;
            font-weight: bold;
            line-height: 15px;
          }
        }
      }
      .edit-icon{
        display: inline-block;
        padding: 6px 20px;
        border-radius: 5px;
        background-color: #920000;
        color: #ffffff;
        font-size: 16px;
      }
    }
  }
}

.profile-info-main{
  position: relative;
  padding-bottom: 10px;
  .transparent-bg{
    position: absolute;
    background-color: rgba(255,255,255,0);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
  }
  h2.heading{
    font-size: 24px;
    color: #920000;
    font-weight: bold;
  }
  .data-coloum{
    width: 100%;
    margin: 30px 0;
    position: relative;
    .icons{
      position: absolute;
      width: 30px;
      bottom: 1px;
    }
    label{
      font-size: 18px;
      font-weight: normal;
      padding-left: 40px;
      border-bottom: 2px solid #F5EADF;
      width: 100%;
      margin-bottom: 0;
    }
    .text-field{
      border: none;
      font-size: 18px;
      color: #828282;
      background-color: transparent;
      padding: 0 0 0 40px;
      border-bottom: 2px solid #F5EADF;
      width: 100%;
    }
    .notify-btn-con{
      display: inline-block;
      position: absolute;
      bottom: 5px;
      .false{
        width:38px;
        display: inline-block;
        height: 19px;
        background-color: #920000;
        border-radius: 10px;
        cursor: pointer;
        .option{
          display: inline-block;
          background-color: #ffffff;
          border-radius: 50%;
          width: 19px;
          position: absolute;
          left: 0;
          height: 19px;
        }
      }
      .true{
        width:38px;
        display: inline-block;
        height: 19px;
        background-color: #4CAF50;
        border-radius: 10px;
        cursor: pointer;
        .option{
          display: inline-block;
          background-color: #ffffff;
          border-radius: 50%;
          width: 19px;
          position: absolute;
          right: 0;
          height: 19px;
        }
      }
    }
  }
  .submit-con{
    margin: 30px 0;
    .save-btn{
      display: inline-block;
      padding: 8px 20px;
      width: 300px;
      border-radius: 5px;
      background-color: #920000;
      color: #ffffff;
      font-size: 18px;
    }
  }
}

@media(max-width: 1200px){
  .profile-detail-main{
    .profile-main{
      .user-info{
        ul.user-detail{
          li{
            width: 18%;   
          }
        }
      }
    }
  }
}

@media(max-width: 990px){
  .profile-detail-main{
    .profile-main{
      .user-info{
        .name-text{
          font-size:18px;
          padding-top: 5px;
        }
        ul.user-detail{
          margin: 10px 0;
          li{
            width: 24%;
            min-height: 67px;
            h4{
              font-size: 25px;
            }
            p{
              font-size: 14px; 
            }
          }
        }
        .edit-icon{
          padding: 5px 10px;
          font-size: 14px;
        }
      }
    }
  }
}

@media(max-width: 767px){
  .profile-detail-main{
    .profile-main{
      .user-info{
        padding: 15px;
      }
      .profile-image{
        text-align: center;
        .p_img{
          width: initial;
        }
      }
    }
  }
  .profile-info-main{
    .data-coloum{
      margin: 6px 0;
    }
    .submit-con{
      margin: 10px 0;
      .save-btn{
        padding: 5px 10px;
        width: 200px;
      }
    }
  }
}

@media(max-width: 480px){
  .profile-detail-main{
    .profile-main{
      .user-info{
        .name-text{
          font-size:16px;
          padding-top: 5px;
        }
        ul.user-detail{
          li{
            width: 24%;
            min-height: 67px;
            h4{
              font-size: 20px;
            }
            p{
              font-size: 11px; 
            }
          }
        }
      }
    }
  }
}

@media(max-width: 380px){
  .profile-detail-main{
    .profile-main{
      .user-info{
        .name-text{
          font-size:16px;
          padding-top: 5px;
        }
        ul.user-detail{
          li{
            width: 48%;
            margin: 5px 0;
            min-height: 40px;
          }
        }
      }
    }
  }
}


// $main-blue-color:rgb(5, 81, 139);

// .heading-top-space{
//   margin-top: 100px;
// }
// .txt-capitalize{
//   text-transform: capitalize;
// }
// .profile-main-con{
//   background: #ffffff;
//   -webkit-box-shadow: 0px 0px 8px 2px rgba(0,0,0,0.3);
//   -moz-box-shadow: 0px 0px 8px 2px rgba(0,0,0,0.3);
//   box-shadow: 0px 0px 8px 2px rgba(0,0,0,0.3);
//   padding: 10px;
//   margin-bottom: 40px;
//   .profile-img-con{
//     position: relative;
//     .img-con {
//       width: 100%;
//       height: 250px;
//       overflow: hidden;
//     }
//     .change-pic-con{
//       width: 100%;
//       left: 0;
//       right: 0;
//       bottom: 0;
//       padding: 10px;
//       position: absolute;
//       z-index: 1;
//       background-color: rgba(0,0,0,0.5);
//       a{
//         color: #ffffff;
//         text-decoration: none;
//       }
//     }
//   }
//   .profile-content{
//     width: 100%;
//     position: relative;
//     h2.name{
//       font-size: 40px;
//       color: $main-blue-color;
//       padding-bottom: 10px;
//       border-bottom: 1px solid #cccccc;
//       margin: 0;
//     }
//     .text-main{
//       margin: 5px 0;
//       .profile-text{
//         font-size: 16px;
//         color: #5e5e5e;
//         margin-top: 7px;
//       }
//       .profile-text-detail{
//         font-size: 20px;
//       }
//     }
//   }
// }

