$main-skyblue-color : rgb(27,143,188);

.custom-img{
  width: 75px;
  height: 75px;
  border-radius: 50%;
}
.c_disable{
  pointer-events: none;
}
.search-input{
  width: 20%;
  display: inherit;
}
.search-main-con{
  margin-top: 100px;
}
.search-input-box{
  border-bottom: 1px solid #cccccc;
  .modify-textfield-con{
    margin-top: 30px;
  }
  .form-control{
    width: 100%;
    border: 0;
    border-bottom: 3px solid $main-skyblue-color;
    position: relative;
    top: 2px;
    box-shadow: none;
  }
  .search-btn{
    color: rgb(30,143,187);
    padding: 5px 10px 5px 10px;
    //border-radius: 6px;
    width: 100%;
    text-align: center;
    display: inline-block;
    margin-top: -5px;
    border: 2px solid rgb(30,143,187);
  }
}
.padding-none{
  padding: 0;
}
.custom-btn{
  background: #1e8fbb;
  color: white;
  display: inline-block;
  padding: 5px 8px;
  font-size: 11px;
  margin-bottom: 5px;
}
.search-result-box{
  padding: 15px;
  .search-img-con{
    position: relative;
    .black-layer-con{
      background-color: rgba(0,0,0,0.5);
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      left: 0;
      opacity: 0;
      -webkit-transition: all 0.6s ease-in-out;
      -moz-transition: all 0.6s ease-in-out;
      -ms-transition: all 0.6s ease-in-out;
      -o-transition: all 0.6s ease-in-out;
      transition: all 0.6s ease-in-out;
      overflow: hidden;
      h4{
        color: #ffffff;
        text-align: center;
        padding-top: 80px;
        font-size: 30px;
      }
      .icon-box{
        position: absolute;
        padding: 0;
        width: 100%;
        bottom: 100%;
        -webkit-transition: all 0.6s ease-in-out;
        -moz-transition: all 0.6s ease-in-out;
        -ms-transition: all 0.6s ease-in-out;
        -o-transition: all 0.6s ease-in-out;
        transition: all 0.6s ease-in-out;
        color: #ffffff;
        -moz-transform: scale(2);
        -webkit-transform: scale(2);
        -o-transform: scale(2);
        -ms-transform: scale(2);
        transform: scale(2);
        li{
          float: left;
          list-style: none;
          width: 20%;
          text-align: center;
          span.search-icon{
            background-image: url(http://d3tfanr7troppj.cloudfront.net/static_files/images/000/000/178/original/search_page_icon.png?1462186215);
            width: 75px;
            height: 30px;
            display: inline-block;
            cursor: pointer;
          }
          span.seat-icon{
            background-position: 117px -6px;
          }
          span.baggage-icon{
            background-position: -36px -6px;
          }
          span.watch-icon{
            background-position: -89px -6px;
          }
          span.speed-icon{
            background-position: -89px -6px;
          }
          span.height-icon{
            background-position: -211px -6px;
          }
          span.crew-icon{
            background-position: -284px -6px;
          }
        }
      }
    }
  }
  h3{
    font-size: 12px;
    margin: 10px 0 20px 0;
  }
  h4{
    font-size: 16px;
    margin: 10px 0 20px 0;
  }
}
.search-result-box:hover > .custom-shadow .search-img-con .black-layer-con {
  opacity: 1;
  -webkit-transition: all 0.6s ease-in-out;
  -moz-transition: all 0.6s ease-in-out;
  -ms-transition: all 0.6s ease-in-out;
  -o-transition: all 0.6s ease-in-out;
  transition: all 0.6s ease-in-out;
}

.search-result-box:hover > .custom-shadow .search-img-con .black-layer-con .icon-box{
  bottom: 0;
  -moz-transform: scale(1);
  -webkit-transform: scale(1);
  -o-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  -webkit-transition: all 0.6s ease-in-out;
  -moz-transition: all 0.6s ease-in-out;
  -ms-transition: all 0.6s ease-in-out;
  -o-transition: all 0.6s ease-in-out;
  transition: all 0.6s ease-in-out;
}

.no-text-decoration{
  text-decoration: none !important;
}
.text-gray{
  color: gray;
}
.custom-shadow{
  -webkit-box-shadow: 0px 3px 5px 0px rgba(50, 50, 50, 0.36);
  -moz-box-shadow:    0px 3px 5px 0px rgba(50, 50, 50, 0.36);
  box-shadow:         0px 3px 5px 0px rgba(50, 50, 50, 0.36);
}
.pd-10{
  padding: 10px;
}
.font-16{
  font-size: 16px;
}
.ft-16-gray{
  font-size: 16px;
  color: gray;
}
.ft-lg-blue{
  font-size: 30px;
  color: #1e8fbb;
}
.ft-md-blue{
  font-size: 24px;
  color: #1e8fbb;
}
.custom-box-shadow{
  display: inline-block;
  width: 100%;
  -webkit-box-shadow: 0px 0px 15px 0px rgba(50, 50, 50, 0.3);
  -moz-box-shadow:    0px 0px 15px 0px rgba(50, 50, 50, 0.3);
  box-shadow:         0px 0px 15px 0px rgba(50, 50, 50, 0.3);
}

.modal-content{
  padding: 0 !important;
}
.popup-main{
  position: relative;
  padding: 0;
  background-color: #ffffff;
  .cross_btn{
    position: absolute;
    top: -11px;
    right: -8px;
    z-index: 1;
    cursor: pointer;
    font-size: 20px;
    color: #cc0000;
  }
  span.heading{
    font-size: 45px;
    margin-bottom: 20px;
  }
  span.heading:after{
    left:0;
  }
  .custom-box-shadow{
    .aircraft-heading{
      border-bottom: 1px solid #cccccc;
      margin: 20px 0 10px 0;
    }
    .accomodation-con{
      ul{
        padding: 0;
        li.list-accomodation{
          padding: 5px;
          list-style: none;
          border-bottom: 1px solid #cccccc;
          ul{
            padding: 0;
            display: inline-block;
            width: 100%;
            li{
              list-style: none;
              float: left;
              width: 47%;
              position: relative;
              p.airport-name{
                font-size: 16px;
                font-weight: bold;
                margin: 0;
                margin-top: 15px;
              }
              p.timing-text{
                margin: 0;
                font-size: 11px;
              }
              i.plain-arrow-icon{
                position: absolute;
                right: -30px;
                top: 25px;
                font-size: 20px;
                -moz-transform: rotate(45deg);
                -webkit-transform: rotate(45deg);
                -o-transform: rotate(45deg);
                -ms-transform: rotate(45deg);
                transform: rotate(45deg);
              }
            }
            li.total_amount{
              font-size: 22px;
            }
          }
        }
        li.empty-leg-heading{
          list-style: none;
          text-align: center;
          .heading-text{
            display: inline-block;
            font-size: 20px;
            margin-top: 20px;
            border-bottom: 1px solid #cccccc;
            padding: 5px 15px;
          }
          .hide-text{
            display: none;
          }
        }
        li.no-bottom-border{
          border: 0;
        }
      }
      ul.dotted-border{
        border-bottom: 3px dotted #cccccc;
        padding-bottom: 10px;
      }
    }
    .selected-color-con{
      min-height: 450px;
    }
    .unselect-color{
      background-color: #f5f5f5;
      margin: 20px 0;
      padding: 5px 5px 20px 5px;
      h3{
        font-size: 20px;
        text-align: center;
        margin: 0;
        padding: 10px 0 20px 0;
      }
    }
    .select-color{
      background-color: $main-skyblue-color;
      color: #ffffff;
      margin: 20px 0;
      padding: 5px 5px 20px 5px;
      h3{
        font-size: 20px;
        text-align: center;
        margin: 0;
        padding: 10px 0 0 0;
        margin-bottom: 15px;
      }
      span.selected-border{
        border-bottom: 2px solid rgb(70, 217, 191);
        display: inline-block;
        padding-bottom: 5px;
      }
    }
  }
}
// changes Rahul 16-6-2016

.bg-color{
  background-color: #fdf2ac;
  .modify-search-con{
    background-color: #ffffff;
    border:1px solid #bb9f46;
    padding: 15px;
    margin-top: 90px;
    .small-heading{
      text-transform: uppercase;
      margin: 0 0 10px 0;
      color: #bb9f46;
    }
    .city-con{
      border-right: 1px solid #d9cb74;
      min-height: 70px;
      .city-name{
        color: #3e3521;
        font-size: 20px;
        margin: 0;
      }
    }
    .departure-return-con{
      border-right: 1px solid #d9cb74;
      min-height: 70px;
      .departure-con{
        .date-con{
          color: #3e3521;
          font-size: 25px;
          margin: 0;
          display: inline-block;
          float: left;
        }
        .month-con{
          font-size: 14px;
          display: inline-block;
          float: left;
          margin-left: 10px;
        }
      }
    }
    .pax-con{
      .Pax-text{
        color: #3e3521;
        font-size: 20px;
        margin: 0;
      }
    }
    .modify-btn-con{

    }
  }
  .left-filter{
    margin: 25px 0 15px 0;
    h2{
      background-color: #d1b069;
      padding: 15px 10px;
      font-size: 16px;
      margin: 0;
      font-weight: bold;
    }
    .aircraft-type-con{
      padding: 15px 10px;
      background-color: #e7c676;
      h3{
        font-size: 16px;
        color: #2c2219;
        margin: 0;
      }
      ul{
        padding: 0;
        margin: 0;
        li{
          list-style: none;
          color: #2c2219;
          font-size: 16px;
          padding: 10px 5px;
        }
      }
    }
  }
  .right-search-images{
    margin: 25px 0 15px 0;
    .list-con{
      width: 100%;
      height: 300px;
      margin-bottom: 50px;
      overflow: hidden;
      position: relative;
      .aircraft-name-con{
        width: 100%;
        position: absolute;
        top: 0;
        .name-con{
          background-color: rgba(255,255,255,0.6);
          width: 400px;
          padding: 15px 10px 15px 10px;
          h3{
            font-size: 27px;
            color: #000;
            margin: 0;
            font-weight: bold;
          }
          .aircraft-type{
            font-size: 18px;
            color: #000;
            font-style: italic;
          }
        }
      }
      .estimate-price-con{
        width: 100%;
        position: absolute;
        bottom: 50px;
        .price-con{
          width: 300px;
          padding: 10px;
          background-color: rgba(69,27,6,0.6);
          color: #ffffff;
          font-size: 19px;
        }
      }
      .bottom-strip-con{
        position: absolute;
        width: 100%;
        bottom: 0;
        padding: 5px 0;
        background-color: rgba(69,27,6,0.6);
      }
    }
    .search-detail-main{
      width: 100%;
      background-color: #e7c676;
      border: 2px solid #ffffff;
      .top-heading{
        .heading-bg{
          background-color: #b59e50;
          padding: 10px 0;
          border-bottom: 1px solid #441b06;
        }
        h4 {
          font-size: 16px;
          font-weight: bold;
        }
        p.cost-text{
          font-size: 16px;
          text-align: right;
          margin: 7px 0;
        }
      }

      .left-tabs{
        padding-right: 0;
        ul{
          padding: 0;
          li{
            float: none;
            text-align: center;
            list-style: none;
            a{
              font-size: 12px;
              padding: 15px 10px;
              width: 100%;
              color: #ffffff;
              display: inline-block;
              background-color: #c5a749;
              text-decoration: none;
            }
            a.active{
              background-color: #b0842e;
            }
          }
        }
      }
      .right-tabs-content{
        padding-left: 0;
        color: #ffffff;
        .tabs-bg{
          min-height: 500px;
          /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#965e10+0,f3d45c+100 */
          background: #965e10; /* Old browsers */
          background: -moz-linear-gradient(top,  #965e10 0%, #f3d45c 100%); /* FF3.6-15 */
          background: -webkit-linear-gradient(top,  #965e10 0%,#f3d45c 100%); /* Chrome10-25,Safari5.1-6 */
          background: linear-gradient(to bottom,  #965e10 0%,#f3d45c 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
          filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#965e10', endColorstr='#f3d45c',GradientType=0 ); /* IE6-9 */
        }
        .top-destination-con{
          width: 100%;
          padding: 20px 0 0 0;
          p{
            margin-bottom: 2px;
            text-align: center;

          }
        }
        .charges-main-con{
          padding: 20px 0;
          border-bottom: 2px dotted #000000;
          h3{
            font-size: 18px;
            margin: 10px 0;
          }
        }
        .empty-leg-main{
          width: 100%;
          padding: 20px 0;
          p{
            margin-bottom: 2px;
            text-align: center;
            color: #ffffff;
          }
        }
        .total-main-con{
          h2{
            font-size: 20px;
            font-weight: bold;
          }
        }
      }
    }
  }
}

// changes Rahul 16-6-2016

@media (max-width: 1200px) and (min-width: 990px) {
  .search-result-box{
    h3{
      font-size: 10px;
    }
    h4{
      font-size: 10px;
    }
    .custom-btn{
      padding: 3px;
      font-size: 10px;
    }
  }
}
@media (max-width: 1024px) {
  .search-result-box{

  }
  .search-container{
    padding: 0;
    margin: 0;
    width: 100%;
  }
}

@media (max-width: 767px) {
  .search-main-con{
    span.heading{
      margin-bottom: 0;
    }
  }
  .search-input-box{
    .search-btn{
      margin: 20px 0;
    }
  }
  .popup-main {
    .custom-box-shadow {
      .accomodation-con {
        ul {
          li.list-accomodation {
            ul {
              li {
                p.airport-name{
                  font-size: 12px;
                }
                p.timing-text{
                  font-size: 9px;
                }
                i.plain-arrow-icon{
                  right: -15px;
                }
              }
            }
          }
        }
      }
    }
  }
  .bg-color{
    .right-search-images {
      .list-con {
        .aircraft-name-con {
          .name-con{
            width: 100%;
            h3{
              font-size: 20px;
            }
            .aircraft-type{
              font-size: 14px;
            }
          }
        }
        .estimate-price-con{
          .price-con{
            font-size: 16px;
            width: 100%;
          }
        }
      }
    }
  }
}
@media (max-width: 600px) {
  .search-result-box{
    h3{
      font-size: 12px;
      margin: 5px 0;
    }
    h4{
      font-size: 13px;
      margin: 5px 0;
    }
    .custom-btn{
      padding: 5px 5px;
      font-size: 10px;
    }
  }
}
.tmp-after_:after{
  background-color: #000000 !important;
}