.custom-img{
  width: 75px;
  height: 75px;
  border-radius: 50%;
}
.search-input{
  width: 20%;
  display: inherit;
}
.search-input-box span{
  padding: 5px 30px 5px 0;
  input, .custom-calander{
    border: none;
    border-bottom: 2px solid rgb(30,143,187);
    box-shadow: none;
    color: rgb(30,143,187);
  }
  .search-btn{
    color: rgb(30,143,187);
    padding: 5px 10px 5px 10px;
    border-radius: 6px;
    border: 2px solid rgb(30,143,187);
  }
}
.padding-none{
  padding: 0;
}
.custom-btn{
  background: #1e8fbb;
  color: white;
  display: inline-block;
  padding: 5px 20px 5px 20px;
  margin-bottom: 5px;
}
.search-result-box{
  padding: 15px;
}
.icon-box{
  position: absolute;
  padding: 0;
  width: 100%;
  bottom: 0;
  color:#ffffff;
  li{
    float: left;
    list-style: none;
    width: 16.6%;
    text-align: center;
    span.search-icon{
      background-image: url(http://d3tfanr7troppj.cloudfront.net/static_files/images/000/000/171/original/search_page_icon.png?1461068543);
      width: 75px;
      height: 30px;
      display: inline-block;
    }
    span.passenger-icon{
      background-position: 21px -6px;
    }
    span.baggage-icon{
      background-position: -36px -6px;
    }
    span.watch-icon{
      background-position: -89px -6px;
    }
    span.speed-icon{
      background-position: -141px -6px;
    }
    span.height-icon{
      background-position: -211px -6px;
    }
    span.crew-icon{
      background-position: -284px -6px;
    }
  }
}
.no-text-decoration{
  text-decoration: none !important;
}
.text-gray{
  color: gray;
}
.custom-shadow{
  -webkit-box-shadow: 0px 3px 5px 0px rgba(50, 50, 50, 0.36);
  -moz-box-shadow:    0px 3px 5px 0px rgba(50, 50, 50, 0.36);
  box-shadow:         0px 3px 5px 0px rgba(50, 50, 50, 0.36);
}
.pd-10{
  padding: 10px;
}
.font-16{
  font-size: 16px;
}
.ft-16-gray{
  font-size: 16px;
  color: gray;
}
.ft-lg-blue{
  font-size: 30px;
  color: #1e8fbb;
}
.ft-md-blue{
  font-size: 24px;
  color: #1e8fbb;
}