$main-skyblue-color : rgb(27,143,188);

.custom-img{
  width: 75px;
  height: 75px;
  border-radius: 50%;
}
.c_disable{
  pointer-events: none;
}
.search-input{
  width: 20%;
  display: inherit;
}
.search-input-box{
  border-bottom: 1px solid #cccccc;
  .modify-textfield-con{
    margin-top: 30px;
  }
  .form-control{
    width: 100%;
    border: 0;
    border-bottom: 3px solid $main-skyblue-color;
    position: relative;
    top: 2px;
    box-shadow: none;
  }
  .search-btn{
    color: rgb(30,143,187);
    padding: 5px 10px 5px 10px;
    border-radius: 6px;
    width: 100%;
    text-align: center;
    display: inline-block;
    margin-top: -5px;
    border: 2px solid rgb(30,143,187);
  }
}
.padding-none{
  padding: 0;
}
.custom-btn{
  background: #1e8fbb;
  color: white;
  display: inline-block;
  padding: 5px 20px 5px 20px;
  margin-bottom: 5px;
}
.search-result-box{
  padding: 15px;
  .search-img-con{
    position: relative;
    .black-layer-con{
      background-color: rgba(0,0,0,0.5);
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      left: 0;
      opacity: 0;
      -webkit-transition: all 0.6s ease-in-out;
      -moz-transition: all 0.6s ease-in-out;
      -ms-transition: all 0.6s ease-in-out;
      -o-transition: all 0.6s ease-in-out;
      transition: all 0.6s ease-in-out;
      overflow: hidden;
      .icon-box{
        position: absolute;
        padding: 0;
        width: 100%;
        bottom: 100%;
        -webkit-transition: all 0.6s ease-in-out;
        -moz-transition: all 0.6s ease-in-out;
        -ms-transition: all 0.6s ease-in-out;
        -o-transition: all 0.6s ease-in-out;
        transition: all 0.6s ease-in-out;
        color: #ffffff;
        -moz-transform: scale(2);
        -webkit-transform: scale(2);
        -o-transform: scale(2);
        -ms-transform: scale(2);
        transform: scale(2);
        li{
          float: left;
          list-style: none;
          width: 20%;
          text-align: center;
          span.search-icon{
            background-image: url(http://d3tfanr7troppj.cloudfront.net/static_files/images/000/000/178/original/search_page_icon.png?1462186215);
            width: 75px;
            height: 30px;
            display: inline-block;
            cursor: pointer;
          }
          span.seat-icon{
            background-position: 117px -6px;
          }
          span.baggage-icon{
            background-position: -36px -6px;
          }
          span.watch-icon{
            background-position: -89px -6px;
          }
          span.speed-icon{
            background-position: -89px -6px;
          }
          span.height-icon{
            background-position: -211px -6px;
          }
          span.crew-icon{
            background-position: -284px -6px;
          }
        }
      }
    }
  }
  h3{
    font-size: 22px;
    margin: 10px 0 20px 0;
  }
  h4{
    font-size: 22px;
    margin: 10px 0 20px 0;
  }
}
.search-result-box:hover > .custom-shadow .search-img-con .black-layer-con {
  opacity: 1;
  -webkit-transition: all 0.6s ease-in-out;
  -moz-transition: all 0.6s ease-in-out;
  -ms-transition: all 0.6s ease-in-out;
  -o-transition: all 0.6s ease-in-out;
  transition: all 0.6s ease-in-out;
}

.search-result-box:hover > .custom-shadow .search-img-con .black-layer-con .icon-box{
  bottom: 0;
  -moz-transform: scale(1);
  -webkit-transform: scale(1);
  -o-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  -webkit-transition: all 0.6s ease-in-out;
  -moz-transition: all 0.6s ease-in-out;
  -ms-transition: all 0.6s ease-in-out;
  -o-transition: all 0.6s ease-in-out;
  transition: all 0.6s ease-in-out;
}

.no-text-decoration{
  text-decoration: none !important;
}
.text-gray{
  color: gray;
}
.custom-shadow{
  -webkit-box-shadow: 0px 3px 5px 0px rgba(50, 50, 50, 0.36);
  -moz-box-shadow:    0px 3px 5px 0px rgba(50, 50, 50, 0.36);
  box-shadow:         0px 3px 5px 0px rgba(50, 50, 50, 0.36);
}
.pd-10{
  padding: 10px;
}
.font-16{
  font-size: 16px;
}
.ft-16-gray{
  font-size: 16px;
  color: gray;
}
.ft-lg-blue{
  font-size: 30px;
  color: #1e8fbb;
}
.ft-md-blue{
  font-size: 24px;
  color: #1e8fbb;
}
.custom-box-shadow{
  display: inline-block;
  width: 100%;
  -webkit-box-shadow: 0px 0px 15px 0px rgba(50, 50, 50, 0.3);
  -moz-box-shadow:    0px 0px 15px 0px rgba(50, 50, 50, 0.3);
  box-shadow:         0px 0px 15px 0px rgba(50, 50, 50, 0.3);
}

.modal-content{
  padding: 0 !important;
}
.popup-main{
  position: relative;
  padding: 0;
  background-color: #ffffff;
  .cross_btn{
    position: absolute;
    top: -11px;
    right: -8px;
    z-index: 1;
    cursor: pointer;
    font-size: 20px;
    color: #cc0000;
  }
  span.heading{
    font-size: 45px;
    margin-bottom: 20px;
  }
  span.heading:after{
    left:0;
  }
  .custom-box-shadow{
    .aircraft-heading{
      border-bottom: 1px solid #cccccc;
      margin: 20px 0 10px 0;
    }
    .accomodation-con{
      ul{
        padding: 0;
        li.list-accomodation{
          padding: 5px;
          list-style: none;
          border-bottom: 1px solid #cccccc;
          ul{
            padding: 0;
            display: inline-block;
            width: 100%;
            li{
              list-style: none;
              float: left;
              width: 50%;
              position: relative;
              p.airport-name{
                font-size: 16px;
                font-weight: bold;
                margin: 0;
                margin-top: 15px;
              }
              p.timing-text{
                margin: 0;
                font-size: 11px;
              }
              i.plain-arrow-icon{
                position: absolute;
                right: -10px;
                top: 25px;
                font-size: 20px;
                -moz-transform: rotate(45deg);
                -webkit-transform: rotate(45deg);
                -o-transform: rotate(45deg);
                -ms-transform: rotate(45deg);
                transform: rotate(45deg);
              }
            }
            li.total_amount{
              font-size: 22px;
            }
          }
        }
        li.empty-leg-heading{
          list-style: none;
          text-align: center;
          .heading-text{
            display: inline-block;
            font-size: 20px;
            margin-top: 20px;
            border-bottom: 1px solid #cccccc;
            padding: 5px 15px;
          }
          .hide-text{
            display: none;
          }
        }
        li.dotted-border{
          border-bottom: 3px dotted #cccccc;
        }
      }
    }
    .selected-color-con{
      min-height: 450px;
    }
    .unselect-color{
      background-color: #f5f5f5;
      margin: 20px 0;
      padding: 5px 5px 20px 5px;
      h3{
        font-size: 20px;
        text-align: center;
        margin: 0;
        padding: 10px 0 20px 0;
      }
    }
    .select-color{
      background-color: $main-skyblue-color;
      color: #ffffff;
      margin: 20px 0;
      padding: 5px 5px 20px 5px;
      h3{
        font-size: 20px;
        text-align: center;
        margin: 0;
        padding: 10px 0 0 0;
        margin-bottom: 15px;
      }
      span.selected-border{
        border-bottom: 2px solid rgb(70, 217, 191);
        display: inline-block;
        padding-bottom: 5px;
      }
    }
  }
}

@media (max-width: 1024px) {
  .search-result-box{
    h3{
      font-size: 14px;
      margin: 5px 0;
    }
    h4{
      font-size: 15px;
      margin: 5px 0;
    }
    .custom-btn{
      padding: 5px 8px;
      font-size: 12px;
    }
  }
  .search-container{
    padding: 0;
    margin: 0;
    width: 100%;
  }
}

@media (max-width: 767px) {
  .search-main-con{
    span.heading{
      margin-bottom: 0;
    }
  }
  .search-input-box{
    .search-btn{
      margin: 20px 0;
    }
  }
}
@media (max-width: 600px) {
  .search-result-box{
    h3{
      font-size: 12px;
      margin: 5px 0;
    }
    h4{
      font-size: 13px;
      margin: 5px 0;
    }
    .custom-btn{
      padding: 5px 5px;
      font-size: 10px;
    }
  }
}