$main-skyblue-color : rgb(27,143,188);

.custom-img{
  width: 75px;
  height: 75px;
  border-radius: 50%;
}
.search-input{
  width: 20%;
  display: inherit;
}
.search-input-box span{
  //padding: 5px 30px 5px 0;
  input, .custom-calander{
    border: none;
    border-bottom: 2px solid rgb(30,143,187);
    box-shadow: none;
  }
  .search-btn{
    color: rgb(30,143,187);
    padding: 5px 10px 5px 10px;
    border-radius: 6px;
    border: 2px solid rgb(30,143,187);
  }
}
.padding-none{
  padding: 0;
}
.custom-btn{
  background: #1e8fbb;
  color: white;
  display: inline-block;
  padding: 5px 20px 5px 20px;
  margin-bottom: 5px;
}
.search-result-box{
  padding: 15px;
}
.icon-box{
  position: absolute;
  padding: 0;
  width: 100%;
  bottom: 0;
  color:#ffffff;
  li{
    float: left;
    list-style: none;
    width: 16.6%;
    text-align: center;
    span.search-icon{
      background-image: url(http://d3tfanr7troppj.cloudfront.net/static_files/images/000/000/171/original/search_page_icon.png?1461068543);
      width: 75px;
      height: 30px;
      display: inline-block;
    }
    span.passenger-icon{
      background-position: 21px -6px;
    }
    span.baggage-icon{
      background-position: -36px -6px;
    }
    span.watch-icon{
      background-position: -89px -6px;
    }
    span.speed-icon{
      background-position: -141px -6px;
    }
    span.height-icon{
      background-position: -211px -6px;
    }
    span.crew-icon{
      background-position: -284px -6px;
    }
  }
}
.no-text-decoration{
  text-decoration: none !important;
}
.text-gray{
  color: gray;
}
.custom-shadow{
  -webkit-box-shadow: 0px 3px 5px 0px rgba(50, 50, 50, 0.36);
  -moz-box-shadow:    0px 3px 5px 0px rgba(50, 50, 50, 0.36);
  box-shadow:         0px 3px 5px 0px rgba(50, 50, 50, 0.36);
}
.pd-10{
  padding: 10px;
}
.font-16{
  font-size: 16px;
}
.ft-16-gray{
  font-size: 16px;
  color: gray;
}
.ft-lg-blue{
  font-size: 30px;
  color: #1e8fbb;
}
.ft-md-blue{
  font-size: 24px;
  color: #1e8fbb;
}
.custom-box-shadow{
  display: inline-block;
  width: 100%;
  -webkit-box-shadow: 0px 0px 15px 0px rgba(50, 50, 50, 0.3);
  -moz-box-shadow:    0px 0px 15px 0px rgba(50, 50, 50, 0.3);
  box-shadow:         0px 0px 15px 0px rgba(50, 50, 50, 0.3);
}

.modal-content{
  padding: 0 !important;
}
.popup-main{
  position: relative;
  padding: 0;
  .cross_btn{
    position: absolute;
    top: -11px;
    right: -8px;
    z-index: 1;
    cursor: pointer;
    font-size: 20px;
    color: #cc0000;
  }
  span.heading{
    font-size: 45px;
    margin-bottom: 20px;
  }
  span.heading:after{
    left:0;
  }
  .custom-box-shadow{
    .aircraft-heading{
      border-bottom: 1px solid #cccccc;
      margin: 20px 0 10px 0;
    }
    .accomodation-con{
      ul{
        padding: 0;
        li.list-accomodation{
          padding: 5px;
          list-style: none;
          border-bottom: 1px solid #cccccc;
          ul{
            padding: 0;
            display: inline-block;
            width: 100%;
            li{
              list-style: none;
              float: left;
              width: 50%;
              position: relative;
              p.airport-name{
                font-size: 16px;
                font-weight: bold;
                margin: 0;
                margin-top: 15px;
              }
              p.timing-text{
                margin: 0;
                font-size: 11px;
              }
              i.plain-arrow-icon{
                position: absolute;
                right: -10px;
                top: 25px;
                font-size: 20px;
                -moz-transform: rotate(45deg);
                -webkit-transform: rotate(45deg);
                -o-transform: rotate(45deg);
                -ms-transform: rotate(45deg);
                transform: rotate(45deg);
              }
            }
            li.total_amount{
              font-size: 22px;
            }
          }
        }
        li.dotted-border{
          border-bottom: 3px dotted #cccccc;
        }
      }
    }
    .selected-color-con{
      min-height: 450px;
    }
    .unselect-color{
      background-color: #f5f5f5;
      margin: 20px 0;
      padding: 5px 5px 20px 5px;
      h3{
        font-size: 20px;
        text-align: center;
        margin: 0;
        padding: 10px 0 20px 0;
      }
    }
    .select-color{
      background-color: $main-skyblue-color;
      color: #ffffff;
      margin: 20px 0;
      padding: 5px 5px 20px 5px;
      h3{
        font-size: 20px;
        text-align: center;
        margin: 0;
        padding: 10px 0 0 0;
        margin-bottom: 15px;
      }
      span.selected-border{
        border-bottom: 2px solid rgb(70, 217, 191);
        display: inline-block;
        padding-bottom: 5px;
      }
    }
  }
}