$main-green-color: rgb(47, 191, 149);
$main-red-color: rgb(241, 92, 92);
$sky-blue-color: rgb(31, 141, 212);
$main-yellow-color: rgb(237, 202, 0);
$main-orange-color: rgb(187, 83, 0);
$dark-blue-color: rgb(5, 34, 71);

#loading-bar{
  .bar{
    height: 4px!important;
    background-color: $main-red-color!important;
  }
}

.modal-content{
  border-radius: 0;
  padding: 10px;
  padding-top: 0;
}

.full-width{
  width: 100%;
}

.margin-top{
  margin-top: 10px;
}

.btn{
  border-radius: 0;
}

.form-control{
  border-radius: 0;
}

.background-main-green{
  background-color: $main-green-color;
}

.padding-top{
  padding-top: 10px;
}

.padding-bottom{
  padding-bottom: 10px;
}

.margin-bottom{
  margin-bottom: 10px;
}

.plus_91{
  position: absolute;
  margin-top: 27px;
  margin-left: -35px;
}