$main-green-color: rgb(47, 191, 149);
$main-red-color: rgb(241, 92, 92);
$sky-blue-color: rgb(31, 141, 212);
$main-yellow-color: rgb(237, 202, 0);
$main-orange-color: rgb(187, 83, 0);
$dark-blue-color: rgb(5, 34, 71);

body{
  font-family: 'Open Sans', sans-serif, 'Helvetica Neue', Helvetica, Roboto, Arial;
}

no-captcha:first-child{
  display: inline-block!important;
}

#loading-bar{
  .bar{
    //height: 4px!important;
    background-color: $main-red-color!important;
  }
}

#loading-bar-spinner{
  display: none;
}

.modal-content{
  border-radius: 0;
  padding: 0 10px 10px;
}

.full-width{
  width: 100%;
}

.margin-top{
  margin-top: 10px;
}

.btn{
  border-radius: 0;
}

.img-responsive{
  display:inline-block;
}

.form-control{
  border-radius: 0;
}

.background-main-green{
  background-color: $main-green-color;
}

.padding-top{
  padding-top: 10px;
}

.padding-bottom{
  padding-bottom: 10px;
}

.margin-bottom{
  margin-bottom: 10px;
}

.plus_91{
  position: absolute;
  margin-top: 27px;
  margin-left: -35px;
}

.popover{
  border-radius: 0;
}

.datetimepicker-holder{
  display: inline-block;
}

/*Header start 5-3-2016*/
#header{
  padding: 10px 0;
  margin: 0;
  border: 0;
  background-color: #ffffff;
  border-radius: 0;
  .navbar-responsive{
    float: none;
  }
  .logo-main-con{
    max-width: 145px;
  }
  .header-icons-box a{
    padding-top: 0;
    //padding-right: 0;
    font-size: 25px;
  }
  .right-header{
    ul{
      li{
        a{
          color:#ffffff;
        }
      }
    }
  }
  ul.logo_list{
    padding:10px 0 0 0;
    li{
      margin-right: 25px !important;
      float:left;
      list-style:none;
    }
    .main_link{
      width: 41px;
      height: 37px;
      display: inline-block;
      background: url(http://d3tfanr7troppj.cloudfront.net/static_files/images/000/000/022/original/nav-icons-img.png?1453106738);
    }

    .schedule-icon{
      background-position: 1px 3px;
    }
    .aircraft-icon{
      background-position: -72px 3px;
    }
    .forum-icon{
      background-position: -140px 3px;
    }
    .unavailibility-icon{
      background-position: -205px 3px;
    }
    .trips-icon{
      background-position: -271px 3px;
    }

    .active_schedule{
      background-position: 1px -35px;
    }
    .active_aircraft{
      background-position: -72px -35px;
    }
    .active_forum{
      background-position: -140px -35px;
    }
    .active_unavailibility{
      background-position: -205px -35px;
    }
    .active_trips{
      background-position: -271px -35px;
    }

    #jetsteal_link{
      background-position: -74px -35px;
    }
    #experiences_link{
      background-position: -140px 0;
    }
    #multi_trip_link{
      background-position: -206px 0;
    }
    #rescue_link{
      background-position: -272px 0;
    }
    #jetsetcars_link{
      background-position: 0 83px;
    }
  }
}
/*Header finish 5-3-2016*/

/*footer start 7-3-2016*/
#footer {
  width:100%;
  background:url(http://d3tfanr7troppj.cloudfront.net/static_files/images/000/000/083/original/footer-bg1.png?1457331730) 100% 100%;
  background-size:cover;    
  font-size:14px; margin-top:0px !important;
  .upper_footer{
    padding:30px 0 0px 0; 
    .footer_widget_con{
      h3{
        color:#FFF;
        font-size:20px;
        margin:10px 0;
        font-weight:normal;
        text-transform:uppercase;
      }
      p{
        color:#fff;
        margin:20px 0;
      }
      a{
        color:#fff;
        margin:10px 0;
      }
      ul{
        padding:0;
        li{
          background-repeat:no-repeat;
          list-style:none;
          background-position:bottom;
          padding:10px 0;
          float:left;
          width:45%;
          margin-right:15px;
          border-bottom:1px solid #ffffff;
          a{
            color:#fff;
            font-size:14px;
            padding:0 5px;
            background-repeat:no-repeat;
            background-position:0 1px;
          }
        }
        li.nomargin{
          margin-right:0px;
        }
      }
      ul.social_media{
        width:100%;
        padding:0;
        margin:0;
        display:inline-block;
        li{
          list-style:none;
          background-image:none;
          padding:6px 0;
          float:left;
          width:45px;
          margin:0;
          border:none;
          a{
            display: inline-block;
            font-size:22px;
            color:#fff;
            border-radius: 50%;
            width:40px;
            margin:0;
            height:40px;
            padding:5px 0;
            background-color: #888888;
            text-align:center;
          }
          a.fb:hover{
            
          }
          a.tw:hover{
            
          }
          a.in:hover{
            
          }
        }
      }
      .member-of-con{
        width:100%;
        margin-bottom:20px;    
      } 
      .network-con{
        width:100%;
      }
    }
  }
  .lower_footer{
    width:100%;
    padding:15px 0 25px 0;
    position:relative;
    font-size:15px;
    .copyryt{
     color:#fff;
     text-align:left; 
    }
    .privacy-policy-con{
      text-align:right;
      a{
        color:#ffffff;
      }
    }
  }
}

/*footer finish 7-3-2016*/

@media(max-width:767px){
  .res-header{
    max-width:100%;
    padding:0;
    margin-top:10px;
    .header-icons-box{
      max-width:290px;
      margin:0 auto;
    }
  }
  #header{
    ul.logo_list{
      li{
          margin-right: 10px !important;
      }
    }
  }
  .navbar-right{
    width:inherit;
    margin:0 auto;
    li{
      float:none;
      width:100%;
    }
  }
  .navbar-default{
    .navbar-toggle{
      border-color:#ffffff;
      .icon-bar{
        background-color:#ffffff;
      }
    }
    .navbar-toggle:hover{
      background-color:#05518b;
    }
  } 
}

