<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>PDF</title>
  <style>
      table{
          width: 100%;
      }
      body{
          font-family: monospace;;
      }
      .inline li{
          display: inline;
          list-style-type: none;
      }
      .inline{
          list-style-type: none;
      }
  </style>
</head>
<body>
<%= yield %>
</body>
</html>